Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

fix: unconditionally restore platform_token in apply_execution_context
  lib/crewai/src/crewai/execution_context.py
Due: ruff, ruff-format, mypy

chore: add ExecutionContext model for state
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/events/base_events.py
  lib/crewai/src/crewai/execution_context.py
Due: ruff, ruff-format, mypy

docs: add skills demo video to skills concept page
  docs/en/concepts/skills.mdx
Due: none

docs: Add coding agent skills demo video to getting started pages
  docs/ar/installation.mdx
  docs/ar/introduction.mdx
  docs/ar/quickstart.mdx
  docs/en/installation.mdx
  docs/en/introduction.mdx
  docs/en/quickstart.mdx
  docs/ko/installation.mdx
  docs/ko/introduction.mdx
  docs/ko/quickstart.mdx
  docs/pt-BR/installation.mdx
  docs/pt-BR/introduction.mdx
  docs/pt-BR/quickstart.mdx
Due: none

docs: update coding skills description with install instructions
  docs/ar/installation.mdx
  docs/ar/introduction.mdx
  docs/ar/quickstart.mdx
  docs/en/installation.mdx
  docs/en/introduction.mdx
  docs/en/quickstart.mdx
  docs/ko/installation.mdx
  docs/ko/introduction.mdx
  docs/ko/quickstart.mdx
  docs/pt-BR/installation.mdx
  docs/pt-BR/introduction.mdx
  docs/pt-BR/quickstart.mdx
Due: none

docs: Add coding agent skills demo video to getting started pages (#5237)
  docs/ar/installation.mdx
  docs/ar/introduction.mdx
  docs/ar/quickstart.mdx
  docs/en/installation.mdx
  docs/en/introduction.mdx
  docs/en/quickstart.mdx
  docs/ko/installation.mdx
  docs/ko/introduction.mdx
  docs/ko/quickstart.mdx
  docs/pt-BR/installation.mdx
  docs/pt-BR/introduction.mdx
  docs/pt-BR/quickstart.mdx
Due: none

Handle non-string task outputs in guardrails
  lib/crewai/src/crewai/task.py
Due: ruff, ruff-format, mypy

feat: enhance event listener with new telemetry spans for skill and memory events
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/src/crewai/telemetry/telemetry.py
Due: ruff, ruff-format, mypy

feat: enhance event listener with new telemetry spans for skill and memory events (#5240)
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/src/crewai/telemetry/telemetry.py
Due: ruff, ruff-format, mypy

feat: add RuntimeState RootModel for unified state serialization
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agents/agent_adapters/langgraph/langgraph_adapter.py
  lib/crewai/src/crewai/agents/agent_adapters/openai_agents/openai_adapter.py
  lib/crewai/src/crewai/agents/agent_builder/base_agent.py
  lib/crewai/src/crewai/agents/tools_handler.py
  lib/crewai/src/crewai/context.py
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/crews/crew_output.py
  lib/crewai/src/crewai/execution_context.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/flow/persistence/base.py
  lib/crewai/src/crewai/flow/persistence/sqlite.py
  lib/crewai/src/crewai/lite_agent_output.py
  lib/crewai/src/crewai/memory/memory_scope.py
  lib/crewai/src/crewai/runtime_state.py
  lib/crewai/src/crewai/task.py
  lib/crewai/src/crewai/tasks/task_output.py
  lib/crewai/src/crewai/tools/agent_tools/agent_tools.py
  lib/crewai/src/crewai/utilities/constants.py
Due: ruff, ruff-format, mypy

fix: docstring placement, eager registry import, executor_class when_used
  lib/crewai/src/crewai/agents/agent_adapters/langgraph/langgraph_adapter.py
  lib/crewai/src/crewai/flow/persistence/base.py
  lib/crewai/src/crewai/tasks/conditional_task.py
  lib/crewai/src/crewai/types/callback.py
Due: ruff, ruff-format, mypy

fix: pass fingerprint metadata via config instead of tool args (#5216)
  lib/crewai/src/crewai/tools/tool_usage.py
Due: ruff, ruff-format, mypy

fix: revert SerializableCallable to Annotated alias, fix JSON schema generation
  lib/crewai/src/crewai/agents/agent_adapters/langgraph/langgraph_adapter.py
  lib/crewai/src/crewai/tasks/conditional_task.py
  lib/crewai/src/crewai/types/callback.py
Due: ruff, ruff-format, mypy

fix: add env kwarg to subprocess.run mock assertions in publish tests
  lib/crewai/tests/cli/tools/test_main.py
Due: ruff, ruff-format

fix: add tool repository credentials to uv build in tool publish
  lib/crewai/src/crewai/cli/tools/main.py
Due: ruff, ruff-format, mypy

fix: add tool repository credentials to crewai install
  lib/crewai/src/crewai/cli/install_crew.py
Due: ruff, ruff-format, mypy

refactor: extract duplicated credential-building into utility function
  lib/crewai/src/crewai/cli/cli.py
  lib/crewai/src/crewai/cli/install_crew.py
  lib/crewai/src/crewai/cli/run_crew.py
  lib/crewai/src/crewai/cli/utils.py
Due: ruff, ruff-format, mypy

debug: add delegation scope verification logging
  lib/crewai/src/crewai/tools/agent_tools/base_agent_tools.py
Due: ruff, ruff-format, mypy

fix: guard lazy executor in test utils + convert delegation logging to permanent debug level
  lib/crewai/src/crewai/tools/agent_tools/base_agent_tools.py
Due: ruff, ruff-format, mypy

feat: add RuntimeState RootModel for unified state serialization
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agents/agent_adapters/langgraph/langgraph_adapter.py
  lib/crewai/src/crewai/agents/agent_adapters/openai_agents/openai_adapter.py
  lib/crewai/src/crewai/agents/agent_builder/base_agent.py
  lib/crewai/src/crewai/agents/tools_handler.py
  lib/crewai/src/crewai/context.py
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/crews/crew_output.py
  lib/crewai/src/crewai/execution_context.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/flow/persistence/base.py
  lib/crewai/src/crewai/flow/persistence/sqlite.py
  lib/crewai/src/crewai/lite_agent_output.py
  lib/crewai/src/crewai/memory/memory_scope.py
  lib/crewai/src/crewai/runtime_state.py
  lib/crewai/src/crewai/task.py
  lib/crewai/src/crewai/tasks/conditional_task.py
  lib/crewai/src/crewai/tasks/task_output.py
  lib/crewai/src/crewai/tools/agent_tools/agent_tools.py
  lib/crewai/src/crewai/utilities/constants.py
Due: ruff, ruff-format, mypy

docs: Add API usage patterns for file uploads in flows
  docs/en/concepts/flows.mdx
Due: none

docs: address review comments — consistent field names, input_files key, cross-references
  docs/en/concepts/files.mdx
  docs/en/concepts/flows.mdx
Due: none

docs: Add file upload support documentation for flows
  docs/en/concepts/files.mdx
  docs/en/concepts/flows.mdx
Due: none

docs: Update file upload API to use unified /kickoff endpoint
  docs/en/concepts/flows.mdx
Due: none

docs: fix links + add file upload sections to all language versions
  docs/ar/concepts/files.mdx
  docs/ar/concepts/flows.mdx
  docs/ko/concepts/files.mdx
  docs/ko/concepts/flows.mdx
  docs/pt-BR/concepts/files.mdx
  docs/pt-BR/concepts/flows.mdx
Due: none

docs: document /stop/{kickoff_id} endpoint for cancelling executions
  docs/en/enterprise/guides/kickoff-crew.mdx
  docs/enterprise-api.base.yaml
  docs/enterprise-api.en.yaml
  docs/enterprise-api.ko.yaml
  docs/enterprise-api.pt-BR.yaml
Due: none

docs: add stop endpoint page to api-reference
  docs/ar/api-reference/stop.mdx
  docs/docs.json
  docs/en/api-reference/stop.mdx
  docs/ko/api-reference/stop.mdx
  docs/pt-BR/api-reference/stop.mdx
Due: none

docs: add top-level Security Policy page across all languages
  docs/ar/mcp/security.mdx
  docs/ar/security.mdx
  docs/docs.json
  docs/en/mcp/security.mdx
  docs/en/security.mdx
  docs/ko/mcp/security.mdx
  docs/ko/security.mdx
  docs/pt-BR/mcp/security.mdx
  docs/pt-BR/security.mdx
Due: none

docs: fix locale-prefixed links in security pages
  docs/ar/security.mdx
  docs/en/security.mdx
  docs/ko/security.mdx
  docs/pt-BR/security.mdx
Due: none

feat: add command allowlist validation for MCP stdio transport
  lib/crewai/src/crewai/mcp/config.py
  lib/crewai/src/crewai/mcp/tool_resolver.py
  lib/crewai/src/crewai/mcp/transports/__init__.py
  lib/crewai/src/crewai/mcp/transports/stdio.py
  lib/crewai/tests/mcp/test_stdio_config.py
  lib/crewai/tests/mcp/test_stdio_transport.py
Due: ruff, ruff-format, mypy

fix: address review comments for MCP stdio command allowlist
  lib/crewai/src/crewai/mcp/transports/stdio.py
  lib/crewai/tests/mcp/test_stdio_config.py
Due: ruff, ruff-format, mypy

fix: correct broken persistence link in conversational flows docs
  docs/en/concepts/flows.mdx
Due: none

droppped link path that does not exist
  docs/en/concepts/flows.mdx
Due: none

use latest
  .github/workflows/docs-broken-links.yml
Due: none

fix checking on docs repo
  .github/workflows/docs-broken-links.yml
Due: none

docs: add Conversational Flows (self.ask) section to flows docs
  docs/en/concepts/flows.mdx
Due: none

try this
  .github/workflows/docs-broken-links.yml
Due: none

fix: auto-use qdrant-edge on Windows where lancedb has no wheels (#5045)
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/memory/unified_memory.py
Due: ruff, ruff-format, mypy

feat: pass RuntimeState through event bus, add .checkpoint(directory)
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/events/event_bus.py
  lib/crewai/src/crewai/events/types/event_bus_types.py
  lib/crewai/src/crewai/events/utils/handlers.py
Due: ruff, ruff-format, mypy

fix: add tool repository credentials to uv build in tool publish (#5223)
  lib/crewai/src/crewai/cli/tools/main.py
  lib/crewai/tests/cli/tools/test_main.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
