Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock

Add tests for entra ID provider
  lib/crewai/tests/cli/authentication/providers/test_entra_id.py
Due: ruff, ruff-format

Fix tests
  lib/crewai/tests/cli/authentication/test_auth_main.py
Due: ruff, ruff-format

fix: ensure fuzzy returns are more strict, show type warning
  lib/crewai/src/crewai/flow/utils.py
  lib/crewai/src/crewai/flow/visualization/builder.py
  lib/crewai/tests/test_flow_visualization.py
Due: ruff, ruff-format, mypy

fix: dont fail on cleanup error
  lib/crewai/tests/conftest.py
Due: ruff, ruff-format

fix: ensure flow execution start panel is not shown on plot
  lib/crewai/src/crewai/events/event_listener.py
Due: ruff, ruff-format, mypy

chore: ensure proper mock in internal crew mcp test
  lib/crewai/tests/experimental/evaluation/test_agent_evaluator.py
  lib/crewai/tests/test_llm.py
  lib/crewai/tests/test_project.py
Due: ruff, ruff-format

chore: don't fail on cleanup error
  lib/crewai/tests/conftest.py
  lib/crewai/tests/experimental/evaluation/test_agent_evaluator.py
  lib/crewai/tests/test_llm.py
  lib/crewai/tests/test_project.py
Due: ruff, ruff-format

Fix RAGStorage to use custom path for ChromaDB persist_directory
  lib/crewai/src/crewai/memory/storage/rag_storage.py
  lib/crewai/tests/memory/test_rag_storage_path.py
Due: ruff, ruff-format, mypy

Move os import to top-level imports
  lib/crewai/src/crewai/memory/storage/rag_storage.py
Due: ruff, ruff-format, mypy

Add gemini-3-pro-preview
  lib/crewai/src/crewai/cli/constants.py
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/constants.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/tests/llms/google/test_google.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

Fix: Allow new Gemini models (gemini-3-pro-preview) to route to native provider
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/llms/google/test_google.py
Due: ruff, ruff-format, mypy

Add cassette for Gemini 3 Pro
  lib/crewai/tests/cassettes/test_gemini_models[gemini-gemini-3-pro-preview].yaml
Due: none

feat: enhance flow event state management
  lib/crewai/src/crewai/events/types/flow_events.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/tests/utilities/test_events.py
Due: ruff, ruff-format, mypy

Fix task planner matching plans to wrong tasks (issue #3953)
  lib/crewai/src/crewai/crew.py
  lib/crewai/tests/test_crew.py
Due: ruff, ruff-format, mypy

Add comprehensive docstrings to LanceDB adapter
  lib/crewai-tools/src/crewai_tools/adapters/lancedb_adapter.py
  lib/crewai-tools/tests/adapters/test_lancedb_adapter_docs.py
Due: ruff, ruff-format, mypy

feat: add streaming result support to flows and crews
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/types/streaming.py
  lib/crewai/src/crewai/utilities/streaming.py
  lib/crewai/tests/test_streaming.py
Due: ruff, ruff-format, mypy

Fix response_format parameter to support Pydantic BaseModel classes
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

feat: Add Merge Agent Handler tool (#3911)
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/merge_agent_handler_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/merge_agent_handler_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/merge_agent_handler_tool/merge_agent_handler_tool.py
  lib/crewai-tools/tests/tools/merge_agent_handler_tool_test.py
Due: ruff, ruff-format, mypy

Refactor CacheHandler to avoid shadowing built-in input
  lib/crewai/src/crewai/agents/cache/cache_handler.py
  lib/crewai/src/crewai/project/utils.py
  lib/crewai/src/crewai/tools/tool_usage.py
Due: ruff, ruff-format, mypy

chore: update crewAI version to 0.203.2 in __init__.py
  src/crewai/__init__.py
Due: ruff, ruff-format, mypy

chore: hotfix update for crewAI version to 0.203.2
  src/crewai/__init__.py
Due: ruff, ruff-format, mypy

feat: Add extended thinking support for Anthropic Claude
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/tests/llms/anthropic/test_anthropic.py
Due: ruff, ruff-format, mypy

Changing variable name
  lib/crewai/src/crewai/llms/providers/azure/completion.py
Due: ruff, ruff-format, mypy

Resolve merge conflicts: merge verbose parameter with improved tracing behavior
  lib/crewai/src/crewai/flow/flow.py
Due: ruff, ruff-format, mypy

Fix race condition in verbose handling and tracing parameter logic
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/src/crewai/flow/flow.py
Due: ruff, ruff-format, mypy

Resolve merge conflicts: integrate verbose parameter with main branch tracing approach
  lib/crewai/src/crewai/events/listeners/tracing/utils.py
  lib/crewai/src/crewai/flow/flow.py
Due: ruff, ruff-format, mypy

Resolve merge conflict: use main branch's ContextVar-based tracing implementation
  lib/crewai/src/crewai/events/listeners/tracing/utils.py
Due: ruff, ruff-format, mypy

Create Jock
  Jock
Due: none

Reorganize utils.py to match main branch function order
  lib/crewai/src/crewai/events/listeners/tracing/utils.py
Due: ruff, ruff-format, mypy

feat: add task-level dynamic filtering for MCP tools
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/mcp/config.py
  lib/crewai/src/crewai/mcp/filters.py
  lib/crewai/src/crewai/task.py
  lib/crewai/src/crewai/tools/agent_tools/base_agent_tools.py
  lib/crewai/src/crewai/tools/mcp_native_tool.py
  lib/crewai/tests/mcp/test_delegation_filtering.py
  lib/crewai/tests/mcp/test_task_level_filtering.py
Due: ruff, ruff-format, mypy

fix: count only required params for filter type detection
  lib/crewai/src/crewai/mcp/config.py
  lib/crewai/tests/mcp/test_task_level_filtering.py
Due: ruff, ruff-format, mypy

fix: respect explicit empty tools list in execute_task
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/tests/mcp/test_task_level_filtering.py
Due: ruff, ruff-format, mypy

fix: address multiple filter-related bugs
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/mcp/config.py
  lib/crewai/tests/mcp/test_task_level_filtering.py
Due: ruff, ruff-format, mypy

Change provider get_scopes method name and return type
  lib/crewai/src/crewai/cli/authentication/main.py
  lib/crewai/src/crewai/cli/authentication/providers/base_provider.py
  lib/crewai/src/crewai/cli/authentication/providers/entra_id.py
  lib/crewai/tests/cli/authentication/providers/test_entra_id.py
  lib/crewai/tests/cli/authentication/test_auth_main.py
Due: ruff, ruff-format, mypy

chore: ensure proper cassettes for agent tests
  lib/crewai/tests/agents/test_agent.py
  lib/crewai/tests/cassettes/test_agent_execute_task_with_tool.yaml
  lib/crewai/tests/cassettes/test_agent_repeated_tool_usage.yaml
  lib/crewai/tests/cassettes/test_cache_hitting.yaml
Due: ruff, ruff-format

chore: tweak eval test to avoid race condition
  lib/crewai/tests/experimental/evaluation/test_agent_evaluator.py
Due: ruff, ruff-format

chore: ensure proper cassettes for agent tests
  lib/crewai/tests/agents/test_agent.py
  lib/crewai/tests/cassettes/test_agent_execute_task_with_tool.yaml
  lib/crewai/tests/cassettes/test_agent_repeated_tool_usage.yaml
  lib/crewai/tests/cassettes/test_cache_hitting.yaml
  lib/crewai/tests/experimental/evaluation/test_agent_evaluator.py
Due: ruff, ruff-format
