Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

Document flow agent options (#6420)
  lib/cli/src/crewai_cli/templates/declarative_flow/AGENTS.md
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/flow/skill.py
  lib/crewai/src/crewai/flow/templates/flow_definition_skill.md.j2
  lib/crewai/src/crewai/project/crew_definition.py
  lib/crewai/tests/test_flow_definition.py
  lib/crewai/tests/test_flow_from_definition.py
Due: ruff, ruff-format, mypy

fix: include aiobotocore in the bedrock extra
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  uv.lock
Due: ruff, ruff-format, mypy

fix: include aiobotocore in the bedrock extra (#6419)
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  uv.lock
Due: ruff, ruff-format, mypy

feat: bump versions to 1.15.2a2 (#6421)
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

docs: snapshot and changelog for v1.15.2a2
  docs/edge/ar/changelog.mdx
  docs/edge/en/changelog.mdx
  docs/edge/ko/changelog.mdx
  docs/edge/pt-BR/changelog.mdx
Due: none

feat(crewai-tools): add X402PaymentTool for x402 micropayment support
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/x402_payment_tool/__init__.py
Due: ruff, ruff-format, mypy

fix(crewAI): add test for issue #5845
  README.md
Due: none

fix(crewAI): add test for issue #5802
  README.md
Due: none

chore(rag): drop unused CONTEXTUALIZED_CHUNK_SIZE constant
  lib/crewai/src/crewai/rag/embeddings/providers/voyageai/embedding_callable.py
Due: ruff, ruff-format, mypy

fix(rag): respect configured input_type for voyage-context models
  lib/crewai/src/crewai/rag/embeddings/providers/voyageai/embedding_callable.py
  lib/crewai/tests/rag/embeddings/test_voyageai_embedding_callable.py
Due: ruff, ruff-format, mypy

docs: snapshot and changelog for v1.15.2a2 (#6422)
  docs/edge/ar/changelog.mdx
  docs/edge/en/changelog.mdx
  docs/edge/ko/changelog.mdx
  docs/edge/pt-BR/changelog.mdx
Due: none

fix(rag): respect configured input_type for voyage-context models
  lib/crewai/tests/rag/embeddings/test_voyageai_embedding_callable.py
Due: ruff, ruff-format

Support templated Flow action inputs
  lib/cli/src/crewai_cli/templates/declarative_flow/AGENTS.md
  lib/crewai/src/crewai/flow/expressions.py
  lib/crewai/src/crewai/flow/flow_definition.py
  lib/crewai/src/crewai/flow/skill.py
  lib/crewai/src/crewai/flow/templates/flow_definition_example.yaml
  lib/crewai/src/crewai/flow/templates/flow_definition_skill.md.j2
  lib/crewai/tests/test_flow_definition.py
  lib/crewai/tests/test_flow_from_definition.py
Due: ruff, ruff-format, mypy

fix: redact directory path validation errors
  lib/crewai-tools/src/crewai_tools/security/safe_path.py
  lib/crewai-tools/tests/utilities/test_safe_path.py
Due: ruff, ruff-format, mypy

docs: add offline evaluation before rollout guide
  docs/docs.json
  docs/edge/en/learn/offline-evaluation-before-rollout.mdx
Due: none

feat: add Agent Guild tools (vet another agent before delegating)
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/agent_guild_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/agent_guild_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/agent_guild_tool/agent_guild_tool.py
Due: ruff, ruff-format, mypy

refactor: address CodeRabbit review (shared helper, HTTPError bodies, configurable base URL)
  lib/crewai-tools/src/crewai_tools/tools/agent_guild_tool/agent_guild_tool.py
Due: ruff, ruff-format, mypy

docs: add Latitude observability integration
  docs/docs.json
  docs/edge/en/observability/latitude.mdx
  docs/edge/en/observability/overview.mdx
Due: none

Update governance_decision.py
  lib/crewai/src/crewai/governance/governance_decision.py
Due: ruff, ruff-format, mypy

Add idempotency_key and target_state_digest to tests
  lib/crewai/tests/test_governance_decision_contract.py
Due: ruff, ruff-format

Update descriptions for intent_ref and idempotency_key
  lib/crewai/src/crewai/governance/governance_decision.py
Due: ruff, ruff-format, mypy

Refactor comments in governance decision tests
  lib/crewai/tests/governance/test_governance_decision_fail_closed_contract.py
Due: ruff, ruff-format

fix(tools): replace bare raise with ToolUsageError in _original_tool_calling
  fix-bare-raise-tool-usage.patch
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/tests/tools/test_tool_usage.py
Due: ruff, ruff-format, mypy

remove .patch file
  fix-bare-raise-tool-usage.patch
Due: none

test(structured_tool): update test assertions to match refined validation exception warning message and JSON fallback
  lib/crewai/tests/tools/test_structured_tool.py
Due: ruff, ruff-format

feat: add pre-tool policy provider adapter
  lib/crewai/src/crewai/hooks/__init__.py
Due: ruff, ruff-format, mypy

test: cover pre-tool policy provider adapter
  lib/crewai/tests/hooks/test_decorators.py
Due: ruff, ruff-format

refactor: keep policy provider with tool hooks
  lib/crewai/src/crewai/hooks/tool_hooks.py
Due: ruff, ruff-format, mypy

refactor: export policy provider from tool hooks
  lib/crewai/src/crewai/hooks/__init__.py
Due: ruff, ruff-format, mypy

fix: satisfy hook adapter lint rules
  lib/crewai/src/crewai/hooks/tool_hooks.py
Due: ruff, ruff-format, mypy

refactor: align minimal GuardrailProvider API
  lib/crewai/src/crewai/hooks/tool_hooks.py
Due: ruff, ruff-format, mypy

refactor: export minimal GuardrailProvider API
  lib/crewai/src/crewai/hooks/__init__.py
Due: ruff, ruff-format, mypy

test: align minimal GuardrailProvider contract
  lib/crewai/tests/hooks/test_decorators.py
Due: ruff, ruff-format

test: preserve existing comments and verify deep detachment
  lib/crewai/tests/hooks/test_decorators.py
Due: ruff, ruff-format

fix: async-safe embeddings and resilient drain_writes
  lib/crewai/src/crewai/memory/encoding_flow.py
  lib/crewai/src/crewai/memory/types.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/tests/memory/test_embedding_safety.py
Due: ruff, ruff-format, mypy

fix: harden memory tool input validation
  lib/crewai/src/crewai/tools/memory_tools.py
  lib/crewai/src/crewai/translations/en.json
  lib/crewai/tests/tools/test_memory_tools.py
  pyproject.toml
Due: ruff, ruff-format, mypy

feat(valkey): shared cache config + ValkeyCache for A2A and file uploads
  lib/crewai-files/src/crewai_files/cache/upload_cache.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/a2a/utils/agent_card.py
  lib/crewai/src/crewai/a2a/utils/task.py
  lib/crewai/src/crewai/memory/storage/valkey_cache.py
  lib/crewai/src/crewai/utilities/cache_config.py
  lib/crewai/tests/memory/storage/test_valkey_cache.py
  lib/crewai/tests/utilities/test_cache_config.py
  uv.lock
Due: ruff, ruff-format, mypy

Add client_name to GlideClientConfiguration
  lib/crewai/src/crewai/memory/storage/valkey_cache.py
Due: ruff, ruff-format, mypy

feat(tools): add SearchApi tool with multi-engine support
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/searchapi_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/searchapi_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/searchapi_tool/searchapi_search_tool.py
  lib/crewai-tools/tests/tools/searchapi_tool_test.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy

fix(tools): address review findings for searchapi tool
  examples/searchapi_tool_demo.py
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/searchapi_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/searchapi_tool/searchapi_search_tool.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
