Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

refactor(llm): simplify retry defaults
  lib/crewai/src/crewai/llms/retry.py
  lib/crewai/tests/llms/test_retry.py
Due: ruff, ruff-format, mypy

refactor(llm): encapsulate throttling retries
  lib/crewai/src/crewai/llms/retry.py
  lib/crewai/src/crewai/utilities/exceptions/context_window_exceeding_exception.py
  lib/crewai/tests/llms/test_retry.py
Due: ruff, ruff-format, mypy

fix(bedrock): fall back to sync calls from acall
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/tests/llms/bedrock/test_bedrock.py
Due: ruff, ruff-format, mypy

fix(tracing): isolate trace summary rendering failures
  lib/crewai/src/crewai/telemetry/tracing/grants.py
  lib/crewai/tests/telemetry/test_session_trace_export.py
Due: ruff, ruff-format, mypy

ci: add vendor pitch workflow template
  .github/workflow-templates/vendor-pitch-triage.properties.json
  .github/workflow-templates/vendor-pitch-triage.yml
Due: none

docs: list community StorageBackend implementations on the Memory page
  docs/edge/en/concepts/memory.mdx
Due: none

fix(memory): handle Windows OSError in QdrantEdgeStorage orphaned-shard cleanup
  lib/crewai/src/crewai/memory/storage/qdrant_edge_storage.py
Due: ruff, ruff-format, mypy

fix(tools): close S3 response bodies (#7647)
  lib/crewai-tools/src/crewai_tools/aws/s3/reader_tool.py
  lib/crewai-tools/tests/tools/test_s3_reader_tool.py
Due: ruff, ruff-format, mypy

fix(tools): keep selenium driver reusable (#7663)
  lib/crewai-tools/src/crewai_tools/tools/selenium_scraping_tool/selenium_scraping_tool.py
  lib/crewai-tools/tests/tools/selenium_scraping_tool_test.py
Due: ruff, ruff-format, mypy

fix(schema): treat items+properties together as ambiguous, not array
  lib/crewai/src/crewai/utilities/pydantic_schema_utils.py
  lib/crewai/tests/utilities/test_pydantic_schema_utils.py
Due: ruff, ruff-format, mypy

fix(tracing): normalize multimodal input text parts
  lib/crewai/src/crewai/telemetry/tracing/gen_ai_shapes.py
  lib/crewai/tests/telemetry/test_gen_ai_shapes.py
Due: ruff, ruff-format, mypy

fix(cli): keep the JSON crew runner loadable on an older crewai-core
  lib/cli/src/crewai_cli/utils.py
Due: ruff, ruff-format, mypy

fix(cli): the login needs an encrypted connection, and a grade is an integer 1..5
  lib/cli/src/crewai_cli/eval_crew.py
  lib/cli/tests/test_eval_crew.py
Due: ruff, ruff-format, mypy

fix(tracing): a refused lock still records the run; the platform-token test exercises the real guard
  lib/crewai/src/crewai/telemetry/tracing/last_run.py
  lib/crewai/tests/telemetry/test_last_run.py
Due: ruff, ruff-format, mypy

fix(memory): make orphaned-shard cleanup process check work on Windows
  lib/crewai/src/crewai/memory/storage/qdrant_edge_storage.py
  lib/crewai/tests/memory/test_qdrant_edge_storage.py
Due: ruff, ruff-format, mypy

fix(memory): declare Win32 handle types to avoid handle truncation
  lib/crewai/src/crewai/memory/storage/qdrant_edge_storage.py
Due: ruff, ruff-format, mypy

Drop the docs changes from this PR
  docs/edge/ar/guides/flows/conversational-flows.mdx
  docs/edge/ar/observability/tracing.mdx
  docs/edge/en/guides/flows/conversational-flows.mdx
  docs/edge/en/observability/tracing.mdx
  docs/edge/ko/observability/tracing.mdx
  docs/edge/pt-BR/guides/flows/conversational-flows.mdx
  docs/edge/pt-BR/observability/tracing.mdx
Due: none

feat(tracing): show AMP's viewer link again, without the execution id
  lib/crewai/src/crewai/telemetry/tracing/grants.py
  lib/crewai/tests/telemetry/test_session_trace_export.py
Due: ruff, ruff-format, mypy

fix(files): resolve async file streams through the async read path
  lib/crewai-files/src/crewai_files/core/sources.py
  lib/crewai-files/src/crewai_files/core/types.py
  lib/crewai-files/src/crewai_files/resolution/resolver.py
  lib/crewai-files/tests/test_resolver.py
Due: ruff, ruff-format, mypy

fix(cli): preserve failed project script exit codes
  lib/cli/src/crewai_cli/run_crew.py
  lib/cli/tests/test_run_crew.py
Due: ruff, ruff-format, mypy

fix(flow): continue every sibling router outcome chain
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/tests/test_flow.py
Due: ruff, ruff-format, mypy

feat(tracing): record the last traced run for crewai eval instead of printing it (#7648)
  lib/cli/src/crewai_cli/templates/crew/.gitignore
  lib/cli/src/crewai_cli/templates/flow/.gitignore
  lib/cli/src/crewai_cli/templates/json_crew/.gitignore
  lib/cli/tests/test_scaffold_gitignore.py
  lib/crewai/src/crewai/execution.py
  lib/crewai/src/crewai/telemetry/tracing/ephemeral.py
  lib/crewai/src/crewai/telemetry/tracing/grants.py
  lib/crewai/src/crewai/telemetry/tracing/last_run.py
  lib/crewai/tests/telemetry/test_last_run.py
  lib/crewai/tests/telemetry/test_session_trace_export.py
Due: ruff, ruff-format, mypy

docs(cli): guide assistants to platform tools
  lib/cli/src/crewai_cli/templates/AGENTS.md
  lib/cli/src/crewai_cli/templates/CURSOR.md
  lib/cli/src/crewai_cli/utils.py
  lib/cli/tests/test_create_crew.py
  lib/cli/tests/test_create_flow.py
  lib/cli/tests/tools/test_main.py
Due: ruff, ruff-format, mypy

fix(platform): retain integration token environment key
  lib/cli/src/crewai_cli/create_json_crew.py
  lib/cli/tests/test_create_crew.py
  lib/crewai-tools/src/crewai_tools/tools/crewai_platform_tools/misc.py
  lib/crewai-tools/tests/tools/crewai_platform_tools/test_integrations_client.py
Due: ruff, ruff-format, mypy

feat(cli): prioritize platform integrations
  lib/cli/src/crewai_cli/create_json_crew.py
  lib/cli/src/crewai_cli/platform_tools_catalog.py
  lib/cli/tests/test_create_crew.py
  lib/crewai-core/src/crewai_core/platform_apps.py
  lib/crewai-tools/src/crewai_tools/tools/crewai_platform_tools/misc.py
  lib/crewai-tools/tests/tools/crewai_platform_tools/test_constants.py
  lib/crewai-tools/tests/tools/crewai_platform_tools/test_integrations_client.py
Due: ruff, ruff-format, mypy

test(platform): update missing token assertion
  lib/crewai-tools/tests/tools/crewai_platform_tools/test_crewai_platform_tools.py
Due: ruff, ruff-format

fix(files): serialize the first read of shared async streams
  lib/crewai-files/src/crewai_files/core/sources.py
  lib/crewai-files/tests/test_resolver.py
Due: ruff, ruff-format, mypy

fix(flow): preserve causal event ids for listener triggers
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/tests/test_flow.py
Due: ruff, ruff-format, mypy

feat(cli): crewai eval evaluates the last traced run through AMP (#7649)
  lib/cli/src/crewai_cli/cli.py
  lib/cli/src/crewai_cli/eval_crew.py
  lib/cli/src/crewai_cli/plus_api.py
  lib/cli/tests/test_eval_crew.py
  lib/cli/tests/test_plus_api.py
Due: ruff, ruff-format, mypy

test(events): make mixed-handler return contract test observable
  lib/crewai/tests/events/test_event_bus_flush.py
Due: ruff, ruff-format

fix(events): track sync handler futures for mixed event types
  lib/crewai/src/crewai/events/event_bus.py
  lib/crewai/tests/events/test_event_bus_flush.py
Due: ruff, ruff-format, mypy

test(tools): dispose SQLite verification engine before cleanup
  lib/crewai-tools/tests/tools/test_nl2sql_security.py
Due: ruff, ruff-format

test(gemini): assert the exact Flash Thinking context window
  lib/crewai/tests/llms/google/test_google.py
Due: ruff, ruff-format

test(openai): restore provider module after import checks
  lib/crewai/tests/llms/openai/test_openai.py
Due: ruff, ruff-format

feat(cli): send the project's own id with the evaluation
  lib/cli/src/crewai_cli/eval_crew.py
  lib/cli/src/crewai_cli/plus_api.py
  lib/cli/tests/test_eval_crew.py
  lib/cli/tests/test_plus_api.py
Due: ruff, ruff-format, mypy

fix(cli): widen the uv runtime pin to >=0.11.15,<1
  lib/cli/pyproject.toml
  uv.lock
Due: none

test(tracing): document grant validation coverage
  lib/crewai/tests/telemetry/test_session_trace_export.py
Due: ruff, ruff-format

docs(cli): document exit-code regression tests
  lib/cli/tests/test_run_crew.py
Due: ruff, ruff-format, mypy

fix(cli): print whatever areas the evaluation graded
  lib/cli/src/crewai_cli/eval_crew.py
  lib/cli/tests/test_eval_crew.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
