Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

feat(devtools): add release command and trigger PyPI publish
  lib/devtools/README.md
  lib/devtools/pyproject.toml
  lib/devtools/src/crewai_devtools/cli.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.10.2rc1
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

docs: update changelog and version for v1.10.2rc1
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

docs: add OMEGA as memory storage backend
  docs/docs.json
  docs/en/guides/advanced/omega-memory-backend.mdx
Due: none

fix: remove exclusive locks from read-only storage operations to eliminate lock contention
  lib/crewai-tools/src/crewai_tools/adapters/lancedb_adapter.py
  lib/crewai-tools/src/crewai_tools/rag/core.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/memory/encoding_flow.py
  lib/crewai/src/crewai/memory/recall_flow.py
  lib/crewai/src/crewai/memory/storage/lancedb_storage.py
  lib/crewai/src/crewai/rag/chromadb/client.py
  lib/crewai/src/crewai/utilities/lock_store.py
Due: ruff, ruff-format, mypy

fix: remove dead conditional in filter_and_chunk fallback
  lib/crewai/src/crewai/memory/recall_flow.py
Due: ruff, ruff-format, mypy

fix: correct Bedrock tool call argument extraction field name
  lib/crewai/src/crewai/agents/crew_agent_executor.py
Due: ruff, ruff-format, mypy

fix: separate lock acquisition from caller body in lock_store
  lib/crewai/src/crewai/utilities/lock_store.py
Due: ruff, ruff-format, mypy

fix: prevent InternalInstructor from discarding custom tools when output_pydantic is set (#4697)
  lib/crewai/src/crewai/llm.py
Due: ruff, ruff-format, mypy

fix: use None sentinel in Bedrock tool call argument extraction
  lib/crewai/src/crewai/agents/crew_agent_executor.py
Due: ruff, ruff-format, mypy

fix: remove exclusive locks from read-only storage operations
  lib/crewai-tools/src/crewai_tools/adapters/lancedb_adapter.py
  lib/crewai-tools/src/crewai_tools/rag/core.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/memory/encoding_flow.py
  lib/crewai/src/crewai/memory/recall_flow.py
  lib/crewai/src/crewai/memory/storage/lancedb_storage.py
  lib/crewai/src/crewai/rag/chromadb/client.py
  lib/crewai/src/crewai/utilities/lock_store.py
Due: ruff, ruff-format, mypy

fix(tools): force LF line endings in generate_tool_specs.py
  lib/crewai-tools/src/crewai_tools/generate_tool_specs.py
Due: ruff, ruff-format, mypy

perf(crewai-tools): set a timeout on generate crewai automation tool HTTP calls
  lib/crewai-tools/src/crewai_tools/tools/generate_crewai_automation_tool/generate_crewai_automation_tool.py
Due: ruff, ruff-format, mypy

fix: use None sentinel for Bedrock tool call argument extraction
  lib/crewai/src/crewai/agents/crew_agent_executor.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.10.2rc2
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

fix: guard output_pydantic injection when LLM does not support function calling
  lib/crewai/src/crewai/agent/core.py
Due: ruff, ruff-format, mypy

docs: update changelog and version for v1.10.2rc2
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

fix: replace xml.etree.ElementTree with defusedxml to prevent XXE attacks
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/rag/loaders/xml_loader.py
  lib/crewai-tools/src/crewai_tools/tools/arxiv_paper_tool/arxiv_paper_tool.py
  lib/crewai-tools/tests/rag/test_xml_loader.py
  lib/crewai-tools/tests/tools/arxiv_paper_tool_test.py
Due: ruff, ruff-format, mypy

fix: remove hardcoded private key placeholders from docstrings and add signing tests
  lib/crewai/src/crewai/a2a/utils/agent_card_signing.py
  lib/crewai/tests/a2a/utils/test_agent_card_signing.py
Due: ruff, ruff-format, mypy

fix: resolve N817 lint error by using explicit imports from defusedxml
  lib/crewai-tools/src/crewai_tools/tools/arxiv_paper_tool/arxiv_paper_tool.py
  lib/crewai-tools/tests/rag/test_xml_loader.py
  lib/crewai-tools/tests/tools/arxiv_paper_tool_test.py
Due: ruff, ruff-format, mypy

fix: correct tautological assertion in compact separators test
  lib/crewai/tests/a2a/utils/test_agent_card_signing.py
Due: ruff, ruff-format

feat: add A2UI v0.8 extension for declarative UI generation
  lib/crewai/src/crewai/a2a/extensions/a2ui/__init__.py
  lib/crewai/src/crewai/a2a/extensions/a2ui/catalog.py
  lib/crewai/src/crewai/a2a/extensions/a2ui/client_extension.py
  lib/crewai/src/crewai/a2a/extensions/a2ui/models.py
  lib/crewai/src/crewai/a2a/extensions/a2ui/prompt.py
  lib/crewai/src/crewai/a2a/extensions/a2ui/schema/__init__.py
  lib/crewai/src/crewai/a2a/extensions/a2ui/schema/v0_8/client_to_server.json
  lib/crewai/src/crewai/a2a/extensions/a2ui/schema/v0_8/server_to_client.json
  lib/crewai/src/crewai/a2a/extensions/a2ui/schema/v0_8/server_to_client_with_standard_catalog.json
  lib/crewai/src/crewai/a2a/extensions/a2ui/schema/v0_8/standard_catalog_definition.json
  lib/crewai/src/crewai/a2a/extensions/a2ui/server_extension.py
  lib/crewai/src/crewai/a2a/extensions/a2ui/validator.py
Due: ruff, ruff-format, mypy

docs: add A2UI extension guide
  docs/en/learn/a2ui.mdx
Due: none

feat: add A2UI content type to A2A utils
  lib/crewai/src/crewai/a2a/utils/content_type.py
Due: ruff, ruff-format, mypy

test: add A2UI schema conformance tests
  lib/crewai/tests/a2a/extensions/test_a2ui_schema_conformance.py
Due: ruff, ruff-format

docs: register A2UI guide in docs navigation
  docs/docs.json
Due: none

fix: replace getattr with direct metadata access on DataPart
  lib/crewai/src/crewai/a2a/extensions/a2ui/client_extension.py
  lib/crewai/src/crewai/a2a/utils/content_type.py
Due: ruff, ruff-format, mypy

fix: convert Memory objects to bool for telemetry serialization
  lib/crewai/src/crewai/telemetry/telemetry.py
Due: ruff, ruff-format, mypy

fix: allow extra inputs on MCP tool args schema to prevent security_context rejection
  lib/crewai-tools/src/crewai_tools/adapters/mcp_adapter.py
Due: ruff, ruff-format, mypy

fix(llm): prioritize tool calls over text response when available_functions is None
  lib/crewai/src/crewai/llm.py
Due: ruff, ruff-format, mypy

secure xml loader with defusedxml
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/rag/loaders/xml_loader.py
  lib/crewai-tools/tests/rag/test_xml_loader_security.py
  uv.lock
Due: ruff, ruff-format, mypy

style: consolidate catalog imports in A2UI conformance tests
  lib/crewai/tests/a2a/extensions/test_a2ui_schema_conformance.py
Due: ruff, ruff-format

feat: add MCP security layer for message signing, tool integrity, and replay protection
  lib/crewai/src/crewai/mcp/__init__.py
  lib/crewai/src/crewai/mcp/client.py
  lib/crewai/src/crewai/mcp/config.py
  lib/crewai/src/crewai/mcp/security.py
  lib/crewai/src/crewai/mcp/tool_resolver.py
  lib/crewai/tests/mcp/test_mcp_security.py
Due: ruff, ruff-format, mypy

fix: prevent circular reference in signed envelope and remove unused variable
  lib/crewai/src/crewai/mcp/client.py
  lib/crewai/tests/mcp/test_mcp_security.py
Due: ruff, ruff-format, mypy

feat: add GuardrailProvider interface for pre-tool-call authorization (#4877)
  lib/crewai/src/crewai/hooks/__init__.py
  lib/crewai/src/crewai/hooks/guardrail_provider.py
  lib/crewai/tests/hooks/test_guardrail_provider.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
