Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock

fix: prevent command injection in pip install
  lib/crewai-tools/src/crewai_tools/tools/code_interpreter_tool/code_interpreter_tool.py
Due: ruff, ruff-format, mypy

Add GitHub Action to auto-sync with upstream crewAIInc/crewAI
  .github/workflows/sync-upstream.yml
Due: none

Update upstream sync schedule to run every 2 hours
  .github/workflows/sync-upstream.yml
Due: none

chore: disable chroma telemetry
  lib/crewai/src/crewai/rag/chromadb/config.py
Due: ruff, ruff-format, mypy

fix: handle empty documents list in KnowledgeStorage.save() and asave()
  lib/crewai/src/crewai/knowledge/storage/knowledge_storage.py
  lib/crewai/tests/knowledge/test_knowledge_storage_integration.py
Due: ruff, ruff-format, mypy

Enhance Gemini LLM Tool Handling and Add Test for Float Responses (#4273)
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/tests/cassettes/llms/google/test_gemini_tool_returning_float.yaml
  lib/crewai/tests/llms/google/test_google.py
Due: ruff, ruff-format, mypy

fix: ensure bedrock client handles stop sequences properly
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
Due: ruff, ruff-format, mypy

Updating the ahandle and tool calls
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
Due: ruff, ruff-format, mypy

Updating openai complettion, minor mistake
  lib/crewai/src/crewai/llms/providers/openai/completion.py
Due: ruff, ruff-format, mypy

Fixing edge case
  lib/crewai/tests/llms/openai/test_openai.py
Due: ruff, ruff-format

feat: adding response_id in streaming response
  lib/crewai/src/crewai/events/types/llm_events.py
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/llms/openai/test_openai.py
  lib/crewai/tests/utilities/test_events.py
Due: ruff, ruff-format, mypy

fix: ensure doc list is not empty
  lib/crewai/src/crewai/knowledge/storage/knowledge_storage.py
Due: ruff, ruff-format, mypy

feat: add response_format parameter to Azure and Gemini providers
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
Due: ruff, ruff-format, mypy

feat: add structured outputs support to Bedrock and Anthropic providers
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
Due: ruff, ruff-format, mypy

chore: bump anthropic dep
  lib/crewai/pyproject.toml
  uv.lock
Due: none

fix: use beta structured output for new models
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/tests/cassettes/llms/anthropic/test_anthropic_async_with_response_model.yaml
Due: ruff, ruff-format, mypy

feat: add structured outputs and response_format support across providers (#4280)
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/tests/cassettes/llms/anthropic/test_anthropic_async_with_response_model.yaml
  uv.lock
Due: ruff, ruff-format, mypy

test: add concurrency regression test for LLM callback isolation
  lib/crewai/tests/llms/test_concurrency.py
Due: ruff, ruff-format

feat: introduce GoogleGenAIVertexEmbeddingFunction for dual SDK support
  docs/en/concepts/memory.mdx
  lib/crewai/src/crewai/rag/embeddings/factory.py
  lib/crewai/src/crewai/rag/embeddings/providers/google/__init__.py
  lib/crewai/src/crewai/rag/embeddings/providers/google/genai_vertex_embedding.py
  lib/crewai/src/crewai/rag/embeddings/providers/google/types.py
  lib/crewai/src/crewai/rag/embeddings/providers/google/vertex.py
  lib/crewai/tests/cassettes/rag/embeddings/test_crew_memory_with_google_vertex_embedder.yaml
  lib/crewai/tests/cassettes/rag/embeddings/test_crew_memory_with_google_vertex_project_id.yaml
  lib/crewai/tests/rag/embeddings/test_embedding_factory.py
  lib/crewai/tests/rag/embeddings/test_google_vertex_memory_integration.py
Due: ruff, ruff-format, mypy

fix test count
  lib/crewai/tests/rag/embeddings/test_google_vertex_memory_integration.py
Due: ruff, ruff-format

rm comment
  lib/crewai/tests/rag/embeddings/test_google_vertex_memory_integration.py
Due: ruff, ruff-format

regen cassettes
  lib/crewai/tests/cassettes/rag/embeddings/test_crew_memory_with_google_vertex_embedder.yaml
  lib/crewai/tests/cassettes/rag/embeddings/test_crew_memory_with_google_vertex_project_id.yaml
Due: none

regen
  .env.test
  lib/crewai/tests/cassettes/rag/embeddings/test_crew_memory_with_google_vertex_embedder.yaml
Due: none

drop variable from .envtest
  .env.test
Due: none

dreict to relevant trest only
  lib/crewai/tests/rag/embeddings/test_google_vertex_memory_integration.py
Due: ruff, ruff-format

fix: enhance file store with fallback memory cache when aiocache is not installed
  lib/crewai/src/crewai/utilities/file_store.py
Due: ruff, ruff-format, mypy

drop fallback
  lib/crewai/src/crewai/utilities/file_store.py
Due: ruff, ruff-format, mypy

Lorenze/supporting vertex embeddings (#4282)
  docs/en/concepts/memory.mdx
  lib/crewai/src/crewai/rag/embeddings/factory.py
  lib/crewai/src/crewai/rag/embeddings/providers/google/__init__.py
  lib/crewai/src/crewai/rag/embeddings/providers/google/genai_vertex_embedding.py
  lib/crewai/src/crewai/rag/embeddings/providers/google/types.py
  lib/crewai/src/crewai/rag/embeddings/providers/google/vertex.py
  lib/crewai/tests/cassettes/rag/embeddings/test_crew_memory_with_google_vertex_embedder.yaml
  lib/crewai/tests/cassettes/rag/embeddings/test_crew_memory_with_google_vertex_project_id.yaml
  lib/crewai/tests/rag/embeddings/test_embedding_factory.py
  lib/crewai/tests/rag/embeddings/test_google_vertex_memory_integration.py
Due: ruff, ruff-format, mypy

Potential fix for pull request finding 'Unused global variable'
  lib/crewai/src/crewai/utilities/file_store.py
Due: ruff, ruff-format, mypy

fix: enhance file store with fallback memory cache when aiocache is n… (#4283)
  lib/crewai/src/crewai/utilities/file_store.py
Due: ruff, ruff-format, mypy

chore: update version to 1.9.0 across all relevant files
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

chore: update version to 1.9.0 across all relevant files (#4284)
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

chore: add missing change logs
  docs/en/changelog.mdx
Due: none

chore: add translations
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

chore: add missing change logs (#4285)
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

fix: capture per-task token usage to fix race condition in async execution
  lib/crewai/src/crewai/task.py
  lib/crewai/src/crewai/tasks/task_output.py
Due: ruff, ruff-format, mypy

feat: implement before and after tool call hooks in CrewAgentExecutor and AgentExecutor
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/tests/cassettes/hooks/TestNativeToolCallingHooksIntegration.test_agent_native_tool_hooks_before_and_after.yaml
  lib/crewai/tests/cassettes/hooks/TestNativeToolCallingHooksIntegration.test_before_hook_blocks_tool_execution_in_crew.yaml
  lib/crewai/tests/cassettes/hooks/TestNativeToolCallingHooksIntegration.test_crew_native_tool_hooks_before_and_after.yaml
  lib/crewai/tests/hooks/test_tool_hooks.py
Due: ruff, ruff-format, mypy

Potential fix for pull request finding 'Unused local variable'
  lib/crewai/tests/hooks/test_tool_hooks.py
Due: ruff, ruff-format
