Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

feat(cli): improve platform integration setup UX (#7453)
  lib/cli/src/crewai_cli/create_json_crew.py
  lib/cli/tests/test_create_crew.py
  lib/crewai-core/src/crewai_core/settings.py
  lib/crewai-core/tests/test_settings.py
Due: ruff, ruff-format, mypy

fix(llm): handle None, dict, and BaseModel in structured output validation (#7540)
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/tests/llms/test_structured_output_validation.py
Due: ruff, ruff-format, mypy

test: add focused coverage for SkimReaderTool._get_session()
  lib/crewai-tools/tests/tools/skim_reader_tool_test.py
Due: ruff, ruff-format

Separate the per-item timestamp from the chain anchor in MarkovianStampTool docs
  lib/crewai-tools/src/crewai_tools/tools/markovian_stamp_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/markovian_stamp_tool/markovian_stamp_tool.py
  lib/crewai-tools/tests/tools/markovian_stamp_tool_test.py
Due: ruff, ruff-format, mypy

feat(llm): re-resolve llm_overlay after input interpolation rewrites an agent's role (#7518)
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agents/agent_builder/base_agent.py
  lib/crewai/src/crewai/lite_agent.py
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llm_overlay.py
  lib/crewai/src/crewai/utilities/llm_utils.py
  lib/crewai/tests/test_llm.py
  lib/crewai/tests/test_llm_overlay.py
  lib/crewai/tests/utilities/test_create_llm_like.py
Due: ruff, ruff-format, mypy

test: assert cached _get_session() call skips all construction
  lib/crewai-tools/tests/tools/skim_reader_tool_test.py
Due: ruff, ruff-format

test: match assertions to JSON-quoted YAML scalars
  lib/crewai-tools/tests/tools/skim_reader_tool_test.py
Due: ruff, ruff-format

Hash data locally and send only the digest in MarkovianStampTool
  lib/crewai-tools/src/crewai_tools/tools/markovian_stamp_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/markovian_stamp_tool/markovian_stamp_tool.py
  lib/crewai-tools/tests/tools/markovian_stamp_tool_test.py
Due: ruff, ruff-format, mypy

fix(memory): apply scope within memory slices
  lib/crewai/src/crewai/memory/memory_scope.py
  lib/crewai/tests/memory/test_unified_memory.py
Due: ruff, ruff-format, mypy

fix(guardrails): enforce result outcome invariant
  lib/crewai/src/crewai/utilities/guardrail.py
  lib/crewai/tests/utilities/test_guardrail.py
Due: ruff, ruff-format, mypy

Document log_index as optional in MarkovianStampTool README
  lib/crewai-tools/src/crewai_tools/tools/markovian_stamp_tool/README.md
Due: none

fix(azure): accept dict and null tool-call arguments
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/azure/tool_arguments.py
  lib/crewai/tests/llms/azure/test_tool_arguments.py
Due: ruff, ruff-format, mypy

fix(evaluation): write experiment JSON as UTF-8
  lib/crewai/src/crewai/experimental/evaluation/experiment/result.py
  lib/crewai/tests/experimental/evaluation/test_experiment_result.py
Due: ruff, ruff-format, mypy

fix(deps): upgrade soupsieve security patch
  pyproject.toml
  uv.lock
Due: none

fix(llm_overlay): a role and a key that differ only by surrounding whitespace match
  lib/crewai/src/crewai/llm_overlay.py
  lib/crewai/tests/test_llm_overlay.py
Due: ruff, ruff-format, mypy

fix(deps): upgrade soupsieve security patch (#7571)
  pyproject.toml
  uv.lock
Due: none

fix(flows): align MongoDB state serialization
  lib/crewai/src/crewai/flow/persistence/base.py
  lib/crewai/src/crewai/flow/persistence/mongodb.py
  lib/crewai/src/crewai/flow/persistence/sqlite.py
  lib/crewai/tests/test_flow_persistence_mongodb.py
Due: ruff, ruff-format, mypy

fix(flows): order MongoDB state writes atomically
  lib/crewai/src/crewai/flow/persistence/mongodb.py
  lib/crewai/tests/test_flow_persistence_mongodb.py
Due: ruff, ruff-format, mypy

fix(flows): persist MongoDB feedback atomically
  lib/crewai/src/crewai/flow/persistence/mongodb.py
  lib/crewai/tests/test_flow_persistence_mongodb.py
Due: ruff, ruff-format, mypy

fix(flows): align MongoDB model serialization
  lib/crewai/src/crewai/flow/persistence/mongodb.py
  lib/crewai/tests/test_flow_persistence_mongodb.py
Due: ruff, ruff-format, mypy

test(flows): cover MongoDB persistence parity
  lib/crewai/tests/test_flow_persistence_mongodb.py
Due: ruff, ruff-format

docs(flows): explain persistence backend selection
  docs/edge/ar/concepts/flows.mdx
  docs/edge/en/concepts/flows.mdx
  docs/edge/ko/concepts/flows.mdx
  docs/edge/pt-BR/concepts/flows.mdx
Due: none

fix(tools): reject non-object tool call arguments
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/utilities/test_agent_utils.py
Due: ruff, ruff-format, mypy

fix: do not report an experiment case as passed when expected_score is empty
  lib/crewai/src/crewai/experimental/evaluation/experiment/runner.py
  lib/crewai/tests/experimental/evaluation/test_experiment_runner.py
Due: ruff, ruff-format, mypy

test(flows): cover MongoDB persistence isolation
  lib/crewai/tests/test_flow_persistence_mongodb.py
Due: ruff, ruff-format

feat(llm): add shared rate limit error
  lib/crewai/src/crewai/utilities/exceptions/context_window_exceeding_exception.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

feat(llm): normalize provider rate limits
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/src/crewai/utilities/__init__.py
  lib/crewai/src/crewai/utilities/exceptions/context_window_exceeding_exception.py
  lib/crewai/tests/llms/azure/test_azure.py
  lib/crewai/tests/llms/bedrock/test_bedrock.py
  lib/crewai/tests/llms/openai/test_gateway_error_envelope.py
  lib/crewai/tests/llms/openai/test_openai.py
  lib/crewai/tests/llms/openai/test_openai_async.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

fix(llm_overlay): two keys that are one role with different models are refused
  lib/crewai/src/crewai/llm_overlay.py
  lib/crewai/tests/test_llm_overlay.py
Due: ruff, ruff-format, mypy

feat(valkey): shared cache config + ValkeyCache for A2A and file uploads
  lib/crewai-files/src/crewai_files/cache/upload_cache.py
  lib/crewai-tools/pyproject.toml
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/a2a/utils/agent_card.py
  lib/crewai/src/crewai/a2a/utils/task.py
  lib/crewai/src/crewai/memory/encoding_flow.py
  lib/crewai/src/crewai/memory/storage/valkey_cache.py
  lib/crewai/src/crewai/memory/storage/valkey_storage.py
  lib/crewai/src/crewai/memory/types.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/src/crewai/utilities/cache_config.py
  lib/crewai/tests/memory/storage/test_valkey_cache.py
  lib/crewai/tests/memory/storage/test_valkey_storage.py
  lib/crewai/tests/memory/storage/test_valkey_storage_errors.py
  lib/crewai/tests/memory/storage/test_valkey_storage_scope.py
  lib/crewai/tests/memory/storage/test_valkey_storage_search.py
  lib/crewai/tests/memory/test_embedding_safety.py
  lib/crewai/tests/utilities/test_cache_config.py
Due: ruff, ruff-format, mypy

fix(types): resolve mypy 1.19.1 errors in valkey_storage
  lib/crewai/src/crewai/memory/storage/valkey_storage.py
Due: ruff, ruff-format, mypy

chore: bump valkey-glide lower bound to >=2.4.0
  lib/crewai/pyproject.toml
  uv.lock
Due: none

fix(valkey): post-filter metadata_filter instead of injecting into FT query
  lib/crewai/src/crewai/memory/storage/valkey_storage.py
  lib/crewai/tests/memory/storage/test_valkey_storage_search.py
Due: ruff, ruff-format, mypy

fix: async-safe embeddings and resilient drain_writes
  lib/crewai/src/crewai/memory/encoding_flow.py
  lib/crewai/src/crewai/memory/types.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/tests/memory/test_embedding_safety.py
Due: ruff, ruff-format, mypy

fix: harden memory tool input validation
  lib/crewai/src/crewai/tools/memory_tools.py
  lib/crewai/src/crewai/translations/en.json
  lib/crewai/tests/tools/test_memory_tools.py
  pyproject.toml
Due: ruff, ruff-format, mypy

feat(valkey): shared cache config + ValkeyCache for A2A and file uploads
  lib/crewai-files/src/crewai_files/cache/upload_cache.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/a2a/utils/agent_card.py
  lib/crewai/src/crewai/a2a/utils/task.py
  lib/crewai/src/crewai/memory/storage/valkey_cache.py
  lib/crewai/src/crewai/utilities/cache_config.py
  lib/crewai/tests/memory/storage/test_valkey_cache.py
  lib/crewai/tests/utilities/test_cache_config.py
  uv.lock
Due: ruff, ruff-format, mypy

Add client_name to GlideClientConfiguration
  lib/crewai/src/crewai/memory/storage/valkey_cache.py
Due: ruff, ruff-format, mypy

feat(llm): retry throttled agent calls
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/utilities/test_agent_utils.py
Due: ruff, ruff-format, mypy

fix(llm_overlay): a role and a key that differ only by surrounding whitespace match (#7572)
  lib/crewai/src/crewai/llm_overlay.py
  lib/crewai/tests/test_llm_overlay.py
Due: ruff, ruff-format, mypy

fix(llm): avoid classifying token quotas as context limits
  lib/crewai/src/crewai/utilities/exceptions/context_window_exceeding_exception.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

refactor(llm): centralize rate-limit retry handling
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/src/crewai/utilities/__init__.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/src/crewai/utilities/exceptions/context_window_exceeding_exception.py
  lib/crewai/tests/llms/azure/test_azure.py
  lib/crewai/tests/llms/bedrock/test_bedrock.py
  lib/crewai/tests/llms/openai/test_gateway_error_envelope.py
  lib/crewai/tests/llms/openai/test_openai.py
  lib/crewai/tests/llms/openai/test_openai_async.py
  lib/crewai/tests/test_llm.py
  lib/crewai/tests/utilities/test_agent_utils.py
Due: ruff, ruff-format, mypy
