Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

fix: use correct streaming types for tool call extraction in last_chunk
  lib/crewai/src/crewai/llm.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.14.2a3
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

docs: update changelog and version for v1.14.2a3
  docs/ar/changelog.mdx
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

chore: add deprecation decorator to LiteAgent
  lib/crewai/src/crewai/lite_agent.py
Due: ruff, ruff-format, mypy

feat: add resume hints to devtools release on failure
  lib/devtools/src/crewai_devtools/cli.py
Due: ruff, ruff-format, mypy

fix: remove duplicate deprecation warning from LiteAgent
  lib/crewai/src/crewai/lite_agent.py
Due: ruff, ruff-format, mypy

fix: preserve CLI flags in resume hints and include remaining steps
  lib/devtools/src/crewai_devtools/cli.py
Due: ruff, ruff-format, mypy

fix: update test to expect FutureWarning from LiteAgent
  lib/crewai/tests/agents/test_lite_agent.py
Due: ruff, ruff-format

fix: catch SystemExit in resume handlers and deduplicate enterprise_hint
  lib/devtools/src/crewai_devtools/cli.py
Due: ruff, ruff-format, mypy

fix: re-raise KeyboardInterrupt and deduplicate stderr printing
  lib/devtools/src/crewai_devtools/cli.py
Due: ruff, ruff-format, mypy

fix: bump openai lower bound to >=2.0.0
  lib/crewai/pyproject.toml
Due: none

feat(tools): Add OlostepTool for web scraping, crawling, mapping, and AI answers
  docs/docs.json
  docs/en/tools/web-scraping/olosteptool.mdx
  docs/en/tools/web-scraping/overview.mdx
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/olostep_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/olostep_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/olostep_tool/olostep_tool.py
  lib/crewai-tools/tests/tools/olostep_tool_test.py
Due: ruff, ruff-format, mypy

fix: bump pytest to 9.0.3 for GHSA-6w46-j5rx-g56g
  pyproject.toml
  uv.lock
Due: none

fix: resolve YoutubeChannelSearchTool url parsing for issue #5429
  lib/crewai-tools/src/crewai_tools/rag/loaders/youtube_channel_loader.py
  lib/crewai-tools/src/crewai_tools/tools/youtube_channel_search_tool/youtube_channel_search_tool.py
  lib/crewai-tools/tests/tools/test_search_tools.py
Due: ruff, ruff-format, mypy

fix: update broken enterprise link on installation page (OSS-36)
  docs/ar/installation.mdx
  docs/en/installation.mdx
  docs/ko/installation.mdx
  docs/pt-BR/installation.mdx
Due: none

feat: add template management commands for project templates
  lib/crewai/src/crewai/cli/cli.py
  lib/crewai/src/crewai/cli/remote_template/__init__.py
  lib/crewai/src/crewai/cli/remote_template/main.py
  lib/crewai/src/crewai/telemetry/telemetry.py
  lib/crewai/tests/cli/remote_template/__init__.py
  lib/crewai/tests/cli/remote_template/test_main.py
Due: ruff, ruff-format, mypy

fix: use HubSpot form link for enterprise options card
  docs/ar/installation.mdx
  docs/en/installation.mdx
  docs/ko/installation.mdx
  docs/pt-BR/installation.mdx
Due: none

linted
  lib/crewai/src/crewai/cli/remote_template/main.py
Due: ruff, ruff-format, mypy

Add Superlinked (SIE) tool integration page
  docs/docs.json
  docs/en/tools/search-research/superlinkedtool.mdx
Due: none

Migrate YouTube channel loader to pytubefix
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/rag/loaders/youtube_channel_loader.py
Due: ruff, ruff-format, mypy

fix: stop forwarding strict mode to Bedrock Converse API
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.14.2a4
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

docs: update changelog and version for v1.14.2a4
  docs/ar/changelog.mdx
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

Fix shared LLM stop words mutation causing cross-agent state pollution
  lib/crewai/src/crewai/agents/crew_agent_executor.py
Due: ruff, ruff-format, mypy

Fix result_as_answer=True surfacing tool errors as final answer
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/src/crewai/utilities/tool_utils.py
  lib/crewai/tests/agents/test_agent_executor.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.14.2a5
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

docs: update changelog and version for v1.14.2a5
  docs/ar/changelog.mdx
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

Add exact_match parameter to TavilySearchTool
  lib/crewai-tools/src/crewai_tools/tools/tavily_search_tool/tavily_search_tool.py
Due: ruff, ruff-format, mypy

fix: handle cyclic JSON schemas in MCP tool resolution
  lib/crewai/src/crewai/mcp/tool_resolver.py
  lib/crewai/src/crewai/utilities/pydantic_schema_utils.py
Due: ruff, ruff-format, mypy

fix: bump pypdf to 6.10.1 to patch GHSA-jj6c-8h6c-hppx
  pyproject.toml
  uv.lock
Due: none

fix: track expanding def names in resolve_refs to break $ref cycles
  lib/crewai/src/crewai/utilities/pydantic_schema_utils.py
Due: ruff, ruff-format, mypy

fix: bump python-multipart to 0.0.26 to patch GHSA-mj87-hwqh-73pj
  pyproject.toml
  uv.lock
Due: none

fix: drop redundant RecursionError from except tuple
  lib/crewai/src/crewai/mcp/tool_resolver.py
Due: ruff, ruff-format, mypy

Add Tavily Research and get Research
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/tavily_get_research_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/tavily_get_research_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/tavily_get_research_tool/tavily_get_research_tool.py
  lib/crewai-tools/src/crewai_tools/tools/tavily_research_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/tavily_research_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/tavily_research_tool/tavily_research_tool.py
  lib/crewai-tools/tool.specs.json
  uv.lock
Due: ruff, ruff-format, mypy

fix: track allOf wrapper id in cycle detection
  lib/crewai/src/crewai/utilities/pydantic_schema_utils.py
Due: ruff, ruff-format, mypy

fix: preserve single-element allOf passthrough for primitive types
  lib/crewai/src/crewai/utilities/pydantic_schema_utils.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.14.2rc1
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

docs: update changelog and version for v1.14.2rc1
  docs/ar/changelog.mdx
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

fix: validate JSON before Pydantic conversion to avoid false-positive matches
  lib/crewai/src/crewai/utilities/converter.py
  lib/crewai/tests/utilities/test_converter.py
Due: ruff, ruff-format, mypy
