Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: uv run ruff check
  language: system

ruff-format:
  name: ruff-format
  entry: uv run ruff format
  language: system

mypy:
  name: mypy
  entry: uv run mypy
  language: system

chore: refactor telemetry module with utility functions and modern typing (#3485)
  src/crewai/telemetry/constants.py
  src/crewai/telemetry/telemetry.py
  src/crewai/telemetry/utils.py
  src/crewai/utilities/logger_utils.py
Due: ruff, ruff-format, mypy

chore: add typing and docstrings to base_token_process module (#3486)
  src/crewai/agents/agent_builder/utilities/base_token_process.py
Due: ruff, ruff-format, mypy

fix: ignore untyped import
  src/crewai/project/crew_base.py
Due: ruff, ruff-format, mypy

fix: support to define MPC connection timeout on CrewBase instance (#3465)
  docs/en/mcp/overview.mdx
  docs/ko/mcp/overview.mdx
  docs/pt-BR/mcp/overview.mdx
  src/crewai/project/crew_base.py
  tests/test_project.py
Due: ruff, ruff-format, mypy

chore: add type annotations to utilities module (#3484)
  src/crewai/utilities/errors.py
  src/crewai/utilities/task_output_storage_handler.py
  src/crewai/utilities/token_counter_callback.py
  tests/agents/test_lite_agent.py
Due: ruff, ruff-format, mypy

chore: add workflow to build and cache uv dependencies
  .github/workflows/build-uv-cache.yml
Due: none

chore: update type-checker workflow to use cached dependencies
  .github/workflows/type-checker.yml
Due: none

chore: update tests workflow to use cached dependencies
  .github/workflows/tests.yml
Due: none

chore: update linter workflow to use cached dependencies
  .github/workflows/linter.yml
Due: none

chore: remove redundant security-checker workflow
  .github/workflows/security-checker.yml
Due: none

test: trigger workflows to verify cache usage
  .github/workflows/build-uv-cache.yml
Due: none

Revert "test: trigger workflows to verify cache usage"
  .github/workflows/build-uv-cache.yml
Due: none

fix: add explicit permissions to workflows for security compliance
  .github/workflows/build-uv-cache.yml
  .github/workflows/linter.yml
Due: none

chore: remove pull_request trigger from build-cache workflow
  .github/workflows/build-uv-cache.yml
Due: none

chore: add build-cache, update jobs, remove redundant security check
  .github/workflows/build-uv-cache.yml
  .github/workflows/linter.yml
  .github/workflows/security-checker.yml
  .github/workflows/tests.yml
  .github/workflows/type-checker.yml
Due: none

refactor: update type hints and enhance trace batch display logic
  src/crewai/events/listeners/tracing/trace_batch_manager.py
  src/crewai/events/listeners/tracing/trace_listener.py
Due: ruff, ruff-format, mypy

fixed types
  src/crewai/events/listeners/tracing/trace_batch_manager.py
Due: ruff, ruff-format, mypy

feat: add test duration caching for optimized pytest-split
  .github/workflows/tests.yml
  .github/workflows/update-test-durations.yml
Due: none

test: add test to ensure tool is called only once during crew execution
  tests/cassettes/test_tool_called_only_once_in_crew_execution.yaml
  tests/tools/test_structured_tool.py
Due: ruff, ruff-format

ensure tool function called only once
  src/crewai/tools/structured_tool.py
  tests/cassettes/test_tool_called_only_once_in_crew_execution.yaml
  tests/tools/test_structured_tool.py
Due: ruff, ruff-format, mypy

test: temporarily enable duration workflow on feature branch
  .github/workflows/update-test-durations.yml
Due: none

refactor: simplify error handling in CrewStructuredTool
  src/crewai/tools/structured_tool.py
Due: ruff, ruff-format, mypy

linted
  src/crewai/tools/structured_tool.py
  tests/tools/test_structured_tool.py
Due: ruff, ruff-format, mypy

need to ignore for now as we cant infer the complex generic type within pydantic create_model_func
  src/crewai/tools/structured_tool.py
Due: ruff, ruff-format, mypy

chore: remove temporary test triggers from duration workflow
  .github/workflows/update-test-durations.yml
Due: none

fix: use safe filenames for test durations with underscores
  .github/workflows/tests.yml
  .github/workflows/update-test-durations.yml
Due: none

test: temporarily enable duration workflow on feature branch
  .github/workflows/update-test-durations.yml
  tests/crew_test.py
Due: ruff, ruff-format

fix tests
  tests/cassettes/test_get_knowledge_search_query.yaml
  tests/test_crew.py
  tests/test_task.py
Due: ruff, ruff-format

Lorenze/fix tool call twice (#3495)
  src/crewai/tools/structured_tool.py
  tests/cassettes/test_get_knowledge_search_query.yaml
  tests/test_crew.py
  tests/test_task.py
  tests/tools/test_structured_tool.py
Due: ruff, ruff-format, mypy

chore: remove temporary test triggers from duration workflow
  .github/workflows/update-test-durations.yml
  tests/crew_test.py
Due: ruff, ruff-format

chore: update dependencies and version for CrewAI
  pyproject.toml
  src/crewai/__init__.py
  src/crewai/cli/templates/crew/pyproject.toml
  src/crewai/cli/templates/flow/pyproject.toml
  src/crewai/cli/templates/tool/pyproject.toml
  uv.lock
Due: ruff, ruff-format, mypy

chore: update dependencies and version for CrewAI (#3497)
  pyproject.toml
  src/crewai/__init__.py
  src/crewai/cli/templates/crew/pyproject.toml
  src/crewai/cli/templates/flow/pyproject.toml
  src/crewai/cli/templates/tool/pyproject.toml
  uv.lock
Due: ruff, ruff-format, mypy

fix
  src/crewai/__init__.py
Due: ruff, ruff-format, mypy

fix (#3498)
  src/crewai/__init__.py
Due: ruff, ruff-format, mypy

chore: bump CrewAI version to 0.186.1 and update dependencies in CLI templates
  src/crewai/__init__.py
  src/crewai/cli/templates/crew/pyproject.toml
  src/crewai/cli/templates/flow/pyproject.toml
  src/crewai/cli/templates/tool/pyproject.toml
Due: ruff, ruff-format, mypy

chore: bump CrewAI version to 0.186.1 and update dependencies in CLI templates (#3499)
  src/crewai/__init__.py
  src/crewai/cli/templates/crew/pyproject.toml
  src/crewai/cli/templates/flow/pyproject.toml
  src/crewai/cli/templates/tool/pyproject.toml
Due: ruff, ruff-format, mypy

Fixed Linting Changes
  src/crewai/events/utils/console_formatter.py
Due: ruff, ruff-format, mypy

Ruff check
  src/crewai/tools/structured_tool.py
Due: ruff, ruff-format, mypy

Fixed ruff check
  src/crewai/tools/structured_tool.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^tests/
