Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

Allow `@router()` as start method of a flow (#6288)
  lib/crewai/src/crewai/flow/dsl/_listen.py
  lib/crewai/src/crewai/flow/dsl/_router.py
  lib/crewai/src/crewai/flow/dsl/_start.py
  lib/crewai/src/crewai/flow/dsl/_utils.py
  lib/crewai/src/crewai/flow/flow_definition.py
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/tests/test_flow.py
  lib/crewai/tests/test_flow_definition.py
Due: ruff, ruff-format, mypy

Add conversational flow TUI support
  lib/cli/src/crewai_cli/crew_run_tui.py
  lib/cli/src/crewai_cli/kickoff_flow.py
  lib/cli/tests/test_crew_run_tui.py
  lib/cli/tests/test_kickoff_flow.py
Due: ruff, ruff-format, mypy

Add declarative Flow CLI support
  lib/cli/src/crewai_cli/cli.py
  lib/cli/src/crewai_cli/create_flow.py
  lib/cli/src/crewai_cli/kickoff_flow.py
  lib/cli/src/crewai_cli/plot_flow.py
  lib/cli/src/crewai_cli/run_crew.py
  lib/cli/src/crewai_cli/run_declarative_flow.py
  lib/cli/src/crewai_cli/run_flow_definition.py
  lib/cli/src/crewai_cli/templates/declarative_flow/.gitignore
  lib/cli/src/crewai_cli/templates/declarative_flow/README.md
  lib/cli/src/crewai_cli/templates/declarative_flow/flow.yaml
  lib/cli/src/crewai_cli/templates/declarative_flow/pyproject.toml
  lib/cli/tests/test_cli.py
  lib/cli/tests/test_create_flow.py
  lib/cli/tests/test_flow_commands.py
  lib/cli/tests/test_run_crew.py
  lib/cli/tests/test_run_declarative_flow.py
  lib/cli/tests/test_run_flow_definition.py
  lib/crewai/src/crewai/flow/flow_definition.py
  lib/crewai/src/crewai/flow/runtime/_actions.py
  lib/crewai/tests/test_flow_from_definition.py
Due: ruff, ruff-format, mypy

Address code review comments
  lib/cli/src/crewai_cli/cli.py
  lib/cli/src/crewai_cli/create_flow.py
  lib/cli/src/crewai_cli/kickoff_flow.py
  lib/cli/src/crewai_cli/plot_flow.py
  lib/cli/src/crewai_cli/run_crew.py
  lib/cli/src/crewai_cli/run_declarative_flow.py
  lib/cli/src/crewai_cli/templates/declarative_flow/README.md
  lib/cli/src/crewai_cli/templates/declarative_flow/pyproject.toml
  lib/cli/tests/test_cli.py
  lib/cli/tests/test_create_flow.py
  lib/cli/tests/test_flow_commands.py
  lib/cli/tests/test_run_crew.py
  lib/cli/tests/test_run_declarative_flow.py
  lib/crewai/src/crewai/flow/runtime/_actions.py
  lib/crewai/tests/test_flow_from_definition.py
Due: ruff, ruff-format, mypy

Add declarative Flow CLI support (#6294)
  lib/cli/src/crewai_cli/cli.py
  lib/cli/src/crewai_cli/create_flow.py
  lib/cli/src/crewai_cli/kickoff_flow.py
  lib/cli/src/crewai_cli/plot_flow.py
  lib/cli/src/crewai_cli/run_declarative_flow.py
  lib/cli/src/crewai_cli/run_flow_definition.py
  lib/cli/src/crewai_cli/templates/declarative_flow/.gitignore
  lib/cli/src/crewai_cli/templates/declarative_flow/README.md
  lib/cli/src/crewai_cli/templates/declarative_flow/flow.yaml
  lib/cli/src/crewai_cli/templates/declarative_flow/pyproject.toml
  lib/cli/tests/test_cli.py
  lib/cli/tests/test_create_flow.py
  lib/cli/tests/test_flow_commands.py
  lib/cli/tests/test_run_declarative_flow.py
  lib/cli/tests/test_run_flow_definition.py
  lib/crewai/src/crewai/flow/flow_definition.py
  lib/crewai/src/crewai/flow/runtime/_actions.py
  lib/crewai/tests/test_flow_from_definition.py
Due: ruff, ruff-format, mypy

Keep flow method progress visible for nested crews
  lib/crewai/src/crewai/events/utils/console_formatter.py
  lib/crewai/tests/utilities/test_console_formatter_pause_resume.py
Due: ruff, ruff-format, mypy

Keep flow method progress visible for nested crews (#6295)
  lib/crewai/src/crewai/events/utils/console_formatter.py
  lib/crewai/tests/utilities/test_console_formatter_pause_resume.py
Due: ruff, ruff-format, mypy

Consolidate `crewai run` and `crewai flow kickoff`
  docs/edge/ar/changelog.mdx
  docs/edge/ar/concepts/flows.mdx
  docs/edge/ar/guides/flows/first-flow.mdx
  docs/edge/en/changelog.mdx
  docs/edge/en/concepts/flows.mdx
  docs/edge/en/guides/flows/first-flow.mdx
  docs/edge/ko/changelog.mdx
  docs/edge/ko/concepts/flows.mdx
  docs/edge/ko/guides/flows/first-flow.mdx
  docs/edge/pt-BR/changelog.mdx
  docs/edge/pt-BR/concepts/flows.mdx
  docs/edge/pt-BR/guides/flows/first-flow.mdx
  lib/cli/src/crewai_cli/cli.py
  lib/cli/src/crewai_cli/kickoff_flow.py
  lib/cli/src/crewai_cli/run_crew.py
  lib/cli/src/crewai_cli/run_declarative_flow.py
  lib/cli/src/crewai_cli/templates/AGENTS.md
  lib/cli/src/crewai_cli/templates/declarative_flow/README.md
  lib/cli/tests/test_cli.py
  lib/cli/tests/test_create_flow.py
  lib/cli/tests/test_flow_commands.py
  lib/cli/tests/test_run_crew.py
  lib/cli/tests/test_run_declarative_flow.py
  lib/crewai/tests/cli/test_run_crew.py
Due: ruff, ruff-format, mypy

Consolidate `crewai run` and `crewai flow kickoff` (#6296)
  docs/edge/ar/changelog.mdx
  docs/edge/ar/concepts/flows.mdx
  docs/edge/ar/guides/flows/first-flow.mdx
  docs/edge/en/changelog.mdx
  docs/edge/en/concepts/flows.mdx
  docs/edge/en/guides/flows/first-flow.mdx
  docs/edge/ko/changelog.mdx
  docs/edge/ko/concepts/flows.mdx
  docs/edge/ko/guides/flows/first-flow.mdx
  docs/edge/pt-BR/changelog.mdx
  docs/edge/pt-BR/concepts/flows.mdx
  docs/edge/pt-BR/guides/flows/first-flow.mdx
  lib/cli/src/crewai_cli/cli.py
  lib/cli/src/crewai_cli/kickoff_flow.py
  lib/cli/src/crewai_cli/run_crew.py
  lib/cli/src/crewai_cli/run_declarative_flow.py
  lib/cli/src/crewai_cli/templates/AGENTS.md
  lib/cli/src/crewai_cli/templates/declarative_flow/README.md
  lib/cli/tests/test_cli.py
  lib/cli/tests/test_create_flow.py
  lib/cli/tests/test_flow_commands.py
  lib/cli/tests/test_run_crew.py
  lib/cli/tests/test_run_declarative_flow.py
  lib/crewai/tests/cli/test_run_crew.py
Due: ruff, ruff-format, mypy

Improve crewai run startup UX
  lib/cli/src/crewai_cli/cli.py
  lib/cli/src/crewai_cli/run_crew.py
  lib/cli/tests/test_cli.py
  lib/cli/tests/test_create_flow.py
  lib/cli/tests/test_flow_commands.py
  lib/cli/tests/test_run_crew.py
  lib/crewai/src/crewai/flow/runtime/__init__.py
Due: ruff, ruff-format, mypy

fix(llm): remove deprecated mixtral model from groq prefix list
  lib/crewai/src/crewai/llm.py
Due: ruff, ruff-format, mypy

Improve crewai run startup UX (#6297)
  lib/cli/src/crewai_cli/cli.py
  lib/cli/src/crewai_cli/run_crew.py
  lib/cli/tests/test_cli.py
  lib/cli/tests/test_create_flow.py
  lib/cli/tests/test_flow_commands.py
  lib/cli/tests/test_run_crew.py
  lib/crewai/src/crewai/flow/runtime/__init__.py
Due: ruff, ruff-format, mypy

refactor(llm): clean up cache_breakpoint imports and add formatting tests
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/llms/openai_compatible/test_openai_compatible.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

feat(hooks): add SHACKLE pre-execution circuit breaker
  lib/crewai/src/crewai/hooks/shackle_guard.py
Due: ruff, ruff-format, mypy

fix: fail-closed invariant — every guard layer fails to DENY
  lib/crewai/src/crewai/hooks/shackle_guard.py
Due: ruff, ruff-format, mypy

docs: update OpenAI SDK requirement
  docs/edge/ar/installation.mdx
  docs/edge/en/installation.mdx
Due: none

add starter pack onboarding command
  docs/docs.json
  docs/edge/en/concepts/cli.mdx
  docs/edge/en/starter-packs.mdx
  lib/cli/src/crewai_cli/cli.py
  lib/cli/src/crewai_cli/remote_template/main.py
  lib/cli/tests/test_cli.py
Due: ruff, ruff-format, mypy

Improve crew run missing script error
  lib/cli/src/crewai_cli/run_crew.py
  lib/cli/tests/test_run_crew.py
Due: ruff, ruff-format, mypy

feat: add native OpenTelemetry instrumentation
  lib/crewai/src/crewai/a2a/utils/delegation.py
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/events/event_bus.py
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/src/crewai/knowledge/knowledge.py
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/src/crewai/task.py
  lib/crewai/src/crewai/tasks/llm_guardrail.py
  lib/crewai/src/crewai/telemetry/__init__.py
  lib/crewai/src/crewai/telemetry/otel.py
  lib/crewai/src/crewai/tools/base_tool.py
  lib/crewai/src/crewai/tools/structured_tool.py
  lib/crewai/src/crewai/utilities/reasoning_handler.py
  lib/crewai/tests/telemetry/test_otel.py
  lib/crewai/tests/telemetry/test_otel_noop.py
Due: ruff, ruff-format, mypy

fix: keep coroutine results inside the execute flow method span
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/src/crewai/telemetry/otel.py
  lib/crewai/src/crewai/tools/structured_tool.py
  lib/crewai/tests/telemetry/test_otel.py
Due: ruff, ruff-format, mypy

docs: drop CREWAI_LOG_FORMAT references from Datadog guide
  docs/edge/ar/enterprise/guides/datadog.mdx
  docs/edge/en/enterprise/guides/datadog.mdx
  docs/edge/ko/enterprise/guides/datadog.mdx
  docs/edge/pt-BR/enterprise/guides/datadog.mdx
Due: none

test: stop telemetry fixtures from leaking the global TracerProvider
  lib/crewai/tests/telemetry/test_otel.py
Due: ruff, ruff-format

chore(security): add SECURITY.md for coordinated vulnerability disclosure
  SECURITY.md
Due: none

chore(security): remove public README fallback per review
  SECURITY.md
Due: none

docs: preview platform api handoff
  docs/docs.json
  docs/edge/api/v1/platform-api/introduction.mdx
  docs/edge/api/v1/problems/bad_request.mdx
  docs/edge/api/v1/problems/internal_error.mdx
  docs/edge/api/v1/problems/not_found.mdx
  docs/edge/api/v1/problems/validation_error.mdx
  docs/edge/openapi/platform-v1.yaml
Due: none

docs: fix platform api spec path
  docs/docs.json
Due: none

fix: pin opentelemetry to ~=1.42.0
  lib/crewai-core/pyproject.toml
  lib/crewai/pyproject.toml
  uv.lock
Due: none

fix: stop anonymous telemetry from globalizing the TracerProvider
  lib/cli/src/crewai_cli/command.py
  lib/crewai-core/src/crewai_core/telemetry.py
  lib/crewai-core/tests/test_smoke.py
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/src/crewai/telemetry/telemetry.py
  lib/crewai/tests/telemetry/test_otel_noop.py
  lib/crewai/tests/telemetry/test_telemetry.py
Due: ruff, ruff-format, mypy

docs: separate platform api reference
  docs/docs.json
Due: none

docs: route platform api reference
  docs/docs.json
Due: none

docs: surface platform api in latest
  docs/docs.json
  docs/v1.14.7/api/v1/platform-api/introduction.mdx
  docs/v1.14.7/api/v1/problems/bad_request.mdx
  docs/v1.14.7/api/v1/problems/internal_error.mdx
  docs/v1.14.7/api/v1/problems/not_found.mdx
  docs/v1.14.7/api/v1/problems/validation_error.mdx
  docs/v1.14.7/openapi/platform-v1.yaml
Due: none

fix: pin opentelemetry to ~=1.42.0 (#6292)
  lib/crewai-core/pyproject.toml
  lib/crewai/pyproject.toml
  uv.lock
Due: none

Add unified declarative flow loading
  lib/cli/src/crewai_cli/run_declarative_flow.py
  lib/cli/tests/test_run_declarative_flow.py
  lib/crewai/src/crewai/flow/flow_definition.py
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/tests/test_flow_definition.py
  lib/crewai/tests/test_flow_from_definition.py
Due: ruff, ruff-format, mypy

Add unified declarative flow loading (#6308)
  lib/cli/src/crewai_cli/run_declarative_flow.py
  lib/cli/tests/test_run_declarative_flow.py
  lib/crewai/src/crewai/flow/flow_definition.py
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/tests/test_flow_definition.py
  lib/crewai/tests/test_flow_from_definition.py
Due: ruff, ruff-format, mypy

docs: refine platform api preview
  docs/docs.json
  docs/edge/api/v1/platform-api/introduction.mdx
  docs/edge/api/v1/problems.mdx
  docs/edge/openapi/platform-v1.yaml
  docs/v1.14.7/api/v1/platform-api/introduction.mdx
  docs/v1.14.7/api/v1/problems.mdx
  docs/v1.14.7/openapi/platform-v1.yaml
Due: none

feat: bump versions to 1.14.8a3
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/cli/src/crewai_cli/templates/crew/pyproject.toml
  lib/cli/src/crewai_cli/templates/declarative_flow/pyproject.toml
  lib/cli/src/crewai_cli/templates/flow/pyproject.toml
  lib/cli/src/crewai_cli/templates/tool/pyproject.toml
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

properly support tui
  lib/cli/src/crewai_cli/run_crew.py
  lib/cli/tests/test_run_crew.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.14.8a3 (#6309)
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/cli/src/crewai_cli/templates/crew/pyproject.toml
  lib/cli/src/crewai_cli/templates/declarative_flow/pyproject.toml
  lib/cli/src/crewai_cli/templates/flow/pyproject.toml
  lib/cli/src/crewai_cli/templates/tool/pyproject.toml
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

docs: snapshot and changelog for v1.14.8a3
  docs/edge/ar/changelog.mdx
  docs/edge/en/changelog.mdx
  docs/edge/ko/changelog.mdx
  docs/edge/pt-BR/changelog.mdx
Due: none

docs: snapshot and changelog for v1.14.8a3 (#6310)
  docs/edge/ar/changelog.mdx
  docs/edge/en/changelog.mdx
  docs/edge/ko/changelog.mdx
  docs/edge/pt-BR/changelog.mdx
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
