Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock

refactor: enhance final answer synthesis in AgentExecutor
  lib/crewai/tests/agents/test_agent_executor.py
  lib/crewai/tests/cassettes/agents/TestResponseFormatWithKickoff.test_kickoff_no_response_format_returns_raw_text.yaml
  lib/crewai/tests/cassettes/agents/TestResponseFormatWithKickoff.test_kickoff_response_format_with_planning_and_tools.yaml
  lib/crewai/tests/cassettes/agents/TestResponseFormatWithKickoff.test_kickoff_response_format_without_planning.yaml
Due: ruff, ruff-format

Adding integration for AgentSystems Notary to Governance section
  docs/docs.json
  docs/en/governance/agentsystems-notary.mdx
Due: none

fix: Preserve original type for non-string outputs in content filter
  src/crewai/governance/_kernel.py
Due: ruff, ruff-format, mypy

Define thread-safe file handling behavior for concurrent execution
  VERIFICATION.md
  interface.md
  problem_statement.md
  prompt_statement.md
  requirements.json
  rubric.md
Due: none

Adding verification steps and clarifications
  docs/en/governance/agentsystems-notary.mdx
Due: none

fix: add async HITL support and chained-router tests
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/tools/scrape_website_tool/scrape_website_tool.py
  lib/crewai-tools/tests/tools/test_scrape_website_tool.py
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/cli/plus_api.py
  lib/crewai/src/crewai/core/providers/human_input.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/types/hitl.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/cli/test_plus_api.py
  lib/crewai/tests/test_human_feedback_integration.py
  uv.lock
Due: ruff, ruff-format, mypy

fix: broken Task Attributes table in docs (#4403)
  docs/en/concepts/tasks.mdx
  lib/crewai/tests/test_docs_table_formatting.py
Due: ruff, ruff-format

docs: add x402 payment tool integration
  docs/en/tools/integration/x402paymenttool.mdx
Due: none

fix: correct typo 'occured' to 'occurred'
  lib/crewai-tools/src/crewai_tools/tools/brightdata_tool/brightdata_dataset.py
Due: ruff, ruff-format, mypy

fix: reset CrewAgentExecutor state between task executions
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/tests/agents/test_executor_state_reset.py
Due: ruff, ruff-format, mypy

fix: populate task_name and task_id in streaming chunks from event metadata
  lib/crewai/src/crewai/utilities/streaming.py
  lib/crewai/tests/test_streaming_task_metadata.py
Due: ruff, ruff-format, mypy

fix: broken Task Attributes table in documentation
  docs/en/concepts/tasks.mdx
Due: none

fix: strip trailing whitespace from final assistant message for Anthropic
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/tests/llms/anthropic/test_anthropic.py
Due: ruff, ruff-format, mypy

fix: reset messages and iterations in CrewAgentExecutor between task executions
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/tests/agents/test_executor_state_reset.py
Due: ruff, ruff-format, mypy

feat: add playwright support to ScrapeWebsiteTool
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/tools/scrape_website_tool/scrape_website_tool.py
  lib/crewai-tools/tests/tools/test_scrape_website_tool.py
  uv.lock
Due: ruff, ruff-format, mypy

test: skip playwright tests if package not installed
  lib/crewai-tools/tests/tools/test_scrape_website_tool.py
Due: ruff, ruff-format

refactor: fix all linting issues and cleanup code
  lib/crewai-tools/src/crewai_tools/tools/scrape_website_tool/scrape_website_tool.py
Due: ruff, ruff-format, mypy

test: fix linting and imports in tests
  lib/crewai-tools/tests/tools/test_scrape_website_tool.py
Due: ruff, ruff-format

test: final linting fix for tests
  lib/crewai-tools/tests/tools/test_scrape_website_tool.py
Due: ruff, ruff-format

refactor: unused comments are removed
  lib/crewai-tools/src/crewai_tools/tools/scrape_website_tool/scrape_website_tool.py
Due: ruff, ruff-format, mypy

fix: reset state before agent execution to prevent stale data
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/tests/agents/test_async_agent_executor.py
Due: ruff, ruff-format, mypy

fix: reject non-dict values in process_config with clear ValidationError
  lib/crewai/src/crewai/utilities/config.py
  lib/crewai/tests/test_task.py
Due: ruff, ruff-format, mypy

refactor: implement structured output handling in final answer synthesis
  lib/crewai/src/crewai/experimental/agent_executor.py
Due: ruff, ruff-format, mypy

feat(agent): add pre-execution step_callback for loop detection
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  reproduce_hook.py
Due: ruff, ruff-format, mypy

fix: auto-parse JSON string config in Mem0Storage (#4423)
  lib/crewai/src/crewai/memory/storage/mem0_storage.py
  lib/crewai/tests/storage/test_mem0_storage.py
Due: ruff, ruff-format, mypy

update changelog to 1.9.3
  docs/en/changelog.mdx
Due: none

fix(security): bump regex from 2024.9.11 to 2026.1.15
  lib/crewai/pyproject.toml
  uv.lock
Due: none

fix: sanitize empty user message content in AnthropicCompletion
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/tests/llms/anthropic/test_anthropic.py
Due: ruff, ruff-format, mypy

fix lint
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/utilities/test_agent_utils.py
Due: ruff, ruff-format, mypy

cassette gen
  lib/crewai/tests/cassettes/utilities/TestAgentExecuteTaskCompaction.test_agent_execute_task_compaction.yaml
  lib/crewai/tests/cassettes/utilities/TestCrewKickoffCompaction.test_crew_kickoff_compaction_openai.yaml
  lib/crewai/tests/cassettes/utilities/TestSummarizeDirectAnthropic.test_summarize_direct_anthropic.yaml
  lib/crewai/tests/cassettes/utilities/TestSummarizeDirectGemini.test_summarize_direct_gemini.yaml
  lib/crewai/tests/cassettes/utilities/TestSummarizeDirectOpenAI.test_summarize_direct_openai.yaml
  lib/crewai/tests/cassettes/utilities/TestSummarizePreservesFiles.test_summarize_preserves_files_integration.yaml
Due: none

cassette gen
  lib/crewai/tests/cassettes/utilities/TestParallelSummarizationVCR.test_parallel_summarize_openai.yaml
  lib/crewai/tests/cassettes/utilities/TestParallelSummarizationVCR.test_parallel_summarize_preserves_files.yaml
Due: none

fix: handle JSON string config in Mem0Storage
  lib/crewai/src/crewai/memory/storage/mem0_storage.py
  lib/crewai/tests/storage/test_mem0_storage.py
Due: ruff, ruff-format, mypy

fix(executor): reset messages and iterations between task executions
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/tests/agents/test_crew_agent_executor_state_reset.py
Due: ruff, ruff-format, mypy

fix: ensure TaskOutput.pydantic is populated on first guardrail invocation
  lib/crewai/src/crewai/task.py
  lib/crewai/tests/test_task_guardrails.py
Due: ruff, ruff-format, mypy

fix: parse pydantic output before first guardrail invocation
  lib/crewai/src/crewai/task.py
Due: ruff, ruff-format, mypy

fix: add type guard in process_config to prevent AttributeError
  lib/crewai/src/crewai/utilities/config.py
Due: ruff, ruff-format, mypy

fix: reset messages and iterations at start of invoke/ainvoke
  lib/crewai/src/crewai/agents/crew_agent_executor.py
Due: ruff, ruff-format, mypy

fix: strip trailing whitespace from assistant messages and filter empty user messages
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
Due: ruff, ruff-format, mypy

fix: handle JSON string config in Mem0Storage
  lib/crewai/src/crewai/memory/storage/mem0_storage.py
Due: ruff, ruff-format, mypy

fix: populate task_name and task_id in streaming chunks from event
  lib/crewai/src/crewai/utilities/streaming.py
  lib/crewai/tests/test_streaming.py
Due: ruff, ruff-format, mypy
