Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

docs(tools): fix parallel search reference link
  lib/crewai-tools/src/crewai_tools/tools/parallel_tools/README.md
Due: none

add testcases for async agent exec
  lib/crewai/tests/utilities/test_agent_utils.py
Due: ruff, ruff-format

fix(cli): keep deploy push on the AMP create source
  docs/edge/ar/concepts/cli.mdx
  docs/edge/en/concepts/cli.mdx
  docs/edge/ko/concepts/cli.mdx
  docs/edge/pt-BR/concepts/cli.mdx
  lib/cli/src/crewai_cli/deploy/main.py
  lib/cli/tests/deploy/test_deploy_main.py
Due: ruff, ruff-format, mypy

ci: ignore unpatched accelerate GHSA-4j2p-28q2-5m79
  .github/workflows/vulnerability-scan.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

feat(cli): track checkpoint command and TUI usage
  lib/cli/src/crewai_cli/checkpoint_cli.py
  lib/cli/src/crewai_cli/checkpoint_tui.py
  lib/cli/src/crewai_cli/cli.py
  lib/cli/tests/test_checkpoint_telemetry.py
Due: ruff, ruff-format, mypy

feat(telemetry): track runtime checkpoint operations
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/tests/telemetry/test_checkpoint_telemetry.py
Due: ruff, ruff-format, mypy

ci: ignore unpatched accelerate GHSA-4j2p-28q2-5m79 (#7347)
  .github/workflows/vulnerability-scan.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

chore(ci): ignore unpatched accelerate advisory
  .github/workflows/vulnerability-scan.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

docs(tools): fix parallel search reference link (#7344)
  lib/crewai-tools/src/crewai_tools/tools/parallel_tools/README.md
Due: none

test(agents): cover native result as answer (#7334) (#7336)
  lib/crewai/tests/agents/test_agent.py
Due: ruff, ruff-format

chore: keep Windows hook fix focused
  lib/crewai/tests/llms/bedrock/test_bedrock.py
  lib/crewai/tests/llms/openai/test_openai.py
  lib/crewai/tests/test_pre_commit_config.py
Due: ruff, ruff-format

fix: make pre-commit hooks portable on Windows (#6881)
  .pre-commit-config.yaml
Due: none

fix(project): prevent instance cache retention through callbacks
  lib/crewai/src/crewai/project/utils.py
  lib/crewai/tests/test_project.py
Due: ruff, ruff-format, mypy

chore(tools): make the vision_tool more dynamic
  docs/edge/ar/tools/ai-ml/visiontool.mdx
  docs/edge/en/tools/ai-ml/visiontool.mdx
  docs/edge/ko/tools/ai-ml/visiontool.mdx
  docs/edge/pt-BR/tools/ai-ml/visiontool.mdx
  lib/crewai-tools/src/crewai_tools/tools/vision_tool/vision_tool.py
  lib/crewai-tools/tests/tools/test_vision_tool.py
Due: ruff, ruff-format, mypy

drop aget_llm_response_with_fallback, ad fallback in aget_llm_response, route tests to aget_llm_response
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/agents/test_agent_executor.py
  lib/crewai/tests/utilities/test_agent_utils.py
Due: ruff, ruff-format, mypy

refactor(llms): single source of truth for context windows
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/context_window.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/llms/test_context_window.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

Update lib/crewai/tests/llms/test_context_window.py
  lib/crewai/tests/llms/test_context_window.py
Due: ruff, ruff-format

style: document native tool event IDs
  lib/crewai/src/crewai/events/types/tool_usage_events.py
  lib/crewai/tests/agents/test_agent_executor.py
Due: ruff, ruff-format, mypy

tackle review comments
  lib/crewai-tools/src/crewai_tools/tools/vision_tool/vision_tool.py
  lib/crewai-tools/tests/tools/test_vision_tool.py
Due: ruff, ruff-format, mypy

test(openai): teach the tool-cache fake about with_raw_response
  lib/crewai/tests/test_tool_cache_default.py
Due: ruff, ruff-format

fix(openai): surface gateway errors reported inside an HTTP 200
  docs/edge/ar/concepts/llms.mdx
  docs/edge/en/concepts/llms.mdx
  docs/edge/ko/concepts/llms.mdx
  docs/edge/pt-BR/concepts/llms.mdx
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/llms/openai/test_gateway_error_envelope.py
  lib/crewai/tests/llms/openai/test_openai.py
  lib/crewai/tests/llms/openai/test_tools_reasoning_effort_retry.py
  lib/crewai/tests/llms/snowflake/test_snowflake.py
Due: ruff, ruff-format, mypy

test(tracing): drop the unwritable _listeners_setup canary
  conftest.py
  lib/crewai/tests/tracing/test_trace_listener_isolation.py
Due: ruff, ruff-format, mypy

docs(tracing): correct why the _listeners_setup canary is unwritable
  lib/crewai/tests/tracing/test_trace_listener_isolation.py
Due: ruff, ruff-format

test(tracing): reset the TraceCollectionListener singleton between tests
  conftest.py
  lib/crewai/tests/tracing/test_trace_listener_isolation.py
Due: ruff, ruff-format, mypy

fix(llm): isolate callbacks per-request without global litellm mutation
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/llms/test_concurrency.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

refactor(tools): simplify vision tool model selection
  lib/crewai-tools/src/crewai_tools/tools/vision_tool/vision_tool.py
  lib/crewai-tools/tests/tools/test_vision_tool.py
Due: ruff, ruff-format, mypy

fix(tests): clear trace batch state in place instead of dropping the singleton
  conftest.py
  lib/crewai/tests/tracing/test_trace_listener_isolation.py
Due: ruff, ruff-format, mypy

fix(llm): register official 200k context window for o1 and o3
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/llms/azure/test_azure.py
  lib/crewai/tests/llms/openai/test_openai.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

fix(telemetry): count prune usage after argument validation
  lib/cli/src/crewai_cli/checkpoint_cli.py
  lib/cli/src/crewai_cli/cli.py
  lib/cli/tests/test_checkpoint_telemetry.py
Due: ruff, ruff-format, mypy

test(bedrock): restore provider module after import test
  lib/crewai/tests/llms/bedrock/test_bedrock.py
Due: ruff, ruff-format

style(cli): format checkpoint prune command
  lib/cli/src/crewai_cli/cli.py
Due: ruff, ruff-format, mypy

feat(telemetry): track checkpoint runtime and CLI usage (#7348)
  lib/cli/src/crewai_cli/checkpoint_cli.py
  lib/cli/src/crewai_cli/checkpoint_tui.py
  lib/cli/src/crewai_cli/cli.py
  lib/cli/tests/test_checkpoint_telemetry.py
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/tests/telemetry/test_checkpoint_telemetry.py
Due: ruff, ruff-format, mypy

chore(tools): make the vision_tool more dynamic (#7350)
  docs/edge/ar/tools/ai-ml/visiontool.mdx
  docs/edge/en/tools/ai-ml/visiontool.mdx
  docs/edge/ko/tools/ai-ml/visiontool.mdx
  docs/edge/pt-BR/tools/ai-ml/visiontool.mdx
  lib/crewai-tools/src/crewai_tools/tools/vision_tool/vision_tool.py
  lib/crewai-tools/tests/tools/test_vision_tool.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy

fix(crew): await async before/after_kickoff_callbacks in akickoff
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/crews/utils.py
  lib/crewai/tests/crew/test_async_crew.py
Due: ruff, ruff-format, mypy

fix(crew): use distinct sentinel so before-callback None round-trips
  lib/crewai/src/crewai/crews/utils.py
  lib/crewai/tests/crew/test_async_crew.py
Due: ruff, ruff-format, mypy

fix(crew): clear mypy strict, tighten sentinel docs and test
  lib/crewai/src/crewai/crews/utils.py
  lib/crewai/tests/crew/test_async_crew.py
Due: ruff, ruff-format, mypy

test(crew): fix after_callback return type to match TaskOutput marker
  lib/crewai/tests/crew/test_async_crew.py
Due: ruff, ruff-format

fix(tools): align DOCXSearchTool with standard RAG fixed schema pattern (#7356)
  lib/crewai-tools/src/crewai_tools/tools/docx_search_tool/docx_search_tool.py
  lib/crewai-tools/tests/tools/test_docx_search_tool.py
Due: ruff, ruff-format, mypy

refactor(llms): drop deprecated model windows; keep uncertain as TODO(verify)
  lib/crewai/src/crewai/llms/context_window.py
Due: ruff, ruff-format, mypy

feat(tracing): enhance execution context management and error handling
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/events/event_bus.py
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
  lib/crewai/src/crewai/events/listeners/tracing/utils.py
  lib/crewai/src/crewai/execution.py
  lib/crewai/src/crewai/flow/conversational_mixin.py
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/src/crewai/telemetry/otel.py
  lib/crewai/src/crewai/telemetry/tracing/__init__.py
  lib/crewai/src/crewai/telemetry/tracing/context.py
  lib/crewai/src/crewai/telemetry/tracing/ephemeral.py
  lib/crewai/src/crewai/telemetry/tracing/gen_ai_shapes.py
  lib/crewai/src/crewai/telemetry/tracing/grants.py
  lib/crewai/src/crewai/telemetry/tracing/handlers.py
  lib/crewai/src/crewai/telemetry/tracing/semantic_conventions.py
  lib/crewai/src/crewai/telemetry/tracing/session.py
  lib/crewai/tests/telemetry/test_execution_export.py
  lib/crewai/tests/telemetry/test_gen_ai_shapes.py
  lib/crewai/tests/telemetry/test_grant_export_bounds.py
  lib/crewai/tests/telemetry/test_semantic_conventions.py
  lib/crewai/tests/test_flow_conversation.py
  lib/crewai/tests/tracing/conftest.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
