Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

fix(deps): force openai>=2.30 to bypass litellm 1.83.8+ hard-pin to 2.24
  lib/crewai/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

chore(types): remove unused type: ignore after pydantic 2.12 bump
  lib/crewai/src/crewai/experimental/agent_executor.py
Due: ruff, ruff-format, mypy

ci: drop stale pip-audit ignores resolved by dependency bumps
  .github/workflows/vulnerability-scan.yml
  .pre-commit-config.yaml
Due: none

test(llm): bump expected stream_chunk count for litellm 1.83.14
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format

ci: skip generate-tool-specs job on fork PRs
  .github/workflows/generate-tool-specs.yml
Due: none

fix(agent_executor): rename force_final_answer to avoid self-referential router
  lib/crewai/src/crewai/experimental/agent_executor.py
Due: ruff, ruff-format, mypy

docs: add Vertex AI workload identity setup guide
  docs/docs.json
  docs/en/enterprise/guides/vertex-ai-workload-identity-setup.mdx
Due: none

docs: restrict Vertex WI guide to v1.14.3+ navigation
  docs/docs.json
Due: none

docs: clarify crewai-vertex SA name is an example
  docs/en/enterprise/guides/vertex-ai-workload-identity-setup.mdx
Due: none

fix: serialize guardrail callables as null for JSON checkpointing
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/lite_agent.py
  lib/crewai/src/crewai/task.py
  lib/crewai/src/crewai/utilities/guardrail.py
  lib/crewai/tests/test_guardrail_serialization.py
  uv.lock
Due: ruff, ruff-format, mypy

fix: drop callable guardrails from serialized list so checkpoints can restore
  lib/crewai/src/crewai/task.py
  lib/crewai/src/crewai/utilities/guardrail.py
  lib/crewai/tests/test_guardrail_serialization.py
Due: ruff, ruff-format, mypy

docs: add OpenBox integration
  docs/docs.json
  docs/en/observability/openbox.mdx
  docs/en/observability/overview.mdx
Due: none

fix(crew): bind task-only agents to crew so multimodal input_files reach the LLM
  lib/crewai/src/crewai/crews/utils.py
  lib/crewai/tests/test_crew.py
Due: ruff, ruff-format, mypy

refactor(crew): access task.agent directly instead of via getattr
  lib/crewai/src/crewai/crews/utils.py
Due: ruff, ruff-format, mypy

fix(agent): honor custom trained-agents file at inference
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/cli/cli.py
  lib/crewai/src/crewai/cli/run_crew.py
  lib/crewai/src/crewai/utilities/constants.py
  lib/crewai/tests/agents/test_agent.py
  lib/crewai/tests/cli/test_run_crew.py
Due: ruff, ruff-format, mypy

fix(cli): forward trained-agents file through replay and test
  lib/crewai/src/crewai/cli/cli.py
  lib/crewai/src/crewai/cli/evaluate_crew.py
  lib/crewai/src/crewai/cli/replay_from_task.py
  lib/crewai/tests/cli/test_cli.py
  lib/crewai/tests/cli/test_crew_test.py
  lib/crewai/tests/cli/test_replay_from_task.py
Due: ruff, ruff-format, mypy

refactor(cli): align replay/test env with run_crew tool credentials
  lib/crewai/src/crewai/cli/evaluate_crew.py
  lib/crewai/src/crewai/cli/replay_from_task.py
Due: ruff, ruff-format, mypy

Add MseeP.ai badge to README.md
  README.md
Due: none

fix: route internal a2a imports through crewai_a2a
  lib/crewai-a2a/src/crewai_a2a/py.typed
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agent/internal/meta.py
  lib/crewai/src/crewai/lite_agent.py
Due: ruff, ruff-format, mypy

docs: add Daytona sandbox tools documentation
  docs/ar/tools/ai-ml/daytona.mdx
  docs/docs.json
  docs/en/tools/ai-ml/daytona.mdx
  docs/ko/tools/ai-ml/daytona.mdx
  docs/pt-BR/tools/ai-ml/daytona.mdx
Due: none

fix: scope a2a alias finder to submodules only
  lib/crewai/src/crewai/a2a/__init__.py
Due: ruff, ruff-format, mypy

chore: set crewai-a2a package description
  lib/crewai-a2a/pyproject.toml
Due: none

docs: add E2B Sandbox Tools page
  docs/docs.json
  docs/en/tools/ai-ml/e2bsandboxtools.mdx
Due: none

fix(executor): reset messages and iterations between invocations
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/tests/agents/test_async_agent_executor.py
Due: ruff, ruff-format, mypy

security: fix critical arbitrary code execution vectors
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/tools/base_tool.py
  lib/crewai/src/crewai/utilities/file_handler.py
  lib/crewai/src/crewai/utilities/training_handler.py
  lib/crewai/tests/utilities/test_file_handler.py
  lib/crewai/tests/utilities/test_training_handler.py
Due: ruff, ruff-format, mypy

feat(flow): add optional key param to @persist decorator
  lib/crewai/src/crewai/flow/persistence/decorators.py
  lib/crewai/tests/test_flow_persistence.py
Due: ruff, ruff-format, mypy

docs(flow): document @persist key parameter for custom persistence keys
  docs/ar/concepts/flows.mdx
  docs/ar/concepts/production-architecture.mdx
  docs/ar/guides/flows/mastering-flow-state.mdx
  docs/en/concepts/flows.mdx
  docs/en/concepts/production-architecture.mdx
  docs/en/guides/flows/mastering-flow-state.mdx
  docs/ko/concepts/flows.mdx
  docs/ko/concepts/production-architecture.mdx
  docs/ko/guides/flows/mastering-flow-state.mdx
  docs/pt-BR/concepts/flows.mdx
  docs/pt-BR/concepts/production-architecture.mdx
  docs/pt-BR/guides/flows/mastering-flow-state.mdx
Due: none

docs: add agent-level planning (PlanningConfig) docs, deprecate reasoning page
  docs/en/concepts/planning.mdx
  docs/en/concepts/reasoning.mdx
Due: none

fix(cli): guard crew chat description helpers against LLM failures
  lib/crewai/src/crewai/cli/crew_chat.py
  lib/crewai/tests/cli/test_crew_chat.py
  uv.lock
Due: ruff, ruff-format, mypy

fix(flow): use explicit None check for persist key to avoid empty-string fallback
  lib/crewai/src/crewai/flow/persistence/decorators.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.14.4a1
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

docs: update changelog and version for v1.14.4a1
  docs/ar/changelog.mdx
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

feat(crewai-tools): add highlights to ExaSearchTool, rename from EXASearchTool
  docs/ar/concepts/tools.mdx
  docs/ar/tools/search-research/exasearchtool.mdx
  docs/en/concepts/tools.mdx
  docs/en/tools/search-research/exasearchtool.mdx
  docs/ko/concepts/tools.mdx
  docs/ko/tools/search-research/exasearchtool.mdx
  docs/pt-BR/concepts/tools.mdx
  docs/pt-BR/tools/search-research/exasearchtool.mdx
  lib/crewai-tools/README.md
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/exa_tools/README.md
  lib/crewai-tools/src/crewai_tools/tools/exa_tools/exa_search_tool.py
  lib/crewai-tools/tests/tools/exa_search_tool_test.py
  lib/crewai/src/crewai/cli/templates/AGENTS.md
Due: ruff, ruff-format, mypy

fix(llm): use validated messages variable in non-streaming handlers
  lib/crewai/src/crewai/llm.py
Due: ruff, ruff-format, mypy

Support azure openai responses
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/tests/llms/azure/test_azure_responses.py
Due: ruff, ruff-format, mypy

Revert function supported condition
  lib/crewai/src/crewai/llms/providers/azure/completion.py
Due: ruff, ruff-format, mypy

Add cassette based tests
  lib/crewai/tests/cassettes/llms/azure/TestAzureResponsesCall.test_call_delegates_to_responses.yaml
  lib/crewai/tests/cassettes/llms/azure/TestAzureResponsesCall.test_call_with_tools_delegates.yaml
  lib/crewai/tests/cassettes/llms/azure/TestAzureResponsesCall.test_completions_call_unchanged.yaml
  lib/crewai/tests/cassettes/llms/azure/test_acall_delegates_to_responses.yaml
  lib/crewai/tests/llms/azure/test_azure_responses.py
  lib/crewai/tests/llms/azure/test_azure_responses_async.py
Due: ruff, ruff-format

Update support stop words
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/tests/llms/azure/test_azure_responses.py
Due: ruff, ruff-format, mypy

Revert comment deletion
  lib/crewai/src/crewai/llms/providers/azure/completion.py
Due: ruff, ruff-format, mypy

fix(crewai-tools): import order and module-level Exa for tests
  lib/crewai-tools/src/crewai_tools/tools/exa_tools/exa_search_tool.py
  lib/crewai-tools/tests/tools/exa_search_tool_test.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
