Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

fix: avoid forcing lazy client construction in lightweight accessors
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
Due: ruff, ruff-format, mypy

test: update deploy_push CLI tests for new skip_validate kwarg
  lib/crewai/tests/cli/test_cli.py
Due: ruff, ruff-format

test: update test_create_llm_openai_missing_api_key for lazy init
  lib/crewai/tests/utilities/test_llm_utils.py
Due: ruff, ruff-format

fix: re-read Azure env vars in lazy client build
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/tests/llms/azure/test_azure.py
Due: ruff, ruff-format, mypy

fix: recompute is_azure_openai_endpoint after lazy endpoint resolve
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/tests/llms/azure/test_azure.py
Due: ruff, ruff-format, mypy

fix: re-read Gemini env vars in lazy client build
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/tests/llms/google/test_google.py
Due: ruff, ruff-format, mypy

refactor: route Gemini async paths through _get_async_client
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
Due: ruff, ruff-format, mypy

test: assert Azure endpoint hostname instead of substring match
  lib/crewai/tests/llms/azure/test_azure.py
Due: ruff, ruff-format

fix: don't leak sync httpx.Client when building Anthropic async client
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
Due: ruff, ruff-format, mypy

fix: narrow Bedrock _init_clients except to credential errors only
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
Due: ruff, ruff-format, mypy

fix: return False from supports_function_calling until tool PR
  lib/crewai/src/crewai/llms/providers/oci/completion.py
Due: ruff, ruff-format, mypy

feat: add OCI Generative AI provider — basic text completion
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/oci/__init__.py
  lib/crewai/src/crewai/llms/providers/oci/completion.py
  lib/crewai/src/crewai/utilities/oci.py
  lib/crewai/tests/llms/oci/__init__.py
  lib/crewai/tests/llms/oci/conftest.py
  lib/crewai/tests/llms/oci/test_oci.py
  lib/crewai/tests/llms/oci/test_oci_integration_basic.py
Due: ruff, ruff-format, mypy

fix: address PR review feedback on OCI completion
  lib/crewai/src/crewai/llms/providers/oci/completion.py
Due: ruff, ruff-format, mypy

fix: use model_lower consistently in OCI pattern check
  lib/crewai/src/crewai/llm.py
Due: ruff, ruff-format, mypy

fix: move normalization inside error context, tighten _call_impl signature
  lib/crewai/src/crewai/llms/providers/oci/completion.py
Due: ruff, ruff-format, mypy

cleanup: remove unused imports and dead code
  lib/crewai/src/crewai/llms/providers/oci/completion.py
Due: ruff, ruff-format, mypy

cleanup: remove redundant OCI check in _validate_model_in_constants
  lib/crewai/src/crewai/llm.py
Due: ruff, ruff-format, mypy

refactor: remove supports_function_calling and supports_stop_words
  lib/crewai/src/crewai/llms/providers/oci/completion.py
Due: ruff, ruff-format, mypy

Support azure openai responses
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/tests/llms/azure/test_azure_responses.py
Due: ruff, ruff-format, mypy

Fix linting
  lib/crewai/src/crewai/llms/providers/azure/completion.py
Due: ruff, ruff-format, mypy

fix: preserve Bedrock tool call arguments by removing truthy default
  lib/crewai/src/crewai/agents/crew_agent_executor.py
Due: ruff, ruff-format, mypy

fix: match real provider error messages in missing-extra classifier
  lib/crewai/src/crewai/cli/deploy/validate.py
  lib/crewai/tests/cli/deploy/test_validate.py
Due: ruff, ruff-format, mypy

fix: upgrade requests to >=2.33.0 for CVE temp file vulnerability
  lib/crewai-tools/pyproject.toml
  uv.lock
Due: none

chore: clean up redundant inline docs in a2a module
  lib/crewai/src/crewai/a2a/errors.py
  lib/crewai/src/crewai/a2a/extensions/base.py
  lib/crewai/src/crewai/a2a/utils/response_model.py
Due: ruff, ruff-format, mypy

chore: clean up redundant inline docs in agent module
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agent/utils.py
Due: ruff, ruff-format, mypy

chore: remove remaining redundant inline docs in agent module
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agent/planning_config.py
Due: ruff, ruff-format, mypy

chore: clean up redundant inline docs in agents module
  lib/crewai/src/crewai/agents/agent_adapters/openai_agents/openai_agent_tool_adapter.py
  lib/crewai/src/crewai/agents/agent_builder/base_agent.py
  lib/crewai/src/crewai/agents/constants.py
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/agents/parser.py
  lib/crewai/src/crewai/agents/planner_observer.py
  lib/crewai/src/crewai/agents/step_executor.py
Due: ruff, ruff-format, mypy

feat(hooks): add provider-based pre-tool-call guardrails
  docs/ar/learn/tool-hooks.mdx
  docs/en/learn/tool-hooks.mdx
  docs/ko/learn/tool-hooks.mdx
  docs/pt-BR/learn/tool-hooks.mdx
  lib/crewai/src/crewai/hooks/__init__.py
  lib/crewai/src/crewai/hooks/guardrails.py
  lib/crewai/tests/hooks/test_guardrails.py
Due: ruff, ruff-format, mypy

feat: Add Agent Discovery Protocol (ADP) support
  src/crewai/utils/agent_discovery.py
Due: ruff, ruff-format, mypy

feat: Add Joy Trust Network integration for A2A delegations
  lib/crewai/src/crewai/integrations/__init__.py
  lib/crewai/src/crewai/integrations/joy_trust/__init__.py
  lib/crewai/src/crewai/integrations/joy_trust/client.py
  lib/crewai/src/crewai/integrations/joy_trust/config.py
  lib/crewai/src/crewai/integrations/joy_trust/hooks.py
Due: ruff, ruff-format, mypy

chore: improve typing in task module
  lib/crewai/src/crewai/task.py
Due: ruff, ruff-format, mypy

fix: restore BaseLLM guard for multimodal file injection
  lib/crewai/src/crewai/task.py
Due: ruff, ruff-format, mypy

fix: coerce non-string results to str in guardrail retry path
  lib/crewai/src/crewai/task.py
  lib/crewai/tests/task/test_guardrail_non_string_raw.py
Due: ruff, ruff-format, mypy

chore: replace hasattr/getattr with isinstance in LLM module
  lib/crewai/src/crewai/llm.py
Due: ruff, ruff-format, mypy

docs: add enterprise A2A feature doc and update OSS A2A docs
  docs/docs.json
  docs/en/enterprise/features/a2a.mdx
  docs/en/learn/a2a-agent-delegation.mdx
Due: none

docs: add file inputs and structured output documentation for A2A
  docs/en/enterprise/features/a2a.mdx
  docs/en/learn/a2a-agent-delegation.mdx
Due: none

docs: add target_agent routing, EnterpriseTokenAuth example, file/structured output docs
  docs/en/enterprise/features/a2a.mdx
Due: none

docs: add early release warning to enterprise A2A doc
  docs/en/enterprise/features/a2a.mdx
Due: none

fix: override pypdf and uv to patched versions for CVE-2026-40260 and GHSA-pjjw-68hj-v9mw
  pyproject.toml
  uv.lock
Due: none

docs: clean up enterprise A2A language
  docs/en/enterprise/features/a2a.mdx
Due: none
