Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

fix: address CodeRabbit review on Spraay tools
  lib/crewai-tools/src/crewai_tools/tools/spraay_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/spraay_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/spraay_tool/spraay_balance_tool.py
  lib/crewai-tools/src/crewai_tools/tools/spraay_tool/spraay_batch_payment_tool.py
  lib/crewai-tools/src/crewai_tools/tools/spraay_tool/spraay_escrow_tool.py
  lib/crewai-tools/src/crewai_tools/tools/spraay_tool/spraay_x402.py
Due: ruff, ruff-format, mypy

fix: register Spraay tools and align payloads with live gateway spec
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/spraay_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/spraay_tool/spraay_batch_payment_tool.py
  lib/crewai-tools/src/crewai_tools/tools/spraay_tool/spraay_escrow_tool.py
  lib/crewai-tools/src/crewai_tools/tools/spraay_tool/spraay_payload.py
Due: ruff, ruff-format, mypy

fix: address second CodeRabbit review round on Spraay tools
  lib/crewai-tools/src/crewai_tools/tools/spraay_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/spraay_tool/spraay_batch_payment_tool.py
  lib/crewai-tools/src/crewai_tools/tools/spraay_tool/spraay_escrow_tool.py
  lib/crewai-tools/src/crewai_tools/tools/spraay_tool/spraay_payload.py
  lib/crewai-tools/src/crewai_tools/tools/spraay_tool/spraay_x402.py
Due: ruff, ruff-format, mypy

fix: fix sentinel bug in aprepare_kickoff, use _UNSET instead of None
  lib/crewai/src/crewai/crews/utils.py
Due: ruff, ruff-format, mypy

fix(db2-search-tool): address PR review comments
  docs/docs.json
  docs/edge/en/tools/database-data/db2searchtool.mdx
  docs/v1.13.0/en/tools/database-data/db2searchtool.mdx
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/db2_search_tool/db2_search_tool.py
Due: ruff, ruff-format, mypy

docs: bind FunASR example to localhost
  docs/edge/en/concepts/files.mdx
Due: none

docs: use IPv4 loopback for FunASR client
  docs/edge/en/concepts/files.mdx
Due: none

docs: add FunASR voice input example
  docs/edge/en/concepts/files.mdx
Due: none

chore: bump json-repair to 0.60.1 and un-ignore fixed vulns in scan
  .github/workflows/vulnerability-scan.yml
  lib/crewai/pyproject.toml
  uv.lock
Due: none

fix: adapt _safe_repair_json to json-repair 0.60 semantics
  lib/crewai/src/crewai/agents/parser.py
Due: ruff, ruff-format, mypy

fix(crew): use distinct sentinel so before-callback None round-trips
  lib/crewai/src/crewai/crews/utils.py
  lib/crewai/tests/crew/test_async_crew.py
Due: ruff, ruff-format, mypy

fix(db2-search-tool): resolve default and string db2 package imports dynamically
  lib/crewai-tools/src/crewai_tools/tools/db2_search_tool/db2_search_tool.py
  lib/crewai-tools/tests/tools/test_db2_search_tool.py
Due: ruff, ruff-format, mypy

fix(crew): clear mypy strict, tighten sentinel docs and test
  lib/crewai/src/crewai/crews/utils.py
  lib/crewai/tests/crew/test_async_crew.py
Due: ruff, ruff-format, mypy

chore: fix CI - bump gitpython/pyasn1, drop stale type ignores
  lib/crewai-tools/pyproject.toml
  lib/crewai/src/crewai/agents/parser.py
  lib/crewai/src/crewai/tools/tool_usage.py
  pyproject.toml
  uv.lock
Due: ruff, ruff-format, mypy

fix: replace bare raise statements in get_uploader with PermanentUploadError
  lib/crewai-files/src/crewai_files/uploaders/factory.py
  lib/crewai-files/tests/test_uploader_factory.py
Due: ruff, ruff-format, mypy

docs: add Frontend guides section (CopilotKit + AG-UI)
  docs/docs.json
  docs/edge/en/guides/frontend/agentic-generative-ui.mdx
  docs/edge/en/guides/frontend/channels.mdx
  docs/edge/en/guides/frontend/frontend-actions.mdx
  docs/edge/en/guides/frontend/generative-ui.mdx
  docs/edge/en/guides/frontend/human-in-the-loop.mdx
  docs/edge/en/guides/frontend/overview.mdx
  docs/edge/en/guides/frontend/predictive-state-updates.mdx
  docs/edge/en/guides/frontend/shared-state.mdx
  docs/edge/en/guides/frontend/tool-based-generative-ui.mdx
Due: none

fix(agents): await native async tools on caller loop
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/tests/agents/test_agent_executor.py
Due: ruff, ruff-format, mypy

docs: fix 1 broken link(s) via archive.org
  README.md
Due: none

fix(db2-search-tool): export DB2VectorSearchTool and DB2ToolSchema from package-level crewai_tools
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/tests/tools/test_db2_search_tool.py
Due: ruff, ruff-format, mypy

docs(db2-search-tool): fix installation command and import path in README
  lib/crewai-tools/src/crewai_tools/tools/db2_search_tool/README.md
Due: none

docs: mirror Frontend guides into v1.15.5 (Latest)
  docs/docs.json
  docs/v1.15.5/en/guides/frontend/agentic-generative-ui.mdx
  docs/v1.15.5/en/guides/frontend/channels.mdx
  docs/v1.15.5/en/guides/frontend/frontend-actions.mdx
  docs/v1.15.5/en/guides/frontend/generative-ui.mdx
  docs/v1.15.5/en/guides/frontend/human-in-the-loop.mdx
  docs/v1.15.5/en/guides/frontend/overview.mdx
  docs/v1.15.5/en/guides/frontend/predictive-state-updates.mdx
  docs/v1.15.5/en/guides/frontend/shared-state.mdx
  docs/v1.15.5/en/guides/frontend/tool-based-generative-ui.mdx
Due: none

docs(frontend): address audit — correct APIs and claims
  docs/edge/en/guides/frontend/agentic-generative-ui.mdx
  docs/edge/en/guides/frontend/channels.mdx
  docs/edge/en/guides/frontend/frontend-actions.mdx
  docs/edge/en/guides/frontend/generative-ui.mdx
  docs/edge/en/guides/frontend/overview.mdx
  docs/edge/en/guides/frontend/shared-state.mdx
  docs/edge/en/guides/frontend/tool-based-generative-ui.mdx
  docs/v1.15.5/en/guides/frontend/agentic-generative-ui.mdx
  docs/v1.15.5/en/guides/frontend/channels.mdx
  docs/v1.15.5/en/guides/frontend/frontend-actions.mdx
  docs/v1.15.5/en/guides/frontend/generative-ui.mdx
  docs/v1.15.5/en/guides/frontend/overview.mdx
  docs/v1.15.5/en/guides/frontend/shared-state.mdx
  docs/v1.15.5/en/guides/frontend/tool-based-generative-ui.mdx
Due: none

Report bounded planning step outcomes
  lib/crewai/src/crewai/agents/step_executor.py
  lib/crewai/src/crewai/events/types/observation_events.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/lite_agent_output.py
  lib/crewai/src/crewai/utilities/planning_types.py
  lib/crewai/src/crewai/utilities/step_execution_context.py
  lib/crewai/tests/agents/test_agent_executor.py
Due: ruff, ruff-format, mypy

chore: bump json-repair to 0.60.1, drop fixed vuln ignores in scan (#6612)
  .github/workflows/vulnerability-scan.yml
  lib/crewai-tools/pyproject.toml
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/agents/parser.py
  lib/crewai/src/crewai/tools/tool_usage.py
  pyproject.toml
  uv.lock
Due: ruff, ruff-format, mypy

Add boundary_id for run/session identification
  lib/crewai/src/crewai/governance/governance_decision.py
Due: ruff, ruff-format, mypy

Enhance governance decision tests and checks
  lib/crewai/tests/governance/test_governance_decision_fail_closed_contract.py
Due: ruff, ruff-format

Fix formatting of comment in test_governance_decision_contract
  lib/crewai/tests/test_governance_decision_contract.py
Due: ruff, ruff-format

test(llm): assert original messages are not mutated in format_messages
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format

Add boundary_id to decision context hash
  lib/crewai/src/crewai/governance/governance_decision.py
Due: ruff, ruff-format, mypy

Add tests for governance decision boundary_id validation
  lib/crewai/tests/governance/test_governance_decision_fail_closed_contract.py
Due: ruff, ruff-format

fix: await native async tools on caller event loop (#6611)
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/tests/agents/test_agent_executor.py
Due: ruff, ruff-format, mypy

fix: replace bare raise with ToolUsageError in _original_tool_calling (#6430)
  lib/crewai/src/crewai/tools/tool_usage.py
Due: ruff, ruff-format, mypy

fix: await async tools natively in _ainvoke_loop_native_tools
  lib/crewai/src/crewai/agents/crew_agent_executor.py
Due: ruff, ruff-format, mypy

fix(llm): handle LiteLLM supports_response_schema introspection failure gracefully (#6412)
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

test(llm): assert debug log output during LiteLLM introspection failure
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format

fix(llm): add static provider capability lists and reasoning_effort fallback tests
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

fix(llm): expand docstring and add reasoning_effort/response_format fallback coverage tests
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

feat: add Comply54ComplianceTool for African regulatory enforcement
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/comply54_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/comply54_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/comply54_tool/comply54_tool.py
  lib/crewai-tools/tests/tools/test_comply54_tool.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy

fix(crewai-tools): address CodeRabbit review comments on comply54 tool
  lib/crewai-tools/src/crewai_tools/tools/comply54_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/comply54_tool/comply54_tool.py
  lib/crewai-tools/tests/tools/test_comply54_tool.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy

fix(reasoning): use flexible regex to detect READY state to prevent agent deadlocks
  lib/crewai/src/crewai/utilities/reasoning_handler.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
