Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

docs: snapshot and changelog for v1.15.2a1
  docs/edge/ar/changelog.mdx
  docs/edge/en/changelog.mdx
  docs/edge/ko/changelog.mdx
  docs/edge/pt-BR/changelog.mdx
Due: none

docs: re-add EmpirioLabs provider after upstream docs restructure
  docs/edge/en/concepts/llms.mdx
Due: none

docs: keep EmpirioLabs in the Edge channel only, not the frozen v1.15.0 snapshot
  docs/v1.15.0/en/concepts/llms.mdx
Due: none

docs: snapshot and changelog for v1.15.2a1 (#6398)
  docs/edge/ar/changelog.mdx
  docs/edge/en/changelog.mdx
  docs/edge/ko/changelog.mdx
  docs/edge/pt-BR/changelog.mdx
Due: none

Use EmpirioLabs AI as the provider display name
  docs/edge/en/concepts/llms.mdx
Due: none

fix: case-insensitive file extension detection in RAG data-type auto-detection
  lib/crewai-tools/src/crewai_tools/rag/data_types.py
  lib/crewai-tools/tests/rag/test_data_types.py
Due: ruff, ruff-format, mypy

fix(crewAI): add test for issue #6204
  README.md
Due: none

fix(crewAI): add test for issue #5930
  README.md
Due: none

Add streaming docs to the navigation
  docs/docs.json
  docs/edge/en/concepts/streaming.mdx
  docs/edge/en/learn/consuming-streams.mdx
Due: none

Add streaming docs to the navigation (#6403)
  docs/docs.json
  docs/edge/en/concepts/streaming.mdx
  docs/edge/en/learn/consuming-streams.mdx
Due: none

Add text helper for flow CEL prompts
  lib/cli/src/crewai_cli/templates/declarative_flow/AGENTS.md
  lib/cli/tests/test_create_flow.py
  lib/crewai/src/crewai/flow/expressions.py
  lib/crewai/src/crewai/flow/skill.py
  lib/crewai/src/crewai/flow/templates/flow_definition_skill.md.j2
  lib/crewai/tests/test_flow_definition.py
  lib/crewai/tests/test_flow_from_definition.py
Due: ruff, ruff-format, mypy

Add text helper for flow CEL prompts (#6404)
  lib/cli/src/crewai_cli/templates/declarative_flow/AGENTS.md
  lib/cli/tests/test_create_flow.py
  lib/crewai/src/crewai/flow/expressions.py
  lib/crewai/src/crewai/flow/skill.py
  lib/crewai/src/crewai/flow/templates/flow_definition_skill.md.j2
  lib/crewai/tests/test_flow_definition.py
  lib/crewai/tests/test_flow_from_definition.py
Due: ruff, ruff-format, mypy

Reject self-listening flow methods
  lib/crewai/src/crewai/flow/flow_definition.py
  lib/crewai/src/crewai/flow/skill.py
  lib/crewai/src/crewai/flow/templates/flow_definition_skill.md.j2
  lib/crewai/tests/test_flow.py
  lib/crewai/tests/test_flow_definition.py
Due: ruff, ruff-format, mypy

Reject self-listening flow methods (#6405)
  lib/crewai/src/crewai/flow/flow_definition.py
  lib/crewai/src/crewai/flow/skill.py
  lib/crewai/src/crewai/flow/templates/flow_definition_skill.md.j2
  lib/crewai/tests/test_flow.py
  lib/crewai/tests/test_flow_definition.py
Due: ruff, ruff-format, mypy

Add text helper to flow skill example
  lib/crewai/src/crewai/flow/templates/flow_definition_example.yaml
  lib/crewai/tests/test_flow_definition.py
Due: ruff, ruff-format

Add text helper to flow skill example (#6406)
  lib/crewai/src/crewai/flow/templates/flow_definition_example.yaml
  lib/crewai/tests/test_flow_definition.py
Due: ruff, ruff-format

fix: clean up pending async tasks on failure
  lib/crewai/src/crewai/crew.py
  lib/crewai/tests/test_crew.py
Due: ruff, ruff-format, mypy

docs: add Dakera Storage backend documentation
  docs/docs.json
  docs/edge/en/concepts/dakera-storage.mdx
Due: none

fix: use ghcr.io/dakera-ai/dakera:latest and port 3300
  docs/edge/en/concepts/dakera-storage.mdx
Due: none

Add CorrectoverGuardrailProvider — first third-party reference implementation of GuardrailProvider protocol (crewAIInc/crewAI#4877)
  GUARDRAIL_PROVIDER.md
  lib/crewai/src/crewai/guardrails/providers/__init__.py
  lib/crewai/src/crewai/guardrails/providers/correctover.py
Due: ruff, ruff-format, mypy

fix: add types.py, honor fail_closed flag, align docs with implementation
  GUARDRAIL_PROVIDER.md
  lib/crewai/src/crewai/guardrails/providers/correctover.py
  lib/crewai/src/crewai/guardrails/providers/types.py
Due: ruff, ruff-format, mypy

fix: address all CodeRabbit review comments & add test suite
  lib/crewai/src/crewai/guardrails/enable.py
  lib/crewai/src/crewai/guardrails/providers/__init__.py
  lib/crewai/src/crewai/guardrails/providers/correctover.py
  lib/crewai/src/crewai/guardrails/providers/types.py
  lib/crewai/tests/guardrails/test_guardrail_provider.py
Due: ruff, ruff-format, mypy

fix: complete self-audit — resolve all 10 issues in one pass
  GUARDRAIL_PROVIDER.md
  lib/crewai/src/crewai/guardrails/enable.py
  lib/crewai/src/crewai/guardrails/providers/__init__.py
  lib/crewai/src/crewai/guardrails/providers/correctover.py
  lib/crewai/tests/guardrails/test_guardrail_provider.py
Due: ruff, ruff-format, mypy

fix: harden _generate_action_id against malformed inputs (R4 security)
  lib/crewai/src/crewai/guardrails/providers/correctover.py
  lib/crewai/tests/guardrails/test_guardrail_provider.py
Due: ruff, ruff-format, mypy

fix: robust agent_id handling in _generate_action_id + identity type guard
  lib/crewai/src/crewai/guardrails/providers/correctover.py
  lib/crewai/tests/guardrails/test_guardrail_provider.py
Due: ruff, ruff-format, mypy

fix: deny missing agent_id when allowed_agents is configured
  lib/crewai/src/crewai/guardrails/providers/correctover.py
  lib/crewai/tests/guardrails/test_guardrail_provider.py
Due: ruff, ruff-format, mypy

feat: add tool_alias field to match upstream interface
  lib/crewai/src/crewai/guardrails/enable.py
  lib/crewai/src/crewai/guardrails/providers/types.py
  lib/crewai/tests/guardrails/test_guardrail_provider.py
Due: ruff, ruff-format, mypy

Added client name header
  lib/crewai-tools/src/crewai_tools/tools/tavily_extractor_tool/tavily_extractor_tool.py
  lib/crewai-tools/src/crewai_tools/tools/tavily_get_research_tool/tavily_get_research_tool.py
  lib/crewai-tools/src/crewai_tools/tools/tavily_research_tool/tavily_research_tool.py
  lib/crewai-tools/src/crewai_tools/tools/tavily_search_tool/tavily_search_tool.py
Due: ruff, ruff-format, mypy

fix: pass all prior task outputs as context to async tasks
  lib/crewai/src/crewai/crew.py
Due: ruff, ruff-format, mypy

Squeeze AGENTS.md file
  AGENTS.md
Due: none

Squeeze AGENTS.md file (#6416)
  AGENTS.md
Due: none

fix(agent): implement missing ExecutorContext protocol methods for human_input in AgentExecutor
  lib/crewai/src/crewai/experimental/agent_executor.py
Due: ruff, ruff-format, mypy

fix(tools): update fallback warning message in StructuredTool validation exception handler
  lib/crewai/src/crewai/tools/structured_tool.py
Due: ruff, ruff-format, mypy

fix(tool-serialization): address CodeRabbit feedback and add docstrings to missing helpers
  lib/crewai/src/crewai/tools/structured_tool.py
Due: ruff, ruff-format, mypy

fix(tools): automatically serialize list and dictionary tool outputs to JSON strings
  lib/crewai/src/crewai/tools/structured_tool.py
  lib/crewai/tests/tools/test_structured_tool.py
Due: ruff, ruff-format, mypy

docs(structured_tool): add docstring to _format_tool_output_for_agent
  lib/crewai/src/crewai/tools/structured_tool.py
Due: ruff, ruff-format, mypy

Document flow agent options
  lib/cli/src/crewai_cli/templates/declarative_flow/AGENTS.md
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/flow/skill.py
  lib/crewai/src/crewai/flow/templates/flow_definition_skill.md.j2
  lib/crewai/src/crewai/project/crew_definition.py
  lib/crewai/tests/test_flow_definition.py
  lib/crewai/tests/test_flow_from_definition.py
Due: ruff, ruff-format, mypy

Potential fix for pull request finding 'Unused import'
  lib/crewai/tests/test_flow_from_definition.py
Due: ruff, ruff-format

feat: bump versions to 1.15.2a2
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
