Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

feat(flow): type DSL triggers as route-aware decorators (#6042)
  docs/en/guides/concepts/evaluating-use-cases.mdx
  lib/crewai/src/crewai/flow/dsl/_conditions.py
  lib/crewai/src/crewai/flow/dsl/_listen.py
  lib/crewai/src/crewai/flow/dsl/_router.py
  lib/crewai/src/crewai/flow/dsl/_start.py
  lib/crewai/src/crewai/flow/dsl/_types.py
  lib/crewai/src/crewai/flow/dsl/_utils.py
  lib/crewai/src/crewai/flow/flow_wrappers.py
  lib/crewai/src/crewai/flow/runtime.py
  lib/crewai/src/crewai/flow/types.py
  lib/crewai/src/crewai/memory/recall_flow.py
  lib/crewai/tests/test_flow_definition.py
Due: ruff, ruff-format, mypy

refactor(tracing): rename trace event handler methods to action event handlers
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
  lib/crewai/src/crewai/flow/runtime.py
Due: ruff, ruff-format, mypy

fix: add ToolFileReference system to bypass LLM context for binary data
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/tools/__init__.py
  lib/crewai/src/crewai/tools/base_tool.py
  lib/crewai/src/crewai/tools/tool_file_reference.py
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/tests/tools/test_tool_file_reference.py
Due: ruff, ruff-format, mypy

fix(conversational_mixin): handle empty message index in route events
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/tests/test_flow_conversation.py
Due: ruff, ruff-format, mypy

fix: add FileArtifact to keep binary tool I/O out of the LLM context
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/tools/__init__.py
  lib/crewai/src/crewai/tools/file_artifact.py
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/tests/tools/test_file_artifact.py
Due: ruff, ruff-format, mypy

style: apply ruff format to file_artifact and tool_usage
  lib/crewai/src/crewai/tools/file_artifact.py
  lib/crewai/src/crewai/tools/tool_usage.py
Due: ruff, ruff-format, mypy

fix: resolve file-artifact handles with uppercased uuid hex
  lib/crewai/src/crewai/tools/file_artifact.py
  lib/crewai/tests/tools/test_file_artifact.py
Due: ruff, ruff-format, mypy

fix: enforce per-entry artifact TTL and align cleanup scope
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/tools/file_artifact.py
  lib/crewai/tests/tools/test_file_artifact.py
Due: ruff, ruff-format, mypy

fix: wire planning-mode native path and harden artifact helpers
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/tools/file_artifact.py
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/tools/test_file_artifact.py
Due: ruff, ruff-format, mypy

fix: dedupe artifact storage on repeated cached results
  lib/crewai/src/crewai/tools/file_artifact.py
  lib/crewai/tests/tools/test_file_artifact.py
Due: ruff, ruff-format, mypy

fix: store FileArtifact returned by after_tool_call hooks
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/tools/test_file_artifact.py
Due: ruff, ruff-format, mypy

feat: add tool execution idempotency guard to prevent duplicate side effects on task retry
  lib/crewai/src/crewai/agents/tools_handler.py
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/tests/tools/test_tool_idempotency.py
Due: ruff, ruff-format, mypy

fix: key artifact dedup map by (object, scope) and clear it in tests
  lib/crewai/src/crewai/tools/file_artifact.py
  lib/crewai/tests/tools/test_file_artifact.py
Due: ruff, ruff-format, mypy

docs: note FileArtifact handles are run-scoped and don't survive across runs
  lib/crewai/src/crewai/tools/file_artifact.py
Due: ruff, ruff-format, mypy

fix: add anthropic/ prefix to model pattern matching
  lib/crewai/src/crewai/llm.py
Due: ruff, ruff-format, mypy

chore(firecrawl): pin runtime uv-add, add docstrings, tag README fence
  lib/crewai-tools/src/crewai_tools/tools/firecrawl_crawl_website_tool/firecrawl_crawl_website_tool.py
  lib/crewai-tools/src/crewai_tools/tools/firecrawl_interact_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/firecrawl_interact_tool/firecrawl_interact_tool.py
  lib/crewai-tools/src/crewai_tools/tools/firecrawl_scrape_website_tool/firecrawl_scrape_website_tool.py
  lib/crewai-tools/src/crewai_tools/tools/firecrawl_search_tool/firecrawl_search_tool.py
Due: ruff, ruff-format, mypy

docs: add Entroly context optimization integration
  docs/en/tools/integration/entrolytool.mdx
  docs/en/tools/integration/overview.mdx
Due: none

feat(otel): surface real finish_reason + sampling params + response.id on LLM events (#5945)
  lib/crewai/src/crewai/events/types/llm_events.py
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/_finish_reason_utils.py
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/events/test_llm_finish_reason_response_id.py
  lib/crewai/tests/llms/google/test_google.py
  lib/crewai/tests/test_llm_streaming_finish_reason.py
Due: ruff, ruff-format, mypy

Update conversational flow docs to use handle_turn
  docs/ar/guides/flows/conversational-flows.mdx
  docs/en/guides/flows/conversational-flows.mdx
  docs/ko/guides/flows/conversational-flows.mdx
  docs/pt-BR/guides/flows/conversational-flows.mdx
Due: none

Update conversational flow docs to use handle_turn (#6053)
  docs/ar/guides/flows/conversational-flows.mdx
  docs/en/guides/flows/conversational-flows.mdx
  docs/ko/guides/flows/conversational-flows.mdx
  docs/pt-BR/guides/flows/conversational-flows.mdx
Due: none

Lorenze/imp/conversational flow traces (#6044)
  lib/crewai/src/crewai/events/__init__.py
  lib/crewai/src/crewai/events/event_types.py
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
  lib/crewai/src/crewai/events/types/flow_events.py
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/src/crewai/flow/runtime.py
  lib/crewai/tests/test_flow_conversation.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.14.7a2
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/cli/src/crewai_cli/templates/crew/pyproject.toml
  lib/cli/src/crewai_cli/templates/flow/pyproject.toml
  lib/cli/src/crewai_cli/templates/tool/pyproject.toml
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.14.7a2 (#6054)
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/cli/src/crewai_cli/templates/crew/pyproject.toml
  lib/cli/src/crewai_cli/templates/flow/pyproject.toml
  lib/cli/src/crewai_cli/templates/tool/pyproject.toml
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

docs: update changelog and version for v1.14.7a2
  docs/ar/changelog.mdx
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

docs: update changelog and version for v1.14.7a2 (#6055)
  docs/ar/changelog.mdx
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

fix(events): gate RuntimeState recording to stop unbounded event-bus leak
  lib/crewai/src/crewai/events/event_bus.py
  lib/crewai/src/crewai/state/checkpoint_listener.py
  lib/crewai/tests/events/test_event_replay.py
Due: ruff, ruff-format, mypy

fix: address idempotency guard review feedback (4 MAJOR issues)
  lib/crewai/src/crewai/agents/tools_handler.py
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/src/crewai/utilities/idempotency_backend.py
  lib/crewai/tests/tools/test_tool_idempotency.py
Due: ruff, ruff-format, mypy

fix: resolve issue #5990
  lib/crewai/tests/llms/openai/test_openai.py
Due: ruff, ruff-format

Address Xquik tool review feedback
  lib/crewai-tools/README.md
  lib/crewai-tools/src/crewai_tools/tools/xquik_tool/xquik_tool.py
  lib/crewai-tools/tests/tools/xquik_tool_test.py
Due: ruff, ruff-format, mypy

Add Xquik CrewAI tools
  docs/ar/tools/search-research/overview.mdx
  docs/ar/tools/search-research/xquiktool.mdx
  docs/docs.json
  docs/en/tools/search-research/overview.mdx
  docs/en/tools/search-research/xquiktool.mdx
  docs/ko/tools/search-research/overview.mdx
  docs/ko/tools/search-research/xquiktool.mdx
  docs/pt-BR/tools/search-research/overview.mdx
  docs/pt-BR/tools/search-research/xquiktool.mdx
  lib/crewai-tools/README.md
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/xquik_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/xquik_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/xquik_tool/xquik_tool.py
  lib/crewai-tools/tests/tools/xquik_tool_test.py
Due: ruff, ruff-format, mypy

feat: replace advisory pip-audit with blocking vuln process
  .github/workflows/vulnerability-scan.yml
Due: none

Fix #5845 - Add opentelemetry constraint to crewai-core
  lib/crewai-core/pyproject.toml
  lib/crewai/pyproject.toml
Due: none

Fix #5886 - Strip cache breakpoint in crewai llm
  lib/crewai/src/crewai/llm.py
Due: ruff, ruff-format, mypy

Fix #5893 - Fix Anthropic model detection
  lib/crewai/src/crewai/llm.py
Due: ruff, ruff-format, mypy

feat(conversational): implement route permissions and access control
  docs/ar/guides/flows/conversational-flows.mdx
  docs/en/guides/flows/conversational-flows.mdx
  docs/ko/guides/flows/conversational-flows.mdx
  docs/pt-BR/guides/flows/conversational-flows.mdx
  lib/crewai/src/crewai/experimental/conversational.py
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/src/crewai/flow/dsl/_listen.py
  lib/crewai/src/crewai/flow/flow_wrappers.py
  lib/crewai/tests/test_flow_conversation.py
Due: ruff, ruff-format, mypy

linted
  lib/crewai/src/crewai/experimental/conversational_mixin.py
Due: ruff, ruff-format, mypy

docs: add ForAI OpenAI-compatible provider guide
  docs/docs.json
  docs/en/learn/forai.mdx
Due: none

Normalize interpolated output_file paths consistently
  lib/crewai/src/crewai/task.py
Due: ruff, ruff-format, mypy

address comments
  docs/ar/guides/flows/conversational-flows.mdx
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/src/crewai/flow/dsl/_listen.py
  lib/crewai/src/crewai/flow/flow_wrappers.py
  lib/crewai/tests/test_flow_conversation.py
Due: ruff, ruff-format, mypy

feat: add LogicNodes integration helper (requireLogicNodes)
  src/crewai/utilities/logicnodes_helper.py
Due: ruff, ruff-format, mypy
