Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

feat: add structured output support to OCI Generative AI provider
  lib/crewai/src/crewai/llms/providers/oci/completion.py
  lib/crewai/tests/llms/oci/test_oci_integration_structured.py
  lib/crewai/tests/llms/oci/test_oci_structured.py
Due: ruff, ruff-format, mypy

test: add live multimodal integration test
  lib/crewai/tests/llms/oci/test_oci_integration_multimodal.py
Due: ruff, ruff-format

feat: add multimodal support to OCI Generative AI provider
  lib/crewai/src/crewai/llms/providers/oci/__init__.py
  lib/crewai/src/crewai/llms/providers/oci/completion.py
  lib/crewai/src/crewai/llms/providers/oci/vision.py
  lib/crewai/tests/llms/oci/test_oci_multimodal.py
Due: ruff, ruff-format, mypy

feat: add tool calling support to OCI Generative AI provider
  lib/crewai/src/crewai/llms/providers/oci/completion.py
  lib/crewai/tests/llms/oci/test_oci_integration_tools.py
  lib/crewai/tests/llms/oci/test_oci_tools.py
Due: ruff, ruff-format, mypy

feat: add Cohere v2 (COHEREV2) api format support
  lib/crewai/src/crewai/llms/providers/oci/completion.py
  lib/crewai/tests/llms/oci/conftest.py
  lib/crewai/tests/llms/oci/test_oci_cohere_v2.py
  lib/crewai/tests/llms/oci/test_oci_integration_multimodal.py
Due: ruff, ruff-format, mypy

feat: add true async support to OCI provider via aiohttp
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/llms/providers/oci/completion.py
  lib/crewai/src/crewai/utilities/oci_async.py
  lib/crewai/tests/llms/oci/test_oci_async.py
Due: ruff, ruff-format, mypy

feat: add OCI Generative AI embeddings provider
  lib/crewai/src/crewai/rag/embeddings/factory.py
  lib/crewai/src/crewai/rag/embeddings/providers/oci/__init__.py
  lib/crewai/src/crewai/rag/embeddings/providers/oci/embedding_callable.py
  lib/crewai/src/crewai/rag/embeddings/providers/oci/oci_provider.py
  lib/crewai/src/crewai/rag/embeddings/providers/oci/types.py
  lib/crewai/src/crewai/rag/embeddings/types.py
  lib/crewai/tests/rag/embeddings/test_factory_oci.py
  lib/crewai/tests/rag/embeddings/test_oci_embedding_integration.py
Due: ruff, ruff-format, mypy

fix(flow): stop replaying previous turn's intent when route_turn() returns falsy (#6505)
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/tests/test_flow_conversation.py
Due: ruff, ruff-format, mypy

refactor(agent): drop lite_agent.py diff, add guardrail-retry usage test
  lib/crewai/src/crewai/lite_agent.py
  lib/crewai/tests/agents/test_lite_agent.py
Due: ruff, ruff-format, mypy

fix(agent): report per-call usage metrics on kickoff results (#6506)
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/lite_agent_output.py
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/src/crewai/types/usage_metrics.py
  lib/crewai/tests/agents/test_lite_agent.py
Due: ruff, ruff-format, mypy

fix(output): expose token usage under both names on agent and crew results (#6507)
  lib/crewai/src/crewai/crews/crew_output.py
  lib/crewai/src/crewai/lite_agent_output.py
  lib/crewai/tests/test_usage_shape_parity.py
Due: ruff, ruff-format, mypy

fix(tools): stop rewriting the authored tool description at construction (#6508)
  lib/crewai/src/crewai/tools/base_tool.py
  lib/crewai/src/crewai/tools/structured_tool.py
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/tools/test_base_tool.py
Due: ruff, ruff-format, mypy

fix(agent): preserve cache_handler-only opt-in across Agent.copy()
  lib/crewai/src/crewai/agents/agent_builder/base_agent.py
  lib/crewai/tests/test_tool_cache_default.py
Due: ruff, ruff-format, mypy

docs: add TokenLab LLM connection example
  docs/edge/en/learn/llm-connections.mdx
Due: none

fix(crew): offer the crew cache handler to the hierarchical manager
  lib/crewai/src/crewai/crew.py
  lib/crewai/tests/test_tool_cache_default.py
Due: ruff, ruff-format, mypy

fix(agent): only construction-time cache opt-ins survive Agent.copy()
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agents/agent_builder/base_agent.py
  lib/crewai/tests/test_tool_cache_default.py
Due: ruff, ruff-format, mypy

fix(tools)!: make tool-result caching opt-in instead of on by default (#6509)
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agents/agent_builder/base_agent.py
  lib/crewai/src/crewai/crew.py
  lib/crewai/tests/test_crew.py
  lib/crewai/tests/test_tool_cache_default.py
Due: ruff, ruff-format, mypy

fix(flow): don't double-append the turn reply when a handler trims history (#6510)
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/tests/test_flow_conversation.py
Due: ruff, ruff-format, mypy

docs: add Agent import to delegation example
  docs/docs.json
  docs/edge/en/guides/advanced/security-best-practices.mdx
Due: none

docs: expand security guide oversight examples
  docs/en/guides/advanced/security-best-practices.mdx
Due: none

docs: add security best practices guide for agents
  docs/docs.json
  docs/en/guides/advanced/security-best-practices.mdx
Due: none

fix(agent): recognize OpenAI Responses API tool-call shape in native tool loop
  lib/crewai/src/crewai/utilities/agent_utils.py
Due: ruff, ruff-format, mypy

test(agent_utils): cover OpenAI Responses API tool-call shape
  lib/crewai/tests/utilities/test_agent_utils.py
Due: ruff, ruff-format

fix(llms/openai): convert Chat-Completions tool messages to Responses API input items
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/llms/openai/test_openai.py
Due: ruff, ruff-format, mypy

fix(llms/openai): fix mypy list-item type error in message conversion
  lib/crewai/src/crewai/llms/providers/openai/completion.py
Due: ruff, ruff-format, mypy

fix(tools): raise ToolUsageError instead of bare raise for non-dict arguments
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/tests/tools/test_tool_usage.py
Due: ruff, ruff-format, mypy

fix: support async callables in akickoff before/after callbacks
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/crews/utils.py
  lib/crewai/tests/crew/test_async_crew.py
Due: ruff, ruff-format, mypy

fix(reasoning): word-boundary the READY markers to avoid false positives
  lib/crewai/src/crewai/utilities/reasoning_handler.py
  lib/crewai/tests/utilities/test_structured_planning.py
Due: ruff, ruff-format, mypy

fix(security): eliminate DNS rebinding TOCTOU and add SSRF validation to MCP tools
  lib/crewai-tools/src/crewai_tools/security/safe_path.py
  lib/crewai-tools/src/crewai_tools/security/safe_requests.py
  lib/crewai-tools/tests/utilities/test_safe_requests.py
  lib/crewai/src/crewai/tools/mcp_native_tool.py
  lib/crewai/src/crewai/tools/mcp_tool_wrapper.py
  lib/crewai/tests/mcp/test_mcp_ssrf.py
Due: ruff, ruff-format, mypy

fix(security): address CodeRabbit review — fix PinnedIPAdapter, extract shared MCP helpers, add native MCP test coverage
  lib/crewai-tools/src/crewai_tools/security/safe_path.py
  lib/crewai-tools/tests/utilities/test_safe_requests.py
  lib/crewai/src/crewai/tools/mcp_native_tool.py
  lib/crewai/src/crewai/tools/mcp_security.py
  lib/crewai/src/crewai/tools/mcp_tool_wrapper.py
  lib/crewai/tests/mcp/test_mcp_ssrf.py
Due: ruff, ruff-format, mypy

fix(security): address CodeRabbit review — remove invalid server_hostname kwarg, strip prose delimiters from URLs, rewrite behavioral test
  lib/crewai-tools/src/crewai_tools/security/safe_path.py
  lib/crewai-tools/tests/utilities/test_safe_requests.py
  lib/crewai/src/crewai/tools/mcp_security.py
Due: ruff, ruff-format, mypy

refactor(tests): parametrize pinned adapter tests, remove redundant imports
  lib/crewai-tools/tests/utilities/test_safe_requests.py
Due: ruff, ruff-format

fix(memory): match scope subtree with a path-boundary range, not LIKE
  lib/crewai/src/crewai/memory/storage/lancedb_storage.py
  lib/crewai/tests/memory/test_unified_memory.py
Due: ruff, ruff-format, mypy

fix: only inject cache_breakpoint for Anthropic-compatible providers
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/llms/cache.py
  lib/crewai/tests/llms/test_prompt_cache.py
Due: ruff, ruff-format, mypy

fix: support anthropic-- prefix in model name filtering
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

fix: check model support before sending json_schema response_format
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/llms/openai/test_openai.py
Due: ruff, ruff-format, mypy

fix: add upper version bounds to the x402 optional extra
  lib/crewai-tools/pyproject.toml
Due: none

fix: validate wallet key before importing optional x402 deps
  lib/crewai-tools/src/crewai_tools/tools/skim_reader_tool/skim_reader_tool.py
Due: ruff, ruff-format, mypy

fix(events): prevent UnicodeEncodeError crash on non-UTF-8 consoles
  lib/crewai/src/crewai/events/utils/console_formatter.py
  lib/crewai/tests/utilities/test_console_formatter_encoding.py
Due: ruff, ruff-format, mypy

refactor(tools): migrate stagehand example off deprecated crewai.utilities.printer
  lib/crewai-tools/src/crewai_tools/tools/stagehand_tool/example.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
