Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

fix(tools): tighten _is_base_file return type to TypeGuard[FileInput]
  lib/crewai/src/crewai/utilities/tool_files.py
Due: ruff, ruff-format, mypy

fix(tools): annotate files dict as dict[str, FileInput] for mypy
  lib/crewai/src/crewai/utilities/tool_files.py
Due: ruff, ruff-format, mypy

fix: address review comment - remove getattr fallbacks for reasoning_content
  lib/crewai/src/crewai/llms/providers/openai/completion.py
Due: ruff, ruff-format, mypy

docs: fix class-level persistence example to correctly resume state
  docs/en/guides/flows/mastering-flow-state.mdx
Due: none

docs: document SQLite storage location for flow persistence (#5372)
  docs/en/concepts/flows.mdx
Due: none

feat(crewai-tools): add EjentumHarnessTool for cognitive scaffold injection
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/ejentum_reasoning_harness_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/ejentum_reasoning_harness_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/ejentum_reasoning_harness_tool/ejentum_reasoning_harness_tool.py
  lib/crewai-tools/src/crewai_tools/tools/ejentum_reasoning_harness_tool/schemas.py
  lib/crewai-tools/tests/tools/ejentum_reasoning_harness_tool_test.py
Due: ruff, ruff-format, mypy

fix: address CodeRabbit review (strip query + add whitespace-only test)
  lib/crewai-tools/src/crewai_tools/tools/ejentum_reasoning_harness_tool/ejentum_reasoning_harness_tool.py
  lib/crewai-tools/tests/tools/ejentum_reasoning_harness_tool_test.py
Due: ruff, ruff-format, mypy

Fix #4345: exclude system scripts from reserved names so 'test' can be used as a crew name
  lib/cli/src/crewai_cli/create_crew.py
Due: ruff, ruff-format, mypy

fix(flow): log HITL pre-review and distillation failures, add learn_strict
  lib/crewai/src/crewai/flow/human_feedback.py
  lib/crewai/tests/test_human_feedback_decorator.py
Due: ruff, ruff-format, mypy

fix(deps): patch gitpython, langchain-core; ignore unpatched paramiko CVE
  .github/workflows/vulnerability-scan.yml
  lib/crewai-tools/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

fix(flow): make HITL warning text match strict-mode behavior
  lib/crewai/src/crewai/flow/human_feedback.py
Due: ruff, ruff-format, mypy

fix: rebase onto main, regenerate lockfile
  uv.lock
Due: none

fix(deps): patch urllib3 GHSA-qccp-gfcp-xxvc, GHSA-mf9v-mfxr-j63j
  pyproject.toml
  uv.lock
Due: none

improving prompt structure especially for prompt caching
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agent/utils.py
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/src/crewai/llms/cache.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/skills/loader.py
  lib/crewai/src/crewai/utilities/prompts.py
  lib/crewai/tests/llms/test_prompt_cache.py
  lib/crewai/tests/skills/test_integration.py
  lib/crewai/tests/skills/test_loader.py
Due: ruff, ruff-format, mypy

addressing comments
  lib/crewai/src/crewai/llms/cache.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/tests/llms/test_prompt_cache.py
Due: ruff, ruff-format, mypy

addressing pr comments
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/tests/agents/test_agent.py
  lib/crewai/tests/cassettes/agents/test_agent_custom_max_iterations.yaml
  lib/crewai/tests/test_crew.py
Due: ruff, ruff-format, mypy

docs: fix incorrect code example in flow state persistence guide (#5378)
  docs/en/guides/flows/mastering-flow-state.mdx
  docs/ko/guides/flows/mastering-flow-state.mdx
  lib/crewai/tests/test_flow_persistence.py
Due: ruff, ruff-format

fix(safe_eval): reject bool, cap exponent, normalize SyntaxError
  lib/cli/src/crewai_cli/templates/AGENTS.md
Due: none

fix: replace eval() with safe AST evaluator in calculator template
  lib/cli/src/crewai_cli/templates/AGENTS.md
Due: none

feat: bump versions to 1.14.5a5
  lib/cli/src/crewai_cli/__init__.py
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

fix(devtools): include crewai-core/cli/files in workspace pin rewrites
  lib/devtools/src/crewai_devtools/cli.py
  lib/devtools/tests/test_toml_updates.py
Due: ruff, ruff-format, mypy

test(devtools): use tomlkit for py3.10 compatibility
  lib/devtools/tests/test_toml_updates.py
Due: ruff, ruff-format, mypy

fix(docs): restore missing code block in pt-BR first-flow guide
  docs/pt-BR/guides/flows/first-flow.mdx
Due: none

Translate code comments to pt-BR in first-flow guide
  docs/pt-BR/guides/flows/first-flow.mdx
Due: none

docs: translate inputs.id deprecation guide to ar, ko, pt-BR
  docs/ar/guides/flows/inputs-id-deprecation.mdx
  docs/ko/guides/flows/inputs-id-deprecation.mdx
  docs/pt-BR/guides/flows/inputs-id-deprecation.mdx
Due: none

docs: add inputs.id deprecation migration guide
  docs/docs.json
  docs/en/guides/flows/inputs-id-deprecation.mdx
Due: none

docs: use restore_from_state_id as default in @persist deprecation guide
  docs/ar/guides/flows/inputs-id-deprecation.mdx
  docs/en/guides/flows/inputs-id-deprecation.mdx
  docs/ko/guides/flows/inputs-id-deprecation.mdx
  docs/pt-BR/guides/flows/inputs-id-deprecation.mdx
Due: none

fix: align prerelease pins and enforce daytona file schema constraints
  lib/cli/pyproject.toml
  lib/crewai-tools/src/crewai_tools/tools/daytona_sandbox_tool/daytona_file_tool.py
  lib/crewai-tools/tool.specs.json
  lib/crewai/pyproject.toml
Due: ruff, ruff-format, mypy

AI Agent Privacy Notice
  README.md
Due: none

docs: update changelog and version for v1.14.5a5
  docs/ar/changelog.mdx
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

feat(tools): add CoinbaseAgenticWalletTool with x402 payment support
  docs/docs.json
  docs/en/tools/automation/coinbase-agentic-wallet-tool.mdx
  docs/en/tools/automation/overview.mdx
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/coinbase_agentic_wallet_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/coinbase_agentic_wallet_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/coinbase_agentic_wallet_tool/coinbase_agentic_wallet_tool.py
  lib/crewai-tools/tests/test_coinbase_agentic_wallet_tool.py
Due: ruff, ruff-format, mypy

fix: address Coinbase Agentic Wallet review feedback
  docs/en/tools/automation/coinbase-agentic-wallet-tool.mdx
  lib/crewai-tools/src/crewai_tools/tools/coinbase_agentic_wallet_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/coinbase_agentic_wallet_tool/coinbase_agentic_wallet_tool.py
  lib/crewai-tools/tests/test_coinbase_agentic_wallet_tool.py
Due: ruff, ruff-format, mypy

test: document Coinbase Agentic Wallet tests
  lib/crewai-tools/tests/test_coinbase_agentic_wallet_tool.py
Due: ruff, ruff-format

feat(tools): add MultimodalToolResult type and files field to ToolResult
  lib/crewai/src/crewai/tools/tool_types.py
Due: ruff, ruff-format, mypy

feat(tools): export MultimodalToolResult from crewai.tools
  lib/crewai/src/crewai/tools/__init__.py
Due: ruff, ruff-format, mypy

feat(valkey): shared cache config + ValkeyCache for A2A and file uploads
  lib/crewai-files/src/crewai_files/cache/upload_cache.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/a2a/utils/agent_card.py
  lib/crewai/src/crewai/a2a/utils/task.py
  lib/crewai/src/crewai/memory/encoding_flow.py
  lib/crewai/src/crewai/memory/storage/valkey_cache.py
  lib/crewai/src/crewai/memory/storage/valkey_storage.py
  lib/crewai/src/crewai/memory/types.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/src/crewai/utilities/cache_config.py
  lib/crewai/tests/memory/storage/test_valkey_cache.py
  lib/crewai/tests/memory/storage/test_valkey_storage.py
  lib/crewai/tests/memory/storage/test_valkey_storage_errors.py
  lib/crewai/tests/memory/storage/test_valkey_storage_scope.py
  lib/crewai/tests/memory/storage/test_valkey_storage_search.py
  lib/crewai/tests/memory/test_embedding_safety.py
  lib/crewai/tests/utilities/test_cache_config.py
  pyproject.toml
  uv.lock
Due: ruff, ruff-format, mypy

fix(docs/pt-BR): replace untranslated code block placeholders
  docs/pt-BR/concepts/flows.mdx
  docs/pt-BR/guides/flows/mastering-flow-state.mdx
Due: none

fix(docs/pt-BR): address CodeRabbit review comments
  docs/ar/concepts/flows.mdx
  docs/en/concepts/flows.mdx
  docs/en/guides/flows/mastering-flow-state.mdx
  docs/ko/concepts/flows.mdx
  docs/pt-BR/concepts/flows.mdx
  docs/pt-BR/guides/flows/mastering-flow-state.mdx
Due: none

docs(crewai-tools): fix MCP connection typo
  lib/crewai-tools/README.md
Due: none

fix(valkey): post-filter metadata in _vector_search instead of @key FT clauses
  lib/crewai/src/crewai/memory/storage/valkey_storage.py
  lib/crewai/tests/memory/storage/test_valkey_storage_search.py
Due: ruff, ruff-format, mypy
