Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

test(tools): run wait async tests with anyio
  lib/crewai-tools/tests/tools/wait_tool_test.py
Due: ruff, ruff-format

feat(tools): add WebzioNewsSearchTool for Webz.io news search
  docs/docs.json
  docs/edge/ar/tools/search-research/overview.mdx
  docs/edge/ar/tools/search-research/webzionewssearchtool.mdx
  docs/edge/en/tools/search-research/overview.mdx
  docs/edge/en/tools/search-research/webzionewssearchtool.mdx
  docs/edge/ko/tools/search-research/overview.mdx
  docs/edge/ko/tools/search-research/webzionewssearchtool.mdx
  docs/edge/pt-BR/tools/search-research/overview.mdx
  docs/edge/pt-BR/tools/search-research/webzionewssearchtool.mdx
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/webzio_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/webzio_tools/webzio_news_search_tool.py
  lib/crewai-tools/tests/tools/webzio_news_search_tool_test.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy

docs(streaming): swap FlowStreamingOutput example for public Flow streaming path
  lib/crewai/src/crewai/types/streaming.py
Due: ruff, ruff-format, mypy

fix(tools): guard the Webzio MCP session lifecycle and require HTTPS
  docs/edge/ar/tools/search-research/webzionewssearchtool.mdx
  docs/edge/en/tools/search-research/webzionewssearchtool.mdx
  docs/edge/ko/tools/search-research/webzionewssearchtool.mdx
  docs/edge/pt-BR/tools/search-research/webzionewssearchtool.mdx
  lib/crewai-tools/src/crewai_tools/tools/webzio_tools/webzio_news_search_tool.py
  lib/crewai-tools/tests/tools/webzio_news_search_tool_test.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy

fix(agents): truncate fabricated continuations at the observation marker
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/utilities/test_agent_utils.py
Due: ruff, ruff-format, mypy

docs(streaming): fix streaming output docstring examples (#7286)
  lib/crewai/src/crewai/types/streaming.py
Due: ruff, ruff-format, mypy

docs: clarify that tracing is managed separately from telemetry
  docs/edge/ar/concepts/cli.mdx
  docs/edge/ar/observability/tracing.mdx
  docs/edge/ar/telemetry.mdx
  docs/edge/en/concepts/cli.mdx
  docs/edge/en/concepts/crews.mdx
  docs/edge/en/observability/tracing.mdx
  docs/edge/en/telemetry.mdx
  docs/edge/ko/observability/tracing.mdx
  docs/edge/ko/telemetry.mdx
  docs/edge/pt-BR/observability/tracing.mdx
  docs/edge/pt-BR/telemetry.mdx
Due: none

docs(events): remove stale params from handle_llm_stream_chunk docstring
  lib/crewai/src/crewai/events/utils/console_formatter.py
Due: ruff, ruff-format, mypy

docs(events): remove stale params from handle_llm_stream_chunk docstring (#7313)
  lib/crewai/src/crewai/events/utils/console_formatter.py
Due: ruff, ruff-format, mypy

fix(agents): recover fabricated continuations only for bounded inputs
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/utilities/test_agent_utils.py
Due: ruff, ruff-format, mypy

Add initial content to rakshit.md
  rakshit.md
Due: none

docs(crew): document the real _execute_tasks parameters
  lib/crewai/src/crewai/crew.py
Due: ruff, ruff-format, mypy

docs(README): update FAQ anchors after the Enterprise → AMP rename
  lib/crewai/README.md
Due: none

fix(brightdata): drop stray $ in f-string search URLs
  lib/crewai-tools/src/crewai_tools/tools/brightdata_tool/brightdata_serp.py
Due: ruff, ruff-format, mypy

docs(brightdata): fix 'occured' typos in user-visible exception messages
  lib/crewai-tools/src/crewai_tools/tools/brightdata_tool/brightdata_dataset.py
Due: ruff, ruff-format, mypy

docs(pt-BR): fix Galileo observability quickstart links
  docs/edge/pt-BR/observability/galileo.mdx
Due: none

docs(events): drop stale params from handle_llm_stream_chunk docstring
  lib/crewai/src/crewai/events/utils/console_formatter.py
Due: ruff, ruff-format, mypy

fix(llm): register official 200k context window for o1, o1-pro, and o3 (#7303)
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

fix(brightdata): drop stray $ in f-string search URLs (#7326)
  lib/crewai-tools/src/crewai_tools/tools/brightdata_tool/brightdata_serp.py
Due: ruff, ruff-format, mypy

fix(tools): bound Sprites output and support async cancellation
  docs/edge/ar/tools/ai-ml/spritestool.mdx
  docs/edge/en/tools/ai-ml/spritestool.mdx
  docs/edge/ko/tools/ai-ml/spritestool.mdx
  docs/edge/pt-BR/tools/ai-ml/spritestool.mdx
  lib/crewai-tools/src/crewai_tools/tools/sprites_tool/_execution.py
  lib/crewai-tools/src/crewai_tools/tools/sprites_tool/sprites_exec_tool.py
  lib/crewai-tools/tests/tools/test_sprites_exec_tool.py
Due: ruff, ruff-format, mypy

fix(state): persist json checkpoints as utf-8 (#7257)
  lib/crewai/src/crewai/state/provider/json_provider.py
  lib/crewai/tests/test_checkpoint.py
Due: ruff, ruff-format, mypy

fix(llm): route all DashScope models through native provider (#7234)
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/llms/openai_compatible/test_openai_compatible.py
Due: ruff, ruff-format, mypy

fix: centralize context window size resolution
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/context_window.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/llms/test_context_window.py
Due: ruff, ruff-format, mypy

fix(oxylabs): report scrape failures instead of raising IndexError
  docs/edge/ar/tools/web-scraping/oxylabsscraperstool.mdx
  docs/edge/en/tools/web-scraping/oxylabsscraperstool.mdx
  docs/edge/ko/tools/web-scraping/oxylabsscraperstool.mdx
  docs/edge/pt-BR/tools/web-scraping/oxylabsscraperstool.mdx
  lib/crewai-tools/src/crewai_tools/tools/oxylabs_amazon_product_scraper_tool/oxylabs_amazon_product_scraper_tool.py
  lib/crewai-tools/src/crewai_tools/tools/oxylabs_amazon_search_scraper_tool/oxylabs_amazon_search_scraper_tool.py
  lib/crewai-tools/src/crewai_tools/tools/oxylabs_base_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/oxylabs_base_tool/oxylabs_base_tool.py
  lib/crewai-tools/src/crewai_tools/tools/oxylabs_google_search_scraper_tool/oxylabs_google_search_scraper_tool.py
  lib/crewai-tools/src/crewai_tools/tools/oxylabs_universal_scraper_tool/oxylabs_universal_scraper_tool.py
  lib/crewai-tools/tests/tools/test_oxylabs_tools.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy

chore(oxylabs): allow the 3.x oxylabs SDK
  lib/crewai-tools/pyproject.toml
  uv.lock
Due: none

fix: address PR review comments for context windows
  lib/crewai/src/crewai/llms/context_window.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/tests/llms/openai/test_openai.py
  lib/crewai/tests/llms/test_context_window.py
Due: ruff, ruff-format, mypy

fix(oxylabs): keep concurrent scrape diagnoses apart
  lib/crewai-tools/src/crewai_tools/tools/oxylabs_base_tool/oxylabs_base_tool.py
  lib/crewai-tools/tests/tools/test_oxylabs_tools.py
Due: ruff, ruff-format, mypy

fix(files): raise ValueError from get_uploader for unknown/unconfigured providers
  lib/crewai-files/src/crewai_files/cache/cleanup.py
  lib/crewai-files/src/crewai_files/uploaders/factory.py
  lib/crewai-files/tests/test_factory.py
Due: ruff, ruff-format, mypy

fix(oxylabs): report scrape failures instead of raising IndexError (#7044)
  docs/edge/ar/tools/web-scraping/oxylabsscraperstool.mdx
  docs/edge/en/tools/web-scraping/oxylabsscraperstool.mdx
  docs/edge/ko/tools/web-scraping/oxylabsscraperstool.mdx
  docs/edge/pt-BR/tools/web-scraping/oxylabsscraperstool.mdx
  lib/crewai-tools/src/crewai_tools/tools/oxylabs_amazon_product_scraper_tool/oxylabs_amazon_product_scraper_tool.py
  lib/crewai-tools/src/crewai_tools/tools/oxylabs_amazon_search_scraper_tool/oxylabs_amazon_search_scraper_tool.py
  lib/crewai-tools/src/crewai_tools/tools/oxylabs_base_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/oxylabs_base_tool/oxylabs_base_tool.py
  lib/crewai-tools/src/crewai_tools/tools/oxylabs_google_search_scraper_tool/oxylabs_google_search_scraper_tool.py
  lib/crewai-tools/src/crewai_tools/tools/oxylabs_universal_scraper_tool/oxylabs_universal_scraper_tool.py
  lib/crewai-tools/tests/tools/test_oxylabs_tools.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy

chore(oxylabs): allow the 3.x oxylabs SDK (#7331)
  lib/crewai-tools/pyproject.toml
  uv.lock
Due: none

refactor(azure): scope context windows strictly to o1, o1-pro, and o3
  lib/crewai/src/crewai/llms/providers/azure/completion.py
Due: ruff, ruff-format, mypy

fix(agent): give each async task its own executor
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/tests/test_async_tasks_same_agent.py
Due: ruff, ruff-format, mypy

fix(mcp): remove contextvars.copy_context from ThreadPoolExecutor MCP resolver
  lib/crewai/src/crewai/mcp/tool_resolver.py
Due: ruff, ruff-format, mypy

test(agents): cover native result as answer (#7334)
  lib/crewai/tests/agents/test_agent.py
Due: ruff, ruff-format

test(agents): document result as answer coverage
  lib/crewai/tests/agents/test_agent.py
Due: ruff, ruff-format

fix: resolve CodeRabbit review comments and test conflicts
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/context_window.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/llms/openai/test_openai.py
  lib/crewai/tests/llms/test_context_window.py
Due: ruff, ruff-format, mypy

fix: rename parity test to accurately reflect registry-only coverage
  lib/crewai/tests/llms/test_context_window.py
Due: ruff, ruff-format

fix(agent): keep guardrail retries on the async path in kickoff_async
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/tests/agents/test_agent_kickoff_guardrail_async.py
Due: ruff, ruff-format, mypy
