Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

refactor: replace InstanceOf[T] with plain type annotations
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agents/agent_builder/base_agent.py
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/lite_agent.py
  lib/crewai/src/crewai/utilities/evaluators/crew_evaluator_handler.py
Due: ruff, ruff-format, mypy

refactor: convert BaseKnowledgeStorage to BaseModel
  lib/crewai/src/crewai/knowledge/storage/base_knowledge_storage.py
  lib/crewai/src/crewai/knowledge/storage/knowledge_storage.py
Due: ruff, ruff-format, mypy

fix: update tests for BaseKnowledgeStorage BaseModel conversion
  lib/crewai/tests/agents/test_agent.py
  lib/crewai/tests/rag/test_error_handling.py
Due: ruff, ruff-format

fix: correct embedder config structure in test
  lib/crewai/tests/knowledge/test_knowledge_storage_integration.py
Due: ruff, ruff-format

refactor: replace InstanceOf[T] with plain type annotations
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agents/agent_builder/base_agent.py
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/knowledge/storage/base_knowledge_storage.py
  lib/crewai/src/crewai/knowledge/storage/knowledge_storage.py
  lib/crewai/src/crewai/lite_agent.py
  lib/crewai/src/crewai/utilities/evaluators/crew_evaluator_handler.py
  lib/crewai/tests/agents/test_agent.py
  lib/crewai/tests/knowledge/test_knowledge_storage_integration.py
  lib/crewai/tests/rag/test_error_handling.py
Due: ruff, ruff-format, mypy

refactor: convert CrewAgentExecutor to BaseModel
  lib/crewai/src/crewai/agents/crew_agent_executor.py
Due: ruff, ruff-format, mypy

fix: resolve forward refs for CrewAgentExecutor BaseModel
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/agents/crew_agent_executor.py
Due: ruff, ruff-format, mypy

fix: set is_error=True when hook_blocked or max_usage_reached overrides cached result
  lib/crewai/src/crewai/agents/crew_agent_executor.py
Due: ruff, ruff-format, mypy

fix: use local `messages` variable instead of `params["messages"]` in LLM handlers
  lib/crewai/src/crewai/llm.py
Due: ruff, ruff-format, mypy

fix: add 'task' (singular) to TRACE_EXCLUDE_FIELDS
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
Due: ruff, ruff-format, mypy

fix: add safe tool execution and refactor wrapper
  lib/crewai/src/crewai/agents/agent_adapters/langgraph/langgraph_tool_adapter.py
Due: ruff, ruff-format, mypy

fix: reduce trace event serialization bloat
  lib/crewai/src/crewai/events/base_events.py
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
  lib/crewai/src/crewai/events/listeners/tracing/utils.py
  lib/crewai/src/crewai/events/types/agent_events.py
  lib/crewai/src/crewai/events/types/crew_events.py
  lib/crewai/src/crewai/events/types/llm_events.py
  lib/crewai/src/crewai/events/types/task_events.py
  lib/crewai/src/crewai/utilities/serialization.py
  lib/crewai/tests/tracing/test_trace_serialization.py
Due: ruff, ruff-format, mypy

refactor: type trace ref helpers as TypedDict
  lib/crewai/src/crewai/events/base_events.py
Due: ruff, ruff-format, mypy

chore: remove redundant callable check in to_serializable
  lib/crewai/src/crewai/utilities/serialization.py
Due: ruff, ruff-format, mypy

fix: handle plain classes and callables in to_serializable
  lib/crewai/src/crewai/utilities/serialization.py
Due: ruff, ruff-format, mypy

chore: remove unused import in test
  lib/crewai/tests/tracing/test_trace_serialization.py
Due: ruff, ruff-format

fix: add trace field serializer for agent on tool usage events
  lib/crewai/src/crewai/events/types/tool_usage_events.py
Due: ruff, ruff-format, mypy

chore: removed additional unused import in test
  lib/crewai/tests/tracing/test_trace_serialization.py
Due: ruff, ruff-format

fix: serialize Enum via .value and add trace serializer for tool usage events
  lib/crewai/src/crewai/utilities/serialization.py
Due: ruff, ruff-format, mypy

perf: optimize python dictionary iterations (SIM118)
  lib/crewai-tools/src/crewai_tools/tools/serpapi_tool/serpapi_base_tool.py
  lib/crewai/src/crewai/a2a/auth/utils.py
  lib/crewai/src/crewai/cli/settings/main.py
  lib/crewai/src/crewai/experimental/evaluation/evaluation_display.py
  lib/crewai/tests/cli/test_config.py
Due: ruff, ruff-format, mypy

chore: remove unnecessary comments in _build_event_data
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
Due: ruff, ruff-format, mypy

fix(deps): cap lancedb below 0.30.1 for Windows compatibility
  lib/crewai/pyproject.toml
  uv.lock
Due: none

docs: add SidClaw governance integration guide
  docs/en/observability/overview.mdx
  docs/en/observability/sidclaw.mdx
Due: none

feat: emit token usage data in LLMCallCompletedEvent
  lib/crewai/src/crewai/events/types/llm_events.py
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/cassettes/utilities/test_llm_completed_event_includes_usage.yaml
  lib/crewai/tests/events/test_llm_usage_event.py
  lib/crewai/tests/test_llm.py
  lib/crewai/tests/utilities/test_events.py
Due: ruff, ruff-format, mypy

perf: reduce framework overhead for NVIDIA benchmarks
  lib/crewai/src/crewai/events/event_bus.py
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
  lib/crewai/src/crewai/events/listeners/tracing/utils.py
  lib/crewai/tests/tracing/test_tracing.py
Due: ruff, ruff-format, mypy

fix: add GPT-5, o3, o4-mini to multimodal vision prefixes
  lib/crewai/src/crewai/llm.py
Due: ruff, ruff-format, mypy

fix: add warning log and prevent UnboundLocalError in MCPToolResolver._resolve_native
  lib/crewai/src/crewai/mcp/tool_resolver.py
Due: ruff, ruff-format, mypy

style: resolve type checks issues
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
Due: ruff, ruff-format, mypy

docs: add Agent Capabilities overview page and improve Skills docs
  docs/docs.json
  docs/en/concepts/agent-capabilities.mdx
  docs/en/concepts/skills.mdx
  docs/en/concepts/tools.mdx
Due: none

refactor: convert Flow to Pydantic BaseModel
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/tests/agents/test_agent_executor.py
Due: ruff, ruff-format, mypy

docs: add pt-BR and ko translations for agent-capabilities and updated skills/tools
  docs/docs.json
  docs/ko/concepts/agent-capabilities.mdx
  docs/ko/concepts/skills.mdx
  docs/ko/concepts/tools.mdx
  docs/pt-BR/concepts/agent-capabilities.mdx
  docs/pt-BR/concepts/skills.mdx
  docs/pt-BR/concepts/tools.mdx
Due: none

docs: add Arabic (ar) translations for agent-capabilities and updated skills/tools
  docs/ar/concepts/agent-capabilities.mdx
  docs/ar/concepts/skills.mdx
  docs/ar/concepts/tools.mdx
  docs/docs.json
Due: none

fix: guard _flow_post_init against double-init, log model_rebuild failures
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/flow/flow.py
Due: ruff, ruff-format, mypy

fix: use typing_extensions.TypedDict in prompts for Python < 3.12
  lib/crewai/src/crewai/utilities/prompts.py
Due: ruff, ruff-format, mypy

docs: Add Agent Capabilities overview and improve Skills documentation (#5189)
  docs/ar/concepts/agent-capabilities.mdx
  docs/ar/concepts/skills.mdx
  docs/ar/concepts/tools.mdx
  docs/docs.json
  docs/en/concepts/agent-capabilities.mdx
  docs/en/concepts/skills.mdx
  docs/en/concepts/tools.mdx
  docs/ko/concepts/agent-capabilities.mdx
  docs/ko/concepts/skills.mdx
  docs/ko/concepts/tools.mdx
  docs/pt-BR/concepts/agent-capabilities.mdx
  docs/pt-BR/concepts/skills.mdx
  docs/pt-BR/concepts/tools.mdx
Due: none

docs: fix inaccuracies in agent-capabilities across all languages
  docs/ar/concepts/agent-capabilities.mdx
  docs/en/concepts/agent-capabilities.mdx
  docs/ko/concepts/agent-capabilities.mdx
  docs/pt-BR/concepts/agent-capabilities.mdx
Due: none

docs: fix inaccuracies in agent-capabilities across all languages (#5191)
  docs/ar/concepts/agent-capabilities.mdx
  docs/en/concepts/agent-capabilities.mdx
  docs/ko/concepts/agent-capabilities.mdx
  docs/pt-BR/concepts/agent-capabilities.mdx
Due: none

fix: restore init_state is None guard in _create_initial_state
  lib/crewai/src/crewai/flow/flow.py
Due: ruff, ruff-format, mypy
