Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

fix(reasoning): extract readiness checking to helper and handle whitespace in 'not ready'
  lib/crewai/src/crewai/utilities/reasoning_handler.py
  lib/crewai/tests/utilities/test_reasoning_handler.py
Due: ruff, ruff-format, mypy

docs: add MongoDB to Rag Tool documentation
  docs/edge/en/tools/ai-ml/ragtool.mdx
Due: none

fix: preserve strict tool schema property names
  lib/crewai-files/pyproject.toml
  lib/crewai/src/crewai/utilities/pydantic_schema_utils.py
  lib/crewai/tests/utilities/test_pydantic_schema_utils.py
  pyproject.toml
  uv.lock
Due: ruff, ruff-format, mypy

fix: detect anthropic preview tool-use blocks
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/tests/llms/anthropic/test_anthropic.py
Due: ruff, ruff-format, mypy

docs: add Asqav observability integration page
  docs/docs.json
  docs/v1.13.0/en/observability/asqav.mdx
Due: none

docs: add source-review note for the GitHub install of asqav-crewai
  docs/v1.13.0/en/observability/asqav.mdx
Due: none

Add NumGuardTool: verify a number before an agent asserts it
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/numguard_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/numguard_tool/numguard_tool.py
Due: ruff, ruff-format, mypy

fix: async-safe embeddings and resilient drain_writes
  lib/crewai/src/crewai/memory/encoding_flow.py
  lib/crewai/src/crewai/memory/types.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/tests/memory/test_embedding_safety.py
Due: ruff, ruff-format, mypy

fix: harden memory tool input validation
  lib/crewai/src/crewai/tools/memory_tools.py
  lib/crewai/src/crewai/translations/en.json
  lib/crewai/tests/tools/test_memory_tools.py
  pyproject.toml
Due: ruff, ruff-format, mypy

feat(valkey): shared cache config + ValkeyCache for A2A and file uploads
  lib/crewai-files/src/crewai_files/cache/upload_cache.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/a2a/utils/agent_card.py
  lib/crewai/src/crewai/a2a/utils/task.py
  lib/crewai/src/crewai/memory/storage/valkey_cache.py
  lib/crewai/src/crewai/utilities/cache_config.py
  lib/crewai/tests/memory/storage/test_valkey_cache.py
  lib/crewai/tests/utilities/test_cache_config.py
  uv.lock
Due: ruff, ruff-format, mypy

Add client_name to GlideClientConfiguration
  lib/crewai/src/crewai/memory/storage/valkey_cache.py
Due: ruff, ruff-format, mypy

feat(valkey): shared cache config + ValkeyCache for A2A and file uploads
  lib/crewai-files/src/crewai_files/cache/upload_cache.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/a2a/utils/agent_card.py
  lib/crewai/src/crewai/a2a/utils/task.py
  lib/crewai/src/crewai/memory/encoding_flow.py
  lib/crewai/src/crewai/memory/storage/valkey_cache.py
  lib/crewai/src/crewai/memory/storage/valkey_storage.py
  lib/crewai/src/crewai/memory/types.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/src/crewai/utilities/cache_config.py
  lib/crewai/tests/memory/storage/test_valkey_cache.py
  lib/crewai/tests/memory/storage/test_valkey_storage.py
  lib/crewai/tests/memory/storage/test_valkey_storage_errors.py
  lib/crewai/tests/memory/storage/test_valkey_storage_scope.py
  lib/crewai/tests/memory/storage/test_valkey_storage_search.py
  lib/crewai/tests/memory/test_embedding_safety.py
  lib/crewai/tests/utilities/test_cache_config.py
  pyproject.toml
Due: ruff, ruff-format, mypy

chore: bump valkey-glide lower bound to >=2.4.0
  lib/crewai/pyproject.toml
Due: none

fix(types): resolve mypy 1.19.1 errors in valkey_storage
  lib/crewai/src/crewai/memory/storage/valkey_storage.py
Due: ruff, ruff-format, mypy

fix(valkey): post-filter metadata_filter instead of injecting into FT query
  lib/crewai/src/crewai/memory/storage/valkey_storage.py
  lib/crewai/tests/memory/storage/test_valkey_storage_search.py
  uv.lock
Due: ruff, ruff-format, mypy

fix: preserve strict tool schema property names (#6628)
  lib/crewai-files/pyproject.toml
  lib/crewai/src/crewai/utilities/pydantic_schema_utils.py
  lib/crewai/tests/utilities/test_pydantic_schema_utils.py
  pyproject.toml
  uv.lock
Due: ruff, ruff-format, mypy

fix: preserve typed Anthropic tool-use blocks
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/tests/llms/anthropic/test_anthropic.py
Due: ruff, ruff-format, mypy

fix: bump gitpython for vulnerability scan
  lib/crewai-tools/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

docs: clarify gitpython advisory ranges
  pyproject.toml
Due: none

fix: detect Anthropic preview tool-use blocks (#6629)
  lib/crewai-tools/pyproject.toml
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/tests/llms/anthropic/test_anthropic.py
  pyproject.toml
  uv.lock
Due: ruff, ruff-format, mypy

feat: bump versions to 1.15.6
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

ci: check doc links only on edge and latest versions
  .github/workflows/docs-broken-links.yml
Due: none

test: trigger docs link checker
  docs/edge/en/index.mdx
Due: none

feat(tools): add newsflash corroborated news event search tool
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/newsflash_news_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/newsflash_news_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/newsflash_news_tool/newsflash_news_tool.py
  lib/crewai-tools/tests/tools/newsflash_news_tool_test.py
Due: ruff, ruff-format, mypy

fix: strip cache_breakpoint from LiteLLM provider path
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/llms/test_prompt_cache.py
Due: ruff, ruff-format, mypy

feat: offer krill, the free SERPdive model
  docs/edge/en/tools/search-research/serpdivesearchtool.mdx
  lib/crewai-tools/src/crewai_tools/tools/serpdive_search_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/serpdive_search_tool/serpdive_search_tool.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy

Add MCP Toplist rank badge
  README.md
Due: none

fix: package_managers.dependabot.dependabot-missing-cooldown.dependabot-missing-cooldown security vulnerability
  .github/dependabot.yml
Due: none

fix(cli): keep generated dependency range stable
  lib/cli/src/crewai_cli/version.py
  lib/cli/tests/test_create_crew.py
  lib/cli/tests/test_version.py
Due: ruff, ruff-format, mypy

fix(cli): reject non-runnable project roots
  lib/cli/src/crewai_cli/run_crew.py
  lib/cli/tests/test_run_crew.py
Due: ruff, ruff-format, mypy

Use UTF-8 for user data JSON
  lib/crewai-core/src/crewai_core/user_data.py
  lib/crewai-core/tests/test_smoke.py
Due: ruff, ruff-format, mypy

Handle UTF-8 user data decode failures
  lib/crewai-core/src/crewai_core/user_data.py
  lib/crewai-core/tests/test_smoke.py
Due: ruff, ruff-format, mypy

feat: emit skill usage events at runtime
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/events/__init__.py
  lib/crewai/src/crewai/events/types/skill_events.py
  lib/crewai/tests/events/test_skill_usage_events.py
Due: ruff, ruff-format, mypy

test: cover skill events via execute_task paths
  lib/crewai/tests/events/test_skill_usage_events.py
Due: ruff, ruff-format

feat(llm): add Atlas Cloud provider
  lib/cli/src/crewai_cli/constants.py
  lib/cli/src/crewai_cli/create_json_crew.py
  lib/cli/src/crewai_cli/model_catalog.py
  lib/cli/tests/test_constants.py
  lib/cli/tests/test_create_crew.py
  lib/cli/tests/test_model_catalog.py
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/openai_compatible/completion.py
  lib/crewai/tests/llms/openai_compatible/test_openai_compatible.py
Due: ruff, ruff-format, mypy

test: assert skill event task identity
  lib/crewai/tests/events/test_skill_usage_events.py
Due: ruff, ruff-format

test(cli): cover Atlas Cloud model presets
  lib/cli/tests/test_model_catalog.py
Due: ruff, ruff-format, mypy

fix(deps): bump bedrock-agentcore to patch CVE-2026-16796
  lib/crewai-tools/pyproject.toml
  lib/crewai/pyproject.toml
  uv.lock
Due: none

fix(deps): bump bedrock-agentcore to patch CVE-2026-16796 (#6654)
  lib/crewai-tools/pyproject.toml
  lib/crewai/pyproject.toml
  uv.lock
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
