Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

chore: add docs on native async
  docs/en/learn/kickoff-async.mdx
Due: none

chore: add docs on native async
  docs/en/concepts/crews.mdx
  docs/en/learn/streaming-crew-execution.mdx
Due: none

chore: add docs on native async
  docs/en/concepts/crews.mdx
  docs/en/learn/kickoff-async.mdx
  docs/en/learn/streaming-crew-execution.mdx
Due: none

Changing Default Value of stop sequene
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
Due: ruff, ruff-format, mypy

Fixing the downstream logic
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
Due: ruff, ruff-format, mypy

fix and tests for chained Get issue
  lib/crewai/src/crewai/memory/storage/mem0_storage.py
  lib/crewai/tests/storage/test_mem0_storage.py
Due: ruff, ruff-format, mypy

Update docs
  docs/docs.json
Due: none

Add docs for the agent handler connector (#4012)
  docs/docs.json
  docs/en/tools/integration/mergeagenthandlertool.mdx
  docs/en/tools/integration/overview.mdx
Due: none

fix
  uv.lock
Due: none

refactor: update dependency markers in uv.lock for platform compatibility
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/crew.py
  uv.lock
Due: ruff, ruff-format, mypy

drop dupllicate
  lib/crewai/src/crewai/agent/core.py
Due: ruff, ruff-format, mypy

Fix streaming token usage tracking in OpenAI provider
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/llms/openai/test_openai.py
Due: ruff, ruff-format, mypy

feat(tools): add Sentinel Safety Tools for AI guardrails
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/sentinel_safety_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/sentinel_safety_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/sentinel_safety_tool/sentinel_safety_tool.py
  lib/crewai-tools/tests/tools/sentinel_safety_tool_test.py
Due: ruff, ruff-format, mypy

chore: add translated docs for async
  docs/ko/concepts/crews.mdx
  docs/ko/learn/kickoff-async.mdx
  docs/pt-BR/concepts/crews.mdx
  docs/pt-BR/learn/kickoff-async.mdx
Due: none

chore: add missing pages
  docs/ko/learn/streaming-crew-execution.mdx
  docs/pt-BR/learn/streaming-crew-execution.mdx
Due: none

test: enhance agent executor creation and stop word assertions
  lib/crewai/tests/agents/test_agent.py
Due: ruff, ruff-format

refactor: reorganize agent executor imports and introduce CrewAgentExecutorFlow
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agents/agent_builder/base_agent.py
  lib/crewai/src/crewai/experimental/__init__.py
  lib/crewai/src/crewai/experimental/crew_agent_executor_flow.py
  lib/crewai/src/crewai/experimental/evaluation/agent_evaluator.py
  lib/crewai/src/crewai/experimental/evaluation/base_evaluator.py
  lib/crewai/src/crewai/experimental/evaluation/experiment/runner.py
  lib/crewai/src/crewai/experimental/evaluation/metrics/goal_metrics.py
  lib/crewai/src/crewai/experimental/evaluation/metrics/reasoning_metrics.py
  lib/crewai/src/crewai/experimental/evaluation/metrics/semantic_quality_metrics.py
  lib/crewai/src/crewai/experimental/evaluation/metrics/tools_metrics.py
  lib/crewai/tests/agents/test_crew_agent_executor_flow.py
Due: ruff, ruff-format, mypy

chore: add translated docs for async
  docs/ko/concepts/crews.mdx
  docs/ko/learn/kickoff-async.mdx
  docs/ko/learn/streaming-crew-execution.mdx
  docs/pt-BR/concepts/crews.mdx
  docs/pt-BR/learn/kickoff-async.mdx
  docs/pt-BR/learn/streaming-crew-execution.mdx
Due: none

Add Merge Agent Handler to Tools page
  docs/en/concepts/tools.mdx
Due: none

fix: ensure token usage recording, validate response model on stream
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/cassettes/llms/azure/test_azure_async_conversation.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_async_multiple_calls.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_async_non_streaming.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_async_streaming_returns_usage_metrics.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_async_with_max_tokens.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_async_with_parameters.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_async_with_system_message.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_async_with_temperature.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_streaming_completion.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_streaming_returns_usage_metrics.yaml
  lib/crewai/tests/cassettes/llms/google/test_google_async_streaming_returns_usage_metrics.yaml
  lib/crewai/tests/cassettes/llms/google/test_google_streaming_returns_usage_metrics.yaml
  lib/crewai/tests/cassettes/llms/openai/test_openai_async_streaming_returns_usage_metrics.yaml
  lib/crewai/tests/cassettes/llms/openai/test_openai_streaming_returns_usage_metrics.yaml
  lib/crewai/tests/llms/azure/test_azure.py
  lib/crewai/tests/llms/azure/test_azure_async.py
  lib/crewai/tests/llms/google/test_google.py
  lib/crewai/tests/llms/google/test_google_async.py
  lib/crewai/tests/llms/openai/test_openai.py
  lib/crewai/tests/llms/openai/test_openai_async.py
  uv.lock
Due: ruff, ruff-format, mypy

chore: replace endpoint in cassettes
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/tests/cassettes/llms/azure/test_azure_async_conversation.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_async_multiple_calls.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_async_non_streaming.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_async_streaming_returns_usage_metrics.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_async_with_max_tokens.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_async_with_parameters.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_async_with_system_message.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_async_with_temperature.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_streaming_completion.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_streaming_returns_usage_metrics.yaml
Due: ruff, ruff-format, mypy

chore: skip tests with decompression issues
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

fix: handle missing signals on Windows (SIGHUP, SIGTSTP, SIGCONT)
  lib/crewai/src/crewai/events/types/system_events.py
  lib/crewai/src/crewai/telemetry/telemetry.py
  lib/crewai/tests/events/types/test_system_events.py
  lib/crewai/tests/telemetry/test_telemetry.py
Due: ruff, ruff-format, mypy

fix: use isolated module loading in Windows compatibility tests
  lib/crewai/tests/events/types/test_system_events.py
  lib/crewai/tests/telemetry/test_telemetry.py
Due: ruff, ruff-format

fix: format tool arguments as valid JSON in system prompts
  lib/crewai/src/crewai/tools/base_tool.py
  lib/crewai/tests/tools/test_base_tool.py
Due: ruff, ruff-format, mypy

fix: ensure proper json schema for tool args, move pydantic utils
  lib/crewai/src/crewai/agent/utils.py
  lib/crewai/src/crewai/agents/agent_adapters/base_converter_adapter.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/src/crewai/tools/base_tool.py
  lib/crewai/src/crewai/utilities/converter.py
  lib/crewai/src/crewai/utilities/pydantic_schema_utils.py
  lib/crewai/tests/tools/test_base_tool.py
Due: ruff, ruff-format, mypy

fix: check platform compat for windows signals
  lib/crewai/src/crewai/events/types/system_events.py
  lib/crewai/src/crewai/telemetry/telemetry.py
  lib/crewai/tests/events/types/test_system_events.py
Due: ruff, ruff-format, mypy

chore: update test assumption
  lib/crewai/tests/tools/test_tool_usage.py
Due: ruff, ruff-format

feat: improve tool arg schema collection
  lib/crewai/src/crewai/tools/base_tool.py
Due: ruff, ruff-format, mypy

fix: add check for VAR_POSITIONAL, VAR_KEYWORD
  lib/crewai/src/crewai/tools/base_tool.py
Due: ruff, ruff-format, mypy

feat: add support for streaming tool call events
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
Due: ruff, ruff-format, mypy

fix: set rpm controller timer as daemon to prevent process hang
  lib/crewai/src/crewai/utilities/rpm_controller.py
Due: ruff, ruff-format, mypy

azure: support TokenCredential and DefaultAzureCredential in AzureCompletion
  lib/crewai/src/crewai/llms/providers/azure/completion.py
Due: ruff, ruff-format, mypy

feat: Add Azure AD token authentication support for Azure provider
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/tests/llms/azure/test_azure.py
Due: ruff, ruff-format, mypy

azure: fix credential resolution - prefer AZURE_AD_TOKEN over AZURE_API_KEY env and distinguish explicit API key
  lib/crewai/src/crewai/llms/providers/azure/completion.py
Due: ruff, ruff-format, mypy

tests(azure): add tests asserting AZURE_AD_TOKEN precedence and adjust error message; skip when azure ai sdk not installed
  lib/crewai/tests/llms/azure/test_azure.py
Due: ruff, ruff-format

fix: gracefully terminate the future when executing a task async
  lib/crewai/src/crewai/task.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/)
