Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

fix: use endpoint-scoped task IDs for A2A delegations
  lib/crewai/src/crewai/a2a/wrapper.py
  lib/crewai/tests/agents/test_a2a_multiple_endpoints.py
Due: ruff, ruff-format, mypy

fix: address Bugbot feedback - prevent in-place mutation and don't persist completed task IDs
  lib/crewai/src/crewai/a2a/wrapper.py
  lib/crewai/tests/agents/test_a2a_multiple_endpoints.py
Due: ruff, ruff-format, mypy

fix: handle None value for a2a_task_ids_by_endpoint in config
  lib/crewai/src/crewai/a2a/wrapper.py
Due: ruff, ruff-format, mypy

Fix token tracking issues in async tasks and agent metrics
  lib/crewai/src/crewai/crew.py
Due: ruff, ruff-format, mypy

Fix async task token tracking race condition
  lib/crewai/src/crewai/crew.py
Due: ruff, ruff-format, mypy

Fix late-binding closure in async task wrapper
  lib/crewai/src/crewai/crew.py
Due: ruff, ruff-format, mypy

Fix token tracking race condition in threading-based async execution
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/task.py
  lib/crewai/tests/test_crew.py
Due: ruff, ruff-format, mypy

Fix inconsistent per-agent dictionary keys and document threading limitation
  lib/crewai/src/crewai/crew.py
Due: ruff, ruff-format, mypy

Fix lint errors (B023, W293, B007, PERF102)
  lib/crewai/src/crewai/crew.py
Due: ruff, ruff-format, mypy

Fix threading race condition for async task token tracking
  lib/crewai/src/crewai/crew.py
Due: ruff, ruff-format, mypy

Fix W293 lint errors in task.py docstrings
  lib/crewai/src/crewai/task.py
Due: ruff, ruff-format, mypy

Fix W293 lint errors in usage_metrics.py docstrings
  lib/crewai/src/crewai/types/usage_metrics.py
Due: ruff, ruff-format, mypy

fix: track token usage in litellm non-streaming and async calls
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/llms/litellm/test_litellm_token_usage.py
Due: ruff, ruff-format, mypy

Adding usage info everywhere
  lib/crewai/src/crewai/llm.py
Due: ruff, ruff-format, mypy

Changing the check
  lib/crewai/src/crewai/llm.py
Due: ruff, ruff-format, mypy

Changing the logic
  lib/crewai/src/crewai/llm.py
Due: ruff, ruff-format, mypy

fix(flow): use __router_paths__ for listener routers
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/tests/test_human_feedback_decorator.py
Due: ruff, ruff-format, mypy

implementing different a2a transport
  lib/crewai/src/crewai/a2a/config.py
  lib/crewai/src/crewai/a2a/utils.py
  lib/crewai/src/crewai/a2a/wrapper.py
Due: ruff, ruff-format, mypy

PR fix
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/memory/storage/mem0_storage.py
  lib/crewai/tests/storage/test_mem0_storage.py
Due: ruff, ruff-format, mypy

Adding tests
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format

Adding casellets
  lib/crewai/tests/cassettes/test_usage_info_non_streaming_with_call.yaml
  lib/crewai/tests/cassettes/test_usage_info_streaming_with_call.yaml
Due: none

Minor change
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format

fix: ensure proper id tracking in tool streaming
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/cassettes/llms/TestMixedStreamingEvents.test_streaming_distinguishes_text_and_tool_calls.yaml
  lib/crewai/tests/cassettes/llms/TestOpenAIToolCallStreaming.test_openai_streaming_emits_tool_call_events.yaml
  lib/crewai/tests/cassettes/llms/TestToolCallStreamingEventStructure.test_tool_call_event_accumulates_arguments.yaml
  lib/crewai/tests/cassettes/llms/TestToolCallStreamingEventStructure.test_tool_call_events_have_consistent_tool_id.yaml
  lib/crewai/tests/llms/test_tool_call_streaming.py
Due: ruff, ruff-format, mypy

Fixing testcase
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format

remove the duplicated test case, thanks to cursor
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format

docs: add VerifierAgent pattern for output verification
  .gitignore
  docs/examples/verification/verifier_agent_crew.md
  docs/examples/verification/verifier_agent_crew.py
Due: ruff, ruff-format, mypy

fix: use openai style id tracking for azure tool stream
  lib/crewai/src/crewai/llms/providers/azure/completion.py
Due: ruff, ruff-format, mypy

chore: restore original .gitignore
  .gitignore
Due: none

fix: tool calling for gemini, streaming tests
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/tests/cassettes/llms/TestGeminiToolCallStreaming.test_gemini_streaming_emits_tool_call_events.yaml
  lib/crewai/tests/cassettes/llms/TestGeminiToolCallStreaming.test_gemini_streaming_multiple_tool_calls_unique_ids.yaml
  lib/crewai/tests/llms/test_tool_call_streaming.py
Due: ruff, ruff-format, mypy

chore: add anthropic tests
  lib/crewai/tests/cassettes/llms/TestAnthropicToolCallStreaming.test_anthropic_streaming_emits_tool_call_events.yaml
  lib/crewai/tests/llms/test_tool_call_streaming.py
Due: ruff, ruff-format

chore: generate azure cassettes
  lib/crewai/tests/cassettes/llms/TestAzureToolCallStreaming.test_azure_streaming_emits_tool_call_events.yaml
Due: none

chore: fix azure cassette uri
  lib/crewai/tests/cassettes/llms/TestAzureToolCallStreaming.test_azure_streaming_emits_tool_call_events.yaml
Due: none

ensure task-bound tools propagate in hierarchical mode
  lib/crewai/src/crewai/crew.py
Due: ruff, ruff-format, mypy

feat: add streaming tool call events; fix provider id tracking; add tests and cassettes
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/cassettes/llms/TestAnthropicToolCallStreaming.test_anthropic_streaming_emits_tool_call_events.yaml
  lib/crewai/tests/cassettes/llms/TestAzureToolCallStreaming.test_azure_streaming_emits_tool_call_events.yaml
  lib/crewai/tests/cassettes/llms/TestGeminiToolCallStreaming.test_gemini_streaming_emits_tool_call_events.yaml
  lib/crewai/tests/cassettes/llms/TestGeminiToolCallStreaming.test_gemini_streaming_multiple_tool_calls_unique_ids.yaml
  lib/crewai/tests/cassettes/llms/TestMixedStreamingEvents.test_streaming_distinguishes_text_and_tool_calls.yaml
  lib/crewai/tests/cassettes/llms/TestOpenAIToolCallStreaming.test_openai_streaming_emits_tool_call_events.yaml
  lib/crewai/tests/cassettes/llms/TestToolCallStreamingEventStructure.test_tool_call_event_accumulates_arguments.yaml
  lib/crewai/tests/cassettes/llms/TestToolCallStreamingEventStructure.test_tool_call_events_have_consistent_tool_id.yaml
  lib/crewai/tests/llms/test_tool_call_streaming.py
Due: ruff, ruff-format, mypy

whoop no print
  lib/crewai/src/crewai/events/event_bus.py
Due: ruff, ruff-format, mypy

docs: expand OpenRouter documentation with comprehensive examples
  docs/en/concepts/llms.mdx
Due: none

feat: add update mechanism config structure
  lib/crewai/src/crewai/a2a/updates/__init__.py
  lib/crewai/src/crewai/a2a/updates/polling/__init__.py
  lib/crewai/src/crewai/a2a/updates/polling/config.py
  lib/crewai/src/crewai/a2a/updates/push_notifications/__init__.py
  lib/crewai/src/crewai/a2a/updates/push_notifications/config.py
  lib/crewai/src/crewai/a2a/updates/streaming/__init__.py
  lib/crewai/src/crewai/a2a/updates/streaming/config.py
Due: ruff, ruff-format, mypy

feat: add shared task helpers and error types
  lib/crewai/src/crewai/a2a/errors.py
  lib/crewai/src/crewai/a2a/task_helpers.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/)
