Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

feat: add OCI Generative AI embeddings provider
  lib/crewai/src/crewai/rag/embeddings/factory.py
  lib/crewai/src/crewai/rag/embeddings/providers/oci/__init__.py
  lib/crewai/src/crewai/rag/embeddings/providers/oci/embedding_callable.py
  lib/crewai/src/crewai/rag/embeddings/providers/oci/oci_provider.py
  lib/crewai/src/crewai/rag/embeddings/providers/oci/types.py
  lib/crewai/src/crewai/rag/embeddings/types.py
  lib/crewai/tests/rag/embeddings/test_factory_oci.py
  lib/crewai/tests/rag/embeddings/test_oci_embedding_integration.py
Due: ruff, ruff-format, mypy

feat: add structured output support to OCI Generative AI provider
  lib/crewai/src/crewai/llms/providers/oci/completion.py
  lib/crewai/tests/llms/oci/test_oci_integration_structured.py
  lib/crewai/tests/llms/oci/test_oci_structured.py
Due: ruff, ruff-format, mypy

refactor: remove supports_function_calling and supports_stop_words
  lib/crewai/src/crewai/llms/providers/oci/completion.py
Due: ruff, ruff-format, mypy

feat: add multimodal support to OCI Generative AI provider
  lib/crewai/src/crewai/llms/providers/oci/__init__.py
  lib/crewai/src/crewai/llms/providers/oci/completion.py
  lib/crewai/src/crewai/llms/providers/oci/vision.py
  lib/crewai/tests/llms/oci/test_oci_multimodal.py
Due: ruff, ruff-format, mypy

feat: add tool calling support to OCI Generative AI provider
  lib/crewai/src/crewai/llms/providers/oci/completion.py
  lib/crewai/tests/llms/oci/test_oci_integration_tools.py
  lib/crewai/tests/llms/oci/test_oci_tools.py
Due: ruff, ruff-format, mypy

cleanup: remove unused imports and dead code
  lib/crewai/src/crewai/llms/providers/oci/completion.py
Due: ruff, ruff-format, mypy

feat: add true async support to OCI provider via aiohttp
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/llms/providers/oci/completion.py
  lib/crewai/src/crewai/utilities/oci_async.py
  lib/crewai/tests/llms/oci/test_oci_async.py
Due: ruff, ruff-format, mypy

fix: return False from supports_function_calling until tool PR
  lib/crewai/src/crewai/llms/providers/oci/completion.py
Due: ruff, ruff-format, mypy

fix: use model_lower consistently in OCI pattern check
  lib/crewai/src/crewai/llm.py
Due: ruff, ruff-format, mypy

feat: add OCI Generative AI provider — basic text completion
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/oci/__init__.py
  lib/crewai/src/crewai/llms/providers/oci/completion.py
  lib/crewai/src/crewai/utilities/oci.py
  lib/crewai/tests/llms/oci/__init__.py
  lib/crewai/tests/llms/oci/conftest.py
  lib/crewai/tests/llms/oci/test_oci.py
  lib/crewai/tests/llms/oci/test_oci_integration_basic.py
Due: ruff, ruff-format, mypy

docs(oci): add docstrings to OCICompletion methods
  lib/crewai/src/crewai/llms/providers/oci/completion.py
Due: ruff, ruff-format, mypy

fix(optimizers): address CodeRabbit review findings on DSPyOptimizer
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/agents/agent_builder/base_agent.py
  lib/crewai/src/crewai/events/types/optimizer_events.py
  lib/crewai/src/crewai/optimizers/dspy_optimizer.py
  lib/crewai/tests/optimizers/test_dspy_optimizer.py
  uv.lock
Due: ruff, ruff-format, mypy

fix(events): remove OptimizationTrialCompletedEvent from public types contract
  lib/crewai/src/crewai/events/types/__init__.py
  lib/crewai/tests/optimizers/test_dspy_optimizer.py
Due: ruff, ruff-format, mypy

fix(tests): replace brittle received[0] with filtered next() in event assertions
  lib/crewai/tests/optimizers/test_dspy_optimizer.py
Due: ruff, ruff-format

docs(optimizers): add docstrings to reach 80% coverage threshold
  lib/crewai/src/crewai/events/types/optimizer_events.py
  lib/crewai/src/crewai/optimizers/__init__.py
  lib/crewai/src/crewai/optimizers/dspy_optimizer.py
  lib/crewai/src/crewai/optimizers/types.py
  lib/crewai/tests/agents/test_agent_instruction_api.py
  lib/crewai/tests/optimizers/test_dspy_optimizer.py
Due: ruff, ruff-format, mypy

fix(tests): tighten completion-event assertion to validate payload fields
  lib/crewai/tests/optimizers/test_dspy_optimizer.py
Due: ruff, ruff-format

fix: relax opentelemetry version constraints to avoid conflicts with openlit
  lib/crewai-core/pyproject.toml
  lib/crewai/pyproject.toml
  lib/crewai/tests/telemetry/test_opentelemetry_compatibility.py
Due: ruff, ruff-format

test(optimizers): validate version_id is a well-formed UUID4
  lib/crewai/tests/optimizers/test_dspy_optimizer.py
Due: ruff, ruff-format

chore: deprecate function_calling_llm field
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agents/agent_adapters/langgraph/langgraph_adapter.py
  lib/crewai/src/crewai/agents/agent_adapters/openai_agents/openai_adapter.py
  lib/crewai/src/crewai/crew.py
Due: ruff, ruff-format, mypy

chore(devtools): skip pinning crewai-files in file-processing extra
  lib/devtools/src/crewai_devtools/cli.py
  lib/devtools/tests/test_toml_updates.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.14.5a7
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

chore: ensure files not pinned
  lib/crewai/pyproject.toml
Due: none

fix: widen opentelemetry dependency range to resolve OpenLIT conflict
  lib/crewai-core/pyproject.toml
  lib/crewai/pyproject.toml
Due: none

docs: update changelog and version for v1.14.5a7
  docs/ar/changelog.mdx
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

fix: YoutubeChannelSearchTool fails for valid handles and URLs
  lib/crewai-tools/src/crewai_tools/rag/loaders/youtube_channel_loader.py
  lib/crewai-tools/src/crewai_tools/tools/youtube_channel_search_tool/youtube_channel_search_tool.py
Due: ruff, ruff-format, mypy

fix: memory leak in git.py by using cached_property
  lib/cli/src/crewai_cli/git.py
Due: ruff, ruff-format, mypy

fix: trim whitespace and case-insensitive URL detection
  lib/crewai-tools/src/crewai_tools/rag/loaders/youtube_channel_loader.py
  lib/crewai-tools/src/crewai_tools/tools/youtube_channel_search_tool/youtube_channel_search_tool.py
Due: ruff, ruff-format, mypy

feat(a2a): add optional signature verification to AgentCard fetch
  lib/crewai/src/crewai/a2a/utils/agent_card.py
Due: ruff, ruff-format, mypy

test: re-record test_hierarchical_verbose_false_manager_agent cassette
  lib/crewai/tests/cassettes/test_hierarchical_verbose_false_manager_agent.yaml
Due: none

fix(optimizers): address CodeRabbit review findings on PR #5853
  lib/crewai/src/crewai/optimizers/dspy_optimizer.py
  lib/crewai/tests/optimizers/test_dspy_optimizer.py
Due: ruff, ruff-format, mypy

docs(optimizers): add DSPy optimization docs page and example notebook
  docs/docs.json
  docs/en/concepts/dspy-optimization.mdx
  examples/dspy_optimization.ipynb
Due: none

fix(docs): address CodeRabbit review findings on PR #5853
  docs/en/concepts/dspy-optimization.mdx
  examples/dspy_optimization.ipynb
Due: none

feat: bump versions to 1.14.5
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

docs: update changelog and version for v1.14.5
  docs/ar/changelog.mdx
  docs/docs.json
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

docs: remove {" "} JSX expressions breaking <Steps> render
  docs/ar/enterprise/guides/enable-crew-studio.mdx
  docs/ar/learn/llm-selection-guide.mdx
  docs/en/enterprise/guides/enable-crew-studio.mdx
  docs/en/learn/llm-selection-guide.mdx
  docs/ko/enterprise/guides/enable-crew-studio.mdx
  docs/ko/learn/llm-selection-guide.mdx
  docs/pt-BR/enterprise/guides/enable-crew-studio.mdx
  docs/pt-BR/learn/llm-selection-guide.mdx
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
