Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock

fix: ensure instrumentation flags
  lib/crewai/src/crewai/events/listeners/tracing/utils.py
  lib/crewai/tests/agents/test_agent.py
  lib/crewai/tests/cassettes/test_agent_moved_on_after_max_iterations.yaml
  lib/crewai/tests/cassettes/test_agent_with_only_crewai_knowledge.yaml
  lib/crewai/tests/cassettes/test_llm_call.yaml
  lib/crewai/tests/tracing/test_tracing.py
Due: ruff, ruff-format, mypy

fix: check ordering for disable traces
  lib/crewai/src/crewai/events/listeners/tracing/first_time_trace_handler.py
  lib/crewai/src/crewai/events/listeners/tracing/trace_batch_manager.py
  lib/crewai/src/crewai/events/listeners/tracing/utils.py
Due: ruff, ruff-format, mypy

fix: ensure check on trace collection listener
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/src/crewai/events/listeners/tracing/trace_batch_manager.py
Due: ruff, ruff-format, mypy

WIP gh pr refactor: update agent executor handling and introduce flow-based executor
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agents/agent_builder/base_agent.py
  lib/crewai/src/crewai/agents/crew_agent_executor_flow.py
  lib/crewai/src/crewai/crew.py
  lib/crewai/tests/agents/test_crew_agent_executor_flow.py
Due: ruff, ruff-format, mypy

fix: consolidate conditional check to contextvar, add docs, cli command
  docs/en/concepts/cli.mdx
  lib/crewai/src/crewai/cli/cli.py
  lib/crewai/src/crewai/cli/settings/main.py
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/src/crewai/events/listeners/tracing/first_time_trace_handler.py
  lib/crewai/src/crewai/events/listeners/tracing/trace_batch_manager.py
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
  lib/crewai/src/crewai/events/listeners/tracing/utils.py
  lib/crewai/src/crewai/events/utils/console_formatter.py
  lib/crewai/src/crewai/flow/flow.py
Due: ruff, ruff-format, mypy

fix: propagate contextvars
  lib/crewai/src/crewai/events/event_bus.py
  lib/crewai/src/crewai/events/listeners/tracing/utils.py
Due: ruff, ruff-format, mypy

chore: add tests, cassettes
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/events/listeners/tracing/first_time_trace_handler.py
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
  lib/crewai/src/crewai/events/utils/console_formatter.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/tests/cassettes/TestTraceEnableDisable.test_no_http_calls_when_disabled_via_env.yaml
  lib/crewai/tests/cassettes/TestTraceEnableDisable.test_no_http_calls_when_disabled_via_tracing_false.yaml
  lib/crewai/tests/cassettes/TestTraceEnableDisable.test_trace_calls_when_enabled_via_env.yaml
  lib/crewai/tests/cassettes/TestTraceEnableDisable.test_trace_calls_when_enabled_via_tracing_true.yaml
  lib/crewai/tests/cassettes/test_save_task_pydantic_output.yaml
  lib/crewai/tests/test_task.py
  lib/crewai/tests/tracing/test_trace_enable_disable.py
Due: ruff, ruff-format, mypy

chore: remove unused hooks test file
  tests/hooks/__init__.py
Due: ruff, ruff-format, mypy

chore: add tests, cassettes
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/events/listeners/tracing/first_time_trace_handler.py
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
  lib/crewai/src/crewai/events/utils/console_formatter.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/tests/cassettes/TestTraceEnableDisable.test_no_http_calls_when_disabled_via_env.yaml
  lib/crewai/tests/cassettes/TestTraceEnableDisable.test_no_http_calls_when_disabled_via_tracing_false.yaml
  lib/crewai/tests/cassettes/TestTraceEnableDisable.test_trace_calls_when_enabled_via_env.yaml
  lib/crewai/tests/cassettes/TestTraceEnableDisable.test_trace_calls_when_enabled_via_tracing_true.yaml
  lib/crewai/tests/cassettes/test_save_task_pydantic_output.yaml
  lib/crewai/tests/test_task.py
  lib/crewai/tests/tracing/test_trace_enable_disable.py
  lib/crewai/tests/tracing/test_tracing.py
Due: ruff, ruff-format, mypy

fix: ensure instrumentation flags
  docs/en/concepts/cli.mdx
  lib/crewai/src/crewai/cli/cli.py
  lib/crewai/src/crewai/cli/settings/main.py
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/events/event_bus.py
  lib/crewai/src/crewai/events/listeners/tracing/first_time_trace_handler.py
  lib/crewai/src/crewai/events/listeners/tracing/trace_batch_manager.py
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
  lib/crewai/src/crewai/events/listeners/tracing/utils.py
  lib/crewai/src/crewai/events/utils/console_formatter.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/tests/agents/test_agent.py
  lib/crewai/tests/cassettes/TestTraceEnableDisable.test_no_http_calls_when_disabled_via_env.yaml
  lib/crewai/tests/cassettes/TestTraceEnableDisable.test_no_http_calls_when_disabled_via_tracing_false.yaml
  lib/crewai/tests/cassettes/TestTraceEnableDisable.test_trace_calls_when_enabled_via_env.yaml
  lib/crewai/tests/cassettes/TestTraceEnableDisable.test_trace_calls_when_enabled_via_tracing_true.yaml
  lib/crewai/tests/cassettes/test_agent_moved_on_after_max_iterations.yaml
  lib/crewai/tests/cassettes/test_agent_with_only_crewai_knowledge.yaml
  lib/crewai/tests/cassettes/test_llm_call.yaml
  lib/crewai/tests/cassettes/test_save_task_pydantic_output.yaml
  lib/crewai/tests/test_task.py
  lib/crewai/tests/tracing/test_trace_enable_disable.py
  lib/crewai/tests/tracing/test_tracing.py
Due: ruff, ruff-format, mypy

chore: remove unused hooks test file (#3923)
  tests/hooks/__init__.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.5.0
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

chore: update crewAI tools dependency to version 1.5.0 in project templates
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
Due: none

feat: bump versions to 1.5.0 (#3924)
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

Fix hierarchical delegation language-agnostic tool matching
  lib/crewai/src/crewai/agents/agent_builder/base_agent_executor_mixin.py
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/tests/tools/test_tool_usage.py
Due: ruff, ruff-format, mypy

Fix lint errors: remove trailing whitespace from docstrings
  lib/crewai/src/crewai/tools/tool_usage.py
Due: ruff, ruff-format, mypy

Fix test bug: set cache return value to None for delegation counting test
  lib/crewai/tests/tools/test_tool_usage.py
Due: ruff, ruff-format

Fix test instantiation issues: use description parameter instead of i18n mock
  lib/crewai/tests/tools/test_tool_usage.py
Due: ruff, ruff-format

Fix A2A LLM parameter forwarding in InternalInstructor
  lib/crewai/src/crewai/utilities/internal_instructor.py
Due: ruff, ruff-format, mypy

Remove unused type ignore comment
  lib/crewai/src/crewai/utilities/internal_instructor.py
Due: ruff, ruff-format, mypy

Fix: Handle context: None in YAML task configuration (#3929)
  lib/crewai/src/crewai/project/crew_base.py
  lib/crewai/src/crewai/utilities/config.py
  lib/crewai/tests/project/test_crew_base_context_none.py
  lib/crewai/tests/utilities/test_config.py
Due: ruff, ruff-format, mypy

Trigger CI re-run
  lib/crewai/tests/utilities/test_config.py
Due: ruff, ruff-format

Fix test failures in test_config.py
  lib/crewai/tests/utilities/test_config.py
Due: ruff, ruff-format

fix: add Flow verbose parameter to disable output
  docs/en/concepts/flows.mdx
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/src/crewai/events/utils/console_formatter.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/tests/test_flow_verbose.py
Due: ruff, ruff-format, mypy

Adding test case
  lib/crewai/tests/llms/azure/test_azure.py
Due: ruff, ruff-format

Just some spacing addition
  lib/crewai/tests/llms/azure/test_azure.py
Due: ruff, ruff-format

Fix: Load .env before importing crew module in chat command
  lib/crewai/src/crewai/cli/crew_chat.py
  lib/crewai/tests/cli/test_crew_chat_env_loading.py
Due: ruff, ruff-format, mypy

Fix: Add multimodal tools support in Agent.kickoff() and kickoff_async()
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/tests/agents/test_agent_multimodal_kickoff.py
Due: ruff, ruff-format, mypy

Fix test: Use valid MCP reference in test_agent_kickoff_async_includes_platform_and_mcp_tools
  lib/crewai/tests/agents/test_agent_multimodal_kickoff.py
Due: ruff, ruff-format

Stop passing invalid argument during SSE client initialization
  lib/crewai/src/crewai/mcp/transports/sse.py
Due: ruff, ruff-format, mypy

Fix SSE transport invalid parameter issue
  lib/crewai/src/crewai/mcp/transports/sse.py
  lib/crewai/tests/mcp/test_agent_mcp_error_handling.py
  lib/crewai/tests/mcp/transports/__init__.py
  lib/crewai/tests/mcp/transports/test_sse_transport.py
Due: ruff, ruff-format, mypy

Add storage isolation to MCP tests to prevent interference
  lib/crewai/tests/mcp/test_agent_mcp_error_handling.py
  lib/crewai/tests/mcp/transports/test_sse_transport.py
Due: ruff, ruff-format

wip
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agents/crew_agent_executor_flow.py
Due: ruff, ruff-format, mypy

Adding drop params to maintain consistency
  lib/crewai/src/crewai/llms/providers/azure/completion.py
Due: ruff, ruff-format, mypy

chore: add backward compat on model name aliases
  lib/crewai/src/crewai/rag/embeddings/factory.py
  lib/crewai/src/crewai/rag/embeddings/providers/aws/bedrock.py
  lib/crewai/src/crewai/rag/embeddings/providers/cohere/cohere_provider.py
  lib/crewai/src/crewai/rag/embeddings/providers/google/generative_ai.py
  lib/crewai/src/crewai/rag/embeddings/providers/google/vertex.py
  lib/crewai/src/crewai/rag/embeddings/providers/instructor/instructor_provider.py
  lib/crewai/src/crewai/rag/embeddings/providers/jina/jina_provider.py
  lib/crewai/src/crewai/rag/embeddings/providers/microsoft/azure.py
  lib/crewai/src/crewai/rag/embeddings/providers/ollama/ollama_provider.py
  lib/crewai/src/crewai/rag/embeddings/providers/openai/openai_provider.py
  lib/crewai/src/crewai/rag/embeddings/providers/openclip/openclip_provider.py
  lib/crewai/src/crewai/rag/embeddings/providers/sentence_transformer/sentence_transformer_provider.py
  lib/crewai/src/crewai/rag/embeddings/providers/text2vec/text2vec_provider.py
Due: ruff, ruff-format, mypy

chore: add tests for config changes
  lib/crewai/tests/rag/embeddings/test_backward_compatibility.py
Due: ruff, ruff-format

feat: Add turnkey Windows 11 local LLM setup for Ollama
  .env.example
  START_HERE.txt
  WINDOWS_SETUP.md
  install_models.bat
  run_example.bat
  setup_windows.bat
  start_ollama.bat
  test_ollama.bat
  windows_local_example/.gitignore
  windows_local_example/config/agents.yaml
  windows_local_example/config/tasks.yaml
  windows_local_example/main.py
  windows_local_example/requirements.txt
Due: ruff, ruff-format, mypy

Add Entra ID provider
  lib/crewai/src/crewai/cli/authentication/main.py
  lib/crewai/src/crewai/cli/authentication/providers/base_provider.py
  lib/crewai/src/crewai/cli/authentication/providers/entra_id.py
  lib/crewai/src/crewai/cli/authentication/utils.py
  lib/crewai/src/crewai/cli/tools/main.py
Due: ruff, ruff-format, mypy

Fix get_audience method
  lib/crewai/src/crewai/cli/authentication/providers/entra_id.py
Due: ruff, ruff-format, mypy
