Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

Use custom format_output_for_agent override for tool output
  docs/edge/en/concepts/tools.mdx
  docs/edge/en/guides/tools/publish-custom-tools.mdx
  docs/edge/en/learn/create-custom-tools.mdx
  lib/crewai/src/crewai/tools/structured_tool.py
  lib/crewai/tests/tools/test_base_tool.py
  lib/crewai/tests/utilities/test_agent_utils.py
Due: ruff, ruff-format, mypy

Expose raw tool result to after_tool_call hooks
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/agents/tools_handler.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/hooks/tool_hooks.py
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/src/crewai/utilities/tool_utils.py
  lib/crewai/tests/agents/test_native_tool_calling.py
  lib/crewai/tests/hooks/test_tool_hooks.py
  lib/crewai/tests/tools/test_tool_usage.py
  lib/crewai/tests/utilities/test_agent_utils.py
Due: ruff, ruff-format, mypy

Address code review comments
  docs/edge/en/concepts/tools.mdx
  docs/edge/en/guides/tools/publish-custom-tools.mdx
  docs/edge/en/learn/create-custom-tools.mdx
  docs/edge/en/learn/execution-hooks.mdx
  docs/edge/en/learn/tool-hooks.mdx
  lib/crewai-tools/src/crewai_tools/tools/tavily_research_tool/tavily_research_tool.py
  lib/crewai-tools/tests/tools/tavily_research_tool_test.py
  lib/crewai-tools/tool.specs.json
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/tools/structured_tool.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/tools/test_structured_tool.py
Due: ruff, ruff-format, mypy

Add tool output schema docs
  docs/edge/en/concepts/tools.mdx
  docs/edge/en/guides/tools/publish-custom-tools.mdx
  docs/edge/en/learn/create-custom-tools.mdx
  docs/edge/en/learn/execution-hooks.mdx
  docs/edge/en/learn/tool-hooks.mdx
Due: none

Add typed output schemas for tools
  lib/crewai/src/crewai/tools/base_tool.py
  lib/crewai/src/crewai/tools/structured_tool.py
  lib/crewai/tests/tools/test_base_tool.py
  lib/crewai/tests/tools/test_structured_tool.py
Due: ruff, ruff-format, mypy

Rename output_schema to result_schema to avoid name clashing
  lib/crewai-tools/src/crewai_tools/tools/tavily_research_tool/tavily_research_tool.py
  lib/crewai-tools/tests/tools/tavily_research_tool_test.py
  lib/crewai-tools/tool.specs.json
  lib/crewai/src/crewai/tools/base_tool.py
  lib/crewai/src/crewai/tools/structured_tool.py
  lib/crewai/tests/agents/test_native_tool_calling.py
  lib/crewai/tests/tools/test_base_tool.py
  lib/crewai/tests/tools/test_structured_tool.py
  lib/crewai/tests/utilities/test_agent_utils.py
Due: ruff, ruff-format, mypy

Add missing pieces to docs
  docs/edge/en/guides/tools/publish-custom-tools.mdx
  docs/edge/en/learn/create-custom-tools.mdx
Due: none

Address code review comments
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/src/crewai/utilities/tool_utils.py
  lib/crewai/tests/tools/test_tool_usage.py
Due: ruff, ruff-format, mypy

Add typed output schemas for CrewAI tools (#6236)
  docs/edge/en/concepts/tools.mdx
  docs/edge/en/guides/tools/publish-custom-tools.mdx
  docs/edge/en/learn/create-custom-tools.mdx
  docs/edge/en/learn/execution-hooks.mdx
  docs/edge/en/learn/tool-hooks.mdx
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/agents/tools_handler.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/hooks/tool_hooks.py
  lib/crewai/src/crewai/tools/base_tool.py
  lib/crewai/src/crewai/tools/structured_tool.py
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/src/crewai/utilities/tool_utils.py
  lib/crewai/tests/agents/test_native_tool_calling.py
  lib/crewai/tests/hooks/test_tool_hooks.py
  lib/crewai/tests/tools/test_base_tool.py
  lib/crewai/tests/tools/test_structured_tool.py
  lib/crewai/tests/tools/test_tool_usage.py
  lib/crewai/tests/utilities/test_agent_utils.py
Due: ruff, ruff-format, mypy

fix: scroll to anchor on Safari after Next.js hydration
  docs/safari-anchor-fix.js
Due: none

fix(task): centralize token tracking and preserve usage during guardrail retries
  lib/crewai/src/crewai/task.py
Due: ruff, ruff-format, mypy

fix: decode URL-encoded hash fragment before getElementById lookup
  docs/safari-anchor-fix.js
Due: none

fix(task): address token delta calculation for dict types and explicit guardrail none checks
  lib/crewai/src/crewai/task.py
Due: ruff, ruff-format, mypy

fix(task,memory): address token tracking lifecycle and sync storage layer signatures
  lib/crewai/src/crewai/memory/storage/factory.py
  lib/crewai/src/crewai/memory/storage/mimir_storage.py
Due: ruff, ruff-format, mypy

fix(memory): align search limit and min_score protocol defaults in mimir storage
  lib/crewai/src/crewai/memory/storage/mimir_storage.py
Due: ruff, ruff-format, mypy

test(parser): cover action markdown cleanup
  lib/crewai/tests/agents/test_crew_agent_parser.py
Due: ruff, ruff-format

fix(docs): correct broken Stagehand reference link
  lib/crewai-tools/src/crewai_tools/tools/stagehand_tool/README.md
Due: none

Potential fix for pull request finding
  lib/crewai-tools/tests/utilities/test_safe_path.py
Due: ruff, ruff-format

fix(docs): correct broken Browserbase Live Debug link
  lib/crewai-tools/src/crewai_tools/tools/browserbase_load_tool/README.md
Due: none

fix(docs): correct broken Parallel Processors link
  lib/crewai-tools/src/crewai_tools/tools/parallel_tools/README.md
Due: none

fix(docs): correct two broken Hyperbrowser SDK reference links
  lib/crewai-tools/src/crewai_tools/tools/hyperbrowser_load_tool/README.md
Due: none

fix(docs): remove dead merge.dev/discord link in merge_agent_handler_tool
  lib/crewai-tools/src/crewai_tools/tools/merge_agent_handler_tool/README.md
Due: none

fix(docs): correct broken Tavily Python SDK link in tavily_extractor_tool
  lib/crewai-tools/src/crewai_tools/tools/tavily_extractor_tool/README.md
Due: none

fix(docs): correct broken AWS IAM Roles link in aws/s3 README
  lib/crewai-tools/src/crewai_tools/aws/s3/README.md
Due: none

fix(docs): correct broken MindsDB data_sources link in ai_mind_tool README
  lib/crewai-tools/src/crewai_tools/tools/ai_mind_tool/README.md
Due: none

fix: never default the path allow-list to the filesystem root
  lib/crewai-tools/src/crewai_tools/security/safe_path.py
  lib/crewai-tools/tests/utilities/test_safe_path.py
Due: ruff, ruff-format, mypy

fix(docs): extend browserbase link fix to 4 edge mdx files
  docs/edge/ar/tools/web-scraping/browserbaseloadtool.mdx
  docs/edge/en/tools/web-scraping/browserbaseloadtool.mdx
  docs/edge/ko/tools/web-scraping/browserbaseloadtool.mdx
  docs/edge/pt-BR/tools/web-scraping/browserbaseloadtool.mdx
Due: none

docs: document FileWriterTool path confinement and CREWAI_TOOLS_ALLOWED_DIRS
  docs/edge/en/tools/file-document/filewritetool.mdx
Due: none

fix(reasoning): accept short-form READY keyword from model responses
  lib/crewai/src/crewai/utilities/reasoning_handler.py
  lib/crewai/tests/agents/test_agent_reasoning.py
Due: ruff, ruff-format, mypy

feat: add SkimReaderTool (x402-native clean web reader)
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/skim_reader_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/skim_reader_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/skim_reader_tool/skim_reader_tool.py
  lib/crewai-tools/tests/tools/skim_reader_tool_test.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy

fix: append traceback to tool execution error messages
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/utilities/agent_utils.py
Due: ruff, ruff-format, mypy

fix: tighten json crew deploy validation
  lib/cli/src/crewai_cli/deploy/validate.py
  lib/cli/tests/deploy/test_archive.py
  lib/cli/tests/deploy/test_validate.py
  lib/cli/tests/test_create_crew.py
Due: ruff, ruff-format, mypy

fix: scaffold deployable json crews
  lib/cli/src/crewai_cli/create_json_crew.py
  lib/cli/src/crewai_cli/deploy/archive.py
  lib/cli/tests/test_create_crew.py
Due: ruff, ruff-format, mypy

fix: keep json crew scaffolds python-free
  lib/cli/src/crewai_cli/create_json_crew.py
  lib/cli/src/crewai_cli/deploy/archive.py
  lib/cli/tests/test_create_crew.py
Due: ruff, ruff-format, mypy

fix: keep json deploy archives python-free
  lib/cli/src/crewai_cli/deploy/archive.py
  lib/cli/tests/deploy/test_archive.py
Due: ruff, ruff-format, mypy

fix: address json crew pr checks
  conftest.py
  lib/cli/tests/deploy/test_archive.py
  pyproject.toml
  uv.lock
Due: ruff, ruff-format, mypy

fix: clear langsmith audit advisory
  pyproject.toml
  uv.lock
Due: none
