Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock

chore: regenerate addditional cassette
  lib/crewai/tests/cassettes/telemetry/test_multiple_crews_in_flow_span_lifecycle.yaml
Due: none

chore: more cassettes
  lib/crewai/tests/cassettes/telemetry/test_crew_execution_span_in_flow_with_share_crew.yaml
  lib/crewai/tests/cassettes/telemetry/test_multiple_crews_in_flow_span_lifecycle.yaml
Due: none

chore: ensure test envs
  lib/crewai/tests/cassettes/telemetry/test_crew_execution_span_assigned_on_kickoff.yaml
  lib/crewai/tests/cassettes/telemetry/test_crew_execution_span_assigned_on_kickoff_async.yaml
  lib/crewai/tests/cassettes/telemetry/test_crew_execution_span_assigned_on_kickoff_for_each.yaml
  lib/crewai/tests/cassettes/telemetry/test_crew_execution_span_in_flow_with_share_crew.yaml
  lib/crewai/tests/cassettes/telemetry/test_crew_execution_span_not_set_when_share_crew_false.yaml
  lib/crewai/tests/cassettes/telemetry/test_end_crew_receives_valid_execution_span.yaml
  lib/crewai/tests/cassettes/telemetry/test_multiple_crews_in_flow_span_lifecycle.yaml
  lib/crewai/tests/cassettes/telemetry/test_telemetry_fails_due_connect_timeout.yaml
  lib/crewai/tests/telemetry/test_execution_span_assignment.py
  lib/crewai/tests/telemetry/test_telemetry_disable.py
Due: ruff, ruff-format

fix: inject multimodal tools for Agent.kickoff without mutating tools
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/tests/agents/test_agent_kickoff_multimodal.py
Due: ruff, ruff-format, mypy

Align async kickoff LiteAgent id with sync path
  lib/crewai/src/crewai/agent/core.py
Due: ruff, ruff-format, mypy

chore: regenerate more cassettes
  lib/crewai/tests/cassettes/telemetry/test_crew_execution_span_assigned_on_kickoff.yaml
  lib/crewai/tests/cassettes/telemetry/test_crew_execution_span_assigned_on_kickoff_async.yaml
  lib/crewai/tests/cassettes/telemetry/test_crew_execution_span_assigned_on_kickoff_for_each.yaml
  lib/crewai/tests/cassettes/telemetry/test_crew_execution_span_in_flow_with_share_crew.yaml
  lib/crewai/tests/cassettes/telemetry/test_crew_execution_span_not_set_in_flow_without_share_crew.yaml
  lib/crewai/tests/cassettes/telemetry/test_crew_execution_span_not_set_when_share_crew_false.yaml
  lib/crewai/tests/cassettes/telemetry/test_end_crew_receives_valid_execution_span.yaml
  lib/crewai/tests/cassettes/telemetry/test_multiple_crews_in_flow_span_lifecycle.yaml
  lib/crewai/tests/cassettes/telemetry/test_telemetry_fails_due_connect_timeout.yaml
  lib/crewai/tests/telemetry/test_flow_crew_span_integration.py
  lib/crewai/tests/telemetry/test_telemetry.py
Due: ruff, ruff-format

updated bring-your-own-agent tutorial with agentspec adapter
  docs/en/learn/bring-your-own-agent.mdx
Due: none

minor docs fix
  docs/en/learn/bring-your-own-agent.mdx
Due: none

chore: use mock in otel tests
  lib/crewai/tests/cassettes/telemetry/test_crew_execution_span_assigned_on_kickoff.yaml
  lib/crewai/tests/cassettes/telemetry/test_crew_execution_span_in_flow_with_share_crew.yaml
  lib/crewai/tests/cassettes/telemetry/test_crew_execution_span_not_set_in_flow_without_share_crew.yaml
  lib/crewai/tests/cassettes/telemetry/test_multiple_crews_in_flow_span_lifecycle.yaml
  lib/crewai/tests/telemetry/test_flow_crew_span_integration.py
Due: ruff, ruff-format

fix: convert tool_calls to string when no available_functions provided
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

Add agent example to docs
  docs/en/tools/search-research/parallelsearchtool.mdx
Due: none

Add max_results and source_policy as overrides to run
  docs/en/tools/search-research/parallelsearchtool.mdx
  lib/crewai-tools/src/crewai_tools/tools/parallel_tools/README.md
  lib/crewai-tools/src/crewai_tools/tools/parallel_tools/parallel_search_tool.py
  lib/crewai-tools/tests/tools/parallel_search_tool_test.py
Due: ruff, ruff-format, mypy

add agent example
  lib/crewai-tools/src/crewai_tools/tools/parallel_tools/README.md
Due: none

Add Parallel Search docs and update to use python SDK
  docs/docs.json
  docs/en/tools/search-research/overview.mdx
  docs/en/tools/search-research/parallelsearchtool.mdx
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/tools/parallel_tools/README.md
  lib/crewai-tools/src/crewai_tools/tools/parallel_tools/parallel_search_tool.py
  lib/crewai-tools/tests/tools/parallel_search_tool_test.py
  uv.lock
Due: ruff, ruff-format, mypy

feat: added cloro API as new tool
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/cloro_dev_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/cloro_dev_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/cloro_dev_tool/cloro_dev_tool.py
  lib/crewai-tools/tests/tools/cloro_dev_tool_test.py
Due: ruff, ruff-format, mypy

chore: more optimizations to cloro tool
  lib/crewai-tools/src/crewai_tools/tools/cloro_dev_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/cloro_dev_tool/cloro_dev_tool.py
  lib/crewai-tools/tests/tools/cloro_dev_tool_test.py
Due: ruff, ruff-format, mypy

fix: bugs identified by Codex
  lib/crewai-tools/src/crewai_tools/tools/cloro_dev_tool/cloro_dev_tool.py
Due: ruff, ruff-format, mypy

fix: bugs identified by Cursor bot
  lib/crewai-tools/src/crewai_tools/__init__.py
Due: ruff, ruff-format, mypy

feat: added docs for cloro, renamed CloroDev
  docs/en/tools/web-scraping/cloro-tool.mdx
  docs/en/tools/web-scraping/overview.mdx
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/cloro_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/cloro_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/cloro_tool/cloro_tool.py
  lib/crewai-tools/tests/tools/cloro_tool_test.py
Due: ruff, ruff-format, mypy

fix: bugs identified by Cursor
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/tests/tools/cloro_tool_test.py
Due: ruff, ruff-format, mypy

chore: few more missing additions
  .env.test
  docs/en/tools/web-scraping/overview.mdx
  lib/crewai-tools/tool.specs.json
Due: none

feat: add OpenMemory as optional memory backend
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/memory/external/external_memory.py
  lib/crewai/src/crewai/memory/storage/openmemory_storage.py
  lib/crewai/tests/storage/test_openmemory_storage.py
  uv.lock
Due: ruff, ruff-format, mypy

fix: properly test OpenMemory import error scenario
  lib/crewai/tests/storage/test_openmemory_storage.py
Due: ruff, ruff-format

fix: decouple system signal events from Telemetry
  lib/crewai/src/crewai/events/signal_manager.py
  lib/crewai/src/crewai/events/types/system_events.py
  lib/crewai/src/crewai/telemetry/telemetry.py
  lib/crewai/tests/events/test_signal_manager.py
Due: ruff, ruff-format, mypy

fix: add drop_params support to BedrockCompletion for unsupported parameters
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/tests/llms/bedrock/test_bedrock.py
Due: ruff, ruff-format, mypy

fixes mem0 with valkey/redis issue
  lib/crewai/src/crewai/memory/storage/mem0_storage.py
  lib/crewai/tests/storage/test_mem0_storage.py
Due: ruff, ruff-format, mypy

fix: ensure token store file ops do not deadlock
  lib/crewai/src/crewai/cli/shared/token_manager.py
  lib/crewai/tests/cli/test_token_manager.py
Due: ruff, ruff-format, mypy

adding arize eval page link
  docs/en/observability/arize-phoenix.mdx
Due: none

feat: add AnthropicThinkingConfig for enhanced thinking capabilities
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/tests/cassettes/llms/anthropic/test_anthropic_function_calling.yaml
  lib/crewai/tests/cassettes/llms/anthropic/test_anthropic_thinking.yaml
  lib/crewai/tests/cassettes/llms/anthropic/test_anthropic_thinking_blocks_preserved_across_turns.yaml
Due: ruff, ruff-format, mypy

chore: update test method reference
  lib/crewai/tests/cli/test_token_manager.py
  lib/crewai/tests/cli/tools/test_main.py
Due: ruff, ruff-format

supporting thinking for anthropic models (#3978)
  docs/en/concepts/llms.mdx
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/tests/cassettes/llms/anthropic/test_anthropic_function_calling.yaml
  lib/crewai/tests/cassettes/llms/anthropic/test_anthropic_thinking.yaml
  lib/crewai/tests/cassettes/llms/anthropic/test_anthropic_thinking_blocks_preserved_across_turns.yaml
  lib/crewai/tests/cassettes/test_anthropic_function_calling.yaml
  lib/crewai/tests/cassettes/test_anthropic_thinking.yaml
  lib/crewai/tests/cassettes/test_anthropic_thinking_blocks_preserved_across_turns.yaml
  lib/crewai/tests/llms/anthropic/test_anthropic.py
Due: ruff, ruff-format, mypy

fix: ensure token store file ops do not deadlock
  lib/crewai/src/crewai/cli/shared/token_manager.py
  lib/crewai/tests/cli/test_token_manager.py
  lib/crewai/tests/cli/tools/test_main.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.7.0
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

fix: ensure nonetypes are not passed to otel
  lib/crewai/src/crewai/telemetry/telemetry.py
Due: ruff, ruff-format, mypy

bump
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
Due: none

fix: ensure attribute is always set in span
  lib/crewai/src/crewai/telemetry/telemetry.py
Due: ruff, ruff-format, mypy

fix: ensure nonetypes are not passed to otel (#4052)
  lib/crewai/src/crewai/telemetry/telemetry.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.7.0 (#4051)
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy
