Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

fix: detect Azure OpenAI models by endpoint, not just deployment name
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/tests/llms/azure/test_azure.py
Due: ruff, ruff-format, mypy

chore: update template files to use modern type annotations
  lib/crewai/src/crewai/cli/templates/crew/crew.py
  lib/crewai/src/crewai/cli/templates/flow/crews/poem_crew/poem_crew.py
Due: ruff, ruff-format

fix: add trailing whitespace stripping and role alternation handling
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
Due: ruff, ruff-format, mypy

fix: filter empty user message content in AnthropicCompletion
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/tests/llms/anthropic/test_anthropic.py
Due: ruff, ruff-format, mypy

test: update test expectations for role alternation placeholders
  lib/crewai/tests/llms/anthropic/test_anthropic.py
Due: ruff, ruff-format

fix: maintain role alternation after empty message filtering
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
Due: ruff, ruff-format, mypy

fix: strip trailing whitespace from final assistant message for Anthropic
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
Due: ruff, ruff-format, mypy

fix: merge consecutive same-role messages instead of inserting placeholders
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/tests/llms/anthropic/test_anthropic.py
Due: ruff, ruff-format, mypy

Add valkey fix
  lib/crewai/src/crewai/memory/storage/mem0_storage.py
  lib/crewai/tests/storage/test_mem0_storage.py
Due: ruff, ruff-format, mypy

pr fix
  conftest.py
Due: ruff, ruff-format, mypy

feat: introduce Memory TUI for enhanced memory management
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/cli/cli.py
  lib/crewai/src/crewai/cli/memory_tui.py
  lib/crewai/src/crewai/memory/storage/lancedb_storage.py
  lib/crewai/src/crewai/memory/unified_memory.py
Due: ruff, ruff-format, mypy

forcing new commit
  lib/crewai/tests/rag/embeddings/test_google_vertex_memory_integration.py
Due: ruff, ruff-format

feat: inject memory tools into LiteAgent for enhanced functionality
  lib/crewai/src/crewai/events/utils/console_formatter.py
  lib/crewai/src/crewai/lite_agent.py
Due: ruff, ruff-format, mypy

fix: add location parameter to Google Vertex embedder configuration for memory integration tests
  lib/crewai/tests/rag/embeddings/test_google_vertex_memory_integration.py
Due: ruff, ruff-format

refactor: remove unnecessary logging for memory checks in agent execution
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agents/agent_builder/base_agent_executor_mixin.py
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/tests/rag/embeddings/test_google_vertex_memory_integration.py
Due: ruff, ruff-format, mypy

feat: introduce EncodingFlow for enhanced memory encoding pipeline
  lib/crewai/src/crewai/memory/__init__.py
  lib/crewai/src/crewai/memory/encoding_flow.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/tests/memory/test_unified_memory.py
Due: ruff, ruff-format, mypy

refactor: enhance memory handling by adding agent role parameter
  lib/crewai/src/crewai/agents/agent_builder/base_agent_executor_mixin.py
  lib/crewai/src/crewai/lite_agent.py
  lib/crewai/src/crewai/memory/consolidation_flow.py
  lib/crewai/src/crewai/memory/encoding_flow.py
  lib/crewai/src/crewai/memory/recall_flow.py
  lib/crewai/src/crewai/memory/unified_memory.py
Due: ruff, ruff-format, mypy

feat: implement consolidation flow for memory management
  lib/crewai/src/crewai/memory/__init__.py
  lib/crewai/src/crewai/memory/analyze.py
  lib/crewai/src/crewai/memory/consolidation_flow.py
  lib/crewai/src/crewai/memory/storage/backend.py
  lib/crewai/src/crewai/memory/storage/lancedb_storage.py
  lib/crewai/src/crewai/memory/types.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/src/crewai/translations/en.json
Due: ruff, ruff-format, mypy

Potential fix for pull request finding 'Empty except'
  lib/crewai/src/crewai/memory/recall_flow.py
Due: ruff, ruff-format, mypy

fix test
  lib/crewai/src/crewai/cli/memory_tui.py
  lib/crewai/src/crewai/memory/storage/lancedb_storage.py
Due: ruff, ruff-format, mypy

feat: integrate memory tools for agents and crews
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/tools/memory_tools.py
  lib/crewai/src/crewai/translations/en.json
Due: ruff, ruff-format, mypy

refactor: update ConsolidationFlow and EncodingFlow for improved async handling
  lib/crewai/src/crewai/memory/consolidation_flow.py
  lib/crewai/src/crewai/memory/encoding_flow.py
Due: ruff, ruff-format, mypy

refactor: optimize memory management in flow classes
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/memory/analyze.py
  lib/crewai/src/crewai/memory/consolidation_flow.py
  lib/crewai/src/crewai/memory/recall_flow.py
  lib/crewai/src/crewai/memory/storage/lancedb_storage.py
  lib/crewai/src/crewai/memory/types.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/src/crewai/translations/en.json
Due: ruff, ruff-format, mypy

feat: enhance agent memory functionality with recall and save mechanisms
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agents/agent_builder/base_agent.py
  lib/crewai/src/crewai/memory/consolidation_flow.py
  lib/crewai/src/crewai/memory/encoding_flow.py
  lib/crewai/src/crewai/memory/memory_scope.py
  lib/crewai/src/crewai/memory/recall_flow.py
  lib/crewai/src/crewai/memory/storage/lancedb_storage.py
  lib/crewai/src/crewai/memory/types.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/tests/memory/test_unified_memory.py
Due: ruff, ruff-format, mypy

chore: gen missing cassette
  lib/crewai/tests/cassettes/test_memory_enabled_creates_unified_memory.yaml
  lib/crewai/tests/cassettes/test_using_memory_recall_and_save.yaml
  lib/crewai/tests/cassettes/test_using_memory_with_remember.yaml
Due: none

fix: update flow documentation and remove unused ConsolidationFlow
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/memory/__init__.py
  lib/crewai/src/crewai/memory/analyze.py
  lib/crewai/src/crewai/memory/consolidation_flow.py
  lib/crewai/src/crewai/memory/encoding_flow.py
  lib/crewai/src/crewai/memory/types.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/src/crewai/translations/en.json
  lib/crewai/tests/memory/test_unified_memory.py
  lib/crewai/tests/rag/embeddings/test_google_vertex_memory_integration.py
Due: ruff, ruff-format, mypy

fix tests
  lib/crewai/tests/rag/embeddings/test_google_vertex_memory_integration.py
Due: ruff, ruff-format

feat: add utility method to simplify tools field in console formatter
  lib/crewai/src/crewai/events/utils/console_formatter.py
Due: ruff, ruff-format, mypy

fix linter
  pyproject.toml
  uv.lock
Due: none

refactor: consolidate memory saving methods for improved efficiency
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agents/agent_builder/base_agent_executor_mixin.py
  lib/crewai/src/crewai/lite_agent.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/src/crewai/tools/memory_tools.py
  lib/crewai/src/crewai/translations/en.json
  lib/crewai/tests/memory/test_unified_memory.py
Due: ruff, ruff-format, mypy

refactor: optimize memory tool integration and recall flow
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/memory/recall_flow.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/src/crewai/tools/memory_tools.py
  lib/crewai/tests/agents/test_lite_agent.py
Due: ruff, ruff-format, mypy

adding debugging for CI
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
Due: ruff, ruff-format, mypy

feat: enhance memory functionality in Flows documentation and memory system
  docs/en/concepts/flows.mdx
  docs/en/concepts/memory.mdx
  lib/crewai/src/crewai/memory/types.py
Due: ruff, ruff-format, mypy

debugging CI
  lib/crewai/src/crewai/agents/agent_builder/base_agent_executor_mixin.py
  lib/crewai/tests/rag/embeddings/test_google_vertex_memory_integration.py
Due: ruff, ruff-format, mypy

chore: update uv.lock for improved dependency management and memory management enhancements
  lib/crewai/src/crewai/cli/cli.py
  lib/crewai/src/crewai/cli/memory_tui.py
  lib/crewai/src/crewai/memory/memory_scope.py
  lib/crewai/src/crewai/memory/recall_flow.py
  lib/crewai/src/crewai/memory/storage/lancedb_storage.py
  lib/crewai/src/crewai/memory/types.py
  lib/crewai/src/crewai/memory/unified_memory.py
  uv.lock
Due: ruff, ruff-format, mypy

updates tests
  lib/crewai/tests/memory/test_unified_memory.py
  uv.lock
Due: ruff, ruff-format

test: update memory scope assertions in unified memory tests
  lib/crewai/tests/memory/test_unified_memory.py
Due: ruff, ruff-format
