Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

Initialize lexmex_tool module with LexMexTool import
  lib/crewai-tools/src/crewai_tools/tools/lexmex_tool/__init__.py
Due: ruff, ruff-format, mypy

fix: append trailing user turn in native Gemini provider
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/tests/llms/google/test_google.py
Due: ruff, ruff-format, mypy

fix: append trailing user turn for Gemini on the LiteLLM fallback path
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

fix: don't append text turn after unresolved Gemini function call
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/tests/llms/google/test_google.py
Due: ruff, ruff-format, mypy

feat(telemetry): count deployments from any origin and record where they started
  docs/edge/ar/telemetry.mdx
  docs/edge/en/telemetry.mdx
  docs/edge/ko/telemetry.mdx
  docs/edge/pt-BR/telemetry.mdx
  lib/cli/src/crewai_cli/crew_run_tui.py
  lib/cli/src/crewai_cli/deploy/main.py
  lib/cli/src/crewai_cli/run_crew.py
  lib/cli/tests/test_crew_run_tui.py
  lib/crewai-core/src/crewai_core/telemetry.py
  lib/crewai-core/tests/test_telemetry_deploy.py
Due: ruff, ruff-format, mypy

fix: LLM callback isolation without mutating LiteLLM globals
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/llms/test_concurrency.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

Add rewrite-technical-documentation Cursor skill
  .cursor/skills/rewrite-technical-documentation/SKILL.md
Due: none

fix(tools): run async tool results safely under a running event loop
  lib/crewai/src/crewai/tools/base_tool.py
  lib/crewai/src/crewai/tools/structured_tool.py
  lib/crewai/src/crewai/utilities/async_utils.py
  lib/crewai/tests/tools/test_async_tools.py
Due: ruff, ruff-format, mypy

docs: add 1Claw Tools integration
  docs/docs.json
  docs/edge/en/tools/integration/1clawtool.mdx
  docs/edge/en/tools/integration/overview.mdx
Due: none

fix(events): stop a failed turn from marking the next one failed (#6965)
  docs/edge/ar/telemetry.mdx
  docs/edge/en/telemetry.mdx
  docs/edge/ko/telemetry.mdx
  docs/edge/pt-BR/telemetry.mdx
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/src/crewai/telemetry/telemetry.py
  lib/crewai/tests/telemetry/test_flow_telemetry.py
  lib/crewai/tests/telemetry/test_telemetry.py
  lib/crewai/tests/utilities/test_events.py
Due: ruff, ruff-format, mypy

feat(telemetry): count deployments from any origin and record where they started (#6974)
  docs/edge/ar/telemetry.mdx
  docs/edge/en/telemetry.mdx
  docs/edge/ko/telemetry.mdx
  docs/edge/pt-BR/telemetry.mdx
  lib/cli/src/crewai_cli/crew_run_tui.py
  lib/cli/src/crewai_cli/deploy/main.py
  lib/cli/src/crewai_cli/run_crew.py
  lib/cli/tests/test_crew_run_tui.py
  lib/crewai-core/src/crewai_core/telemetry.py
  lib/crewai-core/tests/test_telemetry_deploy.py
Due: ruff, ruff-format, mypy

docs(telemetry): drop flow-name claim from Trace Sharing Signal
  docs/edge/ar/telemetry.mdx
  docs/edge/en/telemetry.mdx
  docs/edge/ko/telemetry.mdx
  docs/edge/pt-BR/telemetry.mdx
Due: none

docs(telemetry): rephrase pt-BR deploy row closing sentence
  docs/edge/pt-BR/telemetry.mdx
Due: none

docs(telemetry): scope Trace Sharing privacy claims to the signal
  docs/edge/ar/telemetry.mdx
  docs/edge/en/telemetry.mdx
  docs/edge/ko/telemetry.mdx
  docs/edge/pt-BR/telemetry.mdx
Due: none

fix: remove task_outputs.clear() to preserve prior sync task results
  lib/crewai/src/crewai/crew.py
Due: ruff, ruff-format, mypy

feat(tracing): record when a trace batch is shared with amp (#6966)
  docs/edge/ar/telemetry.mdx
  docs/edge/en/telemetry.mdx
  docs/edge/ko/telemetry.mdx
  docs/edge/pt-BR/telemetry.mdx
  lib/crewai/src/crewai/events/listeners/tracing/trace_batch_manager.py
  lib/crewai/tests/tracing/test_tracing.py
Due: ruff, ruff-format, mypy

chore(telemetry): remove unused _safe_telemetry_operation from crewai_core
  lib/crewai-core/src/crewai_core/telemetry.py
Due: ruff, ruff-format, mypy

docs: add Frontend guides (CopilotKit + AG-UI) (#6686)
  docs/docs.json
  docs/edge/en/guides/frontend/a2ui.mdx
  docs/edge/en/guides/frontend/agentic-generative-ui.mdx
  docs/edge/en/guides/frontend/channels.mdx
  docs/edge/en/guides/frontend/conversational-flows.mdx
  docs/edge/en/guides/frontend/frontend-actions.mdx
  docs/edge/en/guides/frontend/generative-ui.mdx
  docs/edge/en/guides/frontend/human-in-the-loop.mdx
  docs/edge/en/guides/frontend/overview.mdx
  docs/edge/en/guides/frontend/predictive-state-updates.mdx
  docs/edge/en/guides/frontend/reasoning.mdx
  docs/edge/en/guides/frontend/shared-state.mdx
  docs/edge/en/guides/frontend/tool-based-generative-ui.mdx
Due: none

test(tools): cover sync-func-returning-coroutine branch; clarify run_coroutine_sync docstring
  lib/crewai/src/crewai/utilities/async_utils.py
  lib/crewai/tests/tools/test_async_tools.py
Due: ruff, ruff-format, mypy

feat: add native OpenTelemetry instrumentation
  lib/crewai/src/crewai/a2a/utils/delegation.py
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/events/event_bus.py
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/src/crewai/knowledge/knowledge.py
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/src/crewai/task.py
  lib/crewai/src/crewai/tasks/llm_guardrail.py
  lib/crewai/src/crewai/telemetry/__init__.py
  lib/crewai/src/crewai/telemetry/otel.py
  lib/crewai/src/crewai/tools/base_tool.py
  lib/crewai/src/crewai/tools/structured_tool.py
  lib/crewai/src/crewai/utilities/reasoning_handler.py
  lib/crewai/tests/telemetry/test_otel.py
  lib/crewai/tests/telemetry/test_otel_noop.py
Due: ruff, ruff-format, mypy

fix: keep coroutine results inside the execute flow method span
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/src/crewai/telemetry/otel.py
  lib/crewai/src/crewai/tools/structured_tool.py
  lib/crewai/tests/telemetry/test_otel.py
Due: ruff, ruff-format, mypy

test: stop telemetry fixtures from leaking the global TracerProvider
  lib/crewai/tests/telemetry/test_otel.py
Due: ruff, ruff-format

fix: stop anonymous telemetry from globalizing the TracerProvider
  lib/crewai/tests/telemetry/test_otel_noop.py
Due: ruff, ruff-format

fix(tools): pin SSRF checks to each redirect hop and peer IP
  docs/edge/ar/tools/web-scraping/scrapeelementfromwebsitetool.mdx
  docs/edge/ar/tools/web-scraping/scrapewebsitetool.mdx
  docs/edge/en/tools/file-document/filereadtool.mdx
  docs/edge/en/tools/web-scraping/scrapeelementfromwebsitetool.mdx
  docs/edge/en/tools/web-scraping/scrapewebsitetool.mdx
  docs/edge/ko/tools/web-scraping/scrapeelementfromwebsitetool.mdx
  docs/edge/ko/tools/web-scraping/scrapewebsitetool.mdx
  docs/edge/pt-BR/tools/web-scraping/scrapeelementfromwebsitetool.mdx
  docs/edge/pt-BR/tools/web-scraping/scrapewebsitetool.mdx
  lib/crewai-tools/src/crewai_tools/security/safe_path.py
  lib/crewai-tools/src/crewai_tools/security/safe_requests.py
  lib/crewai-tools/tests/rag/test_csv_loader.py
  lib/crewai-tools/tests/rag/test_docx_loader.py
  lib/crewai-tools/tests/rag/test_json_loader.py
  lib/crewai-tools/tests/rag/test_mdx_loader.py
  lib/crewai-tools/tests/rag/test_webpage_loader.py
  lib/crewai-tools/tests/rag/test_xml_loader.py
  lib/crewai-tools/tests/utilities/test_safe_path.py
  lib/crewai-tools/tests/utilities/test_safe_requests.py
Due: ruff, ruff-format, mypy

Potential fix for pull request finding 'Except block handles 'BaseException''
  lib/crewai-tools/src/crewai_tools/security/safe_requests.py
Due: ruff, ruff-format, mypy

feat(telemetry): record what kind of exception ended a flow
  docs/edge/ar/telemetry.mdx
  docs/edge/en/telemetry.mdx
  docs/edge/ko/telemetry.mdx
  docs/edge/pt-BR/telemetry.mdx
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/src/crewai/telemetry/telemetry.py
  lib/crewai/tests/telemetry/test_flow_telemetry.py
Due: ruff, ruff-format, mypy

fix mysql search table name validation (#6341)
  lib/crewai-tools/src/crewai_tools/tools/mysql_search_tool/mysql_search_tool.py
  lib/crewai-tools/tests/tools/test_mysql_search_tool.py
Due: ruff, ruff-format, mypy

fix: make pre-commit hooks cross-platform
  .pre-commit-config.yaml
Due: none

docs(frontend): point the frontend guides at their edge paths
  docs/edge/en/guides/frontend/a2ui.mdx
  docs/edge/en/guides/frontend/agentic-generative-ui.mdx
  docs/edge/en/guides/frontend/channels.mdx
  docs/edge/en/guides/frontend/conversational-flows.mdx
  docs/edge/en/guides/frontend/frontend-actions.mdx
  docs/edge/en/guides/frontend/generative-ui.mdx
  docs/edge/en/guides/frontend/human-in-the-loop.mdx
  docs/edge/en/guides/frontend/overview.mdx
  docs/edge/en/guides/frontend/predictive-state-updates.mdx
  docs/edge/en/guides/frontend/reasoning.mdx
  docs/edge/en/guides/frontend/shared-state.mdx
  docs/edge/en/guides/frontend/tool-based-generative-ui.mdx
Due: none

test(azure): use a plain stand-in for Responses API delegate mocks
  lib/crewai/tests/llms/azure/test_azure_responses.py
Due: ruff, ruff-format

Added support and break enforcement to requires human approval
  lib/crewai/src/crewai/tools/base_tool.py
  lib/crewai/src/crewai/tools/structured_tool.py
  lib/crewai/tests/tools/test_base_tool.py
Due: ruff, ruff-format, mypy

fix(gemini): append user after model turn
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/tests/llms/google/test_google.py
Due: ruff, ruff-format, mypy

fix(llm): reset failure callbacks unconditionally and enhance test mock response
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

refactor(telemetry): take the exception class, not its name
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/src/crewai/telemetry/telemetry.py
  lib/crewai/tests/telemetry/test_flow_telemetry.py
Due: ruff, ruff-format, mypy

feat(events): record what kind of exception ended a flow (#6982)
  docs/edge/ar/telemetry.mdx
  docs/edge/en/guides/frontend/a2ui.mdx
  docs/edge/en/guides/frontend/agentic-generative-ui.mdx
  docs/edge/en/guides/frontend/channels.mdx
  docs/edge/en/guides/frontend/conversational-flows.mdx
  docs/edge/en/guides/frontend/frontend-actions.mdx
  docs/edge/en/guides/frontend/generative-ui.mdx
  docs/edge/en/guides/frontend/human-in-the-loop.mdx
  docs/edge/en/guides/frontend/overview.mdx
  docs/edge/en/guides/frontend/predictive-state-updates.mdx
  docs/edge/en/guides/frontend/reasoning.mdx
  docs/edge/en/guides/frontend/shared-state.mdx
  docs/edge/en/guides/frontend/tool-based-generative-ui.mdx
  docs/edge/en/telemetry.mdx
  docs/edge/ko/telemetry.mdx
  docs/edge/pt-BR/telemetry.mdx
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/src/crewai/telemetry/telemetry.py
  lib/crewai/tests/telemetry/test_flow_telemetry.py
Due: ruff, ruff-format, mypy

feat(execution): introduce execution context management with UUID support
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/execution.py
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/tests/test_execution_uuid.py
Due: ruff, ruff-format, mypy

fix(core): record the running release on every emitted span
  lib/crewai-core/src/crewai_core/telemetry.py
  lib/crewai/src/crewai/telemetry/telemetry.py
  lib/crewai/tests/telemetry/test_telemetry.py
Due: ruff, ruff-format, mypy

feat(execution): enhance execution context management in Crew class
  lib/crewai/src/crewai/crew.py
  lib/crewai/tests/test_execution_uuid.py
Due: ruff, ruff-format, mypy

feat(execution): add execution_uuid to PendingFeedbackContext for flow resumption
  lib/crewai/src/crewai/flow/async_feedback/types.py
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/tests/test_execution_uuid.py
Due: ruff, ruff-format, mypy

docs: fix Lians integration setup
  docs/edge/en/tools/integration/lians.mdx
Due: none
