Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock

fix: use beta streaming API for async structured output
  lib/crewai/src/crewai/llms/providers/nvidia/completion.py
Due: ruff, ruff-format, mypy

Adding async test cases
  lib/crewai/tests/cassettes/test_usage_info_non_streaming_with_acall.yaml
  lib/crewai/tests/cassettes/test_usage_info_streaming_with_acall.yaml
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format

fix: add API key validation to NVIDIA embedding provider
  lib/crewai/src/crewai/rag/embeddings/providers/nvidia/embedding_callable.py
Due: ruff, ruff-format, mypy

feat: move handler types to types.py and add native async a2a functions
  lib/crewai/src/crewai/a2a/types.py
  lib/crewai/src/crewai/a2a/utils.py
  lib/crewai/src/crewai/a2a/wrapper.py
Due: ruff, ruff-format, mypy

feat: add server agent card generation and organize a2a utils into submodules
  lib/crewai/src/crewai/a2a/utils/__init__.py
  lib/crewai/src/crewai/a2a/utils/agent_card.py
  lib/crewai/src/crewai/a2a/utils/delegation.py
  lib/crewai/src/crewai/a2a/utils/response_model.py
  lib/crewai/src/crewai/a2a/wrapper.py
Due: ruff, ruff-format, mypy

fix: prevent duplicate tool reminder messages in tool usage
  lib/crewai/src/crewai/tools/tool_usage.py
Due: ruff, ruff-format, mypy

feat: Introduce global flow configuration for human-in-the-loop feedback
  lib/crewai/src/crewai/flow/__init__.py
  lib/crewai/src/crewai/flow/flow_config,py
  lib/crewai/src/crewai/flow/human_feedback.py
Due: ruff, ruff-format, mypy

TYPO
  lib/crewai/src/crewai/flow/flow_config.py
Due: ruff, ruff-format, mypy

feat: Introduce global flow configuration for human-in-the-loop feedback (#4193)
  lib/crewai/src/crewai/flow/__init__.py
  lib/crewai/src/crewai/flow/flow_config.py
  lib/crewai/src/crewai/flow/human_feedback.py
Due: ruff, ruff-format, mypy

feat: add server and client configs, deprecate unified
  lib/crewai/src/crewai/a2a/config.py
  lib/crewai/src/crewai/a2a/types.py
Due: ruff, ruff-format, mypy

fix: account for thought tokens on gemini models
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/tests/llms/google/test_google.py
Due: ruff, ruff-format, mypy

Updating test case
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format

feat: add a2a update mechanisms (poll/stream/push) with handlers, config, and tests
  conftest.py
  docs/en/learn/a2a-agent-delegation.mdx
  lib/crewai/src/crewai/a2a/__init__.py
  lib/crewai/src/crewai/a2a/config.py
  lib/crewai/src/crewai/a2a/errors.py
  lib/crewai/src/crewai/a2a/task_helpers.py
  lib/crewai/src/crewai/a2a/templates.py
  lib/crewai/src/crewai/a2a/updates/__init__.py
  lib/crewai/src/crewai/a2a/updates/base.py
  lib/crewai/src/crewai/a2a/updates/polling/__init__.py
  lib/crewai/src/crewai/a2a/updates/polling/config.py
  lib/crewai/src/crewai/a2a/updates/polling/handler.py
  lib/crewai/src/crewai/a2a/updates/push_notifications/__init__.py
  lib/crewai/src/crewai/a2a/updates/push_notifications/config.py
  lib/crewai/src/crewai/a2a/updates/push_notifications/handler.py
  lib/crewai/src/crewai/a2a/updates/streaming/__init__.py
  lib/crewai/src/crewai/a2a/updates/streaming/config.py
  lib/crewai/src/crewai/a2a/updates/streaming/handler.py
  lib/crewai/src/crewai/a2a/utils.py
  lib/crewai/src/crewai/a2a/wrapper.py
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/src/crewai/events/types/a2a_events.py
  lib/crewai/src/crewai/events/utils/console_formatter.py
  lib/crewai/tests/a2a/test_a2a_integration.py
  lib/crewai/tests/cassettes/a2a/TestA2AAgentCardFetching.test_fetch_agent_card.yaml
  lib/crewai/tests/cassettes/a2a/TestA2APollingIntegration.test_polling_completes_task.yaml
  lib/crewai/tests/cassettes/a2a/TestA2AStreamingIntegration.test_streaming_completes_task.yaml
  lib/crewai/tests/cassettes/a2a/TestA2ATaskOperations.test_send_message_and_get_response.yaml
Due: ruff, ruff-format, mypy

fix: uv install, load_dotenv redundancy, spelling error
  docs/en/observability/galileo.mdx
Due: none

feat: add galileo to integrations page
  docs/docs.json
  docs/en/observability/galileo.mdx
  docs/images/galileo-trace-veiw.png
Due: none

fix: linting issues
  docs/en/observability/galileo.mdx
Due: none

fix: clarification on hanlder
  docs/en/observability/galileo.mdx
Due: none

add: translations fix uv install and typo
  docs/docs.json
  docs/en/observability/galileo.mdx
  docs/ko/observability/galileo.mdx
  docs/pt-BR/observability/galileo.mdx
Due: none

Neater git history
  lib/crewai/src/crewai/events/types/llm_events.py
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/llms/openai/test_openai.py
  lib/crewai/tests/utilities/test_events.py
Due: ruff, ruff-format, mypy

Better docstring
  lib/crewai/src/crewai/llms/base_llm.py
Due: ruff, ruff-format, mypy

fix: handle missing a2a dep as optional
  lib/crewai/src/crewai/a2a/__init__.py
  lib/crewai/src/crewai/a2a/config.py
Due: ruff, ruff-format, mypy

Adding usage info in llm.py (#4172)
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/cassettes/test_usage_info_non_streaming_with_acall.yaml
  lib/crewai/tests/cassettes/test_usage_info_non_streaming_with_call.yaml
  lib/crewai/tests/cassettes/test_usage_info_streaming_with_acall.yaml
  lib/crewai/tests/cassettes/test_usage_info_streaming_with_call.yaml
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

fix: ensure pydantic schema build
  lib/crewai/src/crewai/a2a/config.py
Due: ruff, ruff-format, mypy

fix: same for UpdateConfig
  lib/crewai/src/crewai/a2a/config.py
Due: ruff, ruff-format, mypy

feat: a2a native async chain
  lib/crewai/src/crewai/a2a/types.py
  lib/crewai/src/crewai/a2a/utils.py
  lib/crewai/src/crewai/a2a/wrapper.py
Due: ruff, ruff-format, mypy

adds test that demonstrates magicmock functionality
  lib/crewai/tests/storage/test_mem0_storage.py
Due: ruff, ruff-format

instead of default moving to default_factory for transport_protocol
  lib/crewai/src/crewai/a2a/config.py
Due: ruff, ruff-format, mypy

fixing cursor comments
  lib/crewai/src/crewai/a2a/config.py
Due: ruff, ruff-format, mypy

feat: Add MCPTool.from_server() API for simplified MCP tool integration
  lib/crewai/src/crewai/tools/__init__.py
  lib/crewai/src/crewai/tools/mcp_tool.py
  lib/crewai/tests/tools/test_mcp_tool.py
Due: ruff, ruff-format, mypy

feat: generate agent card from server config or agent
  lib/crewai/src/crewai/a2a/config.py
  lib/crewai/src/crewai/a2a/utils/agent_card.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.8.0
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

bump 1.8.0
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
Due: none

feat: bump versions to 1.8.0 (#4199)
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

fix: handle HumanFeedbackPending in flow error management
  lib/crewai/src/crewai/flow/flow.py
Due: ruff, ruff-format, mypy

fix: handle HumanFeedbackPending in flow error management (#4200)
  lib/crewai/src/crewai/flow/flow.py
Due: ruff, ruff-format, mypy

fix: loosen dependency constraints to fix OPIK integration conflict
  lib/crewai-tools/pyproject.toml
  lib/crewai/pyproject.toml
  lib/crewai/tests/test_dependency_compatibility.py
  uv.lock
Due: ruff, ruff-format

fix: improve error handling for HumanFeedbackPending in flow execution
  lib/crewai/src/crewai/flow/flow.py
Due: ruff, ruff-format, mypy

fixing cursor comments
  lib/crewai/src/crewai/a2a/config.py
  lib/crewai/src/crewai/a2a/utils.py
  lib/crewai/src/crewai/a2a/wrapper.py
Due: ruff, ruff-format, mypy
