Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

fix: construct ToolUsageError once and reuse for both branches
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/tests/tools/test_tool_usage.py
Due: ruff, ruff-format, mypy

fix(gemini): keep fileData parts when formatting messages
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/tests/llms/google/test_google.py
Due: ruff, ruff-format, mypy

fix(gemini): preserve fileData content parts
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/tests/llms/google/test_google.py
Due: ruff, ruff-format, mypy

fix(gemini): preserve fileData content parts in message formatting (#7476)
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/tests/llms/google/test_google.py
Due: ruff, ruff-format, mypy

test(gemini): cover media-only fileData messages
  lib/crewai/tests/llms/google/test_google.py
Due: ruff, ruff-format

fix(tools): await coroutines returned by sync wrappers in CrewStructuredTool.ainvoke (#7474)
  lib/crewai/src/crewai/tools/structured_tool.py
  lib/crewai/tests/tools/test_structured_tool.py
Due: ruff, ruff-format, mypy

feat(tools): add AnySearch tool with docs and tests
  docs/docs.json
  docs/edge/ar/tools/search-research/anysearchtool.mdx
  docs/edge/ar/tools/search-research/overview.mdx
  docs/edge/en/tools/search-research/anysearchtool.mdx
  docs/edge/en/tools/search-research/overview.mdx
  docs/edge/ko/tools/search-research/anysearchtool.mdx
  docs/edge/ko/tools/search-research/overview.mdx
  docs/edge/pt-BR/tools/search-research/anysearchtool.mdx
  docs/edge/pt-BR/tools/search-research/overview.mdx
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/anysearch_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/anysearch_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/anysearch_tool/anysearch_tool.py
  lib/crewai-tools/tests/tools/test_anysearch_tool.py
Due: ruff, ruff-format, mypy

feat(valkey): shared cache config + ValkeyCache for A2A and file uploads
  lib/crewai-files/src/crewai_files/cache/upload_cache.py
  lib/crewai-tools/pyproject.toml
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/a2a/utils/agent_card.py
  lib/crewai/src/crewai/a2a/utils/task.py
  lib/crewai/src/crewai/memory/encoding_flow.py
  lib/crewai/src/crewai/memory/storage/valkey_cache.py
  lib/crewai/src/crewai/memory/storage/valkey_storage.py
  lib/crewai/src/crewai/memory/types.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/src/crewai/utilities/cache_config.py
  lib/crewai/tests/memory/storage/test_valkey_cache.py
  lib/crewai/tests/memory/storage/test_valkey_storage.py
  lib/crewai/tests/memory/storage/test_valkey_storage_errors.py
  lib/crewai/tests/memory/storage/test_valkey_storage_scope.py
  lib/crewai/tests/memory/storage/test_valkey_storage_search.py
  lib/crewai/tests/memory/test_embedding_safety.py
  lib/crewai/tests/utilities/test_cache_config.py
Due: ruff, ruff-format, mypy

fix(types): resolve mypy 1.19.1 errors in valkey_storage
  lib/crewai/src/crewai/memory/storage/valkey_storage.py
Due: ruff, ruff-format, mypy

chore: bump valkey-glide lower bound to >=2.4.0
  lib/crewai/pyproject.toml
  uv.lock
Due: none

fix(valkey): post-filter metadata_filter instead of injecting into FT query
  lib/crewai/src/crewai/memory/storage/valkey_storage.py
  lib/crewai/tests/memory/storage/test_valkey_storage_search.py
Due: ruff, ruff-format, mypy

fix: async-safe embeddings and resilient drain_writes
  lib/crewai/src/crewai/memory/encoding_flow.py
  lib/crewai/src/crewai/memory/types.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/tests/memory/test_embedding_safety.py
Due: ruff, ruff-format, mypy

fix: harden memory tool input validation
  lib/crewai/src/crewai/tools/memory_tools.py
  lib/crewai/src/crewai/translations/en.json
  lib/crewai/tests/tools/test_memory_tools.py
  pyproject.toml
Due: ruff, ruff-format, mypy

feat(valkey): shared cache config + ValkeyCache for A2A and file uploads
  lib/crewai-files/src/crewai_files/cache/upload_cache.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/a2a/utils/agent_card.py
  lib/crewai/src/crewai/a2a/utils/task.py
  lib/crewai/src/crewai/memory/storage/valkey_cache.py
  lib/crewai/src/crewai/utilities/cache_config.py
  lib/crewai/tests/memory/storage/test_valkey_cache.py
  lib/crewai/tests/utilities/test_cache_config.py
  uv.lock
Due: ruff, ruff-format, mypy

Add client_name to GlideClientConfiguration
  lib/crewai/src/crewai/memory/storage/valkey_cache.py
Due: ruff, ruff-format, mypy

feat(tools): add opticparse_tool package exports
  lib/crewai-tools/src/crewai_tools/tools/opticparse_tool/__init__.py
Due: ruff, ruff-format, mypy

feat(tools): add OpticParseTool implementation
  lib/crewai-tools/src/crewai_tools/tools/opticparse_tool/opticparse_tool.py
Due: ruff, ruff-format, mypy

feat(tools): add PhishVisionTool implementation
  lib/crewai-tools/src/crewai_tools/tools/opticparse_tool/phishvision_tool.py
Due: ruff, ruff-format, mypy

docs(opticparse): add comprehensive tool documentation
  lib/crewai-tools/src/crewai_tools/tools/opticparse_tool/README.md
Due: none

test(opticparse): add unit test suite for OpticParse and PhishVision tools
  lib/crewai-tools/tests/tools/opticparse_tool_test.py
Due: ruff, ruff-format

feat(tools): export OpticParseTool and PhishVisionTool in tools.__init__
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
Due: ruff, ruff-format, mypy

feat(tools): export OpticParseTool and PhishVisionTool at top-level
  lib/crewai-tools/src/crewai_tools/__init__.py
Due: ruff, ruff-format, mypy

fix(azure): key streamed tool calls by wire index
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/tests/llms/azure/test_azure_streaming_tool_calls.py
Due: ruff, ruff-format, mypy

fix(gemini): preserve fileData content parts (#7479)
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/tests/llms/google/test_google.py
Due: ruff, ruff-format, mypy

Catch RuntimeError only when detecting a running event loop.
  lib/crewai/src/crewai/tools/mcp_tool_wrapper.py
  lib/crewai/tests/tools/test_mcp_tool_wrapper_event_loop.py
Due: ruff, ruff-format, mypy

Fix A2A artifact part reassembly inserting extra whitespace (#7473)
  lib/crewai/src/crewai/a2a/task_helpers.py
  lib/crewai/tests/a2a/test_task_helpers.py
Due: ruff, ruff-format, mypy

fix(azure): key streamed tool calls by wire index (#7487)
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/tests/llms/azure/test_azure_streaming_tool_calls.py
Due: ruff, ruff-format, mypy

ci: grant PR comment fallback permission
  .github/workflows/first-contributor-welcome.yml
Due: none

fix(cli): overwrite stale poetry.lock backup on windows (#7463)
  lib/cli/src/crewai_cli/update_crew.py
  lib/cli/tests/test_update_crew.py
Due: ruff, ruff-format, mypy

ci: grant PR comment fallback permission (#7489)
  .github/workflows/first-contributor-welcome.yml
Due: none

fix(cli): read json checkpoints as utf-8
  lib/cli/src/crewai_cli/checkpoint_cli.py
  lib/crewai/tests/test_checkpoint_cli.py
Due: ruff, ruff-format, mypy

fix(cli): read json checkpoints as utf-8 (#7491)
  lib/cli/src/crewai_cli/checkpoint_cli.py
  lib/crewai/tests/test_checkpoint_cli.py
Due: ruff, ruff-format, mypy

fix(tracing): keep redactor ownership in enterprise integrations
  docs/edge/ar/observability/tracing.mdx
  docs/edge/en/observability/tracing.mdx
  docs/edge/ko/observability/tracing.mdx
  docs/edge/pt-BR/observability/tracing.mdx
  lib/crewai/src/crewai/telemetry/tracing/context.py
  lib/crewai/src/crewai/telemetry/tracing/session.py
  lib/crewai/tests/telemetry/test_enterprise_session_compatibility.py
Due: ruff, ruff-format, mypy

test(tracing): isolate intentional failures from cleanup assertions
  lib/crewai/tests/telemetry/test_enterprise_session_compatibility.py
  lib/crewai/tests/telemetry/test_session_trace_export.py
Due: ruff, ruff-format

fix(memory): close sqlite connections in kickoff task outputs storage
  lib/crewai/src/crewai/memory/storage/kickoff_task_outputs_storage.py
  lib/crewai/tests/storage/test_kickoff_task_outputs_storage.py
Due: ruff, ruff-format, mypy

ci: add test duration profiling workflow
  .github/workflows/profile-test-durations.yml
  lib/crewai/tests/scripts/test_aggregate_test_durations.py
  scripts/aggregate_test_durations.py
Due: ruff, ruff-format, mypy

refactor: extract shared logic from sync/async native tool call methods
  lib/crewai/src/crewai/agents/crew_agent_executor.py
Due: ruff, ruff-format, mypy

fix: await async tools natively in _ainvoke_loop_native_tools
  lib/crewai/src/crewai/agents/crew_agent_executor.py
Due: ruff, ruff-format, mypy

test(memory): cover rollback and close on a failed write
  lib/crewai/tests/storage/test_kickoff_task_outputs_storage.py
Due: ruff, ruff-format

fix(opticparse): enforce HTTPS on custom portal with API key and disable redirects
  lib/crewai-tools/src/crewai_tools/tools/opticparse_tool/opticparse_tool.py
Due: ruff, ruff-format, mypy
