Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

supporting parallel tool use
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/tests/agents/test_agent_executor.py
  lib/crewai/tests/agents/test_native_tool_calling.py
  lib/crewai/tests/cassettes/agents/TestAnthropicNativeToolCalling.test_anthropic_parallel_native_tool_calling_test_agent_kickoff.yaml
  lib/crewai/tests/cassettes/agents/TestAnthropicNativeToolCalling.test_anthropic_parallel_native_tool_calling_test_crew.yaml
  lib/crewai/tests/cassettes/agents/TestAzureNativeToolCalling.test_azure_agent_with_native_tool_calling.yaml
  lib/crewai/tests/cassettes/agents/TestAzureNativeToolCalling.test_azure_parallel_native_tool_calling_test_agent_kickoff.yaml
  lib/crewai/tests/cassettes/agents/TestAzureNativeToolCalling.test_azure_parallel_native_tool_calling_test_crew.yaml
  lib/crewai/tests/cassettes/agents/TestBedrockNativeToolCalling.test_bedrock_parallel_native_tool_calling_test_agent_kickoff.yaml
  lib/crewai/tests/cassettes/agents/TestBedrockNativeToolCalling.test_bedrock_parallel_native_tool_calling_test_crew.yaml
  lib/crewai/tests/cassettes/agents/TestGeminiNativeToolCalling.test_gemini_agent_with_native_tool_calling.yaml
  lib/crewai/tests/cassettes/agents/TestGeminiNativeToolCalling.test_gemini_parallel_native_tool_calling_test_agent_kickoff.yaml
  lib/crewai/tests/cassettes/agents/TestGeminiNativeToolCalling.test_gemini_parallel_native_tool_calling_test_crew.yaml
  lib/crewai/tests/cassettes/agents/TestOpenAINativeToolCalling.test_openai_agent_with_native_tool_calling.yaml
  lib/crewai/tests/cassettes/agents/TestOpenAINativeToolCalling.test_openai_parallel_native_tool_calling_test_agent_kickoff.yaml
  lib/crewai/tests/cassettes/agents/TestOpenAINativeToolCalling.test_openai_parallel_native_tool_calling_test_crew.yaml
Due: ruff, ruff-format, mypy

ensure we respect max_usage_count
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/tests/agents/test_native_tool_calling.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.10.0a1
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

chore: update templates
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
Due: none

feat: bump versions to 1.10.0a1
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/tool.specs.json
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

Fix command injection and sandbox escape in CodeInterpreterTool (#4516)
  lib/crewai-tools/src/crewai_tools/tools/code_interpreter_tool/code_interpreter_tool.py
  lib/crewai-tools/tests/tools/test_code_interpreter_tool.py
Due: ruff, ruff-format, mypy

Fix ruff S603 noqa placement on subprocess.run line
  lib/crewai-tools/src/crewai_tools/tools/code_interpreter_tool/code_interpreter_tool.py
Due: ruff, ruff-format, mypy

fix: remove truthy default in Bedrock tool input parsing (L722)
  lib/crewai/src/crewai/agents/crew_agent_executor.py
Due: ruff, ruff-format, mypy

fix: relax opentelemetry version pins to allow >=1.34.0,<2
  lib/crewai/pyproject.toml
Due: none

style: resolver linter issues
  lib/crewai-tools/tests/test_platform_tools_misc.py
  lib/crewai/src/crewai/context.py
Due: ruff, ruff-format, mypy

docs: correct broken human_feedback examples with working self-loop patterns
  docs/en/enterprise/features/flow-hitl-management.mdx
  docs/en/learn/human-feedback-in-flows.mdx
  docs/ko/enterprise/features/flow-hitl-management.mdx
  docs/ko/learn/human-feedback-in-flows.mdx
  docs/pt-BR/enterprise/features/flow-hitl-management.mdx
  docs/pt-BR/learn/human-feedback-in-flows.mdx
Due: none

fix: drop 'stop' param for reasoning models (o1/o3/o4-mini/gpt-5.1)
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

docs: correct broken human_feedback examples with working self-loop patterns (#4520)
  docs/en/enterprise/features/flow-hitl-management.mdx
  docs/en/learn/human-feedback-in-flows.mdx
  docs/ko/enterprise/features/flow-hitl-management.mdx
  docs/ko/learn/human-feedback-in-flows.mdx
  docs/pt-BR/enterprise/features/flow-hitl-management.mdx
  docs/pt-BR/learn/human-feedback-in-flows.mdx
Due: none

ensure result_as_answer, hooks, and cache parodity
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/tests/agents/test_agent_executor.py
  lib/crewai/tests/agents/test_native_tool_calling.py
  lib/crewai/tests/cassettes/agents/TestOpenAINativeToolCalling.test_openai_parallel_native_tool_calling_tool_hook_parity_agent_kickoff.yaml
  lib/crewai/tests/cassettes/agents/TestOpenAINativeToolCalling.test_openai_parallel_native_tool_calling_tool_hook_parity_crew.yaml
Due: ruff, ruff-format, mypy

better core concepts
  docs/en/concepts/agents.mdx
  docs/en/concepts/crews.mdx
  docs/en/concepts/flows.mdx
  docs/en/concepts/llms.mdx
  docs/en/concepts/planning.mdx
  docs/en/concepts/processes.mdx
  docs/en/concepts/testing.mdx
  docs/en/concepts/tools.mdx
Due: none

move it around
  docs/docs.json
Due: none

fix: preserve enum type in router result; improve types
  lib/crewai/src/crewai/flow/flow.py
Due: ruff, ruff-format, mypy

improve crew agent executor
  lib/crewai/src/crewai/agents/crew_agent_executor.py
Due: ruff, ruff-format, mypy

address test comments
  lib/crewai/tests/agents/test_agent_executor.py
  lib/crewai/tests/agents/test_native_tool_calling.py
Due: ruff, ruff-format

supporting parallel tool use (#4513)
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/tests/agents/test_agent_executor.py
  lib/crewai/tests/agents/test_native_tool_calling.py
  lib/crewai/tests/cassettes/agents/TestAnthropicNativeToolCalling.test_anthropic_parallel_native_tool_calling_test_agent_kickoff.yaml
  lib/crewai/tests/cassettes/agents/TestAnthropicNativeToolCalling.test_anthropic_parallel_native_tool_calling_test_crew.yaml
  lib/crewai/tests/cassettes/agents/TestAzureNativeToolCalling.test_azure_agent_with_native_tool_calling.yaml
  lib/crewai/tests/cassettes/agents/TestAzureNativeToolCalling.test_azure_parallel_native_tool_calling_test_agent_kickoff.yaml
  lib/crewai/tests/cassettes/agents/TestAzureNativeToolCalling.test_azure_parallel_native_tool_calling_test_crew.yaml
  lib/crewai/tests/cassettes/agents/TestBedrockNativeToolCalling.test_bedrock_parallel_native_tool_calling_test_agent_kickoff.yaml
  lib/crewai/tests/cassettes/agents/TestBedrockNativeToolCalling.test_bedrock_parallel_native_tool_calling_test_crew.yaml
  lib/crewai/tests/cassettes/agents/TestGeminiNativeToolCalling.test_gemini_agent_with_native_tool_calling.yaml
  lib/crewai/tests/cassettes/agents/TestGeminiNativeToolCalling.test_gemini_parallel_native_tool_calling_test_agent_kickoff.yaml
  lib/crewai/tests/cassettes/agents/TestGeminiNativeToolCalling.test_gemini_parallel_native_tool_calling_test_crew.yaml
  lib/crewai/tests/cassettes/agents/TestOpenAINativeToolCalling.test_openai_agent_with_native_tool_calling.yaml
  lib/crewai/tests/cassettes/agents/TestOpenAINativeToolCalling.test_openai_parallel_native_tool_calling_test_agent_kickoff.yaml
  lib/crewai/tests/cassettes/agents/TestOpenAINativeToolCalling.test_openai_parallel_native_tool_calling_test_crew.yaml
  lib/crewai/tests/cassettes/agents/TestOpenAINativeToolCalling.test_openai_parallel_native_tool_calling_tool_hook_parity_agent_kickoff.yaml
  lib/crewai/tests/cassettes/agents/TestOpenAINativeToolCalling.test_openai_parallel_native_tool_calling_tool_hook_parity_crew.yaml
Due: ruff, ruff-format, mypy

fix: capture method name in exception context
  lib/crewai/src/crewai/flow/flow.py
Due: ruff, ruff-format, mypy

fix: respect CREWAI_TRACING_ENABLED and user consent in telemetry
  lib/crewai/src/crewai/telemetry/telemetry.py
  lib/crewai/tests/telemetry/test_execution_span_assignment.py
  lib/crewai/tests/telemetry/test_flow_crew_span_integration.py
  lib/crewai/tests/telemetry/test_telemetry.py
  lib/crewai/tests/telemetry/test_telemetry_disable.py
Due: ruff, ruff-format, mypy

Fix Pydantic validation error for LLM responses wrapped in markdown code blocks
  lib/crewai/src/crewai/utilities/converter.py
  lib/crewai/tests/utilities/test_converter.py
  simple_test.py
  test_markdown_json_fix.py
Due: ruff, ruff-format, mypy

Remove temporary test files
  simple_test.py
  test_markdown_json_fix.py
Due: ruff, ruff-format, mypy

Docs: fix ConditionalTask example comment and missing tool
  docs/en/learn/conditional-tasks.mdx
  docs/ko/learn/conditional-tasks.mdx
  docs/pt-BR/learn/conditional-tasks.mdx
Due: none

fix: drop 'stop' param for reasoning models (o1/o3/o4-mini)
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

fix: relax opentelemetry version constraints to support >=1.34.0
  lib/crewai/pyproject.toml
  uv.lock
Due: none

fix: strip markdown code blocks from LLM output before JSON parsing
  lib/crewai/src/crewai/utilities/converter.py
  lib/crewai/tests/utilities/test_converter.py
Due: ruff, ruff-format, mypy

fix: handle non-hyphenated GPT-5 model names in detection logic
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/tests/llms/azure/test_azure.py
Due: ruff, ruff-format, mypy

fix: strip File objects from messages for non-multimodal LLMs
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/tests/llms/test_multimodal.py
Due: ruff, ruff-format, mypy

fix: auto-parse JSON string config in Mem0Storage
  lib/crewai/src/crewai/memory/storage/interface.py
  lib/crewai/src/crewai/memory/storage/mem0_storage.py
  lib/crewai/tests/storage/test_mem0_storage_config.py
Due: ruff, ruff-format, mypy

fix: prevent writer starvation in RWLock
  lib/crewai/src/crewai/utilities/rw_lock.py
  lib/crewai/tests/utilities/events/test_rw_lock.py
Due: ruff, ruff-format, mypy

feat: add debug logging for OutputParser error retries
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/utilities/test_output_parser_logging.py
Due: ruff, ruff-format, mypy

fix: strip trailing whitespace from assistant messages for Anthropic
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

fix: RPM controller thread-safety and timer lifecycle bugs
  lib/crewai/src/crewai/utilities/rpm_controller.py
  lib/crewai/tests/utilities/test_rpm_controller.py
Due: ruff, ruff-format, mypy

fix: validate agent type in Task to give clear error instead of AttributeError
  lib/crewai/src/crewai/utilities/config.py
  lib/crewai/tests/test_task.py
Due: ruff, ruff-format, mypy

fix: sanitize Anthropic messages for empty content and trailing whitespace
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/tests/llms/anthropic/test_anthropic_message_sanitization.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
