Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

fix: escape single quotes in delete() record_ids to prevent SQL injection
  lib/crewai/src/crewai/memory/storage/lancedb_storage.py
Due: ruff, ruff-format, mypy

fix: remove spurious repair_json call in _validate_tool_input that could skip Attempt 3
  lib/crewai/src/crewai/tools/tool_usage.py
Due: ruff, ruff-format, mypy

fix: prevent output_pydantic from injecting tool schema when LLM lacks function calling
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/tests/agents/test_react_response_model.py
Due: ruff, ruff-format, mypy

fix: replace deprecated asyncio.get_event_loop() with get_running_loop()
  lib/crewai/src/crewai/cli/memory_tui.py
  lib/crewai/src/crewai/tools/structured_tool.py
  lib/crewai/src/crewai/utilities/streaming.py
Due: ruff, ruff-format, mypy

fix: add extra='ignore' to MCP tool resolver Pydantic model to handle non-standard properties
  lib/crewai/src/crewai/mcp/tool_resolver.py
Due: ruff, ruff-format, mypy

Fix typo: occured -> occurred
  lib/crewai-tools/src/crewai_tools/tools/brightdata_tool/brightdata_dataset.py
Due: ruff, ruff-format, mypy

fix: also escape single quotes in second delete path (category/metadata filter)
  lib/crewai/src/crewai/memory/storage/lancedb_storage.py
Due: ruff, ruff-format, mypy

fix: propagate contextvars across all thread and executor boundaries
  lib/crewai-tools/src/crewai_tools/tools/stagehand_tool/stagehand_tool.py
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/a2a/utils/agent_card.py
  lib/crewai/src/crewai/a2a/utils/delegation.py
  lib/crewai/src/crewai/a2a/wrapper.py
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/cli/crew_chat.py
  lib/crewai/src/crewai/events/listeners/tracing/utils.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/mcp/tool_resolver.py
  lib/crewai/src/crewai/memory/encoding_flow.py
  lib/crewai/src/crewai/memory/recall_flow.py
  lib/crewai/src/crewai/memory/storage/lancedb_storage.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/src/crewai/project/annotations.py
  lib/crewai/src/crewai/project/wrappers.py
  lib/crewai/src/crewai/tools/mcp_native_tool.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/src/crewai/utilities/file_store.py
  lib/crewai/tests/cassettes/test_before_kickoff_callback.yaml
  lib/crewai/tests/cassettes/test_crew_testing_function.yaml
  lib/crewai/tests/cassettes/test_delegation_is_not_enabled_if_there_are_only_one_agent.yaml
  lib/crewai/tests/cassettes/test_hierarchical_process.yaml
  lib/crewai/tests/cassettes/test_hierarchical_verbose_manager_agent.yaml
  lib/crewai/tests/cassettes/test_memory_enabled_creates_unified_memory.yaml
  lib/crewai/tests/cassettes/test_single_task_with_async_execution.yaml
  lib/crewai/tests/test_crew.py
Due: ruff, ruff-format, mypy

fix: avoid blocking event loop in async browser session wait
  lib/crewai-tools/src/crewai_tools/aws/bedrock/browser/browser_session_manager.py
Due: ruff, ruff-format, mypy

feat: add cost governor decorator for Flows with HITL budget approval
  lib/crewai/src/crewai/flow/__init__.py
  lib/crewai/src/crewai/flow/cost_governor.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/flow/flow_wrappers.py
  lib/crewai/tests/test_flow_cost_governor.py
Due: ruff, ruff-format, mypy

fix: address cost governor review feedback
  lib/crewai/src/crewai/flow/cost_governor.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/tests/test_flow_cost_governor.py
Due: ruff, ruff-format, mypy

fix: replace dual-lock with single cross-process lock in LanceDB storage
  lib/crewai/src/crewai/memory/encoding_flow.py
  lib/crewai/src/crewai/memory/storage/lancedb_storage.py
Due: ruff, ruff-format, mypy

fix: remove dead _save_user_data function and stale mock
  lib/crewai/src/crewai/events/listeners/tracing/utils.py
  lib/crewai/tests/tracing/test_tracing.py
Due: ruff, ruff-format, mypy

ci: add slack notification on successful pypi publish
  .github/workflows/publish.yml
Due: none

feat: rename to @budget, add request limits, custom pricing, comprehensive token tracking
  lib/crewai/src/crewai/flow/__init__.py
  lib/crewai/src/crewai/flow/budget.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/flow/flow_wrappers.py
  lib/crewai/tests/test_flow_budget.py
Due: ruff, ruff-format, mypy

fix(ci): extract version from __init__.py instead of pyproject.toml
  .github/workflows/publish.yml
Due: none

fix(ci): use jq to escape slack payload
  .github/workflows/publish.yml
Due: none

feat(ci): use slack block kit with install command
  .github/workflows/publish.yml
Due: none

fix(ci): checkout release tag in publish job
  .github/workflows/publish.yml
Due: none

test: regenerate stale cassette for hierarchical verbose manager test
  lib/crewai/tests/cassettes/test_hierarchical_verbose_manager_agent.yaml
Due: none

test: regenerate stale cassettes for 3 failing crew tests
  lib/crewai/tests/cassettes/test_before_kickoff_callback.yaml
  lib/crewai/tests/cassettes/test_crew_kickoff_usage_metrics.yaml
  lib/crewai/tests/cassettes/test_hierarchical_verbose_false_manager_agent.yaml
Due: none

fix(ci): use release tag in notes link and support * list markers
  .github/workflows/publish.yml
  lib/crewai/tests/cassettes/test_hierarchical_verbose_false_manager_agent.yaml
Due: none

fix: comprehensive token tracking via event bus with LLM instance snapshots
  lib/crewai/src/crewai/flow/budget.py
Due: ruff, ruff-format, mypy

fix: address Bugbot review — denial parsing, None guards, per-invocation snapshots, sleep removal
  lib/crewai/src/crewai/flow/budget.py
Due: ruff, ruff-format, mypy

fix(openrouter): honor explicit base_url over model prefix
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/llms/openai/test_openai.py
Due: ruff, ruff-format, mypy

fix: allow MCP tools to ignore extra fields like security_context
  lib/crewai-tools/src/crewai_tools/adapters/mcp_adapter.py
Due: ruff, ruff-format, mypy

docs: unify installation FAQ and troubleshooting with UV standards
  README.md
Due: none

feat: add MiniMax as a native LLM provider
  README.md
  lib/crewai/src/crewai/cli/constants.py
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/constants.py
  lib/crewai/src/crewai/llms/providers/minimax/__init__.py
  lib/crewai/src/crewai/llms/providers/minimax/completion.py
Due: ruff, ruff-format, mypy

test: add unit tests for MiniMax native provider
  lib/crewai/tests/llms/minimax/__init__.py
  lib/crewai/tests/llms/minimax/test_minimax.py
Due: ruff, ruff-format

fix: also apply extra=ignore to MCPToolResolver schema creation
  lib/crewai/src/crewai/mcp/tool_resolver.py
Due: ruff, ruff-format, mypy

ci: add slack notification on successful pypi publish
  .github/workflows/publish.yml
  lib/crewai/tests/cassettes/test_before_kickoff_callback.yaml
  lib/crewai/tests/cassettes/test_crew_kickoff_usage_metrics.yaml
  lib/crewai/tests/cassettes/test_hierarchical_verbose_false_manager_agent.yaml
  lib/crewai/tests/cassettes/test_hierarchical_verbose_manager_agent.yaml
Due: none

fix(budget): reject unrecognized HITL feedback instead of treating as approval
  lib/crewai/src/crewai/flow/budget.py
  lib/crewai/tests/test_flow_budget.py
Due: ruff, ruff-format, mypy

adjusted tools
  lib/crewai/src/crewai/agents/step_executor.py
Due: ruff, ruff-format, mypy

dropping debug statements
  lib/crewai/src/crewai/experimental/agent_executor.py
Due: ruff, ruff-format, mypy

fix: re-addd file descriptor limit to prevent crashes
  lib/crewai/src/crewai/memory/storage/lancedb_storage.py
Due: ruff, ruff-format, mypy

addressed comment
  lib/crewai/src/crewai/experimental/agent_executor.py
Due: ruff, ruff-format, mypy

feat(devtools): add release command and fix automerge on protected branches
  lib/devtools/README.md
  lib/devtools/pyproject.toml
  lib/devtools/src/crewai_devtools/cli.py
Due: ruff, ruff-format, mypy

feat(devtools): trigger PyPI publish workflow after GitHub release
  lib/devtools/src/crewai_devtools/cli.py
Due: ruff, ruff-format, mypy

fix: add cross-process and thread-safe locking to unprotected I/O (#4827)
  lib/crewai-tools/src/crewai_tools/adapters/lancedb_adapter.py
  lib/crewai-tools/src/crewai_tools/aws/bedrock/browser/browser_session_manager.py
  lib/crewai-tools/src/crewai_tools/rag/core.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_search_tool.py
  lib/crewai-tools/src/crewai_tools/tools/file_writer_tool/file_writer_tool.py
  lib/crewai-tools/src/crewai_tools/tools/files_compressor_tool/files_compressor_tool.py
  lib/crewai-tools/src/crewai_tools/tools/merge_agent_handler_tool/merge_agent_handler_tool.py
  lib/crewai-tools/src/crewai_tools/tools/qdrant_vector_search_tool/qdrant_search_tool.py
  lib/crewai-tools/src/crewai_tools/tools/snowflake_search_tool/snowflake_search_tool.py
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/cli/cli.py
  lib/crewai/src/crewai/cli/memory_tui.py
  lib/crewai/src/crewai/cli/reset_memories_command.py
  lib/crewai/src/crewai/cli/utils.py
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/events/listeners/tracing/utils.py
  lib/crewai/src/crewai/events/utils/console_formatter.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/flow/async_feedback/providers.py
  lib/crewai/src/crewai/flow/human_feedback.py
  lib/crewai/src/crewai/flow/persistence/sqlite.py
  lib/crewai/src/crewai/memory/analyze.py
  lib/crewai/src/crewai/memory/encoding_flow.py
  lib/crewai/src/crewai/memory/storage/kickoff_task_outputs_storage.py
  lib/crewai/src/crewai/memory/storage/lancedb_storage.py
  lib/crewai/src/crewai/rag/chromadb/client.py
  lib/crewai/src/crewai/rag/chromadb/factory.py
  lib/crewai/src/crewai/task.py
  lib/crewai/src/crewai/utilities/file_handler.py
  lib/crewai/src/crewai/utilities/i18n.py
  lib/crewai/src/crewai/utilities/pydantic_schema_utils.py
  lib/crewai/tests/tracing/test_tracing.py
Due: ruff, ruff-format, mypy

refactor(devtools): extract shared helpers to eliminate duplication
  lib/devtools/src/crewai_devtools/cli.py
Due: ruff, ruff-format, mypy
