Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

docs: add Kalibr integration to observability section
  docs/en/observability/kalibr.mdx
Due: none

feat: add deterministic CI check-state classifier for PR triage
  lib/crewai/tests/test_ci_check_classifier.py
  scripts/classify_ci_checks.py
Due: ruff, ruff-format, mypy

fix: preserve null types in tool parameter schemas for LLM
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/src/crewai/utilities/pydantic_schema_utils.py
  lib/crewai/tests/utilities/test_agent_utils.py
Due: ruff, ruff-format, mypy

fix: bedrock region was always set to "us-east-1" not respecting the env var.
  .env.test
  lib/crewai/src/crewai/cli/constants.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/utilities/llm_utils.py
  lib/crewai/tests/utilities/test_llm_utils.py
Due: ruff, ruff-format, mypy

refactor: streamline observation and refinement process in PlannerObserver
  lib/crewai/src/crewai/agents/planner_observer.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/translations/en.json
  lib/crewai/src/crewai/utilities/planning_types.py
Due: ruff, ruff-format, mypy

DRY code improvement and fix caught by tests.
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
Due: ruff, ruff-format, mypy

refactor: improve argument validation in BaseTool
  lib/crewai/src/crewai/tools/base_tool.py
Due: ruff, ruff-format, mypy

feat: introduce parse_tool_call_args for improved argument parsing
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/utilities/test_agent_utils.py
Due: ruff, ruff-format, mypy

Supporting litellm configuration
  docs/en/concepts/llms.mdx
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/tests/llms/bedrock/test_bedrock.py
Due: ruff, ruff-format, mypy

Fix whitespace
  lib/crewai/tests/llms/bedrock/test_bedrock.py
Due: ruff, ruff-format

fix: bedrock region was always set to "us-east-1" not respecting the env var. (#4582)
  .env.test
  docs/en/concepts/llms.mdx
  lib/crewai/src/crewai/cli/constants.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/utilities/llm_utils.py
  lib/crewai/tests/llms/bedrock/test_bedrock.py
  lib/crewai/tests/utilities/test_llm_utils.py
Due: ruff, ruff-format, mypy

Private package registry
  docs/docs.json
  docs/en/enterprise/guides/deploy-to-amp.mdx
  docs/en/enterprise/guides/prepare-for-deployment.mdx
  docs/en/enterprise/guides/private-package-registry.mdx
  docs/ko/enterprise/guides/deploy-to-amp.mdx
  docs/ko/enterprise/guides/prepare-for-deployment.mdx
  docs/ko/enterprise/guides/private-package-registry.mdx
  docs/pt-BR/enterprise/guides/deploy-to-amp.mdx
  docs/pt-BR/enterprise/guides/prepare-for-deployment.mdx
  docs/pt-BR/enterprise/guides/private-package-registry.mdx
Due: none

Private package registry (#4583)
  docs/docs.json
  docs/en/enterprise/guides/deploy-to-amp.mdx
  docs/en/enterprise/guides/prepare-for-deployment.mdx
  docs/en/enterprise/guides/private-package-registry.mdx
  docs/ko/enterprise/guides/deploy-to-amp.mdx
  docs/ko/enterprise/guides/prepare-for-deployment.mdx
  docs/ko/enterprise/guides/private-package-registry.mdx
  docs/pt-BR/enterprise/guides/deploy-to-amp.mdx
  docs/pt-BR/enterprise/guides/prepare-for-deployment.mdx
  docs/pt-BR/enterprise/guides/private-package-registry.mdx
Due: none

fix: initialize tools list when None so MCP and platform tools load
  lib/crewai/src/crewai/agent/core.py
Due: ruff, ruff-format, mypy

enhance step executor with tool usage events and validation
  lib/crewai/src/crewai/agents/step_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/tests/agents/test_agent_executor.py
Due: ruff, ruff-format, mypy

Make sys.stdout/stderr filtering opt-in via environment variable
  lib/crewai/src/crewai/llm.py
Due: ruff, ruff-format, mypy

refactor: enhance final answer synthesis logic in AgentExecutor
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/tests/agents/test_agent_executor.py
Due: ruff, ruff-format, mypy

Add proactive context window checking before LLM calls
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/utilities/agent_utils.py
Due: ruff, ruff-format, mypy

feat: add double-buffer context window management for memory
  lib/crewai/src/crewai/memory/context_buffer.py
  lib/crewai/tests/memory/test_context_buffer.py
Due: ruff, ruff-format, mypy

feat: add OceanBase vector search tool with lazy distance function loading
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/oceanbase_vector_search_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/oceanbase_vector_search_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/oceanbase_vector_search_tool/oceanbase_vector_search_tool.py
  lib/crewai-tools/tests/tools/test_oceanbase_vector_search_tool.py
Due: ruff, ruff-format, mypy

Update lib/crewai/src/crewai/utilities/pydantic_schema_utils.py
  lib/crewai/src/crewai/utilities/pydantic_schema_utils.py
Due: ruff, ruff-format, mypy

docs: fix typo and grammar in quickstart
  docs/en/quickstart.mdx
Due: none

feat: add versioned docs
  docs/docs.json
Due: none

chore: add versioning logic for devtools
  .github/workflows/publish.yml
  .github/workflows/trigger-deployment-tests.yml
  lib/devtools/src/crewai_devtools/cli.py
  lib/devtools/src/crewai_devtools/prompts.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.10.0
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

feat: add keyword argument validation in BaseTool and Tool classes
  lib/crewai/src/crewai/tools/base_tool.py
  lib/crewai/tests/tools/test_base_tool.py
Due: ruff, ruff-format, mypy

Potential fix for pull request finding 'Syntax error'
  lib/crewai/src/crewai/tools/base_tool.py
Due: ruff, ruff-format, mypy

feat: enhance JSON argument parsing and validation in CrewAgentExecutor and BaseTool
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/tools/base_tool.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/agents/test_native_tool_calling.py
  lib/crewai/tests/tools/test_base_tool.py
  lib/crewai/tests/utilities/test_agent_utils.py
Due: ruff, ruff-format, mypy

fix: map output_pydantic/output_json to native structured output
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/task.py
  lib/crewai/tests/cassettes/test_custom_converter_cls.yaml
  lib/crewai/tests/cassettes/test_json_property_without_output_json.yaml
  lib/crewai/tests/cassettes/test_output_json_dict_hierarchical.yaml
  lib/crewai/tests/cassettes/test_output_json_dict_sequential.yaml
  lib/crewai/tests/cassettes/test_output_json_hierarchical.yaml
  lib/crewai/tests/cassettes/test_output_json_sequential.yaml
  lib/crewai/tests/cassettes/test_output_json_to_another_task.yaml
  lib/crewai/tests/cassettes/test_output_pydantic_sequential.yaml
  lib/crewai/tests/cassettes/test_output_pydantic_to_another_task.yaml
  lib/crewai/tests/cassettes/test_save_task_json_output.yaml
  lib/crewai/tests/cassettes/test_save_task_pydantic_output.yaml
  lib/crewai/tests/test_task.py
Due: ruff, ruff-format, mypy

tooling: add CI state classifier command (#4576)
  scripts/ci_state_classifier.py
Due: ruff, ruff-format, mypy

tooling: tighten CI classifier state mapping (#4576)
  scripts/ci_state_classifier.py
Due: ruff, ruff-format, mypy

tooling: remove unused import in CI classifier (#4576)
  scripts/ci_state_classifier.py
Due: ruff, ruff-format, mypy

feat: enforce fail-closed defaults for unsafe tool execution
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/tools/base_tool.py
  lib/crewai/src/crewai/tools/structured_tool.py
  lib/crewai/src/crewai/utilities/tool_utils.py
  lib/crewai/tests/hooks/test_unsafe_tool_fail_closed.py
Due: ruff, ruff-format, mypy

fix: remove unused imports in test file (review bot feedback)
  lib/crewai/tests/hooks/test_unsafe_tool_fail_closed.py
Due: ruff, ruff-format

test: add crew+tools+structured output integration test for Gemini
  lib/crewai/tests/cassettes/llms/google/test_gemini_crew_structured_output_with_tools.yaml
  lib/crewai/tests/llms/google/test_google.py
Due: ruff, ruff-format

fix: re-record stale cassette for test_crew_testing_function
  lib/crewai/tests/cassettes/test_crew_testing_function.yaml
Due: none

fix: re-record remaining stale cassettes for native structured output
  lib/crewai/tests/cassettes/test_guardrail_emits_events.yaml
  lib/crewai/tests/cassettes/test_guardrail_when_an_error_occurs.yaml
  lib/crewai/tests/cassettes/test_output_pydantic_hierarchical.yaml
  lib/crewai/tests/cassettes/test_save_task_output.yaml
  lib/crewai/tests/cassettes/test_task_guardrail_process_output.yaml
  lib/crewai/tests/cassettes/utilities/test_crew_emits_test_kickoff_type_event.yaml
Due: none

fix: enable native structured output for lite agent and fix mypy errors
  lib/crewai/src/crewai/lite_agent.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
