Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

Support conversational flows in the CLI TUI (#6293)
  lib/cli/src/crewai_cli/crew_run_tui.py
  lib/cli/src/crewai_cli/kickoff_flow.py
  lib/cli/src/crewai_cli/run_crew.py
  lib/cli/tests/test_crew_run_tui.py
  lib/cli/tests/test_kickoff_flow.py
  lib/cli/tests/test_run_crew.py
Due: ruff, ruff-format, mypy

Validate declarative flow definition paths
  lib/cli/src/crewai_cli/run_declarative_flow.py
  lib/cli/tests/test_flow_commands.py
  lib/cli/tests/test_run_crew.py
Due: ruff, ruff-format, mypy

Validate declarative flow definition paths (#6311)
  lib/cli/src/crewai_cli/run_declarative_flow.py
  lib/cli/tests/test_flow_commands.py
  lib/cli/tests/test_run_crew.py
Due: ruff, ruff-format, mypy

Harden skill cache archive extraction
  lib/cli/src/crewai_cli/experimental/skills/main.py
  lib/cli/tests/skills/test_safe_extract.py
  lib/crewai/src/crewai/experimental/skills/cache.py
  lib/crewai/tests/experimental/skills/test_cache.py
Due: ruff, ruff-format, mypy

Reject special skill archive members
  lib/cli/src/crewai_cli/experimental/skills/main.py
  lib/cli/tests/skills/test_safe_extract.py
  lib/crewai/src/crewai/experimental/skills/cache.py
  lib/crewai/tests/experimental/skills/test_cache.py
Due: ruff, ruff-format, mypy

Disable env proxies for SSRF-safe requests
  lib/crewai-tools/src/crewai_tools/security/safe_requests.py
  lib/crewai-tools/tests/utilities/test_safe_requests.py
Due: ruff, ruff-format, mypy

fix: remove redundant json import and add error handling in _submit_and_poll
  lib/crewai-tools/src/crewai_tools/tools/muapi_tool/muapi_tool.py
Due: ruff, ruff-format, mypy

Potential fix for pull request finding
  lib/crewai-tools/src/crewai_tools/security/safe_requests.py
Due: ruff, ruff-format, mypy

fix(tools): return structured JSON error data from tool exceptions
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/src/crewai/utilities/tool_errors.py
  lib/crewai/tests/test_tool_errors.py
Due: ruff, ruff-format, mypy

feat(llm): add native Groq provider support and fix cache_breakpoint for non-Anthropic
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/openai_compatible/completion.py
  lib/crewai/tests/llms/test_groq_provider.py
Due: ruff, ruff-format, mypy

fix(cli): update Groq model list to match current API availability
  lib/cli/src/crewai_cli/constants.py
Due: ruff, ruff-format, mypy

Fix symlink path traversal in skill archive extraction (#6235)
  lib/cli/src/crewai_cli/experimental/skills/main.py
  lib/cli/tests/skills/test_safe_extract.py
  lib/crewai/src/crewai/experimental/skills/cache.py
  lib/crewai/tests/experimental/skills/test_cache.py
Due: ruff, ruff-format, mypy

docs: nest One Card per Step under Crew Studio and drop rollout banner (AGE-107)
  docs/docs.json
  docs/edge/ar/enterprise/features/merged-step-card.mdx
  docs/edge/en/enterprise/features/merged-step-card.mdx
  docs/edge/ko/enterprise/features/merged-step-card.mdx
  docs/edge/pt-BR/enterprise/features/merged-step-card.mdx
  docs/v1.14.7/ar/enterprise/features/merged-step-card.mdx
  docs/v1.14.7/en/enterprise/features/merged-step-card.mdx
  docs/v1.14.7/ko/enterprise/features/merged-step-card.mdx
  docs/v1.14.7/pt-BR/enterprise/features/merged-step-card.mdx
Due: none

feat: bump versions to 1.14.8a4
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/cli/src/crewai_cli/templates/crew/pyproject.toml
  lib/cli/src/crewai_cli/templates/declarative_flow/pyproject.toml
  lib/cli/src/crewai_cli/templates/flow/pyproject.toml
  lib/cli/src/crewai_cli/templates/tool/pyproject.toml
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.14.8a4 (#6318)
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/cli/src/crewai_cli/templates/crew/pyproject.toml
  lib/cli/src/crewai_cli/templates/declarative_flow/pyproject.toml
  lib/cli/src/crewai_cli/templates/flow/pyproject.toml
  lib/cli/src/crewai_cli/templates/tool/pyproject.toml
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

docs: snapshot and changelog for v1.14.8a4
  docs/edge/ar/changelog.mdx
  docs/edge/en/changelog.mdx
  docs/edge/ko/changelog.mdx
  docs/edge/pt-BR/changelog.mdx
Due: none

docs: snapshot and changelog for v1.14.8a4 (#6319)
  docs/edge/ar/changelog.mdx
  docs/edge/en/changelog.mdx
  docs/edge/ko/changelog.mdx
  docs/edge/pt-BR/changelog.mdx
Due: none

docs: nest One Card per Step under Crew Studio and drop rollout banner (AGE-107) (#6317)
  docs/docs.json
  docs/edge/ar/enterprise/features/merged-step-card.mdx
  docs/edge/en/enterprise/features/merged-step-card.mdx
  docs/edge/ko/enterprise/features/merged-step-card.mdx
  docs/edge/pt-BR/enterprise/features/merged-step-card.mdx
  docs/v1.14.7/ar/enterprise/features/merged-step-card.mdx
  docs/v1.14.7/en/enterprise/features/merged-step-card.mdx
  docs/v1.14.7/ko/enterprise/features/merged-step-card.mdx
  docs/v1.14.7/pt-BR/enterprise/features/merged-step-card.mdx
Due: none

test(tools): cover circular structured output fallback
  lib/crewai/src/crewai/tools/structured_tool.py
  lib/crewai/tests/tools/test_structured_tool.py
Due: ruff, ruff-format, mypy

fix(tools): serialize plain structured outputs as json
  lib/crewai/src/crewai/tools/structured_tool.py
  lib/crewai/tests/tools/test_base_tool.py
  lib/crewai/tests/tools/test_structured_tool.py
  lib/crewai/tests/tools/test_tool_usage.py
Due: ruff, ruff-format, mypy

fix(agents): expose human input flag on executor
  lib/crewai/tests/agents/test_agent_executor.py
Due: ruff, ruff-format

fix: interpolate_only should substitute in a single pass
  lib/crewai/src/crewai/utilities/string_utils.py
  lib/crewai/tests/utilities/test_string_utils.py
Due: ruff, ruff-format, mypy

Track conversational flow turn usage in telemetry
  lib/crewai/src/crewai/events/__init__.py
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/src/crewai/events/event_types.py
  lib/crewai/src/crewai/events/types/flow_events.py
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/tests/test_flow_conversation.py
Due: ruff, ruff-format, mypy

test: cover tool output fallback for unserializable mappings
  lib/crewai/tests/tools/test_base_tool.py
Due: ruff, ruff-format

adjusted name to flow:conversation_turn
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/tests/test_flow_conversation.py
Due: ruff, ruff-format, mypy

fix(llm): strip cache_breakpoint marker on the litellm provider path
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/llms/test_prompt_cache.py
Due: ruff, ruff-format, mypy

test(agents): cover agent-verbose no-op for human-feedback display
  lib/crewai/tests/core/providers/test_human_input.py
Due: ruff, ruff-format

fix(agents): show final result before human feedback prompt when not verbose
  lib/crewai/src/crewai/core/providers/human_input.py
  lib/crewai/tests/core/__init__.py
  lib/crewai/tests/core/providers/__init__.py
  lib/crewai/tests/core/providers/test_human_input.py
Due: ruff, ruff-format, mypy

test(agents): add async parity for human-feedback result display
  lib/crewai/tests/core/providers/test_human_input.py
Due: ruff, ruff-format

refactor(llm): route _is_anthropic_model through the shared pattern matcher
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

fix(llm): detect Anthropic models with custom deployment naming
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

perf(utilities): memoize sanitize_tool_name
  lib/crewai/src/crewai/utilities/string_utils.py
  lib/crewai/tests/utilities/test_string_utils.py
Due: ruff, ruff-format, mypy

fix(llm): validate response_model in sync streaming fallback
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/llms/openai_compatible/test_openai_compatible.py
Due: ruff, ruff-format, mypy

fix(llm): fall back from json_schema on OpenAI-compatible providers that reject it
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/src/crewai/llms/providers/openai_compatible/completion.py
  lib/crewai/tests/llms/openai_compatible/test_openai_compatible.py
Due: ruff, ruff-format, mypy

fix(llm): honor configured response_format in streaming fallback
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/llms/openai_compatible/test_openai_compatible.py
Due: ruff, ruff-format, mypy

perf(memory): vectorize intra-batch dedup cosine similarity
  lib/crewai/src/crewai/memory/encoding_flow.py
  lib/crewai/tests/memory/test_encoding_flow_dedup.py
Due: ruff, ruff-format, mypy

refactor(memory): import numpy lazily in intra_batch_dedup
  lib/crewai/src/crewai/memory/encoding_flow.py
  lib/crewai/tests/memory/test_encoding_flow_dedup.py
Due: ruff, ruff-format, mypy

test(agents): cover Bedrock Converse toolUse arg parsing
  lib/crewai/tests/agents/test_native_tool_calling.py
Due: ruff, ruff-format

perf(tools): add exact-match fast path to _select_tool
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/tests/tools/test_tool_usage.py
Due: ruff, ruff-format, mypy
