Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

fix(flow): emit the flow lifecycle on a suppressed resume (#7071)
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/tests/test_async_human_feedback.py
Due: ruff, ruff-format, mypy

fix(deps): raise the pip floor to 26.2 for PYSEC-2026-3721
  pyproject.toml
  uv.lock
Due: none

fix(deps): raise the pip floor to 26.2 for PYSEC-2026-3721 (#7076)
  pyproject.toml
  uv.lock
Due: none

feat(events): record whether a run had inputs, without recording the inputs (#7072)
  docs/edge/ar/telemetry.mdx
  docs/edge/en/telemetry.mdx
  docs/edge/ko/telemetry.mdx
  docs/edge/pt-BR/telemetry.mdx
  lib/crewai/src/crewai/telemetry/telemetry.py
  lib/crewai/tests/telemetry/test_telemetry.py
Due: ruff, ruff-format, mypy

fix(llms): raise Anthropic default max_tokens so large tool calls survive
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/tests/llms/anthropic/test_anthropic.py
Due: ruff, ruff-format, mypy

feat: default unset LLMs to gpt-5.6-luna
  lib/cli/src/crewai_cli/constants.py
  lib/crewai/src/crewai/constants.py
Due: ruff, ruff-format, mypy

feat(cli): prefer gpt-5.6-luna when scaffolding OpenAI crews
  lib/cli/src/crewai_cli/constants.py
  lib/cli/src/crewai_cli/create_json_crew.py
Due: ruff, ruff-format, mypy

test(cli): expect openai/gpt-5.6-luna as the scaffolded OpenAI default
  lib/cli/tests/test_create_crew.py
Due: ruff, ruff-format, mypy

docs: document gpt-5.6-luna as the default LLM
  docs/edge/ar/concepts/llms.mdx
  docs/edge/ar/learn/llm-connections.mdx
  docs/edge/en/concepts/llms.mdx
  docs/edge/en/learn/llm-connections.mdx
  docs/edge/ko/concepts/llms.mdx
  docs/edge/ko/learn/llm-connections.mdx
  docs/edge/pt-BR/concepts/llms.mdx
  docs/edge/pt-BR/learn/llm-connections.mdx
Due: none

docs: add security best practices guide for agents
  docs/docs.json
  docs/en/guides/advanced/security-best-practices.mdx
Due: none

docs: add Agent import to delegation example
  docs/docs.json
  docs/edge/en/guides/advanced/security-best-practices.mdx
Due: none

docs: expand security guide oversight examples
  docs/en/guides/advanced/security-best-practices.mdx
Due: none

fix(llm): isolate caller file messages
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

fix: skip interception hooks on crewai-internal flows
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/tests/hooks/test_interception_conformance.py
  lib/crewai/tests/utilities/test_events.py
Due: ruff, ruff-format, mypy

fix(schema): don't let format clobber other type-array union members
  lib/crewai/src/crewai/utilities/pydantic_schema_utils.py
  lib/crewai/tests/utilities/test_pydantic_schema_utils.py
Due: ruff, ruff-format, mypy

fix(llm): match context window size for provider-prefixed model names
  lib/crewai/src/crewai/llm.py
Due: ruff, ruff-format, mypy

test(llm): add unit test for provider-prefixed model context window sizes
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format

fix(agents): promote the last user message, not the last message
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/tests/agents/test_agent_kickoff_message_history.py
Due: ruff, ruff-format, mypy

Add files via upload
  lib/crewai-tools/src/crewai_tools/tools/proofcore_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/proofcore_tool/proofcore_tool.py
Due: ruff, ruff-format, mypy

fix(reasoning): correctly detect READY verdicts in plan traces
  lib/crewai/src/crewai/utilities/reasoning_handler.py
  lib/crewai/tests/utilities/test_structured_planning.py
Due: ruff, ruff-format, mypy

Add ProofCoreTool
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
Due: ruff, ruff-format, mypy

Update proofcore_tool.py
  lib/crewai-tools/src/crewai_tools/tools/proofcore_tool/proofcore_tool.py
Due: ruff, ruff-format, mypy

fix(tools): validate deal_id and citation in ProofCoreTool
  lib/crewai-tools/src/crewai_tools/tools/proofcore_tool/proofcore_tool.py
Due: ruff, ruff-format, mypy

fix(llms): warn on token-cap truncation for every provider (#7013)
  lib/crewai/src/crewai/llms/_finish_reason_utils.py
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/tests/events/test_llm_finish_reason_response_id.py
Due: ruff, ruff-format, mypy

fix(memory): normalize aware datetimes to naive-UTC across the memory system
  lib/crewai/src/crewai/memory/encoding_flow.py
  lib/crewai/src/crewai/memory/recall_flow.py
  lib/crewai/src/crewai/memory/storage/lancedb_storage.py
  lib/crewai/src/crewai/memory/storage/qdrant_edge_storage.py
  lib/crewai/src/crewai/memory/types.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/tests/memory/test_unified_memory.py
Due: ruff, ruff-format, mypy

fix: await async tools natively in _ainvoke_loop_native_tools
  lib/crewai/src/crewai/agents/crew_agent_executor.py
Due: ruff, ruff-format, mypy

refactor: extract shared logic from sync/async native tool call methods
  lib/crewai/src/crewai/agents/crew_agent_executor.py
Due: ruff, ruff-format, mypy

fix(agents): exclude sanitized cache-read tool name from tool cache
  lib/crewai/src/crewai/agents/tools_handler.py
  lib/crewai/tests/tools/test_tool_usage.py
Due: ruff, ruff-format, mypy

fix(reasoning): use regex for plan readiness detection instead of exact string match
  lib/crewai/src/crewai/utilities/reasoning_handler.py
Due: ruff, ruff-format, mypy

Fix crewAI #6430: Replace bare raise with ToolUsageError in _original_tool_calling for consistent error handling
  lib/crewai/src/crewai/tools/tool_usage.py
Due: ruff, ruff-format, mypy

Fix crewAI #6481: Add async callbacks support in akickoff with proper awaiting of async callables and async prepare_kickoff for before_kickoff_callbacks
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/crews/utils.py
  lib/crewai/tests/crew/test_async_callbacks.py
Due: ruff, ruff-format, mypy

fix: #6568 - Replace bare raise with PermanentUploadError in factory.py
  lib/crewai-files/src/crewai_files/uploaders/factory.py
  lib/crewai-files/tests/test_uploader_factory.py
Due: ruff, ruff-format, mypy

fix: cancel parallel native tool siblings immediately on ToolExecutionFailedError
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/tests/tools/test_tool_failure.py
Due: ruff, ruff-format, mypy

fix(experimental): await native tools on the caller's event loop (#6611)
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/tests/agents/test_agent_executor.py
  lib/crewai/tests/tools/test_tool_failure.py
Due: ruff, ruff-format, mypy

fix(experimental): cancel parallel tool siblings on failure (GH-6611)
  lib/crewai/src/crewai/experimental/agent_executor.py
Due: ruff, ruff-format, mypy

Fix test flakiness and exception handling per Copilot review
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/tests/tools/test_tool_failure.py
Due: ruff, ruff-format, mypy

docs: fix workspace count and Python dev target in CONTRIBUTING.md
  .github/CONTRIBUTING.md
Due: none

fix(experimental): attach ToolFailure context on tool error path (#6611)
  lib/crewai/src/crewai/experimental/agent_executor.py
Due: ruff, ruff-format, mypy
