Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

style: resolve linter issues
  lib/devtools/src/crewai_devtools/docs_versioning.py
Due: ruff, ruff-format, mypy

Bump litellm for security advisory
  lib/crewai/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

Enhance memory reset functionality and JSON crew handling (#6195)
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/src/crewai/utilities/reset_memories.py
  lib/crewai/tests/cli/test_cli.py
  lib/crewai/tests/memory/test_dimension_mismatch.py
  lib/crewai/tests/memory/test_unified_memory.py
  lib/crewai/tests/test_crew.py
  pyproject.toml
  uv.lock
Due: ruff, ruff-format, mypy

fix: expose ask_for_human_input on AgentExecutor to satisfy ExecutorContext protocol
  lib/crewai/src/crewai/experimental/agent_executor.py
Due: ruff, ruff-format, mypy

test: remove stale ask_for_human_input assertions from AgentExecutorState tests
  lib/crewai/tests/agents/test_agent_executor.py
Due: ruff, ruff-format

fix: show agent result before feedback prompt when verbose=False
  lib/crewai/src/crewai/core/providers/human_input.py
Due: ruff, ruff-format, mypy

fix: address CodeRabbit review feedback on PR #6073
  lib/crewai/src/crewai/core/providers/human_input.py
  lib/crewai/src/crewai/experimental/agent_executor.py
Due: ruff, ruff-format, mypy

fix(experimental): remove stale ask_for_human_input property that shadowed Pydantic field
  lib/crewai/src/crewai/experimental/agent_executor.py
Due: ruff, ruff-format, mypy

fix(deps): widen litellm extra to >=1.84,<2
  lib/crewai/pyproject.toml
  uv.lock
Due: none

fix: remove duplicated Exa tool
  lib/crewai-tools/src/crewai_tools/generate_tool_specs.py
  lib/crewai-tools/src/crewai_tools/tools/exa_tools/exa_search_tool.py
  lib/crewai-tools/tests/tools/exa_search_tool_test.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy

fix tests
  lib/crewai-tools/tests/test_generate_tool_specs.py
Due: ruff, ruff-format

fix(reasoning): detect short-form "READY" when concluding a plan
  lib/crewai/src/crewai/utilities/reasoning_handler.py
  lib/crewai/tests/utilities/test_structured_planning.py
Due: ruff, ruff-format, mypy

docs(enterprise): add structured JSON logs guide + Datadog dashboard
  docs/docs.json
  docs/edge/en/enterprise/guides/capture_telemetry_logs.mdx
  docs/edge/en/enterprise/guides/datadog_dashboard.json
  docs/edge/en/enterprise/guides/datadog_dashboard.mdx
  docs/edge/en/enterprise/guides/structured_logs.mdx
Due: none

docs(enterprise): register structured logs + Datadog dashboard in pt-BR/ko/ar
  docs/docs.json
  docs/edge/ar/enterprise/guides/capture_telemetry_logs.mdx
  docs/edge/ar/enterprise/guides/datadog_dashboard.mdx
  docs/edge/ar/enterprise/guides/structured_logs.mdx
  docs/edge/ko/enterprise/guides/capture_telemetry_logs.mdx
  docs/edge/ko/enterprise/guides/datadog_dashboard.mdx
  docs/edge/ko/enterprise/guides/structured_logs.mdx
  docs/edge/pt-BR/enterprise/guides/capture_telemetry_logs.mdx
  docs/edge/pt-BR/enterprise/guides/datadog_dashboard.mdx
  docs/edge/pt-BR/enterprise/guides/structured_logs.mdx
Due: none

fix: remove duplicated Exa tool (#6205)
  lib/crewai-tools/src/crewai_tools/generate_tool_specs.py
  lib/crewai-tools/src/crewai_tools/tools/exa_tools/exa_search_tool.py
  lib/crewai-tools/tests/test_generate_tool_specs.py
  lib/crewai-tools/tests/tools/exa_search_tool_test.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy

Revert "docs(enterprise): register structured logs + Datadog dashboard in pt-BR/ko/ar"
  docs/docs.json
  docs/edge/ar/enterprise/guides/capture_telemetry_logs.mdx
  docs/edge/ar/enterprise/guides/datadog_dashboard.mdx
  docs/edge/ar/enterprise/guides/structured_logs.mdx
  docs/edge/ko/enterprise/guides/capture_telemetry_logs.mdx
  docs/edge/ko/enterprise/guides/datadog_dashboard.mdx
  docs/edge/ko/enterprise/guides/structured_logs.mdx
  docs/edge/pt-BR/enterprise/guides/capture_telemetry_logs.mdx
  docs/edge/pt-BR/enterprise/guides/datadog_dashboard.mdx
  docs/edge/pt-BR/enterprise/guides/structured_logs.mdx
Due: none

docs(enterprise): consolidate Datadog and structured logs into single guide
  docs/docs.json
  docs/edge/en/enterprise/guides/capture_telemetry_logs.mdx
  docs/edge/en/enterprise/guides/datadog.mdx
  docs/edge/en/enterprise/guides/datadog_dashboard.mdx
  docs/edge/en/enterprise/guides/structured_logs.mdx
Due: none

docs(enterprise): re-stub Datadog guide in pt-BR/ko/ar
  docs/docs.json
  docs/edge/ar/enterprise/guides/capture_telemetry_logs.mdx
  docs/edge/ar/enterprise/guides/datadog.mdx
  docs/edge/ko/enterprise/guides/capture_telemetry_logs.mdx
  docs/edge/ko/enterprise/guides/datadog.mdx
  docs/edge/pt-BR/enterprise/guides/capture_telemetry_logs.mdx
  docs/edge/pt-BR/enterprise/guides/datadog.mdx
Due: none

fix(bedrock): parse accumulated tool input in streaming handlers
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/tests/llms/bedrock/test_bedrock_streaming_tool_args.py
Due: ruff, ruff-format, mypy

feat: add Mimir as persistent cross-session memory backend
  lib/crewai/src/crewai/memory/storage/mimir_storage.py
Due: ruff, ruff-format, mypy

feat: wire MimirStorage into factory resolution
  lib/crewai/src/crewai/memory/storage/factory.py
  lib/crewai/src/crewai/memory/storage/mimir_storage.py
Due: ruff, ruff-format, mypy

fix: address CodeRabbit review comments on MimirStorage integration
  lib/crewai/src/crewai/memory/storage/factory.py
  lib/crewai/src/crewai/memory/storage/mimir_storage.py
Due: ruff, ruff-format, mypy

fix: adjust SDK calls to async format and fix return types
  lib/crewai/src/crewai/memory/storage/factory.py
  lib/crewai/src/crewai/memory/storage/mimir_storage.py
Due: ruff, ruff-format, mypy

fix: switch to MimirSyncClient to satisfy synchronous StorageBackend protocol
  lib/crewai/src/crewai/memory/storage/mimir_storage.py
Due: ruff, ruff-format, mypy

fix: sanitize MimirSyncClient config keys and fix comment typo
  lib/crewai/src/crewai/memory/storage/mimir_storage.py
Due: ruff, ruff-format, mypy

ci: fail PRs over 1500 lines of python changes
  .github/workflows/pr-size.yml
Due: none

docs: add Pinstripes as OpenAI-compatible LLM provider
  docs/edge/en/concepts/llms.mdx
Due: none

Replace eval with safe expression parser in calculator tool example
  lib/cli/src/crewai_cli/templates/AGENTS.md
Due: none

ci: scope job permissions and use immutable base sha
  .github/workflows/pr-size.yml
Due: none

Replace calculator example with practical file reader tool
  lib/cli/src/crewai_cli/templates/AGENTS.md
Due: none

Use word count example - safe, no file/eval risk
  lib/cli/src/crewai_cli/templates/AGENTS.md
Due: none

Use safe expression parser in calculator tool example (#6211)
  lib/cli/src/crewai_cli/templates/AGENTS.md
Due: none

ci: diff explicit base...head shas to match files-changed
  .github/workflows/pr-size.yml
Due: none

Add script/code blocks to FlowDefinition
  lib/crewai/src/crewai/flow/flow_definition.py
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/src/crewai/flow/runtime/_actions.py
  lib/crewai/src/crewai/flow/runtime/_expressions.py
  lib/crewai/src/crewai/flow/runtime/_outputs.py
  lib/crewai/tests/test_checkpoint.py
  lib/crewai/tests/test_flow_definition.py
  lib/crewai/tests/test_flow_from_definition.py
Due: ruff, ruff-format, mypy

Address code review comments
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/src/crewai/flow/runtime/_actions.py
  lib/crewai/tests/test_flow_from_definition.py
Due: ruff, ruff-format, mypy

Add script/code block action to FlowDefinition (#6197)
  lib/crewai/src/crewai/flow/flow_definition.py
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/src/crewai/flow/runtime/_actions.py
  lib/crewai/src/crewai/flow/runtime/_expressions.py
  lib/crewai/src/crewai/flow/runtime/_outputs.py
  lib/crewai/tests/test_checkpoint.py
  lib/crewai/tests/test_flow_definition.py
  lib/crewai/tests/test_flow_from_definition.py
Due: ruff, ruff-format, mypy

Document FlowDefinition fields in the JSON schema
  lib/crewai/src/crewai/flow/flow_definition.py
  lib/crewai/tests/test_flow_definition.py
Due: ruff, ruff-format, mypy

Document FlowDefinition fields in the JSON schema (#6198)
  lib/crewai/src/crewai/flow/flow_definition.py
  lib/crewai/tests/test_flow_definition.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
