Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

docs: clarify structured output support
  docs/edge/ar/concepts/llms.mdx
  docs/edge/en/concepts/llms.mdx
  docs/edge/ko/concepts/llms.mdx
  docs/edge/pt-BR/concepts/llms.mdx
Due: none

docs: address LLM guide review feedback
  docs/edge/ar/concepts/llms.mdx
  docs/edge/en/concepts/llms.mdx
  docs/edge/ko/concepts/llms.mdx
  docs/edge/pt-BR/concepts/llms.mdx
Due: none

feat(llms): add Monet as an OpenAI-compatible provider
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/openai_compatible/completion.py
  lib/crewai/tests/llms/openai_compatible/test_openai_compatible.py
Due: ruff, ruff-format, mypy

docs: refresh streaming model examples
  docs/edge/ar/concepts/llms.mdx
  docs/edge/en/concepts/llms.mdx
  docs/edge/ko/concepts/llms.mdx
  docs/edge/pt-BR/concepts/llms.mdx
Due: none

docs(llms): refresh model availability guidance (#6676)
  docs/edge/ar/concepts/llms.mdx
  docs/edge/en/concepts/llms.mdx
  docs/edge/ko/concepts/llms.mdx
  docs/edge/pt-BR/concepts/llms.mdx
Due: none

docs: bind FunASR example to localhost
  docs/edge/en/concepts/files.mdx
Due: none

docs: add FunASR voice input example
  docs/edge/en/concepts/files.mdx
Due: none

docs: use IPv4 loopback for FunASR client
  docs/edge/en/concepts/files.mdx
Due: none

fix(rag): preserve Milvus IP scores
  lib/crewai/src/crewai/rag/milvus/utils.py
  lib/crewai/tests/rag/milvus/test_utils.py
Due: ruff, ruff-format, mypy

feat(rag): add milvus provider
  docs/edge/ar/concepts/knowledge.mdx
  docs/edge/en/concepts/knowledge.mdx
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/rag/config/optional_imports/base.py
  lib/crewai/src/crewai/rag/config/optional_imports/protocols.py
  lib/crewai/src/crewai/rag/config/optional_imports/providers.py
  lib/crewai/src/crewai/rag/config/optional_imports/types.py
  lib/crewai/src/crewai/rag/config/types.py
  lib/crewai/src/crewai/rag/factory.py
  lib/crewai/src/crewai/rag/milvus/__init__.py
  lib/crewai/src/crewai/rag/milvus/client.py
  lib/crewai/src/crewai/rag/milvus/config.py
  lib/crewai/src/crewai/rag/milvus/constants.py
  lib/crewai/src/crewai/rag/milvus/factory.py
  lib/crewai/src/crewai/rag/milvus/types.py
  lib/crewai/src/crewai/rag/milvus/utils.py
  lib/crewai/tests/rag/config/test_factory.py
  lib/crewai/tests/rag/config/test_optional_imports.py
  lib/crewai/tests/rag/milvus/__init__.py
  lib/crewai/tests/rag/milvus/test_client.py
  lib/crewai/tests/rag/milvus/test_config.py
  uv.lock
Due: ruff, ruff-format, mypy

fix: validate Milvus embedding function config
  lib/crewai/src/crewai/rag/milvus/types.py
  lib/crewai/tests/rag/milvus/test_config.py
Due: ruff, ruff-format, mypy

fix(rag): handle optional Milvus dependencies
  docs/edge/ar/concepts/knowledge.mdx
  docs/edge/en/concepts/knowledge.mdx
  lib/crewai/src/crewai/rag/config/optional_imports/base.py
  lib/crewai/src/crewai/rag/milvus/types.py
  lib/crewai/tests/rag/config/test_optional_imports.py
Due: ruff, ruff-format, mypy

docs: list all workspace packages
  .github/CONTRIBUTING.md
Due: none

Replace deprecated appdirs with platformdirs
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/task_outputs.py
  lib/crewai-core/pyproject.toml
  lib/crewai-core/src/crewai_core/paths.py
  lib/crewai-core/src/crewai_core/version.py
  lib/crewai-core/tests/test_smoke.py
  lib/crewai/pyproject.toml
  pyproject.toml
  uv.lock
Due: ruff, ruff-format, mypy

fix: correct grammar in github search tool ('included search' → 'included in search', 'semantic search' → 'semantically search')
  lib/crewai-tools/src/crewai_tools/tools/github_search_tool/github_search_tool.py
Due: ruff, ruff-format, mypy

feat: add Mengram memory tools
  lib/crewai-tools/src/crewai_tools/tools/mengram_memory_tool/__init__.py
Due: ruff, ruff-format, mypy

feat: add Mengram memory tools
  lib/crewai-tools/src/crewai_tools/tools/mengram_memory_tool/mengram_memory_tool.py
Due: ruff, ruff-format, mypy

docs: Mengram memory tools README
  lib/crewai-tools/src/crewai_tools/tools/mengram_memory_tool/README.md
Due: none

feat: register Mengram memory tools
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
Due: ruff, ruff-format, mypy

feat: register Mengram memory tools
  lib/crewai-tools/src/crewai_tools/__init__.py
Due: ruff, ruff-format, mypy

feat: register Mengram memory tools
  lib/crewai-tools/pyproject.toml
Due: none

ci: check doc links only on edge and latest versions (#6633)
  .github/workflows/docs-broken-links.yml
Due: none

docs: fix workspace package count and Python version in CONTRIBUTING.md
  .github/CONTRIBUTING.md
Due: none

fix: mark E2B_API_KEY as a required env var for E2B tools
  lib/crewai-tools/src/crewai_tools/tools/e2b_sandbox_tool/e2b_base_tool.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy

fix: mark E2B_API_KEY as a required env var for E2B tools (#6688)
  lib/crewai-tools/src/crewai_tools/tools/e2b_sandbox_tool/e2b_base_tool.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy

improving progressive disclosure
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/skills/loader.py
  lib/crewai/src/crewai/skills/tool.py
  lib/crewai/src/crewai/utilities/prompts.py
  lib/crewai/tests/skills/test_progressive_disclosure.py
Due: ruff, ruff-format, mypy

feat: add slack tool
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/slack_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/slack_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/slack_tool/slack_tool.py
  lib/crewai-tools/tests/tools/slack_tool_test.py
  uv.lock
Due: ruff, ruff-format, mypy

addressed comment
  lib/crewai/src/crewai/skills/tool.py
  lib/crewai/tests/skills/test_progressive_disclosure.py
Due: ruff, ruff-format, mypy

feat(tools): add WaitTool for pausing on long-running jobs
  docs/docs.json
  docs/edge/en/tools/automation/overview.mdx
  docs/edge/en/tools/automation/waittool.mdx
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/wait_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/wait_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/wait_tool/wait_tool.py
  lib/crewai-tools/tests/tools/wait_tool_test.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy

fix test
  lib/crewai/tests/skills/test_progressive_disclosure.py
Due: ruff, ruff-format

fix(tools): enforce non-negative wait on positional calls, fix doc snippets
  docs/edge/en/tools/automation/waittool.mdx
  lib/crewai-tools/src/crewai_tools/tools/wait_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/wait_tool/wait_tool.py
  lib/crewai-tools/tests/tools/wait_tool_test.py
Due: ruff, ruff-format, mypy

docs: point the wait tool card at the edge path
  docs/edge/en/tools/automation/overview.mdx
Due: none

fix(tools): never cache waits and keep the advertised cap accurate
  lib/crewai-tools/src/crewai_tools/tools/wait_tool/wait_tool.py
  lib/crewai-tools/tests/tools/wait_tool_test.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy

fix(tools): reject NaN waits and pluralize single-second results
  lib/crewai-tools/src/crewai_tools/tools/wait_tool/wait_tool.py
  lib/crewai-tools/tests/tools/wait_tool_test.py
Due: ruff, ruff-format, mypy

feat(tools): add WaitTool for pausing on long-running jobs (#6690)
  docs/docs.json
  docs/edge/en/tools/automation/overview.mdx
  docs/edge/en/tools/automation/waittool.mdx
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/wait_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/wait_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/wait_tool/wait_tool.py
  lib/crewai-tools/tests/tools/wait_tool_test.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy

feat(telemetry): add native OpenTelemetry tracing scaffolding and no-op tests
  lib/crewai/src/crewai/utilities/telemetry.py
  lib/crewai/tests/test_telemetry.py
Due: ruff, ruff-format, mypy

Fix crewAI #6430: Replace bare raise with ToolUsageError in _original_tool_calling for consistent error handling
  lib/crewai/src/crewai/tools/tool_usage.py
Due: ruff, ruff-format, mypy

fix(tools): sandbox FileWriterTool writes and fix file tool rough edges
  docs/edge/ar/tools/file-document/filereadtool.mdx
  docs/edge/ar/tools/file-document/filewritetool.mdx
  docs/edge/en/tools/file-document/filereadtool.mdx
  docs/edge/en/tools/file-document/filewritetool.mdx
  docs/edge/ko/tools/file-document/filereadtool.mdx
  docs/edge/ko/tools/file-document/filewritetool.mdx
  docs/edge/pt-BR/tools/file-document/filereadtool.mdx
  docs/edge/pt-BR/tools/file-document/filewritetool.mdx
  lib/crewai-tools/src/crewai_tools/tools/file_read_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/file_read_tool/file_read_tool.py
  lib/crewai-tools/src/crewai_tools/tools/file_writer_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/file_writer_tool/file_writer_tool.py
  lib/crewai-tools/tests/file_read_tool_test.py
  lib/crewai-tools/tests/tools/test_file_writer_tool.py
Due: ruff, ruff-format, mypy

Add SECURITY.md for responsible vulnerability reporting
  SECURITY.md
Due: none

fix(tools): make the declared FileReadTool file reachable by agents
  docs/edge/ar/tools/file-document/filereadtool.mdx
  docs/edge/en/tools/file-document/filereadtool.mdx
  lib/crewai-tools/src/crewai_tools/tools/file_read_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/file_read_tool/file_read_tool.py
  lib/crewai-tools/src/crewai_tools/tools/file_writer_tool/file_writer_tool.py
  lib/crewai-tools/tests/file_read_tool_test.py
  lib/crewai-tools/tests/tools/test_file_writer_tool.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy
