Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

docs: point prompt-template link at its current path (#7101)
  docs/edge/ar/guides/advanced/customizing-prompts.mdx
  docs/edge/en/guides/advanced/customizing-prompts.mdx
  docs/edge/ko/guides/advanced/customizing-prompts.mdx
  docs/edge/pt-BR/guides/advanced/customizing-prompts.mdx
Due: none

docs: remove CodeInterpreterTool from AI/ML overview examples (#7100)
  docs/edge/ar/tools/ai-ml/overview.mdx
  docs/edge/en/tools/ai-ml/overview.mdx
  docs/edge/ko/tools/ai-ml/overview.mdx
  docs/edge/pt-BR/tools/ai-ml/overview.mdx
Due: none

fix: bump pypdf to 6.16.2 for GHSA-jp53-mhqp-8xcg
  lib/crewai-files/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

chore: keep existing uv.lock environment markers
  uv.lock
Due: none

fix(llms): strip only the parsed path when normalizing Ollama base URL
  lib/crewai/src/crewai/llms/providers/openai_compatible/completion.py
  lib/crewai/tests/llms/openai_compatible/test_openai_compatible.py
Due: ruff, ruff-format, mypy

feat(tools): add SearchApiTool for searchapi.io
  docs/docs.json
  docs/edge/ar/tools/search-research/overview.mdx
  docs/edge/ar/tools/search-research/searchapitool.mdx
  docs/edge/en/tools/search-research/overview.mdx
  docs/edge/en/tools/search-research/searchapitool.mdx
  docs/edge/ko/tools/search-research/overview.mdx
  docs/edge/ko/tools/search-research/searchapitool.mdx
  docs/edge/pt-BR/tools/search-research/overview.mdx
  docs/edge/pt-BR/tools/search-research/searchapitool.mdx
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/searchapi_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/searchapi_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/searchapi_tool/searchapi_tool.py
  lib/crewai-tools/tests/tools/searchapi_tool_test.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy

chore: drop unused pypdf exclude-newer-package in crewai-files
  lib/crewai-files/pyproject.toml
Due: none

chore: drop pypdf from exclude-newer-package
  pyproject.toml
  uv.lock
Due: none

fix: bump pypdf to 6.16.2 for GHSA-jp53-mhqp-8xcg (#7200)
  lib/crewai-files/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

fix(memory): preserve reusable scope configs (#7068)
  lib/crewai/src/crewai/memory/memory_scope.py
  lib/crewai/tests/memory/test_unified_memory.py
Due: ruff, ruff-format, mypy

fix(tools): address SkimReaderTool review feedback
  lib/crewai-tools/src/crewai_tools/tools/skim_reader_tool/README.md
  lib/crewai-tools/tests/tools/skim_reader_tool_test.py
Due: ruff, ruff-format

refactor: extract shared logic from sync/async native tool call methods
  lib/crewai/src/crewai/agents/crew_agent_executor.py
Due: ruff, ruff-format, mypy

fix: await async tools natively in _ainvoke_loop_native_tools
  lib/crewai/src/crewai/agents/crew_agent_executor.py
Due: ruff, ruff-format, mypy

chore(ci): ignore unpatched nltk GHSA-8mgp-746c-j5xp
  .github/workflows/vulnerability-scan.yml
  .pre-commit-config.yaml
  lib/crewai-tools/pyproject.toml
  pyproject.toml
Due: none

feat: add llmman as an OpenAI-compatible provider
  lib/cli/src/crewai_cli/constants.py
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/openai_compatible/completion.py
  lib/crewai/tests/llms/openai_compatible/test_openai_compatible.py
Due: ruff, ruff-format, mypy

chore(ci): note dropping nltk GHSA ignore on the next bump
  .github/workflows/vulnerability-scan.yml
  .pre-commit-config.yaml
  lib/crewai-tools/pyproject.toml
  pyproject.toml
Due: none

chore(ci): ignore unpatched nltk GHSA-8mgp-746c-j5xp (#7215)
  .github/workflows/vulnerability-scan.yml
  .pre-commit-config.yaml
  lib/crewai-tools/pyproject.toml
  pyproject.toml
Due: none

fix(flow): report missing persistence state
  lib/crewai/src/crewai/flow/persistence/decorators.py
  lib/crewai/tests/test_flow_persistence.py
Due: ruff, ruff-format, mypy

test(flow): cover absent persistence state attribute
  lib/crewai/tests/test_flow_persistence.py
Due: ruff, ruff-format

docs(tools): add Cracked tool router page
  docs/docs.json
  docs/edge/en/tools/automation/crackedtool.mdx
  docs/edge/en/tools/automation/overview.mdx
Due: none

Add AgentTollSafetyTool: honeypot/rug checks for a Base token via x402
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/agenttoll_safety_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/agenttoll_safety_tool/agenttoll_safety_tool.py
  lib/crewai-tools/tests/tools/agenttoll_safety_tool_test.py
Due: ruff, ruff-format, mypy

fix(tools): address MrScraper review feedback
  lib/crewai-tools/src/crewai_tools/tools/mrscraper/account.py
  lib/crewai-tools/src/crewai_tools/tools/mrscraper/base.py
  lib/crewai-tools/src/crewai_tools/tools/mrscraper/client.py
  lib/crewai-tools/src/crewai_tools/tools/mrscraper/discovery.py
  lib/crewai-tools/src/crewai_tools/tools/mrscraper/extraction.py
  lib/crewai-tools/src/crewai_tools/tools/mrscraper/payloads.py
  lib/crewai-tools/src/crewai_tools/tools/mrscraper/results.py
  lib/crewai-tools/src/crewai_tools/tools/mrscraper/scraper_creation.py
  lib/crewai-tools/src/crewai_tools/tools/mrscraper/scraper_runs.py
  lib/crewai-tools/tests/tools/mrscraper/test_mrscraper_tools.py
  lib/crewai-tools/tool.specs.json
  scripts/test_mrscraper_real.py
Due: ruff, ruff-format, mypy

fix: gitlab.bandit.B313.B314.B315.B316.B318.B319.B320.B405.B406.B407.B408.B409.B410 security vulnerability
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/rag/loaders/xml_loader.py
Due: ruff, ruff-format, mypy

fix(llm): route all DashScope models through native provider
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/llms/openai_compatible/test_openai_compatible.py
Due: ruff, ruff-format, mypy

fix(tools): run async tools safely when an event loop is already running
  lib/crewai/src/crewai/tools/base_tool.py
  lib/crewai/src/crewai/tools/mcp_tool_wrapper.py
  lib/crewai/src/crewai/tools/structured_tool.py
  lib/crewai/src/crewai/utilities/asyncio_utils.py
  lib/crewai/tests/tools/test_async_tools.py
Due: ruff, ruff-format, mypy

test(events): cover provider and fallback call ids
  lib/crewai/tests/agents/test_native_tool_calling.py
Due: ruff, ruff-format

fix: resolve human input result display
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/tests/agents/test_agent_executor.py
Due: ruff, ruff-format, mypy

fix(llms): normalize scheme and port in Ollama base URL (#7206)
  lib/crewai/src/crewai/llms/providers/openai_compatible/completion.py
  lib/crewai/tests/llms/openai_compatible/test_openai_compatible.py
Due: ruff, ruff-format, mypy

test(events): cover distinct fallback tool call ids
  lib/crewai/tests/agents/test_native_tool_calling.py
Due: ruff, ruff-format

fix: append trailing user turn in native Gemini provider (#6973)
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/tests/llms/google/test_google.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

fix(crew): identify tasks by object when copying instead of by key
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/task.py
  lib/crewai/tests/test_crew.py
Due: ruff, ruff-format, mypy

docs: expand security guide oversight examples
  docs/en/guides/advanced/security-best-practices.mdx
Due: none

docs: add Agent import to delegation example
  docs/docs.json
  docs/edge/en/guides/advanced/security-best-practices.mdx
Due: none

docs: add security best practices guide for agents
  docs/docs.json
  docs/en/guides/advanced/security-best-practices.mdx
Due: none

new features
  docs/v1.15.17/pt-BR/tools/supabase_tool.mdx
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/tools/supabase_tool.py
  lib/crewai/tests/tools/test_supabase_tool.py
  pyproject.toml
Due: ruff, ruff-format, mypy

fix(deps): bump gitpython >=3.1.59 to fix CVE-2026-78676, CVE-2026-78678
  pyproject.toml
Due: none

chore: regenerate uv.lock for gitpython 3.1.59
  uv.lock
Due: none

feat(embeddings): register openrouter in allowed embedding providers
  lib/crewai/src/crewai/rag/embeddings/types.py
Due: ruff, ruff-format, mypy

feat(embeddings): implement OpenRouterProvider
  lib/crewai/src/crewai/rag/embeddings/providers/openrouter/openrouter_provider.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
