Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

security: fix Docker CWD rw mount and unsanitized pip install in code interpreter
  lib/crewai-tools/src/crewai_tools/tools/code_interpreter_tool/code_interpreter_tool.py
Due: ruff, ruff-format, mypy

Add Tardygrada equivalent: 153K lines -> 53 verified instructions
  tardygrada/README.md
  tardygrada/crewai.tardy
Due: none

feat: add EventRecord to RuntimeState checkpoints
  lib/crewai/src/crewai/events/event_bus.py
  lib/crewai/src/crewai/state/event_record.py
  lib/crewai/src/crewai/state/provider/core.py
  lib/crewai/src/crewai/state/runtime.py
  lib/crewai/tests/test_event_record.py
Due: ruff, ruff-format, mypy

fix: suppress duplicate lifecycle events on checkpoint resume
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/crews/utils.py
Due: ruff, ruff-format, mypy

feat: mid-task checkpoint resume and executor refactor
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agents/agent_builder/base_agent.py
  lib/crewai/src/crewai/agents/agent_builder/base_agent_executor.py
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/agents/planner_observer.py
  lib/crewai/src/crewai/agents/step_executor.py
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/crews/utils.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/src/crewai/task.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/memory/test_memory_root_scope.py
  lib/crewai/tests/memory/test_unified_memory.py
  lib/crewai/tests/rag/embeddings/test_google_vertex_memory_integration.py
Due: ruff, ruff-format, mypy

refactor: generic from_checkpoint with provider, full LLM serialization
  lib/crewai/src/crewai/agents/agent_builder/base_agent.py
  lib/crewai/src/crewai/agents/agent_builder/base_agent_executor.py
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/state/provider/core.py
  lib/crewai/src/crewai/state/provider/json_provider.py
  lib/crewai/src/crewai/state/runtime.py
Due: ruff, ruff-format, mypy

fix: remove seo indexing field causing Arabic page rendering
  docs/docs.json
Due: none

chore: add exclude-newer = 7 days to all pyproject.toml files
  lib/crewai-files/pyproject.toml
  lib/crewai-tools/pyproject.toml
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/pyproject.toml
  pyproject.toml
Due: none

chore: reduce exclude-newer to 3 days, remove from templates
  docs/en/installation.mdx
  lib/crewai-files/pyproject.toml
  lib/crewai-tools/pyproject.toml
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/pyproject.toml
  pyproject.toml
Due: none

chore: add exclude-newer = 3 days to all pyproject.toml files
  docs/en/installation.mdx
  lib/crewai-files/pyproject.toml
  lib/crewai-tools/pyproject.toml
  lib/crewai/pyproject.toml
  lib/devtools/pyproject.toml
  pyproject.toml
Due: none

fix: guard register_entity when RuntimeState is None
  lib/crewai/src/crewai/events/event_bus.py
Due: ruff, ruff-format, mypy

fix: add BaseAgentExecutor to model_rebuild chain
  lib/crewai/src/crewai/__init__.py
Due: ruff, ruff-format, mypy

fix: use spec= on mocks for typed executor fields
  lib/crewai/tests/memory/test_memory_root_scope.py
Due: ruff, ruff-format

fix: correct log level and remove redundant warning prefixes
  lib/crewai/src/crewai/events/listeners/tracing/trace_batch_manager.py
  lib/crewai/src/crewai/experimental/evaluation/testing.py
Due: ruff, ruff-format, mypy

fix: correct typos and misleading error messages
  lib/crewai-tools/src/crewai_tools/tools/brightdata_tool/brightdata_dataset.py
  lib/devtools/src/crewai_devtools/cli.py
Due: ruff, ruff-format, mypy

fix: use real pydantic instances in executor tests, preserve cache handler across re-validation
  lib/crewai/src/crewai/crew.py
  lib/crewai/tests/agents/test_async_agent_executor.py
Due: ruff, ruff-format, mypy

fix: register RuntimeState in Flow.from_checkpoint
  lib/crewai/src/crewai/flow/flow.py
Due: ruff, ruff-format, mypy

fix: add spec= to remaining mocks passed to pydantic models
  lib/crewai/tests/agents/test_native_tool_calling.py
  lib/crewai/tests/memory/test_memory_root_scope.py
  lib/crewai/tests/memory/test_unified_memory.py
Due: ruff, ruff-format

fix: bypass pydantic validation for mocks in BaseAgentExecutor tests
  lib/crewai/tests/memory/test_memory_root_scope.py
  lib/crewai/tests/memory/test_unified_memory.py
  lib/crewai/tests/test_event_record.py
Due: ruff, ruff-format

fix: assign mocks post-init for remaining executor tests
  lib/crewai/tests/agents/test_native_tool_calling.py
  lib/crewai/tests/memory/test_memory_root_scope.py
Due: ruff, ruff-format

fix: resolve mypy errors from optional executor fields
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/lite_agent.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
Due: ruff, ruff-format, mypy

docs: add AMP Training Tab guide (#5083)
  docs/ar/enterprise/guides/training-crews.mdx
  docs/docs.json
  docs/en/enterprise/guides/training-crews.mdx
  docs/ko/enterprise/guides/training-crews.mdx
  docs/pt-BR/enterprise/guides/training-crews.mdx
Due: none

fix: checkpoint resume bugs and handler signature caching
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/events/event_bus.py
  lib/crewai/src/crewai/events/utils/handlers.py
Due: ruff, ruff-format, mypy

feat: add google_drive/upload_from_file action for token-efficient file uploads
  docs/en/enterprise/integrations/google_drive.mdx
  lib/crewai-tools/src/crewai_tools/tools/crewai_platform_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/crewai_platform_tools/crewai_platform_file_upload_tool.py
  lib/crewai-tools/src/crewai_tools/tools/crewai_platform_tools/crewai_platform_tool_builder.py
  lib/crewai-tools/tests/tools/crewai_platform_tools/test_crewai_platform_file_upload_tool.py
Due: ruff, ruff-format, mypy

fix: forward base_url to instructor client for OpenAI-compatible endpoints (#5204)
  lib/crewai/src/crewai/utilities/internal_instructor.py
  lib/crewai/tests/utilities/test_converter.py
Due: ruff, ruff-format, mypy

feat: add Suwappu DeFi tools for cross-chain token operations
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/suwappu_defi_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/suwappu_defi_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/suwappu_defi_tool/suwappu_defi_tool.py
  lib/crewai-tools/tests/tools/suwappu_defi_tool_test.py
Due: ruff, ruff-format, mypy

fix: correct grammar in guardrail, task output, and prompt templates
  lib/crewai/src/crewai/task.py
  lib/crewai/src/crewai/tasks/llm_guardrail.py
  lib/crewai/src/crewai/translations/en.json
Due: ruff, ruff-format, mypy

Fix linting
  lib/crewai/src/crewai/llms/providers/azure/completion.py
Due: ruff, ruff-format, mypy

Support azure openai responses
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/tests/llms/azure/test_azure_responses.py
Due: ruff, ruff-format, mypy

fix: remove erroneous $ in BrightData SERP search URL f-strings
  lib/crewai-tools/src/crewai_tools/tools/brightdata_tool/brightdata_serp.py
Due: ruff, ruff-format, mypy

fix: rename loop variable to avoid shadowing provider parameter
  lib/crewai/src/crewai/cli/create_crew.py
Due: ruff, ruff-format, mypy

fix: remove $ prefix from f-strings in BrightDataSearchTool.get_search_url
  lib/crewai-tools/src/crewai_tools/tools/brightdata_tool/brightdata_serp.py
  lib/crewai-tools/tests/tools/brightdata_serp_tool_test.py
Due: ruff, ruff-format, mypy

fix: rename loop variable to avoid shadowing provider parameter in create_crew()
  lib/crewai/src/crewai/cli/create_crew.py
  lib/crewai/tests/cli/test_create_crew.py
Due: ruff, ruff-format, mypy

fix: bump uv-pre-commit to 0.11.3, distinguish checkpoint resume
  .pre-commit-config.yaml
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/crews/utils.py
  uv.lock
Due: ruff, ruff-format, mypy

fix: restore checkpoint_train flag during checkpoint resume
  lib/crewai/src/crewai/crew.py
Due: ruff, ruff-format, mypy

refactor: use lru_cache for handler param count
  lib/crewai/src/crewai/events/utils/handlers.py
Due: ruff, ruff-format, mypy

fix: bump litellm to ~=1.83.0 and openai to ~=2.30.0
  lib/crewai/pyproject.toml
  lib/devtools/pyproject.toml
  uv.lock
Due: none

fix: handle unhashable partial handlers in param count cache
  lib/crewai/src/crewai/events/utils/handlers.py
Due: ruff, ruff-format, mypy

fix: register entities in aemit like emit does
  lib/crewai/src/crewai/events/event_bus.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
