Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

test: avoid sensitive-name flow in compressor tests
  lib/crewai-tools/tests/tools/files_compressor_tool_test.py
Due: ruff, ruff-format

fix mysql search table name validation
  lib/crewai-tools/src/crewai_tools/tools/mysql_search_tool/mysql_search_tool.py
  lib/crewai-tools/tests/tools/test_mysql_search_tool.py
Due: ruff, ruff-format, mypy

Fix JSON crew version pin
  lib/cli/src/crewai_cli/create_json_crew.py
  lib/cli/src/crewai_cli/run_crew.py
  lib/cli/tests/deploy/test_archive.py
  lib/cli/tests/test_create_crew.py
  lib/cli/tests/test_run_crew.py
Due: ruff, ruff-format, mypy

Use bounded CrewAI dependency range
  lib/cli/src/crewai_cli/create_flow.py
  lib/cli/src/crewai_cli/create_json_crew.py
  lib/cli/src/crewai_cli/run_crew.py
  lib/cli/src/crewai_cli/templates/crew/pyproject.toml
  lib/cli/src/crewai_cli/templates/declarative_flow/pyproject.toml
  lib/cli/src/crewai_cli/templates/flow/pyproject.toml
  lib/cli/src/crewai_cli/templates/tool/pyproject.toml
  lib/cli/src/crewai_cli/tools/main.py
  lib/cli/src/crewai_cli/utils.py
  lib/cli/src/crewai_cli/version.py
  lib/cli/tests/deploy/test_archive.py
  lib/cli/tests/test_create_crew.py
  lib/cli/tests/test_run_crew.py
  lib/cli/tests/test_version.py
  lib/cli/tests/tools/test_main.py
Due: ruff, ruff-format, mypy

Open deployment page after CLI deploy
  lib/cli/src/crewai_cli/deploy/main.py
  lib/cli/tests/deploy/test_deploy_main.py
Due: ruff, ruff-format, mypy

Format deploy browser URL helper
  lib/cli/src/crewai_cli/deploy/main.py
Due: ruff, ruff-format, mypy

Handle browser launch failures
  lib/cli/src/crewai_cli/deploy/main.py
  lib/cli/tests/deploy/test_deploy_main.py
Due: ruff, ruff-format, mypy

docs: improve coding agent setup CTA
  docs/edge/en/index.mdx
  docs/edge/en/installation.mdx
Due: none

Fix CodeQL URL substring assertion
  lib/crewai-tools/tests/tools/stagehand_tool_test.py
Due: ruff, ruff-format

feat(cli): track TUI button telemetry
  lib/cli/src/crewai_cli/crew_run_tui.py
  lib/cli/tests/test_crew_run_tui.py
  lib/crewai-core/src/crewai_core/telemetry.py
  lib/crewai-core/tests/test_smoke.py
Due: ruff, ruff-format, mypy

docs: move home CTA to published index
  docs/edge/en/index.mdx
  docs/index.mdx
Due: none

docs: address CTA review feedback
  docs/edge/en/installation.mdx
  docs/index.mdx
Due: none

Prefer nested deployment identifiers
  lib/cli/src/crewai_cli/deploy/main.py
  lib/cli/tests/deploy/test_deploy_main.py
Due: ruff, ruff-format, mypy

docs: improve coding agent setup CTA (#6344)
  docs/edge/en/installation.mdx
  docs/index.mdx
Due: none

Fix JSON crew version pin (#6342)
  lib/cli/src/crewai_cli/create_flow.py
  lib/cli/src/crewai_cli/create_json_crew.py
  lib/cli/src/crewai_cli/run_crew.py
  lib/cli/src/crewai_cli/templates/crew/pyproject.toml
  lib/cli/src/crewai_cli/templates/declarative_flow/pyproject.toml
  lib/cli/src/crewai_cli/templates/flow/pyproject.toml
  lib/cli/src/crewai_cli/templates/tool/pyproject.toml
  lib/cli/src/crewai_cli/tools/main.py
  lib/cli/src/crewai_cli/utils.py
  lib/cli/src/crewai_cli/version.py
  lib/cli/tests/deploy/test_archive.py
  lib/cli/tests/test_create_crew.py
  lib/cli/tests/test_run_crew.py
  lib/cli/tests/test_version.py
  lib/cli/tests/tools/test_main.py
Due: ruff, ruff-format, mypy

fix: add missing ExecutorContext methods to AgentExecutor for human_input support
  lib/crewai/src/crewai/experimental/agent_executor.py
Due: ruff, ruff-format, mypy

feat(rag): add VoyageAI voyage-context-4 contextualized embedding support
  lib/crewai/src/crewai/rag/embeddings/providers/voyageai/embedding_callable.py
  lib/crewai/tests/rag/embeddings/test_voyageai_embedding_callable.py
Due: ruff, ruff-format, mypy

fix: update human_input feedback prompt to not reference non-existent result
  lib/crewai/src/crewai/core/providers/human_input.py
Due: ruff, ruff-format, mypy

fix: add missing ExecutorContext methods to AgentExecutor for human_input support
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/tests/agents/test_agent_executor.py
Due: ruff, ruff-format, mypy

docs(edge): fix dead Stagehand docs link across 4 language versions
  docs/edge/ar/tools/web-scraping/stagehandtool.mdx
  docs/edge/en/tools/web-scraping/stagehandtool.mdx
  docs/edge/ko/tools/web-scraping/stagehandtool.mdx
  docs/edge/pt-BR/tools/web-scraping/stagehandtool.mdx
Due: none

docs(edge): fix dead Hyperbrowser SDK reference links (4 langs)
  docs/edge/ar/tools/web-scraping/hyperbrowserloadtool.mdx
  docs/edge/en/tools/web-scraping/hyperbrowserloadtool.mdx
  docs/edge/ko/tools/web-scraping/hyperbrowserloadtool.mdx
  docs/edge/pt-BR/tools/web-scraping/hyperbrowserloadtool.mdx
Due: none

fix: only inject cache_breakpoint for Anthropic-compatible providers
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/llms/cache.py
  lib/crewai/tests/llms/test_prompt_cache.py
Due: ruff, ruff-format, mypy

fix: support anthropic-- prefix in model name filtering
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

fix: check model support before sending json_schema response_format
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/llms/openai/test_openai.py
Due: ruff, ruff-format, mypy

Open deployment page after CLI deploy (#6343)
  lib/cli/src/crewai_cli/deploy/main.py
  lib/cli/tests/deploy/test_deploy_main.py
Due: ruff, ruff-format, mypy

Address code review comments
  lib/cli/src/crewai_cli/deploy/validate.py
  lib/cli/tests/deploy/test_validate.py
  lib/crewai-core/src/crewai_core/project.py
  lib/crewai-core/tests/test_smoke.py
  lib/crewai/src/crewai/utilities/reset_memories.py
  lib/crewai/tests/cli/test_cli.py
Due: ruff, ruff-format, mypy

Require explicit CrewAI project definitions
  lib/cli/src/crewai_cli/create_json_crew.py
  lib/cli/src/crewai_cli/deploy/validate.py
  lib/cli/src/crewai_cli/install_crew.py
  lib/cli/src/crewai_cli/run_crew.py
  lib/cli/src/crewai_cli/run_declarative_flow.py
  lib/cli/tests/deploy/test_archive.py
  lib/cli/tests/deploy/test_validate.py
  lib/cli/tests/test_create_crew.py
  lib/cli/tests/test_install_crew.py
  lib/cli/tests/test_run_crew.py
  lib/crewai-core/src/crewai_core/project.py
  lib/crewai-core/tests/test_smoke.py
  lib/crewai/src/crewai/flow/flow_definition.py
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/src/crewai/utilities/reset_memories.py
  lib/crewai/tests/cli/test_cli.py
  lib/crewai/tests/test_flow_definition.py
  lib/crewai/tests/test_flow_from_definition.py
  lib/crewai/tests/test_flow_visualization.py
Due: ruff, ruff-format, mypy

fix: serialize dict/list tool output as JSON instead of Python repr
  lib/crewai/src/crewai/tools/structured_tool.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/tools/test_base_tool.py
  lib/crewai/tests/tools/test_structured_tool.py
Due: ruff, ruff-format, mypy

fix(cli): use feature usage telemetry for TUI buttons
  lib/cli/src/crewai_cli/crew_run_tui.py
  lib/cli/tests/test_crew_run_tui.py
  lib/crewai-core/src/crewai_core/telemetry.py
  lib/crewai-core/tests/test_smoke.py
Due: ruff, ruff-format, mypy

Require explicit CrewAI project definitions (#6358)
  lib/cli/src/crewai_cli/create_json_crew.py
  lib/cli/src/crewai_cli/deploy/validate.py
  lib/cli/src/crewai_cli/install_crew.py
  lib/cli/src/crewai_cli/run_crew.py
  lib/cli/src/crewai_cli/run_declarative_flow.py
  lib/cli/tests/deploy/test_archive.py
  lib/cli/tests/deploy/test_validate.py
  lib/cli/tests/test_create_crew.py
  lib/cli/tests/test_install_crew.py
  lib/cli/tests/test_run_crew.py
  lib/crewai-core/src/crewai_core/project.py
  lib/crewai-core/tests/test_smoke.py
  lib/crewai/src/crewai/flow/flow_definition.py
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/src/crewai/utilities/reset_memories.py
  lib/crewai/tests/cli/test_cli.py
  lib/crewai/tests/test_flow_definition.py
  lib/crewai/tests/test_flow_from_definition.py
  lib/crewai/tests/test_flow_visualization.py
Due: ruff, ruff-format, mypy

Track TUI button telemetry (#6346)
  lib/cli/src/crewai_cli/crew_run_tui.py
  lib/cli/tests/test_crew_run_tui.py
  lib/crewai-core/src/crewai_core/telemetry.py
  lib/crewai-core/tests/test_smoke.py
Due: ruff, ruff-format, mypy

Fix JSON crew template rendering
  lib/cli/src/crewai_cli/create_json_crew.py
  lib/cli/src/crewai_cli/run_crew.py
  lib/cli/src/crewai_cli/templates/json_crew/.gitignore
  lib/cli/src/crewai_cli/templates/json_crew/README.md
  lib/cli/src/crewai_cli/templates/json_crew/agent.jsonc
  lib/cli/src/crewai_cli/templates/json_crew/agent_settings.jsonc
  lib/cli/src/crewai_cli/templates/json_crew/crew.jsonc
  lib/cli/src/crewai_cli/templates/json_crew/knowledge/user_preference.txt
  lib/cli/src/crewai_cli/templates/json_crew/pyproject.toml
  lib/cli/src/crewai_cli/templates/json_crew/task.jsonc
  lib/cli/src/crewai_cli/utils.py
  lib/cli/tests/test_create_crew.py
  lib/cli/tests/test_run_crew.py
Due: ruff, ruff-format, mypy

Fix JSON crew template rendering (#6359)
  lib/cli/src/crewai_cli/create_json_crew.py
  lib/cli/src/crewai_cli/run_crew.py
  lib/cli/src/crewai_cli/templates/json_crew/.gitignore
  lib/cli/src/crewai_cli/templates/json_crew/README.md
  lib/cli/src/crewai_cli/templates/json_crew/agent.jsonc
  lib/cli/src/crewai_cli/templates/json_crew/agent_settings.jsonc
  lib/cli/src/crewai_cli/templates/json_crew/crew.jsonc
  lib/cli/src/crewai_cli/templates/json_crew/knowledge/user_preference.txt
  lib/cli/src/crewai_cli/templates/json_crew/pyproject.toml
  lib/cli/src/crewai_cli/templates/json_crew/task.jsonc
  lib/cli/src/crewai_cli/utils.py
  lib/cli/tests/test_create_crew.py
  lib/cli/tests/test_run_crew.py
Due: ruff, ruff-format, mypy

feat: enhance streaming support in conversational flow
  lib/cli/src/crewai_cli/crew_run_tui.py
  lib/cli/tests/test_crew_run_tui.py
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/tests/test_flow_conversation.py
Due: ruff, ruff-format, mypy

ruff following for getattr alt
  lib/cli/src/crewai_cli/crew_run_tui.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.15.1a1
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.15.1a1 (#6361)
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

docs: snapshot and changelog for v1.15.1a1
  docs/edge/ar/changelog.mdx
  docs/edge/en/changelog.mdx
  docs/edge/ko/changelog.mdx
  docs/edge/pt-BR/changelog.mdx
Due: none

docs: snapshot and changelog for v1.15.1a1 (#6362)
  docs/edge/ar/changelog.mdx
  docs/edge/en/changelog.mdx
  docs/edge/ko/changelog.mdx
  docs/edge/pt-BR/changelog.mdx
Due: none

docs(readme): improve open source positioning
  README.md
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
