Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock

feat: add async call support to anthropic provider
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/tests/cassettes/llms/anthropic/test_anthropic_async_basic_call.yaml
  lib/crewai/tests/cassettes/llms/anthropic/test_anthropic_async_conversation.yaml
  lib/crewai/tests/cassettes/llms/anthropic/test_anthropic_async_multiple_calls.yaml
  lib/crewai/tests/cassettes/llms/anthropic/test_anthropic_async_stop_sequences.yaml
  lib/crewai/tests/cassettes/llms/anthropic/test_anthropic_async_with_max_tokens.yaml
  lib/crewai/tests/cassettes/llms/anthropic/test_anthropic_async_with_system_message.yaml
  lib/crewai/tests/cassettes/llms/anthropic/test_anthropic_async_with_temperature.yaml
  lib/crewai/tests/llms/anthropic/test_anthropic_async.py
Due: ruff, ruff-format, mypy

feat: add async call support to openai provider
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/cassettes/llms/openai/test_openai_async_basic_call.yaml
  lib/crewai/tests/cassettes/llms/openai/test_openai_async_conversation.yaml
  lib/crewai/tests/cassettes/llms/openai/test_openai_async_multiple_calls.yaml
  lib/crewai/tests/cassettes/llms/openai/test_openai_async_with_max_tokens.yaml
  lib/crewai/tests/cassettes/llms/openai/test_openai_async_with_parameters.yaml
  lib/crewai/tests/cassettes/llms/openai/test_openai_async_with_response_format_json.yaml
  lib/crewai/tests/cassettes/llms/openai/test_openai_async_with_response_format_none.yaml
  lib/crewai/tests/cassettes/llms/openai/test_openai_async_with_system_message.yaml
  lib/crewai/tests/cassettes/llms/openai/test_openai_async_with_temperature.yaml
  lib/crewai/tests/llms/openai/test_openai_async.py
Due: ruff, ruff-format, mypy

feat: add async call support to gemini provider
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/tests/cassettes/llms/google/test_gemini_async_basic_call.yaml
  lib/crewai/tests/cassettes/llms/google/test_gemini_async_conversation.yaml
  lib/crewai/tests/cassettes/llms/google/test_gemini_async_multiple_calls.yaml
  lib/crewai/tests/cassettes/llms/google/test_gemini_async_with_max_tokens.yaml
  lib/crewai/tests/cassettes/llms/google/test_gemini_async_with_parameters.yaml
  lib/crewai/tests/cassettes/llms/google/test_gemini_async_with_system_message.yaml
  lib/crewai/tests/cassettes/llms/google/test_gemini_async_with_temperature.yaml
  lib/crewai/tests/llms/google/test_google_async.py
Due: ruff, ruff-format, mypy

chore: add additional bedrock headers to scrub
  conftest.py
Due: ruff, ruff-format, mypy

feat: add async bedrock external dep
  lib/crewai/pyproject.toml
  uv.lock
Due: none

feat: add async call support to bedrock provider
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/tests/cassettes/llms/bedrock/test_bedrock_async_basic_call.yaml
  lib/crewai/tests/cassettes/llms/bedrock/test_bedrock_async_conversation.yaml
  lib/crewai/tests/cassettes/llms/bedrock/test_bedrock_async_multiple_calls.yaml
  lib/crewai/tests/cassettes/llms/bedrock/test_bedrock_async_with_max_tokens.yaml
  lib/crewai/tests/cassettes/llms/bedrock/test_bedrock_async_with_parameters.yaml
  lib/crewai/tests/cassettes/llms/bedrock/test_bedrock_async_with_system_message.yaml
  lib/crewai/tests/cassettes/llms/bedrock/test_bedrock_async_with_temperature.yaml
  lib/crewai/tests/llms/bedrock/test_bedrock_async.py
Due: ruff, ruff-format, mypy

chore: update llm docs to reflect async feat
  docs/en/concepts/llms.mdx
Due: none

feat: add async call support to litellm provider
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/cassettes/llms/litellm/test_litellm_async_basic_call.yaml
  lib/crewai/tests/cassettes/llms/litellm/test_litellm_async_conversation.yaml
  lib/crewai/tests/cassettes/llms/litellm/test_litellm_async_multiple_calls.yaml
  lib/crewai/tests/cassettes/llms/litellm/test_litellm_async_streaming.yaml
  lib/crewai/tests/cassettes/llms/litellm/test_litellm_async_streaming_with_parameters.yaml
  lib/crewai/tests/cassettes/llms/litellm/test_litellm_async_with_max_tokens.yaml
  lib/crewai/tests/cassettes/llms/litellm/test_litellm_async_with_parameters.yaml
  lib/crewai/tests/cassettes/llms/litellm/test_litellm_async_with_system_message.yaml
  lib/crewai/tests/cassettes/llms/litellm/test_litellm_async_with_temperature.yaml
  lib/crewai/tests/llms/litellm/__init__.py
  lib/crewai/tests/llms/litellm/test_litellm_async.py
Due: ruff, ruff-format, mypy

chore: readd uri so cassettes pass
  lib/crewai/tests/cassettes/llms/bedrock/test_bedrock_async_basic_call.yaml
  lib/crewai/tests/cassettes/llms/bedrock/test_bedrock_async_conversation.yaml
  lib/crewai/tests/cassettes/llms/bedrock/test_bedrock_async_multiple_calls.yaml
  lib/crewai/tests/cassettes/llms/bedrock/test_bedrock_async_with_max_tokens.yaml
  lib/crewai/tests/cassettes/llms/bedrock/test_bedrock_async_with_parameters.yaml
  lib/crewai/tests/cassettes/llms/bedrock/test_bedrock_async_with_system_message.yaml
  lib/crewai/tests/cassettes/llms/bedrock/test_bedrock_async_with_temperature.yaml
Due: none

chore: update tests to impl acall
  conftest.py
  lib/crewai/tests/cassettes/llms/azure/test_azure_async_conversation.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_async_multiple_calls.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_async_non_streaming.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_async_with_max_tokens.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_async_with_parameters.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_async_with_system_message.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_async_with_temperature.yaml
  lib/crewai/tests/cassettes/llms/google/test_gemini_async_basic_call.yaml
  lib/crewai/tests/cassettes/llms/google/test_gemini_async_conversation.yaml
  lib/crewai/tests/cassettes/llms/google/test_gemini_async_multiple_calls.yaml
  lib/crewai/tests/cassettes/llms/google/test_gemini_async_with_max_tokens.yaml
  lib/crewai/tests/cassettes/llms/google/test_gemini_async_with_parameters.yaml
  lib/crewai/tests/cassettes/llms/google/test_gemini_async_with_system_message.yaml
  lib/crewai/tests/cassettes/llms/google/test_gemini_async_with_temperature.yaml
  lib/crewai/tests/test_custom_llm.py
Due: ruff, ruff-format, mypy

fix: make acall non-abstract
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/tests/llms/bedrock/test_bedrock_async.py
  lib/crewai/tests/llms/openai/test_openai.py
Due: ruff, ruff-format, mypy

chore: add better docstring for bedrock acall
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
Due: ruff, ruff-format, mypy

chore: make tests more robust
  lib/crewai/tests/cassettes/llms/anthropic/test_anthropic_async_with_response_format_json.yaml
  lib/crewai/tests/cassettes/llms/anthropic/test_anthropic_async_with_response_model.yaml
  lib/crewai/tests/cassettes/llms/anthropic/test_anthropic_async_with_tools.yaml
  lib/crewai/tests/llms/anthropic/test_anthropic_async.py
  lib/crewai/tests/llms/azure/test_azure_async.py
  lib/crewai/tests/llms/bedrock/test_bedrock_async.py
  lib/crewai/tests/llms/google/test_google_async.py
  lib/crewai/tests/llms/litellm/test_litellm_async.py
  lib/crewai/tests/llms/openai/test_openai_async.py
Due: ruff, ruff-format

fix: ensure supports_tools is true for all supported anthropic models
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
Due: ruff, ruff-format, mypy

chore: generate missing cassette
  lib/crewai/tests/cassettes/llms/anthropic/test_anthropic_async_with_response_format_none.yaml
Due: none

feat: add extensions api for a2a
  lib/crewai/src/crewai/a2a/extensions/__init__.py
  lib/crewai/src/crewai/a2a/extensions/base.py
  lib/crewai/src/crewai/a2a/extensions/registry.py
  lib/crewai/src/crewai/a2a/utils.py
  lib/crewai/src/crewai/a2a/wrapper.py
  lib/crewai/src/crewai/agent/internal/meta.py
Due: ruff, ruff-format, mypy

fix: make registry no-op for now
  lib/crewai/src/crewai/a2a/extensions/registry.py
Due: ruff, ruff-format, mypy

chore: remove public api for extensions
  lib/crewai/src/crewai/a2a/extensions/__init__.py
Due: ruff, ruff-format, mypy

feat: add aiocache dep for async caching
  lib/crewai/pyproject.toml
  uv.lock
Due: none

Add docs for the agent handler connector
  docs/en/tools/integration/mergeagenthandlertool.mdx
  docs/en/tools/integration/overview.mdx
Due: none

Fix links
  docs/en/tools/integration/mergeagenthandlertool.mdx
Due: none

feat: add Airweave tools to crewai-tools
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/airweave_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/airweave_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/airweave_tool/airweave_advanced_search_tool.py
  lib/crewai-tools/src/crewai_tools/tools/airweave_tool/airweave_search_tool.py
  lib/crewai-tools/tests/tools/airweave_tool_test.py
Due: ruff, ruff-format, mypy

feat: enhance Airweave tools with interactive installation and improved error handling
  lib/crewai-tools/src/crewai_tools/tools/airweave_tool/airweave_advanced_search_tool.py
  lib/crewai-tools/src/crewai_tools/tools/airweave_tool/airweave_search_tool.py
Due: ruff, ruff-format, mypy

feat: update Airweave tools and dependencies
  lib/crewai-tools/src/crewai_tools/tools/airweave_tool/airweave_advanced_search_tool.py
  lib/crewai-tools/src/crewai_tools/tools/airweave_tool/airweave_search_tool.py
  lib/crewai-tools/tests/tools/airweave_tool_test.py
  uv.lock
Due: ruff, ruff-format, mypy

feat: enhance Airweave tools with updated module imports and namespace management
  lib/crewai-tools/src/crewai_tools/tools/airweave_tool/airweave_advanced_search_tool.py
  lib/crewai-tools/src/crewai_tools/tools/airweave_tool/airweave_search_tool.py
Due: ruff, ruff-format, mypy

feat: add async support for tools, add async tool tests
  lib/crewai/src/crewai/tools/base_tool.py
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/src/crewai/utilities/tool_utils.py
  lib/crewai/tests/tools/test_async_tools.py
Due: ruff, ruff-format, mypy

chore: improve tool decorator typing
  lib/crewai/src/crewai/tools/base_tool.py
Due: ruff, ruff-format, mypy

chore: regenerate lockfile
  uv.lock
Due: none

fix: properly handle multimodal image content in agents (Issue #4016)
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/tests/test_multimodal_image_handling.py
Due: ruff, ruff-format, mypy

fix: use consistent casefold().strip() comparison for add_image tool name
  lib/crewai/src/crewai/tools/tool_usage.py
Due: ruff, ruff-format, mypy

fix: ensure tool usage counter is incremented for add_image tool
  lib/crewai/src/crewai/tools/tool_usage.py
Due: ruff, ruff-format, mypy

feat: add Azure AD token-based authentication support
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/tests/llms/azure/test_azure.py
Due: ruff, ruff-format, mypy

fix: avoid in-place mutation of cached add_image results
  lib/crewai/src/crewai/tools/tool_usage.py
Due: ruff, ruff-format, mypy

fix: ensure _run backward compat
  lib/crewai/src/crewai/tools/base_tool.py
Due: ruff, ruff-format, mypy

chore: update docs
  docs/en/learn/create-custom-tools.mdx
  docs/ko/learn/create-custom-tools.mdx
  docs/pt-BR/learn/create-custom-tools.mdx
Due: none

chore: make docstrings a little more readable
  lib/crewai/src/crewai/tools/base_tool.py
Due: ruff, ruff-format, mypy

feat: add async execution support to agent executor
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/utilities/agent_utils.py
Due: ruff, ruff-format, mypy

chore: add tests
  lib/crewai/tests/agents/test_async_agent_executor.py
Due: ruff, ruff-format
