Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

fix tests
  pyproject.toml
Due: none

chore: update dependency versions and improve Python compatibility
  pyproject.toml
  uv.lock
Due: none

refactor: improve memory record handling and pagination in unified memory system
  lib/crewai/src/crewai/memory/storage/backend.py
  lib/crewai/src/crewai/memory/storage/lancedb_storage.py
  lib/crewai/src/crewai/memory/unified_memory.py
Due: ruff, ruff-format, mypy

chore: update dependency overrides and enhance memory management
  lib/crewai/src/crewai/cli/cli.py
  lib/crewai/src/crewai/crew.py
  lib/devtools/pyproject.toml
  pyproject.toml
  uv.lock
Due: ruff, ruff-format, mypy

test
  lib/crewai/tests/agents/test_lite_agent.py
Due: ruff, ruff-format

feat: enhance memory handling with background saving and query analysis optimization
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/memory/encoding_flow.py
  lib/crewai/src/crewai/memory/recall_flow.py
  lib/crewai/src/crewai/memory/storage/lancedb_storage.py
  lib/crewai/src/crewai/memory/types.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/src/crewai/tools/memory_tools.py
  lib/crewai/tests/memory/test_unified_memory.py
Due: ruff, ruff-format, mypy

feat: add synchronous execution method to ConsolidationFlow for improved integration
  lib/crewai/src/crewai/memory/consolidation_flow.py
  lib/crewai/src/crewai/memory/encoding_flow.py
Due: ruff, ruff-format, mypy

fix test
  lib/crewai/tests/agents/test_lite_agent.py
Due: ruff, ruff-format

fix
  lib/crewai/tests/test_crew.py
Due: ruff, ruff-format

fix texts
  .gitignore
  lib/crewai/src/crewai/cli/cli.py
  lib/crewai/src/crewai/cli/memory_tui.py
  lib/crewai/src/crewai/memory/storage/lancedb_storage.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/tests/cassettes/rag/embeddings/test_crew_memory_with_google_vertex_embedder.yaml
  lib/crewai/tests/rag/embeddings/test_google_vertex_memory_integration.py
  uv.lock
Due: ruff, ruff-format, mypy

test: enhance memory extraction test by mocking recall to prevent LLM calls
  lib/crewai/tests/test_crew.py
Due: ruff, ruff-format

udpating desp
  uv.lock
Due: none

refactor: enhance thread safety in flow management
  lib/crewai/src/crewai/flow/flow.py
Due: ruff, ruff-format, mypy

feat: enhance Memory TUI with Rich markup and improved UI elements
  lib/crewai/src/crewai/cli/memory_tui.py
Due: ruff, ruff-format, mypy

refactor: streamline memory recall functionality across agents and tools
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/cli/memory_tui.py
  lib/crewai/src/crewai/lite_agent.py
  lib/crewai/src/crewai/memory/analyze.py
  lib/crewai/src/crewai/memory/memory_scope.py
  lib/crewai/src/crewai/memory/recall_flow.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/src/crewai/tools/memory_tools.py
  lib/crewai/src/crewai/translations/en.json
Due: ruff, ruff-format, mypy

feat: enhance thread safety in LockedListProxy and LockedDictProxy
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/tests/memory/test_unified_memory.py
  lib/crewai/tests/test_crew.py
Due: ruff, ruff-format, mypy

feat: enhance MemoryTUI with improved layout and entry handling
  lib/crewai/src/crewai/cli/memory_tui.py
  lib/crewai/src/crewai/memory/storage/lancedb_storage.py
Due: ruff, ruff-format, mypy

refactor: remove obsolete RAGStorage tests and clean up error handling
  lib/crewai/tests/rag/test_error_handling.py
  lib/crewai/tests/rag/test_rag_storage_path.py
  lib/crewai/tests/storage/test_mem0_storage.py
Due: ruff, ruff-format

update docs
  docs/ko/concepts/memory.mdx
  docs/pt-BR/concepts/memory.mdx
Due: none

feat: enhance Crew class memory management and configuration
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/memory/__init__.py
  lib/crewai/src/crewai/memory/memory_scope.py
  lib/crewai/src/crewai/memory/recall_flow.py
  lib/crewai/src/crewai/memory/storage/lancedb_storage.py
  lib/crewai/src/crewai/memory/types.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/tests/test_crew.py
Due: ruff, ruff-format, mypy

refactor: improve lazy initialization of LLM and embedder in Memory class
  lib/crewai/src/crewai/memory/unified_memory.py
Due: ruff, ruff-format, mypy

fix test
  lib/crewai/tests/rag/embeddings/test_google_vertex_memory_integration.py
Due: ruff, ruff-format

fix test
  lib/crewai/tests/cassettes/test_memory_remember_receives_task_content.yaml
  lib/crewai/tests/test_crew.py
Due: ruff, ruff-format

fix: handle synchronous fallback for save operations in Memory class
  lib/crewai/src/crewai/memory/unified_memory.py
Due: ruff, ruff-format, mypy

dry
  lib/crewai/src/crewai/agent/core.py
Due: ruff, ruff-format, mypy

Refactor PlannerObserver and StepExecutor to Utilize I18N for Prompts
  lib/crewai/src/crewai/agents/planner_observer.py
  lib/crewai/src/crewai/agents/step_executor.py
  lib/crewai/src/crewai/translations/en.json
  lib/crewai/src/crewai/utilities/i18n.py
Due: ruff, ruff-format, mypy

Refactor PlannerObserver and StepExecutor to Utilize I18N for Prompts
  lib/crewai/src/crewai/agents/step_executor.py
Due: ruff, ruff-format, mypy

consolidate agent logic
  lib/crewai/src/crewai/agents/step_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/translations/en.json
  lib/crewai/src/crewai/utilities/agent_utils.py
Due: ruff, ruff-format, mypy

feat: add You.com API tools for search and content extraction
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/you_contents_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/you_contents_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/you_contents_tool/you_contents_tool.py
  lib/crewai-tools/src/crewai_tools/tools/you_search_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/you_search_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/you_search_tool/you_search_tool.py
  lib/crewai-tools/tests/tools/you_contents_tool_test.py
  lib/crewai-tools/tests/tools/you_search_tool_test.py
Due: ruff, ruff-format, mypy

fix: align tool schemas with _run method signatures
  lib/crewai-tools/src/crewai_tools/tools/you_contents_tool/you_contents_tool.py
  lib/crewai-tools/src/crewai_tools/tools/you_search_tool/you_search_tool.py
  lib/crewai-tools/tests/tools/you_search_tool_test.py
Due: ruff, ruff-format, mypy

fix: export You.com tools from root package
  lib/crewai-tools/src/crewai_tools/__init__.py
Due: ruff, ruff-format, mypy

fix: add EN-US language code and validate count parameter
  lib/crewai-tools/src/crewai_tools/tools/you_search_tool/you_search_tool.py
Due: ruff, ruff-format, mypy

feat: implement HITL learning features in human feedback decorator
  lib/crewai/src/crewai/flow/human_feedback.py
  lib/crewai/src/crewai/translations/en.json
  lib/crewai/tests/test_human_feedback_decorator.py
Due: ruff, ruff-format, mypy

fix: relax OpenTelemetry version constraints for google-adk compatibility
  lib/crewai/pyproject.toml
Due: none

fix: align You.com tools with API specification
  lib/crewai-tools/src/crewai_tools/tools/you_contents_tool/you_contents_tool.py
  lib/crewai-tools/src/crewai_tools/tools/you_search_tool/you_search_tool.py
  lib/crewai-tools/tests/tools/you_contents_tool_test.py
  lib/crewai-tools/tests/tools/you_search_tool_test.py
Due: ruff, ruff-format, mypy

better DevEx
  lib/crewai/src/crewai/llm.py
Due: ruff, ruff-format, mypy

Refactor: Update supported native providers and enhance memory handling
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/memory/unified_memory.py
Due: ruff, ruff-format, mypy

Enhance Memory System with Consolidation and Learning Features
  docs/en/concepts/memory.mdx
  docs/en/learn/human-feedback-in-flows.mdx
  docs/ko/concepts/memory.mdx
  docs/ko/learn/human-feedback-in-flows.mdx
  docs/pt-BR/concepts/memory.mdx
  docs/pt-BR/learn/human-feedback-in-flows.mdx
Due: none

Enhance cyclic flow handling for or_() listeners
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/tests/test_flow.py
Due: ruff, ruff-format, mypy
