Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

feat: add enterprise release phase to devtools release
  lib/devtools/README.md
  lib/devtools/src/crewai_devtools/cli.py
Due: ruff, ruff-format, mypy

chore: update docs to reflect correct kwarg
  docs/en/learn/a2ui.mdx
Due: none

fix: preserve method return value as flow output for @human_feedback with emit
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/flow/human_feedback.py
  lib/crewai/tests/test_human_feedback_decorator.py
  lib/crewai/tests/test_human_feedback_integration.py
Due: ruff, ruff-format, mypy

style: ruff format flow.py
  lib/crewai/src/crewai/flow/flow.py
Due: ruff, ruff-format, mypy

fix: use per-method dict stash for concurrency safety and None returns
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/flow/human_feedback.py
  lib/crewai/tests/test_human_feedback_decorator.py
Due: ruff, ruff-format, mypy

fix: preserve method return value as flow output for @human_feedback with emit (#5099)
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/flow/human_feedback.py
  lib/crewai/tests/test_human_feedback_decorator.py
  lib/crewai/tests/test_human_feedback_integration.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.12.2
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.12.2 (#5101)
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

docs: update changelog and version for v1.12.2
  docs/ar/changelog.mdx
  docs/docs.json
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

docs: update changelog and version for v1.12.2 (#5103)
  docs/ar/changelog.mdx
  docs/docs.json
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

fix: add missing json schema fields; export
  lib/crewai/src/crewai/a2a/extensions/a2ui/__init__.py
  lib/crewai/src/crewai/a2a/extensions/a2ui/schema/v0_8/server_to_client_with_standard_catalog.json
Due: ruff, ruff-format, mypy

fix(security): replace eval() with safe parsing in template code
  lib/crewai/src/crewai/cli/templates/AGENTS.md
Due: none

fix(security): prevent XXE attacks by using defusedxml for XML parsing
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/rag/loaders/xml_loader.py
  lib/crewai-tools/src/crewai_tools/tools/arxiv_paper_tool/arxiv_paper_tool.py
  lib/crewai-tools/tests/rag/test_xml_loader_xxe.py
  lib/crewai-tools/tests/tools/arxiv_paper_tool_test.py
Due: ruff, ruff-format, mypy

fix: catch EntitiesForbidden from defusedxml for XXE payloads
  lib/crewai-tools/src/crewai_tools/rag/loaders/xml_loader.py
Due: ruff, ruff-format, mypy

Create python-package.yml
  .github/workflows/python-package.yml
Due: none

Add CRW web scraping tools
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/crw_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/crw_tool/crw_crawl_tool.py
  lib/crewai-tools/src/crewai_tools/tools/crw_tool/crw_map_tool.py
  lib/crewai-tools/src/crewai_tools/tools/crw_tool/crw_scrape_tool.py
Due: ruff, ruff-format, mypy

fix: resolve mypy type errors in utils.py
  lib/crewai/src/crewai/cli/utils.py
Due: ruff, ruff-format, mypy

fix: add Python 3.14 compatibility by replacing asyncio.get_event_loop() with get_running_loop()
  lib/crewai-files/pyproject.toml
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/aws/bedrock/browser/browser_session_manager.py
  lib/crewai-tools/src/crewai_tools/aws/bedrock/browser/browser_toolkit.py
  lib/crewai-tools/src/crewai_tools/tools/snowflake_search_tool/snowflake_search_tool.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/cli/memory_tui.py
  lib/crewai/src/crewai/rag/chromadb/client.py
  lib/crewai/src/crewai/tools/structured_tool.py
  lib/crewai/src/crewai/utilities/streaming.py
  lib/crewai/tests/test_python314_compat.py
  lib/crewai/tests/utilities/events/test_shutdown.py
  pyproject.toml
  uv.lock
Due: ruff, ruff-format, mypy

style: fix ruff formatting in browser_toolkit.py
  lib/crewai-tools/src/crewai_tools/aws/bedrock/browser/browser_toolkit.py
Due: ruff, ruff-format, mypy

fix: address bot review feedback on tool metadata
  lib/crewai/src/crewai/cli/plus_api.py
  lib/crewai/src/crewai/cli/utils.py
Due: ruff, ruff-format, mypy

docs: fix grammar and a typo in tasks.yaml example
  README.md
Due: none

docs: comprehensive RBAC permissions matrix and deployment guide
  docs/en/enterprise/features/rbac.mdx
Due: none

fix: auto-use qdrant-edge on Windows where lancedb has no wheels (#5045)
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/memory/unified_memory.py
Due: ruff, ruff-format, mypy

docs: comprehensive RBAC permissions matrix and deployment guide (#5112)
  docs/en/enterprise/features/rbac.mdx
Due: none

docs: add top-level Security Policy page across all languages
  docs/ar/mcp/security.mdx
  docs/ar/security.mdx
  docs/docs.json
  docs/en/mcp/security.mdx
  docs/en/security.mdx
  docs/ko/mcp/security.mdx
  docs/ko/security.mdx
  docs/pt-BR/mcp/security.mdx
  docs/pt-BR/security.mdx
Due: none

fix: bust uv cache for freshly published packages in enterprise release
  lib/devtools/src/crewai_devtools/cli.py
Due: ruff, ruff-format, mypy

fix: also refresh crewai-files package in enterprise release sync
  lib/devtools/src/crewai_devtools/cli.py
Due: ruff, ruff-format, mypy

fix: pin Node to LTS 22 in docs broken links workflow
  .github/workflows/docs-broken-links.yml
Due: none

fix: initialize tools_list and log warning in _resolve_native when no tools found
  lib/crewai/src/crewai/mcp/tool_resolver.py
  lib/crewai/tests/mcp/test_amp_mcp.py
Due: ruff, ruff-format, mypy

fix: remove unused asyncio import from test file
  lib/crewai/tests/mcp/test_amp_mcp.py
Due: ruff, ruff-format

feat: bump versions to 1.13.0a1
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

docs: update changelog and version for v1.13.0a1
  docs/ar/changelog.mdx
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

feat(tools): add OIXA Protocol tools for agent-to-agent economic coordination
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/oixa_protocol_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/oixa_protocol_tool/oixa_protocol_tool.py
Due: ruff, ruff-format, mypy

feat: improve enterprise release resilience and UX
  lib/devtools/src/crewai_devtools/cli.py
Due: ruff, ruff-format, mypy
