Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

fix(security): prevent XXE attacks by using defusedxml for XML parsing
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/rag/loaders/xml_loader.py
  lib/crewai-tools/src/crewai_tools/tools/arxiv_paper_tool/arxiv_paper_tool.py
  lib/crewai-tools/tests/rag/test_xml_loader_xxe.py
  lib/crewai-tools/tests/tools/arxiv_paper_tool_test.py
Due: ruff, ruff-format, mypy

fix: parse Bedrock tool arguments correctly in _parse_native_tool_call
  lib/crewai/src/crewai/agents/crew_agent_executor.py
Due: ruff, ruff-format, mypy

fix: prevent output_pydantic from injecting tool schema when LLM lacks function calling
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/tests/agents/test_react_response_model.py
Due: ruff, ruff-format, mypy

refactor(agents): remove unreachable react model branches
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/tests/agents/test_react_response_model.py
Due: ruff, ruff-format, mypy

fix: force LF line endings in generate_tool_specs.py on all platforms
  lib/crewai-tools/src/crewai_tools/generate_tool_specs.py
Due: ruff, ruff-format, mypy

ci: skip generate-specs job for fork PRs
  .github/workflows/generate-tool-specs.yml
Due: none

test(crewai-tools): lock LF output regression
  lib/crewai-tools/tests/test_generate_tool_specs.py
Due: ruff, ruff-format

fix: force LF line endings in generate_tool_specs.py on Windows
  lib/crewai-tools/src/crewai_tools/generate_tool_specs.py
Due: ruff, ruff-format, mypy

fix(agents): restore Bedrock Converse API tool arguments in _parse_native_tool_call
  lib/crewai/src/crewai/agents/crew_agent_executor.py
Due: ruff, ruff-format, mypy

feat: add Spix tools for AI agent phone calls, SMS, and email
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/spix_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/spix_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/spix_tool/spix_tool.py
  lib/crewai-tools/tests/tools/spix_tool_test.py
Due: ruff, ruff-format, mypy

feat: add SafetyMDTool — EVM payment address safety checker
  crewai/tools/safetymd/__init__.py
  crewai/tools/safetymd/tool.py
Due: ruff, ruff-format, mypy

fix: forward max_completion_tokens to Anthropic native provider
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/tests/llms/anthropic/test_anthropic.py
Due: ruff, ruff-format, mypy

fix: Bedrock Converse API tool arguments dropped due to truthy default
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/tests/agents/test_agent_executor.py
Due: ruff, ruff-format, mypy

fix: save flow plot HTML to current working directory instead of temp directory
  lib/crewai/src/crewai/flow/visualization/renderers/interactive.py
Due: ruff, ruff-format, mypy

fix: treat any Azure OpenAI endpoint deployment as OpenAI-compatible
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/tests/llms/azure/test_azure.py
Due: ruff, ruff-format, mypy

fix(cli): avoid Repository.is_git_repo() lru_cache leak
  lib/crewai/src/crewai/cli/git.py
  lib/crewai/tests/cli/test_git.py
Due: ruff, ruff-format, mypy

fix: test_invoke_resets_messages sets task.output via side_effect
  lib/crewai/tests/test_executor_state_reset.py
Due: ruff, ruff-format

fix(crew): preserve full task output in crew.kickoff() (fixes #4603)
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/tests/test_executor_state_reset.py
Due: ruff, ruff-format, mypy

feat: add flow_structure() serializer for Flow class introspection
  lib/crewai/src/crewai/flow/__init__.py
  lib/crewai/src/crewai/flow/flow_serializer.py
  lib/crewai/tests/test_flow_serializer.py
Due: ruff, ruff-format, mypy

fix: lint — ruff check + format compliance for flow_serializer
  lib/crewai/src/crewai/flow/flow_serializer.py
Due: ruff, ruff-format, mypy

test(crew): exercise kickoff reuse through real executor
  lib/crewai/tests/test_executor_state_reset.py
Due: ruff, ruff-format

fix: address review — PydanticUndefined bug, FlowCondition tuple handling, dead code cleanup, inheritance tests
  lib/crewai/src/crewai/flow/flow_serializer.py
  lib/crewai/tests/test_flow_serializer.py
Due: ruff, ruff-format, mypy

feat: add flow_structure() serializer for Flow class introspection (#5021)
  lib/crewai/src/crewai/flow/__init__.py
  lib/crewai/src/crewai/flow/flow_serializer.py
  lib/crewai/tests/test_flow_serializer.py
Due: ruff, ruff-format, mypy

fix(flow): allow Flow subclasses in crew.copy() for kickoff_for_each (fixes #4555)
  lib/crewai/src/crewai/crew.py
  lib/crewai/tests/test_flow_kickoff_for_each.py
Due: ruff, ruff-format, mypy

refactor(rag): replace urllib with requests in pdf loader
  lib/crewai-tools/src/crewai_tools/rag/loaders/pdf_loader.py
Due: ruff, ruff-format, mypy

refactor(rag): replace urllib with requests in pdf loader (#5026)
  lib/crewai-tools/src/crewai_tools/rag/loaders/pdf_loader.py
Due: ruff, ruff-format, mypy

better serialization for human feedback in flow with models defined as dicts
  lib/crewai/src/crewai/flow/async_feedback/types.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/flow/human_feedback.py
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/test_human_feedback_integration.py
Due: ruff, ruff-format, mypy

linted
  lib/crewai/src/crewai/flow/human_feedback.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
Due: ruff, ruff-format, mypy

linted
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
Due: ruff, ruff-format, mypy

fix and adjust tests
  lib/crewai/tests/test_async_human_feedback.py
Due: ruff, ruff-format

better serialization for human feedback in flow with models defined a… (#5029)
  lib/crewai/src/crewai/flow/async_feedback/types.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/flow/human_feedback.py
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/test_async_human_feedback.py
  lib/crewai/tests/test_human_feedback_integration.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.11.1
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

fix: bump pypdf, tinytag, and langchain-core for security fixes (#4989)
  lib/crewai-files/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

feat: bump versions to 1.11.1 (#5030)
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

docs: update changelog and version for v1.11.1
  docs/docs.json
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

docs: update changelog and version for v1.11.1 (#5031)
  docs/docs.json
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

feat: implement ParallelAgentExecutor for concurrent task processing
  src/crewai/orchestrators/parallel_executor.py
Due: ruff, ruff-format, mypy

feat: automatic root_scope for hierarchical memory isolation
  lib/crewai/src/crewai/agents/agent_builder/base_agent_executor_mixin.py
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/memory/encoding_flow.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/src/crewai/memory/utils.py
  lib/crewai/tests/memory/test_memory_root_scope.py
Due: ruff, ruff-format, mypy

fix: don't auto-set root_scope on user-provided Memory instances
  lib/crewai/src/crewai/crew.py
  lib/crewai/tests/memory/test_memory_root_scope.py
Due: ruff, ruff-format, mypy
