Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

fix(tools): accept int amounts and split USDCtoFiat withdraw schema
  lib/crewai-tools/src/crewai_tools/tools/usdctofiat_tool/usdctofiat_tool.py
  lib/crewai-tools/tests/tools/test_usdctofiat_tool.py
Due: ruff, ruff-format, mypy

test: stop telemetry fixtures from leaking the global TracerProvider
  lib/crewai/tests/telemetry/test_otel.py
Due: ruff, ruff-format

fix: stop anonymous telemetry from globalizing the TracerProvider
  lib/crewai/tests/telemetry/test_otel_noop.py
Due: ruff, ruff-format

feat: add native OpenTelemetry instrumentation
  lib/crewai/src/crewai/a2a/utils/delegation.py
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/events/event_bus.py
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/src/crewai/knowledge/knowledge.py
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/src/crewai/task.py
  lib/crewai/src/crewai/tasks/llm_guardrail.py
  lib/crewai/src/crewai/telemetry/__init__.py
  lib/crewai/src/crewai/telemetry/otel.py
  lib/crewai/src/crewai/tools/base_tool.py
  lib/crewai/src/crewai/tools/structured_tool.py
  lib/crewai/src/crewai/utilities/reasoning_handler.py
  lib/crewai/tests/telemetry/test_otel.py
  lib/crewai/tests/telemetry/test_otel_noop.py
Due: ruff, ruff-format, mypy

fix: keep coroutine results inside the execute flow method span
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/src/crewai/telemetry/otel.py
  lib/crewai/src/crewai/tools/structured_tool.py
  lib/crewai/tests/telemetry/test_otel.py
Due: ruff, ruff-format, mypy

feat(telemetry): add execution UUID to telemetry spans
  lib/crewai/src/crewai/telemetry/otel.py
  lib/crewai/tests/telemetry/test_otel.py
Due: ruff, ruff-format, mypy

fix(tasks): rename json property to json_output to avoid BaseModel method conflict
  lib/crewai/src/crewai/crews/crew_output.py
  lib/crewai/src/crewai/tasks/task_output.py
  lib/crewai/tests/test_task.py
Due: ruff, ruff-format, mypy

fix: close the agent scope on every failed attempt
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/tests/utilities/test_events.py
Due: ruff, ruff-format, mypy

fix: detect circular task context dependencies
  lib/crewai/src/crewai/crew.py
  lib/crewai/tests/test_crew.py
Due: ruff, ruff-format, mypy

fix: return the retried result instead of finalizing it twice
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/tests/utilities/test_events.py
Due: ruff, ruff-format, mypy

fix: stop retrying a hook abort and keep its reason
  docs/edge/en/learn/llm-hooks.mdx
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/hooks/test_llm_hooks.py
  lib/crewai/tests/utilities/test_events.py
Due: ruff, ruff-format, mypy

docs: rewrite README Getting Started for JSON-first crews
  README.md
  lib/crewai/README.md
  lib/crewai/tests/project/test_readme_getting_started.py
Due: ruff, ruff-format

fix(tools): reject SQL comments to prevent keyword-bypass attacks
  lib/crewai-tools/src/crewai_tools/tools/singlestore_search_tool/singlestore_search_tool.py
  lib/crewai-tools/tests/tools/test_singlestore_query_validation.py
Due: ruff, ruff-format, mypy

docs: add verified Entroly stdio MCP example
  docs/edge/en/mcp/stdio.mdx
Due: none

docs: complete Entroly stdio setup
  docs/edge/ar/mcp/stdio.mdx
  docs/edge/en/mcp/stdio.mdx
  docs/edge/ko/mcp/stdio.mdx
  docs/edge/pt-BR/mcp/stdio.mdx
Due: none

feat(tools): add guarded Taskmarket requester
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/taskmarket_requester_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/taskmarket_requester_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/taskmarket_requester_tool/taskmarket_requester_tool.py
  lib/crewai-tools/tests/tools/taskmarket_requester_tool_test.py
Due: ruff, ruff-format, mypy

fix(tools): harden requester concurrency checks
  lib/crewai-tools/src/crewai_tools/tools/taskmarket_requester_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/taskmarket_requester_tool/taskmarket_requester_tool.py
  lib/crewai-tools/tests/tools/taskmarket_requester_tool_test.py
Due: ruff, ruff-format, mypy

test(tools): always release requester race harness
  lib/crewai-tools/tests/tools/taskmarket_requester_tool_test.py
Due: ruff, ruff-format

fix(tools): reject INTO STAGE and session-variable targets in SingleStore search
  lib/crewai-tools/src/crewai_tools/tools/singlestore_search_tool/singlestore_search_tool.py
  lib/crewai-tools/tests/tools/test_singlestore_query_validation.py
Due: ruff, ruff-format, mypy

fix(tools): reject -- and # SQL comments to prevent keyword-bypass attacks
  lib/crewai-tools/src/crewai_tools/tools/singlestore_search_tool/singlestore_search_tool.py
  lib/crewai-tools/tests/tools/test_singlestore_query_validation.py
Due: ruff, ruff-format, mypy

test(rag): mock voyageai via sys.modules so contextualized tests run without the optional dep
  lib/crewai/tests/rag/embeddings/test_voyageai_embedding_callable.py
Due: ruff, ruff-format

fix(crewai-tools): validate Agent Guild base URL
  lib/crewai-tools/src/crewai_tools/tools/agent_guild_tool/agent_guild_tool.py
  lib/crewai-tools/tests/tools/agent_guild_tool_test.py
Due: ruff, ruff-format, mypy

test(crewai-tools): cover Agent Guild requests
  lib/crewai-tools/src/crewai_tools/tools/agent_guild_tool/agent_guild_tool.py
  lib/crewai-tools/tests/tools/agent_guild_tool_test.py
Due: ruff, ruff-format, mypy

docs(crewai-tools): document Agent Guild tools
  lib/crewai-tools/src/crewai_tools/tools/agent_guild_tool/agent_guild_tool.py
Due: ruff, ruff-format, mypy

fix(tools): ignore comment-like chars inside single-quoted strings in SQL validator
  lib/crewai-tools/src/crewai_tools/tools/singlestore_search_tool/singlestore_search_tool.py
  lib/crewai-tools/tests/tools/test_singlestore_query_validation.py
Due: ruff, ruff-format, mypy

docs: add EmpirioLabs AI LLM provider configuration
  docs/edge/en/concepts/llms.mdx
Due: none

fix(crewai-tools): support metered Agent Guild reads
  lib/crewai-tools/src/crewai_tools/tools/agent_guild_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/agent_guild_tool/agent_guild_tool.py
  lib/crewai-tools/tests/tools/agent_guild_tool_test.py
Due: ruff, ruff-format, mypy

refactor(tools): trim verbose docs and leftover SSRF adapter comments
  lib/crewai-tools/src/crewai_tools/security/safe_path.py
  lib/crewai-tools/src/crewai_tools/security/safe_requests.py
  lib/crewai-tools/src/crewai_tools/security/ssrf_adapter.py
  lib/crewai-tools/src/crewai_tools/tools/url_read_tool/url_read_tool.py
  lib/crewai-tools/tests/utilities/test_safe_requests.py
  lib/crewai/tests/llms/azure/test_azure_responses.py
Due: ruff, ruff-format, mypy

feat(crewai-tools): add Live Tennis API tool
  docs/docs.json
  docs/edge/en/tools/search-research/livetennistool.mdx
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/live_tennis_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/live_tennis_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/live_tennis_tool/live_tennis_tool.py
  lib/crewai-tools/src/crewai_tools/tools/live_tennis_tool/schemas.py
  lib/crewai-tools/tests/tools/test_live_tennis_tool.py
Due: ruff, ruff-format, mypy

fix(tools): pin SSRF fetches inside the outbound-fetch module
  lib/crewai-tools/src/crewai_tools/rag/loaders/docs_site_loader.py
  lib/crewai-tools/src/crewai_tools/rag/loaders/utils.py
  lib/crewai-tools/src/crewai_tools/security/safe_path.py
  lib/crewai-tools/src/crewai_tools/security/safe_requests.py
  lib/crewai-tools/src/crewai_tools/tools/url_read_tool/url_read_tool.py
  lib/crewai-tools/tests/rag/test_csv_loader.py
  lib/crewai-tools/tests/rag/test_docx_loader.py
  lib/crewai-tools/tests/rag/test_json_loader.py
  lib/crewai-tools/tests/rag/test_mdx_loader.py
  lib/crewai-tools/tests/rag/test_webpage_loader.py
  lib/crewai-tools/tests/rag/test_xml_loader.py
  lib/crewai-tools/tests/utilities/test_safe_requests.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy

fix(crewai-tools): address review — drop utr listing, numeric player_id, tour enum, docs
  docs/edge/en/tools/search-research/livetennistool.mdx
  lib/crewai-tools/src/crewai_tools/tools/live_tennis_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/live_tennis_tool/live_tennis_tool.py
  lib/crewai-tools/src/crewai_tools/tools/live_tennis_tool/schemas.py
  lib/crewai-tools/tests/tools/test_live_tennis_tool.py
Due: ruff, ruff-format, mypy

docs(crewai-tools): parse the player id from the search response in examples
  docs/edge/en/tools/search-research/livetennistool.mdx
  lib/crewai-tools/src/crewai_tools/tools/live_tennis_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/live_tennis_tool/__init__.py
Due: ruff, ruff-format, mypy

docs(crewai-tools): guard the search-to-profile example against error strings and empty results
  docs/edge/en/tools/search-research/livetennistool.mdx
  lib/crewai-tools/src/crewai_tools/tools/live_tennis_tool/README.md
Due: none

docs: refresh retired Gemini model ids
  docs/edge/ar/concepts/memory.mdx
  docs/edge/ar/guides/crews/first-crew.mdx
  docs/edge/ar/guides/flows/first-flow.mdx
  docs/edge/ar/learn/litellm-removal-guide.mdx
  docs/edge/ar/learn/llm-connections.mdx
  docs/edge/ar/learn/llm-selection-guide.mdx
  docs/edge/en/concepts/memory.mdx
  docs/edge/en/guides/crews/first-crew.mdx
  docs/edge/en/guides/flows/first-flow.mdx
  docs/edge/en/learn/litellm-removal-guide.mdx
  docs/edge/en/learn/llm-connections.mdx
  docs/edge/en/learn/llm-selection-guide.mdx
  docs/edge/ko/concepts/memory.mdx
  docs/edge/ko/guides/crews/first-crew.mdx
  docs/edge/ko/guides/flows/first-flow.mdx
  docs/edge/ko/learn/llm-connections.mdx
  docs/edge/ko/learn/llm-selection-guide.mdx
  docs/edge/pt-BR/concepts/memory.mdx
  docs/edge/pt-BR/guides/crews/first-crew.mdx
  docs/edge/pt-BR/guides/flows/first-flow.mdx
  docs/edge/pt-BR/learn/llm-connections.mdx
  docs/edge/pt-BR/learn/llm-selection-guide.mdx
Due: none

feat(crewai-tools): add free Agent Guild preflight
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/agent_guild_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/agent_guild_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/agent_guild_tool/agent_guild_tool.py
  lib/crewai-tools/tests/tools/agent_guild_tool_test.py
Due: ruff, ruff-format, mypy

fix(llm): expand docstring and add reasoning_effort/response_format fallback coverage tests
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

fix(llm): handle LiteLLM supports_response_schema introspection failure gracefully (#6412)
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

fix(llm): add static provider capability lists and reasoning_effort fallback tests
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

test(llm): assert debug log output during LiteLLM introspection failure
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format

fix(llms): support BaseTool in direct LLM calls
  lib/crewai/src/crewai/llms/providers/utils/common.py
  lib/crewai/tests/test_llm_tool_conversion.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
