Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

feat: add polling and streaming handlers
  lib/crewai/src/crewai/a2a/updates/polling/handler.py
  lib/crewai/src/crewai/a2a/updates/push_notifications/handler.py
  lib/crewai/src/crewai/a2a/updates/streaming/handler.py
  lib/crewai/src/crewai/events/types/a2a_events.py
Due: ruff, ruff-format, mypy

chore: use TaskStateResult and TaskState enum
  lib/crewai/src/crewai/a2a/config.py
  lib/crewai/src/crewai/a2a/utils.py
  lib/crewai/src/crewai/a2a/wrapper.py
Due: ruff, ruff-format, mypy

feat: activate polling events
  lib/crewai/src/crewai/a2a/__init__.py
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/src/crewai/events/utils/console_formatter.py
Due: ruff, ruff-format, mypy

chore: refactor handlers to unified protocol
  lib/crewai/src/crewai/a2a/task_helpers.py
  lib/crewai/src/crewai/a2a/updates/__init__.py
  lib/crewai/src/crewai/a2a/updates/base.py
  lib/crewai/src/crewai/a2a/updates/polling/config.py
  lib/crewai/src/crewai/a2a/updates/polling/handler.py
  lib/crewai/src/crewai/a2a/updates/push_notifications/config.py
  lib/crewai/src/crewai/a2a/updates/push_notifications/handler.py
  lib/crewai/src/crewai/a2a/updates/streaming/handler.py
  lib/crewai/src/crewai/a2a/utils.py
Due: ruff, ruff-format, mypy

chore: use python version compat types
  lib/crewai/src/crewai/a2a/updates/polling/handler.py
  lib/crewai/src/crewai/a2a/updates/streaming/handler.py
Due: ruff, ruff-format, mypy

feat: add push notification protocol and config
  lib/crewai/src/crewai/a2a/updates/__init__.py
  lib/crewai/src/crewai/a2a/updates/base.py
  lib/crewai/src/crewai/a2a/updates/push_notifications/config.py
Due: ruff, ruff-format, mypy

feat: add push notification events
  lib/crewai/src/crewai/events/types/a2a_events.py
Due: ruff, ruff-format, mypy

refactor: extract shared message sending logic
  lib/crewai/src/crewai/a2a/task_helpers.py
  lib/crewai/src/crewai/a2a/updates/polling/handler.py
Due: ruff, ruff-format, mypy

feat: implement push notification handler
  lib/crewai/src/crewai/a2a/updates/push_notifications/handler.py
  lib/crewai/src/crewai/a2a/utils.py
Due: ruff, ruff-format, mypy

chore: remove excess docs note
  lib/crewai/src/crewai/a2a/updates/base.py
Due: ruff, ruff-format, mypy

chore: remove unused authentication field from PushNotificationConfig
  lib/crewai/src/crewai/a2a/updates/push_notifications/config.py
  lib/crewai/src/crewai/a2a/updates/push_notifications/handler.py
Due: ruff, ruff-format, mypy

feat: add authentication field to PushNotificationConfig
  lib/crewai/src/crewai/a2a/updates/push_notifications/config.py
  lib/crewai/src/crewai/a2a/updates/push_notifications/handler.py
Due: ruff, ruff-format, mypy

chore: update typing import for python version compat
  lib/crewai/src/crewai/a2a/task_helpers.py
Due: ruff, ruff-format, mypy

fix: prevent LLM observation hallucination by properly attributing tool results
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/agents/parser.py
  lib/crewai/src/crewai/experimental/crew_agent_executor_flow.py
  lib/crewai/src/crewai/lite_agent.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/agents/test_observation_message_attribution.py
Due: ruff, ruff-format, mypy

defaulting the transport protocol to JSONRPC by default
  lib/crewai/src/crewai/a2a/config.py
  lib/crewai/src/crewai/a2a/utils.py
Due: ruff, ruff-format, mypy

chore: add a2a integration tests with cassettes
  conftest.py
  lib/crewai/tests/a2a/test_a2a_integration.py
  lib/crewai/tests/cassettes/a2a/TestA2AAgentCardFetching.test_fetch_agent_card.yaml
  lib/crewai/tests/cassettes/a2a/TestA2APollingIntegration.test_polling_completes_task.yaml
  lib/crewai/tests/cassettes/a2a/TestA2AStreamingIntegration.test_streaming_completes_task.yaml
  lib/crewai/tests/cassettes/a2a/TestA2ATaskOperations.test_send_message_and_get_response.yaml
Due: ruff, ruff-format, mypy

fix: use the internal token usage tracker when using litellm
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

Update webhook-streaming.mdx
  docs/en/enterprise/features/webhook-streaming.mdx
Due: none

Update webhook-streaming.mdx (#4184)
  docs/en/enterprise/features/webhook-streaming.mdx
Due: none

removing the optional transport_protocol
  lib/crewai/src/crewai/a2a/utils.py
Due: ruff, ruff-format, mypy

adding signoz integration to obsevability page
  docs/docs.json
  docs/en/observability/overview.mdx
  docs/en/observability/signoz.mdx
Due: none

fix: handle 'Action: None' in parser to prevent OutputParserError
  lib/crewai/src/crewai/agents/constants.py
  lib/crewai/src/crewai/agents/parser.py
  lib/crewai/tests/agents/test_crew_agent_parser.py
Due: ruff, ruff-format, mypy

measuring human feedback feat
  lib/crewai/src/crewai/events/__init__.py
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/src/crewai/telemetry/telemetry.py
Due: ruff, ruff-format, mypy

add some tests
  lib/crewai/tests/utilities/test_events.py
Due: ruff, ruff-format

fix: pass push notification config in initial request
  lib/crewai/src/crewai/a2a/templates.py
  lib/crewai/src/crewai/a2a/updates/push_notifications/handler.py
  lib/crewai/src/crewai/a2a/utils.py
  lib/crewai/src/crewai/a2a/wrapper.py
Due: ruff, ruff-format, mypy

chore: add a2a async updates docs
  docs/en/learn/a2a-agent-delegation.mdx
Due: none

chore: update test assumption, docs
  docs/en/learn/a2a-agent-delegation.mdx
  lib/crewai/tests/a2a/test_a2a_integration.py
Due: ruff, ruff-format

fix: ensure response models checked before parsing attempt
  lib/crewai/src/crewai/agents/crew_agent_executor.py
Due: ruff, ruff-format, mypy

fix: ensure failed states are handled for push, poll
  lib/crewai/src/crewai/a2a/updates/polling/handler.py
  lib/crewai/src/crewai/a2a/updates/push_notifications/handler.py
Due: ruff, ruff-format, mypy

fix: ensure stream is closed on exit
  lib/crewai/src/crewai/a2a/task_helpers.py
  lib/crewai/src/crewai/a2a/updates/streaming/handler.py
Due: ruff, ruff-format, mypy

fix: add error catch for polling timeout
  lib/crewai/src/crewai/a2a/updates/polling/handler.py
Due: ruff, ruff-format, mypy

WIP docs for pii-redaction feat
  docs/docs.json
  docs/en/enterprise/features/pii-trace-redactions.mdx
  docs/images/enterprise/pii_mask_recognizer.png
  docs/images/enterprise/pii_mask_recognizer_create.png
  docs/images/enterprise/pii_mask_recognizer_deployment_tab.png
  docs/images/enterprise/pii_mask_recognizer_enable.png
  docs/images/enterprise/pii_mask_recognizer_supported_entities.png
  docs/images/enterprise/pii_mask_recognizer_trace_example.png
Due: none

Lorenze/metrics for human feedback flows (#4188)
  lib/crewai/src/crewai/events/__init__.py
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/src/crewai/telemetry/telemetry.py
  lib/crewai/tests/utilities/test_events.py
Due: ruff, ruff-format, mypy

fix
  docs/en/enterprise/features/pii-trace-redactions.mdx
Due: none

updated image
  docs/images/enterprise/pii_mask_recognizer_trace_example.png
Due: none

feat: add agent_card to conditional branch fallback
  lib/crewai/src/crewai/a2a/updates/streaming/handler.py
Due: ruff, ruff-format, mypy

fix: ensure artifacts are not duplicated
  lib/crewai/src/crewai/a2a/task_helpers.py
Due: ruff, ruff-format, mypy

feat: add native NVIDIA NIM provider
  docs/en/learn/llm-connections.mdx
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/constants.py
  lib/crewai/src/crewai/llms/providers/nvidia/__init__.py
  lib/crewai/src/crewai/llms/providers/nvidia/completion.py
  lib/crewai/src/crewai/rag/embeddings/factory.py
  lib/crewai/src/crewai/rag/embeddings/providers/nvidia/__init__.py
  lib/crewai/src/crewai/rag/embeddings/providers/nvidia/embedding_callable.py
  lib/crewai/src/crewai/rag/embeddings/providers/nvidia/nvidia_provider.py
  lib/crewai/src/crewai/rag/embeddings/providers/nvidia/types.py
  lib/crewai/src/crewai/rag/embeddings/types.py
Due: ruff, ruff-format, mypy

fix: address code review feedback in NVIDIA provider
  lib/crewai/src/crewai/llms/providers/nvidia/completion.py
Due: ruff, ruff-format, mypy

fix: add cache TTL and improve error handling in NVIDIA provider
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/rag/embeddings/providers/nvidia/embedding_callable.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/)
