Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

feat: support CLI login with Entra ID (#3943)
  lib/crewai/src/crewai/cli/authentication/main.py
  lib/crewai/src/crewai/cli/authentication/providers/base_provider.py
  lib/crewai/src/crewai/cli/authentication/providers/entra_id.py
  lib/crewai/src/crewai/cli/authentication/utils.py
  lib/crewai/src/crewai/cli/tools/main.py
  lib/crewai/tests/cli/authentication/providers/test_entra_id.py
  lib/crewai/tests/cli/authentication/test_auth_main.py
Due: ruff, ruff-format, mypy

docs: add streaming execution documentation and integration tests
  docs/en/concepts/crews.mdx
  docs/en/concepts/flows.mdx
  docs/en/learn/streaming-crew-execution.mdx
  docs/en/learn/streaming-flow-execution.mdx
  lib/crewai/tests/cassettes/TestStreamingCrewIntegration.test_async_streaming_from_docs.yaml
  lib/crewai/tests/cassettes/TestStreamingCrewIntegration.test_basic_crew_streaming_from_docs.yaml
  lib/crewai/tests/cassettes/TestStreamingCrewIntegration.test_kickoff_for_each_streaming_from_docs.yaml
  lib/crewai/tests/cassettes/TestStreamingCrewIntegration.test_streaming_properties_from_docs.yaml
  lib/crewai/tests/cassettes/TestStreamingCrewIntegration.test_streaming_with_chunk_context_from_docs.yaml
  lib/crewai/tests/cassettes/TestStreamingFlowIntegration.test_basic_flow_streaming_from_docs.yaml
  lib/crewai/tests/test_streaming_integration.py
Due: ruff, ruff-format

feat: Add gemini-3-pro-preview (#3950)
  lib/crewai/src/crewai/cli/constants.py
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/constants.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/tests/cassettes/test_gemini_models[gemini-gemini-3-pro-preview].yaml
  lib/crewai/tests/llms/google/test_google.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

feat: ensure console logging stream
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/src/crewai/events/types/llm_events.py
  lib/crewai/src/crewai/events/utils/console_formatter.py
  lib/crewai/src/crewai/llm.py
Due: ruff, ruff-format, mypy

feat: add streaming result support to flows and crews
  docs/en/concepts/crews.mdx
  docs/en/concepts/flows.mdx
  docs/en/learn/streaming-crew-execution.mdx
  docs/en/learn/streaming-flow-execution.mdx
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/src/crewai/events/types/llm_events.py
  lib/crewai/src/crewai/events/utils/console_formatter.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/types/streaming.py
  lib/crewai/src/crewai/utilities/streaming.py
  lib/crewai/tests/cassettes/TestStreamingCrewIntegration.test_async_streaming_from_docs.yaml
  lib/crewai/tests/cassettes/TestStreamingCrewIntegration.test_basic_crew_streaming_from_docs.yaml
  lib/crewai/tests/cassettes/TestStreamingCrewIntegration.test_kickoff_for_each_streaming_from_docs.yaml
  lib/crewai/tests/cassettes/TestStreamingCrewIntegration.test_streaming_properties_from_docs.yaml
  lib/crewai/tests/cassettes/TestStreamingCrewIntegration.test_streaming_with_chunk_context_from_docs.yaml
  lib/crewai/tests/cassettes/TestStreamingFlowIntegration.test_async_flow_streaming_from_docs.yaml
  lib/crewai/tests/cassettes/TestStreamingFlowIntegration.test_basic_flow_streaming_from_docs.yaml
  lib/crewai/tests/test_streaming.py
  lib/crewai/tests/test_streaming_integration.py
Due: ruff, ruff-format, mypy

fix: improve state serialization in Flow class
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/tests/test_flow.py
Due: ruff, ruff-format, mypy

fix: re-add response_format param, add test
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/cassettes/test_openai_response_format_none.yaml
  lib/crewai/tests/cassettes/test_openai_response_format_with_dict.yaml
  lib/crewai/tests/cassettes/test_openai_response_format_with_pydantic_model.yaml
  lib/crewai/tests/llms/openai/test_openai.py
Due: ruff, ruff-format, mypy

fix: re-add openai response_format param, add test
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/cassettes/test_openai_response_format_none.yaml
  lib/crewai/tests/cassettes/test_openai_response_format_with_dict.yaml
  lib/crewai/tests/cassettes/test_openai_response_format_with_pydantic_model.yaml
  lib/crewai/tests/llms/openai/test_openai.py
Due: ruff, ruff-format, mypy

fix: ensure fuzzy returns are more strict, show type warning
  lib/crewai/src/crewai/flow/utils.py
  lib/crewai/src/crewai/flow/visualization/builder.py
  lib/crewai/tests/test_flow_visualization.py
Due: ruff, ruff-format, mypy

fix: ensure custom rag store persist path is set if passed
  lib/crewai/src/crewai/memory/storage/rag_storage.py
  lib/crewai/tests/rag/test_rag_storage_path.py
Due: ruff, ruff-format, mypy

feat: enhance flow event state management (#3952)
  lib/crewai/src/crewai/events/types/flow_events.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/tests/test_flow.py
  lib/crewai/tests/utilities/test_events.py
Due: ruff, ruff-format, mypy

Adding drop parameters in ChatCompletionsClient
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/tests/llms/azure/test_azure.py
Due: ruff, ruff-format, mypy

Update references from AMP to AOP in documentation
  docs/docs.json
  docs/en/enterprise/introduction.mdx
  docs/ko/enterprise/introduction.mdx
  docs/pt-BR/enterprise/introduction.mdx
Due: none

fix: ensure full type signature for tools
  lib/crewai/src/crewai/tools/base_tool.py
  lib/crewai/tests/cassettes/test_max_usage_count_is_respected.yaml
  lib/crewai/tests/tools/test_base_tool.py
Due: ruff, ruff-format, mypy

Update references from AMP to AOP in documentation (#3972)
  docs/docs.json
  docs/en/enterprise/introduction.mdx
  docs/ko/enterprise/introduction.mdx
  docs/pt-BR/enterprise/introduction.mdx
Due: none

feat: bump versions to 1.6.0
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

bump project templates
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
Due: none

feat: bump versions to 1.6.0 (#3974)
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

fix: auto-load MCP tools for task-level filtering
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/tests/mcp/test_task_level_filtering.py
Due: ruff, ruff-format, mypy

refactor: clean up comments and improve code clarity in agent executor flow
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agents/agent_builder/base_agent.py
  lib/crewai/src/crewai/agents/crew_agent_executor_flow.py
  lib/crewai/tests/agents/test_crew_agent_executor_flow.py
Due: ruff, ruff-format, mypy

bumping pytest-randomly numpy
  uv.lock
Due: none

refactor: enhance model validation and provider inference in LLM class
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

feat: add new Anthropic model versions to constants
  lib/crewai/src/crewai/llms/constants.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

dont infer this way - dropped
  lib/crewai/src/crewai/llm.py
Due: ruff, ruff-format, mypy

Rename 'input' to 'tool_input' in cache add method
  lib/crewai/src/crewai/agents/tools_handler.py
Due: ruff, ruff-format, mypy

Always return true
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/utilities/agent_utils.py
Due: ruff, ruff-format, mypy

Default is True
  lib/crewai/src/crewai/utilities/agent_utils.py
Due: ruff, ruff-format, mypy

Erase 'oauth2_extra' setting on 'crewai config reset' command
  lib/crewai/src/crewai/cli/config.py
Due: ruff, ruff-format, mypy

Fix test
  lib/crewai/tests/cli/test_config.py
Due: ruff, ruff-format

also bump versions of anthropic sdk
  lib/crewai/pyproject.toml
  uv.lock
Due: none

supporting thinking for anthropic models
  docs/en/concepts/llms.mdx
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/tests/cassettes/test_anthropic_thinking.yaml
  lib/crewai/tests/llms/anthropic/test_anthropic.py
Due: ruff, ruff-format, mypy

drop comments here
  lib/crewai/tests/llms/anthropic/test_anthropic.py
Due: ruff, ruff-format

thinking and tool calling support
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/tests/cassettes/test_anthropic_function_calling.yaml
  lib/crewai/tests/cassettes/test_anthropic_thinking_blocks_preserved_across_turns.yaml
  lib/crewai/tests/llms/anthropic/test_anthropic.py
Due: ruff, ruff-format, mypy

fix: properly mock tool use and text block types in Anthropic tests
  lib/crewai/tests/llms/anthropic/test_anthropic.py
Due: ruff, ruff-format

liteagent support hooks
  lib/crewai/src/crewai/hooks/llm_hooks.py
  lib/crewai/src/crewai/lite_agent.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/cassettes/TestLLMHooksIntegration.test_lite_agent_hooks_integration_with_real_llm.yaml
  lib/crewai/tests/cassettes/TestToolHooksIntegration.test_lite_agent_hooks_integration_with_real_tool.yaml
  lib/crewai/tests/conftest.py
  lib/crewai/tests/hooks/test_llm_hooks.py
  lib/crewai/tests/hooks/test_tool_hooks.py
Due: ruff, ruff-format, mypy

fix: erase 'oauth2_extra' setting on 'crewai config reset' command
  lib/crewai/src/crewai/cli/config.py
  lib/crewai/tests/cli/test_config.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/)
