Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

[EPD-196] Fix eager restore pre-check: record miss signal, conflict check first
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/tests/test_flow_persistence.py
Due: ruff, ruff-format, mypy

docs(agents): add setup, checks, and agent gotchas to AGENTS.md
  AGENTS.md
Due: none

[EPD-196] Fix pre-existing test-isolation leak breaking azure responses mocks
  lib/crewai/tests/llms/openai/test_openai.py
Due: ruff, ruff-format

fix(deps): raise click and pillow floors past new PYSEC advisories
  pyproject.toml
  uv.lock
Due: none

[EPD-196] Reset restore signal eagerly when a streaming session is created
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/tests/test_flow_persistence.py
Due: ruff, ruff-format, mypy

fix(memory): escape single quotes in scope-prefix delete LIKE clause
  lib/crewai/src/crewai/memory/storage/lancedb_storage.py
  lib/crewai/tests/memory/test_lancedb_delete_scope.py
Due: ruff, ruff-format, mypy

chore: resolve pip-audit failures for click, pillow, and json-repair (#6542)
  .github/workflows/vulnerability-scan.yml
  uv.lock
Due: none

Fix #6481: Support async before/after_kickoff_callbacks in akickoff
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/crews/utils.py
Due: ruff, ruff-format, mypy

fix: after_llm_call hooks no longer break native tool execution (#6531)
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/hooks/test_llm_hooks.py
Due: ruff, ruff-format, mypy

feat: add generic interception-hook dispatcher
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/events/types/hook_events.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/hooks/__init__.py
  lib/crewai/src/crewai/hooks/dispatch.py
  lib/crewai/src/crewai/hooks/llm_hooks.py
  lib/crewai/src/crewai/hooks/tool_hooks.py
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/src/crewai/utilities/tool_utils.py
  lib/crewai/tests/hooks/test_dispatch.py
Due: ruff, ruff-format, mypy

test: pin per-hook fail-open at the LLM and tool seams
  lib/crewai/tests/hooks/test_llm_hooks.py
  lib/crewai/tests/hooks/test_tool_hooks.py
Due: ruff, ruff-format

fix: honor scoped hooks on direct llm calls and register @on crew methods
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/hooks/dispatch.py
  lib/crewai/src/crewai/hooks/tool_hooks.py
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/src/crewai/project/crew_base.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/src/crewai/utilities/tool_utils.py
  lib/crewai/tests/hooks/test_crew_scoped_hooks.py
  lib/crewai/tests/hooks/test_llm_hooks.py
Due: ruff, ruff-format, mypy

refactor: scope InterceptionPoint to the points this layer wires
  lib/crewai/src/crewai/hooks/dispatch.py
  lib/crewai/tests/hooks/test_dispatch.py
Due: ruff, ruff-format, mypy

fix: harden interception dispatcher against review findings
  lib/crewai/src/crewai/hooks/dispatch.py
  lib/crewai/src/crewai/hooks/tool_hooks.py
  lib/crewai/src/crewai/utilities/tool_utils.py
  lib/crewai/tests/hooks/test_dispatch.py
Due: ruff, ruff-format, mypy

fix: run execution-scoped hooks on the agent executor model seams
  lib/crewai/src/crewai/hooks/dispatch.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/hooks/test_llm_hooks.py
Due: ruff, ruff-format, mypy

feat: add generic interception-hook dispatcher (#6516)
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/events/types/hook_events.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/hooks/__init__.py
  lib/crewai/src/crewai/hooks/dispatch.py
  lib/crewai/src/crewai/hooks/llm_hooks.py
  lib/crewai/src/crewai/hooks/tool_hooks.py
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/src/crewai/project/crew_base.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/src/crewai/utilities/tool_utils.py
  lib/crewai/tests/hooks/test_crew_scoped_hooks.py
  lib/crewai/tests/hooks/test_dispatch.py
  lib/crewai/tests/hooks/test_llm_hooks.py
  lib/crewai/tests/hooks/test_tool_hooks.py
Due: ruff, ruff-format, mypy

chore: drop redundant seam comments from execution-boundary wiring
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/tests/hooks/test_interception_conformance.py
Due: ruff, ruff-format, mypy

fix: correct execution-boundary hook ordering and input aliasing
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/crews/utils.py
  lib/crewai/src/crewai/flow/runtime/__init__.py
Due: ruff, ruff-format, mypy

feat: wire execution-boundary interception points
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/crews/utils.py
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/src/crewai/hooks/contexts.py
  lib/crewai/src/crewai/hooks/dispatch.py
  lib/crewai/tests/hooks/test_interception_conformance.py
Due: ruff, ruff-format, mypy

fix: keep crew output typed across boundary hook dispatch
  lib/crewai/src/crewai/crew.py
Due: ruff, ruff-format, mypy

feat: wire execution-boundary interception points (#6517)
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/crews/utils.py
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/src/crewai/hooks/contexts.py
  lib/crewai/src/crewai/hooks/dispatch.py
  lib/crewai/tests/hooks/test_interception_conformance.py
Due: ruff, ruff-format, mypy

feat: add pre_step and post_step interception points on task execution
  lib/crewai/src/crewai/hooks/contexts.py
  lib/crewai/src/crewai/hooks/dispatch.py
  lib/crewai/src/crewai/task.py
Due: ruff, ruff-format, mypy

feat: wire pre_step and post_step on flow method execution
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/tests/hooks/test_interception_conformance.py
Due: ruff, ruff-format, mypy

docs: rework execution hooks page around the @on api
  docs/edge/en/learn/execution-hooks.mdx
Due: none

feat: add step interception points and rework execution hooks docs around @on (#6518)
  docs/edge/en/learn/execution-hooks.mdx
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/src/crewai/hooks/contexts.py
  lib/crewai/src/crewai/hooks/dispatch.py
  lib/crewai/src/crewai/task.py
  lib/crewai/tests/hooks/test_interception_conformance.py
Due: ruff, ruff-format, mypy

fix(providers): address CodeRabbit review on capability detection
  lib/crewai/src/crewai/llm.py
Due: ruff, ruff-format, mypy

feat(providers): add ProviderCapabilities dataclass with unified capability detection
  lib/crewai/src/crewai/llm.py
Due: ruff, ruff-format, mypy

docs: group execution hooks and document all hook contexts
  docs/docs.json
  docs/edge/en/learn/execution-boundary-hooks.mdx
  docs/edge/en/learn/execution-hooks.mdx
  docs/edge/en/learn/llm-hooks.mdx
  docs/edge/en/learn/step-hooks.mdx
  docs/edge/en/learn/tool-hooks.mdx
Due: none

docs: prefix hook cross-links with /en so they resolve in edge
  docs/edge/en/learn/execution-boundary-hooks.mdx
  docs/edge/en/learn/execution-hooks.mdx
  docs/edge/en/learn/llm-hooks.mdx
  docs/edge/en/learn/step-hooks.mdx
  docs/edge/en/learn/tool-hooks.mdx
Due: none

docs: use /edge prefix for links to edge-only hooks pages
  docs/edge/en/learn/execution-boundary-hooks.mdx
  docs/edge/en/learn/execution-hooks.mdx
  docs/edge/en/learn/llm-hooks.mdx
  docs/edge/en/learn/step-hooks.mdx
  docs/edge/en/learn/tool-hooks.mdx
Due: none

Add RelayShield security tools (MCP registry risk + prompt-injection breach)
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/relayshield_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/relayshield_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/relayshield_tool/relayshield_tool.py
  lib/crewai-tools/src/crewai_tools/tools/relayshield_tool/schemas.py
Due: ruff, ruff-format, mypy

fix: validate Milvus embedding function config
  lib/crewai/src/crewai/rag/milvus/types.py
  lib/crewai/tests/rag/milvus/test_config.py
Due: ruff, ruff-format, mypy

feat(rag): add milvus provider
  docs/edge/ar/concepts/knowledge.mdx
  docs/edge/en/concepts/knowledge.mdx
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/rag/config/optional_imports/base.py
  lib/crewai/src/crewai/rag/config/optional_imports/protocols.py
  lib/crewai/src/crewai/rag/config/optional_imports/providers.py
  lib/crewai/src/crewai/rag/config/optional_imports/types.py
  lib/crewai/src/crewai/rag/config/types.py
  lib/crewai/src/crewai/rag/factory.py
  lib/crewai/src/crewai/rag/milvus/__init__.py
  lib/crewai/src/crewai/rag/milvus/client.py
  lib/crewai/src/crewai/rag/milvus/config.py
  lib/crewai/src/crewai/rag/milvus/constants.py
  lib/crewai/src/crewai/rag/milvus/factory.py
  lib/crewai/src/crewai/rag/milvus/types.py
  lib/crewai/src/crewai/rag/milvus/utils.py
  lib/crewai/tests/rag/config/test_factory.py
  lib/crewai/tests/rag/config/test_optional_imports.py
  lib/crewai/tests/rag/milvus/__init__.py
  lib/crewai/tests/rag/milvus/test_client.py
  lib/crewai/tests/rag/milvus/test_config.py
  uv.lock
Due: ruff, ruff-format, mypy

test(tools): keep chdb unit tests running when chdb is absent
  lib/crewai-tools/tests/tools/chdb_tool_test.py
Due: ruff, ruff-format

fix: CrewOutput.json raises IndexError instead of ValueError on empty tasks_output
  lib/crewai/src/crewai/crews/crew_output.py
  lib/crewai/tests/test_crew_output.py
Due: ruff, ruff-format, mypy

perf(rag): defer provider config imports
  lib/crewai/src/crewai/knowledge/storage/knowledge_storage.py
  lib/crewai/src/crewai/rag/__init__.py
  lib/crewai/tests/test_imports.py
Due: ruff, ruff-format, mypy

test(rag): bound lazy import subprocess
  lib/crewai/tests/test_imports.py
Due: ruff, ruff-format

fix: reject chunk_overlap >= chunk_size in knowledge sources instead of crashing/dropping content
  lib/crewai/src/crewai/knowledge/source/base_knowledge_source.py
  lib/crewai/tests/knowledge/test_base_knowledge_source_chunk_overlap.py
Due: ruff, ruff-format, mypy

fix(types): distinguish a legitimate None result from never-set in streaming
  lib/crewai/src/crewai/types/streaming.py
  lib/crewai/tests/test_streaming.py
Due: ruff, ruff-format, mypy

fix: preserve negative sign when parsing float fields in TrainingConverter
  lib/crewai/src/crewai/utilities/training_converter.py
  lib/crewai/tests/utilities/test_training_converter.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
