Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

fix: address santa-loop review findings (round 4)
  lib/crewai/src/crewai/utilities/internal_instructor.py
  lib/crewai/tests/utilities/test_converter.py
Due: ruff, ruff-format, mypy

refactor: consolidate isinstance dispatch in _create_instructor_client
  lib/crewai/src/crewai/utilities/internal_instructor.py
Due: ruff, ruff-format, mypy

feat: emit lifecycle events for checkpoint operations
  lib/crewai/src/crewai/events/__init__.py
  lib/crewai/src/crewai/events/event_types.py
  lib/crewai/src/crewai/events/types/checkpoint_events.py
  lib/crewai/src/crewai/state/checkpoint_listener.py
  lib/crewai/src/crewai/state/provider/core.py
  lib/crewai/src/crewai/state/provider/json_provider.py
  lib/crewai/src/crewai/state/provider/sqlite_provider.py
  lib/crewai/src/crewai/state/runtime.py
Due: ruff, ruff-format, mypy

fix: snapshot lineage before chain and isolate prune failures
  lib/crewai/src/crewai/state/checkpoint_listener.py
  lib/crewai/src/crewai/state/runtime.py
Due: ruff, ruff-format, mypy

refactor: align prune parent_id and drop dead fork failure path
  lib/crewai/src/crewai/events/__init__.py
  lib/crewai/src/crewai/events/event_types.py
  lib/crewai/src/crewai/events/types/checkpoint_events.py
  lib/crewai/src/crewai/state/checkpoint_listener.py
  lib/crewai/src/crewai/state/runtime.py
Due: ruff, ruff-format, mypy

refactor: dedupe checkpoint helpers and tighten state type hints
  lib/crewai/src/crewai/state/checkpoint_listener.py
  lib/crewai/src/crewai/state/event_record.py
  lib/crewai/src/crewai/state/runtime.py
Due: ruff, ruff-format, mypy

fix: fall back to 0.0.0 when checkpoint crewai_version is empty string
  lib/crewai/src/crewai/state/runtime.py
Due: ruff, ruff-format, mypy

fix(flow): serialize initial_state class refs as JSON schema
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/tests/test_checkpoint.py
Due: ruff, ruff-format, mypy

refactor(flow): narrow initial_state type to the valid input set
  lib/crewai/src/crewai/flow/flow.py
Due: ruff, ruff-format, mypy

feat(flow): round-trip initial_state class refs via schema marker
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/tests/test_checkpoint.py
Due: ruff, ruff-format, mypy

fix(flow): add execution_id separate from state.id (COR-48)
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/tests/test_flow_execution_id.py
Due: ruff, ruff-format, mypy

test(crew): align flow-context assertions with execution_id (COR-48)
  lib/crewai/tests/test_crew.py
Due: ruff, ruff-format

test(flow): document intentional LookupError swallow in reset fixture
  lib/crewai/tests/test_flow_execution_id.py
Due: ruff, ruff-format

fix(flow): replay recorded method events on checkpoint resume
  lib/crewai/src/crewai/events/event_bus.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/state/checkpoint_listener.py
  lib/crewai/tests/events/test_event_replay.py
Due: ruff, ruff-format, mypy

fix(flow): filter replay to completed methods and track sync futures
  lib/crewai/src/crewai/events/event_bus.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/tests/events/test_event_replay.py
Due: ruff, ruff-format, mypy

fix(flow): clear event scope on restore and regenerate id on fork
  lib/crewai/src/crewai/flow/flow.py
Due: ruff, ruff-format, mypy

test: clear event_record at start of resume replay test
  lib/crewai/tests/events/test_event_replay.py
Due: ruff, ruff-format

refactor(event_record): add locked all_nodes and clear accessors
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/state/event_record.py
  lib/crewai/tests/events/test_event_replay.py
Due: ruff, ruff-format, mypy

fix(flow): scope replay filter by flow_name to exclude sub-flow events
  lib/crewai/src/crewai/flow/flow.py
Due: ruff, ruff-format, mypy

Update `tavily-python` installation instructions and adjust version constraints
  docs/ar/tools/search-research/tavilyextractortool.mdx
  docs/ar/tools/search-research/tavilysearchtool.mdx
  docs/en/tools/search-research/tavilyextractortool.mdx
  docs/en/tools/search-research/tavilysearchtool.mdx
  docs/ko/tools/search-research/tavilyextractortool.mdx
  docs/ko/tools/search-research/tavilysearchtool.mdx
  docs/pt-BR/tools/search-research/tavilyextractortool.mdx
  docs/pt-BR/tools/search-research/tavilysearchtool.mdx
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/tools/tavily_extractor_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/tavily_get_research_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/tavily_research_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/tavily_search_tool/README.md
  uv.lock
Due: none

Add Tavily Research Tool documentation in multiple languages
  docs/ar/tools/search-research/tavilyresearchtool.mdx
  docs/docs.json
  docs/en/tools/search-research/tavilyresearchtool.mdx
  docs/ko/tools/search-research/tavilyresearchtool.mdx
  docs/pt-BR/tools/search-research/tavilyresearchtool.mdx
Due: none

Fix Tavily research CI failures
  docs/ar/tools/search-research/tavilyresearchtool.mdx
  docs/en/tools/search-research/tavilyresearchtool.mdx
  docs/ko/tools/search-research/tavilyresearchtool.mdx
  docs/pt-BR/tools/search-research/tavilyresearchtool.mdx
  lib/crewai-tools/src/crewai_tools/tools/tavily_research_tool/tavily_research_tool.py
Due: ruff, ruff-format, mypy

docs: clarify CrewAI Flows description
  README.md
Due: none

feat: bump versions to 1.14.3
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

docs: update changelog and version for v1.14.3
  docs/ar/changelog.mdx
  docs/docs.json
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

docs: add You.com MCP integration documentation for crewAI
  docs/docs.json
  docs/en/tools/web-scraping/youai/overview.mdx
  docs/en/tools/web-scraping/youai/security.mdx
  docs/en/tools/web-scraping/youai/you-contents.mdx
  docs/en/tools/web-scraping/youai/you-research.mdx
  docs/en/tools/web-scraping/youai/you-search.mdx
Due: none

docs: add You.com MCP search, research, and content extraction guides
  docs/docs.json
  docs/en/tools/search-research/youai-search.mdx
  docs/en/tools/web-scraping/youai-contents.mdx
  docs/en/tools/web-scraping/youai/overview.mdx
  docs/en/tools/web-scraping/youai/security.mdx
  docs/en/tools/web-scraping/youai/you-contents.mdx
  docs/en/tools/web-scraping/youai/you-research.mdx
  docs/en/tools/web-scraping/youai/you-search.mdx
Due: none

fix: add tool_filter to DSL search agent in youai-contents combo example
  docs/en/tools/web-scraping/youai-contents.mdx
Due: none

docs: add FuturMix as a provider in LLM configuration docs
  docs/en/concepts/llms.mdx
Due: none

Remove empty README heading
  README.md
Due: none

docs(learn): add tool-call gating with Tessera (multi-agent example)
  docs/docs.json
  docs/en/learn/tool-call-gating-with-tessera.mdx
Due: none

docs(tessera): make python example self-contained (ruff E401, F821)
  docs/en/learn/tool-call-gating-with-tessera.mdx
Due: none

docs(mcp/streamable-http): add OpenRegistry worked example
  docs/en/mcp/streamable-http.mdx
Due: none

feat: add NO_COLOR support
  lib/crewai-tools/src/crewai_tools/printer.py
Due: ruff, ruff-format, mypy

Change environment variable for color output
  lib/crewai-tools/src/crewai_tools/printer.py
Due: ruff, ruff-format, mypy

fix: add JSON serializer for guardrail callable fields to fix checkpoint crash
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/lite_agent.py
  lib/crewai/src/crewai/task.py
Due: ruff, ruff-format, mypy

docs: add Doubleword as an LLM provider
  docs/en/concepts/llms.mdx
Due: none

ci: ignore pip CVE-2026-3219 in pip-audit scan
  .github/workflows/vulnerability-scan.yml
Due: none

ci: ignore pip CVE-2026-3219 in pre-commit pip-audit hook
  .pre-commit-config.yaml
Due: none

fix(deps): bump litellm to 1.83.7+ for SSTI fix (GHSA-xqmj-j6mv-4862)
  lib/crewai-tools/pyproject.toml
  lib/crewai/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
