Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

feat(valkey): shared cache config + ValkeyCache for A2A and file uploads
  lib/crewai-files/src/crewai_files/cache/upload_cache.py
  lib/crewai-tools/pyproject.toml
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/a2a/utils/agent_card.py
  lib/crewai/src/crewai/a2a/utils/task.py
  lib/crewai/src/crewai/memory/encoding_flow.py
  lib/crewai/src/crewai/memory/storage/valkey_cache.py
  lib/crewai/src/crewai/memory/storage/valkey_storage.py
  lib/crewai/src/crewai/memory/types.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/src/crewai/utilities/cache_config.py
  lib/crewai/tests/memory/storage/test_valkey_cache.py
  lib/crewai/tests/memory/storage/test_valkey_storage.py
  lib/crewai/tests/memory/storage/test_valkey_storage_errors.py
  lib/crewai/tests/memory/storage/test_valkey_storage_scope.py
  lib/crewai/tests/memory/storage/test_valkey_storage_search.py
  lib/crewai/tests/memory/test_embedding_safety.py
  lib/crewai/tests/utilities/test_cache_config.py
Due: ruff, ruff-format, mypy

fix(types): resolve mypy 1.19.1 errors in valkey_storage
  lib/crewai/src/crewai/memory/storage/valkey_storage.py
Due: ruff, ruff-format, mypy

fix(valkey): post-filter metadata_filter instead of injecting into FT query
  lib/crewai/src/crewai/memory/storage/valkey_storage.py
  lib/crewai/tests/memory/storage/test_valkey_storage_search.py
Due: ruff, ruff-format, mypy

fix: async-safe embeddings and resilient drain_writes
  lib/crewai/src/crewai/memory/encoding_flow.py
  lib/crewai/src/crewai/memory/types.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/tests/memory/test_embedding_safety.py
Due: ruff, ruff-format, mypy

fix: harden memory tool input validation
  lib/crewai/src/crewai/tools/memory_tools.py
  lib/crewai/src/crewai/translations/en.json
  lib/crewai/tests/tools/test_memory_tools.py
  pyproject.toml
Due: ruff, ruff-format, mypy

feat(valkey): shared cache config + ValkeyCache for A2A and file uploads
  lib/crewai-files/src/crewai_files/cache/upload_cache.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/a2a/utils/agent_card.py
  lib/crewai/src/crewai/a2a/utils/task.py
  lib/crewai/src/crewai/memory/storage/valkey_cache.py
  lib/crewai/src/crewai/utilities/cache_config.py
  lib/crewai/tests/memory/storage/test_valkey_cache.py
  lib/crewai/tests/utilities/test_cache_config.py
  uv.lock
Due: ruff, ruff-format, mypy

Add client_name to GlideClientConfiguration
  lib/crewai/src/crewai/memory/storage/valkey_cache.py
Due: ruff, ruff-format, mypy

ci: welcome first-time contributors after merge
  .github/workflows/first-contributor-welcome.yml
Due: none

feat: add platform tools to JSON crew wizard (#7384)
  lib/cli/src/crewai_cli/create_json_crew.py
  lib/cli/src/crewai_cli/platform_tools_catalog.py
  lib/cli/src/crewai_cli/tui_picker.py
  lib/cli/tests/test_create_crew.py
  lib/crewai-tools/src/crewai_tools/tools/crewai_platform_tools/crewai_platform_tools.py
  lib/crewai-tools/tests/tools/crewai_platform_tools/test_crewai_platform_tools.py
  lib/crewai/src/crewai/project/json_loader.py
  lib/crewai/tests/project/test_json_loader.py
Due: ruff, ruff-format, mypy

fix: clarify platform integration validation
  lib/cli/src/crewai_cli/create_json_crew.py
Due: ruff, ruff-format, mypy

feat: validate platform integrations during crew setup
  lib/cli/src/crewai_cli/create_json_crew.py
Due: ruff, ruff-format, mypy

refactor: split platform authentication workflow
  lib/cli/src/crewai_cli/create_json_crew.py
Due: ruff, ruff-format, mypy

feat: list connected platform integrations
  lib/cli/src/crewai_cli/create_json_crew.py
Due: ruff, ruff-format, mypy

feat: validate platform integrations during crew setup (#7385)
  lib/cli/src/crewai_cli/create_json_crew.py
Due: ruff, ruff-format, mypy

ci: support fork contributor welcome comments
  .github/workflows/first-contributor-welcome.yml
Due: none

ci: minimize contributor welcome permissions
  .github/workflows/first-contributor-welcome.yml
Due: none

fix(tracing): address exporter safety and review coverage
  lib/crewai/src/crewai/tasks/llm_guardrail.py
  lib/crewai/src/crewai/telemetry/tracing/ephemeral.py
  lib/crewai/src/crewai/telemetry/tracing/grants.py
  lib/crewai/src/crewai/telemetry/tracing/session.py
  lib/crewai/tests/telemetry/test_execution_export.py
  lib/crewai/tests/telemetry/test_otel.py
Due: ruff, ruff-format, mypy

ci: welcome first-time contributors after merge (#7397)
  .github/workflows/first-contributor-welcome.yml
Due: none

fix(memory): preserve newest-first LanceDB pagination
  lib/crewai/src/crewai/memory/storage/lancedb_storage.py
  lib/crewai/tests/memory/test_lancedb_storage.py
Due: ruff, ruff-format, mypy

fix: use sys.platform guards so mypy passes on Windows
  lib/crewai/src/crewai/memory/storage/lancedb_storage.py
  lib/crewai/src/crewai/utilities/crew_chat.py
Due: ruff, ruff-format, mypy

docs: replace retired Anthropic model ids in the native-provider examples
  docs/edge/ar/concepts/knowledge.mdx
  docs/edge/ar/concepts/memory.mdx
  docs/edge/ar/guides/agents/crafting-effective-agents.mdx
  docs/edge/ar/learn/llm-selection-guide.mdx
  docs/edge/en/concepts/knowledge.mdx
  docs/edge/en/concepts/memory.mdx
  docs/edge/en/guides/agents/crafting-effective-agents.mdx
  docs/edge/en/learn/llm-selection-guide.mdx
  docs/edge/ko/concepts/knowledge.mdx
  docs/edge/ko/concepts/memory.mdx
  docs/edge/ko/guides/agents/crafting-effective-agents.mdx
  docs/edge/ko/learn/llm-selection-guide.mdx
  docs/edge/pt-BR/concepts/knowledge.mdx
  docs/edge/pt-BR/concepts/memory.mdx
  docs/edge/pt-BR/guides/agents/crafting-effective-agents.mdx
  docs/edge/pt-BR/learn/llm-selection-guide.mdx
Due: none

docs(tools): document the Velaris tool functions and refresh the version notes
  lib/crewai-tools/src/crewai_tools/tools/velaris_tool/velaris_tool.py
  lib/crewai-tools/tests/tools/test_velaris_tool.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy

chore(tools): raise the velaris-lang floor to 2.59.0 and relock
  lib/crewai-tools/pyproject.toml
  uv.lock
Due: none

test(tools): cover the subprocess fallback now the lock no longer reaches it
  lib/crewai-tools/tests/tools/test_velaris_tool.py
Due: ruff, ruff-format

docs: add Agent import to delegation example
  docs/docs.json
  docs/edge/en/guides/advanced/security-best-practices.mdx
Due: none

docs: expand security guide oversight examples
  docs/en/guides/advanced/security-best-practices.mdx
Due: none

docs: add security best practices guide for agents
  docs/docs.json
  docs/en/guides/advanced/security-best-practices.mdx
Due: none

ci: add cryptographic build provenance for release artifacts
  .github/workflows/publish.yml
Due: none

refactor: extract shared logic from sync/async native tool call methods
  lib/crewai/src/crewai/agents/crew_agent_executor.py
Due: ruff, ruff-format, mypy

fix: await async tools natively in _ainvoke_loop_native_tools
  lib/crewai/src/crewai/agents/crew_agent_executor.py
Due: ruff, ruff-format, mypy

ci(publish): grant contents write permission and pass github_token to notarization step
  .github/workflows/publish.yml
Due: none

feat: add Requesty as an OpenAI-compatible provider
  .env.test
  docs/edge/en/concepts/llms.mdx
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/openai_compatible/completion.py
  lib/crewai/tests/llms/openai_compatible/test_openai_compatible.py
Due: ruff, ruff-format, mypy

docs: fix code fence in Requesty provider example
  docs/edge/en/concepts/llms.mdx
Due: none

Address review: document REQUESTY_BASE_URL, drop undefined api_key variable, isolate base URL in test
  docs/edge/en/concepts/llms.mdx
  lib/crewai/tests/llms/openai_compatible/test_openai_compatible.py
  uv.lock
Due: ruff, ruff-format

fix(tools): support JSON checkpoint serialization for function tools
  lib/crewai/src/crewai/tools/base_tool.py
  lib/crewai/tests/tools/test_tool_checkpoint.py
Due: ruff, ruff-format, mypy

fix(tools): list OPENAI_API_KEY in mongodb vector search env metadata
  lib/crewai-tools/src/crewai_tools/tools/mongodb_vector_search_tool/vector_search.py
  lib/crewai-tools/tests/tools/test_mongodb_vector_search_tool.py
Due: ruff, ruff-format, mypy

fix(tools): honor api_key and project_id params in BrowserbaseLoadTool
  lib/crewai-tools/src/crewai_tools/tools/browserbase_load_tool/browserbase_load_tool.py
  lib/crewai-tools/tests/tools/test_browserbase_load_tool.py
Due: ruff, ruff-format, mypy

fix(memory): normalize tz-aware recall time filter to naive utc
  lib/crewai/src/crewai/memory/recall_flow.py
  lib/crewai/tests/memory/test_recall_flow.py
Due: ruff, ruff-format, mypy

fix(security): harden HMAC key storage validation and test isolation
  lib/crewai/src/crewai/utilities/file_handler.py
  lib/crewai/tests/utilities/test_agent_utils.py
  lib/crewai/tests/utilities/test_file_handler.py
Due: ruff, ruff-format, mypy
