Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

chore: remove demo script from PR scope
  examples/searchapi_tool_demo.py
Due: ruff, ruff-format, mypy

Document TrustedRouter LLM setup
  docs/v1.15.0/en/concepts/llms.mdx
Due: none

Support templated Flow action inputs (#6426)
  lib/cli/src/crewai_cli/templates/declarative_flow/AGENTS.md
  lib/crewai/src/crewai/flow/expressions.py
  lib/crewai/src/crewai/flow/flow_definition.py
  lib/crewai/src/crewai/flow/skill.py
  lib/crewai/src/crewai/flow/templates/flow_definition_example.yaml
  lib/crewai/src/crewai/flow/templates/flow_definition_skill.md.j2
  lib/crewai/tests/test_flow_definition.py
  lib/crewai/tests/test_flow_from_definition.py
Due: ruff, ruff-format, mypy

Allow repository-backed flow agents
  lib/cli/src/crewai_cli/templates/declarative_flow/AGENTS.md
  lib/crewai/src/crewai/flow/flow_definition.py
  lib/crewai/src/crewai/project/crew_definition.py
  lib/crewai/src/crewai/project/json_loader.py
  lib/crewai/tests/project/test_json_loader.py
  lib/crewai/tests/test_flow_definition.py
  lib/crewai/tests/test_flow_from_definition.py
Due: ruff, ruff-format, mypy

fix: re-validate interpolated output_file against untrusted inputs
  lib/crewai/src/crewai/task.py
  lib/crewai/tests/test_task.py
Due: ruff, ruff-format, mypy

test: prove guardrail hook can be unregistered
  lib/crewai/tests/hooks/test_guardrail_provider.py
Due: ruff, ruff-format

fix(tools): raise tool usage error for invalid arguments
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/tests/tools/test_tool_usage.py
Due: ruff, ruff-format, mypy

Add repository agents to flow definitions
  lib/cli/tests/test_plus_api.py
  lib/crewai-core/src/crewai_core/plus_api.py
  lib/crewai/src/crewai/project/crew_definition.py
  lib/crewai/src/crewai/project/json_loader.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/cli/test_plus_api.py
  lib/crewai/tests/test_flow_from_definition.py
Due: ruff, ruff-format, mypy

docs: add security best practices guide for agents
  docs/docs.json
  docs/en/guides/advanced/security-best-practices.mdx
Due: none

docs: add Agent import to delegation example
  docs/docs.json
  docs/edge/en/guides/advanced/security-best-practices.mdx
Due: none

docs: expand security guide oversight examples
  docs/en/guides/advanced/security-best-practices.mdx
Due: none

Document streamed tool call arguments
  docs/edge/en/concepts/streaming.mdx
  docs/edge/en/learn/consuming-streams.mdx
  docs/edge/en/learn/streaming-crew-execution.mdx
  docs/edge/en/learn/streaming-runtime-contract.mdx
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/src/crewai/events/utils/console_formatter.py
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/llms/openai/test_openai.py
  lib/crewai/tests/utilities/test_console_formatter_pause_resume.py
  scripts/stream_tool_call_runner.py
Due: ruff, ruff-format, mypy

Remove local stream tool call runner
  scripts/stream_tool_call_runner.py
Due: ruff, ruff-format, mypy

Add repository agents to flow definitions
  lib/cli/tests/test_plus_api.py
  lib/crewai-core/src/crewai_core/plus_api.py
  lib/crewai/src/crewai/flow/runtime/_actions.py
  lib/crewai/src/crewai/project/crew_definition.py
  lib/crewai/src/crewai/project/json_loader.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/agents/test_agent.py
  lib/crewai/tests/cli/test_plus_api.py
  lib/crewai/tests/project/test_json_loader.py
  lib/crewai/tests/test_flow_from_definition.py
Due: ruff, ruff-format, mypy

fix: improve error handling in config parsing, callbacks, and async execution
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/task.py
Due: ruff, ruff-format, mypy

adjusrt test
  lib/crewai/tests/llms/openai/test_openai.py
Due: ruff, ruff-format

Add repository agents to flow definitions (#6437)
  lib/cli/tests/test_plus_api.py
  lib/crewai-core/src/crewai_core/plus_api.py
  lib/crewai/src/crewai/flow/runtime/_actions.py
  lib/crewai/src/crewai/project/crew_definition.py
  lib/crewai/src/crewai/project/json_loader.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/agents/test_agent.py
  lib/crewai/tests/cli/test_plus_api.py
  lib/crewai/tests/project/test_json_loader.py
  lib/crewai/tests/test_flow_from_definition.py
Due: ruff, ruff-format, mypy

chore: drop AGE-90 manual dev runner script
  scripts/age90_file_input_runner.py
Due: ruff, ruff-format, mypy

fix(crewai-tools): use defusedxml in RAG XMLLoader to prevent XXE
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/rag/loaders/xml_loader.py
  lib/crewai-tools/tests/rag/test_xml_loader_security.py
Due: ruff, ruff-format, mypy

fix(agents): substitute prompt placeholders in a single pass
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/tests/agents/test_agent_executor.py
Due: ruff, ruff-format, mypy

feat(crewai-tools): add ChronoVerify image verification tool
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/chronoverify_image_verification_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/chronoverify_image_verification_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/chronoverify_image_verification_tool/chronoverify_image_verification_tool.py
  lib/crewai-tools/tests/tools/chronoverify_image_verification_tool_test.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy

fix(crewai-tools): contain defusedxml exceptions at loader boundary
  lib/crewai-tools/src/crewai_tools/rag/loaders/xml_loader.py
  lib/crewai-tools/tests/rag/test_xml_loader_security.py
Due: ruff, ruff-format, mypy

fix(crewai-tools): always parse XML content as string in _parse_xml
  lib/crewai-tools/src/crewai_tools/rag/loaders/xml_loader.py
  lib/crewai-tools/tests/rag/test_xml_loader_security.py
Due: ruff, ruff-format, mypy

fix(tools): raise ToolUsageError instead of bare raise in _original_tool_calling
  lib/crewai/src/crewai/tools/tool_usage.py
Due: ruff, ruff-format, mypy

test(tools): cover _original_tool_calling non-dict error path
  lib/crewai/tests/tools/test_tool_usage.py
Due: ruff, ruff-format

ci: whitelist nltk PYSEC-2026-597 in pip-audit (no fix available)
  .github/workflows/vulnerability-scan.yml
Due: none

fix: percent-encode path/query params with safe="" (CodeRabbit review)
  lib/crewai-tools/src/crewai_tools/tools/agent_guild_tool/agent_guild_tool.py
Due: ruff, ruff-format, mypy

fix(agents): recover real tool call from fabricated Observation continuations
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/utilities/test_agent_utils.py
Due: ruff, ruff-format, mypy

test(streaming): cover Crew stream_frames frame streaming
  lib/crewai/tests/test_streaming.py
Due: ruff, ruff-format

feat(crew): add stream_frames opt-in for full event frame streaming
  lib/crewai/src/crewai/crew.py
Due: ruff, ruff-format, mypy

refactor(agents): anchor fabricated-Observation trim on the stop sequence
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/utilities/test_agent_utils.py
Due: ruff, ruff-format, mypy

test(mcp): cover SemanticToolFilter
  lib/crewai/tests/mcp/test_semantic_tool_filter.py
Due: ruff, ruff-format

feat(mcp): add SemanticToolFilter for embedding-based tool filtering
  lib/crewai/src/crewai/mcp/__init__.py
  lib/crewai/src/crewai/mcp/filters.py
Due: ruff, ruff-format, mypy

feat(crewai-tools): add X402PaymentTool for x402 micropayment support
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/x402_payment_tool/__init__.py
Due: ruff, ruff-format, mypy

fix: address CodeRabbitAI review comments
  lib/crewai-tools/src/crewai_tools/tools/x402_payment_tool/__init__.py
Due: ruff, ruff-format, mypy

fix: raise ToolUsageError instead of bare raise on non-dict arguments
  lib/crewai/src/crewai/tools/tool_usage.py
Due: ruff, ruff-format, mypy

test: cover non-dict arguments path in _original_tool_calling
  lib/crewai/tests/tools/test_tool_usage.py
Due: ruff, ruff-format

test: cover async task context from prior task outputs
  lib/crewai/tests/crew/test_async_crew.py
Due: ruff, ruff-format

fix: pass full task outputs as context to async tasks
  lib/crewai/src/crewai/crew.py
Due: ruff, ruff-format, mypy
