Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock

Potential fix for pull request finding 'Unused local variable'
  lib/crewai/tests/hooks/test_tool_hooks.py
Due: ruff, ruff-format

fix: resolve Gemini tool calling using stale text content
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/utilities/types.py
Due: ruff, ruff-format, mypy

fix: resolve type errors in agent executor
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/hooks/llm_hooks.py
  lib/crewai/src/crewai/utilities/agent_utils.py
Due: ruff, ruff-format, mypy

refactor: extract pydantic schema utils from platform tools
  lib/crewai-tools/src/crewai_tools/tools/crewai_platform_tools/crewai_platform_action_tool.py
  lib/crewai-tools/src/crewai_tools/tools/crewai_platform_tools/crewai_platform_tool_builder.py
  lib/crewai/src/crewai/utilities/pydantic_schema_utils.py
Due: ruff, ruff-format, mypy

test: add integration test for before hook blocking tool execution in Crew
  lib/crewai/tests/hooks/test_tool_hooks.py
Due: ruff, ruff-format

chore: update test assumption
  lib/crewai-tools/tests/tools/crewai_platform_tools/test_crewai_platform_action_tool.py
Due: ruff, ruff-format

fix: skip signal handler registration in non-main thread
  lib/crewai/src/crewai/telemetry/telemetry.py
  lib/crewai/tests/telemetry/test_telemetry.py
Due: ruff, ruff-format, mypy

fix: properly serialize schemas
  lib/crewai-tools/tests/tools/crewai_platform_tools/test_crewai_platform_tool_builder.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/src/crewai/llms/providers/utils/common.py
  lib/crewai/src/crewai/utilities/agent_utils.py
Due: ruff, ruff-format, mypy

fix: ensure separate structure for responses
  lib/crewai/src/crewai/llms/providers/openai/completion.py
Due: ruff, ruff-format, mypy

fix: ensure list identity
  lib/crewai-tools/src/crewai_tools/tools/crewai_platform_tools/crewai_platform_tool_builder.py
Due: ruff, ruff-format, mypy

fix: key ref in gemini
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
Due: ruff, ruff-format, mypy

fix: correct tool-calling content handling and schema serialization
  lib/crewai-tools/src/crewai_tools/tools/crewai_platform_tools/crewai_platform_action_tool.py
  lib/crewai-tools/src/crewai_tools/tools/crewai_platform_tools/crewai_platform_tool_builder.py
  lib/crewai-tools/tests/tools/crewai_platform_tools/test_crewai_platform_action_tool.py
  lib/crewai-tools/tests/tools/crewai_platform_tools/test_crewai_platform_tool_builder.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/hooks/llm_hooks.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/src/crewai/llms/providers/utils/common.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/src/crewai/utilities/pydantic_schema_utils.py
  lib/crewai/src/crewai/utilities/types.py
Due: ruff, ruff-format, mypy

drop unused
  lib/crewai/tests/hooks/test_tool_hooks.py
Due: ruff, ruff-format

refactor: update event type definitions to use Literal for type safety
  lib/crewai/src/crewai/events/event_types.py
  lib/crewai/src/crewai/events/types/a2a_events.py
  lib/crewai/src/crewai/events/types/agent_events.py
  lib/crewai/src/crewai/events/types/crew_events.py
  lib/crewai/src/crewai/events/types/flow_events.py
  lib/crewai/src/crewai/events/types/knowledge_events.py
  lib/crewai/src/crewai/events/types/llm_events.py
  lib/crewai/src/crewai/events/types/llm_guardrail_events.py
  lib/crewai/src/crewai/events/types/logging_events.py
  lib/crewai/src/crewai/events/types/mcp_events.py
  lib/crewai/src/crewai/events/types/memory_events.py
  lib/crewai/src/crewai/events/types/reasoning_events.py
  lib/crewai/src/crewai/events/types/task_events.py
  lib/crewai/src/crewai/events/types/tool_usage_events.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/flow/human_feedback.py
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/rag/chromadb/types.py
  lib/crewai/src/crewai/rag/chromadb/utils.py
  lib/crewai/src/crewai/rag/embeddings/types.py
  lib/crewai/src/crewai/rag/types.py
  lib/crewai/src/crewai/tools/structured_tool.py
  lib/crewai/src/crewai/utilities/agent_utils.py
Due: ruff, ruff-format, mypy

fix missing import
  lib/crewai/src/crewai/flow/flow.py
Due: ruff, ruff-format, mypy

refactor(tests): remove OPENAI_API_KEY check from tool hook tests
  lib/crewai/tests/hooks/test_tool_hooks.py
Due: ruff, ruff-format

feat: implement before and after tool call hooks in CrewAgentExecutor… (#4287)
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/tests/cassettes/hooks/TestNativeToolCallingHooksIntegration.test_agent_native_tool_hooks_before_and_after.yaml
  lib/crewai/tests/cassettes/hooks/TestNativeToolCallingHooksIntegration.test_before_hook_blocks_tool_execution_in_crew.yaml
  lib/crewai/tests/cassettes/hooks/TestNativeToolCallingHooksIntegration.test_crew_native_tool_hooks_before_and_after.yaml
  lib/crewai/tests/hooks/test_tool_hooks.py
Due: ruff, ruff-format, mypy

chore: update version to 1.9.1
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

fix: ensure verbosity flag is applied
  lib/crewai/src/crewai/agents/agent_builder/base_agent_executor_mixin.py
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/flow/persistence/decorators.py
  lib/crewai/src/crewai/flow/utils.py
  lib/crewai/src/crewai/lite_agent.py
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/src/crewai/memory/storage/ltm_sqlite_storage.py
  lib/crewai/src/crewai/rag/embeddings/providers/ibm/embedding_callable.py
  lib/crewai/src/crewai/task.py
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/src/crewai/utilities/converter.py
  lib/crewai/tests/agents/test_lite_agent.py
Due: ruff, ruff-format, mypy

chore: update test assumption
  lib/crewai/tests/test_crew.py
Due: ruff, ruff-format

fix: use response_json_schema
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
Due: ruff, ruff-format, mypy

Exporting tool's metadata to AMP - initial work
  lib/crewai/src/crewai/cli/plus_api.py
  lib/crewai/src/crewai/cli/tools/main.py
  lib/crewai/src/crewai/cli/utils.py
  lib/crewai/tests/cli/test_plus_api.py
  lib/crewai/tests/cli/test_utils.py
  lib/crewai/tests/cli/tools/test_main.py
Due: ruff, ruff-format, mypy

Fix payload (nest under `tools` key)
  lib/crewai/src/crewai/cli/plus_api.py
  lib/crewai/tests/cli/test_plus_api.py
Due: ruff, ruff-format, mypy

fix: ensure verbosity flag is applied
  lib/crewai/src/crewai/agents/agent_builder/base_agent_executor_mixin.py
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/flow/persistence/decorators.py
  lib/crewai/src/crewai/flow/utils.py
  lib/crewai/src/crewai/lite_agent.py
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/src/crewai/memory/storage/ltm_sqlite_storage.py
  lib/crewai/src/crewai/rag/embeddings/providers/ibm/embedding_callable.py
  lib/crewai/src/crewai/task.py
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/src/crewai/utilities/converter.py
  lib/crewai/tests/agents/test_lite_agent.py
  lib/crewai/tests/test_crew.py
Due: ruff, ruff-format, mypy

fix: add Gemini 2.0 schema support with propertyOrdering
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/tests/llms/google/test_google.py
Due: ruff, ruff-format, mypy

fix: return pydatnic models for structured llm outputs
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/src/crewai/utilities/converter.py
  lib/crewai/tests/llms/openai/test_openai.py
Due: ruff, ruff-format, mypy

chore: refactor handling of original_json in agent_utils
  lib/crewai/src/crewai/utilities/agent_utils.py
Due: ruff, ruff-format, mypy

chore: update test assumption
  lib/crewai/tests/llms/anthropic/test_anthropic_async.py
Due: ruff, ruff-format

review fix
  lib/crewai/src/crewai/memory/storage/mem0_storage.py
Due: ruff, ruff-format, mypy

fix: support BaseModel output in AgentFinish and executor
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/agents/parser.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
Due: ruff, ruff-format, mypy

test refactor for per review
  lib/crewai/tests/storage/test_mem0_storage.py
Due: ruff, ruff-format

fix: improve structured output handling across providers and agents
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/agents/parser.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/src/crewai/utilities/converter.py
  lib/crewai/tests/llms/anthropic/test_anthropic_async.py
  lib/crewai/tests/llms/google/test_google.py
  lib/crewai/tests/llms/openai/test_openai.py
Due: ruff, ruff-format, mypy

Remove debug message + code simplification
  lib/crewai/src/crewai/cli/tools/main.py
  lib/crewai/src/crewai/cli/utils.py
Due: ruff, ruff-format, mypy

no need post tool reflection on native tools
  lib/crewai/src/crewai/experimental/agent_executor.py
Due: ruff, ruff-format, mypy

Priting out detected tools
  lib/crewai/src/crewai/cli/tools/main.py
  lib/crewai/tests/cli/tools/test_main.py
Due: ruff, ruff-format, mypy

refactor: update prompt generation to prevent thought leakage
  lib/crewai/src/crewai/translations/en.json
  lib/crewai/src/crewai/utilities/prompts.py
  lib/crewai/tests/utilities/test_prompts_no_thought_leakage.py
Due: ruff, ruff-format, mypy

dont forget the cassettes
  lib/crewai/tests/cassettes/utilities/TestRealLLMNoThoughtLeakage.test_agent_without_tools_no_thought_in_output.yaml
  lib/crewai/tests/cassettes/utilities/TestRealLLMNoThoughtLeakage.test_simple_task_clean_output.yaml
Due: none

Extract module name
  lib/crewai/src/crewai/cli/plus_api.py
  lib/crewai/src/crewai/cli/tools/main.py
  lib/crewai/src/crewai/cli/utils.py
  lib/crewai/tests/cli/test_plus_api.py
Due: ruff, ruff-format, mypy
