Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

fix: ensure parameters in RagTool.add, add typing, tests
  lib/crewai-tools/src/crewai_tools/adapters/crewai_rag_adapter.py
  lib/crewai-tools/src/crewai_tools/rag/data_types.py
  lib/crewai-tools/src/crewai_tools/tools/rag/rag_tool.py
  lib/crewai-tools/src/crewai_tools/tools/rag/types.py
  lib/crewai-tools/tests/tools/rag/test_rag_tool_add_data_type.py
Due: ruff, ruff-format, mypy

feat: substitute pymupdf for pypdf, better parsing performance
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/adapters/crewai_rag_adapter.py
  lib/crewai-tools/src/crewai_tools/rag/loaders/pdf_loader.py
  uv.lock
Due: ruff, ruff-format, mypy

fix: remove invalid param from sse client
  lib/crewai/src/crewai/mcp/transports/sse.py
  lib/crewai/tests/mcp/test_sse_transport.py
Due: ruff, ruff-format, mypy

fix: remove invalid param from sse client (#3980)
  lib/crewai/src/crewai/mcp/transports/sse.py
  lib/crewai/tests/mcp/test_sse_transport.py
Due: ruff, ruff-format, mypy

wip llm.call hooks work - needs tests for this
  lib/crewai/src/crewai/hooks/llm_hooks.py
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/cassettes/TestLLMHooksIntegration.test_direct_llm_call_hooks_integration.yaml
  lib/crewai/tests/hooks/test_llm_hooks.py
Due: ruff, ruff-format, mypy

fix: ensure parameters in RagTool.add, add typing, tests (#3979)
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/adapters/crewai_rag_adapter.py
  lib/crewai-tools/src/crewai_tools/rag/data_types.py
  lib/crewai-tools/src/crewai_tools/rag/loaders/pdf_loader.py
  lib/crewai-tools/src/crewai_tools/tools/rag/rag_tool.py
  lib/crewai-tools/src/crewai_tools/tools/rag/types.py
  lib/crewai-tools/tests/tools/rag/test_rag_tool_add_data_type.py
  uv.lock
Due: ruff, ruff-format, mypy

fix: emit tool call events in provider-specific LLM streaming implementations
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/test_streaming.py
Due: ruff, ruff-format, mypy

fix: convert local file paths to base64 in AddImageTool for Anthropic compatibility
  lib/crewai/src/crewai/tools/agent_tools/add_image_tool.py
  lib/crewai/tests/tools/agent_tools/test_add_image_tool.py
Due: ruff, ruff-format, mypy

fix: Azure API json_schema response_format not supported (#3986)
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/src/crewai/utilities/converter.py
  lib/crewai/tests/utilities/test_converter.py
Due: ruff, ruff-format, mypy

fix: add async method validation to crew decorators
  lib/crewai/src/crewai/project/annotations.py
  lib/crewai/tests/project/test_async_decorator_validation.py
Due: ruff, ruff-format, mypy

speed up cli commands and startup times
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/cli.py
Due: ruff, ruff-format, mypy

chore: update pytest ini; move conftest to root
  conftest.py
  env.test
  lib/crewai-tools/tests/it/tools/__init__.py
  lib/crewai-tools/tests/it/tools/conftest.py
  lib/crewai/tests/conftest.py
  pyproject.toml
Due: ruff, ruff-format, mypy

chore: remove env from tests.yaml in favor of env.test
  .github/workflows/tests.yml
Due: none

chore: replace decorator refs to ensure conftest takes precedence
  lib/crewai-tools/tests/tools/firecrawl_crawl_website_tool_test.py
  lib/crewai-tools/tests/tools/firecrawl_scrape_website_tool_test.py
  lib/crewai-tools/tests/tools/firecrawl_search_tool_test.py
  lib/crewai/tests/agents/test_agent.py
  lib/crewai/tests/agents/test_lite_agent.py
  lib/crewai/tests/experimental/evaluation/test_agent_evaluator.py
  lib/crewai/tests/knowledge/test_knowledge.py
  lib/crewai/tests/llms/hooks/test_openai_interceptor.py
  lib/crewai/tests/llms/openai/test_openai.py
  lib/crewai/tests/memory/test_external_memory.py
  lib/crewai/tests/telemetry/test_telemetry.py
  lib/crewai/tests/test_crew.py
  lib/crewai/tests/test_custom_llm.py
  lib/crewai/tests/test_llm.py
  lib/crewai/tests/test_project.py
  lib/crewai/tests/test_streaming_integration.py
  lib/crewai/tests/test_task.py
  lib/crewai/tests/test_task_guardrails.py
  lib/crewai/tests/tools/agent_tools/test_agent_tools.py
  lib/crewai/tests/tools/test_base_tool.py
  lib/crewai/tests/tools/test_structured_tool.py
  lib/crewai/tests/tracing/test_trace_enable_disable.py
  lib/crewai/tests/tracing/test_tracing.py
  lib/crewai/tests/utilities/test_converter.py
  lib/crewai/tests/utilities/test_events.py
Due: ruff, ruff-format

chore: move cassettes to places conftest expects
  lib/crewai/tests/cassettes/experimental/evaluation/TestAgentEvaluator.test_eval_lite_agent.yaml
  lib/crewai/tests/cassettes/experimental/evaluation/TestAgentEvaluator.test_eval_specific_agents_from_crew.yaml
  lib/crewai/tests/cassettes/experimental/evaluation/TestAgentEvaluator.test_evaluate_current_iteration.yaml
  lib/crewai/tests/cassettes/experimental/evaluation/TestAgentEvaluator.test_failed_evaluation.yaml
  lib/crewai/tests/cassettes/llms/anthropic/TestAnthropicHeaderInterceptor.test_header_interceptor_with_real_call.yaml
  lib/crewai/tests/cassettes/llms/anthropic/TestAnthropicInterceptorIntegration.test_anthropic_call_with_interceptor_tracks_requests.yaml
  lib/crewai/tests/cassettes/llms/anthropic/TestAnthropicLoggingInterceptor.test_logging_interceptor_tracks_details.yaml
  lib/crewai/tests/cassettes/llms/openai/TestOpenAIAuthInterceptor.test_auth_interceptor_with_real_call.yaml
  lib/crewai/tests/cassettes/llms/openai/TestOpenAIInterceptorIntegration.test_openai_call_with_interceptor_tracks_requests.yaml
  lib/crewai/tests/cassettes/llms/openai/TestOpenAILoggingInterceptor.test_logging_interceptor_tracks_details.yaml
  lib/crewai/tests/cassettes/tools/test_async_tool_using_decorator_within_flow.yaml
  lib/crewai/tests/cassettes/tools/test_async_tool_using_decorator_within_isolated_crew.yaml
  lib/crewai/tests/cassettes/tools/test_async_tool_using_within_isolated_crew.yaml
  lib/crewai/tests/cassettes/tools/test_async_tool_within_flow.yaml
  lib/crewai/tests/cassettes/tracing/TestTraceEnableDisable.test_no_http_calls_when_disabled_via_env.yaml
  lib/crewai/tests/cassettes/tracing/TestTraceEnableDisable.test_no_http_calls_when_disabled_via_tracing_false.yaml
  lib/crewai/tests/cassettes/tracing/TestTraceEnableDisable.test_trace_calls_when_enabled_via_env.yaml
  lib/crewai/tests/cassettes/tracing/TestTraceEnableDisable.test_trace_calls_when_enabled_via_tracing_true.yaml
  lib/crewai/tests/cassettes/tracing/TestTraceListenerSetup.test_batch_manager_finalizes_batch_clears_buffer.yaml
  lib/crewai/tests/cassettes/tracing/TestTraceListenerSetup.test_events_collection_batch_manager.yaml
  lib/crewai/tests/cassettes/tracing/TestTraceListenerSetup.test_first_time_user_trace_collection_user_accepts.yaml
  lib/crewai/tests/cassettes/tracing/TestTraceListenerSetup.test_first_time_user_trace_collection_with_timeout.yaml
  lib/crewai/tests/cassettes/tracing/TestTraceListenerSetup.test_first_time_user_trace_consolidation_logic.yaml
  lib/crewai/tests/cassettes/tracing/TestTraceListenerSetup.test_trace_batch_marked_as_failed_on_finalize_error.yaml
  lib/crewai/tests/cassettes/tracing/TestTraceListenerSetup.test_trace_listener_collects_crew_events.yaml
  lib/crewai/tests/cassettes/tracing/TestTraceListenerSetup.test_trace_listener_disabled_when_env_false.yaml
  lib/crewai/tests/cassettes/tracing/TestTraceListenerSetup.test_trace_listener_ephemeral_batch.yaml
  lib/crewai/tests/cassettes/tracing/TestTraceListenerSetup.test_trace_listener_setup_correctly_with_tracing_flag.yaml
  lib/crewai/tests/cassettes/tracing/TestTraceListenerSetup.test_trace_listener_with_authenticated_user.yaml
Due: none

refactor: enhance model validation and provider inference in LLM class (#3976)
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/constants.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

fix: rename .env.test to correct name
  .env.test
Due: none

fix: ensure storage cleanup in conftest
  conftest.py
Due: ruff, ruff-format, mypy

fix: remove env var OPENAI_MODEL_NAME TO STOP embedding override:
  .env.test
Due: none

chore: remove CREWAI_PLATFORM_INTEGRATION_TOKEN to stop test failures
  .env.test
Due: none

chore: move additional cassettes, pop more env vars in conftest
  conftest.py
  lib/crewai/tests/cassettes/agents/test_first_task_auto_inject_trigger.yaml
  lib/crewai/tests/cassettes/agents/test_guardrail_emits_events.yaml
  lib/crewai/tests/cassettes/agents/test_guardrail_is_called_using_callable.yaml
  lib/crewai/tests/cassettes/agents/test_guardrail_is_called_using_string.yaml
  lib/crewai/tests/cassettes/agents/test_guardrail_reached_attempt_limit.yaml
  lib/crewai/tests/cassettes/agents/test_guardrail_when_an_error_occurs.yaml
  lib/crewai/tests/cassettes/agents/test_inject_date.yaml
  lib/crewai/tests/cassettes/agents/test_inject_date_custom_format.yaml
  lib/crewai/tests/cassettes/agents/test_lite_agent_created_with_correct_parameters[False].yaml
  lib/crewai/tests/cassettes/agents/test_lite_agent_created_with_correct_parameters[True].yaml
  lib/crewai/tests/cassettes/agents/test_lite_agent_output_includes_messages.yaml
  lib/crewai/tests/cassettes/agents/test_lite_agent_returns_usage_metrics.yaml
  lib/crewai/tests/cassettes/agents/test_lite_agent_returns_usage_metrics_async.yaml
  lib/crewai/tests/cassettes/agents/test_lite_agent_structured_output.yaml
  lib/crewai/tests/cassettes/agents/test_lite_agent_with_tools.yaml
  lib/crewai/tests/cassettes/agents/test_no_inject_date.yaml
  lib/crewai/tests/cassettes/knowledge/test_docling_source.yaml
  lib/crewai/tests/cassettes/knowledge/test_multiple_docling_sources.yaml
  lib/crewai/tests/cassettes/llms/anthropic/test_anthropic_stop_sequences_sent_to_api.yaml
  lib/crewai/tests/cassettes/llms/hooks/TestAnthropicHeaderInterceptor.test_header_interceptor_with_real_call.yaml
  lib/crewai/tests/cassettes/llms/hooks/TestAnthropicInterceptorIntegration.test_anthropic_call_with_interceptor_tracks_requests.yaml
  lib/crewai/tests/cassettes/llms/hooks/TestAnthropicLoggingInterceptor.test_logging_interceptor_tracks_details.yaml
  lib/crewai/tests/cassettes/llms/hooks/TestOpenAIAuthInterceptor.test_auth_interceptor_with_real_call.yaml
  lib/crewai/tests/cassettes/llms/hooks/TestOpenAIInterceptorIntegration.test_openai_call_with_interceptor_tracks_requests.yaml
  lib/crewai/tests/cassettes/llms/hooks/TestOpenAILoggingInterceptor.test_logging_interceptor_tracks_details.yaml
  lib/crewai/tests/cassettes/llms/openai/test_openai_completion_call.yaml
  lib/crewai/tests/cassettes/llms/openai/test_openai_completion_call_returns_usage_metrics.yaml
  lib/crewai/tests/cassettes/llms/openai/test_openai_is_default_provider_without_explicit_llm_set_on_agent.yaml
  lib/crewai/tests/cassettes/llms/openai/test_openai_response_format_none.yaml
  lib/crewai/tests/cassettes/llms/openai/test_openai_response_format_with_dict.yaml
  lib/crewai/tests/cassettes/llms/openai/test_openai_response_format_with_pydantic_model.yaml
  lib/crewai/tests/cassettes/telemetry/test_telemetry_fails_due_connect_timeout.yaml
  lib/crewai/tests/cassettes/tools/test_max_usage_count_is_respected.yaml
  lib/crewai/tests/utilities/test_events.py
Due: ruff, ruff-format, mypy

chore: remove additional vcr configs from files
  conftest.py
  lib/crewai/tests/tools/agent_tools/test_agent_tools.py
  lib/crewai/tests/utilities/test_converter.py
  lib/crewai/tests/utilities/test_events.py
Due: ruff, ruff-format, mypy

chore: fix request type in conftest
  conftest.py
Due: ruff, ruff-format, mypy

fix: enable telemetry in test_telemetry_fails_due_connect_timeout
  lib/crewai/tests/telemetry/test_telemetry.py
Due: ruff, ruff-format

chore: move agent cassettes to agents subdirectory
  lib/crewai/tests/cassettes/agents/test_get_knowledge_search_query.yaml
  lib/crewai/tests/cassettes/agents/test_llm_call.yaml
  lib/crewai/tests/cassettes/agents/test_llm_call_with_ollama_llama3.yaml
Due: none

fix: use threading.Condition in test_tool_validate_input_error_event for better synchronization
  lib/crewai/tests/cassettes/agents/test_cache_hitting.yaml
  lib/crewai/tests/cassettes/agents/test_handle_context_length_exceeds_limit_cli_no.yaml
  lib/crewai/tests/cassettes/agents/test_task_allow_crewai_trigger_context.yaml
  lib/crewai/tests/tools/test_tool_usage.py
Due: ruff, ruff-format

chore: move guardrail cassettes to root cassettes directory
  lib/crewai/tests/cassettes/test_guardrail_emits_events.yaml
  lib/crewai/tests/cassettes/test_guardrail_when_an_error_occurs.yaml
Due: none

fix: use threading.Condition for event bus test synchronization
  lib/crewai/tests/utilities/events/test_crewai_event_bus.py
Due: ruff, ruff-format

fix: wait for AgentEvaluationCompletedEvent instead of TaskCompletedEvent in test_evaluate_current_iteration
  lib/crewai/tests/experimental/evaluation/test_agent_evaluator.py
Due: ruff, ruff-format

feat: bump versions to 1.6.1
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

fix: ensure async methods ar executable for annotations
  lib/crewai/src/crewai/project/annotations.py
  lib/crewai/src/crewai/project/utils.py
  lib/crewai/src/crewai/project/wrappers.py
Due: ruff, ruff-format, mypy

chore: update crewAI dependency version to 1.6.1 in project templates
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
Due: none

fix: ensure partials are called
  lib/crewai/src/crewai/project/wrappers.py
  lib/crewai/tests/test_project.py
Due: ruff, ruff-format, mypy

fix: ensure async methods are executable for annotations
  lib/crewai/src/crewai/project/annotations.py
  lib/crewai/src/crewai/project/utils.py
  lib/crewai/src/crewai/project/wrappers.py
  lib/crewai/tests/test_project.py
Due: ruff, ruff-format, mypy

fix: ensure additionalProperties is recursive
  lib/crewai/src/crewai/llms/providers/azure/completion.py
Due: ruff, ruff-format, mypy

Fixing ChatCompletionsClinet call (#3910)
  lib/crewai/src/crewai/llms/providers/azure/completion.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.6.1 (#3993)
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

chore: move hierarchical process cassette to root cassettes directory
  .env.test
  lib/crewai-tools/tests/cassettes/tools/test_csv_search_tool.yaml
  lib/crewai-tools/tests/cassettes/tools/test_directory_search_tool.yaml
  lib/crewai-tools/tests/cassettes/tools/test_json_search_tool.yaml
  lib/crewai-tools/tests/cassettes/tools/test_mdx_search_tool.yaml
  lib/crewai-tools/tests/cassettes/tools/test_txt_search_tool.yaml
  lib/crewai/tests/cassettes/agents/test_disabling_cache_for_agent.yaml
  lib/crewai/tests/cassettes/agents/test_do_not_allow_crewai_trigger_context_for_first_task_hierarchical.yaml
  lib/crewai/tests/cassettes/agents/test_ensure_first_task_allow_crewai_trigger_context_is_false_does_not_inject.yaml
  lib/crewai/tests/cassettes/agents/test_llm_call_with_all_attributes.yaml
  lib/crewai/tests/cassettes/agents/test_logging_tool_usage.yaml
  lib/crewai/tests/cassettes/agents/test_task_allow_crewai_trigger_context_no_payload.yaml
  lib/crewai/tests/cassettes/agents/test_task_without_allow_crewai_trigger_context.yaml
  lib/crewai/tests/cassettes/agents/test_tool_result_as_answer_is_the_final_answer_for_the_agent.yaml
  lib/crewai/tests/cassettes/agents/test_tool_usage_information_is_appended_to_agent.yaml
  lib/crewai/tests/cassettes/test_agent_usage_metrics_are_captured_for_hierarchical_process.yaml
  lib/crewai/tests/cassettes/test_inject_date.yaml
  lib/crewai/tests/cassettes/test_inject_date_custom_format.yaml
  lib/crewai/tests/cassettes/test_no_inject_date.yaml
  lib/crewai/tests/cassettes/test_task_allow_crewai_trigger_context_no_payload.yaml
  lib/crewai/tests/memory/test_short_term_memory.py
  lib/crewai/tests/test_crew.py
  lib/crewai/tests/test_task_guardrails.py
  lib/crewai/tests/tracing/test_tracing.py
  lib/crewai/tests/utilities/events/test_async_event_bus.py
  lib/crewai/tests/utilities/events/test_shutdown.py
Due: ruff, ruff-format

fix: ensure trace batches finalize
  lib/crewai/src/crewai/events/listeners/tracing/trace_batch_manager.py
  lib/crewai/tests/cassettes/memory/test_crew_external_memory_save.yaml
  lib/crewai/tests/cassettes/memory/test_crew_external_memory_save_using_crew_without_memory_flag[save].yaml
  lib/crewai/tests/cassettes/memory/test_crew_external_memory_save_using_crew_without_memory_flag[search].yaml
  lib/crewai/tests/cassettes/memory/test_crew_external_memory_save_with_memory_flag[save].yaml
  lib/crewai/tests/cassettes/memory/test_crew_external_memory_save_with_memory_flag[search].yaml
  lib/crewai/tests/cassettes/memory/test_crew_external_memory_search.yaml
  lib/crewai/tests/cassettes/tracing/TestTraceListenerSetup.test_trace_listener_ephemeral_batch.yaml
  lib/crewai/tests/memory/test_long_term_memory.py
  lib/crewai/tests/tracing/test_tracing.py
  lib/crewai/tests/utilities/events/test_shutdown.py
  lib/crewai/tests/utilities/test_events.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/)
