Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

Datacircle: Up2Data's price is now $2.375 per 1,000 profiles
  docs/edge/ar/tools/search-research/datacircle.mdx
Due: none

Datacircle: Up2Data's price is now $2.375 per 1,000 profiles
  docs/edge/en/tools/search-research/datacircle.mdx
Due: none

Datacircle: Up2Data's price is now $2.375 per 1,000 profiles
  docs/edge/ko/tools/search-research/datacircle.mdx
Due: none

Datacircle: Up2Data's price is now $2.375 per 1,000 profiles
  docs/edge/pt-BR/tools/search-research/datacircle.mdx
Due: none

docs(tests): explain converter retry regression contracts
  lib/crewai/tests/utilities/test_converter_retry_validation.py
Due: ruff, ruff-format

fix(rag): decode local json files with utf-8 bom
  lib/crewai-tools/src/crewai_tools/rag/loaders/json_loader.py
  lib/crewai-tools/tests/rag/test_json_loader_bom.py
Due: ruff, ruff-format, mypy

fix(converter): attach agent context and restore bounded fallback on validation failure
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agents/agent_builder/utilities/base_output_converter.py
  lib/crewai/src/crewai/utilities/converter.py
  lib/crewai/tests/utilities/test_converter.py
Due: ruff, ruff-format, mypy

Datacircle: Fetchin is now our third live LinkedIn profile API
  docs/edge/ar/tools/search-research/datacircle.mdx
  docs/edge/en/tools/search-research/datacircle.mdx
  docs/edge/ko/tools/search-research/datacircle.mdx
  docs/edge/pt-BR/tools/search-research/datacircle.mdx
Due: none

feat: Together AI native OpenAI-compatible routing (#8011)
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/openai_compatible/completion.py
  lib/crewai/tests/llms/openai_compatible/test_openai_compatible.py
Due: ruff, ruff-format, mypy

test: isolate default-URL test from TOGETHER_BASE_URL env
  lib/crewai/tests/llms/openai_compatible/test_openai_compatible.py
Due: ruff, ruff-format

docs(datacircle): drop the invite link tool and the lead example
  docs/edge/ar/tools/search-research/datacircle.mdx
  docs/edge/en/tools/search-research/datacircle.mdx
  docs/edge/ko/tools/search-research/datacircle.mdx
  docs/edge/pt-BR/tools/search-research/datacircle.mdx
Due: none

fix(converter): share retry budget across nested instruction converters
  lib/crewai/src/crewai/utilities/converter.py
Due: ruff, ruff-format, mypy

feat: Fireworks AI native OpenAI-compatible routing (#8010)
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/openai_compatible/completion.py
  lib/crewai/tests/llms/openai_compatible/test_openai_compatible.py
Due: ruff, ruff-format, mypy

test(smol): cover Crew agent tool invocation
  lib/crewai-tools/tests/tools/test_smol_sandbox_tool.py
Due: ruff, ruff-format

fix(converter): allow instruction fallback to run at the last attempt
  lib/crewai/src/crewai/utilities/converter.py
Due: ruff, ruff-format, mypy

feat: Groq native OpenAI-compatible routing (#8009)
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/openai_compatible/completion.py
  lib/crewai/tests/llms/openai_compatible/test_openai_compatible.py
Due: ruff, ruff-format, mypy

fix: address bot review findings on #8021
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/src/crewai/utilities/file_handler.py
  lib/crewai/tests/utilities/test_agent_utils.py
  lib/crewai/tests/utilities/test_file_handler.py
Due: ruff, ruff-format, mypy

fix(evaluators): align crew test table rows with dynamic run count
  lib/crewai/src/crewai/utilities/evaluators/crew_evaluator_handler.py
  lib/crewai/tests/utilities/evaluators/test_crew_evaluator_handler.py
Due: ruff, ruff-format, mypy

test: match closing fences at line start in the guide smoke test
  lib/crewai/tests/test_custom_llm.py
Due: ruff, ruff-format

Keep TrustedRouter routing aliases intact and sync the localized guides
  docs/edge/ar/concepts/llms.mdx
  docs/edge/ko/concepts/llms.mdx
  docs/edge/pt-BR/concepts/llms.mdx
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/llms/openai_compatible/test_openai_compatible.py
Due: ruff, ruff-format, mypy

Add TrustedRouter as an OpenAI-compatible native provider
  docs/edge/en/concepts/llms.mdx
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/openai_compatible/completion.py
  lib/crewai/tests/llms/openai_compatible/test_openai_compatible.py
Due: ruff, ruff-format, mypy

docs: document the optional TRUSTEDROUTER_BASE_URL override
  docs/edge/ar/concepts/llms.mdx
  docs/edge/en/concepts/llms.mdx
  docs/edge/ko/concepts/llms.mdx
  docs/edge/pt-BR/concepts/llms.mdx
Due: none

docs: fix RagTool and XMLSearchTool README imports
  lib/crewai-tools/src/crewai_tools/tools/rag/README.md
  lib/crewai-tools/src/crewai_tools/tools/xml_search_tool/README.md
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
