Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

feat: bump versions to 1.14.0a4
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
  uv.lock
Due: ruff, ruff-format, mypy

docs: update changelog and version for v1.14.0a4
  docs/ar/changelog.mdx
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

style: fix ruff format + remaining lint issues
  lib/crewai-tools/src/crewai_tools/tools/rag/rag_tool.py
  lib/crewai-tools/src/crewai_tools/utilities/safe_path.py
  lib/crewai/src/crewai/cli/cli.py
  lib/crewai/src/crewai/tasks/llm_guardrail.py
Due: ruff, ruff-format, mypy

fix: address three review comments on path/URL validation
  lib/crewai-tools/src/crewai_tools/tools/rag/rag_tool.py
  lib/crewai-tools/src/crewai_tools/utilities/safe_path.py
Due: ruff, ruff-format, mypy

fix: resolve mypy type errors in RAG path/URL validation
  lib/crewai-tools/src/crewai_tools/tools/rag/rag_tool.py
  lib/crewai-tools/src/crewai_tools/utilities/safe_path.py
Due: ruff, ruff-format, mypy

fix: add path and URL validation to RAG tools
  lib/crewai-tools/src/crewai_tools/rag/data_types.py
  lib/crewai-tools/src/crewai_tools/tools/rag/rag_tool.py
  lib/crewai-tools/src/crewai_tools/utilities/__init__.py
  lib/crewai-tools/src/crewai_tools/utilities/safe_path.py
  lib/crewai-tools/tests/utilities/__init__.py
  lib/crewai-tools/tests/utilities/test_safe_path.py
Due: ruff, ruff-format, mypy

test: allow tmp paths in search-tool and rag_tool tests via CREWAI_TOOLS_ALLOW_UNSAFE_PATHS
  lib/crewai-tools/tests/tools/rag/rag_tool_test.py
  lib/crewai-tools/tests/tools/test_search_tools.py
Due: ruff, ruff-format

test: allow tmp paths in RAG data-type tests via CREWAI_TOOLS_ALLOW_UNSAFE_PATHS
  lib/crewai-tools/tests/tools/rag/test_rag_tool_add_data_type.py
Due: ruff, ruff-format

fix: validate path/URL keyword args in RagTool.add()
  lib/crewai-tools/src/crewai_tools/tools/rag/rag_tool.py
  lib/crewai-tools/tests/tools/rag/test_rag_tool_path_validation.py
Due: ruff, ruff-format, mypy

fix: address CodeQL and review comments on RAG path/URL validation
  lib/crewai-tools/src/crewai_tools/tools/directory_search_tool/directory_search_tool.py
  lib/crewai-tools/src/crewai_tools/tools/rag/rag_tool.py
  lib/crewai-tools/src/crewai_tools/utilities/safe_path.py
  lib/crewai-tools/tests/utilities/test_safe_path.py
Due: ruff, ruff-format, mypy

fix: unroll dynamic TypedDict key loops to satisfy mypy literal-required
  lib/crewai-tools/src/crewai_tools/tools/rag/rag_tool.py
Due: ruff, ruff-format, mypy

docs: document CodeInterpreterTool removal and RAG path/URL validation
  docs/ar/concepts/agents.mdx
  docs/ar/tools/ai-ml/codeinterpretertool.mdx
  docs/ar/tools/file-document/csvsearchtool.mdx
  docs/ar/tools/file-document/directorysearchtool.mdx
  docs/ar/tools/file-document/jsonsearchtool.mdx
  docs/ar/tools/file-document/pdfsearchtool.mdx
  docs/en/concepts/agents.mdx
  docs/en/tools/ai-ml/codeinterpretertool.mdx
  docs/en/tools/file-document/csvsearchtool.mdx
  docs/en/tools/file-document/directorysearchtool.mdx
  docs/en/tools/file-document/jsonsearchtool.mdx
  docs/en/tools/file-document/pdfsearchtool.mdx
  docs/ko/concepts/agents.mdx
  docs/ko/tools/ai-ml/codeinterpretertool.mdx
  docs/ko/tools/file-document/csvsearchtool.mdx
  docs/ko/tools/file-document/directorysearchtool.mdx
  docs/ko/tools/file-document/jsonsearchtool.mdx
  docs/ko/tools/file-document/pdfsearchtool.mdx
  docs/pt-BR/concepts/agents.mdx
  docs/pt-BR/tools/ai-ml/codeinterpretertool.mdx
  docs/pt-BR/tools/file-document/csvsearchtool.mdx
  docs/pt-BR/tools/file-document/directorysearchtool.mdx
  docs/pt-BR/tools/file-document/jsonsearchtool.mdx
  docs/pt-BR/tools/file-document/pdfsearchtool.mdx
Due: none

fix: remove unused _BLOCKED_NETWORKS variable after IPv4/IPv6 split
  lib/crewai-tools/src/crewai_tools/utilities/safe_path.py
Due: ruff, ruff-format, mypy

fix: add path and URL validation to RAG tools (#5310)
  docs/ar/concepts/agents.mdx
  docs/ar/tools/ai-ml/codeinterpretertool.mdx
  docs/ar/tools/file-document/csvsearchtool.mdx
  docs/ar/tools/file-document/directorysearchtool.mdx
  docs/ar/tools/file-document/jsonsearchtool.mdx
  docs/ar/tools/file-document/pdfsearchtool.mdx
  docs/en/concepts/agents.mdx
  docs/en/tools/ai-ml/codeinterpretertool.mdx
  docs/en/tools/file-document/csvsearchtool.mdx
  docs/en/tools/file-document/directorysearchtool.mdx
  docs/en/tools/file-document/jsonsearchtool.mdx
  docs/en/tools/file-document/pdfsearchtool.mdx
  docs/ko/concepts/agents.mdx
  docs/ko/tools/ai-ml/codeinterpretertool.mdx
  docs/ko/tools/file-document/csvsearchtool.mdx
  docs/ko/tools/file-document/directorysearchtool.mdx
  docs/ko/tools/file-document/jsonsearchtool.mdx
  docs/ko/tools/file-document/pdfsearchtool.mdx
  docs/pt-BR/concepts/agents.mdx
  docs/pt-BR/tools/ai-ml/codeinterpretertool.mdx
  docs/pt-BR/tools/file-document/csvsearchtool.mdx
  docs/pt-BR/tools/file-document/directorysearchtool.mdx
  docs/pt-BR/tools/file-document/jsonsearchtool.mdx
  docs/pt-BR/tools/file-document/pdfsearchtool.mdx
  lib/crewai-tools/src/crewai_tools/rag/data_types.py
  lib/crewai-tools/src/crewai_tools/tools/directory_search_tool/directory_search_tool.py
  lib/crewai-tools/src/crewai_tools/tools/rag/rag_tool.py
  lib/crewai-tools/src/crewai_tools/utilities/__init__.py
  lib/crewai-tools/src/crewai_tools/utilities/safe_path.py
  lib/crewai-tools/tests/tools/rag/rag_tool_test.py
  lib/crewai-tools/tests/tools/rag/test_rag_tool_add_data_type.py
  lib/crewai-tools/tests/tools/rag/test_rag_tool_path_validation.py
  lib/crewai-tools/tests/tools/test_search_tools.py
  lib/crewai-tools/tests/utilities/__init__.py
  lib/crewai-tools/tests/utilities/test_safe_path.py
  lib/crewai/src/crewai/cli/cli.py
  lib/crewai/src/crewai/tasks/llm_guardrail.py
Due: ruff, ruff-format, mypy

refactor: rename directory to location, move max_checkpoints to providers
  lib/crewai/src/crewai/state/checkpoint_config.py
  lib/crewai/src/crewai/state/checkpoint_listener.py
  lib/crewai/src/crewai/state/provider/core.py
  lib/crewai/src/crewai/state/provider/json_provider.py
  lib/crewai/src/crewai/state/provider/sqlite_provider.py
  lib/crewai/src/crewai/state/runtime.py
Due: ruff, ruff-format, mypy

docs: update checkpointing docs for location rename and prune changes
  docs/en/concepts/checkpointing.mdx
Due: none

docs: update checkpointing translations for location rename
  docs/ar/concepts/checkpointing.mdx
  docs/ko/concepts/checkpointing.mdx
  docs/pt-BR/concepts/checkpointing.mdx
Due: none

feat: add crewai checkpoint list/info CLI commands
  lib/crewai/src/crewai/cli/checkpoint_cli.py
  lib/crewai/src/crewai/cli/cli.py
Due: ruff, ruff-format, mypy

fix: update checkpoint tests for directory to location rename
  lib/crewai/tests/test_checkpoint.py
Due: ruff, ruff-format

refactor: checkpoint API cleanup
  docs/ar/concepts/checkpointing.mdx
  docs/en/concepts/checkpointing.mdx
  docs/ko/concepts/checkpointing.mdx
  docs/pt-BR/concepts/checkpointing.mdx
  lib/crewai/src/crewai/state/checkpoint_config.py
  lib/crewai/src/crewai/state/checkpoint_listener.py
  lib/crewai/src/crewai/state/provider/core.py
  lib/crewai/src/crewai/state/provider/json_provider.py
  lib/crewai/src/crewai/state/provider/sqlite_provider.py
  lib/crewai/src/crewai/state/runtime.py
  lib/crewai/tests/test_checkpoint.py
Due: ruff, ruff-format, mypy

feat: checkpoint CLI reads from both JSON directories and SQLite
  lib/crewai/src/crewai/cli/checkpoint_cli.py
Due: ruff, ruff-format, mypy

fix: LLM callback isolation without mutating LiteLLM globals
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/llms/test_concurrency.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

fix: DNS rebinding protection and allow_private flag
  lib/crewai-tools/src/crewai_tools/security/safe_url.py
  lib/crewai-tools/src/crewai_tools/tools/brightdata_tool/brightdata_unlocker.py
  lib/crewai-tools/src/crewai_tools/tools/firecrawl_crawl_website_tool/firecrawl_crawl_website_tool.py
  lib/crewai-tools/src/crewai_tools/tools/firecrawl_scrape_website_tool/firecrawl_scrape_website_tool.py
  lib/crewai-tools/src/crewai_tools/tools/hyperbrowser_load_tool/hyperbrowser_load_tool.py
  lib/crewai-tools/src/crewai_tools/tools/jina_scrape_website_tool/jina_scrape_website_tool.py
  lib/crewai-tools/src/crewai_tools/tools/scrapfly_scrape_website_tool/scrapfly_scrape_website_tool.py
  lib/crewai-tools/src/crewai_tools/tools/serper_scrape_website_tool/serper_scrape_website_tool.py
  lib/crewai-tools/src/crewai_tools/tools/serply_api_tool/serply_webpage_to_markdown_tool.py
  lib/crewai-tools/src/crewai_tools/tools/website_search/website_search_tool.py
Due: ruff, ruff-format, mypy

fix: add SSRF and path traversal protections
  lib/crewai-tools/src/crewai_tools/security/__init__.py
  lib/crewai-tools/src/crewai_tools/security/safe_path.py
  lib/crewai-tools/src/crewai_tools/security/safe_url.py
  lib/crewai-tools/src/crewai_tools/tools/brightdata_tool/brightdata_unlocker.py
  lib/crewai-tools/src/crewai_tools/tools/contextualai_create_agent_tool/contextual_create_agent_tool.py
  lib/crewai-tools/src/crewai_tools/tools/contextualai_parse_tool/contextual_parse_tool.py
  lib/crewai-tools/src/crewai_tools/tools/directory_read_tool/directory_read_tool.py
  lib/crewai-tools/src/crewai_tools/tools/file_read_tool/file_read_tool.py
  lib/crewai-tools/src/crewai_tools/tools/files_compressor_tool/files_compressor_tool.py
  lib/crewai-tools/src/crewai_tools/tools/firecrawl_crawl_website_tool/firecrawl_crawl_website_tool.py
  lib/crewai-tools/src/crewai_tools/tools/firecrawl_scrape_website_tool/firecrawl_scrape_website_tool.py
  lib/crewai-tools/src/crewai_tools/tools/hyperbrowser_load_tool/hyperbrowser_load_tool.py
  lib/crewai-tools/src/crewai_tools/tools/jina_scrape_website_tool/jina_scrape_website_tool.py
  lib/crewai-tools/src/crewai_tools/tools/ocr_tool/ocr_tool.py
  lib/crewai-tools/src/crewai_tools/tools/scrape_element_from_website/scrape_element_from_website.py
  lib/crewai-tools/src/crewai_tools/tools/scrape_website_tool/scrape_website_tool.py
  lib/crewai-tools/src/crewai_tools/tools/scrapfly_scrape_website_tool/scrapfly_scrape_website_tool.py
  lib/crewai-tools/src/crewai_tools/tools/serper_scrape_website_tool/serper_scrape_website_tool.py
  lib/crewai-tools/src/crewai_tools/tools/serply_api_tool/serply_webpage_to_markdown_tool.py
  lib/crewai-tools/src/crewai_tools/tools/vision_tool/vision_tool.py
  lib/crewai-tools/src/crewai_tools/tools/website_search/website_search_tool.py
Due: ruff, ruff-format, mypy

fix: unify security utilities and restore RAG chokepoint validation
  lib/crewai-tools/src/crewai_tools/security/__init__.py
  lib/crewai-tools/src/crewai_tools/security/safe_path.py
  lib/crewai-tools/src/crewai_tools/security/safe_url.py
  lib/crewai-tools/src/crewai_tools/tools/brightdata_tool/brightdata_unlocker.py
  lib/crewai-tools/src/crewai_tools/tools/contextualai_create_agent_tool/contextual_create_agent_tool.py
  lib/crewai-tools/src/crewai_tools/tools/contextualai_parse_tool/contextual_parse_tool.py
  lib/crewai-tools/src/crewai_tools/tools/directory_read_tool/directory_read_tool.py
  lib/crewai-tools/src/crewai_tools/tools/file_read_tool/file_read_tool.py
  lib/crewai-tools/src/crewai_tools/tools/files_compressor_tool/files_compressor_tool.py
  lib/crewai-tools/src/crewai_tools/tools/firecrawl_crawl_website_tool/firecrawl_crawl_website_tool.py
  lib/crewai-tools/src/crewai_tools/tools/firecrawl_scrape_website_tool/firecrawl_scrape_website_tool.py
  lib/crewai-tools/src/crewai_tools/tools/hyperbrowser_load_tool/hyperbrowser_load_tool.py
  lib/crewai-tools/src/crewai_tools/tools/jina_scrape_website_tool/jina_scrape_website_tool.py
  lib/crewai-tools/src/crewai_tools/tools/ocr_tool/ocr_tool.py
  lib/crewai-tools/src/crewai_tools/tools/scrape_element_from_website/scrape_element_from_website.py
  lib/crewai-tools/src/crewai_tools/tools/scrape_website_tool/scrape_website_tool.py
  lib/crewai-tools/src/crewai_tools/tools/scrapfly_scrape_website_tool/scrapfly_scrape_website_tool.py
  lib/crewai-tools/src/crewai_tools/tools/serper_scrape_website_tool/serper_scrape_website_tool.py
  lib/crewai-tools/src/crewai_tools/tools/serply_api_tool/serply_webpage_to_markdown_tool.py
  lib/crewai-tools/src/crewai_tools/tools/vision_tool/vision_tool.py
  lib/crewai-tools/src/crewai_tools/tools/website_search/website_search_tool.py
Due: ruff, ruff-format, mypy

refactor: move validation to security/ package, keep utilities/ as compat shim
  lib/crewai-tools/src/crewai_tools/utilities/safe_path.py
Due: ruff, ruff-format, mypy

refactor: move validation to security/ package + address review comments
  lib/crewai-tools/src/crewai_tools/security/__init__.py
  lib/crewai-tools/src/crewai_tools/security/safe_path.py
  lib/crewai-tools/src/crewai_tools/security/safe_url.py
  lib/crewai-tools/src/crewai_tools/tools/brightdata_tool/brightdata_unlocker.py
  lib/crewai-tools/src/crewai_tools/tools/contextualai_create_agent_tool/contextual_create_agent_tool.py
  lib/crewai-tools/src/crewai_tools/tools/contextualai_parse_tool/contextual_parse_tool.py
  lib/crewai-tools/src/crewai_tools/tools/directory_read_tool/directory_read_tool.py
  lib/crewai-tools/src/crewai_tools/tools/directory_search_tool/directory_search_tool.py
  lib/crewai-tools/src/crewai_tools/tools/file_read_tool/file_read_tool.py
  lib/crewai-tools/src/crewai_tools/tools/files_compressor_tool/files_compressor_tool.py
  lib/crewai-tools/src/crewai_tools/tools/firecrawl_crawl_website_tool/firecrawl_crawl_website_tool.py
  lib/crewai-tools/src/crewai_tools/tools/firecrawl_scrape_website_tool/firecrawl_scrape_website_tool.py
  lib/crewai-tools/src/crewai_tools/tools/hyperbrowser_load_tool/hyperbrowser_load_tool.py
  lib/crewai-tools/src/crewai_tools/tools/jina_scrape_website_tool/jina_scrape_website_tool.py
  lib/crewai-tools/src/crewai_tools/tools/ocr_tool/ocr_tool.py
  lib/crewai-tools/src/crewai_tools/tools/rag/rag_tool.py
  lib/crewai-tools/src/crewai_tools/tools/scrape_element_from_website/scrape_element_from_website.py
  lib/crewai-tools/src/crewai_tools/tools/scrape_website_tool/scrape_website_tool.py
  lib/crewai-tools/src/crewai_tools/tools/scrapfly_scrape_website_tool/scrapfly_scrape_website_tool.py
  lib/crewai-tools/src/crewai_tools/tools/serper_scrape_website_tool/serper_scrape_website_tool.py
  lib/crewai-tools/src/crewai_tools/tools/serply_api_tool/serply_webpage_to_markdown_tool.py
  lib/crewai-tools/src/crewai_tools/tools/vision_tool/vision_tool.py
  lib/crewai-tools/src/crewai_tools/tools/website_search/website_search_tool.py
  lib/crewai-tools/src/crewai_tools/utilities/safe_path.py
  lib/crewai-tools/tests/utilities/test_safe_path.py
Due: ruff, ruff-format, mypy

fix: drop unused assignment from validate_url call
  lib/crewai-tools/src/crewai_tools/tools/brightdata_tool/brightdata_unlocker.py
Due: ruff, ruff-format, mypy

fix: move validation outside try/except blocks, use correct directory validator
  lib/crewai-tools/src/crewai_tools/tools/contextualai_create_agent_tool/contextual_create_agent_tool.py
  lib/crewai-tools/src/crewai_tools/tools/contextualai_parse_tool/contextual_parse_tool.py
  lib/crewai-tools/src/crewai_tools/tools/directory_read_tool/directory_read_tool.py
  lib/crewai-tools/src/crewai_tools/tools/file_read_tool/file_read_tool.py
  lib/crewai-tools/src/crewai_tools/tools/serper_scrape_website_tool/serper_scrape_website_tool.py
Due: ruff, ruff-format, mypy

feat: show trigger event type in checkpoint list and info
  lib/crewai/src/crewai/cli/checkpoint_cli.py
Due: ruff, ruff-format, mypy

feat: checkpoint list/info CLI commands
  lib/crewai/src/crewai/cli/checkpoint_cli.py
  lib/crewai/src/crewai/cli/cli.py
Due: ruff, ruff-format, mypy

fix: use resolved paths from validation to prevent symlink TOCTOU, remove unused safe_url.py
  lib/crewai-tools/src/crewai_tools/security/safe_url.py
  lib/crewai-tools/src/crewai_tools/tools/contextualai_create_agent_tool/contextual_create_agent_tool.py
  lib/crewai-tools/src/crewai_tools/tools/contextualai_parse_tool/contextual_parse_tool.py
  lib/crewai-tools/src/crewai_tools/tools/directory_read_tool/directory_read_tool.py
  lib/crewai-tools/src/crewai_tools/tools/directory_search_tool/directory_search_tool.py
  lib/crewai-tools/src/crewai_tools/tools/file_read_tool/file_read_tool.py
  lib/crewai-tools/src/crewai_tools/tools/files_compressor_tool/files_compressor_tool.py
  lib/crewai-tools/src/crewai_tools/tools/ocr_tool/ocr_tool.py
  lib/crewai-tools/src/crewai_tools/tools/vision_tool/vision_tool.py
Due: ruff, ruff-format, mypy

fix: use resolved paths from validation to prevent symlink TOCTOU, remove unused safe_url.py
  lib/crewai-tools/src/crewai_tools/tools/contextualai_create_agent_tool/contextual_create_agent_tool.py
  lib/crewai-tools/src/crewai_tools/tools/rag/rag_tool.py
Due: ruff, ruff-format, mypy

fix: register checkpoint handlers when CheckpointConfig is created
  lib/crewai/src/crewai/state/checkpoint_config.py
Due: ruff, ruff-format, mypy

fix: add SSRF and path traversal protections (#5315)
  lib/crewai-tools/src/crewai_tools/security/__init__.py
  lib/crewai-tools/src/crewai_tools/security/safe_path.py
  lib/crewai-tools/src/crewai_tools/tools/brightdata_tool/brightdata_unlocker.py
  lib/crewai-tools/src/crewai_tools/tools/contextualai_create_agent_tool/contextual_create_agent_tool.py
  lib/crewai-tools/src/crewai_tools/tools/contextualai_parse_tool/contextual_parse_tool.py
  lib/crewai-tools/src/crewai_tools/tools/directory_read_tool/directory_read_tool.py
  lib/crewai-tools/src/crewai_tools/tools/directory_search_tool/directory_search_tool.py
  lib/crewai-tools/src/crewai_tools/tools/file_read_tool/file_read_tool.py
  lib/crewai-tools/src/crewai_tools/tools/files_compressor_tool/files_compressor_tool.py
  lib/crewai-tools/src/crewai_tools/tools/firecrawl_crawl_website_tool/firecrawl_crawl_website_tool.py
  lib/crewai-tools/src/crewai_tools/tools/firecrawl_scrape_website_tool/firecrawl_scrape_website_tool.py
  lib/crewai-tools/src/crewai_tools/tools/hyperbrowser_load_tool/hyperbrowser_load_tool.py
  lib/crewai-tools/src/crewai_tools/tools/jina_scrape_website_tool/jina_scrape_website_tool.py
  lib/crewai-tools/src/crewai_tools/tools/ocr_tool/ocr_tool.py
  lib/crewai-tools/src/crewai_tools/tools/rag/rag_tool.py
  lib/crewai-tools/src/crewai_tools/tools/scrape_element_from_website/scrape_element_from_website.py
  lib/crewai-tools/src/crewai_tools/tools/scrape_website_tool/scrape_website_tool.py
  lib/crewai-tools/src/crewai_tools/tools/scrapfly_scrape_website_tool/scrapfly_scrape_website_tool.py
  lib/crewai-tools/src/crewai_tools/tools/serper_scrape_website_tool/serper_scrape_website_tool.py
  lib/crewai-tools/src/crewai_tools/tools/serply_api_tool/serply_webpage_to_markdown_tool.py
  lib/crewai-tools/src/crewai_tools/tools/vision_tool/vision_tool.py
  lib/crewai-tools/src/crewai_tools/tools/website_search/website_search_tool.py
  lib/crewai-tools/src/crewai_tools/utilities/safe_path.py
  lib/crewai-tools/tests/utilities/test_safe_path.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.14.0
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.14.0 (#5321)
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

docs: update changelog and version for v1.14.0
  docs/ar/changelog.mdx
  docs/docs.json
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none
