Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

fix(core): map GPT-5.6 to the official 1.05M context window
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

fix(openai): give GPT-5.6 its own 1.05M window
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/llms/openai/test_openai.py
Due: ruff, ruff-format, mypy

fix(azure): map GPT-5.6 deployments to the official 1.05M window
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/tests/llms/azure/test_azure.py
Due: ruff, ruff-format, mypy

feat(cli): list GPT-5.6 Sol, Terra, and Luna in curated catalogs
  lib/cli/src/crewai_cli/constants.py
  lib/cli/src/crewai_cli/create_json_crew.py
  lib/cli/tests/test_constants.py
Due: ruff, ruff-format, mypy

refactor: keep context-window tables in longest-prefix order
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
Due: ruff, ruff-format, mypy

fix(core): resolve prefixed LiteLLM models to the GPT-5.6 window
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

update README
  lib/crewai-tools/src/crewai_tools/tools/k8s_agent_sandbox/README.md
Due: none

fix(tools): pin SSRF checks to each redirect hop and peer IP (#6981)
  docs/edge/ar/tools/web-scraping/scrapeelementfromwebsitetool.mdx
  docs/edge/ar/tools/web-scraping/scrapewebsitetool.mdx
  docs/edge/en/tools/file-document/filereadtool.mdx
  docs/edge/en/tools/web-scraping/scrapeelementfromwebsitetool.mdx
  docs/edge/en/tools/web-scraping/scrapewebsitetool.mdx
  docs/edge/ko/tools/web-scraping/scrapeelementfromwebsitetool.mdx
  docs/edge/ko/tools/web-scraping/scrapewebsitetool.mdx
  docs/edge/pt-BR/tools/web-scraping/scrapeelementfromwebsitetool.mdx
  docs/edge/pt-BR/tools/web-scraping/scrapewebsitetool.mdx
  lib/crewai-tools/src/crewai_tools/rag/loaders/docs_site_loader.py
  lib/crewai-tools/src/crewai_tools/security/safe_path.py
  lib/crewai-tools/src/crewai_tools/security/safe_requests.py
  lib/crewai-tools/src/crewai_tools/security/ssrf_adapter.py
  lib/crewai-tools/src/crewai_tools/tools/url_read_tool/url_read_tool.py
  lib/crewai-tools/tests/rag/test_csv_loader.py
  lib/crewai-tools/tests/rag/test_docx_loader.py
  lib/crewai-tools/tests/rag/test_json_loader.py
  lib/crewai-tools/tests/rag/test_mdx_loader.py
  lib/crewai-tools/tests/rag/test_webpage_loader.py
  lib/crewai-tools/tests/rag/test_xml_loader.py
  lib/crewai-tools/tests/utilities/test_safe_path.py
  lib/crewai-tools/tests/utilities/test_safe_requests.py
  lib/crewai-tools/tool.specs.json
  lib/crewai/tests/llms/azure/test_azure_responses.py
Due: ruff, ruff-format, mypy

fix(OSS-128): split oversized messages before context chunking
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/utilities/test_agent_utils.py
Due: ruff, ruff-format, mypy

refactor(OSS-128): inline message content text extraction as lambda
  lib/crewai/src/crewai/utilities/agent_utils.py
Due: ruff, ruff-format, mypy

refactor(OSS-128): restore _message_content_text as a function
  lib/crewai/src/crewai/utilities/agent_utils.py
Due: ruff, ruff-format, mypy

refactor(OSS-128): drop summarization prompt overhead from chunk budget
  lib/crewai/src/crewai/utilities/agent_utils.py
Due: ruff, ruff-format, mypy

docs: rewrite Secure Agent Design in simplified technical English
  docs/edge/ar/concepts/agents.mdx
  docs/edge/ar/concepts/production-architecture.mdx
  docs/edge/ar/guides/agents/secure-agent-design.mdx
  docs/edge/ar/mcp/security.mdx
  docs/edge/en/concepts/agents.mdx
  docs/edge/en/concepts/production-architecture.mdx
  docs/edge/en/guides/agents/secure-agent-design.mdx
  docs/edge/en/mcp/security.mdx
  docs/edge/ko/concepts/agents.mdx
  docs/edge/ko/concepts/production-architecture.mdx
  docs/edge/ko/guides/agents/secure-agent-design.mdx
  docs/edge/ko/mcp/security.mdx
  docs/edge/pt-BR/concepts/production-architecture.mdx
  docs/edge/pt-BR/guides/agents/secure-agent-design.mdx
  docs/edge/pt-BR/mcp/security.mdx
Due: none

fix(OSS-128): preserve LLMMessage fields when splitting oversized content
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/utilities/test_agent_utils.py
Due: ruff, ruff-format, mypy

fix(llms): warn on token-cap truncation for every provider
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/_finish_reason_utils.py
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/tests/llms/test_truncation_warning.py
Due: ruff, ruff-format, mypy

test(OSS-128): assert rendered summarization requests fit raw context
  lib/crewai/tests/utilities/test_agent_utils.py
Due: ruff, ruff-format

fix(knowledge): record collection_name and embedder on the Knowledge model
  lib/crewai/src/crewai/knowledge/knowledge.py
  lib/crewai/tests/knowledge/test_knowledge_init.py
Due: ruff, ruff-format, mypy

fix(agent): scope max_retry_limit to a single task execution
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/tests/agents/test_agent.py
Due: ruff, ruff-format, mypy

fix(hooks): resolve the filter wrapper when unregistering a hook
  lib/crewai/src/crewai/hooks/decorators.py
  lib/crewai/src/crewai/hooks/llm_hooks.py
  lib/crewai/src/crewai/hooks/tool_hooks.py
  lib/crewai/tests/hooks/test_decorators.py
Due: ruff, ruff-format, mypy

fix(agents): clear tool results between tasks
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/tests/agents/test_agent.py
Due: ruff, ruff-format, mypy

fix(crewai-files): clear LRU order when clearing the upload cache
  lib/crewai-files/src/crewai_files/cache/upload_cache.py
  lib/crewai-files/tests/test_upload_cache.py
Due: ruff, ruff-format, mypy

fix(files): let the provider prefix decide file constraints
  lib/crewai-files/src/crewai_files/processing/constraints.py
  lib/crewai-files/tests/processing/test_constraints.py
Due: ruff, ruff-format, mypy

fix(llms): accept BaseTool instances in LLM.call()
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/utils/common.py
  lib/crewai/tests/test_llm_tool_conversion.py
Due: ruff, ruff-format, mypy

fix(files): stop guessing constraints from an unknown provider prefix
  lib/crewai-files/src/crewai_files/processing/constraints.py
  lib/crewai-files/tests/processing/test_constraints.py
Due: ruff, ruff-format, mypy

feat(security): add deterministic ActionBoundary and ActionLedger for CrewAI tools
  lib/crewai/src/crewai/security/__init__.py
  lib/crewai/src/crewai/security/action_gate.py
  lib/crewai/tests/security/test_action_gate.py
Due: ruff, ruff-format, mypy

test(llms): cover BaseTool conversion via public LLM.call()
  lib/crewai/tests/test_llm_tool_conversion.py
Due: ruff, ruff-format

fix: handle asyncio.run() RuntimeError when async tools called from running event loop
  lib/crewai/src/crewai/tools/base_tool.py
  lib/crewai/src/crewai/tools/structured_tool.py
  lib/crewai/src/crewai/utilities/async_utils.py
  lib/crewai/tests/tools/test_base_tool.py
  lib/crewai/tests/tools/test_structured_tool.py
Due: ruff, ruff-format, mypy

Fix the security/audit-integrity issues from automated review
  lib/crewai/src/crewai/security/action_gate.py
  lib/crewai/tests/security/test_action_gate.py
Due: ruff, ruff-format, mypy

[OSS-128] Handle oversized single messages during chunking (#7014)
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/utilities/test_agent_utils.py
Due: ruff, ruff-format, mypy

test(llms): assert exact required fields on converted tools
  lib/crewai/tests/test_llm_tool_conversion.py
Due: ruff, ruff-format

fix(crew): raise helpful ValueError and stop mutating config in _create_task
  lib/crewai/src/crewai/crew.py
  lib/crewai/tests/test_crew.py
Due: ruff, ruff-format, mypy

fix(flows): persist custom conversational replies after fallback append
  lib/crewai/src/crewai/experimental/conversational_mixin.py
Due: ruff, ruff-format, mypy

fix(crew): preserve crew result when after_kickoff_callbacks return None
  lib/crewai/src/crewai/crew.py
  lib/crewai/tests/crew/test_async_crew.py
  lib/crewai/tests/test_crew.py
Due: ruff, ruff-format, mypy

fix(task): run async task callbacks safely from the sync path
  lib/crewai/src/crewai/task.py
  lib/crewai/tests/task/test_async_task.py
Due: ruff, ruff-format, mypy

test(flows): cover @persist restore of custom conversational replies
  lib/crewai/tests/test_flow_conversation.py
Due: ruff, ruff-format

docs: note that public listen returns persist as assistant replies
  docs/edge/ar/guides/flows/conversational-flows.mdx
  docs/edge/en/guides/flows/conversational-flows.mdx
  docs/edge/ko/guides/flows/conversational-flows.mdx
  docs/edge/pt-BR/guides/flows/conversational-flows.mdx
Due: none

fix(mcp): don't call asyncio.run() from a running Flow loop
  lib/crewai/src/crewai/mcp/tool_resolver.py
  lib/crewai/tests/mcp/test_tool_resolver_running_loop.py
Due: ruff, ruff-format, mypy

fix(task): reject loop-bound Task/Future callbacks in sync path
  lib/crewai/src/crewai/task.py
  lib/crewai/tests/crew/test_async_crew.py
  lib/crewai/tests/task/test_async_task.py
  lib/crewai/tests/test_crew.py
Due: ruff, ruff-format, mypy

docs(review): record residual review findings
  docs/residual-review-findings/fix-crew-error-handling-6439.md
Due: none

test: cover Task/Future callback rejection and distinct replacement output
  lib/crewai/tests/crew/test_async_crew.py
  lib/crewai/tests/task/test_async_task.py
  lib/crewai/tests/test_crew.py
Due: ruff, ruff-format

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
