Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

Remove test file that doesn't belong in this PR
  lib/crewai/tests/test_streaming_task_metadata.py
Due: ruff, ruff-format

chore: remove accidentally committed manual test script
  manual_test_streaming_metadata.py
Due: ruff, ruff-format, mypy

fix: reset CrewAgentExecutor state between task executions
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/tests/agents/test_executor_state_reset.py
Due: ruff, ruff-format, mypy

chore: remove outdated BUILDING_TOOLS.md
  lib/crewai-tools/BUILDING_TOOLS.md
Due: none

ci: add crewai-tools to mypy strict type checks
  .github/workflows/type-checker.yml
Due: none

fix: resolve mypy errors in crewai-files and add all packages to CI type checks
  .github/workflows/type-checker.yml
  lib/crewai-files/src/crewai_files/formatting/api.py
  lib/crewai-files/src/crewai_files/processing/constraints.py
  lib/crewai-files/src/crewai_files/processing/transformers.py
  lib/crewai-files/src/crewai_files/processing/validators.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.12.0a1
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

fix: use __router_paths__ for listener+router methods in FlowMeta
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/tests/test_flow_serializer.py
Due: ruff, ruff-format, mypy

fix: use __router_paths__ for listener+router methods in FlowMeta (#5064)
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/tests/test_flow_serializer.py
Due: ruff, ruff-format, mypy

feat: add arabic language support to changelog and release tooling
  lib/devtools/src/crewai_devtools/cli.py
Due: ruff, ruff-format, mypy

docs: add CONTRIBUTING.md
  .github/CONTRIBUTING.md
Due: none

feat: add docs-check command to analyze changes and generate docs with translations
  lib/devtools/pyproject.toml
  lib/devtools/src/crewai_devtools/cli.py
  lib/devtools/src/crewai_devtools/docs_check.py
Due: ruff, ruff-format, mypy

refactor: deduplicate sync/async task execution and kickoff in agent core
  lib/crewai/src/crewai/agent/core.py
Due: ruff, ruff-format, mypy

Fix for agent memory saving
  lib/crewai/src/crewai/memory/memory_scope.py
Due: ruff, ruff-format, mypy

fix: agent memory saving
  lib/crewai/src/crewai/memory/memory_scope.py
Due: ruff, ruff-format, mypy

fix: restore knowledge retrieval ordering in task prompt assembly
  lib/crewai/src/crewai/agent/core.py
Due: ruff, ruff-format, mypy

fix: patch datetime in correct module in inject date tests
  lib/crewai/tests/agents/test_agent_inject_date.py
Due: ruff, ruff-format

docs: expand security guide oversight examples
  docs/en/guides/advanced/security-best-practices.mdx
Due: none

refactor: deduplicate sync/async task execution and kickoff in agent
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/tests/agents/test_agent_inject_date.py
Due: ruff, ruff-format, mypy

fix: sanitize LLM-generated file paths to prevent path traversal
  lib/devtools/src/crewai_devtools/docs_check.py
Due: ruff, ruff-format, mypy

fix: guard against empty update content and pass diff to doc generation
  lib/devtools/src/crewai_devtools/docs_check.py
Due: ruff, ruff-format, mypy

feat(tools): add RevettrScoreTool for counterparty risk scoring
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/revettr_score_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/revettr_score_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/revettr_score_tool/revettr_score_tool.py
Due: ruff, ruff-format, mypy

docs: update changelog and version for v1.12.0a1
  docs/ar/changelog.mdx
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

fix: clear trace_batch_id on backend batch initialization failure
  lib/crewai/src/crewai/events/listeners/tracing/trace_batch_manager.py
  lib/crewai/tests/tracing/test_tracing.py
Due: ruff, ruff-format, mypy

fix: bypass is_tracing_enabled_in_context for first-time deferred batch init
  lib/crewai/src/crewai/events/listeners/tracing/first_time_trace_handler.py
  lib/crewai/src/crewai/events/listeners/tracing/trace_batch_manager.py
  lib/crewai/tests/tracing/test_tracing.py
Due: ruff, ruff-format, mypy

feat: add retry logic for ephemeral trace batch creation
  lib/crewai/src/crewai/events/listeners/tracing/trace_batch_manager.py
  lib/crewai/tests/tracing/test_tracing.py
Due: ruff, ruff-format, mypy

feat: fall back to ephemeral tracing on server auth rejection
  lib/crewai/src/crewai/events/listeners/tracing/trace_batch_manager.py
  lib/crewai/tests/tracing/test_tracing.py
Due: ruff, ruff-format, mypy
