Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

docs: trim comments and docstrings on tool-failure signalling
  lib/crewai-tools/src/crewai_tools/tools/crewai_platform_tools/crewai_platform_action_tool.py
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agents/agent_builder/base_agent.py
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/agents/step_executor.py
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/crews/crew_output.py
  lib/crewai/src/crewai/events/types/tool_usage_events.py
  lib/crewai/src/crewai/events/utils/console_formatter.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/lite_agent.py
  lib/crewai/src/crewai/lite_agent_output.py
  lib/crewai/src/crewai/task.py
  lib/crewai/src/crewai/tasks/task_output.py
  lib/crewai/src/crewai/tools/base_tool.py
  lib/crewai/src/crewai/tools/mcp_native_tool.py
  lib/crewai/src/crewai/tools/structured_tool.py
  lib/crewai/src/crewai/tools/tool_failure.py
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/src/crewai/utilities/tool_utils.py
  lib/crewai/tests/tools/test_tool_failure.py
Due: ruff, ruff-format, mypy

fix(tools): make ignore truly silent, stop caching failures, close 4 gaps
  lib/crewai/src/crewai/agents/cache/cache_handler.py
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/task.py
  lib/crewai/src/crewai/tools/base_tool.py
  lib/crewai/src/crewai/tools/tool_failure.py
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/tools/test_tool_failure.py
Due: ruff, ruff-format, mypy

fix(tools): let raise through the parallel native path, guard all handlers
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/tests/tools/test_tool_failure.py
Due: ruff, ruff-format, mypy

fix(tools): keep a failed tool out of the final answer, finish crew scope
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/src/crewai/utilities/tool_utils.py
  lib/crewai/tests/tools/test_tool_failure.py
Due: ruff, ruff-format, mypy

feat: emit FlowFailedEvent when a flow execution fails
  docs/edge/ar/concepts/event-listener.mdx
  docs/edge/en/concepts/event-listener.mdx
  docs/edge/ko/concepts/event-listener.mdx
  docs/edge/pt-BR/concepts/event-listener.mdx
  lib/crewai/src/crewai/events/__init__.py
  lib/crewai/src/crewai/events/event_context.py
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/src/crewai/events/event_types.py
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
  lib/crewai/src/crewai/events/types/flow_events.py
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/src/crewai/state/checkpoint_config.py
  lib/crewai/tests/utilities/test_events.py
Due: ruff, ruff-format, mypy

fix(tools): report malformed tool args, correlate the failure event
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/tools/tool_failure.py
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/tools/test_tool_failure.py
  lib/crewai/tests/utilities/test_agent_utils.py
Due: ruff, ruff-format, mypy

fix(tools): scope failure accumulation per execution, drop deprecated executor
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agents/agent_builder/base_agent.py
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/lite_agent.py
  lib/crewai/src/crewai/task.py
  lib/crewai/src/crewai/tools/tool_failure.py
  lib/crewai/tests/tools/test_tool_failure.py
Due: ruff, ruff-format, mypy

feat: add HauntExtractTool (web extraction with honest failure codes)
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/haunt_extract_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/haunt_extract_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/haunt_extract_tool/haunt_extract_tool.py
  lib/crewai-tools/tests/tools/haunt_extract_tool_test.py
Due: ruff, ruff-format, mypy

fix: address review, key off the model, robust non-JSON error handling, stricter tests
  lib/crewai-tools/src/crewai_tools/tools/haunt_extract_tool/haunt_extract_tool.py
  lib/crewai-tools/tests/tools/haunt_extract_tool_test.py
Due: ruff, ruff-format, mypy

fix: harden Haunt tool request boundary
  lib/crewai-tools/src/crewai_tools/tools/haunt_extract_tool/haunt_extract_tool.py
  lib/crewai-tools/tests/tools/haunt_extract_tool_test.py
Due: ruff, ruff-format, mypy

fix(tools): report malformed calls everywhere, drop the unused block reason
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/tools/tool_failure.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/src/crewai/utilities/tool_utils.py
  lib/crewai/tests/tools/test_tool_failure.py
Due: ruff, ruff-format, mypy

fix: skip FlowFailedEvent when the run never opened a scope
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/tests/utilities/test_events.py
Due: ruff, ruff-format, mypy

fix: emit FlowFailedEvent for deferred conversational sessions
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/tests/utilities/test_events.py
Due: ruff, ruff-format, mypy

fix(tools): merge failures across kickoff guardrail retries, cancel siblings
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/tests/tools/test_tool_failure.py
Due: ruff, ruff-format, mypy

fix(agents): apply crew prompt_file to agent prompts
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agent/utils.py
  lib/crewai/src/crewai/utilities/i18n.py
  lib/crewai/src/crewai/utilities/prompts.py
  lib/crewai/tests/utilities/test_prompt_file_resolution.py
Due: ruff, ruff-format, mypy

feat: emit FlowFailedEvent when a flow execution fails (#6718)
  docs/edge/ar/concepts/event-listener.mdx
  docs/edge/en/concepts/event-listener.mdx
  docs/edge/ko/concepts/event-listener.mdx
  docs/edge/pt-BR/concepts/event-listener.mdx
  lib/crewai/src/crewai/events/__init__.py
  lib/crewai/src/crewai/events/event_context.py
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/src/crewai/events/event_types.py
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
  lib/crewai/src/crewai/events/types/flow_events.py
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/src/crewai/state/checkpoint_config.py
  lib/crewai/tests/utilities/test_events.py
Due: ruff, ruff-format, mypy

test(agents): cover localized schema, context, and memory paths
  lib/crewai/tests/utilities/test_prompt_file_resolution.py
Due: ruff, ruff-format

add docstrings + UTs
  lib/crewai-tools/src/crewai_tools/tools/slack_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/slack_tool/slack_tool.py
  lib/crewai-tools/tests/tools/slack_tool_test.py
Due: ruff, ruff-format, mypy

adding mongoDB link for crewAI implementation
  docs/edge/en/concepts/memory.mdx
Due: none

feat(tools): add Xquik X research tools
  docs/docs.json
  docs/edge/ar/tools/search-research/overview.mdx
  docs/edge/ar/tools/search-research/xquiktool.mdx
  docs/edge/en/tools/search-research/overview.mdx
  docs/edge/en/tools/search-research/xquiktool.mdx
  docs/edge/ko/tools/search-research/overview.mdx
  docs/edge/ko/tools/search-research/xquiktool.mdx
  docs/edge/pt-BR/tools/search-research/overview.mdx
  docs/edge/pt-BR/tools/search-research/xquiktool.mdx
  lib/crewai-tools/README.md
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/adapters/mcp_adapter.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/xquik_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/xquik_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/xquik_tool/xquik_tool.py
  lib/crewai-tools/tests/adapters/mcp_adapter_test.py
  lib/crewai-tools/tests/tools/xquik_tool_test.py
Due: ruff, ruff-format, mypy

feat(tools): surface tool failures instead of reporting them as success (#6712)
  docs/edge/en/concepts/tools.mdx
  lib/crewai-tools/src/crewai_tools/tools/crewai_platform_tools/crewai_platform_action_tool.py
  lib/crewai-tools/tool.specs.json
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agents/agent_builder/base_agent.py
  lib/crewai/src/crewai/agents/cache/cache_handler.py
  lib/crewai/src/crewai/agents/step_executor.py
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/crews/crew_output.py
  lib/crewai/src/crewai/events/__init__.py
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/src/crewai/events/event_types.py
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
  lib/crewai/src/crewai/events/types/tool_usage_events.py
  lib/crewai/src/crewai/events/utils/console_formatter.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/hooks/tool_hooks.py
  lib/crewai/src/crewai/lite_agent.py
  lib/crewai/src/crewai/lite_agent_output.py
  lib/crewai/src/crewai/mcp/client.py
  lib/crewai/src/crewai/task.py
  lib/crewai/src/crewai/tasks/task_output.py
  lib/crewai/src/crewai/tools/__init__.py
  lib/crewai/src/crewai/tools/base_tool.py
  lib/crewai/src/crewai/tools/mcp_native_tool.py
  lib/crewai/src/crewai/tools/structured_tool.py
  lib/crewai/src/crewai/tools/tool_failure.py
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/src/crewai/utilities/tool_utils.py
  lib/crewai/tests/mcp/test_mcp_config.py
  lib/crewai/tests/test_task.py
  lib/crewai/tests/tools/test_tool_failure.py
  lib/crewai/tests/utilities/test_agent_utils.py
Due: ruff, ruff-format, mypy

fix: update workspace count from 4 to 6 packages in CONTRIBUTING.md
  .github/CONTRIBUTING.md
Due: none

feat: bump versions to 1.15.9
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.15.9 (#6725)
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

feat(tracing): collect skill usage events
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
  lib/crewai/tests/tracing/test_skill_used_tracing.py
Due: ruff, ruff-format, mypy

Update security reporting guidelines
  .github/security.md
Due: none

fix: replace deprecated `datetime.utcnow()` across memory subsystem
  lib/crewai/src/crewai/memory/encoding_flow.py
  lib/crewai/src/crewai/memory/storage/lancedb_storage.py
  lib/crewai/src/crewai/memory/types.py
  lib/crewai/src/crewai/memory/unified_memory.py
Due: ruff, ruff-format, mypy

fix: replace deprecated `asyncio.get_event_loop()` with `get_running_loop()`
  lib/crewai-tools/src/crewai_tools/tools/snowflake_search_tool/snowflake_search_tool.py
  lib/crewai/src/crewai/tools/structured_tool.py
Due: ruff, ruff-format, mypy

Update security reporting guidelines (#6728)
  .github/security.md
Due: none

fix(tests): scope the trace-listener handlers, assert the forwarded event
  lib/crewai/tests/tracing/test_skill_used_tracing.py
Due: ruff, ruff-format

test: assert the forwarded skill event by identity
  lib/crewai/tests/tracing/test_skill_used_tracing.py
Due: ruff, ruff-format

fix(llm): honour response_model in the async streaming handler
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/llms/litellm/test_litellm_response_model_parity.py
Due: ruff, ruff-format, mypy

fix(a2a): forward use_cache=False from fetch_agent_card to afetch_agent_card
  lib/crewai/src/crewai/a2a/utils/agent_card.py
  lib/crewai/tests/a2a/utils/test_agent_card.py
Due: ruff, ruff-format, mypy

fix(llm): keep tool-call precedence over response_model conversion
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/llms/litellm/test_litellm_response_model_parity.py
Due: ruff, ruff-format, mypy

feat(tracing): collect skill usage events (#6727)
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
  lib/crewai/tests/tracing/test_skill_used_tracing.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
