Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock

Fix A2A delegation loop when remote agent returns 'completed' status
  lib/crewai/src/crewai/a2a/wrapper.py
  lib/crewai/tests/a2a/test_a2a_completed_status.py
  uv.lock
Due: ruff, ruff-format, mypy

fix: add clearance hooks for tests
  lib/crewai/src/crewai/utilities/llm_call_hooks.py
  lib/crewai/tests/agents/test_agent.py
Due: ruff, ruff-format, mypy

feat: implement LLM call hooks and enhance agent execution context
  lib/crewai/src/crewai/hooks/llm_hooks.py
  lib/crewai/src/crewai/hooks/tool_hooks.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/hooks/test_human_approval.py
  tests/hooks/__init__.py
Due: ruff, ruff-format, mypy

fix verbose
  lib/crewai/src/crewai/utilities/tool_utils.py
Due: ruff, ruff-format, mypy

chore: add solid docs
  docs/en/tools/ai-ml/ragtool.mdx
Due: none

feat: introduce crew-scoped hook decorators and refactor hook registration
  lib/crewai/src/crewai/hooks/__init__.py
  lib/crewai/src/crewai/hooks/base.py
  lib/crewai/src/crewai/hooks/decorators.py
  lib/crewai/src/crewai/hooks/wrappers.py
  lib/crewai/src/crewai/project/crew_base.py
  lib/crewai/tests/hooks/test_crew_scoped_hooks.py
  lib/crewai/tests/hooks/test_decorators.py
Due: ruff, ruff-format, mypy

chore: move imports to top
  lib/crewai-tools/src/crewai_tools/tools/rag/rag_tool.py
Due: ruff, ruff-format, mypy

fix: update docs links to point to correct endpoints
  docs/en/concepts/knowledge.mdx
  docs/en/concepts/llms.mdx
  docs/en/enterprise/features/marketplace.mdx
  docs/en/enterprise/features/tools-and-integrations.mdx
  docs/en/enterprise/guides/tool-repository.mdx
  docs/en/enterprise/resources/frequently-asked-questions.mdx
  docs/en/learn/hierarchical-process.mdx
  docs/ko/concepts/knowledge.mdx
  docs/ko/concepts/llms.mdx
  docs/ko/enterprise/guides/tool-repository.mdx
  docs/ko/enterprise/resources/frequently-asked-questions.mdx
  docs/ko/learn/hierarchical-process.mdx
  docs/pt-BR/concepts/knowledge.mdx
  docs/pt-BR/concepts/llms.mdx
  docs/pt-BR/enterprise/guides/tool-repository.mdx
  docs/pt-BR/enterprise/resources/frequently-asked-questions.mdx
  docs/pt-BR/learn/hierarchical-process.mdx
Due: none

fix: update all broken doc links
  .github/workflows/docs-broken-links.yml
  docs/en/enterprise/resources/frequently-asked-questions.mdx
  docs/en/observability/portkey.mdx
  docs/en/tools/cloud-storage/overview.mdx
  docs/ko/changelog.mdx
  docs/ko/enterprise/features/marketplace.mdx
  docs/ko/enterprise/features/tools-and-integrations.mdx
  docs/ko/enterprise/resources/frequently-asked-questions.mdx
  docs/ko/observability/portkey.mdx
  docs/ko/tools/cloud-storage/overview.mdx
  docs/ko/tools/tool-integrations/overview.mdx
  docs/pt-BR/enterprise/features/marketplace.mdx
  docs/pt-BR/enterprise/features/tools-and-integrations.mdx
  docs/pt-BR/enterprise/resources/frequently-asked-questions.mdx
  docs/pt-BR/observability/portkey.mdx
  docs/pt-BR/tools/cloud-storage/overview.mdx
  docs/pt-BR/tools/tool-integrations/overview.mdx
Due: none

fix: revert circular import
  lib/crewai-tools/src/crewai_tools/tools/rag/rag_tool.py
Due: ruff, ruff-format, mypy

feat: enhance hook management with clear and unregister functions
  lib/crewai/src/crewai/hooks/__init__.py
  lib/crewai/src/crewai/hooks/llm_hooks.py
  lib/crewai/src/crewai/hooks/tool_hooks.py
  lib/crewai/tests/hooks/test_llm_hooks.py
  lib/crewai/tests/hooks/test_tool_hooks.py
Due: ruff, ruff-format, mypy

fix: lazy import qdrant-client
  lib/crewai-tools/src/crewai_tools/adapters/crewai_rag_adapter.py
  lib/crewai/src/crewai/rag/qdrant/config.py
Due: ruff, ruff-format, mypy

refactor: enhance hook type management for LLM and tool hooks
  lib/crewai/src/crewai/hooks/llm_hooks.py
  lib/crewai/src/crewai/hooks/tool_hooks.py
  lib/crewai/src/crewai/hooks/types.py
  lib/crewai/src/crewai/utilities/agent_utils.py
Due: ruff, ruff-format, mypy

feat: add trust_remote_completion_status flag to A2AConfig, Adds configuration flag to control whether to trust A2A agent completion status. Resolves #3899
  lib/crewai/src/crewai/a2a/config.py
  lib/crewai/src/crewai/a2a/wrapper.py
  lib/crewai/tests/agents/test_a2a_trust_completion_status.py
Due: ruff, ruff-format, mypy

chore: update docs
  docs/en/learn/a2a-agent-delegation.mdx
Due: none

fix: allow collection name config
  lib/crewai-tools/src/crewai_tools/tools/rag/rag_tool.py
Due: ruff, ruff-format, mypy

feat: add execution and tool hooks documentation
  docs/docs.json
  docs/en/learn/execution-hooks.mdx
  docs/en/learn/llm-hooks.mdx
  docs/en/learn/tool-hooks.mdx
  docs/ko/learn/execution-hooks.mdx
  docs/ko/learn/llm-hooks.mdx
  docs/ko/learn/tool-hooks.mdx
  docs/pt-BR/learn/execution-hooks.mdx
  docs/pt-BR/learn/llm-hooks.mdx
  docs/pt-BR/learn/tool-hooks.mdx
Due: none

chore: narrow model names for google
  docs/en/tools/ai-ml/ragtool.mdx
  lib/crewai/src/crewai/rag/embeddings/providers/google/generative_ai.py
  lib/crewai/src/crewai/rag/embeddings/providers/google/types.py
Due: ruff, ruff-format, mypy

chore: update additional docs
  docs/en/concepts/knowledge.mdx
  docs/en/concepts/memory.mdx
  docs/en/tools/database-data/mysqltool.mdx
  docs/en/tools/database-data/pgsearchtool.mdx
  docs/en/tools/file-document/jsonsearchtool.mdx
  docs/en/tools/file-document/pdfsearchtool.mdx
  docs/en/tools/file-document/txtsearchtool.mdx
  docs/en/tools/search-research/codedocssearchtool.mdx
  docs/en/tools/search-research/githubsearchtool.mdx
  docs/en/tools/search-research/websitesearchtool.mdx
  docs/en/tools/search-research/youtubechannelsearchtool.mdx
  docs/en/tools/search-research/youtubevideosearchtool.mdx
Due: none

feat: add SerpexTool multi-engine search integration, docs and tests
  lib/crewai-tools/src/crewai_tools/tools/serpex_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/serpex_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/serpex_tool/serpex_tool.py
  lib/crewai-tools/tests/tools/serpex_tool_test.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy

fix: custom tool docs links, add mintlify broken links action (#3903)
  .github/workflows/docs-broken-links.yml
  docs/en/concepts/knowledge.mdx
  docs/en/concepts/llms.mdx
  docs/en/enterprise/features/marketplace.mdx
  docs/en/enterprise/features/tools-and-integrations.mdx
  docs/en/enterprise/guides/tool-repository.mdx
  docs/en/enterprise/resources/frequently-asked-questions.mdx
  docs/en/learn/hierarchical-process.mdx
  docs/en/observability/portkey.mdx
  docs/en/tools/cloud-storage/overview.mdx
  docs/ko/changelog.mdx
  docs/ko/concepts/knowledge.mdx
  docs/ko/concepts/llms.mdx
  docs/ko/enterprise/features/marketplace.mdx
  docs/ko/enterprise/features/tools-and-integrations.mdx
  docs/ko/enterprise/guides/tool-repository.mdx
  docs/ko/enterprise/resources/frequently-asked-questions.mdx
  docs/ko/learn/hierarchical-process.mdx
  docs/ko/observability/portkey.mdx
  docs/ko/tools/cloud-storage/overview.mdx
  docs/ko/tools/tool-integrations/overview.mdx
  docs/pt-BR/concepts/knowledge.mdx
  docs/pt-BR/concepts/llms.mdx
  docs/pt-BR/enterprise/features/marketplace.mdx
  docs/pt-BR/enterprise/features/tools-and-integrations.mdx
  docs/pt-BR/enterprise/guides/tool-repository.mdx
  docs/pt-BR/enterprise/resources/frequently-asked-questions.mdx
  docs/pt-BR/learn/hierarchical-process.mdx
  docs/pt-BR/observability/portkey.mdx
  docs/pt-BR/tools/cloud-storage/overview.mdx
  docs/pt-BR/tools/tool-integrations/overview.mdx
Due: none

Fix Azure structured outputs to use json_object instead of json_schema
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/tests/llms/azure/test_azure.py
Due: ruff, ruff-format, mypy

Trigger CI re-run
  lib/crewai/tests/llms/azure/test_azure.py
Due: ruff, ruff-format

Fix: Respect CREWAI_DISABLE_TELEMETRY for tracing requests
  lib/crewai/src/crewai/events/listeners/tracing/trace_batch_manager.py
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
  lib/crewai/src/crewai/events/listeners/tracing/utils.py
  lib/crewai/tests/tracing/test_tracing_disable.py
Due: ruff, ruff-format, mypy

Fixing ChatCompletionsClinet call
  lib/crewai/src/crewai/llms/providers/azure/completion.py
Due: ruff, ruff-format, mypy

Moving from json-object -> JsonSchemaFormat
  lib/crewai/src/crewai/llms/providers/azure/completion.py
Due: ruff, ruff-format, mypy

Regex handling
  lib/crewai/src/crewai/llms/providers/azure/completion.py
Due: ruff, ruff-format, mypy

Updating the documentation
  docs/en/concepts/knowledge.mdx
Due: none

Lorenze/feat hooks (#3902)
  docs/docs.json
  docs/en/learn/execution-hooks.mdx
  docs/en/learn/llm-hooks.mdx
  docs/en/learn/tool-hooks.mdx
  docs/ko/learn/execution-hooks.mdx
  docs/ko/learn/llm-hooks.mdx
  docs/ko/learn/tool-hooks.mdx
  docs/pt-BR/learn/execution-hooks.mdx
  docs/pt-BR/learn/llm-hooks.mdx
  docs/pt-BR/learn/tool-hooks.mdx
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/hooks/__init__.py
  lib/crewai/src/crewai/hooks/decorators.py
  lib/crewai/src/crewai/hooks/llm_hooks.py
  lib/crewai/src/crewai/hooks/tool_hooks.py
  lib/crewai/src/crewai/hooks/types.py
  lib/crewai/src/crewai/hooks/wrappers.py
  lib/crewai/src/crewai/lite_agent.py
  lib/crewai/src/crewai/project/crew_base.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/src/crewai/utilities/llm_call_hooks.py
  lib/crewai/src/crewai/utilities/tool_utils.py
  lib/crewai/tests/agents/test_agent.py
  lib/crewai/tests/cassettes/test_after_llm_call_hook_modifies_messages.yaml
  lib/crewai/tests/cassettes/test_after_llm_call_hook_modifies_messages_for_next_iteration.yaml
  lib/crewai/tests/cassettes/test_before_llm_call_hook_modifies_messages.yaml
  lib/crewai/tests/cassettes/test_llm_call_hooks_can_modify_executor_attributes.yaml
  lib/crewai/tests/cassettes/test_llm_call_hooks_error_handling.yaml
  lib/crewai/tests/cassettes/test_llm_call_hooks_with_crew.yaml
  lib/crewai/tests/hooks/__init__.py
  lib/crewai/tests/hooks/test_crew_scoped_hooks.py
  lib/crewai/tests/hooks/test_decorators.py
  lib/crewai/tests/hooks/test_human_approval.py
  lib/crewai/tests/hooks/test_llm_hooks.py
  lib/crewai/tests/hooks/test_tool_hooks.py
  tests/hooks/__init__.py
Due: ruff, ruff-format, mypy

feat: a2a trust remote completion status flag
  docs/en/learn/a2a-agent-delegation.mdx
  lib/crewai/src/crewai/a2a/config.py
  lib/crewai/src/crewai/a2a/wrapper.py
  lib/crewai/tests/agents/test_a2a_trust_completion_status.py
Due: ruff, ruff-format, mypy

feat: Add Merge Agent Handler tool
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/merge_agent_handler_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/merge_agent_handler_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/merge_agent_handler_tool/merge_agent_handler_tool.py
  lib/crewai-tools/tests/tools/merge_agent_handler_tool_test.py
Due: ruff, ruff-format, mypy

Fix linting issues
  lib/crewai-tools/src/crewai_tools/tools/merge_agent_handler_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/merge_agent_handler_tool/merge_agent_handler_tool.py
Due: ruff, ruff-format, mypy

Add compact mode and context management features to address issue #3912
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agents/agent_adapters/langgraph/langgraph_adapter.py
  lib/crewai/src/crewai/agents/agent_adapters/openai_agents/openai_adapter.py
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/src/crewai/utilities/prompts.py
  lib/crewai/tests/utilities/test_memory_knowledge_truncation.py
  lib/crewai/tests/utilities/test_proactive_context_trimming.py
  lib/crewai/tests/utilities/test_prompts_compact_mode.py
  lib/crewai/tests/utilities/test_tools_prompt_strategy.py
  uv.lock
Due: ruff, ruff-format, mypy

Fix TaskEvaluation validation errors for missing quality and dict suggestions
  lib/crewai/src/crewai/utilities/evaluators/task_evaluator.py
  lib/crewai/tests/utilities/evaluators/test_task_evaluation_model.py
  uv.lock
Due: ruff, ruff-format, mypy

Trigger CI re-run
  lib/crewai/tests/utilities/evaluators/test_task_evaluation_model.py
Due: ruff, ruff-format

fix: Make TaskEvaluation.quality optional with default value
  lib/crewai/src/crewai/utilities/evaluators/task_evaluator.py
  lib/crewai/tests/utilities/evaluators/test_task_evaluator.py
Due: ruff, ruff-format, mypy

Adding additionalProperties explicitly
  lib/crewai/src/crewai/llms/providers/azure/completion.py
Due: ruff, ruff-format, mypy

Fix RagTool validation and qdrant import issues (#3918)
  lib/crewai-tools/src/crewai_tools/adapters/crewai_rag_adapter.py
  lib/crewai-tools/tests/tools/rag/rag_tool_test.py
  lib/crewai/src/crewai/tools/base_tool.py
Due: ruff, ruff-format, mypy

Adding drop parameters
  lib/crewai/src/crewai/llms/providers/azure/completion.py
Due: ruff, ruff-format, mypy

Fix typos in some files
  docs/en/changelog.mdx
Due: none
