Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

fix(flow): declare internal flows instead of inferring them
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/src/crewai/memory/encoding_flow.py
  lib/crewai/src/crewai/memory/recall_flow.py
  lib/crewai/tests/telemetry/test_flow_telemetry.py
Due: ruff, ruff-format, mypy

refactor(flow): report flow lifecycle as spans, not feature usage
  docs/edge/ar/telemetry.mdx
  docs/edge/en/telemetry.mdx
  docs/edge/ko/telemetry.mdx
  docs/edge/pt-BR/telemetry.mdx
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/src/crewai/telemetry/telemetry.py
  lib/crewai/tests/telemetry/test_flow_telemetry.py
Due: ruff, ruff-format, mypy

test(flow): update the flow_execution_span caller for the resumed argument
  lib/crewai/tests/utilities/test_events.py
Due: ruff, ruff-format

test(flow): make the checkpoint-restore guard actually guard
  lib/crewai/tests/telemetry/test_flow_telemetry.py
Due: ruff, ruff-format

fix(telemetry): record the resumed marker as a string
  lib/crewai/src/crewai/telemetry/telemetry.py
  lib/crewai/tests/telemetry/test_telemetry.py
Due: ruff, ruff-format, mypy

feat(flow): report flow outcome, duration and human-in-the-loop signals (#6961)
  docs/edge/ar/telemetry.mdx
  docs/edge/en/telemetry.mdx
  docs/edge/ko/telemetry.mdx
  docs/edge/pt-BR/telemetry.mdx
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/src/crewai/memory/encoding_flow.py
  lib/crewai/src/crewai/memory/recall_flow.py
  lib/crewai/src/crewai/telemetry/telemetry.py
  lib/crewai/tests/telemetry/test_flow_telemetry.py
  lib/crewai/tests/telemetry/test_telemetry.py
  lib/crewai/tests/utilities/test_events.py
Due: ruff, ruff-format, mypy

docs: correct kickoff path to AgentExecutor
  docs/edge/en/concepts/agents.mdx
  docs/edge/en/guides/agents/secure-agent-design.mdx
Due: none

feat: bump versions to 1.15.15
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

docs: simplify FileReadTool documentation
  docs/edge/en/tools/file-document/filereadtool.mdx
Due: none

feat: bump versions to 1.15.15 (#6962)
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

docs: clarify FileReadTool usage example
  docs/edge/en/tools/file-document/filereadtool.mdx
Due: none

fix(telemetry): stop a failed turn from marking the next one failed
  docs/edge/ar/telemetry.mdx
  docs/edge/en/telemetry.mdx
  docs/edge/ko/telemetry.mdx
  docs/edge/pt-BR/telemetry.mdx
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/tests/telemetry/test_flow_telemetry.py
Due: ruff, ruff-format, mypy

test(telemetry): cover the streamed turn emitter of the failure flag
  lib/crewai/tests/telemetry/test_flow_telemetry.py
Due: ruff, ruff-format

docs: align FileReadTool page with current tool behavior
  docs/edge/en/tools/file-document/filereadtool.mdx
Due: none

docs: show FileReadTool construction for agents, not run()
  docs/edge/en/tools/file-document/filereadtool.mdx
Due: none

docs: assume CrewAI is already installed for FileReadTool
  docs/edge/en/tools/file-document/filereadtool.mdx
Due: none

docs: remove FileReadTool installation section
  docs/edge/en/tools/file-document/filereadtool.mdx
Due: none

feat(flow): mark conversational turns so completion rate stays meaningful
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/src/crewai/telemetry/telemetry.py
  lib/crewai/tests/telemetry/test_flow_telemetry.py
  lib/crewai/tests/telemetry/test_telemetry.py
  lib/crewai/tests/utilities/test_events.py
Due: ruff, ruff-format, mypy

docs: use uv add for FileReadTool installation
  docs/edge/en/tools/file-document/filereadtool.mdx
Due: none

docs: note constructor file_path resolves against base_dir
  docs/edge/en/tools/file-document/filereadtool.mdx
Due: none

docs: clarify runtime file_path must stay in sandbox
  docs/edge/en/tools/file-document/filereadtool.mdx
Due: none

docs: sync FileReadTool page to ar, ko, and pt-BR
  docs/edge/ar/tools/file-document/filereadtool.mdx
  docs/edge/ko/tools/file-document/filereadtool.mdx
  docs/edge/pt-BR/tools/file-document/filereadtool.mdx
Due: none

feat(tracing): record when a trace batch is shared with amp
  docs/edge/ar/telemetry.mdx
  docs/edge/en/telemetry.mdx
  docs/edge/ko/telemetry.mdx
  docs/edge/pt-BR/telemetry.mdx
  lib/crewai/src/crewai/events/listeners/tracing/trace_batch_manager.py
  lib/crewai/tests/tracing/test_tracing.py
Due: ruff, ruff-format, mypy

docs(telemetry): disclose the attributes the trace signal carries
  docs/edge/ar/telemetry.mdx
  docs/edge/en/telemetry.mdx
  docs/edge/ko/telemetry.mdx
  docs/edge/pt-BR/telemetry.mdx
Due: none

docs: rewrite FileWriterTool page in plain reference style
  docs/edge/ar/tools/file-document/filewritetool.mdx
  docs/edge/en/tools/file-document/filewritetool.mdx
  docs/edge/ko/tools/file-document/filewritetool.mdx
  docs/edge/pt-BR/tools/file-document/filewritetool.mdx
Due: none

docs: rewrite Secure Agent Design in plain reference style
  docs/docs.json
  docs/edge/ar/concepts/production-architecture.mdx
  docs/edge/ar/guides/agents/crafting-effective-agents.mdx
  docs/edge/ar/guides/agents/secure-agent-design.mdx
  docs/edge/ar/mcp/security.mdx
  docs/edge/en/concepts/production-architecture.mdx
  docs/edge/en/guides/agents/crafting-effective-agents.mdx
  docs/edge/en/guides/agents/secure-agent-design.mdx
  docs/edge/en/mcp/security.mdx
  docs/edge/ko/concepts/agents.mdx
  docs/edge/ko/concepts/production-architecture.mdx
  docs/edge/ko/guides/agents/crafting-effective-agents.mdx
  docs/edge/ko/guides/agents/secure-agent-design.mdx
  docs/edge/ko/mcp/security.mdx
  docs/edge/pt-BR/concepts/production-architecture.mdx
  docs/edge/pt-BR/guides/agents/crafting-effective-agents.mdx
  docs/edge/pt-BR/guides/agents/secure-agent-design.mdx
  docs/edge/pt-BR/mcp/security.mdx
Due: none

docs: fix locale links to EN-only A2A and E2B pages
  docs/edge/ar/guides/agents/secure-agent-design.mdx
  docs/edge/ko/guides/agents/secure-agent-design.mdx
  docs/edge/pt-BR/guides/agents/secure-agent-design.mdx
Due: none

ci: pass --use-system-ca to paths-filter under Node 24
  .github/workflows/linter.yml
  .github/workflows/tests.yml
  .github/workflows/type-checker.yml
  .github/workflows/vulnerability-scan.yml
Due: none

Revert "ci: pass --use-system-ca to paths-filter under Node 24"
  .github/workflows/linter.yml
  .github/workflows/tests.yml
  .github/workflows/type-checker.yml
  .github/workflows/vulnerability-scan.yml
Due: none

ci: stop Run Tests from starting on docs-only PRs
  .github/workflows/linter.yml
  .github/workflows/non-code-ci-status.yml
  .github/workflows/tests.yml
  .github/workflows/type-checker.yml
  .github/workflows/vulnerability-scan.yml
Due: none

fix: address review comments on the k8s agent sandbox tools
  lib/crewai-tools/src/crewai_tools/tools/k8s_agent_sandbox/README.md
  lib/crewai-tools/src/crewai_tools/tools/k8s_agent_sandbox/lifecycle_manager.py
  lib/crewai-tools/src/crewai_tools/tools/k8s_agent_sandbox/python_tool.py
  lib/crewai-tools/src/crewai_tools/tools/k8s_agent_sandbox/settings.py
  lib/crewai-tools/src/crewai_tools/tools/k8s_agent_sandbox/utils.py
  lib/crewai-tools/tests/tools/k8s_agent_sandbox/conftest.py
  lib/crewai-tools/tests/tools/k8s_agent_sandbox/test_base_tool.py
  lib/crewai-tools/tests/tools/k8s_agent_sandbox/test_lifecycle_manager.py
  lib/crewai-tools/tests/tools/k8s_agent_sandbox/test_python_tool.py
  lib/crewai-tools/tests/tools/k8s_agent_sandbox/test_settings.py
Due: ruff, ruff-format, mypy

fix: clean up staged temp files when the sandbox command raises
  lib/crewai-tools/src/crewai_tools/tools/k8s_agent_sandbox/base_tool.py
  lib/crewai-tools/src/crewai_tools/tools/k8s_agent_sandbox/file_tool.py
  lib/crewai-tools/src/crewai_tools/tools/k8s_agent_sandbox/python_tool.py
  lib/crewai-tools/tests/tools/k8s_agent_sandbox/test_file_tool.py
  lib/crewai-tools/tests/tools/k8s_agent_sandbox/test_python_tool.py
Due: ruff, ruff-format, mypy

fix: only translate a genuinely missing sandbox SDK
  lib/crewai-tools/src/crewai_tools/tools/k8s_agent_sandbox/utils.py
  lib/crewai-tools/tests/tools/k8s_agent_sandbox/test_utils.py
Due: ruff, ruff-format, mypy

Implement tests for LexMexTool
  lib/crewai-tools/src/lib/crewai-tools/tests/tools/test_lexmex_tool.py
Due: ruff, ruff-format, mypy

fix: report a temporary file that the cleanup command failed to remove
  lib/crewai-tools/src/crewai_tools/tools/k8s_agent_sandbox/base_tool.py
  lib/crewai-tools/tests/tools/k8s_agent_sandbox/test_base_tool.py
  lib/crewai-tools/tests/tools/k8s_agent_sandbox/test_utils.py
Due: ruff, ruff-format, mypy

Add LexMexTool to imports and tool list
  lib/crewai-tools/src/crewai_tools/__init__.py
Due: ruff, ruff-format, mypy

Add LexMexTool for querying Mexican federal laws
  lib/crewai-tools/src/crewai_tools/tools/lexmex_tool/lexmex_tool.py
Due: ruff, ruff-format, mypy

Create README.md for LexMexTool
  lib/crewai-tools/src/crewai_tools/tools/lexmex_tool/README.md
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
