Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

Add security fix documentation for F-001
  SECURITY_FIX_F001.md
Due: none

Add Slack summary for security fix
  SLACK_SUMMARY.md
Due: none

Delete SECURITY_FIX_F001.md
  SECURITY_FIX_F001.md
Due: none

Delete SLACK_SUMMARY.md
  SLACK_SUMMARY.md
Due: none

feat: enhance image block handling in Anthropic provider and update AgentExecutor logic
  lib/crewai/src/crewai/agents/step_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
Due: ruff, ruff-format, mypy

lint
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
Due: ruff, ruff-format, mypy

lint
  lib/crewai/src/crewai/agents/step_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
Due: ruff, ruff-format, mypy

fix(crew): preserve full task output in crew.kickoff() (fixes #4603)
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/tests/test_executor_state_reset.py
Due: ruff, ruff-format, mypy

fix: test_invoke_resets_messages sets task.output via side_effect
  lib/crewai/tests/test_executor_state_reset.py
Due: ruff, ruff-format

feat(tools): Add MoltsPayTool - crypto payments for AI agents
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/moltspay_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/moltspay_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/moltspay_tool/moltspay_tool.py
Due: ruff, ruff-format, mypy

ci: skip generate-specs job for fork PRs
  .github/workflows/generate-tool-specs.yml
Due: none

fix: force LF line endings in generate_tool_specs.py on all platforms
  lib/crewai-tools/src/crewai_tools/generate_tool_specs.py
Due: ruff, ruff-format, mypy

implement dedicated background event loop for MCP operations
  lib/crewai/src/crewai/tools/mcp_native_tool.py
Due: ruff, ruff-format, mypy

linted
  lib/crewai/src/crewai/tools/mcp_native_tool.py
Due: ruff, ruff-format, mypy

refactor(MCPNativeTool): remove unused shared loop thread and clean up code
  lib/crewai/src/crewai/tools/mcp_native_tool.py
Due: ruff, ruff-format, mypy

memory improvements
  .github/workflows/docs-stale-check.yml
  CLAUDE.md
  EXPANDED_CLAUDE.md
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/memory/types.py
  lib/crewai/src/crewai/tools/memory_tools.py
  lib/crewai/src/crewai/translations/en.json
Due: ruff, ruff-format, mypy

fix(brave-tools): correct _refine_response return type annotations
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/base.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_image_tool.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_llm_context_tool.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_local_pois_tool.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_news_tool.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_video_tool.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_web_tool.py
Due: ruff, ruff-format, mypy

Introduce more Brave Search tools (#4446)
  docs/en/tools/search-research/bravesearchtool.mdx
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/base.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_image_tool.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_llm_context_tool.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_local_pois_tool.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_news_tool.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_search_tool.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_video_tool.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_web_tool.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/response_types.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/schemas.py
  lib/crewai-tools/tests/tools/brave_search_tool_test.py
  lib/crewai-tools/tool.specs.json
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
Due: ruff, ruff-format, mypy

fix: native tool calls discarded when LLM returns both text and tool calls
  lib/crewai/src/crewai/llm.py
Due: ruff, ruff-format, mypy

fix: apply same tool-call-dropping fix to async _ahandle_non_streaming_response
  lib/crewai/src/crewai/llm.py
Due: ruff, ruff-format, mypy

test(telemetry): exercise crew_creation() directly to prevent vacuous pass
  lib/crewai/tests/telemetry/test_telemetry.py
Due: ruff, ruff-format

fix(knowledge): declare complete summary_of lists for TL;DR units
  knowledge.yaml
Due: none

fix(knowledge): add missing summary hints to tasks and memory units
  knowledge.yaml
Due: none

fix: ignore extra fields (security_context) in MCP tool schemas
  lib/crewai-tools/src/crewai_tools/adapters/mcp_adapter.py
  lib/crewai-tools/tests/adapters/mcp_adapter_test.py
  lib/crewai/src/crewai/mcp/tool_resolver.py
  lib/crewai/tests/utilities/test_pydantic_schema_utils.py
Due: ruff, ruff-format, mypy

fix: merge consecutive same-role messages for Anthropic Claude 4.6+
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

docs: update Exa Search Tool page with improved naming, description, and configuration options
  docs/en/tools/search-research/exasearchtool.mdx
Due: none

fix: update llm parameter handling in human_feedback function
  lib/crewai/src/crewai/flow/human_feedback.py
  lib/crewai/tests/test_async_human_feedback.py
Due: ruff, ruff-format, mypy

fix: update llm parameter handling in human_feedback function (#4801)
  lib/crewai/src/crewai/flow/human_feedback.py
  lib/crewai/tests/test_async_human_feedback.py
Due: ruff, ruff-format, mypy

fix: allow hyphenated tool names in MCP references like notion#get-page
  lib/crewai/src/crewai/agents/agent_builder/base_agent.py
  lib/crewai/src/crewai/mcp/tool_resolver.py
  lib/crewai/tests/agents/test_agent.py
Due: ruff, ruff-format, mypy

fix: create fresh MCP client per tool invocation to prevent parallel call races
  lib/crewai/src/crewai/mcp/tool_resolver.py
  lib/crewai/src/crewai/tools/mcp_native_tool.py
  lib/crewai/tests/mcp/test_mcp_config.py
Due: ruff, ruff-format, mypy

ensure we support tool search - saving tokens and dynamically inject appropriate tools during execution - anthropic (#4779)
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/tests/cassettes/llms/anthropic/test_tool_search_discovers_and_calls_tool.yaml
  lib/crewai/tests/cassettes/llms/anthropic/test_tool_search_saves_input_tokens.yaml
  lib/crewai/tests/llms/anthropic/test_anthropic.py
Due: ruff, ruff-format, mypy

test: ensure we can filter hyphenated MCP tool
  lib/crewai/src/crewai/mcp/tool_resolver.py
  lib/crewai/tests/mcp/test_amp_mcp.py
Due: ruff, ruff-format, mypy

Addressing MCP tools resolutions & eliminates all shared mutable connection (#4792)
  lib/crewai/src/crewai/agents/agent_builder/base_agent.py
  lib/crewai/src/crewai/mcp/tool_resolver.py
  lib/crewai/src/crewai/tools/mcp_native_tool.py
  lib/crewai/tests/agents/test_agent.py
  lib/crewai/tests/mcp/test_amp_mcp.py
  lib/crewai/tests/mcp/test_mcp_config.py
Due: ruff, ruff-format, mypy

Update lib/crewai/tests/llms/bedrock/test_bedrock.py
  lib/crewai/tests/llms/bedrock/test_bedrock.py
Due: ruff, ruff-format

fix: group bedrock tool results
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/tests/llms/bedrock/test_bedrock.py
Due: ruff, ruff-format, mypy

fix(bedrock): group parallel tool results in single user message (#4775)
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/tests/llms/bedrock/test_bedrock.py
Due: ruff, ruff-format, mypy

chore: log skill body char excess
  lib/crewai/src/crewai/skills/parser.py
Due: ruff, ruff-format, mypy

fix: inject skill context in Agent.kickoff() via _prepare_kickoff
  lib/crewai/src/crewai/agent/core.py
Due: ruff, ruff-format, mypy

fix: guard set_skills against serialized crew dict during agent copy
  lib/crewai/src/crewai/agent/core.py
Due: ruff, ruff-format, mypy
