Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

feat: add Tavily Crawl Tool for crawling websites and extracting content from multiple pages
  docs/en/tools/search-research/overview.mdx
  docs/en/tools/search-research/tavilycrawltool.mdx
  docs/ko/tools/search-research/overview.mdx
  docs/ko/tools/search-research/tavilycrawltool.mdx
  docs/pt-BR/tools/search-research/overview.mdx
  docs/pt-BR/tools/search-research/tavilycrawltool.mdx
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/tavily_crawl_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/tavily_crawl_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/tavily_crawl_tool/tavily_crawl_tool.py
Due: ruff, ruff-format, mypy

feat: add Tavily Map Tool for mapping website structure and discovering pages
  docs/en/tools/search-research/overview.mdx
  docs/en/tools/search-research/tavilymaptool.mdx
  docs/ko/tools/search-research/overview.mdx
  docs/ko/tools/search-research/tavilymaptool.mdx
  docs/pt-BR/tools/search-research/overview.mdx
  docs/pt-BR/tools/search-research/tavilymaptool.mdx
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/tavily_map_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/tavily_map_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/tavily_map_tool/tavily_map_tool.py
Due: ruff, ruff-format, mypy

feat: add new parameters to TavilySearchTool
  docs/en/tools/search-research/tavilysearchtool.mdx
  docs/ko/tools/search-research/tavilysearchtool.mdx
  lib/crewai-tools/src/crewai_tools/tools/tavily_search_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/tavily_search_tool/tavily_search_tool.py
Due: ruff, ruff-format, mypy

feat: rename TavilyExtractorTool to TavilyExtractTool and add new parameters
  docs/en/tools/search-research/overview.mdx
  docs/en/tools/search-research/tavilyextractortool.mdx
  docs/ko/tools/search-research/overview.mdx
  docs/ko/tools/search-research/tavilyextractortool.mdx
  docs/pt-BR/tools/search-research/overview.mdx
  docs/pt-BR/tools/search-research/tavilyextracttool.mdx
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/tavily_extractor_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/tavily_extractor_tool/tavily_extractor_tool.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy

fixed api-reference/status docs page
  docs/en/api-reference/introduction.mdx
  docs/en/api-reference/status.mdx
  docs/enterprise-api.base.yaml
  docs/enterprise-api.en.yaml
  docs/enterprise-api.ko.yaml
  docs/enterprise-api.pt-BR.yaml
  docs/ko/api-reference/introduction.mdx
  docs/ko/api-reference/status.mdx
  docs/pt-BR/api-reference/introduction.mdx
  docs/pt-BR/api-reference/status.mdx
Due: none

fixed api-reference/status docs page (#4109)
  docs/en/api-reference/introduction.mdx
  docs/en/api-reference/status.mdx
  docs/enterprise-api.base.yaml
  docs/enterprise-api.en.yaml
  docs/enterprise-api.ko.yaml
  docs/enterprise-api.pt-BR.yaml
  docs/ko/api-reference/introduction.mdx
  docs/ko/api-reference/status.mdx
  docs/pt-BR/api-reference/introduction.mdx
  docs/pt-BR/api-reference/status.mdx
Due: none

feat: Add Tzafon browser termination and remove redundant initialization checks in sync and async run methods.
  lib/crewai-tools/src/crewai_tools/tools/tzafon_load_tool/tzafon_load_tool.py
Due: ruff, ruff-format, mypy

feat: Refactor TzafonLoadTool to create and terminate a browser instance per run.
  lib/crewai-tools/src/crewai_tools/tools/tzafon_load_tool/tzafon_load_tool.py
Due: ruff, ruff-format, mypy

fix: Initialize `content` variable before use in browser operations.
  lib/crewai-tools/src/crewai_tools/tools/tzafon_load_tool/tzafon_load_tool.py
Due: ruff, ruff-format, mypy

feat: introduce parameter to initialization.
  lib/crewai-tools/src/crewai_tools/tools/tzafon_load_tool/tzafon_load_tool.py
Due: ruff, ruff-format, mypy

feat: add Airweave Search Tool documentation and examples
  docs/docs.json
  docs/en/tools/search-research/airweavesearchtool.mdx
  docs/en/tools/search-research/overview.mdx
  lib/crewai-tools/src/crewai_tools/tools/airweave_tool/example.py
Due: ruff, ruff-format, mypy

chore: add deployment action, trigger for releases
  .github/workflows/publish.yml
  .github/workflows/trigger-deployment-tests.yml
Due: none

feat(tools): Add OlostepTool for web scraping, crawling, mapping, and AI answers
  docs/docs.json
  docs/en/tools/web-scraping/olosteptool.mdx
  docs/en/tools/web-scraping/overview.mdx
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/olostep_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/olostep_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/olostep_tool/olostep_tool.py
  lib/crewai-tools/tests/tools/olostep_tool_test.py
Due: ruff, ruff-format, mypy

fix: re-raise OutputParserError in format_answer() for retry logic (fixes #4113)
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/utilities/test_agent_utils.py
Due: ruff, ruff-format, mypy

chore: add commitizen pre-commit hook
  .pre-commit-config.yaml
Due: none

Fixing this with test cases
  lib/crewai/src/crewai/project/crew_base.py
  lib/crewai/tests/config/tasks_with_none_context.yaml
  lib/crewai/tests/test_project.py
Due: ruff, ruff-format, mypy

chore: add tests for tool call streaming
  lib/crewai/tests/llms/test_tool_call_streaming.py
Due: ruff, ruff-format

Remove `CREWAI_BASE_URL` and fetch from settings instead
  lib/crewai/src/crewai/cli/tools/main.py
  lib/crewai/src/crewai/events/listeners/tracing/trace_batch_manager.py
  lib/crewai/src/crewai/utilities/constants.py
Due: ruff, ruff-format, mypy

voyage-multimodal-3.5 (without Matryoshka at the moment)
  lib/crewai/src/crewai/rag/embeddings/providers/voyageai/embedding_callable.py
  lib/crewai/tests/rag/embeddings/test_voyageai_embedding.py
Due: ruff, ruff-format, mypy

fix: merge system messages into user messages for Ollama models
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

Prevent crew inside flow to finish trace batch prematurely on failure
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
Due: ruff, ruff-format, mypy

Enhance typing and ensure timestamp is always included in event_data inside traces
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
Due: ruff, ruff-format, mypy

Remove `llm_call_started` and `llm_call_completed` from complex events list
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
Due: ruff, ruff-format, mypy

Add todo on TaskStartedEvent model
  lib/crewai/src/crewai/events/types/task_events.py
Due: ruff, ruff-format, mypy

Add flow failed event
  lib/crewai/src/crewai/events/types/flow_events.py
Due: ruff, ruff-format, mypy

Move flow trace collection and batch finalisation to event listener
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
  lib/crewai/src/crewai/flow/flow.py
Due: ruff, ruff-format, mypy

Remove redundant parameter from `emit` call
  lib/crewai/src/crewai/flow/flow.py
Due: ruff, ruff-format, mypy

Emit FlowFailedEvent and finalise batch via added event listener
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
  lib/crewai/src/crewai/flow/flow.py
Due: ruff, ruff-format, mypy

fix: support 'embedder' key as alias for 'embedding_model' in RagTool config
  lib/crewai-tools/src/crewai_tools/tools/rag/rag_tool.py
  lib/crewai-tools/src/crewai_tools/tools/rag/types.py
  lib/crewai-tools/tests/tools/rag/rag_tool_test.py
Due: ruff, ruff-format, mypy

chore: remove CREWAI_BASE_URL and fetch url from settings instead
  lib/crewai/src/crewai/cli/tools/main.py
  lib/crewai/src/crewai/events/listeners/tracing/trace_batch_manager.py
  lib/crewai/src/crewai/utilities/constants.py
Due: ruff, ruff-format, mypy

Fix fetching of error description for workos polling
  lib/crewai/src/crewai/cli/authentication/main.py
Due: ruff, ruff-format, mypy

fix: handle ValidationError in guardrail retry loop (fixes #4126)
  lib/crewai/src/crewai/task.py
  lib/crewai/tests/test_task_guardrails.py
Due: ruff, ruff-format, mypy

fix: use CREWAI_PLUS_URL env var in precedence over PlusAPI configured value
  lib/crewai/src/crewai/cli/plus_api.py
  lib/crewai/tests/cli/test_plus_api.py
Due: ruff, ruff-format, mypy

feat: bypass TLS certificate verification when calling platform
  lib/crewai-tools/src/crewai_tools/tools/crewai_platform_tools/crewai_platform_action_tool.py
  lib/crewai-tools/src/crewai_tools/tools/crewai_platform_tools/crewai_platform_tool_builder.py
  lib/crewai-tools/tests/tools/crewai_platform_tools/test_crewai_platform_action_tool.py
  lib/crewai-tools/tests/tools/crewai_platform_tools/test_crewai_platform_tool_builder.py
Due: ruff, ruff-format, mypy

test: fix test
  lib/crewai/tests/cli/test_plus_api.py
Due: ruff, ruff-format

Resolving some connection issues (#4129)
  lib/crewai-tools/src/crewai_tools/tools/crewai_platform_tools/crewai_platform_action_tool.py
  lib/crewai-tools/src/crewai_tools/tools/crewai_platform_tools/crewai_platform_tool_builder.py
  lib/crewai-tools/tests/tools/crewai_platform_tools/test_crewai_platform_action_tool.py
  lib/crewai-tools/tests/tools/crewai_platform_tools/test_crewai_platform_tool_builder.py
  lib/crewai/src/crewai/cli/plus_api.py
  lib/crewai/tests/cli/test_plus_api.py
Due: ruff, ruff-format, mypy

feat: add galileo to integrations page
  docs/docs.json
  docs/en/observability/galileo.mdx
  docs/images/galileo-trace-veiw.png
Due: none

fix: linting issues
  docs/en/observability/galileo.mdx
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/)
