Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

fix(agents): exclude sanitized cache-read tool name from tool cache
  lib/crewai/src/crewai/agents/tools_handler.py
  lib/crewai/tests/tools/test_tool_usage.py
Due: ruff, ruff-format, mypy

fix(tasks): rename json property to json_output to avoid BaseModel method conflict
  lib/crewai/src/crewai/crews/crew_output.py
  lib/crewai/src/crewai/tasks/task_output.py
  lib/crewai/tests/test_task.py
Due: ruff, ruff-format, mypy

Address CodeRabbit review: fix ClassVar misuse, JSON parsing, and API-key crash
  lib/crewai-tools/src/crewai_tools/tools/relayshield_tool/relayshield_tool.py
Due: ruff, ruff-format, mypy

Guard against non-dict JSON responses in both RelayShield tools
  lib/crewai-tools/src/crewai_tools/tools/relayshield_tool/relayshield_tool.py
Due: ruff, ruff-format, mypy

docs: group execution hooks and document all hook contexts (#6548)
  docs/docs.json
  docs/edge/en/learn/execution-boundary-hooks.mdx
  docs/edge/en/learn/execution-hooks.mdx
  docs/edge/en/learn/llm-hooks.mdx
  docs/edge/en/learn/step-hooks.mdx
  docs/edge/en/learn/tool-hooks.mdx
Due: none

feat(tools): add Hlido agent trust tools (HlidoTrustCheckTool, HlidoRecommendTool)
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/hlido_trust_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/hlido_trust_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/hlido_trust_tool/hlido_trust_tool.py
  lib/crewai-tools/tests/tools/hlido_trust_tool_test.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy

fix: skip result_as_answer when tool execution raised an error
  lib/crewai/src/crewai/agents/crew_agent_executor.py
Due: ruff, ruff-format, mypy

fix: replace bare raise in _original_tool_calling with ToolUsageError
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/tests/tools/test_tool_usage.py
Due: ruff, ruff-format, mypy

fix(crew): await async before/after_kickoff_callbacks in akickoff
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/crews/utils.py
  lib/crewai/tests/crew/test_async_crew.py
Due: ruff, ruff-format, mypy

test(converter): add async coverage for trailing-brace-commentary case
  lib/crewai/tests/utilities/test_converter.py
Due: ruff, ruff-format

fix(converter): don't let trailing braces corrupt valid JSON extraction
  lib/crewai/src/crewai/utilities/converter.py
  lib/crewai/tests/utilities/test_converter.py
Due: ruff, ruff-format, mypy

fix(rag): preserve Milvus IP scores
  lib/crewai/src/crewai/rag/milvus/utils.py
  lib/crewai/tests/rag/milvus/test_utils.py
Due: ruff, ruff-format, mypy

docs: add The Context Company observability integration
  docs/docs.json
  docs/edge/en/observability/overview.mdx
  docs/edge/en/observability/the-context-company.mdx
Due: none

docs: clarify The Context Company capabilities
  docs/edge/en/observability/the-context-company.mdx
Due: none

docs: refine The Context Company listing
  docs/edge/en/observability/overview.mdx
Due: none

Create PaySafe integration documentation
  docs/edge/en/tools/integration/crewai-paysafe.mdx
Due: none

Add new page for crewai-paysafe integration
  docs/docs.json
Due: none

Fix null repository agent attributes
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/agents/test_agent.py
Due: ruff, ruff-format, mypy

Fix null repository agent attributes (#6560)
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/agents/test_agent.py
Due: ruff, ruff-format, mypy

Add organization ID param to PlusAPI client
  lib/crewai-core/src/crewai_core/plus_api.py
  lib/crewai/tests/cli/test_plus_api.py
Due: ruff, ruff-format, mypy

Add organization ID param to PlusAPI client (#6561)
  lib/crewai-core/src/crewai_core/plus_api.py
  lib/crewai/tests/cli/test_plus_api.py
Due: ruff, ruff-format, mypy

fix(tools): raise ToolUsageError instead of bare raise for non-dict args
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/tests/tools/test_tool_usage.py
Due: ruff, ruff-format, mypy

fix(tools): make RAG file extension detection case-insensitive
  lib/crewai-tools/src/crewai_tools/rag/data_types.py
  lib/crewai-tools/tests/tools/rag/test_data_types_from_content.py
Due: ruff, ruff-format, mypy

fix(reasoning): detect bare READY markers in planning responses
  lib/crewai/src/crewai/utilities/reasoning_handler.py
  lib/crewai/tests/utilities/test_response_indicates_ready.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.15.3a1
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.15.3a1 (#6566)
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

docs: snapshot and changelog for v1.15.3a1
  docs/edge/ar/changelog.mdx
  docs/edge/en/changelog.mdx
  docs/edge/ko/changelog.mdx
  docs/edge/pt-BR/changelog.mdx
Due: none

fix(files): raise PermanentUploadError instead of bare raise in get_uploader
  lib/crewai-files/src/crewai_files/uploaders/factory.py
  lib/crewai-files/tests/test_factory.py
Due: ruff, ruff-format, mypy

docs: snapshot and changelog for v1.15.3a1 (#6567)
  docs/edge/ar/changelog.mdx
  docs/edge/en/changelog.mdx
  docs/edge/ko/changelog.mdx
  docs/edge/pt-BR/changelog.mdx
Due: none

Bump setuptools to 0.83.0 to fix PYSEC-2026-3447
  pyproject.toml
  uv.lock
Due: none

Bump setuptools to 0.83.0 to fix PYSEC-2026-3447 (#6570)
  pyproject.toml
  uv.lock
Due: none

fix: sync kickoff-completed event with OUTPUT hook result
  lib/crewai/src/crewai/crew.py
  lib/crewai/tests/hooks/test_interception_conformance.py
Due: ruff, ruff-format, mypy

docs: add TCC to observability references
  docs/edge/en/guides/advanced/customizing-prompts.mdx
Due: none

style: drop OUTPUT sync comment and rename crew output test
  lib/crewai/src/crewai/crew.py
  lib/crewai/tests/hooks/test_interception_conformance.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.15.3a2
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

fix: sync kickoff-completed event with OUTPUT hook result (#6571)
  lib/crewai/src/crewai/crew.py
  lib/crewai/tests/hooks/test_interception_conformance.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.15.3a2 (#6573)
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy
