Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock

fix: improve error handling for HumanFeedbackPending in flow execution (#4203)
  lib/crewai/src/crewai/flow/flow.py
Due: ruff, ruff-format, mypy

fixing cursor comments
  lib/crewai/src/crewai/a2a/config.py
Due: ruff, ruff-format, mypy

Add comprehensive NVIDIA provider tests
  lib/crewai/tests/llms/nvidia/__init__.py
  lib/crewai/tests/llms/nvidia/test_nvidia.py
Due: ruff, ruff-format

fix: add missing Self import to NvidiaCompletion
  lib/crewai/src/crewai/llms/providers/nvidia/completion.py
Due: ruff, ruff-format, mypy

Update PII Redaction documentation to clarify Enterprise plan requirements and version constraints
  docs/en/enterprise/features/pii-trace-redactions.mdx
Due: none

visual re-ordering
  docs/en/enterprise/features/pii-trace-redactions.mdx
Due: none

dropping not useful info
  docs/en/enterprise/features/pii-trace-redactions.mdx
Due: none

fix: add skipif decorator to test_requires_env_var test
  lib/crewai-tools/tests/tools/parallel_search_tool_test.py
Due: ruff, ruff-format

feat: add environment tools for file system operations
  lib/crewai/src/crewai/experimental/__init__.py
  lib/crewai/src/crewai/experimental/environment_tools/__init__.py
  lib/crewai/src/crewai/experimental/environment_tools/base_environment_tool.py
  lib/crewai/src/crewai/experimental/environment_tools/environment_tools.py
  lib/crewai/src/crewai/experimental/environment_tools/file_read_tool.py
  lib/crewai/src/crewai/experimental/environment_tools/file_search_tool.py
  lib/crewai/src/crewai/experimental/environment_tools/grep_tool.py
  lib/crewai/src/crewai/experimental/environment_tools/list_dir_tool.py
  lib/crewai/tests/experimental/environment_tools/__init__.py
  lib/crewai/tests/experimental/environment_tools/test_environment_tools.py
Due: ruff, ruff-format, mypy

refactor: improve code readability in environment tools
  lib/crewai/src/crewai/experimental/environment_tools/file_search_tool.py
  lib/crewai/src/crewai/experimental/environment_tools/grep_tool.py
  lib/crewai/src/crewai/experimental/environment_tools/list_dir_tool.py
Due: ruff, ruff-format, mypy

linted
  lib/crewai/src/crewai/experimental/environment_tools/file_search_tool.py
  lib/crewai/src/crewai/experimental/environment_tools/grep_tool.py
  lib/crewai/src/crewai/experimental/environment_tools/list_dir_tool.py
Due: ruff, ruff-format, mypy

refactor: update allowed_paths default behavior in environment tools
  lib/crewai/src/crewai/experimental/environment_tools/base_environment_tool.py
  lib/crewai/src/crewai/experimental/environment_tools/environment_tools.py
  lib/crewai/src/crewai/experimental/environment_tools/file_read_tool.py
  lib/crewai/src/crewai/experimental/environment_tools/list_dir_tool.py
  lib/crewai/tests/experimental/environment_tools/test_environment_tools.py
Due: ruff, ruff-format, mypy

fix: use correct source_policy format (include_domains/exclude_domains)
  lib/crewai-tools/src/crewai_tools/tools/parallel_tools/README.md
  lib/crewai-tools/src/crewai_tools/tools/parallel_tools/parallel_search_tool.py
  lib/crewai-tools/tests/tools/parallel_search_tool_test.py
Due: ruff, ruff-format, mypy

doc changes for better deplyment guidelines and checklist
  .claude/CLAUDE.md
  .claude/README.md
  .claude/skills/crewai-architect/SKILL.md
  .claude/skills/crewai-architect/references/crew-patterns.md
  .claude/skills/crewai-architect/references/flow-patterns.md
  .claude/skills/crewai-architect/references/llm-patterns.md
  .claude/skills/crewai-architect/references/multi-agent-patterns.md
  .claude/skills/crewai-enterprise-endpoint-manager/SKILL.md
  .claude/skills/crewai-enterprise-endpoint-manager/references/error-handling.md
  .claude/skills/crewai-enterprise-endpoint-manager/references/python-client.md
  .claude/skills/crewai-tool-creator/SKILL.md
  .claude/skills/crewai-tool-creator/references/design-principles.md
  .claude/skills/crewai-tool-creator/references/tool-patterns.md
  .claude/skills/software-architect/SKILL.md
  .claude/skills/streamlit/SKILL.md
  .claude/skills/streamlit/references/layout-patterns.md
  .claude/skills/streamlit/references/state-patterns.md
  .claude/skills/streamlit/references/widgets-catalog.md
  docs/en/enterprise/guides/deploy-to-amp.mdx
  docs/en/enterprise/guides/prepare-for-deployment.mdx
Due: none

chore: remove .claude folder from version control
  .claude/CLAUDE.md
  .claude/README.md
  .claude/skills/crewai-architect/SKILL.md
  .claude/skills/crewai-architect/references/crew-patterns.md
  .claude/skills/crewai-architect/references/flow-patterns.md
  .claude/skills/crewai-architect/references/llm-patterns.md
  .claude/skills/crewai-architect/references/multi-agent-patterns.md
  .claude/skills/crewai-enterprise-endpoint-manager/SKILL.md
  .claude/skills/crewai-enterprise-endpoint-manager/references/error-handling.md
  .claude/skills/crewai-enterprise-endpoint-manager/references/python-client.md
  .claude/skills/crewai-tool-creator/SKILL.md
  .claude/skills/crewai-tool-creator/references/design-principles.md
  .claude/skills/crewai-tool-creator/references/tool-patterns.md
  .claude/skills/software-architect/SKILL.md
  .claude/skills/streamlit/SKILL.md
  .claude/skills/streamlit/references/layout-patterns.md
  .claude/skills/streamlit/references/state-patterns.md
  .claude/skills/streamlit/references/widgets-catalog.md
Due: none

Better project structure for flows
  docs/en/enterprise/guides/deploy-to-amp.mdx
  docs/en/enterprise/guides/prepare-for-deployment.mdx
Due: none

docs.json updated structure
  .gitignore
  docs/docs.json
Due: none

chore: use redefined type instead of optional dep
  lib/crewai/src/crewai/a2a/config.py
Due: ruff, ruff-format, mypy

improve docs
  docs/en/enterprise/features/pii-trace-redactions.mdx
  docs/images/enterprise/pii_mask_custom_recognizer_salary.png
  docs/images/enterprise/pii_mask_recognizers_options.png
Due: none

better wording
  docs/en/enterprise/features/pii-trace-redactions.mdx
Due: none

Add PII Redaction feature documentation in Korean and Portuguese, including details on activation, supported entity types, and best practices for usage.
  docs/docs.json
  docs/ko/enterprise/features/pii-trace-redactions.mdx
  docs/pt-BR/enterprise/features/pii-trace-redactions.mdx
Due: none

wip restrcuturing agent executor and liteagent
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agents/agent_builder/base_agent_executor_mixin.py
  lib/crewai/src/crewai/experimental/__init__.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/lite_agent.py
  lib/crewai/tests/agents/test_agent_executor.py
Due: ruff, ruff-format, mypy

chore: update changelog for version 1.8.0 release
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

chore: update changelog for version 1.8.0 release (#4206)
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

feat: add native OpenRouter provider
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/openrouter/__init__.py
  lib/crewai/src/crewai/llms/providers/openrouter/completion.py
Due: ruff, ruff-format, mypy

test: add comprehensive unit tests for OpenRouterCompletion
  lib/crewai/src/crewai/llms/providers/openrouter/completion.py
  lib/crewai/tests/llms/providers/__init__.py
  lib/crewai/tests/llms/providers/openrouter/__init__.py
  lib/crewai/tests/llms/providers/openrouter/test_completion.py
Due: ruff, ruff-format, mypy

style: fix linting and docstring issues
  lib/crewai/src/crewai/llms/providers/openrouter/completion.py
  lib/crewai/tests/llms/providers/openrouter/test_completion.py
Due: ruff, ruff-format, mypy

fix: prevent duplicate provider kwarg in OpenRouterCompletion
  lib/crewai/src/crewai/llms/providers/openrouter/completion.py
Due: ruff, ruff-format, mypy

fix: address Copilot review feedback
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/openrouter/completion.py
Due: ruff, ruff-format, mypy

fix: prevent OPENAI_API_KEY fallback in OpenRouterCompletion
  lib/crewai/src/crewai/llms/providers/openrouter/completion.py
  lib/crewai/tests/llms/providers/openrouter/test_completion.py
Due: ruff, ruff-format, mypy

WIP docs for pii-redaction feat (#4189)
  docs/docs.json
  docs/en/enterprise/features/pii-trace-redactions.mdx
  docs/images/enterprise/pii_mask_custom_recognizer_salary.png
  docs/images/enterprise/pii_mask_recognizer.png
  docs/images/enterprise/pii_mask_recognizer_create.png
  docs/images/enterprise/pii_mask_recognizer_deployment_tab.png
  docs/images/enterprise/pii_mask_recognizer_enable.png
  docs/images/enterprise/pii_mask_recognizer_supported_entities.png
  docs/images/enterprise/pii_mask_recognizer_trace_example.png
  docs/images/enterprise/pii_mask_recognizers_options.png
  docs/ko/enterprise/features/pii-trace-redactions.mdx
  docs/pt-BR/enterprise/features/pii-trace-redactions.mdx
Due: none

fix: handle None task in AgentExecutor to prevent errors
  lib/crewai/src/crewai/experimental/agent_executor.py
Due: ruff, ruff-format, mypy

refactor: streamline AgentExecutor initialization by removing redundant parameters
  lib/crewai/src/crewai/agent/core.py
Due: ruff, ruff-format, mypy

fix: replace @lru_cache with instance-level caching in Repository.is_git_repo()
  lib/crewai/src/crewai/cli/git.py
  lib/crewai/tests/cli/test_git.py
Due: ruff, ruff-format, mypy

fix: remove lru_cache memory leak in Repository.is_git_repo
  lib/crewai/src/crewai/cli/git.py
  lib/crewai/tests/cli/test_git.py
Due: ruff, ruff-format, mypy

fix: resolve type signature incompatibility in LongTermMemory
  lib/crewai/src/crewai/memory/long_term/long_term_memory.py
  lib/crewai/tests/memory/test_long_term_memory.py
Due: ruff, ruff-format, mypy

fix: make PickleHandler thread-safe with portalocker and atomic writes
  lib/crewai/src/crewai/utilities/file_handler.py
  lib/crewai/tests/utilities/test_file_handler.py
Due: ruff, ruff-format, mypy

fix: resolve type signature incompatibility in LongTermMemory
  lib/crewai/src/crewai/memory/long_term/long_term_memory.py
Due: ruff, ruff-format, mypy

Fix race condition in LLM callback system
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy
