Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

Tolerate legacy non-UTF-8 BLOB values when decoding JSON columns
  lib/crewai/src/crewai/memory/storage/kickoff_task_outputs_storage.py
  lib/crewai/tests/storage/test_kickoff_task_outputs_storage.py
Due: ruff, ruff-format, mypy

Add YouTubeSearchTool to imports and __all__
  lib/crewai-tools/src/crewai_tools/__init__.py
Due: ruff, ruff-format, mypy

Refactor env_vars to use EnvVar class
  lib/crewai-tools/src/crewai_tools/tools/youtube_search_tool/youtube_search_tool.py
Due: ruff, ruff-format, mypy

fix(flow): preserve sequential method status order
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/tests/test_flow.py
Due: ruff, ruff-format, mypy

fix(flow): preserve method panel ordering
  lib/crewai/src/crewai/events/event_bus.py
  lib/crewai/tests/test_event_bus.py
Due: ruff, ruff-format, mypy

Clarify Arcmira search metering and tool scope
  lib/crewai-tools/src/crewai_tools/tools/arcmira_search_tool/README.md
Due: none

fix(tools): exclude variadic parameters from inferred schema in CrewStructuredTool
  lib/crewai/src/crewai/tools/structured_tool.py
  lib/crewai/tests/tools/test_structured_tool.py
Due: ruff, ruff-format, mypy

docs(tools): add external SerpKite search integration
  docs/docs.json
  docs/edge/ar/tools/search-research/overview.mdx
  docs/edge/ar/tools/search-research/serpkitesearchtool.mdx
  docs/edge/en/tools/search-research/overview.mdx
  docs/edge/en/tools/search-research/serpkitesearchtool.mdx
  docs/edge/ko/tools/search-research/overview.mdx
  docs/edge/ko/tools/search-research/serpkitesearchtool.mdx
  docs/edge/pt-BR/tools/search-research/overview.mdx
  docs/edge/pt-BR/tools/search-research/serpkitesearchtool.mdx
Due: none

docs(tools): clarify endpoint-specific SerpKite options
  docs/edge/ar/tools/search-research/serpkitesearchtool.mdx
  docs/edge/en/tools/search-research/serpkitesearchtool.mdx
  docs/edge/ko/tools/search-research/serpkitesearchtool.mdx
  docs/edge/pt-BR/tools/search-research/serpkitesearchtool.mdx
Due: none

fix(tools): harden Hacker News story retrieval
  lib/crewai-tools/src/crewai_tools/tools/hacker_news_tool/hacker_news_tool.py
  lib/crewai-tools/tests/tools/hacker_news_tool_test.py
Due: ruff, ruff-format, mypy

docs(tools): document Hacker News tool
  lib/crewai-tools/src/crewai_tools/tools/hacker_news_tool/README.md
Due: none

feat(tools): add OpenMeteoWeatherTool for keyless weather retrieval
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/open_meteo_weather_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/open_meteo_weather_tool/open_meteo_weather_tool.py
  lib/crewai-tools/tests/tools/open_meteo_weather_tool_test.py
Due: ruff, ruff-format, mypy

fix(tools): harden Open-Meteo weather integration
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/open_meteo_weather_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/open_meteo_weather_tool/open_meteo_weather_tool.py
  lib/crewai-tools/tests/tools/open_meteo_weather_tool_test.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy

feat(tools): add OpenAlexResearchTool for keyless academic literature search
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/open_alex_research_tool/open_alex_research_tool.py
  lib/crewai-tools/tests/tools/open_alex_research_tool_test.py
Due: ruff, ruff-format, mypy

fix(tools): harden OpenAlex research tool
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/open_alex_research_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/open_alex_research_tool/open_alex_research_tool.py
  lib/crewai-tools/tests/tools/open_alex_research_tool_test.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy

fix: only fall back to sync call when acall is not overridden
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/utilities/test_agent_utils.py
Due: ruff, ruff-format, mypy

fix(mcp): prevent empty allowed_tool_names from permitting all tools (#7778)
  lib/crewai/src/crewai/mcp/filters.py
  lib/crewai/tests/mcp/test_mcp_filters.py
Due: ruff, ruff-format, mypy

fix(bedrock): also skip forced toolChoice for Claude Sonnet 5.5
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/tests/llms/bedrock/test_bedrock.py
Due: ruff, ruff-format, mypy

feat(llms): add deepinfra as an openai-compatible provider
  docs/edge/ar/concepts/llms.mdx
  docs/edge/en/concepts/llms.mdx
  docs/edge/ko/concepts/llms.mdx
  docs/edge/pt-BR/concepts/llms.mdx
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/openai_compatible/completion.py
  lib/crewai/tests/llms/openai_compatible/test_openai_compatible.py
Due: ruff, ruff-format, mypy

fix(tools): reject a malformed FXMacroData key without echoing it
  lib/crewai-tools/src/crewai_tools/tools/fxmacrodata_tool/fxmacrodata_tool.py
  lib/crewai-tools/tests/tools/fxmacrodata_tool_test.py
Due: ruff, ruff-format, mypy

fix(bedrock): parse text replies when response_model is set
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/tests/llms/bedrock/test_bedrock.py
Due: ruff, ruff-format, mypy

fix(tools): strip leading UTF-8 BOM in CSV loader
  lib/crewai-tools/src/crewai_tools/rag/loaders/csv_loader.py
  lib/crewai-tools/tests/rag/test_csv_loader.py
Due: ruff, ruff-format, mypy

test(tools): assert embedded BOM survives CSV parsing
  lib/crewai-tools/tests/rag/test_csv_loader.py
Due: ruff, ruff-format

fix(tools): omit unset optional args in tool validation
  lib/crewai/src/crewai/tools/base_tool.py
  lib/crewai/tests/tools/test_base_tool.py
Due: ruff, ruff-format, mypy

fix(tools): preserve non-None schema defaults in validated kwargs
  lib/crewai/src/crewai/tools/base_tool.py
  lib/crewai/tests/tools/test_base_tool.py
Due: ruff, ruff-format, mypy

fix: unwrap Enum before depth cutoff so limit members keep values
  lib/crewai/src/crewai/utilities/serialization.py
Due: ruff, ruff-format, mypy

fix(bedrock): run after_llm_call hooks before parsing a text reply
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/tests/llms/bedrock/test_bedrock.py
Due: ruff, ruff-format, mypy

docs: fix DMN create prompt
  docs/edge/en/installation.mdx
  lib/cli/tests/test_cli.py
Due: ruff, ruff-format, mypy

fix(cli): correct train filename error message
  lib/cli/src/crewai_cli/train_crew.py
Due: ruff, ruff-format, mypy

fix(task): resolve postponed guardrail return annotations
  lib/crewai/src/crewai/task.py
Due: ruff, ruff-format, mypy

test(task): cover postponed guardrail annotation compatibility
  lib/crewai/tests/test_task_guardrail_annotations.py
Due: ruff, ruff-format

fix(tools): sanitize loader env vars, harden cwd boundaries, and handle single file search
  lib/crewai-tools/src/crewai_tools/tools/vetto_sandbox_tool/vetto_base_tool.py
  lib/crewai-tools/src/crewai_tools/tools/vetto_sandbox_tool/vetto_exec_tool.py
  lib/crewai-tools/src/crewai_tools/tools/vetto_sandbox_tool/vetto_file_tool.py
  lib/crewai-tools/tests/tools/vetto_sandbox_tool_test.py
Due: ruff, ruff-format, mypy

fix(deps): bump oauthlib to 4.0.0 to clear PYSEC-2026-4114
  .github/workflows/vulnerability-scan.yml
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

fix(tools): replace undefined variable f with file in directory search
  lib/crewai-tools/src/crewai_tools/tools/vetto_sandbox_tool/vetto_file_tool.py
  lib/crewai-tools/tests/tools/vetto_sandbox_tool_test.py
Due: ruff, ruff-format, mypy

fix(deps): bump oauthlib to 4.0.0 to clear PYSEC-2026-4114 (#7906)
  .github/workflows/vulnerability-scan.yml
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

docs(rag): add XPU to OpenCLIP provider device options
  docs/edge/ar/tools/ai-ml/ragtool.mdx
  docs/edge/en/tools/ai-ml/ragtool.mdx
  docs/edge/ko/tools/ai-ml/ragtool.mdx
  docs/edge/pt-BR/tools/ai-ml/ragtool.mdx
  lib/crewai/src/crewai/rag/embeddings/providers/openclip/openclip_provider.py
  lib/crewai/tests/rag/embeddings/test_backward_compatibility.py
Due: ruff, ruff-format, mypy

feat(flow): introduce experimental turn and public reply identities
  docs/edge/ar/guides/flows/conversational-flows.mdx
  docs/edge/en/guides/flows/conversational-flows.mdx
  docs/edge/ko/guides/flows/conversational-flows.mdx
  docs/edge/pt-BR/guides/flows/conversational-flows.mdx
  lib/crewai/src/crewai/experimental/flow_turns.py
  lib/crewai/tests/test_flow_turns.py
Due: ruff, ruff-format, mypy

fix docs
  docs/edge/ar/guides/flows/conversational-flows.mdx
  docs/edge/en/guides/flows/conversational-flows.mdx
  docs/edge/ko/guides/flows/conversational-flows.mdx
  docs/edge/pt-BR/guides/flows/conversational-flows.mdx
Due: none

fix(tools): handle invalid Hacker News top stories response
  lib/crewai-tools/src/crewai_tools/tools/hacker_news_tool/hacker_news_tool.py
  lib/crewai-tools/tests/tools/hacker_news_tool_test.py
Due: ruff, ruff-format, mypy

fix(tools): handle null wind speed
  lib/crewai-tools/src/crewai_tools/tools/open_meteo_weather_tool/open_meteo_weather_tool.py
Due: ruff, ruff-format, mypy
