Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

fix: add type annotations for initial_state in memory flows
  lib/crewai/src/crewai/memory/encoding_flow.py
  lib/crewai/src/crewai/memory/recall_flow.py
Due: ruff, ruff-format, mypy

fix: add id field to AgentExecutorState for flow_id and tracing
  lib/crewai/src/crewai/experimental/agent_executor.py
Due: ruff, ruff-format, mypy

fix: operator precedence bug in stop words set expression
  lib/crewai/src/crewai/experimental/agent_executor.py
Due: ruff, ruff-format, mypy

fix: narrow model_rebuild exception catch to ImportError and PydanticUserError
  lib/crewai/src/crewai/__init__.py
Due: ruff, ruff-format, mypy

chore: remove TZAFON_API_KEY from test environment configuration
  .env.test
Due: none

refactor: move tzafon provider out of openai-compatible list and update tzafon load tool termination logic
  lib/crewai-tools/src/crewai_tools/tools/tzafon_load_tool/tzafon_load_tool.py
  lib/crewai/src/crewai/llm.py
Due: ruff, ruff-format, mypy

fix: remove duplicate private attrs for persistence and max_method_calls
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/flow/flow.py
Due: ruff, ruff-format, mypy

fix: update test to use public persistence field
  lib/crewai/tests/test_async_human_feedback.py
Due: ruff, ruff-format

feat: implement async streaming support with hook validation and tool calling for Tzafon provider
  lib/crewai/src/crewai/llms/providers/tzafon/completion.py
Due: ruff, ruff-format, mypy

fix: skip auto-memory creation in AgentExecutor
  lib/crewai/src/crewai/experimental/agent_executor.py
Due: ruff, ruff-format, mypy

refactor: convert Flow to Pydantic BaseModel
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/memory/encoding_flow.py
  lib/crewai/src/crewai/memory/recall_flow.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/src/crewai/utilities/prompts.py
  lib/crewai/tests/agents/test_agent_executor.py
  lib/crewai/tests/test_async_human_feedback.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.13.0a3
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

feat: add support for returning raw tool calls and validating structured output in Tzafon provider
  lib/crewai/src/crewai/llms/providers/tzafon/completion.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.13.0a3
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/tool.specs.json
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

docs: update changelog and version for v1.13.0a3
  docs/ar/changelog.mdx
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

fix: add string-based error detection for tools returning error strings
  lib/crewai/src/crewai/agents/crew_agent_executor.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.13.0a4
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

docs: update changelog and version for v1.13.0a4
  docs/ar/changelog.mdx
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

Add beginner-friendly FAQ based on real CrewAI use cases
  docs/Beginner_FAQ.md
Due: none

feat: bump versions to 1.13.0a5
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.13.0a5 (#5199)
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

docs: update changelog and version for v1.13.0a5
  docs/ar/changelog.mdx
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

docs: update changelog and version for v1.13.0a5 (#5200)
  docs/ar/changelog.mdx
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

feat: add Responses API support for Azure OpenAI provider
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/tests/llms/azure/test_azure.py
Due: ruff, ruff-format, mypy

fix: resolve mypy no-any-return error in last_response_id property
  lib/crewai/src/crewai/llms/providers/azure/completion.py
Due: ruff, ruff-format, mypy

fix: forward frequency_penalty and presence_penalty to Responses API delegate
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/tests/llms/azure/test_azure.py
Due: ruff, ruff-format, mypy

fix: forward base_url and api_key from LLM to instructor client (#5204)
  lib/crewai/src/crewai/utilities/internal_instructor.py
  lib/crewai/tests/utilities/test_converter.py
Due: ruff, ruff-format, mypy

fix: forward base_url and api_key from LLM to instructor client
  lib/crewai/src/crewai/utilities/internal_instructor.py
  lib/crewai/tests/utilities/test_converter.py
Due: ruff, ruff-format, mypy

style: apply ruff formatting to internal_instructor.py
  lib/crewai/src/crewai/utilities/internal_instructor.py
Due: ruff, ruff-format, mypy

docs: remove Arabic locale from navigation to fix auto-redirect (CON-49)
  docs/docs.json
Due: none

docs: fix RBAC permission levels to match actual UI options
  docs/ar/enterprise/features/rbac.mdx
  docs/en/enterprise/features/rbac.mdx
  docs/ko/enterprise/features/rbac.mdx
  docs/pt-BR/enterprise/features/rbac.mdx
Due: none

docs: set English as explicit default language to fix locale auto-redirect (CON-49)
  docs/docs.json
Due: none

docs: fix RBAC permission levels to match actual UI options (#5210)
  docs/ar/enterprise/features/rbac.mdx
  docs/en/enterprise/features/rbac.mdx
  docs/ko/enterprise/features/rbac.mdx
  docs/pt-BR/enterprise/features/rbac.mdx
Due: none

fix: address PR review comments — tracing override, executor init order, stdin guard, unused import
  lib/crewai/src/crewai/events/event_bus.py
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
  lib/crewai/src/crewai/events/listeners/tracing/utils.py
Due: ruff, ruff-format, mypy

feat: add OCI Generative AI provider — basic text completion
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/oci/__init__.py
  lib/crewai/src/crewai/llms/providers/oci/completion.py
  lib/crewai/src/crewai/utilities/oci.py
Due: ruff, ruff-format, mypy

test: add unit and integration tests for OCI completion provider
  lib/crewai/tests/llms/oci/__init__.py
  lib/crewai/tests/llms/oci/conftest.py
  lib/crewai/tests/llms/oci/test_oci.py
  lib/crewai/tests/llms/oci/test_oci_integration_basic.py
Due: ruff, ruff-format

style: fix ruff formatting in trace_listener.py and utils.py
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
  lib/crewai/src/crewai/events/listeners/tracing/utils.py
Due: ruff, ruff-format, mypy
