Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

fix: run after_llm_call hooks on async provider paths
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/hooks/test_llm_hooks.py
Due: ruff, ruff-format, mypy

fix(openai): hook the async structured-output stream fallback too
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/hooks/test_llm_hooks.py
Due: ruff, ruff-format, mypy

fix(llm): don't swallow response_model conversion errors on streaming (#6735)
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

fix: run before_llm_call hooks on async provider paths
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/hooks/test_llm_hooks.py
Due: ruff, ruff-format, mypy

test: cover the before_llm_call async gate on all five providers
  lib/crewai/tests/hooks/test_llm_hooks.py
Due: ruff, ruff-format

fix: add before_llm_call_hooks to async acall() paths
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
Due: ruff, ruff-format, mypy

test: assert the async hook mutation reaches the provider payload
  lib/crewai/tests/hooks/test_llm_hooks.py
Due: ruff, ruff-format

Potential fix for pull request finding
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
Due: ruff, ruff-format, mypy

fix: stop UploadCache sync wrappers deadlocking inside a running loop
  lib/crewai-files/src/crewai_files/cache/upload_cache.py
  lib/crewai-files/tests/test_upload_cache.py
Due: ruff, ruff-format, mypy

fix: cancel an overrunning cache coroutine instead of abandoning it
  lib/crewai-files/src/crewai_files/cache/upload_cache.py
  lib/crewai-files/tests/test_upload_cache.py
Due: ruff, ruff-format, mypy

Fix MCP connection timeouts and disable tool call retries by default
  lib/crewai-tools/tests/adapters/mcp_adapter_test.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/mcp/_utils.py
  lib/crewai/src/crewai/mcp/client.py
  lib/crewai/src/crewai/mcp/transports/base.py
  lib/crewai/src/crewai/mcp/transports/http.py
  lib/crewai/src/crewai/mcp/transports/sse.py
  lib/crewai/src/crewai/mcp/transports/stdio.py
  lib/crewai/tests/mcp/test_client.py
  lib/crewai/tests/mcp/test_tool_resolver_native.py
  uv.lock
Due: ruff, ruff-format, mypy

fix(events): track the sync-handler future when async handlers also exist
  lib/crewai/src/crewai/events/event_bus.py
  lib/crewai/tests/utilities/events/test_flush.py
Due: ruff, ruff-format, mypy

test(events): assert flush times out while a handler is still gated
  lib/crewai/tests/utilities/events/test_flush.py
Due: ruff, ruff-format

fix(tools): close NL2SQL read-only mode bypasses
  lib/crewai-tools/src/crewai_tools/tools/nl2sql/nl2sql_tool.py
  lib/crewai-tools/tests/tools/test_nl2sql_security.py
Due: ruff, ruff-format, mypy

docs: document NL2SQL read-only enforcement and its limits
  docs/edge/ar/tools/database-data/nl2sqltool.mdx
  docs/edge/en/tools/database-data/nl2sqltool.mdx
  docs/edge/ko/tools/database-data/nl2sqltool.mdx
  docs/edge/pt-BR/tools/database-data/nl2sqltool.mdx
Due: none

fix(memory): keep the best duplicate score in recall dedup, not the first
  lib/crewai/src/crewai/memory/recall_flow.py
  lib/crewai/tests/memory/test_recall_flow_dedup.py
Due: ruff, ruff-format, mypy

fix: run before/after_llm_call hooks on the LiteLLM fallback's acall()
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/hooks/test_llm_hooks.py
Due: ruff, ruff-format, mypy

Preserve root causes during MCP connection cleanup
  lib/crewai/src/crewai/mcp/client.py
  lib/crewai/src/crewai/mcp/transports/http.py
  lib/crewai/tests/mcp/test_client.py
Due: ruff, ruff-format, mypy

docs: reflow Monet provider docstring per review
  lib/crewai/src/crewai/llms/providers/openai_compatible/completion.py
Due: ruff, ruff-format, mypy

fix: reject empty model suffix for monet provider
  lib/crewai/src/crewai/llm.py
Due: ruff, ruff-format, mypy

test: isolate monet default base URL test from ambient env
  lib/crewai/tests/llms/openai_compatible/test_openai_compatible.py
Due: ruff, ruff-format

fix: point Monet base_url at production domain (monet.gg)
  lib/crewai/src/crewai/llms/providers/openai_compatible/completion.py
Due: ruff, ruff-format, mypy

test: use production monet.gg base URL and cover dynamic model names
  lib/crewai/tests/llms/openai_compatible/test_openai_compatible.py
Due: ruff, ruff-format

Preserve MCP transport timeouts and cleanup failures
  lib/crewai/src/crewai/mcp/client.py
  lib/crewai/src/crewai/mcp/transports/http.py
  lib/crewai/src/crewai/mcp/transports/sse.py
  lib/crewai/src/crewai/mcp/transports/stdio.py
  lib/crewai/tests/mcp/test_client.py
Due: ruff, ruff-format, mypy

test(memory): freeze the recency clock in the tie test, which was 1% flaky
  lib/crewai/tests/memory/test_recall_flow_dedup.py
Due: ruff, ruff-format

fix: #6568 - Replace bare raise with PermanentUploadError in factory.py
  lib/crewai-files/src/crewai_files/uploaders/factory.py
  lib/crewai-files/tests/test_uploader_factory.py
Due: ruff, ruff-format, mypy

feat(tools): add Truth Bear GAUGE tools (official-source signals, offline-verifiable, no API key)
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/truthbear_gauge_tool/Examples.md
  lib/crewai-tools/src/crewai_tools/tools/truthbear_gauge_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/truthbear_gauge_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/truthbear_gauge_tool/truthbear_gauge_tool.py
  lib/crewai-tools/tests/tools/truthbear_gauge_tool_test.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy

Enforce the documented sandbox-relative path boundary
  lib/crewai-tools/src/crewai_tools/tools/k8s_agent_sandbox/file_tool.py
  lib/crewai-tools/tests/tools/k8s_agent_sandbox/test_file_tool.py
Due: ruff, ruff-format, mypy

Reject malformed base64 before modifying files.
  lib/crewai-tools/src/crewai_tools/tools/k8s_agent_sandbox/file_tool.py
  lib/crewai-tools/tests/tools/k8s_agent_sandbox/test_file_tool.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.15.10
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.15.10 (#6753)
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

docs: add approval-bound tool example
  docs/edge/en/learn/tool-hooks.mdx
Due: none

feat(crewai-tools): add IBM Db2 search tool (#5885)
  docs/docs.json
  docs/edge/en/tools/database-data/db2searchtool.mdx
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/db2_search_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/db2_search_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/db2_search_tool/db2_search_tool.py
  lib/crewai-tools/tests/tools/test_db2_search_tool.py
Due: ruff, ruff-format, mypy

docs: harden approval-bound digest example
  docs/edge/en/learn/tool-hooks.mdx
Due: none

sync main
  uv.lock
Due: none

fix(merge): resolve conflicts with main — bump crewai-core/cli/tools to 1.15.10, pydantic-settings, boto3/aiobotocore; add ToolFailure imports + crew param to ToolUsage
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/tools/tool_usage.py
Due: ruff, ruff-format, mypy

fix(agents): recover real tool calls from fabricated observation continuations
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/utilities/test_agent_utils.py
Due: ruff, ruff-format, mypy

docs: highlight MongoDB in tools overview
  docs/edge/en/tools/overview.mdx
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
