Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

fix: Bedrock tool calls extract empty arguments - uses wrong field name
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/tests/agents/test_async_agent_executor.py
  lib/crewai/tests/utilities/test_agent_utils.py
Due: ruff, ruff-format, mypy

fix(bedrock): group consecutive tool results into single user message
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/tests/llms/bedrock/test_bedrock.py
Due: ruff, ruff-format, mypy

ci: add upstream sync and self-hosted codex smoke
  .github/workflows/self-hosted-codex-smoke.yml
  .github/workflows/upstream-sync.yml
  scripts/check_model_access.py
Due: ruff, ruff-format, mypy

fix: initialize tools list when None before extending with MCP/platform tools
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/tests/agents/test_agent.py
Due: ruff, ruff-format, mypy

fix(task): parse pydantic output before guardrail invocation
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/task.py
  lib/crewai/tests/test_task_guardrails.py
Due: ruff, ruff-format, mypy

fix(cli): memory leak in Repository.is_git_repo() due to @lru_cache
  lib/crewai/src/crewai/cli/git.py
  lib/crewai/tests/cli/test_git.py
Due: ruff, ruff-format, mypy

ci: enable auto-merge for upstream sync pr
  .github/workflows/upstream-sync.yml
Due: none

feat(openai): enforce strict codex/platform routing for gpt-5.2 models
  VALIDATION_REPORT_v7.md
  crew_kickoff_v7.log
  lib/crewai/src/crewai/llms/auth/__init__.py
  lib/crewai/src/crewai/llms/auth/openai_auth.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/llms/openai/test_openai.py
  lib/crewai/tests/llms/openai/test_openai_auth.py
  openai_sdk_gate_v7.log
  route_baseline_v7.log
  scripts/validate_crewai_oauth_routing_v7.py
  scripts/validate_oauth_codex_chatgpt_backend.py
Due: ruff, ruff-format, mypy

feat(openai): route oauth_codex to ChatGPT backend and validate gpt-5.2 pro/codex
  VALIDATION_REPORT_v6.md
  crew_kickoff_v6.log
  docs/en/concepts/llms.mdx
  lib/crewai/src/crewai/llms/auth/__init__.py
  lib/crewai/src/crewai/llms/auth/openai_auth.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/src/crewai/rag/chromadb/config.py
  lib/crewai/src/crewai/rag/embeddings/providers/openai/openai_provider.py
  lib/crewai/tests/llms/openai/test_openai.py
  lib/crewai/tests/llms/openai/test_openai_auth.py
  oauth_codex_chatgpt_backend_probe_v6.log
  openai_sdk_gate_v6.log
  scripts/validate_oauth_codex_chatgpt_backend.py
Due: ruff, ruff-format, mypy

chore(validation): record v8 oauth-platform credential investigation state
  VALIDATION_REPORT_v8.md
  auth_cache_probe_v8.log
  auth_refresh_v8.log
  auth_relogin_v8.log
  crew_kickoff_v8.log
  openai_sdk_gate_v8.log
  platform_credential_resolve_v8.log
Due: none

fix(openai): stabilize codex responses native tool-calling
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/agents/test_async_agent_executor.py
  lib/crewai/tests/llms/openai/test_openai.py
  scripts/repo_change_advisor.py
Due: ruff, ruff-format, mypy

feat(openai): add codex provider routing and oauth hi demo
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/llms/openai/test_openai.py
  lib/crewai/tests/test_llm.py
  scripts/demo_openai_codex_hi.py
Due: ruff, ruff-format, mypy

feat: create action for nightly releases
  .github/workflows/nightly.yml
Due: none

fix: remove redundant or False from return statement
  lib/crewai/src/crewai/cli/git.py
Due: ruff, ruff-format, mypy

chore: fix regex, permissions
  .github/workflows/nightly.yml
Due: none

feat: add dedicated Brave Search tools for web, news, image, video, local POIs, and Brave's newest LLM Context endpoint
  docs/en/tools/search-research/bravesearchtool.mdx
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/base.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_image_tool.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_llm_context_tool.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_local_pois_tool.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_news_tool.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_search_tool.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_video_tool.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_web_tool.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/response_types.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/schemas.py
  lib/crewai-tools/tests/tools/brave_search_tool_test.py
Due: ruff, ruff-format, mypy

fix: normalize transformed response shape
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_web_tool.py
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
Due: ruff, ruff-format, mypy

fix: ensure all deps bumped
  .github/workflows/nightly.yml
Due: none

revert legacy tool name
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_search_tool.py
Due: ruff, ruff-format, mypy

fix: improve flow subclass test mock and add round-trip safety comment
  lib/crewai/src/crewai/crew.py
Due: ruff, ruff-format, mypy

fix: align return type and test public behavior for git repo cache
  lib/crewai/src/crewai/cli/git.py
  lib/crewai/tests/cli/test_git.py
Due: ruff, ruff-format, mypy

fix: dedup tools None guard and add regression test
  lib/crewai/tests/agents/test_agent.py
Due: ruff, ruff-format

fix: guard _export_output against exceptions before guardrail invocation
  lib/crewai/src/crewai/task.py
Due: ruff, ruff-format, mypy

fix: schema change prevented property resolution
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_search_tool.py
Due: ruff, ruff-format, mypy

Update tool.specs.json
  lib/crewai-tools/tool.specs.json
Due: none

fix: add fallback for search_langugage
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_search_tool.py
Due: ruff, ruff-format, mypy

fix: adds search_language fallback
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_search_tool.py
Due: ruff, ruff-format, mypy

chore: update repo URLs to microsoft/agent-governance-toolkit
  src/crewai/governance/README.md
Due: none

simplify exports
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_search_tool.py
Due: ruff, ruff-format, mypy

docs: Add crewai-soul as community memory backend
  docs/en/concepts/memory.mdx
Due: none

Address review feedback
  docs/en/concepts/memory.mdx
Due: none

fix: Use LF line endings in generate_tool_specs.py on Windows
  lib/crewai-tools/src/crewai_tools/generate_tool_specs.py
Due: ruff, ruff-format, mypy

ci: relocate smoke cache prep cwd
  .github/workflows/self-hosted-codex-prewarm.yml
  .github/workflows/self-hosted-codex-smoke.yml
Due: none

ci: dockerize self-hosted codex smoke
  .dockerignore
  .github/docker/codex-smoke.Dockerfile
  .github/workflows/self-hosted-codex-smoke.yml
  scripts/_codex_auth.py
  scripts/check_model_access.py
  scripts/demo_openai_codex_hi.py
  scripts/run_docker_codex_smoke.sh
Due: ruff, ruff-format, mypy

fix(ci): address codex auth and prewarm reviews
  .github/workflows/self-hosted-codex-prewarm.yml
  scripts/_codex_auth.py
  scripts/check_model_access.py
  scripts/demo_openai_codex_hi.py
Due: ruff, ruff-format, mypy

fix(ci): use local toolchain for self-hosted smoke
  .github/workflows/self-hosted-codex-smoke.yml
Due: none

fix(ci): restore py310 auth and reset smoke workspace
  .github/workflows/self-hosted-codex-smoke.yml
  lib/crewai/src/crewai/llms/auth/openai_auth.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
