Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

cleanup ConversationalFlow class
  docs/ar/guides/flows/conversational-flows.mdx
  docs/en/guides/flows/conversational-flows.mdx
  docs/ko/guides/flows/conversational-flows.mdx
  docs/pt-BR/guides/flows/conversational-flows.mdx
  lib/crewai/src/crewai/experimental/__init__.py
  lib/crewai/tests/test_flow_conversation.py
Due: ruff, ruff-format, mypy

fix(knowledge): import Self from typing_extensions for py3.10 compat
  lib/crewai/src/crewai/knowledge/source/crew_docling_source.py
Due: ruff, ruff-format, mypy

perf(knowledge): lazy-load docling imports to speed up crewai import
  lib/crewai/src/crewai/knowledge/source/crew_docling_source.py
Due: ruff, ruff-format, mypy

fix filesystem
  lib/crewai-files/src/crewai_files/formatting/api.py
  lib/crewai-files/src/crewai_files/processing/constraints.py
  lib/crewai-files/tests/processing/test_constraints.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/tools/agent_tools/read_file_tool.py
  lib/crewai/tests/agents/test_agent_executor.py
  lib/crewai/tests/llms/test_multimodal.py
  lib/crewai/tests/tools/agent_tools/test_read_file_tool.py
Due: ruff, ruff-format, mypy

Refine commit message formatting
  2605.26112v1.pdf
  scripts/age90_file_input_runner.py
Due: ruff, ruff-format, mypy

Handle Snowflake Claude stringified tool calls (#6008)
  lib/crewai/src/crewai/llms/providers/snowflake/completion.py
  lib/crewai/tests/llms/snowflake/test_snowflake.py
  uv.lock
Due: ruff, ruff-format, mypy

fix(deps): relax opentelemetry-sdk dependency for OpenLIT compatibility (#5845)
  lib/crewai/pyproject.toml
Due: none

fix for async kickoffs
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/tests/agents/test_agent_executor.py
Due: ruff, ruff-format, mypy

added suggestion
  lib/crewai/tests/agents/test_agent_executor.py
Due: ruff, ruff-format

Lorenze/fix/file input not working reliably (#6020)
  2605.26112v1.pdf
  lib/crewai-files/src/crewai_files/formatting/api.py
  lib/crewai-files/src/crewai_files/processing/constraints.py
  lib/crewai-files/tests/processing/test_constraints.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/tools/agent_tools/read_file_tool.py
  lib/crewai/tests/agents/test_agent_executor.py
  lib/crewai/tests/llms/test_multimodal.py
  lib/crewai/tests/tools/agent_tools/test_read_file_tool.py
  scripts/age90_file_input_runner.py
Due: ruff, ruff-format, mypy

chore: remove testing pdf from root
  2605.26112v1.pdf
Due: none

fix: keep docling imports lazy
  lib/crewai/tests/test_imports.py
  pyproject.toml
  uv.lock
Due: ruff, ruff-format

Add Oracle Integrations
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/oracle_vector_search_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/oracle_vector_search_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/oracle_vector_search_tool/vector_search.py
  lib/crewai-tools/tests/tools/test_oracle_vector_search_tool.py
  lib/crewai-tools/tests/tools/test_oracle_vector_search_tool_integration.py
  lib/crewai/src/crewai/rag/embeddings/factory.py
  lib/crewai/src/crewai/rag/embeddings/providers/oracle/__init__.py
  lib/crewai/src/crewai/rag/embeddings/providers/oracle/embedding_callable.py
  lib/crewai/src/crewai/rag/embeddings/providers/oracle/oracle_provider.py
  lib/crewai/src/crewai/rag/embeddings/providers/oracle/types.py
  lib/crewai/src/crewai/rag/embeddings/types.py
  lib/crewai/tests/rag/embeddings/test_oracle_memory_integration.py
  lib/crewai/tests/rag/embeddings/test_oracle_provider.py
Due: ruff, ruff-format, mypy

Update uv.lock
  uv.lock
Due: none

Fix bugs
  lib/crewai-tools/src/crewai_tools/tools/oracle_vector_search_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/oracle_vector_search_tool/vector_search.py
  lib/crewai-tools/tests/tools/test_oracle_vector_search_tool.py
  lib/crewai-tools/tests/tools/test_oracle_vector_search_tool_integration.py
  lib/crewai/src/crewai/rag/embeddings/providers/oracle/embedding_callable.py
  lib/crewai/tests/rag/embeddings/test_oracle_provider.py
Due: ruff, ruff-format, mypy

Fix bugs
  lib/crewai-tools/tests/tools/test_oracle_vector_search_tool_integration.py
Due: ruff, ruff-format

fix(deps): bump authlib to >=1.6.12 to patch PYSEC-2026-188
  pyproject.toml
  uv.lock
Due: none

fix(cli): restore [project.scripts] in crewai package for uv tool install
  lib/crewai/pyproject.toml
Due: none

Implement GovernanceDecision and GovernanceOutcome types
  governance_decision.py
Due: ruff, ruff-format, mypy

Add contract tests for GovernanceDecision and Outcome
  test_governance_decision_contract.py
Due: ruff, ruff-format, mypy

Create __init__.py
  lib/crewai/src/crewai/governance/__init__.py
Due: ruff, ruff-format, mypy

addressing double finalization and fixed tests
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/tests/test_flow_conversation.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.14.7a1
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/cli/src/crewai_cli/templates/crew/pyproject.toml
  lib/cli/src/crewai_cli/templates/flow/pyproject.toml
  lib/cli/src/crewai_cli/templates/tool/pyproject.toml
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.14.7a1 (#6031)
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/cli/src/crewai_cli/templates/crew/pyproject.toml
  lib/cli/src/crewai_cli/templates/flow/pyproject.toml
  lib/cli/src/crewai_cli/templates/tool/pyproject.toml
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

docs: update changelog and version for v1.14.7a1
  docs/ar/changelog.mdx
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

docs: update changelog and version for v1.14.7a1 (#6032)
  docs/ar/changelog.mdx
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

feat: flatten LiteLLM cache/reasoning usage sub-counts in _usage_to_dict
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/events/test_llm_usage_event.py
Due: ruff, ruff-format, mypy

improve on emphemeral tracing and adddressing comments
  lib/crewai/src/crewai/events/listeners/tracing/trace_batch_manager.py
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/src/crewai/flow/runtime.py
  lib/crewai/tests/test_flow_conversation.py
  lib/crewai/tests/tracing/test_tracing.py
Due: ruff, ruff-format, mypy

Lorenze/feat/conversational flows (#5896)
  docs/ar/guides/flows/conversational-flows.mdx
  docs/ar/guides/flows/first-flow.mdx
  docs/ar/guides/flows/mastering-flow-state.mdx
  docs/docs.json
  docs/en/guides/flows/conversational-flows.mdx
  docs/en/guides/flows/first-flow.mdx
  docs/en/guides/flows/mastering-flow-state.mdx
  docs/ko/guides/flows/conversational-flows.mdx
  docs/ko/guides/flows/first-flow.mdx
  docs/ko/guides/flows/mastering-flow-state.mdx
  docs/pt-BR/guides/flows/conversational-flows.mdx
  docs/pt-BR/guides/flows/first-flow.mdx
  docs/pt-BR/guides/flows/mastering-flow-state.mdx
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/src/crewai/events/listeners/tracing/first_time_trace_handler.py
  lib/crewai/src/crewai/events/listeners/tracing/trace_batch_manager.py
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
  lib/crewai/src/crewai/experimental/__init__.py
  lib/crewai/src/crewai/experimental/conversational.py
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/src/crewai/flow/__init__.py
  lib/crewai/src/crewai/flow/conversation.py
  lib/crewai/src/crewai/flow/flow_context.py
  lib/crewai/src/crewai/flow/flow_serializer.py
  lib/crewai/src/crewai/flow/flow_wrappers.py
  lib/crewai/src/crewai/flow/runtime.py
  lib/crewai/src/crewai/translations/en.json
  lib/crewai/tests/cassettes/tracing/TestTraceListenerSetup.test_trace_listener_collects_crew_events.yaml
  lib/crewai/tests/cassettes/tracing/TestTraceListenerSetup.test_trace_listener_ephemeral_batch.yaml
  lib/crewai/tests/cassettes/tracing/TestTraceListenerSetup.test_trace_listener_with_authenticated_user.yaml
  lib/crewai/tests/test_flow_conversation.py
  lib/crewai/tests/tracing/test_tracing.py
Due: ruff, ruff-format, mypy

feat: flatten LiteLLM cache/reasoning usage sub-counts in _usage_to_dict (#6033)
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/events/test_llm_usage_event.py
Due: ruff, ruff-format, mypy

Document monorepo deployments
  docs/docs.json
  docs/en/enterprise/guides/deploy-to-amp.mdx
  docs/en/enterprise/guides/monorepo-deployments.mdx
Due: none

Add localized monorepo docs
  docs/ar/enterprise/guides/deploy-to-amp.mdx
  docs/ar/enterprise/guides/monorepo-deployments.mdx
  docs/docs.json
  docs/ko/enterprise/guides/deploy-to-amp.mdx
  docs/ko/enterprise/guides/monorepo-deployments.mdx
  docs/pt-BR/enterprise/guides/deploy-to-amp.mdx
  docs/pt-BR/enterprise/guides/monorepo-deployments.mdx
Due: none

Document monorepo deployments (#6018)
  docs/ar/enterprise/guides/deploy-to-amp.mdx
  docs/ar/enterprise/guides/monorepo-deployments.mdx
  docs/docs.json
  docs/en/enterprise/guides/deploy-to-amp.mdx
  docs/en/enterprise/guides/monorepo-deployments.mdx
  docs/ko/enterprise/guides/deploy-to-amp.mdx
  docs/ko/enterprise/guides/monorepo-deployments.mdx
  docs/pt-BR/enterprise/guides/deploy-to-amp.mdx
  docs/pt-BR/enterprise/guides/monorepo-deployments.mdx
Due: none

Build FlowDefinition from Flow DSL metadata
  lib/crewai/src/crewai/flow/__init__.py
  lib/crewai/src/crewai/flow/dsl.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/flow/flow_definition.py
  lib/crewai/src/crewai/flow/flow_serializer.py
  lib/crewai/src/crewai/flow/flow_wrappers.py
  lib/crewai/src/crewai/flow/human_feedback.py
  lib/crewai/src/crewai/flow/persistence/__init__.py
  lib/crewai/src/crewai/flow/persistence/decorators.py
  lib/crewai/src/crewai/flow/runtime.py
  lib/crewai/src/crewai/flow/types.py
  lib/crewai/src/crewai/flow/utils.py
  lib/crewai/src/crewai/flow/visualization/assets/interactive.js
  lib/crewai/src/crewai/flow/visualization/builder.py
  lib/crewai/src/crewai/flow/visualization/renderers/interactive.py
  lib/crewai/src/crewai/flow/visualization/schema.py
  lib/crewai/src/crewai/flow/visualization/types.py
  lib/crewai/tests/test_async_human_feedback.py
  lib/crewai/tests/test_flow.py
  lib/crewai/tests/test_flow_definition.py
  lib/crewai/tests/test_flow_serializer.py
  lib/crewai/tests/test_flow_visualization.py
  lib/crewai/tests/test_human_feedback_decorator.py
  lib/crewai/tests/test_human_feedback_integration.py
Due: ruff, ruff-format, mypy

Format files
  lib/crewai/src/crewai/flow/dsl.py
  lib/crewai/src/crewai/flow/runtime.py
Due: ruff, ruff-format, mypy

Build FlowDefinition from Flow DSL metadata (#6017)
  lib/crewai/src/crewai/flow/__init__.py
  lib/crewai/src/crewai/flow/dsl.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/flow/flow_definition.py
  lib/crewai/src/crewai/flow/flow_serializer.py
  lib/crewai/src/crewai/flow/flow_wrappers.py
  lib/crewai/src/crewai/flow/human_feedback.py
  lib/crewai/src/crewai/flow/persistence/__init__.py
  lib/crewai/src/crewai/flow/persistence/decorators.py
  lib/crewai/src/crewai/flow/runtime.py
  lib/crewai/src/crewai/flow/types.py
  lib/crewai/src/crewai/flow/utils.py
  lib/crewai/src/crewai/flow/visualization/assets/interactive.js
  lib/crewai/src/crewai/flow/visualization/builder.py
  lib/crewai/src/crewai/flow/visualization/renderers/interactive.py
  lib/crewai/src/crewai/flow/visualization/schema.py
  lib/crewai/src/crewai/flow/visualization/types.py
  lib/crewai/tests/test_async_human_feedback.py
  lib/crewai/tests/test_flow.py
  lib/crewai/tests/test_flow_definition.py
  lib/crewai/tests/test_flow_serializer.py
  lib/crewai/tests/test_flow_visualization.py
  lib/crewai/tests/test_human_feedback_decorator.py
  lib/crewai/tests/test_human_feedback_integration.py
Due: ruff, ruff-format, mypy

fix(otel): extract Azure stream finish_reason/id before usage-continue
  lib/crewai/src/crewai/llms/providers/azure/completion.py
Due: ruff, ruff-format, mypy
