Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

Add Tavily Research and Get Research tools
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/tavily_get_research_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/tavily_get_research_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/tavily_get_research_tool/tavily_get_research_tool.py
  lib/crewai-tools/src/crewai_tools/tools/tavily_research_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/tavily_research_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/tavily_research_tool/tavily_research_tool.py
  uv.lock
Due: ruff, ruff-format, mypy

Update TavilyResearchTool README to reflect actual behavior
  lib/crewai-tools/src/crewai_tools/tools/tavily_research_tool/README.md
Due: none

Repair JSON checkpoint discovery after branch-aware storage
  lib/crewai/src/crewai/cli/checkpoint_cli.py
  lib/crewai/tests/cli/test_checkpoint_cli.py
Due: ruff, ruff-format, mypy

Route Flow checkpoints through Flow restore APIs in the TUI
  lib/crewai/src/crewai/cli/checkpoint_tui.py
  lib/crewai/tests/cli/test_checkpoint_tui.py
Due: ruff, ruff-format, mypy

Complete recursive MCP schema model creation after #5478
  lib/crewai/src/crewai/utilities/pydantic_schema_utils.py
  lib/crewai/tests/utilities/test_pydantic_schema_utils.py
Due: ruff, ruff-format, mypy

Preserve concrete Flow subclasses during checkpoint TUI restore
  lib/crewai/src/crewai/cli/checkpoint_tui.py
  lib/crewai/tests/cli/test_checkpoint_tui.py
Due: ruff, ruff-format, mypy

Handle mixed-entity and unnamed Flow checkpoints in the TUI
  lib/crewai/src/crewai/cli/checkpoint_tui.py
  lib/crewai/tests/cli/test_checkpoint_tui.py
Due: ruff, ruff-format, mypy

fix: complete recursive MCP schema handling (#5490)
  lib/crewai/src/crewai/utilities/pydantic_schema_utils.py
  lib/crewai/tests/utilities/test_pydantic_schema_utils.py
Due: ruff, ruff-format, mypy

fix: use recursive glob for JSON checkpoint discovery (#5491)
  lib/crewai/src/crewai/cli/checkpoint_cli.py
Due: ruff, ruff-format, mypy

fix: bump langsmith to 0.7.31 to patch GHSA-rr7j-v2q5-chgv
  pyproject.toml
  uv.lock
Due: none

fix: dispatch Flow checkpoints through Flow APIs in TUI
  lib/crewai/src/crewai/cli/checkpoint_tui.py
Due: ruff, ruff-format, mypy

adressing comments
  lib/crewai/src/crewai/cli/remote_template/main.py
  lib/crewai/tests/cli/remote_template/test_main.py
Due: ruff, ruff-format, mypy

fix: apply task overrides to nested Crew in Flow checkpoint path
  lib/crewai/src/crewai/cli/checkpoint_tui.py
Due: ruff, ruff-format, mypy

comment addressed
  lib/crewai/src/crewai/cli/remote_template/main.py
Due: ruff, ruff-format, mypy

fix: remap flat task indices across multiple Crews in Flow checkpoints
  lib/crewai/src/crewai/cli/checkpoint_tui.py
Due: ruff, ruff-format, mypy

fix: preserve checkpoint state in kickoff_async restoration guard
  lib/crewai/src/crewai/flow/flow.py
Due: ruff, ruff-format, mypy

fix: scope streaming handlers to prevent cross-run chunk contamination
  lib/crewai/src/crewai/utilities/streaming.py
  lib/crewai/tests/test_streaming.py
Due: ruff, ruff-format, mypy

fix: use tuple-stack ContextVar for nested stream scope isolation
  lib/crewai/src/crewai/utilities/streaming.py
  lib/crewai/tests/test_streaming.py
Due: ruff, ruff-format, mypy

fix: mock Repository.__init__ in test_publish_when_not_in_sync
  lib/crewai/tests/cli/tools/test_main.py
Due: ruff, ruff-format

fix: defer stream scope to context-copy site to prevent sequential accumulation
  lib/crewai/src/crewai/utilities/streaming.py
  lib/crewai/tests/test_streaming.py
Due: ruff, ruff-format, mypy

feat: add from_checkpoint parameter to Agent.kickoff, kickoff_async, akickoff
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/tests/test_checkpoint.py
Due: ruff, ruff-format, mypy

feat: add checkpoint resume, diff, prune commands and save discoverability
  lib/crewai/src/crewai/cli/checkpoint_cli.py
  lib/crewai/src/crewai/cli/cli.py
  lib/crewai/src/crewai/state/checkpoint_listener.py
  lib/crewai/tests/test_checkpoint_cli.py
Due: ruff, ruff-format, mypy

fix: add missing Any import to test_checkpoint_cli
  lib/crewai/tests/test_checkpoint_cli.py
Due: ruff, ruff-format

fix: address review — partial ID for SQLite, drop stderr noise, deduplicate extract_id
  lib/crewai/src/crewai/cli/checkpoint_cli.py
  lib/crewai/src/crewai/state/checkpoint_listener.py
  lib/crewai/tests/test_checkpoint_cli.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.14.2
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

feat: add OnCell tool — persistent sandboxed environment for crews
  lib/crewai-tools/src/crewai_tools/tools/oncell_tool/oncell_tool.py
Due: ruff, ruff-format, mypy

feat: add oncell_tool __init__
  lib/crewai-tools/src/crewai_tools/tools/oncell_tool/__init__.py
Due: ruff, ruff-format, mypy

fix: remove erroneous dollar sign from BrightDataSearchTool URLs and expose results_count in schema
  lib/crewai-tools/src/crewai_tools/tools/brightdata_tool/brightdata_serp.py
  lib/crewai-tools/tests/tools/brightdata_serp_tool_test.py
Due: ruff, ruff-format, mypy

docs(observability): add asqav governance and audit trail integration
  docs/docs.json
  docs/en/observability/asqav.mdx
Due: none

Fix code example to match CrewAI and asqav APIs
  docs/en/observability/asqav.mdx
Due: none

Fix hallucinated URLs, commands, and features in asqav docs
  docs/en/observability/asqav.mdx
Due: none

fix: preserve Bedrock tool call arguments in _parse_native_tool_call
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/tests/agents/test_parse_native_tool_call.py
Due: ruff, ruff-format, mypy

fix: patch authlib, langchain-text-splitters, and pypdf vulnerabilities
  pyproject.toml
  uv.lock
Due: none

fix: prompt on stale branch conflicts in devtools release
  lib/devtools/src/crewai_devtools/cli.py
Due: ruff, ruff-format, mypy

docs: update changelog and version for v1.14.2
  docs/ar/changelog.mdx
  docs/docs.json
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

fix: correct dry-run order and handle checked-out stale branch in devtools release
  lib/devtools/src/crewai_devtools/cli.py
Due: ruff, ruff-format, mypy

fix: emit task_started on fork resume and redesign checkpoint TUI
  lib/crewai/src/crewai/cli/checkpoint_cli.py
  lib/crewai/src/crewai/cli/checkpoint_tui.py
  lib/crewai/src/crewai/crew.py
Due: ruff, ruff-format, mypy

fix: narrow task_started check in tree label display
  lib/crewai/src/crewai/cli/checkpoint_tui.py
Due: ruff, ruff-format, mypy

fix: use platform-safe time formatting, remove dead code
  lib/crewai/src/crewai/cli/checkpoint_tui.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
