Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

wip - added initial runnable code with installation workarounds
  lib/crewai/src/crewai/agents/agent_adapters/agentspec/__init__.py
  lib/crewai/src/crewai/agents/agent_adapters/agentspec/agentspec_adapter.py
  lib/crewai/src/crewai/agents/agent_adapters/agentspec/agentspec_adapter_demo.py
  lib/crewai/src/crewai/agents/agent_adapters/agentspec/agentspec_langgraph_agent.json
Due: ruff, ruff-format, mypy

fix: ensure reference task ids are correctly propagated
  lib/crewai/src/crewai/a2a/wrapper.py
Due: ruff, ruff-format, mypy

fix: ensure response model is correctly streamed
  lib/crewai/src/crewai/llms/providers/openai/completion.py
Due: ruff, ruff-format, mypy

chore: regenerate lockfile
  uv.lock
Due: none

feat: add aiosqlite dep; regenerate lockfile
  lib/crewai/pyproject.toml
  uv.lock
Due: none

feat: add async ops to memory feat; create tests
  lib/crewai/src/crewai/memory/contextual/contextual_memory.py
  lib/crewai/src/crewai/memory/entity/entity_memory.py
  lib/crewai/src/crewai/memory/external/external_memory.py
  lib/crewai/src/crewai/memory/long_term/long_term_memory.py
  lib/crewai/src/crewai/memory/memory.py
  lib/crewai/src/crewai/memory/short_term/short_term_memory.py
  lib/crewai/src/crewai/memory/storage/ltm_sqlite_storage.py
  lib/crewai/src/crewai/memory/storage/rag_storage.py
  lib/crewai/tests/memory/test_async_memory.py
Due: ruff, ruff-format, mypy

feat: async knowledge support; add tests
  lib/crewai/src/crewai/knowledge/knowledge.py
  lib/crewai/src/crewai/knowledge/source/base_file_knowledge_source.py
  lib/crewai/src/crewai/knowledge/source/base_knowledge_source.py
  lib/crewai/src/crewai/knowledge/source/crew_docling_source.py
  lib/crewai/src/crewai/knowledge/source/csv_knowledge_source.py
  lib/crewai/src/crewai/knowledge/source/excel_knowledge_source.py
  lib/crewai/src/crewai/knowledge/source/json_knowledge_source.py
  lib/crewai/src/crewai/knowledge/source/pdf_knowledge_source.py
  lib/crewai/src/crewai/knowledge/source/string_knowledge_source.py
  lib/crewai/src/crewai/knowledge/source/text_file_knowledge_source.py
  lib/crewai/src/crewai/knowledge/storage/base_knowledge_storage.py
  lib/crewai/src/crewai/knowledge/storage/knowledge_storage.py
  lib/crewai/tests/knowledge/test_async_knowledge.py
Due: ruff, ruff-format, mypy

feat: add async task support
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agents/agent_builder/base_agent.py
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/task.py
  lib/crewai/tests/agents/agent_adapters/test_base_agent_adapter.py
  lib/crewai/tests/agents/agent_builder/test_base_agent.py
  lib/crewai/tests/task/test_async_task.py
Due: ruff, ruff-format, mypy

feat: native async tool support
  docs/en/learn/create-custom-tools.mdx
  docs/ko/learn/create-custom-tools.mdx
  docs/pt-BR/learn/create-custom-tools.mdx
  lib/crewai/src/crewai/tools/base_tool.py
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/src/crewai/utilities/tool_utils.py
  lib/crewai/tests/tools/test_async_tools.py
Due: ruff, ruff-format, mypy

feat: add native async crew support
  lib/crewai/src/crewai/crew.py
  lib/crewai/tests/crew/test_async_crew.py
Due: ruff, ruff-format, mypy

feat: add akickoff alias to flow
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/tests/test_flow.py
Due: ruff, ruff-format, mypy

chore: dry out duplicate logic
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agent/utils.py
Due: ruff, ruff-format, mypy

chore: fix streaming test
  lib/crewai/tests/llms/openai/test_openai.py
Due: ruff, ruff-format

chore: dry crew.py
  lib/crewai/src/crewai/cli/crew_chat.py
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/crews/utils.py
Due: ruff, ruff-format, mypy

fix: ensure otel span is closed
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/tests/cassettes/telemetry/test_crew_execution_span_assigned_on_kickoff.yaml
  lib/crewai/tests/cassettes/telemetry/test_end_crew_receives_valid_execution_span.yaml
  lib/crewai/tests/telemetry/test_execution_span_assignment.py
Due: ruff, ruff-format, mypy

added the agentspec adapter
  lib/crewai/src/crewai/agents/agent_adapters/agentspec/__init__.py
  lib/crewai/src/crewai/agents/agent_adapters/agentspec/agentspec_adapter.py
Due: ruff, ruff-format, mypy

added a docstring for the adapter
  lib/crewai/src/crewai/agents/agent_adapters/agentspec/agentspec_adapter.py
Due: ruff, ruff-format, mypy

fix tests
  lib/crewai/tests/cassettes/hooks/TestToolHooksIntegration.test_lite_agent_hooks_integration_with_real_tool.yaml
Due: none

fixed more
  lib/crewai/tests/cassettes/hooks/TestLLMHooksIntegration.test_direct_llm_call_hooks_integration.yaml
  lib/crewai/tests/cassettes/hooks/TestLLMHooksIntegration.test_lite_agent_hooks_integration_with_real_llm.yaml
Due: none

more tool hooks test cassettes
  lib/crewai/tests/cassettes/hooks/TestToolHooksIntegration.test_lite_agent_hooks_integration_with_real_tool.yaml
Due: none

feat: a2a extensions API and async agent card caching; fix task propagation & streaming
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/a2a/extensions/__init__.py
  lib/crewai/src/crewai/a2a/extensions/base.py
  lib/crewai/src/crewai/a2a/extensions/registry.py
  lib/crewai/src/crewai/a2a/utils.py
  lib/crewai/src/crewai/a2a/wrapper.py
  lib/crewai/src/crewai/agent/internal/meta.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/llms/openai/test_openai.py
  uv.lock
Due: ruff, ruff-format, mypy

feat: add async support for tools and agent executor; improve typing and docs
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/agents/test_async_agent_executor.py
Due: ruff, ruff-format, mypy

chore: additional lockfile regeneration
  uv.lock
Due: none

fix: add backward compatibility for legacy RAG tool config format
  docs/en/tools/search-research/websitesearchtool.mdx
  lib/crewai-tools/src/crewai_tools/tools/rag/rag_tool.py
  lib/crewai-tools/tests/tools/rag/rag_tool_test.py
Due: ruff, ruff-format, mypy

fix: use simple dict filters for local mem0 Memory instead of AND/OR format
  lib/crewai/src/crewai/memory/storage/mem0_storage.py
  lib/crewai/tests/storage/test_mem0_storage.py
Due: ruff, ruff-format, mypy

Lorenze/ensure hooks work with lite agents flows (#3981)
  lib/crewai/src/crewai/hooks/llm_hooks.py
  lib/crewai/src/crewai/lite_agent.py
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/cassettes/TestLLMHooksIntegration.test_direct_llm_call_hooks_integration.yaml
  lib/crewai/tests/cassettes/TestLLMHooksIntegration.test_lite_agent_hooks_integration_with_real_llm.yaml
  lib/crewai/tests/cassettes/hooks/TestLLMHooksIntegration.test_direct_llm_call_hooks_integration.yaml
  lib/crewai/tests/cassettes/hooks/TestLLMHooksIntegration.test_lite_agent_hooks_integration_with_real_llm.yaml
  lib/crewai/tests/cassettes/hooks/TestToolHooksIntegration.test_lite_agent_hooks_integration_with_real_tool.yaml
  lib/crewai/tests/hooks/test_llm_hooks.py
  lib/crewai/tests/hooks/test_tool_hooks.py
Due: ruff, ruff-format, mypy

feat: async memory support
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/memory/contextual/contextual_memory.py
  lib/crewai/src/crewai/memory/entity/entity_memory.py
  lib/crewai/src/crewai/memory/external/external_memory.py
  lib/crewai/src/crewai/memory/long_term/long_term_memory.py
  lib/crewai/src/crewai/memory/memory.py
  lib/crewai/src/crewai/memory/short_term/short_term_memory.py
  lib/crewai/src/crewai/memory/storage/ltm_sqlite_storage.py
  lib/crewai/src/crewai/memory/storage/rag_storage.py
  lib/crewai/tests/memory/test_async_memory.py
  uv.lock
Due: ruff, ruff-format, mypy

feat: async knowledge support (#4023)
  lib/crewai/src/crewai/knowledge/knowledge.py
  lib/crewai/src/crewai/knowledge/source/base_file_knowledge_source.py
  lib/crewai/src/crewai/knowledge/source/base_knowledge_source.py
  lib/crewai/src/crewai/knowledge/source/crew_docling_source.py
  lib/crewai/src/crewai/knowledge/source/csv_knowledge_source.py
  lib/crewai/src/crewai/knowledge/source/excel_knowledge_source.py
  lib/crewai/src/crewai/knowledge/source/json_knowledge_source.py
  lib/crewai/src/crewai/knowledge/source/pdf_knowledge_source.py
  lib/crewai/src/crewai/knowledge/source/string_knowledge_source.py
  lib/crewai/src/crewai/knowledge/source/text_file_knowledge_source.py
  lib/crewai/src/crewai/knowledge/storage/base_knowledge_storage.py
  lib/crewai/src/crewai/knowledge/storage/knowledge_storage.py
  lib/crewai/tests/knowledge/test_async_knowledge.py
  uv.lock
Due: ruff, ruff-format, mypy

chore: ensure scoped handler in test
  lib/crewai/tests/experimental/evaluation/test_agent_evaluator.py
Due: ruff, ruff-format

feat: async task support (#4024)
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agent/utils.py
  lib/crewai/src/crewai/agents/agent_builder/base_agent.py
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/task.py
  lib/crewai/tests/agents/agent_adapters/test_base_agent_adapter.py
  lib/crewai/tests/agents/agent_builder/test_base_agent.py
  lib/crewai/tests/task/test_async_task.py
  uv.lock
Due: ruff, ruff-format, mypy

feat: async crew support
  lib/crewai/src/crewai/cli/crew_chat.py
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/crews/utils.py
  lib/crewai/tests/crew/test_async_crew.py
Due: ruff, ruff-format, mypy

feat: async flow kickoff
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/tests/test_flow.py
Due: ruff, ruff-format, mypy

feat: add AirweaveSearchTool to tools and exports
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/airweave_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/airweave_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/airweave_tool/airweave_search_tool.py
  lib/crewai-tools/src/crewai_tools/tools/airweave_tool/example.py
  lib/crewai-tools/tests/tools/airweave_search_tool_test.py
Due: ruff, ruff-format, mypy

fix: use HuggingFaceEmbeddingFunction for embeddings, update keys and add tests (#4005)
  docs/en/concepts/memory.mdx
  docs/ko/concepts/memory.mdx
  docs/pt-BR/concepts/memory.mdx
  lib/crewai/src/crewai/rag/embeddings/providers/huggingface/huggingface_provider.py
  lib/crewai/src/crewai/rag/embeddings/providers/huggingface/types.py
  lib/crewai/tests/rag/embeddings/test_embedding_factory.py
Due: ruff, ruff-format, mypy

fix: ensure future is awaited if given
  lib/crewai/src/crewai/crews/utils.py
  lib/crewai/tests/cassettes/telemetry/test_crew_execution_span_assigned_on_kickoff.yaml
  lib/crewai/tests/cassettes/telemetry/test_crew_execution_span_assigned_on_kickoff_async.yaml
  lib/crewai/tests/cassettes/telemetry/test_crew_execution_span_assigned_on_kickoff_for_each.yaml
  lib/crewai/tests/cassettes/telemetry/test_crew_execution_span_in_flow_with_share_crew.yaml
  lib/crewai/tests/cassettes/telemetry/test_crew_execution_span_not_set_when_share_crew_false.yaml
  lib/crewai/tests/cassettes/telemetry/test_end_crew_receives_valid_execution_span.yaml
  lib/crewai/tests/cassettes/telemetry/test_multiple_crews_in_flow_span_lifecycle.yaml
  lib/crewai/tests/cassettes/test_kickoff_for_each_invalid_input.yaml
  lib/crewai/tests/cassettes/test_kickoff_for_each_multiple_inputs.yaml
  lib/crewai/tests/cassettes/test_kickoff_for_each_single_input.yaml
  lib/crewai/tests/telemetry/test_execution_span_assignment.py
  lib/crewai/tests/telemetry/test_flow_crew_span_integration.py
Due: ruff, ruff-format, mypy

chore: regenerate cassettes
  lib/crewai/tests/cassettes/telemetry/test_crew_execution_span_in_async_flow.yaml
  lib/crewai/tests/cassettes/telemetry/test_crew_execution_span_in_flow_with_share_crew.yaml
  lib/crewai/tests/cassettes/telemetry/test_multiple_crews_in_flow_span_lifecycle.yaml
Due: none

chore: regenerate additional cassette
  lib/crewai/tests/cassettes/telemetry/test_multiple_crews_in_flow_span_lifecycle.yaml
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/)
