Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

docs(capsule-emit): round-2 review fixes — required operator/developer kwargs in the registration example, store-level verification with empty-ledger guard, Arabic errored-state wording
  docs/edge/ar/observability/capsule-emit.mdx
  docs/edge/en/observability/capsule-emit.mdx
  docs/edge/ko/observability/capsule-emit.mdx
  docs/edge/pt-BR/observability/capsule-emit.mdx
Due: none

docs(capsule-emit): fix capsule cardinality (two-record chain per tool call) and replace unexported verify_ledger with the agent_action_capsule.verify loop, all four locales
  docs/edge/ar/observability/capsule-emit.mdx
  docs/edge/en/observability/capsule-emit.mdx
  docs/edge/ko/observability/capsule-emit.mdx
  docs/edge/pt-BR/observability/capsule-emit.mdx
Due: none

docs(capsule-emit): what-gets-recorded precision — action_id covers crew lifecycle events; anchor row says submitted-not-receipt (async, anchor_wait for confirmation), all locales
  docs/edge/ar/observability/capsule-emit.mdx
  docs/edge/en/observability/capsule-emit.mdx
  docs/edge/ko/observability/capsule-emit.mdx
  docs/edge/pt-BR/observability/capsule-emit.mdx
Due: none

docs(capsule-emit): unconditional empty-ledger check (assert is stripped under -O), all locales
  docs/edge/ar/observability/capsule-emit.mdx
  docs/edge/en/observability/capsule-emit.mdx
  docs/edge/ko/observability/capsule-emit.mdx
  docs/edge/pt-BR/observability/capsule-emit.mdx
Due: none

docs(capsule-emit): witness stream is the default, anchor is legacy; signed verification; demo needs the repo; 0.8.6 sample output, all locales
  docs/edge/ar/observability/capsule-emit.mdx
  docs/edge/en/observability/capsule-emit.mdx
  docs/edge/ko/observability/capsule-emit.mdx
  docs/edge/pt-BR/observability/capsule-emit.mdx
Due: none

fix(evaluation): fail when expected metric has no score
  lib/crewai/src/crewai/experimental/evaluation/experiment/runner.py
  lib/crewai/tests/experimental/evaluation/test_experiment_runner.py
Due: ruff, ruff-format, mypy

test(evaluation): allow extra actual metric scores
  lib/crewai/tests/experimental/evaluation/test_experiment_runner.py
Due: ruff, ruff-format

fix(openai): reroute the tools + reasoning_effort 400 only when it names /v1/responses
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/llms/openai/test_responses_only_models.py
Due: ruff, ruff-format, mypy

fix(memory): avoid Windows pid probes with os.kill
  lib/crewai/src/crewai/memory/storage/qdrant_edge_storage.py
  lib/crewai/tests/memory/test_qdrant_edge_process_liveness.py
Due: ruff, ruff-format, mypy

fix(tools): don't block the event loop, don't leak a configured response_type
  lib/crewai-tools/src/crewai_tools/tools/zenrows_tool/zenrows_scrape_tool.py
  lib/crewai-tools/tests/tools/zenrows_scrape_tool_test.py
Due: ruff, ruff-format, mypy

fix(tools): re-validate zenrows config on every run, not just construction
  lib/crewai-tools/src/crewai_tools/tools/zenrows_tool/zenrows_scrape_tool.py
  lib/crewai-tools/tests/tools/zenrows_scrape_tool_test.py
Due: ruff, ruff-format, mypy

docs(tools): add ZenRowsScrapeTool page (en, ar, ko, pt-BR)
  docs/docs.json
  docs/edge/ar/tools/web-scraping/overview.mdx
  docs/edge/ar/tools/web-scraping/zenrowsscrapetool.mdx
  docs/edge/en/tools/web-scraping/overview.mdx
  docs/edge/en/tools/web-scraping/zenrowsscrapetool.mdx
  docs/edge/ko/tools/web-scraping/overview.mdx
  docs/edge/ko/tools/web-scraping/zenrowsscrapetool.mdx
  docs/edge/pt-BR/tools/web-scraping/overview.mdx
  docs/edge/pt-BR/tools/web-scraping/zenrowsscrapetool.mdx
Due: none

test(openai): table the GPT-6 Astra tools 400 cases with the #6660 retry tests
  lib/crewai/tests/llms/openai/test_responses_only_models.py
  lib/crewai/tests/llms/openai/test_tools_reasoning_effort_retry.py
Due: ruff, ruff-format

feat(tools): add FeedMyAgent tools
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/feedmyagent_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/feedmyagent_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/feedmyagent_tool/feedmyagent_tool.py
  lib/crewai-tools/tests/tools/feedmyagent_tool_test.py
  lib/crewai-tools/tool.specs.json
  uv.lock
Due: ruff, ruff-format, mypy

fix(memory): handle non-dict and null values in kickoff task outputs storage
  lib/crewai/src/crewai/memory/storage/kickoff_task_outputs_storage.py
  lib/crewai/tests/storage/test_kickoff_task_outputs_storage.py
Due: ruff, ruff-format, mypy

fix(tools): allow proxy_country with mode=auto, per Zenrows' own docs
  docs/edge/ar/tools/web-scraping/zenrowsscrapetool.mdx
  docs/edge/en/tools/web-scraping/zenrowsscrapetool.mdx
  docs/edge/ko/tools/web-scraping/zenrowsscrapetool.mdx
  docs/edge/pt-BR/tools/web-scraping/zenrowsscrapetool.mdx
  lib/crewai-tools/src/crewai_tools/tools/zenrows_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/zenrows_tool/zenrows_scrape_tool.py
  lib/crewai-tools/tests/tools/zenrows_scrape_tool_test.py
Due: ruff, ruff-format, mypy

feedmyagent tools: require https base_url (CWE-319), add docstrings
  lib/crewai-tools/src/crewai_tools/tools/feedmyagent_tool/feedmyagent_tool.py
  lib/crewai-tools/tests/tools/feedmyagent_tool_test.py
Due: ruff, ruff-format, mypy

fix(knowledge): validate file_path/file_paths as a pair, not per field
  lib/crewai/src/crewai/knowledge/source/base_file_knowledge_source.py
  lib/crewai/src/crewai/knowledge/source/excel_knowledge_source.py
  lib/crewai/tests/knowledge/test_knowledge.py
Due: ruff, ruff-format, mypy

fix(knowledge): chunk CSV/JSON file text instead of the content dict repr
  lib/crewai/src/crewai/knowledge/source/csv_knowledge_source.py
  lib/crewai/src/crewai/knowledge/source/json_knowledge_source.py
  lib/crewai/tests/knowledge/test_knowledge.py
Due: ruff, ruff-format, mypy

fix(tools): resolve a coworker that a model spelled as a quoted list
  lib/crewai/src/crewai/tools/agent_tools/base_agent_tools.py
  lib/crewai/tests/tools/agent_tools/test_agent_tools.py
Due: ruff, ruff-format, mypy

fix(knowledge): reject chunk settings that cannot produce chunks
  lib/crewai/src/crewai/knowledge/source/base_knowledge_source.py
  lib/crewai/tests/knowledge/test_knowledge.py
Due: ruff, ruff-format, mypy

fix(tools): don't leak the api key via connection-error exception text
  lib/crewai-tools/src/crewai_tools/tools/zenrows_tool/zenrows_scrape_tool.py
  lib/crewai-tools/tests/tools/zenrows_scrape_tool_test.py
Due: ruff, ruff-format, mypy

Document Cheaper Inference LLM integration
  docs/edge/ar/concepts/llms.mdx
Due: none

Document Cheaper Inference LLM gateway integration
  docs/edge/en/concepts/llms.mdx
Due: none

Document Cheaper Inference API integration
  docs/edge/ko/concepts/llms.mdx
Due: none

Add Cheaper Inference gateway details to llms.mdx
  docs/edge/pt-BR/concepts/llms.mdx
Due: none

Add 'cheaperinference' provider support
  lib/crewai/src/crewai/llm.py
Due: ruff, ruff-format, mypy

Add cheaperinference provider configuration
  lib/crewai/src/crewai/llms/providers/openai_compatible/completion.py
Due: ruff, ruff-format, mypy

feat(llm): add cheaper inference as an openai-compatible provider
  lib/crewai/tests/llms/openai_compatible/test_openai_compatible.py
Due: ruff, ruff-format

fix(cli): write scaffolded project files as utf-8
  lib/cli/src/crewai_cli/create_flow.py
  lib/cli/src/crewai_cli/utils.py
  lib/cli/tests/test_create_flow.py
  lib/cli/tests/test_utils.py
Due: ruff, ruff-format, mypy

test(cli): add docstrings to utf-8 scaffolding tests
  lib/cli/tests/test_create_flow.py
  lib/cli/tests/test_utils.py
Due: ruff, ruff-format, mypy

fix(bedrock): fall back to sync calls from acall (#7680)
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/tests/llms/bedrock/test_bedrock.py
Due: ruff, ruff-format, mypy

chore: ignore Codex workspace files
  .gitignore
Due: none

fix(crew): await async before/after_kickoff_callbacks in akickoff
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/crews/utils.py
  lib/crewai/tests/crew/test_async_crew.py
Due: ruff, ruff-format, mypy

fix(crew): clear mypy strict, tighten sentinel docs and test
  lib/crewai/src/crewai/crews/utils.py
  lib/crewai/tests/crew/test_async_crew.py
Due: ruff, ruff-format, mypy

fix(crew): use distinct sentinel so before-callback None round-trips
  lib/crewai/src/crewai/crews/utils.py
  lib/crewai/tests/crew/test_async_crew.py
Due: ruff, ruff-format, mypy

fix(crew): reset kickoff event state before before-callbacks run
  lib/crewai/src/crewai/crews/utils.py
  lib/crewai/tests/crew/test_async_crew.py
Due: ruff, ruff-format, mypy

refactor(crew): run before-callbacks between the EXECUTION_START and INPUT dispatches
  lib/crewai/src/crewai/crews/utils.py
  lib/crewai/tests/crew/test_async_crew.py
Due: ruff, ruff-format, mypy

test(crew): fix after_callback return type to match TaskOutput marker
  lib/crewai/tests/crew/test_async_crew.py
Due: ruff, ruff-format

docs(llm): clarify Nebius tool setup
  docs/edge/ar/concepts/llms.mdx
  docs/edge/en/concepts/llms.mdx
  docs/edge/ko/concepts/llms.mdx
  docs/edge/pt-BR/concepts/llms.mdx
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
