Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

fix: use task_output attributes for output_file save instead of stale local variables
  lib/crewai/src/crewai/task.py
  lib/crewai/tests/test_task_guardrails.py
Due: ruff, ruff-format, mypy

fix: prevent concurrent threads from bypassing RPM limit after wake-up
  lib/crewai/src/crewai/utilities/rpm_controller.py
  lib/crewai/tests/utilities/test_rpm_controller.py
Due: ruff, ruff-format, mypy

fix: reset CrewAgentExecutor state between task executions
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/tests/agents/test_executor_state_reset.py
Due: ruff, ruff-format, mypy

chore: remove accidentally committed manual test script
  manual_test_streaming_metadata.py
Due: ruff, ruff-format, mypy

fix: populate task_name and task_id in streaming chunks from event metadata
  lib/crewai/src/crewai/utilities/streaming.py
  lib/crewai/tests/test_streaming_task_metadata.py
Due: ruff, ruff-format, mypy

Remove test file that doesn't belong in this PR
  lib/crewai/tests/test_streaming_task_metadata.py
Due: ruff, ruff-format

test: add manual streaming metadata verification script
  manual_test_streaming_metadata.py
Due: ruff, ruff-format, mypy

fix: ensure TaskOutput.pydantic is populated on first guardrail attempt
  lib/crewai/src/crewai/task.py
  lib/crewai/tests/test_guardrail_pydantic_output.py
Due: ruff, ruff-format, mypy

fix: ensure callbacks are ran/awaited if promise
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/task.py
  lib/crewai/src/crewai/utilities/agent_utils.py
Due: ruff, ruff-format, mypy

refactor: simplify platform integration token resolution
  lib/crewai-tools/src/crewai_tools/tools/crewai_platform_tools/crewai_platform_action_tool.py
  lib/crewai-tools/src/crewai_tools/tools/crewai_platform_tools/crewai_platform_tool_builder.py
  lib/crewai-tools/src/crewai_tools/tools/crewai_platform_tools/misc.py
  lib/crewai-tools/tests/tools/crewai_platform_tools/test_crewai_platform_action_tool.py
  lib/crewai-tools/tests/tools/crewai_platform_tools/test_crewai_platform_tool_builder.py
  lib/crewai-tools/tests/tools/crewai_platform_tools/test_crewai_platform_tools.py
  lib/crewai/src/crewai/context.py
  lib/crewai/tests/test_context.py
Due: ruff, ruff-format, mypy

feat: add dedicated Brave Search tools for web, news, image, video, local POIs, and Brave's newest LLM Context endpoint
  docs/en/tools/search-research/bravesearchtool.mdx
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/base.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_image_tool.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_llm_context_tool.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_local_pois_tool.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_news_tool.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_search_tool.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_video_tool.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_web_tool.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/response_types.py
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/schemas.py
  lib/crewai-tools/tests/tools/brave_search_tool_test.py
Due: ruff, ruff-format, mypy

fix: prevent path traversal in knowledge source file paths (#4547)
  lib/crewai/src/crewai/knowledge/source/base_file_knowledge_source.py
  lib/crewai/src/crewai/knowledge/source/crew_docling_source.py
  lib/crewai/src/crewai/knowledge/source/excel_knowledge_source.py
  lib/crewai/tests/knowledge/test_knowledge.py
Due: ruff, ruff-format, mypy

chore: add tests for async step callback handling in CrewAgentExecutor
  lib/crewai/tests/agents/test_async_agent_executor.py
Due: ruff, ruff-format

fix: ensure callbacks are ran/awaited if promise
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/task.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/agents/test_async_agent_executor.py
Due: ruff, ruff-format, mypy

fix: update tokenizers dependency to >=0.21 to fix broken sdist (closes #4550)
  lib/crewai/pyproject.toml
  lib/crewai/tests/test_dependency_constraints.py
  uv.lock
Due: ruff, ruff-format

feat: migrate CLI http client from requests to httpx
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/cli/authentication/main.py
  lib/crewai/src/crewai/cli/command.py
  lib/crewai/src/crewai/cli/enterprise/main.py
  lib/crewai/src/crewai/cli/organization/main.py
  lib/crewai/src/crewai/cli/plus_api.py
  lib/crewai/src/crewai/cli/provider.py
  lib/crewai/tests/cli/authentication/test_auth_main.py
  lib/crewai/tests/cli/deploy/test_deploy_main.py
  lib/crewai/tests/cli/enterprise/test_main.py
  lib/crewai/tests/cli/organization/test_main.py
  lib/crewai/tests/cli/test_plus_api.py
  lib/crewai/tests/cli/tools/test_main.py
  lib/crewai/tests/cli/triggers/test_main.py
  uv.lock
Due: ruff, ruff-format, mypy

Fix #4555: Flows do not work with kickoff_for_each
  lib/crewai/src/crewai/crew.py
  lib/crewai/tests/test_crew.py
Due: ruff, ruff-format, mypy

feat: Add ModelsLabImageGenerationTool for image generation
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/modelslab_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/modelslab_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/modelslab_tool/modelslab_tool.py
Due: ruff, ruff-format, mypy

docs: add SIGIL Protocol integration example for custom tools
  docs/en/learn/create-custom-tools.mdx
Due: none

docs: remove unvetted third-party sigil protocol endorsement
  docs/en/learn/create-custom-tools.mdx
Due: none

feat(tools): add NimbleSearchTool for real-time web search
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/nimble_search_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/nimble_search_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/nimble_search_tool/nimble_search_tool.py
  lib/crewai-tools/tests/tools/nimble_search_tool_test.py
  uv.lock
Due: ruff, ruff-format, mypy

fix(tools): re-import nimble-python after installation instead of raising error
  lib/crewai-tools/src/crewai_tools/tools/nimble_search_tool/nimble_search_tool.py
  lib/crewai-tools/tests/tools/nimble_search_tool_test.py
Due: ruff, ruff-format, mypy

refactor(tools): extract _build_search_params to eliminate sync/async duplication
  lib/crewai-tools/src/crewai_tools/tools/nimble_search_tool/nimble_search_tool.py
Due: ruff, ruff-format, mypy

docs: add repo-local AGENTS guidance (#4564)
  AGENTS.md
Due: none

docs: add repo-local AGENTS.md with deterministic validation workflow guidance
  AGENTS.md
  lib/crewai/tests/test_agents_md.py
Due: ruff, ruff-format

fix issue #4262
  docs/issue-4262-verification.md
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/utilities/internal_instructor.py
  lib/devtools/pyproject.toml
  scripts/verify_groq_fallback_error_handling.py
  uv.lock
Due: ruff, ruff-format, mypy

feat:#4249
  docs/en/mcp/tool-discovery.mdx
  lib/crewai/src/crewai/tools/__init__.py
  lib/crewai/src/crewai/tools/base_discovery_provider.py
  lib/crewai/src/crewai/tools/dynamic_discovery_tool.py
  lib/crewai/src/crewai/tools/mcp_discovery_provider.py
  lib/crewai/src/crewai/tools/memory_tools.py
  lib/crewai/tests/tools/test_mcp_discovery.py
  scripts/demo_mcp_discovery.py
Due: ruff, ruff-format, mypy

fix: initialize tools list when None before extending with MCP/platform tools
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/tests/mcp/test_mcp_config.py
Due: ruff, ruff-format, mypy

fix: inject MCP tools during delegation (fixes #4571)
  lib/crewai/src/crewai/agent/utils.py
  lib/crewai/tests/mcp/test_mcp_delegation.py
Due: ruff, ruff-format, mypy

feat: enhance JSON argument parsing and validation in CrewAgentExecutor and BaseTool
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/tools/base_tool.py
  lib/crewai/tests/agents/test_native_tool_calling.py
  lib/crewai/tests/tools/test_base_tool.py
Due: ruff, ruff-format, mypy

fix datetime
  lib/crewai/src/crewai/experimental/agent_executor.py
Due: ruff, ruff-format, mypy

improving step executor
  lib/crewai/src/crewai/agents/step_executor.py
  lib/crewai/src/crewai/translations/en.json
Due: ruff, ruff-format, mypy
