Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

docs: add install step, endpoint creation link, and screenshot
  docs/en/concepts/llms.mdx
Due: none

feat: add TwoCaptchaSolverTool to crewai-tools
  libs/crewai_tools/src/crewai_tools/__init__.py
  libs/crewai_tools/src/crewai_tools/tools/twocaptcha_solver/__init__.py
  libs/crewai_tools/src/crewai_tools/tools/twocaptcha_solver/twocaptcha_solver.py
  libs/crewai_tools/src/crewai_tools/tools/twocaptcha_solver/twocaptcha_solver_tool.py
  libs/crewai_tools/tests/test_twocaptcha_solver.py
Due: ruff, ruff-format, mypy

docs(stagehand): update Slack links to Discord
  docs/ar/tools/web-scraping/stagehandtool.mdx
  docs/en/tools/web-scraping/stagehandtool.mdx
  docs/ko/tools/web-scraping/stagehandtool.mdx
  docs/pt-BR/tools/web-scraping/stagehandtool.mdx
  lib/crewai-tools/src/crewai_tools/tools/stagehand_tool/README.md
Due: none

added bedrock V4 support
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/constants.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  uv.lock
Due: ruff, ruff-format, mypy

chore: remove scarf install tracking
  lib/crewai/src/crewai/__init__.py
Due: ruff, ruff-format, mypy

updated descriptions and applied the actual translations
  README.md
  docs/ar/guides/coding-tools/build-with-ai.mdx
  docs/en/guides/coding-tools/build-with-ai.mdx
  docs/ko/guides/coding-tools/build-with-ai.mdx
  docs/pt-BR/guides/coding-tools/build-with-ai.mdx
Due: none

fix: merge execution metadata on duplicate batch initialization in TraceBatchManager
  lib/crewai/src/crewai/events/listeners/tracing/trace_batch_manager.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/tests/tracing/test_tracing.py
Due: ruff, ruff-format, mypy

fix: propagate implicit @CrewBase names to crew events
  lib/crewai/src/crewai/project/annotations.py
  lib/crewai/tests/test_crew.py
  lib/crewai/tests/test_project.py
Due: ruff, ruff-format, mypy

drop env events emitting from traces listener
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
Due: ruff, ruff-format, mypy

fix: bump python-dotenv to >=1.2.2 for GHSA-mf9w-mj56-hr94
  lib/crewai/pyproject.toml
  lib/devtools/pyproject.toml
  uv.lock
Due: none

fix: handle ValidationError from JSON pattern false positives in converter
  lib/crewai/src/crewai/utilities/converter.py
Due: ruff, ruff-format, mypy

fix: strip trailing whitespace from Anthropic assistant messages
  lib/crewai/src/crewai/llm.py
Due: ruff, ruff-format, mypy

test: appease static analysis for @CrewBase kickoff test
  lib/crewai/tests/test_crew.py
Due: ruff, ruff-format

feat: bump versions to 1.14.3a2
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

docs: update changelog and version for v1.14.3a2
  docs/ar/changelog.mdx
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

fix: preserve metadata-only agent skills
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/tests/skills/test_integration.py
Due: ruff, ruff-format, mypy

feat: complete TwoCaptchaSolverTool implementation with proper exports
  libs/crewai_tools/src/crewai_tools/__init__.py
Due: ruff, ruff-format, mypy

perf: defer MCP SDK import by fixing import path in agent/core.py
  UNKNOWN.egg-info/PKG-INFO
  UNKNOWN.egg-info/SOURCES.txt
  UNKNOWN.egg-info/dependency_links.txt
  UNKNOWN.egg-info/top_level.txt
  lib/crewai/src/crewai/agent/core.py
Due: ruff, ruff-format, mypy

perf: lazy-load heavy MCP imports in mcp/__init__.py
  lib/crewai/src/crewai/mcp/__init__.py
Due: ruff, ruff-format, mypy

perf: lazy-load all event type modules in events/__init__.py
  lib/crewai/src/crewai/events/__init__.py
Due: ruff, ruff-format, mypy

chore: remove UNKNOWN.egg-info from version control
  .gitignore
  UNKNOWN.egg-info/PKG-INFO
  UNKNOWN.egg-info/SOURCES.txt
  UNKNOWN.egg-info/dependency_links.txt
  UNKNOWN.egg-info/top_level.txt
Due: none

fix: add MCPToolResolver to TYPE_CHECKING imports
  lib/crewai/src/crewai/agent/core.py
Due: ruff, ruff-format, mypy

fix: bump lxml to >=5.4.0 for GHSA-vfmq-68hx-4jfw
  lib/crewai-tools/pyproject.toml
Due: none

fix: bump exclude-newer to 2026-04-22 for lxml 6.1.0 resolution
  pyproject.toml
Due: none

perf: add import time benchmark script
  scripts/benchmark_import_time.py
Due: ruff, ruff-format, mypy

new action
  .github/workflows/import-time.yml
Due: none

Potential fix for pull request finding 'CodeQL / Workflow does not contain permissions'
  .github/workflows/import-time.yml
Due: none

docs: remove pricing FAQ from build-with-ai page across all locales
  docs/ar/guides/coding-tools/build-with-ai.mdx
  docs/en/guides/coding-tools/build-with-ai.mdx
  docs/ko/guides/coding-tools/build-with-ai.mdx
  docs/pt-BR/guides/coding-tools/build-with-ai.mdx
Due: none

fix: reset messages and iterations at the start of each invoke/ainvoke
  lib/crewai/src/crewai/agents/crew_agent_executor.py
Due: ruff, ruff-format, mypy

feat: add AgentCard v1.0 identity adapter
  src/crewai/utilities/agentcard.py
Due: ruff, ruff-format, mypy

fix: upgrade lxml to >=6.1.0 for GHSA-vfmq-68hx-4jfw
  uv.lock
Due: none

supporting e2b
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/e2b_sandbox_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/e2b_sandbox_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/e2b_sandbox_tool/e2b_base_tool.py
  lib/crewai-tools/src/crewai_tools/tools/e2b_sandbox_tool/e2b_exec_tool.py
  lib/crewai-tools/src/crewai_tools/tools/e2b_sandbox_tool/e2b_file_tool.py
  lib/crewai-tools/src/crewai_tools/tools/e2b_sandbox_tool/e2b_python_tool.py
  lib/crewai-tools/tool.specs.json
  uv.lock
Due: ruff, ruff-format, mypy

refactor: update api_key handling to use SecretStr for enhanced security
  lib/crewai-tools/src/crewai_tools/tools/e2b_sandbox_tool/e2b_base_tool.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy

refactor: update import type hints and streamline timeout handling in E2B tools
  lib/crewai-tools/src/crewai_tools/tools/e2b_sandbox_tool/e2b_base_tool.py
  lib/crewai-tools/src/crewai_tools/tools/e2b_sandbox_tool/e2b_python_tool.py
Due: ruff, ruff-format, mypy

feat(azure): fall back to DefaultAzureCredential when no API key
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/tests/llms/azure/test_azure.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.14.3a3
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
  uv.lock
Due: ruff, ruff-format, mypy

chore: remove import-time guard workflow
  .github/workflows/import-time.yml
Due: none

chore: remove benchmark_import_time script
  scripts/benchmark_import_time.py
Due: ruff, ruff-format, mypy

docs: update changelog and version for v1.14.3a3
  docs/ar/changelog.mdx
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

fix: address santa-loop review findings (round 3)
  lib/crewai/src/crewai/utilities/internal_instructor.py
  lib/crewai/tests/utilities/test_converter.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
