Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock

fix: suppress noisy tracebacks when initialized from non-main thread
  lib/crewai/src/crewai/telemetry/telemetry.py
  lib/crewai/tests/telemetry/test_telemetry.py
Due: ruff, ruff-format, mypy

test: add concurrency regression test for LLM callback isolation
  lib/crewai/tests/llms/test_concurrency.py
Due: ruff, ruff-format

Fix LLM callback isolation without global LiteLLM locks
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

fix: handle streaming tool calls when available_functions is None
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/llms/openai/test_openai_streaming_tool_calls_no_available_functions.py
Due: ruff, ruff-format, mypy

Fix async/sync streaming to return tool calls when available_functions is None
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/llms/test_streaming_tool_calls_without_functions.py
Due: ruff, ruff-format, mypy

fix: resolve 2 Bugbot issues in governance kernel
  src/crewai/governance/_kernel.py
Due: ruff, ruff-format, mypy

fix: replace @lru_cache with instance-level caching in Repository.is_git_repo()
  lib/crewai/src/crewai/cli/git.py
  lib/crewai/tests/cli/test_git.py
Due: ruff, ruff-format, mypy

bump mcp from 1.23.1 to 1.26.0
  lib/crewai/pyproject.toml
  uv.lock
Due: none

Address OpenSSL CVE-2025-15467 vulnerability (#4426)
  lib/crewai/pyproject.toml
  uv.lock
Due: none

improve assert
  lib/crewai/tests/utilities/test_summarize_integration.py
Due: ruff, ruff-format

fix: prevent tool wrapper stacking and add zero-guard for execution time
  src/crewai/governance/_kernel.py
Due: ruff, ruff-format, mypy

supporting prompt cache
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/cassettes/llms/anthropic/test_anthropic_cached_prompt_tokens.yaml
  lib/crewai/tests/cassettes/llms/anthropic/test_anthropic_cached_prompt_tokens_with_tools.yaml
  lib/crewai/tests/cassettes/llms/anthropic/test_anthropic_streaming_cached_prompt_tokens.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_cached_prompt_tokens.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_cached_prompt_tokens_with_tools.yaml
  lib/crewai/tests/cassettes/llms/google/test_gemini_cached_prompt_tokens.yaml
  lib/crewai/tests/cassettes/llms/google/test_gemini_cached_prompt_tokens_with_tools.yaml
  lib/crewai/tests/cassettes/llms/openai/test_openai_completions_cached_prompt_tokens.yaml
  lib/crewai/tests/cassettes/llms/openai/test_openai_completions_cached_prompt_tokens_with_tools.yaml
  lib/crewai/tests/cassettes/llms/openai/test_openai_responses_api_cached_prompt_tokens.yaml
  lib/crewai/tests/cassettes/llms/openai/test_openai_responses_api_cached_prompt_tokens_with_tools.yaml
  lib/crewai/tests/cassettes/llms/openai/test_openai_streaming_cached_prompt_tokens.yaml
  lib/crewai/tests/llms/anthropic/test_anthropic.py
  lib/crewai/tests/llms/azure/test_azure.py
  lib/crewai/tests/llms/google/test_google.py
  lib/crewai/tests/llms/openai/test_openai.py
Due: ruff, ruff-format, mypy

droped azure tests
  lib/crewai/tests/cassettes/llms/azure/test_azure_cached_prompt_tokens.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_cached_prompt_tokens_with_tools.yaml
  lib/crewai/tests/llms/azure/test_azure.py
Due: ruff, ruff-format

fix tests
  lib/crewai/tests/cassettes/llms/google/test_gemini_cached_prompt_tokens.yaml
  lib/crewai/tests/llms/google/test_google.py
Due: ruff, ruff-format

feat: introduce PlanningConfig for enhanced agent planning capabilities (#4344)
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agent/planning_config.py
  lib/crewai/src/crewai/agent/utils.py
  lib/crewai/src/crewai/events/types/reasoning_events.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/translations/en.json
  lib/crewai/src/crewai/utilities/reasoning_handler.py
  lib/crewai/tests/agents/test_agent.py
  lib/crewai/tests/agents/test_agent_executor.py
  lib/crewai/tests/agents/test_agent_reasoning.py
  lib/crewai/tests/cassettes/agents/TestAgentExecutorPlanning.test_agent_kickoff_with_planning_stores_plan_in_state.yaml
  lib/crewai/tests/cassettes/agents/TestAgentExecutorPlanning.test_agent_kickoff_without_planning_skips_plan_generation.yaml
  lib/crewai/tests/cassettes/agents/TestAgentExecutorPlanning.test_executor_state_contains_plan_after_planning.yaml
  lib/crewai/tests/cassettes/agents/TestAgentExecutorPlanning.test_planning_config_disabled_skips_planning.yaml
  lib/crewai/tests/cassettes/agents/TestAgentExecutorPlanning.test_planning_creates_minimal_steps_for_multi_step_task.yaml
  lib/crewai/tests/cassettes/agents/TestAgentExecutorPlanning.test_planning_disabled_skips_planning.yaml
  lib/crewai/tests/cassettes/agents/TestAgentExecutorPlanning.test_planning_handles_sequential_dependency_task.yaml
  lib/crewai/tests/cassettes/agents/test_agent_execute_task_basic.yaml
  lib/crewai/tests/cassettes/agents/test_agent_execute_task_with_custom_llm.yaml
  lib/crewai/tests/cassettes/agents/test_agent_execute_task_with_planning.yaml
  lib/crewai/tests/cassettes/agents/test_agent_execute_task_with_planning_refine.yaml
  lib/crewai/tests/cassettes/agents/test_agent_execute_task_without_planning.yaml
  lib/crewai/tests/cassettes/agents/test_agent_kickoff_multi_step_task_with_planning.yaml
  lib/crewai/tests/cassettes/agents/test_agent_kickoff_with_planning.yaml
  lib/crewai/tests/cassettes/agents/test_agent_kickoff_with_planning_disabled.yaml
  lib/crewai/tests/cassettes/agents/test_agent_kickoff_without_planning.yaml
Due: ruff, ruff-format, mypy

linted
  lib/crewai/src/crewai/utilities/reasoning_handler.py
Due: ruff, ruff-format, mypy

Lorenze/feat planning pt 2 todo list gen (#4449)
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/utilities/planning_types.py
  lib/crewai/src/crewai/utilities/reasoning_handler.py
  lib/crewai/tests/cassettes/utilities/TestAnthropicStructuredPlanning.test_anthropic_research_workflow_generates_steps.yaml
  lib/crewai/tests/cassettes/utilities/TestAzureStructuredPlanning.test_azure_research_workflow_generates_steps.yaml
  lib/crewai/tests/cassettes/utilities/TestGeminiStructuredPlanning.test_gemini_research_workflow_generates_steps.yaml
  lib/crewai/tests/cassettes/utilities/TestOpenAIStructuredPlanning.test_openai_research_workflow_generates_steps.yaml
  lib/crewai/tests/utilities/test_planning_types.py
  lib/crewai/tests/utilities/test_structured_planning.py
Due: ruff, ruff-format, mypy

regen tests
  lib/crewai/tests/cassettes/agents/TestAgentExecutorPlanning.test_agent_kickoff_with_planning_stores_plan_in_state.yaml
  lib/crewai/tests/cassettes/agents/TestAgentExecutorPlanning.test_agent_kickoff_without_planning_skips_plan_generation.yaml
  lib/crewai/tests/cassettes/agents/TestAgentExecutorPlanning.test_executor_state_contains_plan_after_planning.yaml
  lib/crewai/tests/cassettes/agents/TestAgentExecutorPlanning.test_planning_config_disabled_skips_planning.yaml
  lib/crewai/tests/cassettes/agents/TestAgentExecutorPlanning.test_planning_creates_minimal_steps_for_multi_step_task.yaml
  lib/crewai/tests/cassettes/agents/TestAgentExecutorPlanning.test_planning_disabled_skips_planning.yaml
  lib/crewai/tests/cassettes/agents/TestAgentExecutorPlanning.test_planning_handles_sequential_dependency_task.yaml
  lib/crewai/tests/cassettes/agents/TestResponseFormatWithKickoff.test_kickoff_no_response_format_returns_raw_text.yaml
  lib/crewai/tests/cassettes/agents/TestResponseFormatWithKickoff.test_kickoff_response_format_with_planning_and_tools.yaml
  lib/crewai/tests/cassettes/agents/TestResponseFormatWithKickoff.test_kickoff_response_format_without_planning.yaml
Due: none

linted
  lib/crewai/src/crewai/agents/step_executor.py
Due: ruff, ruff-format, mypy

fix
  lib/crewai/tests/cassettes/hooks/TestNativeToolCallingHooksIntegration.test_agent_native_tool_hooks_before_and_after.yaml
Due: none

chore: remove .cursorrules file feat: add AGENTS.md file to any newly created file
  .cursorrules
  docs/docs.json
  docs/en/guides/coding-tools/agents-md.mdx
  lib/crewai/src/crewai/cli/create_crew.py
  lib/crewai/src/crewai/cli/create_flow.py
  lib/crewai/src/crewai/cli/templates/AGENTS.md
  lib/crewai/src/crewai/cli/tools/main.py
Due: ruff, ruff-format, mypy

move the copy of the tests
  lib/crewai/src/crewai/cli/create_crew.py
Due: ruff, ruff-format, mypy

test: avoid URL substring assertion in brave search test
  lib/crewai-tools/tests/tools/brave_search_tool_test.py
Due: ruff, ruff-format

chore: fix codeql coverage and action version
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Due: none

fix: harden Azure endpoint validation for CodeQL alert 28
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/tests/llms/azure/test_azure.py
Due: ruff, ruff-format, mypy

test: avoid URL substring assertion in brave search test (#4453)
  lib/crewai-tools/tests/tools/brave_search_tool_test.py
Due: ruff, ruff-format

feat: add CAMB AI tools integration
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/camb_ai_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/camb_ai_tool/camb_ai_tool.py
  lib/crewai-tools/src/crewai_tools/tools/camb_ai_tool/examples/test_camb_tools.py
  lib/crewai-tools/src/crewai_tools/tools/camb_ai_tool/tests/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/camb_ai_tool/tests/test_camb_ai_tool.py
Due: ruff, ruff-format, mypy

fix: ensure openai tool call stream is finalized
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/llms/openai/test_openai.py
Due: ruff, ruff-format, mypy

feat: add Tzafon LLM provider integration
  docs/en/concepts/llms.mdx
  docs/en/learn/llm-connections.mdx
  docs/ko/concepts/llms.mdx
  docs/ko/learn/llm-connections.mdx
  docs/pt-BR/concepts/llms.mdx
  docs/pt-BR/learn/llm-connections.mdx
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/constants.py
  lib/crewai/src/crewai/llms/providers/tzafon/__init__.py
  lib/crewai/src/crewai/llms/providers/tzafon/completion.py
  lib/crewai/tests/test_tzafon_provider.py
Due: ruff, ruff-format, mypy

fix: address bugbot review issues for CAMB AI tools
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/camb_ai_tool/camb_ai_tool.py
  lib/crewai-tools/src/crewai_tools/tools/camb_ai_tool/examples/test_camb_tools.py
  lib/crewai-tools/src/crewai_tools/tools/camb_ai_tool/tests/test_camb_ai_tool.py
Due: ruff, ruff-format, mypy

Strengthen stagehand navigate test assertion
  lib/crewai-tools/tests/tools/stagehand_tool_test.py
Due: ruff, ruff-format

chore: fix codeql coverage and action version (#4454)
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Due: none

fix: pass `started_event_id` to crew
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/crews/utils.py
Due: ruff, ruff-format, mypy

fix: correct typo 'occured' to 'occurred' in BrightDataDatasetTool error messages
  lib/crewai-tools/src/crewai_tools/tools/brightdata_tool/brightdata_dataset.py
Due: ruff, ruff-format, mypy

docs: add missing integration actions from OAuth config
  docs/en/enterprise/integrations/google_contacts.mdx
  docs/en/enterprise/integrations/google_docs.mdx
  docs/en/enterprise/integrations/google_slides.mdx
  docs/en/enterprise/integrations/microsoft_excel.mdx
  docs/en/enterprise/integrations/microsoft_onedrive.mdx
  docs/en/enterprise/integrations/microsoft_outlook.mdx
  docs/en/enterprise/integrations/microsoft_sharepoint.mdx
  docs/en/enterprise/integrations/microsoft_teams.mdx
  docs/en/enterprise/integrations/microsoft_word.mdx
Due: none

docs: add missing integration actions from OAuth config
  docs/pt-BR/enterprise/integrations/google_contacts.mdx
  docs/pt-BR/enterprise/integrations/google_docs.mdx
  docs/pt-BR/enterprise/integrations/google_slides.mdx
  docs/pt-BR/enterprise/integrations/microsoft_excel.mdx
  docs/pt-BR/enterprise/integrations/microsoft_onedrive.mdx
  docs/pt-BR/enterprise/integrations/microsoft_outlook.mdx
  docs/pt-BR/enterprise/integrations/microsoft_sharepoint.mdx
  docs/pt-BR/enterprise/integrations/microsoft_teams.mdx
  docs/pt-BR/enterprise/integrations/microsoft_word.mdx
Due: none

docs: add missing integration actions from OAuth config
  docs/ko/enterprise/integrations/google_contacts.mdx
  docs/ko/enterprise/integrations/google_docs.mdx
  docs/ko/enterprise/integrations/google_slides.mdx
  docs/ko/enterprise/integrations/microsoft_excel.mdx
  docs/ko/enterprise/integrations/microsoft_onedrive.mdx
  docs/ko/enterprise/integrations/microsoft_outlook.mdx
  docs/ko/enterprise/integrations/microsoft_sharepoint.mdx
  docs/ko/enterprise/integrations/microsoft_teams.mdx
  docs/ko/enterprise/integrations/microsoft_word.mdx
Due: none
