Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

fix: ensure lite agents course-correct on validation errors
  lib/crewai/src/crewai/lite_agent.py
  lib/crewai/src/crewai/task.py
  lib/crewai/src/crewai/translations/en.json
  lib/crewai/src/crewai/utilities/converter.py
  lib/crewai/tests/agents/test_lite_agent.py
  lib/crewai/tests/cassettes/test_after_kickoff_modification.yaml
  lib/crewai/tests/cassettes/test_before_kickoff_modification.yaml
  lib/crewai/tests/cassettes/test_before_kickoff_with_none_input.yaml
  lib/crewai/tests/cassettes/test_custom_converter_cls.yaml
  lib/crewai/tests/cassettes/test_guardrail_emits_events.yaml
  lib/crewai/tests/cassettes/test_guardrail_is_called_using_string.yaml
  lib/crewai/tests/cassettes/test_lite_agent_structured_output.yaml
  lib/crewai/tests/cassettes/test_multiple_before_after_kickoff.yaml
  lib/crewai/tests/cassettes/test_output_json_dict_hierarchical.yaml
  lib/crewai/tests/cassettes/test_output_json_dict_sequential.yaml
  lib/crewai/tests/cassettes/test_output_json_hierarchical.yaml
  lib/crewai/tests/cassettes/test_output_json_sequential.yaml
  lib/crewai/tests/cassettes/test_output_json_to_another_task.yaml
  lib/crewai/tests/cassettes/test_output_pydantic_hierarchical.yaml
  lib/crewai/tests/cassettes/test_output_pydantic_sequential.yaml
  lib/crewai/tests/cassettes/test_output_pydantic_to_another_task.yaml
  lib/crewai/tests/cassettes/test_save_task_json_output.yaml
  lib/crewai/tests/cassettes/test_save_task_pydantic_output.yaml
  lib/crewai/tests/cassettes/test_task_guardrail_process_output.yaml
  lib/crewai/tests/cassettes/test_task_with_max_execution_time_exceeded.yaml
  lib/crewai/tests/test_task.py
  lib/crewai/tests/test_task_guardrails.py
  lib/crewai/tests/utilities/test_converter.py
Due: ruff, ruff-format, mypy

fix: handle unpickleable values in flow state
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/tests/test_flow.py
Due: ruff, ruff-format, mypy

fix: update document ID handling in ChromaDB utility functions to use SHA-256 hashing and include index for uniqueness
  lib/crewai/src/crewai/rag/chromadb/utils.py
Due: ruff, ruff-format, mypy

test: add tests for hash-based ID generation in ChromaDB utility functions
  lib/crewai/tests/knowledge/test_knowledge.py
Due: ruff, ruff-format

feat: upgrade theme, ui
  lib/crewai/src/crewai/flow/visualization/assets/interactive.js
  lib/crewai/src/crewai/flow/visualization/assets/style.css
Due: none

chore: ensure animations reverse
  lib/crewai/src/crewai/flow/visualization/assets/interactive.js
Due: none

chore: sharpen theme
  lib/crewai/src/crewai/flow/visualization/assets/interactive.js
  lib/crewai/src/crewai/flow/visualization/assets/interactive_flow.html.j2
  lib/crewai/src/crewai/flow/visualization/assets/style.css
Due: none

Fix tool output token overflow issue
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/src/crewai/utilities/exceptions/context_window_exceeding_exception.py
  lib/crewai/tests/utilities/test_tool_output_truncation.py
Due: ruff, ruff-format, mypy

Add message_id to LLM events to differentiate stream chunks
  lib/crewai/src/crewai/events/types/llm_events.py
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/test_llm_message_id.py
Due: ruff, ruff-format, mypy

Fix agent loop not stopping after max iterations reached
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/agents/test_agent.py
  uv.lock
Due: ruff, ruff-format, mypy

feat: add pydantic validation dunder to BaseInterceptor, improve HTTPTransport typing
  lib/crewai/src/crewai/llms/hooks/base.py
  lib/crewai/src/crewai/llms/hooks/transport.py
  lib/crewai/tests/llms/hooks/test_transport.py
Due: ruff, ruff-format, mypy

feat: add pydantic validation dunder to BaseInterceptor, improve HTTPTransport typing
  lib/crewai/src/crewai/llms/hooks/base.py
  lib/crewai/src/crewai/llms/hooks/transport.py
  lib/crewai/tests/agents/test_agent.py
  lib/crewai/tests/cassettes/test_agent_execute_task_with_context.yaml
  lib/crewai/tests/cassettes/test_agent_respect_the_max_rpm_set.yaml
  lib/crewai/tests/cassettes/test_agent_with_only_crewai_knowledge.yaml
  lib/crewai/tests/cassettes/test_tool_usage_information_is_appended_to_agent.yaml
  lib/crewai/tests/llms/hooks/test_transport.py
Due: ruff, ruff-format, mypy

drop idx for preventing dups, upsert should handle dups
  lib/crewai/src/crewai/rag/chromadb/utils.py
Due: ruff, ruff-format, mypy

fix: update document ID extraction logic in ChromaDB utility functions to check for doc_id at the top level of the document
  lib/crewai/src/crewai/rag/chromadb/utils.py
Due: ruff, ruff-format, mypy

fix: enhance document ID generation in ChromaDB utility functions to deduplicate documents and ensure unique hash-based IDs without suffixes
  lib/crewai/src/crewai/rag/chromadb/utils.py
  lib/crewai/tests/knowledge/test_knowledge.py
Due: ruff, ruff-format, mypy

fix: improve error handling and document ID generation in ChromaDB utility functions to ensure robust processing and uniqueness
  lib/crewai/src/crewai/rag/chromadb/utils.py
Due: ruff, ruff-format, mypy

Lorenze/fix duplicating doc ids for knowledge (#3840)
  lib/crewai/src/crewai/rag/chromadb/utils.py
  lib/crewai/tests/knowledge/test_knowledge.py
Due: ruff, ruff-format, mypy

refactor: streamline MCP tool loading and error handling
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agents/agent_builder/base_agent.py
Due: ruff, ruff-format, mypy

linted
  lib/crewai/src/crewai/mcp/client.py
  lib/crewai/src/crewai/mcp/filters.py
  lib/crewai/src/crewai/mcp/transports/http.py
  lib/crewai/src/crewai/mcp/transports/sse.py
  lib/crewai/src/crewai/mcp/transports/stdio.py
  lib/crewai/src/crewai/tools/mcp_native_tool.py
Due: ruff, ruff-format, mypy

Self type from typing with typing_extensions in MCP transport modules
  lib/crewai/src/crewai/mcp/client.py
  lib/crewai/src/crewai/mcp/transports/http.py
  lib/crewai/src/crewai/mcp/transports/sse.py
  lib/crewai/src/crewai/mcp/transports/stdio.py
Due: ruff, ruff-format, mypy

feat: extract items from state
  lib/crewai/src/crewai/flow/utils.py
  lib/crewai/src/crewai/flow/visualization/assets/interactive.js
  lib/crewai/src/crewai/flow/visualization/assets/interactive_flow.html.j2
  lib/crewai/src/crewai/flow/visualization/assets/style.css
  lib/crewai/src/crewai/flow/visualization/builder.py
  lib/crewai/src/crewai/flow/visualization/renderers/interactive.py
  lib/crewai/src/crewai/flow/visualization/types.py
Due: ruff, ruff-format, mypy

feat: add pydantic validation dunder to BaseInterceptor
  lib/crewai/src/crewai/llms/hooks/base.py
  lib/crewai/src/crewai/llms/hooks/transport.py
  lib/crewai/tests/agents/test_agent.py
  lib/crewai/tests/cassettes/test_agent_execute_task_with_context.yaml
  lib/crewai/tests/cassettes/test_agent_respect_the_max_rpm_set.yaml
  lib/crewai/tests/cassettes/test_agent_with_only_crewai_knowledge.yaml
  lib/crewai/tests/cassettes/test_tool_usage_information_is_appended_to_agent.yaml
  lib/crewai/tests/llms/hooks/test_transport.py
Due: ruff, ruff-format, mypy

add debuging to Tool calls
  lib/crewai-tools/src/crewai_tools/tools/crewai_platform_tools/crewai_platform_tool_builder.py
  lib/crewai/src/crewai/agent/core.py
Due: ruff, ruff-format, mypy

Add initial devcontainer configuration
  .devcontainer/devcontainer.json
Due: none

added tests for mcp setup
  lib/crewai/tests/mcp/test_mcp_config.py
Due: ruff, ruff-format

added tests for mcp setup
  lib/crewai/tests/mcp/__init__.py
Due: ruff, ruff-format

docs: enhance MCP overview with detailed integration examples and structured configurations
  docs/en/mcp/overview.mdx
Due: none

feat: restructure llms to pydantic
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agents/agent_builder/base_agent.py
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/src/crewai/llms/hooks/transport.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
Due: ruff, ruff-format, mypy

replace print by logger
  lib/crewai-tools/src/crewai_tools/tools/crewai_platform_tools/crewai_platform_tool_builder.py
  lib/crewai/src/crewai/agent/core.py
Due: ruff, ruff-format, mypy

feat: implement MCP event handling and logging in event listener and client
  lib/crewai/src/crewai/events/__init__.py
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/src/crewai/events/event_types.py
  lib/crewai/src/crewai/events/types/mcp_events.py
  lib/crewai/src/crewai/events/utils/console_formatter.py
  lib/crewai/src/crewai/mcp/client.py
  lib/crewai/tests/mcp/__init__.py
Due: ruff, ruff-format, mypy

Lorenze/feat mcp first class support (#3850)
  docs/en/mcp/overview.mdx
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agents/agent_builder/base_agent.py
  lib/crewai/src/crewai/events/__init__.py
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/src/crewai/events/event_types.py
  lib/crewai/src/crewai/events/types/mcp_events.py
  lib/crewai/src/crewai/events/utils/console_formatter.py
  lib/crewai/src/crewai/mcp/__init__.py
  lib/crewai/src/crewai/mcp/client.py
  lib/crewai/src/crewai/mcp/config.py
  lib/crewai/src/crewai/mcp/filters.py
  lib/crewai/src/crewai/mcp/transports/__init__.py
  lib/crewai/src/crewai/mcp/transports/base.py
  lib/crewai/src/crewai/mcp/transports/http.py
  lib/crewai/src/crewai/mcp/transports/sse.py
  lib/crewai/src/crewai/mcp/transports/stdio.py
  lib/crewai/src/crewai/tools/mcp_native_tool.py
  lib/crewai/tests/mcp/__init__.py
  lib/crewai/tests/mcp/test_mcp_config.py
Due: ruff, ruff-format, mypy

fix: keep stopwords upto date
  lib/crewai/src/crewai/llms/hooks/transport.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/tests/cassettes/test_anthropic_stop_sequences_sent_to_api.yaml
  lib/crewai/tests/llms/anthropic/test_anthropic.py
  lib/crewai/tests/llms/bedrock/test_bedrock.py
  lib/crewai/tests/llms/google/test_google.py
Due: ruff, ruff-format, mypy

fix: keep stopwords updated
  lib/crewai/src/crewai/llms/hooks/transport.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/tests/cassettes/test_anthropic_stop_sequences_sent_to_api.yaml
  lib/crewai/tests/llms/anthropic/test_anthropic.py
  lib/crewai/tests/llms/bedrock/test_bedrock.py
  lib/crewai/tests/llms/google/test_google.py
Due: ruff, ruff-format, mypy

feat: allow non-ast plot routes
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/flow/types.py
  lib/crewai/src/crewai/flow/utils.py
  lib/crewai/src/crewai/flow/visualization/assets/interactive.js
  lib/crewai/src/crewai/flow/visualization/assets/interactive_flow.html.j2
  lib/crewai/src/crewai/flow/visualization/assets/style.css
  lib/crewai/src/crewai/flow/visualization/builder.py
  lib/crewai/src/crewai/flow/visualization/renderers/interactive.py
  lib/crewai/src/crewai/flow/visualization/types.py
Due: ruff, ruff-format, mypy

refactor: improve MCP tool execution handling with concurrent futures
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/tools/mcp_native_tool.py
  lib/crewai/tests/mcp/test_mcp_config.py
Due: ruff, ruff-format, mypy

refactor: improve MCP tool execution handling with concurrent futures (#3854)
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/tools/mcp_native_tool.py
  lib/crewai/tests/mcp/test_mcp_config.py
Due: ruff, ruff-format, mypy

chore: update version numbers to 1.4.0 across project files
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

chore: update version numbers to 1.4.0
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

fix: raise exception on LLM response parsing failure to avoid silent failures
  lib/crewai/src/crewai/utilities/agent_utils.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/)
