Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

fix: only treat interpolatable placeholders as crew inputs
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/utilities/string_utils.py
  lib/crewai/tests/test_crew.py
  lib/crewai/tests/utilities/test_string_utils.py
Due: ruff, ruff-format, mypy

Fix #6089: Widen litellm dependency constraint to >=1.84.0,<2
  lib/crewai/pyproject.toml
  lib/crewai/tests/test_litellm_dependency_compat.py
  uv.lock
Due: ruff, ruff-format

Fix tomllib import for Python 3.10 compatibility
  lib/crewai/tests/test_litellm_dependency_compat.py
Due: ruff, ruff-format

decouple convo logic from runtime and added a conversational_definition
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/src/crewai/flow/conversational_definition.py
  lib/crewai/src/crewai/flow/dsl/_utils.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/flow/flow_definition.py
  lib/crewai/src/crewai/flow/runtime.py
  lib/crewai/tests/test_flow_conversation.py
  lib/crewai/tests/test_flow_definition.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.14.7a4
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/cli/src/crewai_cli/templates/crew/pyproject.toml
  lib/cli/src/crewai_cli/templates/flow/pyproject.toml
  lib/cli/src/crewai_cli/templates/tool/pyproject.toml
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

docs: update changelog and version for v1.14.7a4
  docs/ar/changelog.mdx
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

fix: show final answer before human feedback
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/tests/agents/test_agent_executor.py
  lib/crewai/tests/agents/test_async_agent_executor.py
Due: ruff, ruff-format, mypy

fix: respect suppress_flow_events for method-execution events
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
  lib/crewai/src/crewai/flow/runtime.py
  lib/crewai/tests/utilities/test_events.py
Due: ruff, ruff-format, mypy

test: align suppressed-flow test with new method-event behavior
  lib/crewai/tests/test_flow_conversation.py
Due: ruff, ruff-format

fix: respect suppress_flow_events for method-execution events (#6095)
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
  lib/crewai/src/crewai/flow/runtime.py
  lib/crewai/tests/test_flow_conversation.py
  lib/crewai/tests/utilities/test_events.py
Due: ruff, ruff-format, mypy

type check fix
  lib/crewai/src/crewai/memory/recall_flow.py
Due: ruff, ruff-format, mypy

always defer traces for convo and so fix tests to reflect that
  lib/crewai/tests/test_flow_conversation.py
  lib/crewai/tests/test_flow_definition.py
Due: ruff, ruff-format

Simplify flow condition evaluation to be stateless per event
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/src/crewai/flow/runtime.py
  lib/crewai/src/crewai/flow/types.py
  lib/crewai/tests/agents/test_agent_executor.py
  lib/crewai/tests/test_flow.py
Due: ruff, ruff-format, mypy

I updated the litellm dependency in lib/crewai/pyproject.toml to allow versions >=1.84.0,<2
  lib/crewai/pyproject.toml
  uv.lock
Due: none

fix: address code review feedback for idempotency PR
  lib/crewai/src/crewai/agents/tools_handler.py
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/src/crewai/utilities/idempotency_backend.py
  lib/crewai/tests/tools/test_tool_idempotency.py
Due: ruff, ruff-format, mypy

docs: udpate docs to reflect new state of OpenTelemetry collector
  docs/ar/enterprise/guides/capture_telemetry_logs.mdx
  docs/en/enterprise/guides/capture_telemetry_logs.mdx
  docs/ko/enterprise/guides/capture_telemetry_logs.mdx
  docs/pt-BR/enterprise/guides/capture_telemetry_logs.mdx
Due: none

docs: add Discovery section to documentation
  docs/en/enterprise/features/discovery.mdx
Due: none

docs: add OTel collector and Datadog screenshots
  docs/images/crewai-otel-collector-datadog.png
  docs/images/crewai-otel-collector-opentelemetry.png
Due: none

Simplify flow condition evaluation to be stateless per event (#6097)
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/src/crewai/flow/runtime.py
  lib/crewai/src/crewai/flow/types.py
  lib/crewai/tests/agents/test_agent_executor.py
  lib/crewai/tests/test_flow.py
Due: ruff, ruff-format, mypy

docs: address PR review on OTel collector guide
  docs/ar/enterprise/guides/capture_telemetry_logs.mdx
  docs/en/enterprise/guides/capture_telemetry_logs.mdx
  docs/ko/enterprise/guides/capture_telemetry_logs.mdx
  docs/pt-BR/enterprise/guides/capture_telemetry_logs.mdx
Due: none

decouple convo logic from runtime and added a conversational_definition (#6091)
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/src/crewai/flow/conversational_definition.py
  lib/crewai/src/crewai/flow/dsl/_utils.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/flow/flow_definition.py
  lib/crewai/src/crewai/flow/runtime.py
  lib/crewai/src/crewai/memory/recall_flow.py
  lib/crewai/tests/test_flow_conversation.py
  lib/crewai/tests/test_flow_definition.py
Due: ruff, ruff-format, mypy

improve one less route
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/src/crewai/flow/conversational_definition.py
  lib/crewai/src/crewai/flow/dsl/_utils.py
  lib/crewai/tests/test_flow_conversation.py
  lib/crewai/tests/test_flow_definition.py
Due: ruff, ruff-format, mypy

docs: address review feedback on Discovery page
  docs/en/enterprise/features/discovery.mdx
Due: none

docs: udpate docs to reflect new state of OpenTelemetry collector (#6100)
  docs/ar/enterprise/guides/capture_telemetry_logs.mdx
  docs/en/enterprise/guides/capture_telemetry_logs.mdx
  docs/images/crewai-otel-collector-datadog.png
  docs/images/crewai-otel-collector-opentelemetry.png
  docs/ko/enterprise/guides/capture_telemetry_logs.mdx
  docs/pt-BR/enterprise/guides/capture_telemetry_logs.mdx
Due: none

docs: update otel images
  docs/images/crewai-otel-collector-datadog.png
  docs/images/crewai-otel-collector-opentelemetry.png
Due: none

docs: update otel images (#6103)
  docs/images/crewai-otel-collector-datadog.png
  docs/images/crewai-otel-collector-opentelemetry.png
Due: none

fix(packaging): relax litellm constraint to prevent dependency conflicts
  lib/crewai/pyproject.toml
  uv.lock
Due: none

fix telemetry setup on crewai-login
  lib/crewai-core/src/crewai_core/telemetry.py
  lib/crewai-core/tests/test_smoke.py
  lib/crewai/src/crewai/telemetry/telemetry.py
  lib/crewai/tests/telemetry/test_telemetry.py
Due: ruff, ruff-format, mypy

flows in flows, new agent executor causing early trace batch finalization
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/src/crewai/flow/flow_context.py
  lib/crewai/src/crewai/flow/runtime.py
  lib/crewai/tests/test_flow_conversation.py
Due: ruff, ruff-format, mypy

addressing comments
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/src/crewai/flow/runtime.py
  lib/crewai/tests/test_flow_conversation.py
Due: ruff, ruff-format, mypy

addressing comments pt2
  lib/crewai/src/crewai/flow/runtime.py
  lib/crewai/tests/test_flow_conversation.py
Due: ruff, ruff-format, mypy

type check fix
  lib/crewai-core/src/crewai_core/telemetry.py
Due: ruff, ruff-format, mypy

feat(events): add reset_runtime_state to release accumulated bus state
  lib/crewai/src/crewai/events/event_bus.py
  lib/crewai/tests/test_event_record.py
Due: ruff, ruff-format, mypy

lint and typecheck fix
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/src/crewai/flow/runtime.py
Due: ruff, ruff-format, mypy

improve convo routing cycle with one less route (#6102)
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/src/crewai/flow/conversational_definition.py
  lib/crewai/src/crewai/flow/dsl/_utils.py
  lib/crewai/src/crewai/flow/flow_context.py
  lib/crewai/src/crewai/flow/runtime.py
  lib/crewai/tests/test_flow_conversation.py
  lib/crewai/tests/test_flow_definition.py
Due: ruff, ruff-format, mypy

fix telemetry setup on crewai-login (#6106)
  lib/crewai-core/src/crewai_core/telemetry.py
  lib/crewai-core/tests/test_smoke.py
  lib/crewai/src/crewai/telemetry/telemetry.py
  lib/crewai/tests/telemetry/test_telemetry.py
Due: ruff, ruff-format, mypy

handle supporting both custom prompts
  docs/en/guides/advanced/customizing-prompts.mdx
  lib/crewai/src/crewai/agents/agent_builder/base_agent.py
  lib/crewai/tests/agents/test_agent.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
