Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

Fix linting
  lib/crewai/tests/llms/azure/test_azure_responses.py
Due: ruff, ruff-format

feat(tools): Add PerplexitySearchTool
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/perplexity_tools/README.md
  lib/crewai-tools/src/crewai_tools/tools/perplexity_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/perplexity_tools/perplexity_search_tool.py
  lib/crewai-tools/tests/tools/test_perplexity_search_tool.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy

fix(mcp): warn and return empty when native MCP server returns no tools
  lib/crewai/src/crewai/mcp/tool_resolver.py
  lib/crewai/tests/mcp/test_tool_resolver_native.py
Due: ruff, ruff-format, mypy

fix(instructor): forward base_url and api_key to instructor.from_provider
  lib/crewai/src/crewai/utilities/internal_instructor.py
  lib/crewai/tests/utilities/test_converter.py
Due: ruff, ruff-format, mypy

feat(crewai-tools): add Vaultfire on-chain trust tools
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/vaultfire_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/vaultfire_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/vaultfire_tool/vaultfire_tool.py
Due: ruff, ruff-format, mypy

docs: add ampersend x402 payment integration
  docs/en/tools/integration/ampersendx402tool.mdx
  docs/en/tools/integration/overview.mdx
Due: none

feat(azure): forward credential_scopes to Azure AI Inference client
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/tests/llms/azure/test_azure.py
Due: ruff, ruff-format, mypy

refactor(azure): tighten credential_scopes env handling
  lib/crewai/src/crewai/llms/providers/azure/completion.py
Due: ruff, ruff-format, mypy

docs: fix duplicate "the the" typos in two crewai-tools READMEs
  lib/crewai-tools/README.md
  lib/crewai-tools/src/crewai_tools/aws/bedrock/browser/README.md
Due: none

fix(tracing): stop nagging users who declined tracing (#5665)
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
  lib/crewai/src/crewai/events/listeners/tracing/utils.py
  lib/crewai/src/crewai/events/utils/console_formatter.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/tests/tracing/test_tracing_message_suppression.py
Due: ruff, ruff-format, mypy

fix(llm): preserve tool_calls when response also contains text
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

Revert "feat(flow): support custom persistence key in @persist (#5649)"
  docs/ar/concepts/flows.mdx
  docs/ar/concepts/production-architecture.mdx
  docs/ar/guides/flows/mastering-flow-state.mdx
  docs/en/concepts/flows.mdx
  docs/en/concepts/production-architecture.mdx
  docs/en/guides/flows/mastering-flow-state.mdx
  docs/ko/concepts/flows.mdx
  docs/ko/concepts/production-architecture.mdx
  docs/ko/guides/flows/mastering-flow-state.mdx
  docs/pt-BR/concepts/flows.mdx
  docs/pt-BR/concepts/production-architecture.mdx
  docs/pt-BR/guides/flows/mastering-flow-state.mdx
  lib/crewai/src/crewai/flow/persistence/decorators.py
  lib/crewai/tests/test_flow_persistence.py
Due: ruff, ruff-format, mypy

fix(converter): fall through when JSON regex match isn't valid JSON
  lib/crewai/src/crewai/utilities/converter.py
  lib/crewai/tests/utilities/test_converter.py
Due: ruff, ruff-format, mypy

refactor(converter): drop double-parse, validate parsed dict directly
  lib/crewai/src/crewai/utilities/converter.py
Due: ruff, ruff-format, mypy

fix(converter): use strict=False to match jiter lenient parsing
  lib/crewai/src/crewai/utilities/converter.py
  lib/crewai/tests/utilities/test_converter.py
Due: ruff, ruff-format, mypy

chore(crewai-tools): drop self-explanatory comment on schema alias
  lib/crewai-tools/src/crewai_tools/tools/exa_tools/exa_search_tool.py
Due: ruff, ruff-format, mypy

docs(crewai-tools): default highlights to True, drop summary from examples
  docs/ar/tools/search-research/exasearchtool.mdx
  docs/en/concepts/tools.mdx
  docs/en/tools/search-research/exasearchtool.mdx
  lib/crewai-tools/src/crewai_tools/tools/exa_tools/README.md
  lib/crewai-tools/src/crewai_tools/tools/exa_tools/exa_search_tool.py
  lib/crewai-tools/tests/tools/exa_search_tool_test.py
Due: ruff, ruff-format, mypy

docs(crewai-tools): simplify highlights examples to highlights=True
  docs/ar/tools/search-research/exasearchtool.mdx
  docs/en/tools/search-research/exasearchtool.mdx
  lib/crewai-tools/src/crewai_tools/tools/exa_tools/README.md
Due: none

chore(devtools): open PR for deployment test bump and wait for merge
  lib/devtools/src/crewai_devtools/cli.py
Due: ruff, ruff-format, mypy

fix: save flow visualization to current working directory
  lib/crewai/src/crewai/flow/visualization/renderers/interactive.py
Due: ruff, ruff-format, mypy

fix: Use defusedxml instead of xml.etree.ElementTree to prevent XXE attacks
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/rag/loaders/xml_loader.py
Due: ruff, ruff-format, mypy

fix: Use LF line endings in generate_tool_specs.py on Windows
  lib/crewai-tools/src/crewai_tools/generate_tool_specs.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.14.4
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

docs: update changelog and version for v1.14.4
  docs/ar/changelog.mdx
  docs/docs.json
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

feat(crewai-tools): add x-exa-integration header for usage tracking
  lib/crewai-tools/src/crewai_tools/tools/exa_tools/exa_search_tool.py
Due: ruff, ruff-format, mypy

docs(crewai-tools): add Exa MCP section and resources links
  docs/ar/tools/search-research/exasearchtool.mdx
  docs/en/tools/search-research/exasearchtool.mdx
  docs/ko/tools/search-research/exasearchtool.mdx
  docs/pt-BR/tools/search-research/exasearchtool.mdx
Due: none

ensure we have skills loading events for traces
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
Due: ruff, ruff-format, mypy

fix(devtools): cover missing crewai pin sites in release flow
  lib/devtools/src/crewai_devtools/cli.py
Due: ruff, ruff-format, mypy

fix(devtools): stage updated workflow files in deploy-test commit
  lib/devtools/src/crewai_devtools/cli.py
Due: ruff, ruff-format, mypy

feat(flow): add restore_from_state_id kickoff parameter for state forking
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/tests/test_flow_persistence.py
Due: ruff, ruff-format, mypy

fix(flow): forward restore_from_state_id through akickoff
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/tests/test_flow_persistence.py
Due: ruff, ruff-format, mypy

Revert "fix(flow): add execution_id separate from state.id"
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/tests/test_crew.py
  lib/crewai/tests/test_flow_execution_id.py
Due: ruff, ruff-format, mypy

docs(flow): document restore_from_state_id forking semantics
  docs/ar/concepts/flows.mdx
  docs/ar/concepts/production-architecture.mdx
  docs/ar/guides/flows/mastering-flow-state.mdx
  docs/en/concepts/flows.mdx
  docs/en/concepts/production-architecture.mdx
  docs/en/guides/flows/mastering-flow-state.mdx
  docs/ko/concepts/flows.mdx
  docs/ko/concepts/production-architecture.mdx
  docs/ko/guides/flows/mastering-flow-state.mdx
  docs/pt-BR/concepts/flows.mdx
  docs/pt-BR/concepts/production-architecture.mdx
  docs/pt-BR/guides/flows/mastering-flow-state.mdx
Due: none

fix(devtools): decouple deploy-test workflow update from pyproject change
  lib/devtools/src/crewai_devtools/cli.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.14.5a1
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
  uv.lock
Due: ruff, ruff-format, mypy

docs: update changelog and version for v1.14.5a1
  docs/ar/changelog.mdx
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

fix: suppress disabled tracing nag
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
  lib/crewai/src/crewai/events/listeners/tracing/utils.py
  lib/crewai/src/crewai/events/utils/console_formatter.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/tests/tracing/test_trace_enable_disable.py
Due: ruff, ruff-format, mypy

fix(agent): keep task output models out of tool loop
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/tests/agents/test_agent.py
Due: ruff, ruff-format, mypy

fix(task): use async output conversion in async execution
  lib/crewai/src/crewai/task.py
  lib/crewai/src/crewai/utilities/converter.py
  lib/crewai/tests/test_task.py
  lib/crewai/tests/utilities/test_converter.py
Due: ruff, ruff-format, mypy

feat(crewai-tools): add GitDealFlowSignalTool for VC deal flow research
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/gitdealflow_signal_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/gitdealflow_signal_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/gitdealflow_signal_tool/gitdealflow_signal_tool.py
  lib/crewai-tools/src/crewai_tools/tools/gitdealflow_signal_tool/gitdealflow_signal_tool_test.py
Due: ruff, ruff-format, mypy
