Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock

feat: add CrewAI streaming module with token streaming functionality
  lib/crewai/src/crewai/streaming/__init__.py
  lib/crewai/src/crewai/streaming/streaming.py
Due: ruff, ruff-format, mypy

fix: route llm model syntax / to litellm
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/llms/openai/test_openai.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

Add comprehensive tests for MCP imports to address issue #3858
  lib/crewai/tests/mcp/test_mcp_imports.py
Due: ruff, ruff-format

wip: add list of supported models
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/constants.py
  lib/crewai/tests/llms/anthropic/test_anthropic.py
  lib/crewai/tests/llms/azure/test_azure.py
  lib/crewai/tests/llms/google/test_google.py
  lib/crewai/tests/llms/hooks/test_unsupported_providers.py
  lib/crewai/tests/llms/openai/test_openai.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

fix: route llm model syntax to litellm
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/constants.py
  lib/crewai/tests/llms/anthropic/test_anthropic.py
  lib/crewai/tests/llms/azure/test_azure.py
  lib/crewai/tests/llms/google/test_google.py
  lib/crewai/tests/llms/hooks/test_unsupported_providers.py
  lib/crewai/tests/llms/openai/test_openai.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

fix: properly handle agent max iterations
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/agents/test_agent.py
  lib/crewai/tests/cassettes/test_agent_max_iterations_stops_loop.yaml
Due: ruff, ruff-format, mypy

feat: bump versions to 1.4.1
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

chore: update crewAI tools dependency to version 1.4.1 in project templates
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
Due: none

feat: bump versions to 1.4.1 (#3862)
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

chore: update pytest-vcr config
  lib/crewai/tests/conftest.py
Due: ruff, ruff-format

chore: remove decorator kwarg to ensure global conftest applies
  lib/crewai-tools/tests/tools/firecrawl_crawl_website_tool_test.py
  lib/crewai-tools/tests/tools/firecrawl_scrape_website_tool_test.py
  lib/crewai-tools/tests/tools/firecrawl_search_tool_test.py
  lib/crewai/tests/agents/test_agent.py
  lib/crewai/tests/agents/test_lite_agent.py
  lib/crewai/tests/cassettes/test_output_json_hierarchical.yaml
  lib/crewai/tests/events/__init__.py
  lib/crewai/tests/experimental/evaluation/test_agent_evaluator.py
  lib/crewai/tests/knowledge/test_knowledge.py
  lib/crewai/tests/llms/anthropic/__init__.py
  lib/crewai/tests/llms/bedrock/__init__.py
  lib/crewai/tests/llms/google/__init__.py
  lib/crewai/tests/llms/hooks/test_openai_interceptor.py
  lib/crewai/tests/llms/openai/__init__.py
  lib/crewai/tests/llms/openai/test_openai.py
  lib/crewai/tests/memory/test_external_memory.py
  lib/crewai/tests/project/__init__.py
  lib/crewai/tests/rag/config/__init__.py
  lib/crewai/tests/telemetry/test_telemetry.py
  lib/crewai/tests/test_crew.py
  lib/crewai/tests/test_custom_llm.py
  lib/crewai/tests/test_llm.py
  lib/crewai/tests/test_project.py
  lib/crewai/tests/test_task.py
  lib/crewai/tests/test_task_guardrails.py
  lib/crewai/tests/tools/agent_tools/test_agent_tools.py
  lib/crewai/tests/tools/test_base_tool.py
  lib/crewai/tests/tools/test_structured_tool.py
  lib/crewai/tests/tracing/test_tracing.py
  lib/crewai/tests/utilities/test_converter.py
  lib/crewai/tests/utilities/test_events.py
Due: ruff, ruff-format

chore: remove telemetry mocks
  lib/crewai/tests/conftest.py
  lib/crewai/tests/telemetry/test_telemetry.py
  lib/crewai/tests/telemetry/test_telemetry_disable.py
Due: ruff, ruff-format

fix: use FINAL_ANSWER_ACTION constant for final answer detection in token streaming
  lib/crewai/src/crewai/streaming/streaming.py
Due: ruff, ruff-format, mypy

chore: organize pyproject, update pytest ini
  pyproject.toml
  uv.lock
Due: none

chore: adjust cassette dir and regenerate openai
  conftest.py
  lib/crewai/tests/agents/test_agent_a2a_wrapping.py
  lib/crewai/tests/cassettes/.gitkeep
  lib/crewai/tests/cassettes/llms/openai/test_openai_completion_call_returns_usage_metrics.yaml
  lib/crewai/tests/cassettes/llms/openai/test_openai_is_default_provider_without_explicit_llm_set_on_agent.yaml
  lib/crewai/tests/llms/openai/test_openai.py
  pyproject.toml
Due: ruff, ruff-format, mypy

Potential fix for code scanning alert no. 27: Incomplete URL substring sanitization
  lib/crewai/src/crewai/llms/providers/azure/completion.py
Due: ruff, ruff-format, mypy

Potential fix for code scanning alert no. 25: Incomplete URL substring sanitization
  lib/crewai-tools/tests/tools/brave_search_tool_test.py
Due: ruff, ruff-format

Potential fix for code scanning alert no. 26: Incomplete URL substring sanitization
  lib/crewai/src/crewai/llms/providers/azure/completion.py
Due: ruff, ruff-format, mypy

Potential fix for code scanning alert no. 23: Incomplete URL substring sanitization
  lib/crewai-tools/tests/tools/stagehand_tool_test.py
Due: ruff, ruff-format

dependabot.yml creation
  .github/dependabot.yml
Due: none

feat: add task-level dynamic filtering for MCP tools
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/mcp/config.py
  lib/crewai/src/crewai/mcp/filters.py
  lib/crewai/src/crewai/task.py
  lib/crewai/src/crewai/tools/agent_tools/base_agent_tools.py
  lib/crewai/src/crewai/tools/mcp_native_tool.py
  lib/crewai/tests/mcp/test_delegation_filtering.py
  lib/crewai/tests/mcp/test_task_level_filtering.py
Due: ruff, ruff-format, mypy

fix: respect explicit empty tools list in execute_task
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/tests/mcp/test_task_level_filtering.py
Due: ruff, ruff-format, mypy

Fix issue #3871: kickoff_for_each() hangs after completion
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/events/listeners/tracing/utils.py
  lib/crewai/tests/test_kickoff_for_each_hang.py
Due: ruff, ruff-format, mypy

Fix lint error and test failures
  lib/crewai/src/crewai/events/listeners/tracing/utils.py
  lib/crewai/tests/test_kickoff_for_each_hang.py
Due: ruff, ruff-format, mypy

Fix agent output sanitization to prevent internal ReAct fields from leaking
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/test_agent_output_sanitization.py
  pyproject.toml
  uv.lock
Due: ruff, ruff-format, mypy

Revert to pytest-recording to fix CI --block-network flag
  pyproject.toml
  uv.lock
Due: none

Fix links in CrewAI performance advantages section
  README.md
Due: none

feat: Add HTTP support for local MCP servers (#3876)
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agents/agent_builder/base_agent.py
  lib/crewai/src/crewai/mcp/config.py
  lib/crewai/src/crewai/mcp/transports/http.py
  lib/crewai/tests/mcp/test_http_mcp_support.py
Due: ruff, ruff-format, mypy

fix: Update warning log tests to use custom Logger monkeypatch
  lib/crewai/tests/mcp/test_http_mcp_support.py
Due: ruff, ruff-format

fix: Correct MCPToolWrapper patch path in fragment filtering test
  lib/crewai/tests/mcp/test_http_mcp_support.py
Due: ruff, ruff-format

fix: Resolve test failures in HTTP MCP support tests
  lib/crewai/tests/mcp/test_http_mcp_support.py
Due: ruff, ruff-format

docs: enhance task guardrail documentation with LLM-based validation support
  docs/en/concepts/tasks.mdx
Due: none

docs: enhance task guardrail documentation with LLM-based validation support (#3879)
  docs/en/concepts/tasks.mdx
Due: none

feat: add messages to task and agent outputs
  docs/en/concepts/tasks.mdx
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/lite_agent.py
  lib/crewai/src/crewai/lite_agent_output.py
  lib/crewai/src/crewai/task.py
  lib/crewai/src/crewai/tasks/task_output.py
  lib/crewai/tests/agents/test_lite_agent.py
  lib/crewai/tests/cassettes/test_lite_agent_output_includes_messages.yaml
  lib/crewai/tests/cassettes/test_task_output_includes_messages.yaml
  lib/crewai/tests/test_task.py
Due: ruff, ruff-format, mypy

using typing_extensions for 3.10 compatability
  lib/crewai/src/crewai/utilities/types.py
Due: ruff, ruff-format, mypy

feat: add last_messages attribute to agent for improved task tracking
  lib/crewai/src/crewai/crew.py
  lib/crewai/tests/test_task_guardrails.py
Due: ruff, ruff-format, mypy
