Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uv run ruff check
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        exclude: ^tests/

Removed console formatter file from commit
  src/crewai/events/utils/console_formatter.py
Due: ruff, ruff-format, mypy

Linting fixed
  src/crewai/memory/storage/mem0_storage.py
Due: ruff, ruff-format, mypy

Linting checks
  tests/storage/test_mem0_storage.py
Due: ruff, ruff-format

Fix MCP tool output truncation for multi-row results
  src/crewai/events/utils/console_formatter.py
  src/crewai/tools/tool_usage.py
  tests/test_mcp_tool_output.py
Due: ruff, ruff-format, mypy

Fix linting errors in tool_usage.py
  src/crewai/tools/tool_usage.py
Due: ruff, ruff-format, mypy

Fix remaining linting errors to resolve CI failures
  src/crewai/events/utils/console_formatter.py
  src/crewai/tools/tool_usage.py
Due: ruff, ruff-format, mypy

Fix critical import error and type-checker issues
  src/crewai/tools/tool_usage.py
  src/crewai/utilities/tool_utils.py
Due: ruff, ruff-format, mypy

Ignoring missing imports error
  pyproject.toml
Due: none

Added suggested changes
  src/crewai/memory/storage/mem0_storage.py
Due: ruff, ruff-format, mypy

feat: add thread-safe platform context management
  src/crewai/context.py
  tests/test_context.py
Due: ruff, ruff-format, mypy

chore: add type annotations and docstrings to langgraph adapters
  src/crewai/agents/agent_adapters/langgraph/langgraph_adapter.py
  src/crewai/agents/agent_adapters/langgraph/langgraph_tool_adapter.py
  src/crewai/agents/agent_adapters/langgraph/protocols.py
  src/crewai/agents/agent_adapters/langgraph/structured_output_converter.py
Due: ruff, ruff-format, mypy

chore: add type annotations and docstrings to langgraph adapters (#3503)
  src/crewai/agents/agent_adapters/langgraph/langgraph_adapter.py
  src/crewai/agents/agent_adapters/langgraph/langgraph_tool_adapter.py
  src/crewai/agents/agent_adapters/langgraph/protocols.py
  src/crewai/agents/agent_adapters/langgraph/structured_output_converter.py
Due: ruff, ruff-format, mypy

Fixed import untyped error
  pyproject.toml
  src/crewai/memory/storage/mem0_storage.py
Due: ruff, ruff-format, mypy

feat(tests): add duration caching for pytest-split
  .github/workflows/tests.yml
  .github/workflows/update-test-durations.yml
Due: none

linted
  src/crewai/events/listeners/tracing/trace_batch_manager.py
  src/crewai/events/listeners/tracing/trace_listener.py
Due: ruff, ruff-format, mypy

you
  .claude/settings.local.json
  .zencoder/rules/repo.md
  requirements.run_crew.txt
  run_crew.py
Due: ruff, ruff-format, mypy

chore: add type annotations and docstrings to openai agent adapters
  src/crewai/agents/agent_adapters/openai_agents/openai_adapter.py
  src/crewai/agents/agent_adapters/openai_agents/openai_agent_tool_adapter.py
  src/crewai/agents/agent_adapters/openai_agents/protocols.py
  src/crewai/agents/agent_adapters/openai_agents/structured_output_converter.py
Due: ruff, ruff-format, mypy

feat: add thread-safe platform context management (#3502)
  src/crewai/context.py
  tests/test_context.py
Due: ruff, ruff-format, mypy

fix: resolve test duration cache issues in CI workflows
  .github/workflows/tests.yml
  .github/workflows/update-test-durations.yml
Due: none

fix: use proper git diff for test change detection in CI
  .github/workflows/tests.yml
Due: none

fix: check duration file existence before test diff
  .github/workflows/tests.yml
Due: none

fix: temporarily disable duration-based splitting to fix duplicate test runs
  .github/workflows/tests.yml
Due: none

refactor: improve type hints and add docstrings to agent adapters
  src/crewai/agents/agent_adapters/base_agent_adapter.py
  src/crewai/agents/agent_adapters/base_tool_adapter.py
Due: ruff, ruff-format, mypy

Fix Issue #3154: Prevent Tool Execution Fabrication with Token-Based Verification
  README.md
  src/crewai/utilities/tool_execution_verifier.py
Due: ruff, ruff-format, mypy

fix: resolve test duration cache issues in CI workflows (#3506)
  .github/workflows/tests.yml
  .github/workflows/update-test-durations.yml
Due: none

feat: Add DLG4 grant system
  dlg4_grant_system.py
Due: ruff, ruff-format, mypy

feat: Implement smoke mode, harden WebSearchTool, and add tests
  dlg4_grant_system.py
  tests_local/test_dlg4_smoke.py
  tests_local/test_web_search_tool.py
Due: ruff, ruff-format, mypy

fix: Gracefully handle empty LLM responses from LLM calls
  src/crewai/utilities/agent_utils.py
Due: ruff, ruff-format, mypy

fix: Fix module import path for local tests
  tests_local/test_dlg4_smoke.py
  tests_local/test_web_search_tool.py
Due: ruff, ruff-format, mypy

feat: Add support for multiple LLM output formats beyond ReAct
  src/crewai/agents/constants.py
  src/crewai/agents/parser.py
  tests/agents/test_crew_agent_parser.py
Due: ruff, ruff-format, mypy

fix: Address lint issues in parser implementation
  src/crewai/agents/parser.py
Due: ruff, ruff-format, mypy

fix: Refactor try-except loop to resolve PERF203 lint issue
  tests/agents/test_crew_agent_parser.py
Due: ruff, ruff-format

chore: add type annotations and docstrings to openai agent adapters (#3505)
  src/crewai/agents/agent_adapters/openai_agents/openai_adapter.py
  src/crewai/agents/agent_adapters/openai_agents/openai_agent_tool_adapter.py
  src/crewai/agents/agent_adapters/openai_agents/protocols.py
  src/crewai/agents/agent_adapters/openai_agents/structured_output_converter.py
Due: ruff, ruff-format, mypy

fix: remove @abstractmethod decorator from sanitize_tool_name
  src/crewai/agents/agent_adapters/base_agent_adapter.py
  src/crewai/agents/agent_adapters/base_tool_adapter.py
Due: ruff, ruff-format, mypy

refactor: make sanitize_tool_name a static method
  src/crewai/agents/agent_adapters/base_tool_adapter.py
Due: ruff, ruff-format, mypy

fix: handle model parameter in OpenAI adapter initialization
  src/crewai/agents/agent_adapters/openai_agents/openai_adapter.py
Due: ruff, ruff-format, mypy

Add CrewAIPlatformTools (#449)
  src/crewai_tools/__init__.py
  src/crewai_tools/tools/__init__.py
  src/crewai_tools/tools/crewai_enterprise_tools/crewai_enterprise_tools.py
  src/crewai_tools/tools/crewai_platform_tools/__init__.py
  src/crewai_tools/tools/crewai_platform_tools/crewai_platform_action_tool.py
  src/crewai_tools/tools/crewai_platform_tools/crewai_platform_tool_builder.py
  src/crewai_tools/tools/crewai_platform_tools/crewai_platform_tools.py
  src/crewai_tools/tools/crewai_platform_tools/misc.py
  tests/tools/crewai_platform_tools/test_crewai_platform_action_tool.py
  tests/tools/crewai_platform_tools/test_crewai_platform_tool_builder.py
  tests/tools/crewai_platform_tools/test_crewai_platform_tools.py
Due: ruff, ruff-format, mypy

feat: attempt to make embedchain optional (#450)
  src/crewai_tools/adapters/embedchain_adapter.py
  src/crewai_tools/adapters/pdf_embedchain_adapter.py
  src/crewai_tools/tools/brightdata_tool/brightdata_dataset.py
  src/crewai_tools/tools/brightdata_tool/brightdata_serp.py
  src/crewai_tools/tools/brightdata_tool/brightdata_unlocker.py
  src/crewai_tools/tools/code_docs_search_tool/code_docs_search_tool.py
  src/crewai_tools/tools/csv_search_tool/csv_search_tool.py
  src/crewai_tools/tools/directory_search_tool/directory_search_tool.py
  src/crewai_tools/tools/docx_search_tool/docx_search_tool.py
  src/crewai_tools/tools/github_search_tool/github_search_tool.py
  src/crewai_tools/tools/mdx_search_tool/mdx_search_tool.py
  src/crewai_tools/tools/mysql_search_tool/mysql_search_tool.py
  src/crewai_tools/tools/nl2sql/nl2sql_tool.py
  src/crewai_tools/tools/pdf_search_tool/pdf_search_tool.py
  src/crewai_tools/tools/pg_search_tool/pg_search_tool.py
  src/crewai_tools/tools/rag/rag_tool.py
  src/crewai_tools/tools/scrape_element_from_website/scrape_element_from_website.py
  src/crewai_tools/tools/scrape_website_tool/scrape_website_tool.py
  src/crewai_tools/tools/website_search/website_search_tool.py
  src/crewai_tools/tools/youtube_channel_search_tool/youtube_channel_search_tool.py
  src/crewai_tools/tools/youtube_video_search_tool/youtube_video_search_tool.py
Due: ruff, ruff-format, mypy

Dropping messages from metadata in Mem0 Storage (#3390)
  src/crewai/memory/storage/mem0_storage.py
  tests/storage/test_mem0_storage.py
Due: ruff, ruff-format, mypy

fix: handle model parameter in OpenAI adapter initialization (#3510)
  src/crewai/agents/agent_adapters/openai_agents/openai_adapter.py
Due: ruff, ruff-format, mypy
