Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

wip: clean
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agent/utils.py
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/src/crewai/events/utils/console_formatter.py
  lib/crewai/src/crewai/experimental/crew_agent_executor_flow.py
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/src/crewai/translations/en.json
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/src/crewai/utilities/prompts.py
  lib/crewai/tests/agents/test_native_tool_calling.py
  lib/crewai/tests/utilities/test_agent_utils.py
Due: ruff, ruff-format, mypy

ensure executors work inside a flow due to flow in flow async structure
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/utilities/agent_utils.py
Due: ruff, ruff-format, mypy

refactor: enhance agent kickoff preparation by separating common logic
  lib/crewai/src/crewai/agent/core.py
Due: ruff, ruff-format, mypy

linting and tests
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/tests/agents/test_lite_agent.py
Due: ruff, ruff-format, mypy

Add KeycloakProvider
  lib/crewai/src/crewai/cli/authentication/providers/keycloak.py
Due: ruff, ruff-format, mypy

fix: pass tools to llm.call() for native function calling support
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/utilities/test_agent_utils.py
Due: ruff, ruff-format, mypy

docs: fix broken Google Sheets integration link
  docs/en/enterprise/integrations/google_sheets.mdx
Due: none

fix: only pass tools parameter when tools are available
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/utilities/test_agent_utils.py
Due: ruff, ruff-format, mypy

fix test
  lib/crewai/tests/utilities/test_events.py
Due: ruff, ruff-format

Add tests
  lib/crewai/tests/cli/authentication/providers/test_keycloak.py
Due: ruff, ruff-format

refactor: improve test for Agent kickoff parameters
  lib/crewai/tests/agents/test_lite_agent.py
Due: ruff, ruff-format

refactor: update test task guardrail process output for improved validation
  lib/crewai/tests/cassettes/test_task_guardrail_process_output.yaml
Due: none

test fix cassette
  lib/crewai/tests/cassettes/test_task_guardrail_process_output.yaml
Due: none

test fix cassette
  lib/crewai/tests/test_task_guardrails.py
Due: ruff, ruff-format

working
  lib/crewai/tests/cassettes/test_task_guardrail_process_output.yaml
  lib/crewai/tests/test_task_guardrails.py
Due: ruff, ruff-format

working cassette
  lib/crewai/tests/cassettes/test_multiple_before_after_kickoff.yaml
Due: none

refactor: streamline agent execution and enhance flow compatibility
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/tests/cassettes/agents/test_lite_agent_inside_flow_sync.yaml
  lib/crewai/tests/cassettes/agents/test_lite_agent_inside_flow_with_tools.yaml
  lib/crewai/tests/cassettes/agents/test_lite_agent_kickoff_async_inside_flow.yaml
  lib/crewai/tests/cassettes/agents/test_lite_agent_standalone_still_works.yaml
  lib/crewai/tests/cassettes/agents/test_multiple_agents_in_same_flow.yaml
Due: ruff, ruff-format, mypy

fix: ensure input required, new message
  lib/crewai/src/crewai/a2a/utils/response_model.py
  lib/crewai/src/crewai/a2a/utils/task.py
  lib/crewai/src/crewai/types/utils.py
Due: ruff, ruff-format, mypy

fixed cassette
  lib/crewai/tests/cassettes/test_task_guardrail_process_output.yaml
Due: none

fix: bypass optional imports
  lib/crewai/src/crewai/a2a/config.py
  lib/crewai/src/crewai/agent/core.py
Due: ruff, ruff-format, mypy

feat: add a2a server config; agent card generation
  lib/crewai/src/crewai/a2a/config.py
  lib/crewai/src/crewai/a2a/types.py
  lib/crewai/src/crewai/a2a/utils/__init__.py
  lib/crewai/src/crewai/a2a/utils/agent_card.py
  lib/crewai/src/crewai/a2a/utils/delegation.py
  lib/crewai/src/crewai/a2a/utils/response_model.py
  lib/crewai/src/crewai/a2a/wrapper.py
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/tests/a2a/utils/test_agent_card.py
  pyproject.toml
Due: ruff, ruff-format, mypy

chore: a2a agent card docs, refine existing a2a docs
  docs/en/learn/a2a-agent-delegation.mdx
  lib/crewai/src/crewai/a2a/__init__.py
Due: ruff, ruff-format, mypy

feat: a2a task execution utilities
  lib/crewai/src/crewai/a2a/config.py
  lib/crewai/src/crewai/a2a/utils/response_model.py
  lib/crewai/src/crewai/a2a/utils/task.py
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/events/event_types.py
  lib/crewai/src/crewai/events/types/a2a_events.py
  lib/crewai/src/crewai/types/utils.py
  lib/crewai/tests/a2a/utils/test_task.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.8.1
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

bump bump
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
Due: none

feat: bump versions to 1.8.1 (#4242)
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

CrewAI AMP Deployment Guidelines (#4205)
  .gitignore
  docs/docs.json
  docs/en/enterprise/guides/deploy-to-amp.mdx
  docs/en/enterprise/guides/prepare-for-deployment.mdx
  docs/ko/concepts/production-architecture.mdx
  docs/ko/enterprise/features/automations.mdx
  docs/ko/enterprise/features/crew-studio.mdx
  docs/ko/enterprise/guides/deploy-crew.mdx
  docs/ko/enterprise/guides/deploy-to-amp.mdx
  docs/ko/enterprise/guides/prepare-for-deployment.mdx
  docs/ko/enterprise/introduction.mdx
  docs/pt-BR/concepts/production-architecture.mdx
  docs/pt-BR/enterprise/features/automations.mdx
  docs/pt-BR/enterprise/features/crew-studio.mdx
  docs/pt-BR/enterprise/guides/deploy-crew.mdx
  docs/pt-BR/enterprise/guides/deploy-to-amp.mdx
  docs/pt-BR/enterprise/guides/prepare-for-deployment.mdx
  docs/pt-BR/enterprise/introduction.mdx
Due: none

Enhance Flow Execution Logic
  lib/crewai/src/crewai/flow/flow.py
Due: ruff, ruff-format, mypy

feat: keycloak sso provider support (#4241)
  lib/crewai/src/crewai/cli/authentication/providers/keycloak.py
  lib/crewai/tests/cli/authentication/providers/test_keycloak.py
Due: ruff, ruff-format, mypy

supporting vertex through api key use - expo mode
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/tests/cassettes/llms/google/test_google_express_mode_works.yaml
  lib/crewai/tests/llms/google/test_google.py
Due: ruff, ruff-format, mypy

docs update here
  docs/en/concepts/llms.mdx
  docs/ko/concepts/llms.mdx
  docs/pt-BR/concepts/llms.mdx
Due: none

docs translations
  docs/ko/concepts/llms.mdx
  docs/pt-BR/concepts/llms.mdx
Due: none

Enhance Agent and Flow Execution Logic
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/tests/cassettes/agents/test_multiple_agents_in_same_flow.yaml
Due: ruff, ruff-format, mypy

feat: add additional a2a events; emissions
  lib/crewai/src/crewai/a2a/task_helpers.py
  lib/crewai/src/crewai/a2a/updates/base.py
  lib/crewai/src/crewai/a2a/updates/polling/handler.py
  lib/crewai/src/crewai/a2a/updates/push_notifications/handler.py
  lib/crewai/src/crewai/a2a/updates/streaming/handler.py
  lib/crewai/src/crewai/a2a/utils/agent_card.py
  lib/crewai/src/crewai/a2a/utils/delegation.py
  lib/crewai/src/crewai/a2a/utils/task.py
  lib/crewai/src/crewai/a2a/wrapper.py
  lib/crewai/src/crewai/events/event_types.py
  lib/crewai/src/crewai/events/types/a2a_events.py
  lib/crewai/tests/a2a/utils/test_task.py
Due: ruff, ruff-format, mypy

Enhance Flow Listener Logic and Agent Imports
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/tests/test_flow.py
Due: ruff, ruff-format, mypy

feat: add pass additional data to a2a events
  lib/crewai/src/crewai/a2a/task_helpers.py
  lib/crewai/src/crewai/a2a/updates/polling/handler.py
  lib/crewai/src/crewai/a2a/updates/push_notifications/handler.py
  lib/crewai/src/crewai/a2a/updates/streaming/handler.py
  lib/crewai/src/crewai/events/event_types.py
  lib/crewai/src/crewai/events/types/a2a_events.py
Due: ruff, ruff-format, mypy

feat: register traces
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
  lib/crewai/tests/a2a/utils/test_task.py
Due: ruff, ruff-format, mypy

fix: ensure loop close
  lib/crewai/src/crewai/a2a/utils/delegation.py
Due: ruff, ruff-format, mypy

chore: update test assumption
  lib/crewai/tests/agents/test_a2a_trust_completion_status.py
Due: ruff, ruff-format

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/)
