Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

fix: inject tool errors as observations and resolve name collisions
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/tools/base_tool.py
  lib/crewai/src/crewai/tools/structured_tool.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/src/crewai/utilities/string_utils.py
  lib/crewai/tests/agents/test_native_tool_calling.py
  lib/crewai/tests/utilities/test_agent_utils.py
Due: ruff, ruff-format, mypy

fix(telemetry): move signal.signal mock inside thread to wrap Telemetry() construction
  lib/crewai/tests/telemetry/test_telemetry.py
Due: ruff, ruff-format

fix(test): resolve merge conflict in regression test for tools=None
  lib/crewai/tests/agents/test_agent.py
Due: ruff, ruff-format

Add KCP manifest, TL;DR files, and benchmark results
  BENCHMARK.md
  benchmark.py
  docs/en/concepts/agents-tasks-tldr.mdx
  docs/en/concepts/flows-tldr.mdx
  docs/en/concepts/tools-memory-tldr.mdx
  docs/en/getting-started-tldr.mdx
  knowledge.yaml
Due: ruff, ruff-format, mypy

fix: use REPO_ROOT derived from __file__ instead of hardcoded path
  benchmark.py
Due: ruff, ruff-format, mypy

fix: remove hardcoded path from BENCHMARK.md; restrict file access to REPO_ROOT
  BENCHMARK.md
  benchmark.py
Due: ruff, ruff-format, mypy

feat: implement native tool calling in LiteAgent
  lib/crewai/src/crewai/lite_agent.py
  lib/crewai/src/crewai/translations/en.json
  lib/crewai/tests/agents/test_lite_agent.py
  lib/crewai/tests/cassettes/hooks/TestToolHooksIntegration.test_lite_agent_hooks_integration_with_real_tool.yaml
Due: ruff, ruff-format, mypy

fix: harden path validation — use pathlib.relative_to and restrict glob_files
  benchmark.py
Due: ruff, ruff-format, mypy

fix
  lib/crewai/src/crewai/lite_agent.py
Due: ruff, ruff-format, mypy

fix: restore base_dir support with validation; use -e for grep pattern
  benchmark.py
Due: ruff, ruff-format, mypy

refactor: streamline LiteAgent tool handling and enhance after-LLM call hooks
  lib/crewai/src/crewai/lite_agent.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/agents/test_lite_agent.py
Due: ruff, ruff-format, mypy

fix(kcp): correct summary_of relationships for combined TL;DR units
  knowledge.yaml
Due: none

fix: reset executor messages and iterations between task executions
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/tests/agents/test_crew_agent_executor_state_reset.py
Due: ruff, ruff-format, mypy

feat(cli): update model options to include latest models
  lib/crewai/src/crewai/cli/constants.py
  lib/crewai/tests/cli/test_constants.py
Due: ruff, ruff-format, mypy

fix: enforce deterministic ordering for equal-priority crew tasks
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/task.py
  lib/crewai/tests/crew/test_deterministic_task_ordering.py
Due: ruff, ruff-format, mypy

fix: address review comments - add runtime enforcement and remove unused code
  lib/crewai/src/crewai/crew.py
  lib/crewai/tests/crew/test_deterministic_task_ordering.py
Due: ruff, ruff-format, mypy

fix: remove sorted() calls to avoid shared-task mutation issues
  lib/crewai/src/crewai/crew.py
Due: ruff, ruff-format, mypy

tests: enforce deterministic equal-priority task ordering (#4664)
  lib/crewai/tests/test_crew.py
Due: ruff, ruff-format

tests: align ordering contract coverage (#4664)
  lib/crewai/tests/test_crew.py
Due: ruff, ruff-format

Potential fix for pull request finding 'Unused local variable'
  lib/crewai/tests/agents/test_lite_agent.py
Due: ruff, ruff-format

fix tests
  lib/crewai/tests/agents/test_lite_agent.py
Due: ruff, ruff-format

fix(test): move Telemetry() inside signal.signal mock context
  lib/crewai/src/crewai/telemetry/telemetry.py
  lib/crewai/tests/telemetry/test_telemetry.py
Due: ruff, ruff-format, mypy

fix(telemetry): skip signal handler registration in non-main threads
  lib/crewai/src/crewai/telemetry/telemetry.py
  lib/crewai/tests/telemetry/test_telemetry.py
Due: ruff, ruff-format, mypy

fix(test): mock logger.debug instead of capsys for deterministic assertion
  lib/crewai/tests/telemetry/test_telemetry.py
Due: ruff, ruff-format

fix: handle running event loop in A2A sync wrappers (#4671)
  lib/crewai/src/crewai/a2a/utils/agent_card.py
  lib/crewai/src/crewai/a2a/utils/delegation.py
  lib/crewai/tests/a2a/utils/test_agent_card_event_loop.py
  lib/crewai/tests/a2a/utils/test_delegation_event_loop.py
Due: ruff, ruff-format, mypy

fix: conditionally pass plus header
  lib/crewai/src/crewai/cli/plus_api.py
  lib/crewai/src/crewai/events/listeners/tracing/trace_batch_manager.py
Due: ruff, ruff-format, mypy

docs: add security best practices guide for agents
  docs/docs.json
  docs/en/guides/advanced/security-best-practices.mdx
Due: none

feat: upgrade gemini genai
  lib/crewai/pyproject.toml
Due: none

fix(a2a): support Jupyter environments with running event loops
  lib/crewai/src/crewai/a2a/utils/agent_card.py
  lib/crewai/src/crewai/a2a/utils/delegation.py
Due: ruff, ruff-format, mypy

fix(gemini): surface thought output from thinking models
  lib/crewai/src/crewai/events/types/llm_events.py
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  uv.lock
Due: ruff, ruff-format, mypy

fix(deps): bump tokenizers lower bound to >=0.21 to avoid broken 0.20.3
  lib/crewai/pyproject.toml
  uv.lock
Due: none

fix: load MCP and platform tools when agent tools is None
  lib/crewai/src/crewai/agent/core.py
  uv.lock
Due: ruff, ruff-format, mypy

docs: add governance middleware guide for agent authority separation
  docs/docs.json
  docs/en/guides/advanced/governance-middleware.mdx
Due: none

Create migrating-from-langgraph.mdx
  docs/en/guides/migration/migrating-from-langgraph.mdx
Due: none

Menu
  docs/docs.json
Due: none

fix: address 4 governance middleware bugs
  docs/en/guides/advanced/governance-middleware.mdx
Due: none
