Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock

chore: update test assumption
  lib/crewai/tests/cassettes/agents/TestAgentA2AKickoff.test_agent_kickoff_delegates_to_a2a.yaml
  lib/crewai/tests/cassettes/agents/TestAgentA2AKickoff.test_agent_kickoff_handles_multi_turn_conversation.yaml
  lib/crewai/tests/cassettes/agents/TestAgentA2AKickoff.test_agent_kickoff_returns_lite_agent_output.yaml
  lib/crewai/tests/cassettes/agents/TestAgentA2AKickoff.test_agent_kickoff_with_calculator_skill.yaml
  lib/crewai/tests/cassettes/agents/TestAgentA2AKickoff.test_agent_kickoff_with_conversation_skill.yaml
  lib/crewai/tests/cassettes/agents/TestAgentA2AKickoff.test_agent_kickoff_with_list_messages.yaml
  lib/crewai/tests/cassettes/agents/TestAgentA2AKickoffAsync.test_agent_kickoff_async_delegates_to_a2a.yaml
  lib/crewai/tests/cassettes/agents/TestAgentA2AKickoffAsync.test_agent_kickoff_async_with_calculator.yaml
Due: none

chore: regen cassettes
  lib/crewai/tests/cassettes/agents/TestAgentA2AKickoff.test_agent_kickoff_delegates_to_a2a.yaml
  lib/crewai/tests/cassettes/agents/TestAgentA2AKickoff.test_agent_kickoff_handles_multi_turn_conversation.yaml
  lib/crewai/tests/cassettes/agents/TestAgentA2AKickoff.test_agent_kickoff_returns_lite_agent_output.yaml
  lib/crewai/tests/cassettes/agents/TestAgentA2AKickoff.test_agent_kickoff_with_calculator_skill.yaml
  lib/crewai/tests/cassettes/agents/TestAgentA2AKickoff.test_agent_kickoff_with_conversation_skill.yaml
  lib/crewai/tests/cassettes/agents/TestAgentA2AKickoff.test_agent_kickoff_with_failed_a2a_endpoint.yaml
  lib/crewai/tests/cassettes/agents/TestAgentA2AKickoff.test_agent_kickoff_with_list_messages.yaml
  lib/crewai/tests/cassettes/agents/TestAgentA2AKickoff.test_agent_without_a2a_works_normally.yaml
  lib/crewai/tests/cassettes/agents/TestAgentA2AKickoffAsync.test_agent_kickoff_async_delegates_to_a2a.yaml
  lib/crewai/tests/cassettes/agents/TestAgentA2AKickoffAsync.test_agent_kickoff_async_with_calculator.yaml
Due: none

chore: skip some tests that cache agent cards too well
  lib/crewai/tests/agents/test_agent_a2a_kickoff.py
  lib/crewai/tests/cassettes/agents/TestAgentA2AKickoff.test_agent_kickoff_delegates_to_a2a.yaml
  lib/crewai/tests/cassettes/agents/TestAgentA2AKickoff.test_agent_kickoff_handles_multi_turn_conversation.yaml
Due: ruff, ruff-format

chore: skip additional test
  lib/crewai/tests/agents/test_agent_a2a_kickoff.py
Due: ruff, ruff-format

chore: skip more
  lib/crewai/tests/agents/test_agent_a2a_kickoff.py
Due: ruff, ruff-format

feat: bump versions to 1.9.3
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

bump bump
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
Due: none

feat: bump versions to 1.9.3 (#4316)
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

feat(cli): update model options to include latest models
  lib/crewai/src/crewai/cli/constants.py
  lib/crewai/tests/cli/test_constants.py
Due: ruff, ruff-format, mypy

fix: clear agent executor messages when reused across tasks
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/tests/agents/test_agent.py
Due: ruff, ruff-format, mypy

fix: use uv directly in pre-commit hooks for cross-platform support
  .pre-commit-config.yaml
Due: none

Fixed console Formatting
  lib/crewai/src/crewai/events/utils/console_formatter.py
Due: ruff, ruff-format, mypy

fix: cast latest_n to int in LTMSQLiteStorage to prevent SQL injection
  lib/crewai/src/crewai/memory/storage/ltm_sqlite_storage.py
Due: ruff, ruff-format, mypy

fix: Add XSS protection to flow visualization (issue #4326)
  lib/crewai/src/crewai/flow/visualization/assets/interactive.js
  lib/crewai/src/crewai/flow/visualization/assets/interactive_flow.html.j2
  lib/crewai/tests/test_flow_visualization.py
Due: ruff, ruff-format

fix: clear agent executor messages when updating parameters to prevent task context leakage
  lib/crewai/src/crewai/agent/core.py
Due: ruff, ruff-format, mypy

Add bocha search tool
  lib/crewai-tools/__init__.py
  lib/crewai-tools/src/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/bocha_search_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/bocha_search_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/bocha_search_tool/bocha_search_tool.py
Due: ruff, ruff-format, mypy

fix: relax openai and litellm dependency constraints
  lib/crewai/pyproject.toml
  uv.lock
Due: none

fix: replace timing-based concurrency test with deterministic state tracking
  lib/crewai/tests/agents/test_async_agent_executor.py
Due: ruff, ruff-format

docs: clean up docstring and finalize fix for #4328
  lib/crewai/src/crewai/agent/core.py
Due: ruff, ruff-format, mypy

feat: add OceanBase vector search tool
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/oceanbase_vector_search_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/oceanbase_vector_search_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/oceanbase_vector_search_tool/oceanbase_vector_search_tool.py
  lib/crewai-tools/tests/tools/test_oceanbase_vector_search_tool.py
Due: ruff, ruff-format, mypy

feat(crewai-tools): add OceanBaseVectorSearchTool for vector search with OceanBase
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/oceanbase_vector_search_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/oceanbase_vector_search_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/oceanbase_vector_search_tool/oceanbase_vector_search_tool.py
  lib/crewai-tools/src/crewai_tools/tools/rag/rag_tool.py
  lib/crewai-tools/src/crewai_tools/tools/rag/types.py
  uv.lock
Due: ruff, ruff-format, mypy

fix: Make PickleHandler thread-safe (Fixes #4215)
  lib/crewai/src/crewai/utilities/file_handler.py
  lib/crewai/tests/utilities/test_file_handler.py
  lib/crewai/tests/utilities/test_pickle_handler_concurrency.py
Due: ruff, ruff-format, mypy

fix: use contextvars for flow execution context
  lib/crewai/src/crewai/flow/async_feedback/__init__.py
  lib/crewai/src/crewai/flow/async_feedback/providers.py
  lib/crewai/src/crewai/flow/async_feedback/types.py
  lib/crewai/src/crewai/flow/constants.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/flow/flow_config.py
  lib/crewai/src/crewai/flow/flow_context.py
  lib/crewai/src/crewai/flow/flow_trackable.py
  lib/crewai/src/crewai/flow/human_feedback.py
  lib/crewai/src/crewai/flow/persistence/base.py
  lib/crewai/src/crewai/flow/persistence/sqlite.py
  lib/crewai/tests/agents/test_lite_agent.py
  lib/crewai/tests/cassettes/test_sets_flow_context_when_inside_flow.yaml
  lib/crewai/tests/test_crew.py
Due: ruff, ruff-format, mypy

fix: address PR review feedback for tool metadata extraction
  lib/crewai/src/crewai/cli/plus_api.py
  lib/crewai/src/crewai/cli/utils.py
Due: ruff, ruff-format, mypy

declare `stagehand` package as dep for StagehandTool
  lib/crewai-tools/src/crewai_tools/tools/stagehand_tool/stagehand_tool.py
Due: ruff, ruff-format, mypy

fix: Use sha256 instead of md5 for module name hashing (lint S324)
  lib/crewai/src/crewai/cli/utils.py
  lib/crewai/tests/cli/tools/test_main.py
Due: ruff, ruff-format, mypy

declare `stagehand` package as dep for StagehandTool (#4336)
  lib/crewai-tools/src/crewai_tools/tools/stagehand_tool/stagehand_tool.py
Due: ruff, ruff-format, mypy

fix: resolve race condition in guardrail event emission test
  lib/crewai/tests/test_task_guardrails.py
Due: ruff, ruff-format

Update crewAI with latest features and fixes
  commit_log.txt
Due: none

feat: auto update tools.specs
  .github/workflows/generate-tool-specs.yml
Due: none

feat: auto update tools.specs (#4341)
  .github/workflows/generate-tool-specs.yml
Due: none

adds additional search params
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_search_tool.py
  lib/crewai-tools/tests/tools/brave_search_tool_test.py
Due: ruff, ruff-format, mypy

fix: add human_feedback metadata and visualization
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/flow/visualization/assets/interactive.js
  lib/crewai/src/crewai/flow/visualization/builder.py
  lib/crewai/src/crewai/flow/visualization/renderers/interactive.py
  lib/crewai/src/crewai/flow/visualization/types.py
  lib/crewai/tests/test_flow_visualization.py
Due: ruff, ruff-format, mypy

adds additional search params (#4321)
  lib/crewai-tools/src/crewai_tools/tools/brave_search_tool/brave_search_tool.py
  lib/crewai-tools/tests/tools/brave_search_tool_test.py
Due: ruff, ruff-format, mypy

fix: enforce additionalProperties=false in schemas
  lib/crewai/src/crewai/agents/agent_adapters/openai_agents/openai_agent_tool_adapter.py
  lib/crewai/src/crewai/utilities/pydantic_schema_utils.py
Due: ruff, ruff-format, mypy

fix: ensure nested items have required properties
  lib/crewai/src/crewai/agents/agent_adapters/openai_agents/openai_agent_tool_adapter.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/src/crewai/utilities/pydantic_schema_utils.py
Due: ruff, ruff-format, mypy
