Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

feat(flow): mark a declarative chat flow conversational on the instance
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/tests/test_flow_conversation.py
Due: ruff, ruff-format, mypy

refactor(flow): derive routing-artefact labels from the effective routes
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/tests/test_flow_conversation.py
Due: ruff, ruff-format, mypy

fix(flow): let an agent or crew handler reply in a conversation (#7034)
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/tests/test_flow_conversation.py
Due: ruff, ruff-format, mypy

feat(flow): synthesize the built-in conversational methods for declarations
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/src/crewai/flow/dsl/_utils.py
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/tests/test_flow_conversation.py
Due: ruff, ruff-format, mypy

fix(flow): keep privately recorded agent results out of the transcript
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/tests/test_flow_conversation.py
Due: ruff, ruff-format, mypy

docs(flow): correct the route-description rule in the authoring skill
  lib/crewai/src/crewai/flow/templates/flow_definition_skill.md.j2
Due: none

docs(flow): document declarative conversational flows
  docs/edge/ar/guides/flows/conversational-flows.mdx
  docs/edge/en/guides/flows/conversational-flows.mdx
  docs/edge/ko/guides/flows/conversational-flows.mdx
  docs/edge/pt-BR/guides/flows/conversational-flows.mdx
  lib/cli/src/crewai_cli/run_declarative_flow.py
  lib/cli/tests/test_run_declarative_flow.py
  lib/crewai/src/crewai/flow/skill.py
  lib/crewai/src/crewai/flow/templates/flow_definition_skill.md.j2
Due: ruff, ruff-format, mypy

fix(flow): render the conversational router section in the skill
  lib/crewai/src/crewai/flow/skill.py
  lib/crewai/src/crewai/flow/templates/flow_definition_skill.md.j2
  lib/crewai/tests/test_flow_definition.py
Due: ruff, ruff-format, mypy

docs: clarify sandbox security limits and fix wording
  lib/crewai-tools/src/crewai_tools/tools/k8s_agent_sandbox/README.md
  lib/crewai-tools/src/crewai_tools/tools/k8s_agent_sandbox/file_tool.py
Due: ruff, ruff-format, mypy

feat(tools): add Xquik X research tools
  docs/docs.json
  docs/edge/ar/tools/search-research/overview.mdx
  docs/edge/ar/tools/search-research/xquiktool.mdx
  docs/edge/en/tools/search-research/overview.mdx
  docs/edge/en/tools/search-research/xquiktool.mdx
  docs/edge/ko/tools/search-research/overview.mdx
  docs/edge/ko/tools/search-research/xquiktool.mdx
  docs/edge/pt-BR/tools/search-research/overview.mdx
  docs/edge/pt-BR/tools/search-research/xquiktool.mdx
  lib/crewai-tools/README.md
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/xquik_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/xquik_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/xquik_tool/xquik_tool.py
  lib/crewai-tools/tests/tools/xquik_tool_test.py
Due: ruff, ruff-format, mypy

fix(oxylabs): report scrape failures instead of raising IndexError
  docs/edge/ar/tools/web-scraping/oxylabsscraperstool.mdx
  docs/edge/en/tools/web-scraping/oxylabsscraperstool.mdx
  docs/edge/ko/tools/web-scraping/oxylabsscraperstool.mdx
  docs/edge/pt-BR/tools/web-scraping/oxylabsscraperstool.mdx
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/tools/oxylabs_amazon_product_scraper_tool/oxylabs_amazon_product_scraper_tool.py
  lib/crewai-tools/src/crewai_tools/tools/oxylabs_amazon_search_scraper_tool/oxylabs_amazon_search_scraper_tool.py
  lib/crewai-tools/src/crewai_tools/tools/oxylabs_base_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/oxylabs_base_tool/oxylabs_base_tool.py
  lib/crewai-tools/src/crewai_tools/tools/oxylabs_google_search_scraper_tool/oxylabs_google_search_scraper_tool.py
  lib/crewai-tools/src/crewai_tools/tools/oxylabs_universal_scraper_tool/oxylabs_universal_scraper_tool.py
  lib/crewai-tools/tests/tools/test_oxylabs_tools.py
  lib/crewai-tools/tool.specs.json
  uv.lock
Due: ruff, ruff-format, mypy

docs(frontend): add OpenUI CrewAI integration
  docs/docs.json
  docs/edge/ar/guides/frontend/openui.mdx
  docs/edge/en/guides/frontend/a2ui.mdx
  docs/edge/en/guides/frontend/conversational-flows.mdx
  docs/edge/en/guides/frontend/generative-ui.mdx
  docs/edge/en/guides/frontend/openui.mdx
  docs/edge/en/guides/frontend/overview.mdx
  docs/edge/ko/guides/frontend/openui.mdx
  docs/edge/pt-BR/guides/frontend/openui.mdx
  docs/examples/openui-crewai/.gitignore
  docs/examples/openui-crewai/README.md
  docs/examples/openui-crewai/backend/.env.example
  docs/examples/openui-crewai/backend/pyproject.toml
  docs/examples/openui-crewai/backend/src/openui_crewai_example/__init__.py
  docs/examples/openui-crewai/backend/src/openui_crewai_example/flow.py
  docs/examples/openui-crewai/backend/src/openui_crewai_example/server.py
  docs/examples/openui-crewai/backend/tests/test_flow.py
  docs/examples/openui-crewai/backend/uv.lock
  docs/examples/openui-crewai/frontend/.env.example
  docs/examples/openui-crewai/frontend/index.html
  docs/examples/openui-crewai/frontend/package-lock.json
  docs/examples/openui-crewai/frontend/package.json
  docs/examples/openui-crewai/frontend/src/App.tsx
  docs/examples/openui-crewai/frontend/src/library.test.ts
  docs/examples/openui-crewai/frontend/src/library.ts
  docs/examples/openui-crewai/frontend/src/main.tsx
  docs/examples/openui-crewai/frontend/src/styles.css
  docs/examples/openui-crewai/frontend/src/vite-env.d.ts
  docs/examples/openui-crewai/frontend/tsconfig.json
  docs/examples/openui-crewai/frontend/vite.config.ts
Due: ruff, ruff-format, mypy

fix(oxylabs): reach the config guard for an undeclared field
  lib/crewai-tools/src/crewai_tools/tools/oxylabs_base_tool/oxylabs_base_tool.py
  lib/crewai-tools/tests/tools/test_oxylabs_tools.py
Due: ruff, ruff-format, mypy

fix(docs): address OpenUI review feedback
  docs/examples/openui-crewai/backend/src/openui_crewai_example/flow.py
  docs/examples/openui-crewai/backend/src/openui_crewai_example/server.py
  docs/examples/openui-crewai/backend/tests/test_flow.py
  docs/examples/openui-crewai/frontend/src/styles.css
Due: ruff, ruff-format, mypy

fix: use the URL hostname as MCP HTTP and SSE server_name
  lib/crewai/src/crewai/mcp/client.py
  lib/crewai/tests/mcp/test_client_server_info.py
Due: ruff, ruff-format, mypy

feat(llms): add Eden AI as an openai-compatible provider
  docs/edge/ar/concepts/llms.mdx
  docs/edge/en/concepts/llms.mdx
  docs/edge/ko/concepts/llms.mdx
  docs/edge/pt-BR/concepts/llms.mdx
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/openai_compatible/completion.py
  lib/crewai/tests/llms/openai_compatible/test_openai_compatible.py
Due: ruff, ruff-format, mypy

fix: use the URL hostname as MCP HTTP and SSE server_name (#7048)
  lib/crewai/src/crewai/mcp/client.py
  lib/crewai/tests/mcp/test_client_server_info.py
Due: ruff, ruff-format, mypy

feat(flow): let a declaration drive conversational mode (#7032)
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/tests/test_flow_conversation.py
Due: ruff, ruff-format, mypy

feat(flow): synthesize the built-in conversational methods for declarations (#7033)
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/src/crewai/flow/dsl/_utils.py
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/tests/test_flow_conversation.py
Due: ruff, ruff-format, mypy

docs(flow): document declarative conversational flows (#7035)
  docs/edge/ar/guides/flows/conversational-flows.mdx
  docs/edge/en/guides/flows/conversational-flows.mdx
  docs/edge/ko/guides/flows/conversational-flows.mdx
  docs/edge/pt-BR/guides/flows/conversational-flows.mdx
  lib/cli/src/crewai_cli/run_declarative_flow.py
  lib/cli/tests/test_run_declarative_flow.py
  lib/crewai/src/crewai/flow/skill.py
  lib/crewai/src/crewai/flow/templates/flow_definition_skill.md.j2
  lib/crewai/tests/test_flow_definition.py
Due: ruff, ruff-format, mypy

fix(llms): require both halves of an Eden AI model reference
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/llms/openai_compatible/test_openai_compatible.py
Due: ruff, ruff-format, mypy

feat(mcp): add shared error classifier for HTTP auth failures
  lib/crewai/src/crewai/mcp/exceptions.py
  lib/crewai/tests/mcp/test_mcp_exceptions.py
Due: ruff, ruff-format, mypy

docs(security): add secure coding standard with project helpers
  .github/CONTRIBUTING.md
  AGENTS.md
  docs/security/secure-coding-standard.md
Due: none

revert: leave AGENTS.md and CONTRIBUTING.md unchanged
  .github/CONTRIBUTING.md
  AGENTS.md
Due: none

fix: synchronize Telemetry singleton initialization to prevent duplicate processors
  lib/crewai/src/crewai/telemetry/telemetry.py
  lib/crewai/tests/telemetry/test_telemetry.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.15.17
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.15.17 (#7054)
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

fix(schema): support list-form "type" arrays in JSON schema conversion
  lib/crewai/src/crewai/utilities/pydantic_schema_utils.py
  lib/crewai/tests/utilities/test_pydantic_schema_utils.py
Due: ruff, ruff-format, mypy

feat(tools): add Reserp search tool
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/reserp_search_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/reserp_search_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/reserp_search_tool/reserp_search_tool.py
  lib/crewai-tools/tests/tools/reserp_search_tool_test.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy

fix(telemetry): always emit project_id so absent and empty stay distinct
  lib/crewai-core/src/crewai_core/telemetry.py
  lib/crewai/tests/telemetry/test_coding_agent_detection.py
Due: ruff, ruff-format, mypy

docs(telemetry): note that a failed project_id lookup also yields empty
  lib/crewai-core/src/crewai_core/telemetry.py
Due: ruff, ruff-format, mypy

docs(hooks): fix nonexistent crewai.hooks decorator names in translated guides
  docs/edge/ar/learn/execution-hooks.mdx
  docs/edge/ar/learn/llm-hooks.mdx
  docs/edge/ar/learn/tool-hooks.mdx
  docs/edge/ko/learn/execution-hooks.mdx
  docs/edge/ko/learn/llm-hooks.mdx
  docs/edge/ko/learn/tool-hooks.mdx
  docs/edge/pt-BR/learn/execution-hooks.mdx
  docs/edge/pt-BR/learn/llm-hooks.mdx
  docs/edge/pt-BR/learn/tool-hooks.mdx
Due: none

fix(events): always emit project_id so absent and empty stay distinct (#7056)
  lib/crewai-core/src/crewai_core/telemetry.py
  lib/crewai/tests/telemetry/test_coding_agent_detection.py
Due: ruff, ruff-format, mypy

test(cli): make the exact-once assertion observable
  lib/crewai/tests/cli/test_project_id_backfill.py
Due: ruff, ruff-format

feat(cli): backfill project_id from every user-invoked project command
  lib/cli/src/crewai_cli/cli.py
  lib/crewai/tests/cli/test_project_id_backfill.py
Due: ruff, ruff-format, mypy

test(cli): assert the backfill at runtime instead of reading source text
  lib/crewai/tests/cli/test_project_id_backfill.py
Due: ruff, ruff-format

test(cli): assert flow kickoff reaches the post-backfill boundary
  lib/crewai/tests/cli/test_project_id_backfill.py
Due: ruff, ruff-format

test(cli): pin that the backfill precedes command-specific work
  lib/crewai/tests/cli/test_project_id_backfill.py
Due: ruff, ruff-format

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
