Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

fix: serialize Memory objects for telemetry span attributes (#4703)
  lib/crewai/src/crewai/telemetry/telemetry.py
  lib/crewai/tests/telemetry/test_telemetry.py
Due: ruff, ruff-format, mypy

test: avoid MagicMock class name mutation in telemetry tests
  lib/crewai/tests/telemetry/test_telemetry.py
Due: ruff, ruff-format

refactor: simplify category handling in RecallFlow
  lib/crewai/src/crewai/memory/recall_flow.py
Due: ruff, ruff-format, mypy

feat: increase memory recall limit and enhance memory context documentation
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/translations/en.json
Due: ruff, ruff-format, mypy

refactor: remove inferred_categories from RecallState and update category merging logic
  lib/crewai/src/crewai/memory/recall_flow.py
Due: ruff, ruff-format, mypy

feat: enhance memory recall limits and update documentation
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/tools/memory_tools.py
  lib/crewai/src/crewai/translations/en.json
Due: ruff, ruff-format, mypy

Memory overall improvements (#4688)
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/memory/recall_flow.py
  lib/crewai/src/crewai/tools/memory_tools.py
  lib/crewai/src/crewai/translations/en.json
Due: ruff, ruff-format, mypy

fix: adjust executor listener value to avoid recursion
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/tests/agents/test_agent_executor.py
  lib/crewai/tests/test_flow.py
Due: ruff, ruff-format, mypy

fix: clear call count to ensure zero state
  lib/crewai/src/crewai/flow/flow.py
Due: ruff, ruff-format, mypy

feat: expose max method call kwarg
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/flow/flow.py
Due: ruff, ruff-format, mypy

fix: adjust executor listener value to avoid recursion (#4705)
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/tests/agents/test_agent_executor.py
  lib/crewai/tests/test_flow.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.10.1
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.10.1 (#4706)
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

docs: update changelog and version for v1.10.1
  docs/docs.json
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

fix(executor): propagate contextvars context to parallel tool call threads
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
Due: ruff, ruff-format, mypy

docs: add crewai-tool-agentwallet to community tools
  lib/crewai-tools/README.md
Due: none

docs: fix typos and formatting in README.md
  README.md
Due: none

test(memory): add tests for LanceDB scope_prefix escaping
  lib/crewai/tests/memory/test_lancedb_security.py
Due: ruff, ruff-format

fix(security): escape scope_prefix in LanceDB WHERE clauses
  lib/crewai/src/crewai/memory/storage/lancedb_storage.py
Due: ruff, ruff-format, mypy

fix(mcp): add timeout to cleanup and handle running event loop
  lib/crewai/src/crewai/mcp/tool_resolver.py
Due: ruff, ruff-format, mypy

test(memory): add tests for EncodingFlow batch processing
  lib/crewai/tests/memory/test_encoding_flow_errors.py
Due: ruff, ruff-format

fix(memory): handle thread pool shutdown and future errors in EncodingFlow
  lib/crewai/src/crewai/memory/encoding_flow.py
Due: ruff, ruff-format, mypy

fix(a2a): use specific exception type for max turns exceeded
  lib/crewai/src/crewai/a2a/exceptions.py
  lib/crewai/src/crewai/a2a/wrapper.py
Due: ruff, ruff-format, mypy

feat(openai): add codex provider routing and oauth hi demo
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/llms/openai/test_openai.py
  lib/crewai/tests/test_llm.py
  scripts/demo_openai_codex_hi.py
Due: ruff, ruff-format, mypy

fix(a2a): address cursor bot feedback on exception design
  lib/crewai/src/crewai/a2a/exceptions.py
Due: ruff, ruff-format, mypy

fix: rename 'input' parameter to 'input_data' to avoid shadowing builtin
  lib/crewai/src/crewai/agents/cache/cache_handler.py
  lib/crewai/src/crewai/project/utils.py
  lib/crewai/src/crewai/tools/cache_tools/cache_tools.py
Due: ruff, ruff-format, mypy

fix(openai): stabilize codex responses native tool-calling
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/agents/test_async_agent_executor.py
  lib/crewai/tests/llms/openai/test_openai.py
  scripts/repo_change_advisor.py
Due: ruff, ruff-format, mypy

fix(cli): replace lru_cache with cache to prevent memory leak
  lib/crewai/src/crewai/cli/git.py
Due: ruff, ruff-format, mypy

fix(memory): use specific exception types in recall_flow
  lib/crewai/src/crewai/memory/recall_flow.py
Due: ruff, ruff-format, mypy

docs: add agentavatar community visual entry (#4581)
  docs/en/examples/example.mdx
  lib/crewai/tests/test_docs_community_visual_identity.py
Due: ruff, ruff-format

feat: support real PDF task exports (#4546)
  docs/en/concepts/tasks.mdx
  lib/crewai/src/crewai/task.py
  lib/crewai/tests/test_task.py
Due: ruff, ruff-format, mypy

Harden vulnerability reporting workflow and policy (#4610)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/SECURITY.md
  lib/crewai/tests/security/test_security_reporting_templates.py
Due: ruff, ruff-format

fix(flow): use specific exception types in state management
  lib/crewai/src/crewai/flow/flow.py
Due: ruff, ruff-format, mypy

docs: add Fia Signals integration docs (#4690)
  docs/docs.json
  docs/en/tools/integration/fiasignalstools.mdx
  docs/en/tools/integration/overview.mdx
  docs/en/tools/tool-integrations/overview.mdx
  lib/crewai/tests/docs/test_fia_signals_integration_docs.py
Due: ruff, ruff-format

feat: add microvm code execution mode via exec-sandbox (#4702)
  docs/en/concepts/agents.mdx
  docs/en/tools/ai-ml/codeinterpretertool.mdx
  lib/crewai-tools/src/crewai_tools/tools/code_interpreter_tool/code_interpreter_tool.py
  lib/crewai-tools/tests/tools/test_code_interpreter_tool.py
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/cli/templates/AGENTS.md
  lib/crewai/src/crewai/project/crew_base.py
  lib/crewai/tests/test_crew.py
Due: ruff, ruff-format, mypy

docs: add WFGY multi-agent debugging guide (#4553)
  docs/docs.json
  docs/en/guides/crews/debugging-multi-agent-crews-wfgy.mdx
Due: none

feat(tools): add Proxies.sx MCP tool wrappers (#4515)
  docs/en/concepts/tools.mdx
  docs/en/tools/web-scraping/overview.mdx
  docs/en/tools/web-scraping/proxiessxtool.mdx
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/proxies_sx_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/proxies_sx_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/proxies_sx_tool/proxies_sx_tool.py
  lib/crewai-tools/tests/tools/test_proxies_sx_tool.py
Due: ruff, ruff-format, mypy

feat(crewai-tools): add iGPT email ask/search tools (#4660)
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/igpt_email_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/igpt_email_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/igpt_email_tool/igpt_email_ask_tool.py
  lib/crewai-tools/src/crewai_tools/tools/igpt_email_tool/igpt_email_search_tool.py
  lib/crewai-tools/tests/tools/test_igpt_email_tools.py
Due: ruff, ruff-format, mypy

feat: add optional TaskOutput proof links for receipts (#4377)
  docs/en/concepts/tasks.mdx
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/tasks/task_output.py
  lib/crewai/tests/test_task.py
Due: ruff, ruff-format, mypy
