Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

fix: async-safe embeddings and resilient drain_writes
  lib/crewai/src/crewai/memory/encoding_flow.py
  lib/crewai/src/crewai/memory/types.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/tests/memory/test_embedding_safety.py
Due: ruff, ruff-format, mypy

fix: harden memory tool input validation
  lib/crewai/src/crewai/tools/memory_tools.py
  lib/crewai/src/crewai/translations/en.json
  lib/crewai/tests/tools/test_memory_tools.py
  pyproject.toml
Due: ruff, ruff-format, mypy

feat(valkey): shared cache config + ValkeyCache for A2A and file uploads
  lib/crewai-files/src/crewai_files/cache/upload_cache.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/a2a/utils/agent_card.py
  lib/crewai/src/crewai/a2a/utils/task.py
  lib/crewai/src/crewai/memory/storage/valkey_cache.py
  lib/crewai/src/crewai/utilities/cache_config.py
  lib/crewai/tests/memory/storage/test_valkey_cache.py
  lib/crewai/tests/utilities/test_cache_config.py
  uv.lock
Due: ruff, ruff-format, mypy

Add client_name to GlideClientConfiguration
  lib/crewai/src/crewai/memory/storage/valkey_cache.py
Due: ruff, ruff-format, mypy

feat(valkey): shared cache config + ValkeyCache for A2A and file uploads
  lib/crewai-files/src/crewai_files/cache/upload_cache.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/a2a/utils/agent_card.py
  lib/crewai/src/crewai/a2a/utils/task.py
  lib/crewai/src/crewai/memory/encoding_flow.py
  lib/crewai/src/crewai/memory/storage/valkey_cache.py
  lib/crewai/src/crewai/memory/storage/valkey_storage.py
  lib/crewai/src/crewai/memory/types.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/src/crewai/utilities/cache_config.py
  lib/crewai/tests/memory/storage/test_valkey_cache.py
  lib/crewai/tests/memory/storage/test_valkey_storage.py
  lib/crewai/tests/memory/storage/test_valkey_storage_errors.py
  lib/crewai/tests/memory/storage/test_valkey_storage_scope.py
  lib/crewai/tests/memory/storage/test_valkey_storage_search.py
  lib/crewai/tests/memory/test_embedding_safety.py
  lib/crewai/tests/utilities/test_cache_config.py
  pyproject.toml
Due: ruff, ruff-format, mypy

fix(valkey): post-filter metadata_filter instead of injecting into FT query
  lib/crewai/src/crewai/memory/storage/valkey_storage.py
  lib/crewai/tests/memory/storage/test_valkey_storage_search.py
Due: ruff, ruff-format, mypy

chore: bump valkey-glide lower bound to >=2.4.0
  lib/crewai/pyproject.toml
  uv.lock
Due: none

fix(types): resolve mypy 1.19.1 errors in valkey_storage
  lib/crewai/src/crewai/memory/storage/valkey_storage.py
Due: ruff, ruff-format, mypy

feat(mcp): carry the AMP slug on tools resolved from a slug reference
  lib/crewai/src/crewai/mcp/tool_resolver.py
  lib/crewai/src/crewai/tools/mcp_native_tool.py
  lib/crewai/tests/mcp/test_amp_mcp.py
Due: ruff, ruff-format, mypy

fix(mcp): only map cancel-scope RuntimeError to ConnectionError
  lib/crewai/src/crewai/mcp/tool_resolver.py
Due: ruff, ruff-format, mypy

test(mcp): assert original connection error is preserved
  lib/crewai/tests/mcp/test_tool_resolver_running_loop.py
Due: ruff, ruff-format

docs(llms): add QwenCloud provider configuration guide
  docs/edge/ar/concepts/llms.mdx
  docs/edge/en/concepts/llms.mdx
  docs/edge/ko/concepts/llms.mdx
  docs/edge/pt-BR/concepts/llms.mdx
Due: none

[OSS-130] Align README setup with current docs
  README.md
  lib/crewai/README.md
Due: none

fix(gemini): guard against trailing model turns in message history
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/tests/llms/google/test_google.py
Due: ruff, ruff-format, mypy

docs: update channels guide to current copilotkit channels api
  docs/edge/en/guides/frontend/channels.mdx
  docs/edge/en/guides/frontend/overview.mdx
  docs/v1.15.16/en/guides/frontend/channels.mdx
  docs/v1.15.16/en/guides/frontend/overview.mdx
Due: none

feat(rag): add milvus provider
  docs/edge/ar/concepts/knowledge.mdx
  docs/edge/en/concepts/knowledge.mdx
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/rag/config/optional_imports/base.py
  lib/crewai/src/crewai/rag/config/optional_imports/protocols.py
  lib/crewai/src/crewai/rag/config/optional_imports/providers.py
  lib/crewai/src/crewai/rag/config/optional_imports/types.py
  lib/crewai/src/crewai/rag/config/types.py
  lib/crewai/src/crewai/rag/factory.py
  lib/crewai/src/crewai/rag/milvus/__init__.py
  lib/crewai/src/crewai/rag/milvus/client.py
  lib/crewai/src/crewai/rag/milvus/config.py
  lib/crewai/src/crewai/rag/milvus/constants.py
  lib/crewai/src/crewai/rag/milvus/factory.py
  lib/crewai/src/crewai/rag/milvus/types.py
  lib/crewai/src/crewai/rag/milvus/utils.py
  lib/crewai/tests/rag/config/test_factory.py
  lib/crewai/tests/rag/config/test_optional_imports.py
  lib/crewai/tests/rag/milvus/__init__.py
  lib/crewai/tests/rag/milvus/test_client.py
  lib/crewai/tests/rag/milvus/test_config.py
  uv.lock
Due: ruff, ruff-format, mypy

fix: validate Milvus embedding function config
  lib/crewai/src/crewai/rag/milvus/types.py
  lib/crewai/tests/rag/milvus/test_config.py
Due: ruff, ruff-format, mypy

fix(rag): preserve Milvus IP scores
  lib/crewai/src/crewai/rag/milvus/utils.py
  lib/crewai/tests/rag/milvus/test_utils.py
Due: ruff, ruff-format, mypy

fix(rag): handle optional Milvus dependencies
  docs/edge/ar/concepts/knowledge.mdx
  docs/edge/en/concepts/knowledge.mdx
  lib/crewai/src/crewai/rag/config/optional_imports/base.py
  lib/crewai/src/crewai/rag/milvus/types.py
  lib/crewai/tests/rag/config/test_optional_imports.py
Due: ruff, ruff-format, mypy

feat(mcp): carry the AMP slug on tools resolved from a slug reference (#7029)
  lib/crewai/src/crewai/mcp/tool_resolver.py
  lib/crewai/src/crewai/tools/mcp_native_tool.py
  lib/crewai/tests/mcp/test_amp_mcp.py
Due: ruff, ruff-format, mypy

docs(memory): document Dakera StorageBackend option (#6408)
  docs/edge/ar/concepts/memory.mdx
  docs/edge/en/concepts/memory.mdx
  docs/edge/ko/concepts/memory.mdx
  docs/edge/pt-BR/concepts/memory.mdx
Due: none

fix(tools): replace bare raise with explicit ToolUsageError (#6430)
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/tests/tools/test_tool_usage.py
Due: ruff, ruff-format, mypy

docs(memory): update DakeraStorage usage and links per review feedback (#6408)
  docs/edge/ar/concepts/memory.mdx
  docs/edge/en/concepts/memory.mdx
  docs/edge/ko/concepts/memory.mdx
  docs/edge/pt-BR/concepts/memory.mdx
Due: none

fix(tools): raise ToolUsageError consistently on tool argument errors (#6430)
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/tests/tools/test_tool_usage.py
Due: ruff, ruff-format, mypy

docs(memory): document agent_id namespace boundary and refine portuguese title (#6408)
  docs/edge/ar/concepts/memory.mdx
  docs/edge/en/concepts/memory.mdx
  docs/edge/ko/concepts/memory.mdx
  docs/edge/pt-BR/concepts/memory.mdx
Due: none

docs(memory): add save and search usage to Dakera integration example (#6408)
  docs/edge/ar/concepts/memory.mdx
  docs/edge/en/concepts/memory.mdx
  docs/edge/ko/concepts/memory.mdx
  docs/edge/pt-BR/concepts/memory.mdx
Due: none

fix tools running coroutines inside active event loops
  lib/crewai/src/crewai/tools/base_tool.py
  lib/crewai/src/crewai/tools/structured_tool.py
  lib/crewai/src/crewai/utilities/async_utils.py
  lib/crewai/tests/tools/test_async_tools.py
Due: ruff, ruff-format, mypy

docs: document Taskmarket requester internals
  lib/crewai-tools/src/crewai_tools/tools/taskmarket_requester_tool/taskmarket_requester_tool.py
Due: ruff, ruff-format, mypy

test(flow): unskip the conversational end-to-end suite
  lib/crewai/tests/test_flow_conversation.py
Due: ruff, ruff-format

feat(flow): make conversational opt-in unmistakable
  lib/crewai/src/crewai/experimental/conversational.py
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/src/crewai/flow/conversational_definition.py
  lib/crewai/tests/test_flow_conversation.py
  lib/crewai/tests/test_flow_definition.py
Due: ruff, ruff-format, mypy

test(flow): unskip the conversational graph end-to-end suite (#7030)
  lib/crewai/tests/test_flow_conversation.py
Due: ruff, ruff-format

fix(telemetry): attribute tool errors to the tool that failed
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/tests/tools/test_tool_usage_error_attribution.py
Due: ruff, ruff-format, mypy

feat(flow): let a declaration drive conversational mode
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/tests/test_flow_conversation.py
Due: ruff, ruff-format, mypy

feat(flow): synthesize the built-in conversational methods for declarations
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/src/crewai/flow/dsl/_utils.py
  lib/crewai/src/crewai/flow/runtime/__init__.py
  lib/crewai/tests/test_flow_conversation.py
Due: ruff, ruff-format, mypy

fix(flow): let an agent or crew handler reply in a conversation
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/tests/test_flow_conversation.py
Due: ruff, ruff-format, mypy

fix(telemetry): attribute tool errors to the tool that failed (#7043)
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/tests/tools/test_tool_usage_error_attribution.py
Due: ruff, ruff-format, mypy

docs(llms): update qwen-long context window and clarify API compatibility
  docs/edge/ar/concepts/llms.mdx
  docs/edge/en/concepts/llms.mdx
  docs/edge/ko/concepts/llms.mdx
  docs/edge/pt-BR/concepts/llms.mdx
Due: none

fix: close the agent scope on every failed attempt (#6997)
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/tests/utilities/test_events.py
Due: ruff, ruff-format, mypy

feat(flow): make conversational opt-in unmistakable (#7031)
  lib/crewai/src/crewai/experimental/conversational.py
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/src/crewai/flow/conversational_definition.py
  lib/crewai/tests/test_flow_conversation.py
  lib/crewai/tests/test_flow_definition.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
