Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

Replace flow diagnostics with logging
  lib/crewai/src/crewai/flow/dsl/_utils.py
  lib/crewai/src/crewai/flow/flow_definition.py
  lib/crewai/tests/test_flow_definition.py
Due: ruff, ruff-format, mypy

Replace flow diagnostics with logging (#6212)
  lib/crewai/src/crewai/flow/dsl/_utils.py
  lib/crewai/src/crewai/flow/flow_definition.py
  lib/crewai/tests/test_flow_definition.py
Due: ruff, ruff-format, mypy

test(core): add unit tests for content_processor provider
  lib/crewai/tests/core/test_content_processor.py
Due: ruff, ruff-format

fix(test): address Copilot review — simplify runtime-checkable check, add thread join timeout
  lib/crewai/tests/core/test_content_processor.py
Due: ruff, ruff-format

feat: bump versions to 1.14.8a
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/cli/src/crewai_cli/templates/crew/pyproject.toml
  lib/cli/src/crewai_cli/templates/flow/pyproject.toml
  lib/cli/src/crewai_cli/templates/tool/pyproject.toml
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.14.8a (#6215)
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/cli/src/crewai_cli/templates/crew/pyproject.toml
  lib/cli/src/crewai_cli/templates/flow/pyproject.toml
  lib/cli/src/crewai_cli/templates/tool/pyproject.toml
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

docs: snapshot and changelog for v1.14.8a
  docs/edge/ar/changelog.mdx
  docs/edge/en/changelog.mdx
  docs/edge/ko/changelog.mdx
  docs/edge/pt-BR/changelog.mdx
Due: none

docs: snapshot and changelog for v1.14.8a (#6216)
  docs/edge/ar/changelog.mdx
  docs/edge/en/changelog.mdx
  docs/edge/ko/changelog.mdx
  docs/edge/pt-BR/changelog.mdx
Due: none

feat: update pyproject.toml to specify wheel targets
  lib/cli/src/crewai_cli/create_json_crew.py
  lib/cli/tests/test_create_crew.py
Due: ruff, ruff-format, mypy

feat: add memory save event handling to activity log
  lib/cli/src/crewai_cli/crew_run_tui.py
  lib/cli/tests/test_crew_run_tui.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/tests/memory/test_unified_memory.py
Due: ruff, ruff-format, mypy

feat: enhance memory save event handling in activity log
  lib/cli/src/crewai_cli/crew_run_tui.py
  lib/cli/tests/test_crew_run_tui.py
Due: ruff, ruff-format, mypy

Fix memory save activity log handling
  lib/cli/src/crewai_cli/crew_run_tui.py
  lib/cli/tests/test_crew_run_tui.py
Due: ruff, ruff-format, mypy

Normalize alpha package versions
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/cli/src/crewai_cli/templates/crew/pyproject.toml
  lib/cli/src/crewai_cli/templates/flow/pyproject.toml
  lib/cli/src/crewai_cli/templates/tool/pyproject.toml
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

Update scaffolded crew dependency
  lib/cli/src/crewai_cli/create_json_crew.py
  lib/cli/src/crewai_cli/templates/crew/pyproject.toml
  lib/cli/src/crewai_cli/templates/flow/pyproject.toml
  lib/cli/src/crewai_cli/templates/tool/pyproject.toml
  lib/cli/tests/test_create_crew.py
Due: ruff, ruff-format, mypy

fix: improve READY detection in reasoning handler
  lib/crewai/src/crewai/utilities/reasoning_handler.py
Due: ruff, ruff-format, mypy

feat: add button to copy setup instructions for CrewAI coding agents
  docs/edge/en/index.mdx
  docs/edge/en/installation.mdx
Due: none

refactor: upgrade Mimir memory backend to official MCP standard
  lib/crewai/src/crewai/memory/storage/mimir_storage.py
Due: ruff, ruff-format, mypy

refactor: complete Mimir integration update in readme and factory
  lib/crewai/README.md
  lib/crewai/src/crewai/memory/storage/factory.py
Due: ruff, ruff-format, mypy

fix(bedrock): resolve context window for cross-region inference profiles
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/tests/llms/bedrock/test_bedrock.py
Due: ruff, ruff-format, mypy

fix: address coderabbit recommendations on db flag, expansion and scoping
  lib/crewai/README.md
  lib/crewai/src/crewai/memory/storage/factory.py
  lib/crewai/src/crewai/memory/storage/mimir_storage.py
Due: ruff, ruff-format, mypy

Improve missing CrewAI install guidance
  lib/cli/src/crewai_cli/run_crew.py
  lib/cli/tests/test_run_crew.py
Due: ruff, ruff-format, mypy

fix: address pr review feedback
  docs/edge/en/index.mdx
  docs/edge/en/installation.mdx
  lib/cli/src/crewai_cli/crew_run_tui.py
  lib/cli/src/crewai_cli/run_crew.py
  lib/cli/tests/test_create_crew.py
  lib/cli/tests/test_crew_run_tui.py
  lib/crewai-files/pyproject.toml
  pyproject.toml
  uv.lock
Due: ruff, ruff-format, mypy

fix: avoid mismatched memory save rows
  lib/cli/src/crewai_cli/crew_run_tui.py
  lib/cli/tests/test_crew_run_tui.py
Due: ruff, ruff-format, mypy

fix: wait for queued memory save events
  lib/cli/src/crewai_cli/crew_run_tui.py
  lib/cli/tests/test_crew_run_tui.py
Due: ruff, ruff-format, mypy

fix: avoid matching memory saves on missing ids
  lib/cli/src/crewai_cli/crew_run_tui.py
  lib/cli/tests/test_crew_run_tui.py
Due: ruff, ruff-format, mypy

chore: normalize prerelease version to 1.14.8a1
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/cli/src/crewai_cli/create_json_crew.py
  lib/cli/src/crewai_cli/run_crew.py
  lib/cli/src/crewai_cli/templates/crew/pyproject.toml
  lib/cli/src/crewai_cli/templates/flow/pyproject.toml
  lib/cli/src/crewai_cli/templates/tool/pyproject.toml
  lib/cli/tests/test_create_crew.py
  lib/cli/tests/test_run_crew.py
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

JSON crew fixes (#6217)
  docs/edge/en/index.mdx
  docs/edge/en/installation.mdx
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/cli/src/crewai_cli/create_json_crew.py
  lib/cli/src/crewai_cli/crew_run_tui.py
  lib/cli/src/crewai_cli/run_crew.py
  lib/cli/src/crewai_cli/templates/crew/pyproject.toml
  lib/cli/src/crewai_cli/templates/flow/pyproject.toml
  lib/cli/src/crewai_cli/templates/tool/pyproject.toml
  lib/cli/tests/test_create_crew.py
  lib/cli/tests/test_crew_run_tui.py
  lib/cli/tests/test_run_crew.py
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/pyproject.toml
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/memory/unified_memory.py
  lib/crewai/tests/memory/test_unified_memory.py
  lib/devtools/src/crewai_devtools/__init__.py
  pyproject.toml
  uv.lock
Due: ruff, ruff-format, mypy

Use explicit name/action shape for each.do steps
  lib/crewai/src/crewai/flow/flow_definition.py
  lib/crewai/src/crewai/flow/runtime/_actions.py
  lib/crewai/tests/test_flow_definition.py
  lib/crewai/tests/test_flow_from_definition.py
Due: ruff, ruff-format, mypy

Add optional `if` expression to `each.do` steps
  lib/crewai/src/crewai/flow/flow_definition.py
  lib/crewai/src/crewai/flow/runtime/_actions.py
  lib/crewai/tests/test_flow_definition.py
  lib/crewai/tests/test_flow_from_definition.py
Due: ruff, ruff-format, mypy

docs: polish Datadog/OTel guides — symmetric paths, auto-provisioned
  docs/edge/ar/enterprise/guides/capture_telemetry_logs.mdx
  docs/edge/ar/enterprise/guides/datadog.mdx
  docs/edge/en/enterprise/guides/capture_telemetry_logs.mdx
  docs/edge/en/enterprise/guides/datadog.mdx
  docs/edge/ko/enterprise/guides/capture_telemetry_logs.mdx
  docs/edge/ko/enterprise/guides/datadog.mdx
  docs/edge/pt-BR/enterprise/guides/capture_telemetry_logs.mdx
  docs/edge/pt-BR/enterprise/guides/datadog.mdx
Due: none

Add optional if expression to each.do steps (#6214)
  lib/crewai/src/crewai/flow/flow_definition.py
  lib/crewai/src/crewai/flow/runtime/_actions.py
  lib/crewai/tests/test_flow_definition.py
  lib/crewai/tests/test_flow_from_definition.py
Due: ruff, ruff-format, mypy

test
  lib/crewai/src/crewai/__init__.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.14.8a1
  lib/crewai/src/crewai/__init__.py
Due: ruff, ruff-format, mypy

docs: snapshot and changelog for v1.14.8a1
  docs/edge/ar/changelog.mdx
  docs/edge/en/changelog.mdx
  docs/edge/ko/changelog.mdx
  docs/edge/pt-BR/changelog.mdx
Due: none

docs: snapshot and changelog for v1.14.8a1 (#6223)
  docs/edge/ar/changelog.mdx
  docs/edge/en/changelog.mdx
  docs/edge/ko/changelog.mdx
  docs/edge/pt-BR/changelog.mdx
Due: none

Validate flow CEL expressions at definition load time
  lib/crewai/src/crewai/flow/__init__.py
  lib/crewai/src/crewai/flow/expressions.py
  lib/crewai/src/crewai/flow/flow_definition.py
  lib/crewai/src/crewai/flow/runtime/_actions.py
  lib/crewai/src/crewai/flow/runtime/_expressions.py
  lib/crewai/tests/test_checkpoint.py
  lib/crewai/tests/test_flow_from_definition.py
Due: ruff, ruff-format, mypy

Honor explicit empty-context overrides in evaluate() / render_template()
  lib/crewai/src/crewai/flow/expressions.py
  lib/crewai/tests/test_flow_from_definition.py
Due: ruff, ruff-format, mypy

Validate flow CEL expressions at definition load time (#6224)
  lib/crewai/src/crewai/flow/__init__.py
  lib/crewai/src/crewai/flow/expressions.py
  lib/crewai/src/crewai/flow/flow_definition.py
  lib/crewai/src/crewai/flow/runtime/_actions.py
  lib/crewai/src/crewai/flow/runtime/_expressions.py
  lib/crewai/tests/test_checkpoint.py
  lib/crewai/tests/test_flow_from_definition.py
Due: ruff, ruff-format, mypy

fix: address tool decision review feedback
  docs/edge/en/learn/tool-hooks.mdx
  docs/v1.13.0/en/learn/tool-hooks.mdx
  lib/crewai/src/crewai/hooks/tool_call_decision.py
  lib/crewai/src/crewai/hooks/tool_hooks.py
  lib/crewai/tests/hooks/test_tool_hooks.py
Due: ruff, ruff-format, mypy
