Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock

Lorenze/improve tool response pt2 (#4297)
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/translations/en.json
  lib/crewai/src/crewai/utilities/prompts.py
  lib/crewai/tests/cassettes/utilities/TestRealLLMNoThoughtLeakage.test_agent_without_tools_no_thought_in_output.yaml
  lib/crewai/tests/cassettes/utilities/TestRealLLMNoThoughtLeakage.test_simple_task_clean_output.yaml
  lib/crewai/tests/utilities/test_prompts_no_thought_leakage.py
Due: ruff, ruff-format, mypy

chore: update version to 1.9.2 across all relevant files
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

chore: update version to 1.9.2 across all relevant files (#4299)
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

fix: relax openai version constraint to allow newer SDK versions
  lib/crewai/pyproject.toml
  lib/crewai/tests/llms/openai/test_openai.py
Due: ruff, ruff-format

feat: add server-side auth schemes and protocol extensions
  lib/crewai/src/crewai/a2a/auth/__init__.py
  lib/crewai/src/crewai/a2a/auth/server_schemes.py
  lib/crewai/src/crewai/a2a/auth/utils.py
  lib/crewai/src/crewai/a2a/extensions/__init__.py
  lib/crewai/src/crewai/a2a/extensions/base.py
  lib/crewai/src/crewai/a2a/extensions/registry.py
  lib/crewai/src/crewai/a2a/extensions/server.py
Due: ruff, ruff-format, mypy

feat: add transport negotiation and content type handling
  lib/crewai/src/crewai/a2a/auth/client_schemes.py
  lib/crewai/src/crewai/a2a/config.py
  lib/crewai/src/crewai/a2a/errors.py
  lib/crewai/src/crewai/a2a/task_helpers.py
  lib/crewai/src/crewai/a2a/templates.py
  lib/crewai/src/crewai/a2a/types.py
  lib/crewai/src/crewai/a2a/updates/base.py
  lib/crewai/src/crewai/a2a/updates/polling/handler.py
  lib/crewai/src/crewai/a2a/updates/push_notifications/config.py
  lib/crewai/src/crewai/a2a/updates/push_notifications/handler.py
  lib/crewai/src/crewai/a2a/updates/push_notifications/signature.py
  lib/crewai/src/crewai/a2a/updates/streaming/handler.py
  lib/crewai/src/crewai/a2a/updates/streaming/params.py
  lib/crewai/src/crewai/a2a/utils/agent_card.py
  lib/crewai/src/crewai/a2a/utils/agent_card_signing.py
  lib/crewai/src/crewai/a2a/utils/content_type.py
  lib/crewai/src/crewai/a2a/utils/delegation.py
  lib/crewai/src/crewai/a2a/utils/logging.py
  lib/crewai/src/crewai/a2a/utils/task.py
  lib/crewai/src/crewai/a2a/utils/transport.py
  lib/crewai/src/crewai/a2a/wrapper.py
  lib/crewai/src/crewai/events/types/a2a_events.py
  lib/crewai/tests/a2a/test_a2a_integration.py
  lib/crewai/tests/a2a/utils/test_task.py
Due: ruff, ruff-format, mypy

fix: relax openai version
  lib/crewai/pyproject.toml
  uv.lock
Due: none

[Enhancement] Add debug logging when OutputParserError triggers agent retry
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/lite_agent.py
  lib/crewai/src/crewai/utilities/agent_utils.py
Due: ruff, ruff-format, mypy

fix: remove deprecated InitFrom import from qdrant-client
  lib/crewai/src/crewai/rag/qdrant/client.py
  lib/crewai/src/crewai/rag/qdrant/types.py
  lib/crewai/src/crewai/rag/qdrant/utils.py
  lib/crewai/tests/rag/qdrant/test_types.py
Due: ruff, ruff-format, mypy

chore: remove unused _AuthStore class and related imports
  lib/crewai/src/crewai/a2a/auth/utils.py
Due: ruff, ruff-format, mypy

Revert "chore: remove unused _AuthStore class and related imports"
  lib/crewai/src/crewai/a2a/auth/utils.py
Due: ruff, ruff-format, mypy

feat: add a2a delegation support to LiteAgent
  lib/crewai/src/crewai/lite_agent.py
Due: ruff, ruff-format, mypy

fix: improve output handling and response model integration in agents
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/src/crewai/translations/en.json
  lib/crewai/src/crewai/utilities/agent_utils.py
Due: ruff, ruff-format, mypy

drop what was a print that didnt get deleted properly
  lib/crewai/src/crewai/agent/core.py
Due: ruff, ruff-format, mypy

feat: add file input support to a2a delegation and tasks
  lib/crewai/src/crewai/a2a/utils/delegation.py
  lib/crewai/src/crewai/a2a/utils/task.py
  lib/crewai/src/crewai/a2a/wrapper.py
  lib/crewai/src/crewai/lite_agent.py
Due: ruff, ruff-format, mypy

fixes gemini
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
Due: ruff, ruff-format, mypy

azure working
  lib/crewai/src/crewai/llms/providers/azure/completion.py
Due: ruff, ruff-format, mypy

bedrock works
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/utilities/agent_utils.py
Due: ruff, ruff-format, mypy

feat: add support for Gemini 3.0 Flash Preview model
  lib/crewai/src/crewai/cli/constants.py
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/constants.py
  lib/crewai/tests/cassettes/test_gemini_models[gemini-gemini-3-flash-preview].yaml
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

feat: liteagent a2a delegation support to kickoff methods
  lib/crewai/src/crewai/a2a/wrapper.py
Due: ruff, ruff-format, mypy

added tests
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/tests/cassettes/llms/anthropic/test_anthropic_agent_kickoff_structured_output_with_tools.yaml
  lib/crewai/tests/cassettes/llms/anthropic/test_anthropic_agent_kickoff_structured_output_without_tools.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_agent_kickoff_structured_output_with_tools.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_agent_kickoff_structured_output_without_tools.yaml
  lib/crewai/tests/cassettes/llms/bedrock/test_bedrock_agent_kickoff_structured_output_with_tools.yaml
  lib/crewai/tests/cassettes/llms/bedrock/test_bedrock_agent_kickoff_structured_output_without_tools.yaml
  lib/crewai/tests/cassettes/llms/google/test_gemini_agent_kickoff_structured_output_with_tools.yaml
  lib/crewai/tests/cassettes/llms/google/test_gemini_agent_kickoff_structured_output_without_tools.yaml
  lib/crewai/tests/cassettes/llms/openai/test_openai_agent_kickoff_structured_output_with_tools.yaml
  lib/crewai/tests/cassettes/llms/openai/test_openai_agent_kickoff_structured_output_without_tools.yaml
  lib/crewai/tests/llms/anthropic/test_anthropic.py
  lib/crewai/tests/llms/azure/test_azure.py
  lib/crewai/tests/llms/bedrock/test_bedrock.py
  lib/crewai/tests/llms/google/test_google.py
  lib/crewai/tests/llms/openai/test_openai.py
Due: ruff, ruff-format, mypy

adjust test
  lib/crewai/tests/utilities/test_converter.py
Due: ruff, ruff-format

fix tests and regen
  lib/crewai/tests/agents/test_lite_agent.py
  lib/crewai/tests/cassettes/agents/test_lite_agent_structured_output.yaml
  lib/crewai/tests/llms/bedrock/test_bedrock.py
  lib/crewai/tests/test_task_guardrails.py
Due: ruff, ruff-format

chore: refactor a2a agent kickoff delegation and event output
  lib/crewai/src/crewai/a2a/wrapper.py
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/experimental/agent_executor.py
Due: ruff, ruff-format, mypy

fix: make computer termination awaitable
  lib/crewai-tools/src/crewai_tools/tools/tzafon_load_tool/tzafon_load_tool.py
Due: ruff, ruff-format, mypy

fix: Make PickleHandler thread-safe (Fixes #4215)
  lib/crewai/src/crewai/utilities/file_handler.py
  lib/crewai/tests/utilities/test_file_handler.py
  lib/crewai/tests/utilities/test_pickle_handler_concurrency.py
Due: ruff, ruff-format, mypy

chore: add a2a kickoff tests and cassettes
  lib/crewai/tests/agents/test_agent_a2a_kickoff.py
  lib/crewai/tests/cassettes/agents/TestAgentA2AKickoff.test_agent_kickoff_delegates_to_a2a.yaml
  lib/crewai/tests/cassettes/agents/TestAgentA2AKickoff.test_agent_kickoff_handles_multi_turn_conversation.yaml
  lib/crewai/tests/cassettes/agents/TestAgentA2AKickoff.test_agent_kickoff_returns_lite_agent_output.yaml
  lib/crewai/tests/cassettes/agents/TestAgentA2AKickoff.test_agent_kickoff_with_calculator_skill.yaml
  lib/crewai/tests/cassettes/agents/TestAgentA2AKickoff.test_agent_kickoff_with_conversation_skill.yaml
  lib/crewai/tests/cassettes/agents/TestAgentA2AKickoff.test_agent_kickoff_with_failed_a2a_endpoint.yaml
  lib/crewai/tests/cassettes/agents/TestAgentA2AKickoff.test_agent_kickoff_with_list_messages.yaml
  lib/crewai/tests/cassettes/agents/TestAgentA2AKickoff.test_agent_without_a2a_works_normally.yaml
  lib/crewai/tests/cassettes/agents/TestAgentA2AKickoffAsync.test_agent_kickoff_async_delegates_to_a2a.yaml
  lib/crewai/tests/cassettes/agents/TestAgentA2AKickoffAsync.test_agent_kickoff_async_with_calculator.yaml
Due: ruff, ruff-format

chore: add deprecated a2a auth compatibility shims
  lib/crewai/src/crewai/a2a/auth/schemas.py
Due: ruff, ruff-format, mypy

updating docs
  docs/en/enterprise/features/flow-hitl-management.mdx
  docs/en/enterprise/guides/human-in-the-loop.mdx
  docs/en/learn/human-in-the-loop.mdx
  docs/images/enterprise/hitl-list-pending-feedbacks.png
  docs/images/enterprise/hitl-metrics.png
  docs/images/enterprise/hitl-settings-1.png
  docs/images/enterprise/hitl-settings-2.png
  docs/ko/enterprise/features/flow-hitl-management.mdx
  docs/ko/enterprise/guides/human-in-the-loop.mdx
  docs/ko/learn/human-in-the-loop.mdx
  docs/pt-BR/enterprise/features/flow-hitl-management.mdx
  docs/pt-BR/enterprise/guides/human-in-the-loop.mdx
  docs/pt-BR/learn/human-in-the-loop.mdx
Due: none

refactor: update Flow HITL Management documentation to emphasize email-first notifications, routing rules, and auto-response capabilities; remove outdated references to assignment and SLA management
  docs/en/enterprise/features/flow-hitl-management.mdx
  docs/en/enterprise/guides/human-in-the-loop.mdx
  docs/images/enterprise/hitl-settings-1.png
  docs/images/enterprise/hitl-settings-2.png
  docs/images/enterprise/hitl-settings-auto-respond.png
  docs/images/enterprise/hitl-settings-overview.png
  docs/images/enterprise/hitl-settings-routing-rules.png
  docs/images/enterprise/hitl-settings-webhook.png
  docs/ko/enterprise/features/flow-hitl-management.mdx
  docs/ko/enterprise/guides/human-in-the-loop.mdx
  docs/pt-BR/enterprise/features/flow-hitl-management.mdx
  docs/pt-BR/enterprise/guides/human-in-the-loop.mdx
Due: none

docs link
  docs/docs.json
Due: none

fix: handle complex JSON schemas in MCP adapter to prevent KeyError
  lib/crewai-tools/src/crewai_tools/adapters/mcp_adapter.py
  lib/crewai-tools/tests/adapters/mcp_adapter_test.py
Due: ruff, ruff-format, mypy

fix tests and regen
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/tests/cassettes/llms/anthropic/test_anthropic_agent_kickoff_structured_output_with_tools.yaml
  lib/crewai/tests/cassettes/llms/anthropic/test_anthropic_agent_kickoff_structured_output_without_tools.yaml
Due: ruff, ruff-format, mypy

refactor: ensure stop words are applied correctly in Azure, Gemini, and OpenAI completions; add tests to validate behavior with structured outputs
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/llms/azure/test_azure.py
  lib/crewai/tests/llms/google/test_google.py
  lib/crewai/tests/llms/openai/test_openai.py
Due: ruff, ruff-format, mypy

linting
  lib/crewai/tests/llms/google/test_google.py
Due: ruff, ruff-format

feat: Add verbose control for Flow and global CREWAI_VERBOSE env var
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/events/utils/console_formatter.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/src/crewai/utilities/logger_utils.py
  lib/crewai/tests/test_verbose_control.py
Due: ruff, ruff-format, mypy

fix: Address PR review comments
  lib/crewai/src/crewai/crew.py
  lib/crewai/tests/test_verbose_control.py
Due: ruff, ruff-format, mypy

fix: Update self.verbose to resolved value in Crew class
  lib/crewai/src/crewai/crew.py
Due: ruff, ruff-format, mypy

fix: improve output handling and response model integration in agents (#4307)
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/src/crewai/translations/en.json
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/agents/test_lite_agent.py
  lib/crewai/tests/cassettes/llms/anthropic/test_anthropic_agent_kickoff_structured_output_with_tools.yaml
  lib/crewai/tests/cassettes/llms/anthropic/test_anthropic_agent_kickoff_structured_output_without_tools.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_agent_kickoff_structured_output_with_tools.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_agent_kickoff_structured_output_without_tools.yaml
  lib/crewai/tests/cassettes/llms/bedrock/test_bedrock_agent_kickoff_structured_output_with_tools.yaml
  lib/crewai/tests/cassettes/llms/bedrock/test_bedrock_agent_kickoff_structured_output_without_tools.yaml
  lib/crewai/tests/cassettes/llms/google/test_gemini_agent_kickoff_structured_output_with_tools.yaml
  lib/crewai/tests/cassettes/llms/google/test_gemini_agent_kickoff_structured_output_without_tools.yaml
  lib/crewai/tests/cassettes/llms/openai/test_openai_agent_kickoff_structured_output_with_tools.yaml
  lib/crewai/tests/cassettes/llms/openai/test_openai_agent_kickoff_structured_output_without_tools.yaml
  lib/crewai/tests/llms/anthropic/test_anthropic.py
  lib/crewai/tests/llms/azure/test_azure.py
  lib/crewai/tests/llms/bedrock/test_bedrock.py
  lib/crewai/tests/llms/google/test_google.py
  lib/crewai/tests/llms/openai/test_openai.py
  lib/crewai/tests/test_task_guardrails.py
  lib/crewai/tests/utilities/test_converter.py
Due: ruff, ruff-format, mypy

chore: update test assumption
  lib/crewai/tests/agents/test_agent_a2a_kickoff.py
Due: ruff, ruff-format
