Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

fix: add debug logging for credential errors instead of silent swallow
  lib/crewai/src/crewai/cli/utils.py
Due: ruff, ruff-format, mypy

fix: add tool repository credentials to crewai install (#5224)
  lib/crewai/src/crewai/cli/cli.py
  lib/crewai/src/crewai/cli/install_crew.py
  lib/crewai/src/crewai/cli/run_crew.py
  lib/crewai/src/crewai/cli/utils.py
Due: ruff, ruff-format, mypy

docs: translate file upload sections to pt-BR, ko, ar
  docs/ar/concepts/files.mdx
  docs/ar/concepts/flows.mdx
  docs/ko/concepts/files.mdx
  docs/ko/concepts/flows.mdx
  docs/pt-BR/concepts/files.mdx
  docs/pt-BR/concepts/flows.mdx
Due: none

feat: pass RuntimeState through event bus, add .checkpoint() and .from_checkpoint()
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agents/agent_builder/base_agent.py
  lib/crewai/src/crewai/agents/agent_builder/base_agent_executor_mixin.py
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/flow/flow.py
Due: ruff, ruff-format, mypy

ci: add vulnerability scanning with pip-audit and Snyk
  .github/workflows/vulnerability-scan.yml
Due: none

fix: convert AgentAction to AgentFinish in finalize instead of skipping
  lib/crewai/src/crewai/experimental/agent_executor.py
Due: ruff, ruff-format, mypy

Revert "refactor: remove unused and methods from (#5172)"
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/tests/agents/test_agent_executor.py
Due: ruff, ruff-format, mypy

ci: pin Snyk action to @v1 tag and remove continue-on-error
  .github/workflows/vulnerability-scan.yml
Due: none

test: fix tests
  lib/crewai/tests/agents/test_agent_executor.py
Due: ruff, ruff-format

Revert "refactor: remove unused and methods from (#5172)" (#5243)
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/tests/agents/test_agent_executor.py
Due: ruff, ruff-format, mypy

ci: fail build when pip-audit crashes without producing a report
  .github/workflows/vulnerability-scan.yml
Due: none

ci: fix pip-audit failing on local packages
  .github/workflows/vulnerability-scan.yml
Due: none

fix: wire _extract_tool_name into codebase and add regression tests for #5244
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/tests/agents/test_agent_executor.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.13.0
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.13.0 (#5246)
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/templates/crew/pyproject.toml
  lib/crewai/src/crewai/cli/templates/flow/pyproject.toml
  lib/crewai/src/crewai/cli/templates/tool/pyproject.toml
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

fix: use None sentinel instead of 'unknown' in _extract_tool_name
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/tests/agents/test_agent_executor.py
Due: ruff, ruff-format, mypy

docs: update changelog and version for v1.13.0
  docs/ar/changelog.mdx
  docs/docs.json
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

docs: update changelog and version for v1.13.0 (#5247)
  docs/ar/changelog.mdx
  docs/docs.json
  docs/en/changelog.mdx
  docs/ko/changelog.mdx
  docs/pt-BR/changelog.mdx
Due: none

fix: bump vulnerable dependencies and ignore unfixable CVEs
  .github/workflows/vulnerability-scan.yml
  UNKNOWN.egg-info/PKG-INFO
  UNKNOWN.egg-info/SOURCES.txt
  UNKNOWN.egg-info/dependency_links.txt
  UNKNOWN.egg-info/top_level.txt
  uv.lock
Due: none

chore: remove accidentally committed egg-info files
  UNKNOWN.egg-info/PKG-INFO
  UNKNOWN.egg-info/SOURCES.txt
  UNKNOWN.egg-info/dependency_links.txt
  UNKNOWN.egg-info/top_level.txt
Due: none

ci: remove Snyk job, pip-audit is sufficient
  .github/workflows/vulnerability-scan.yml
Due: none

fix: return all MCP tool content items instead of only the first one
  lib/crewai/src/crewai/mcp/client.py
Due: ruff, ruff-format, mypy

feat: convert executor/tools/prompts to BaseModel, enable checkpoint resume via kickoff()
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/tools/structured_tool.py
  lib/crewai/src/crewai/utilities/prompts.py
  lib/crewai/src/crewai/utilities/token_counter_callback.py
Due: ruff, ruff-format, mypy

fix: preserve kickoff_event_id on resume, verbose already works
  lib/crewai/src/crewai/crews/utils.py
Due: ruff, ruff-format, mypy

refactor: make CrewAgentExecutorMixin a proper base class with Fields instead of PrivateAttr properties
  lib/crewai/src/crewai/agents/agent_builder/base_agent_executor_mixin.py
  lib/crewai/src/crewai/agents/crew_agent_executor.py
Due: ruff, ruff-format, mypy

ci: add vulnerability scanning with pip-audit and Snyk (#5242)
  .github/workflows/vulnerability-scan.yml
  uv.lock
Due: none

docs: add AMP Training Tab guide for enterprise deployments
  docs/docs.json
  docs/en/enterprise/guides/training-crews.mdx
Due: none

docs: add training guide translations for ar, ko, pt-BR
  docs/ar/enterprise/guides/training-crews.mdx
  docs/docs.json
  docs/ko/enterprise/guides/training-crews.mdx
  docs/pt-BR/enterprise/guides/training-crews.mdx
Due: none

feat: add MnemoPay tools — agent memory + wallet via MCP
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/mnemopay_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/mnemopay_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/mnemopay_tool/mnemopay_tool.py
Due: ruff, ruff-format, mypy

fix: use async LLM calls in async task output conversion (#5230)
  lib/crewai/src/crewai/agents/agent_builder/utilities/base_output_converter.py
  lib/crewai/src/crewai/task.py
  lib/crewai/src/crewai/utilities/converter.py
  lib/crewai/src/crewai/utilities/internal_instructor.py
  lib/crewai/tests/utilities/test_converter.py
Due: ruff, ruff-format, mypy

fix: update outdated CrewAI Toolkit links in docs
  docs/ar/concepts/agents.mdx
  docs/ar/concepts/tasks.mdx
  docs/ar/concepts/tools.mdx
  docs/en/concepts/agents.mdx
  docs/en/concepts/tasks.mdx
  docs/en/concepts/tools.mdx
  docs/ko/concepts/agents.mdx
  docs/ko/concepts/tasks.mdx
  docs/ko/concepts/tools.mdx
  docs/pt-BR/concepts/agents.mdx
  docs/pt-BR/concepts/tasks.mdx
  docs/pt-BR/concepts/tools.mdx
  lib/crewai/tests/test_docs_links.py
Due: ruff, ruff-format

feat: type executor fields, auto-register entities in event bus, convert TokenProcess to BaseModel
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/agents/agent_builder/utilities/base_token_process.py
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/events/event_bus.py
Due: ruff, ruff-format, mypy

fix: TokenCalcHandler hashability, test MinimalExecutor as instance
  lib/crewai/src/crewai/utilities/token_counter_callback.py
  lib/crewai/tests/memory/test_memory_root_scope.py
Due: ruff, ruff-format, mypy

fix: type remaining Any fields on CrewAgentExecutor
  lib/crewai/src/crewai/agents/crew_agent_executor.py
Due: ruff, ruff-format, mypy

fix: use spec= on test mocks for typed executor fields
  lib/crewai/tests/agents/test_async_agent_executor.py
Due: ruff, ruff-format

fix: replace object.__new__ and MinimalExecutor subclass with proper construction
  lib/crewai/tests/agents/test_native_tool_calling.py
  lib/crewai/tests/memory/test_unified_memory.py
Due: ruff, ruff-format

fix: validate entity_type tag before auto-registering in emit()
  lib/crewai/src/crewai/events/event_bus.py
Due: ruff, ruff-format, mypy

fix: mypy errors in streaming.py and core.py
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/utilities/streaming.py
Due: ruff, ruff-format, mypy

refactor: move RuntimeState to runtime_state.py, type _runtime_state on event bus
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/events/event_bus.py
  lib/crewai/src/crewai/runtime_state.py
  lib/crewai/tests/test_crew.py
Due: ruff, ruff-format, mypy

refactor: move RuntimeState to state/, add async checkpoint with provider pattern
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/context.py
  lib/crewai/src/crewai/events/event_bus.py
  lib/crewai/src/crewai/state/__init__.py
  lib/crewai/src/crewai/state/provider/__init__.py
  lib/crewai/src/crewai/state/provider/core.py
  lib/crewai/src/crewai/state/provider/json_provider.py
  lib/crewai/src/crewai/state/runtime.py
  uv.lock
Due: ruff, ruff-format, mypy
