Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

Document auditable task output receipts
  docs/en/concepts/tasks.mdx
Due: none

Clarify task receipt implementation guidance
  docs/en/concepts/tasks.mdx
Due: none

feat(agents): add get_effective_system_prompt and stable instruction api
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agents/agent_builder/base_agent.py
  lib/crewai/tests/agents/test_agent_instruction_api.py
Due: ruff, ruff-format, mypy

Apply suggestion from @coderabbitai[bot]
  lib/crewai/src/crewai/agent/core.py
Due: ruff, ruff-format, mypy

feat(optimizers): add crewai[dspy] optional extra with DSPyOptimizer
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/events/types/__init__.py
  lib/crewai/src/crewai/events/types/optimizer_events.py
  lib/crewai/src/crewai/optimizers/__init__.py
  lib/crewai/src/crewai/optimizers/dspy_optimizer.py
  lib/crewai/src/crewai/optimizers/types.py
  lib/crewai/tests/optimizers/__init__.py
  lib/crewai/tests/optimizers/test_dspy_optimizer.py
  uv.lock
Due: ruff, ruff-format, mypy

fix: add SSRF protection to FileUrl in crewai-files
  lib/crewai-files/src/crewai_files/core/security.py
  lib/crewai-files/src/crewai_files/core/sources.py
  lib/crewai-files/tests/test_file_url.py
  lib/crewai-files/tests/test_ssrf_protection.py
Due: ruff, ruff-format, mypy

fix: suppress S104 ruff lint warning in SSRF test
  lib/crewai-files/tests/test_ssrf_protection.py
Due: ruff, ruff-format

style: add missing blank line per ruff formatting
  lib/crewai-files/src/crewai_files/core/security.py
Due: ruff, ruff-format, mypy

style: fix ruff format in security.py
  lib/crewai-files/src/crewai_files/core/security.py
Due: ruff, ruff-format, mypy

feat: add OCI Generative AI provider — basic text completion
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/oci/__init__.py
  lib/crewai/src/crewai/llms/providers/oci/completion.py
  lib/crewai/src/crewai/utilities/oci.py
  lib/crewai/tests/llms/oci/__init__.py
  lib/crewai/tests/llms/oci/conftest.py
  lib/crewai/tests/llms/oci/test_oci.py
  lib/crewai/tests/llms/oci/test_oci_integration_basic.py
Due: ruff, ruff-format, mypy

fix: return False from supports_function_calling until tool PR
  lib/crewai/src/crewai/llms/providers/oci/completion.py
Due: ruff, ruff-format, mypy

fix: use model_lower consistently in OCI pattern check
  lib/crewai/src/crewai/llm.py
Due: ruff, ruff-format, mypy

feat(oci): expose reasoning_effort on OCICompletion constructor
  lib/crewai/src/crewai/llms/providers/oci/completion.py
Due: ruff, ruff-format, mypy

refactor: remove supports_function_calling and supports_stop_words
  lib/crewai/src/crewai/llms/providers/oci/completion.py
Due: ruff, ruff-format, mypy

test: add unit and integration tests for OCI completion provider
  lib/crewai/tests/llms/oci/__init__.py
  lib/crewai/tests/llms/oci/conftest.py
  lib/crewai/tests/llms/oci/test_oci.py
  lib/crewai/tests/llms/oci/test_oci_integration_basic.py
Due: ruff, ruff-format

cleanup: remove unused imports and dead code
  lib/crewai/src/crewai/llms/providers/oci/completion.py
Due: ruff, ruff-format, mypy

fix(oci): scope max_completion_tokens routing to GPT-5 family only
  lib/crewai/src/crewai/llms/providers/oci/completion.py
  lib/crewai/tests/llms/oci/test_oci.py
Due: ruff, ruff-format, mypy

feat: add OCI Generative AI provider — basic text completion
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/oci/__init__.py
  lib/crewai/src/crewai/llms/providers/oci/completion.py
  lib/crewai/src/crewai/utilities/oci.py
Due: ruff, ruff-format, mypy

feat: add tool calling support to OCI Generative AI provider
  lib/crewai/src/crewai/llms/providers/oci/completion.py
  lib/crewai/tests/llms/oci/test_oci_integration_tools.py
  lib/crewai/tests/llms/oci/test_oci_tools.py
Due: ruff, ruff-format, mypy

feat: add streaming support to OCI Generative AI provider
  lib/crewai/src/crewai/llms/providers/oci/completion.py
  lib/crewai/tests/llms/oci/test_oci_integration_streaming.py
  lib/crewai/tests/llms/oci/test_oci_streaming.py
Due: ruff, ruff-format, mypy

feat: add structured output support to OCI Generative AI provider
  lib/crewai/src/crewai/llms/providers/oci/completion.py
  lib/crewai/tests/llms/oci/test_oci_integration_structured.py
  lib/crewai/tests/llms/oci/test_oci_structured.py
Due: ruff, ruff-format, mypy

test: add live multimodal integration test
  lib/crewai/tests/llms/oci/test_oci_integration_multimodal.py
Due: ruff, ruff-format

feat: add multimodal support to OCI Generative AI provider
  lib/crewai/src/crewai/llms/providers/oci/__init__.py
  lib/crewai/src/crewai/llms/providers/oci/completion.py
  lib/crewai/src/crewai/llms/providers/oci/vision.py
  lib/crewai/tests/llms/oci/test_oci_multimodal.py
Due: ruff, ruff-format, mypy

feat: add OCI Generative AI embeddings provider
  lib/crewai/src/crewai/rag/embeddings/factory.py
  lib/crewai/src/crewai/rag/embeddings/providers/oci/__init__.py
  lib/crewai/src/crewai/rag/embeddings/providers/oci/embedding_callable.py
  lib/crewai/src/crewai/rag/embeddings/providers/oci/oci_provider.py
  lib/crewai/src/crewai/rag/embeddings/providers/oci/types.py
  lib/crewai/src/crewai/rag/embeddings/types.py
  lib/crewai/tests/rag/embeddings/test_factory_oci.py
  lib/crewai/tests/rag/embeddings/test_oci_embedding_integration.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
