Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

fix: clear CodeQL weak sensitive hashing on model catalog cache key
  lib/cli/src/crewai_cli/model_catalog.py
  lib/cli/tests/test_model_catalog.py
Due: ruff, ruff-format, mypy

feat(tools): add OutageDeck status tool
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/outagedeck_status_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/outagedeck_status_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/outagedeck_status_tool/outagedeck_status_tool.py
  lib/crewai-tools/tests/tools/outagedeck_status_tool_test.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy

fix(tools): address OutageDeck review feedback
  lib/crewai-tools/src/crewai_tools/tools/outagedeck_status_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/outagedeck_status_tool/outagedeck_status_tool.py
  lib/crewai-tools/tests/tools/outagedeck_status_tool_test.py
Due: ruff, ruff-format, mypy

docs(usage): clarify provider token totals
  docs/edge/en/concepts/crews.mdx
Due: none

feat(cli): unify scaffolding under `crewai create <resource>` (#6821)
  docs/edge/en/concepts/cli.mdx
  docs/edge/en/concepts/skills.mdx
  docs/edge/en/guides/coding-tools/agents-md.mdx
  lib/cli/src/crewai_cli/cli.py
  lib/cli/src/crewai_cli/utils.py
  lib/cli/tests/test_cli.py
  lib/cli/tests/test_create_unified.py
Due: ruff, ruff-format, mypy

docs(cli): warn against matching @listen labels to handler names
  lib/cli/src/crewai_cli/templates/AGENTS.md
  lib/cli/src/crewai_cli/templates/declarative_flow/AGENTS.md
Due: none

docs: update scaffold AGENTS.md for unified create CLI
  lib/cli/src/crewai_cli/templates/AGENTS.md
Due: none

docs(cli): clarify @listen self-reference fails at validation
  lib/cli/src/crewai_cli/templates/AGENTS.md
Due: none

feat(devtools): bump Flow canary on release
  lib/devtools/README.md
  lib/devtools/src/crewai_devtools/cli.py
  lib/devtools/tests/test_toml_updates.py
Due: ruff, ruff-format, mypy

fix(flow): clarify conversational route/handler name collision errors (#6825)
  docs/edge/en/guides/flows/conversational-flows.mdx
  lib/cli/src/crewai_cli/templates/AGENTS.md
  lib/cli/src/crewai_cli/templates/declarative_flow/AGENTS.md
  lib/crewai/src/crewai/flow/dsl/_utils.py
  lib/crewai/src/crewai/flow/flow_definition.py
  lib/crewai/tests/test_flow.py
  lib/crewai/tests/test_flow_definition.py
Due: ruff, ruff-format, mypy

docs: update scaffold AGENTS.md for unified create CLI (#6829)
  lib/cli/src/crewai_cli/templates/AGENTS.md
Due: none

fix(devtools): validate canary CrewAI pins
  lib/devtools/src/crewai_devtools/cli.py
  lib/devtools/tests/test_toml_updates.py
Due: ruff, ruff-format, mypy

fix(devtools): validate effective canary pins
  lib/devtools/src/crewai_devtools/cli.py
  lib/devtools/tests/test_toml_updates.py
Due: ruff, ruff-format, mypy

feat: add app metadata to platform action tools
  lib/crewai-tools/src/crewai_tools/tools/crewai_platform_tools/crewai_platform_action_tool.py
  lib/crewai-tools/src/crewai_tools/tools/crewai_platform_tools/crewai_platform_tool_builder.py
  lib/crewai-tools/tests/tools/crewai_platform_tools/test_crewai_platform_action_tool.py
  lib/crewai-tools/tests/tools/crewai_platform_tools/test_crewai_platform_tool_builder.py
  lib/crewai/tests/tools/test_tool_failure.py
Due: ruff, ruff-format, mypy

fix(tools): stop running a failing tool twice per attempt
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/tests/tools/test_tool_usage.py
Due: ruff, ruff-format, mypy

refactor: remove redundant platform tool app assignment
  lib/crewai-tools/src/crewai_tools/tools/crewai_platform_tools/crewai_platform_action_tool.py
Due: ruff, ruff-format, mypy

Harden issue gate enforcement and lifecycle validation
  .github/ISSUE_GATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/scripts/issue-gate.mjs
  .github/scripts/issue-gate.test.mjs
  .github/workflows/issue-gate.yml
Due: none

fix(devtools): handle workflow command boundaries
  lib/devtools/src/crewai_devtools/cli.py
  lib/devtools/tests/test_toml_updates.py
Due: ruff, ruff-format, mypy

feat: add app metadata to platform action tools (#6832)
  lib/crewai-tools/src/crewai_tools/tools/crewai_platform_tools/crewai_platform_action_tool.py
  lib/crewai-tools/src/crewai_tools/tools/crewai_platform_tools/crewai_platform_tool_builder.py
  lib/crewai-tools/tests/tools/crewai_platform_tools/test_crewai_platform_action_tool.py
  lib/crewai-tools/tests/tools/crewai_platform_tools/test_crewai_platform_tool_builder.py
  lib/crewai/tests/tools/test_tool_failure.py
Due: ruff, ruff-format, mypy

test(tools): cover the retry path and async schema fallback
  lib/crewai/tests/tools/test_tool_usage.py
Due: ruff, ruff-format

fix(devtools): parse workflow YAML scalars
  lib/devtools/pyproject.toml
  lib/devtools/src/crewai_devtools/cli.py
  lib/devtools/tests/test_toml_updates.py
  uv.lock
Due: ruff, ruff-format, mypy

fix(tools): address review feedback on URLReadTool
  lib/crewai-tools/src/crewai_tools/rag/loaders/pdf_loader.py
  lib/crewai-tools/src/crewai_tools/tools/url_read_tool/url_read_tool.py
  lib/crewai-tools/tests/rag/test_pdf_loader.py
  lib/crewai-tools/tests/url_read_tool_test.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy

fix(tools): close streamed redirect hops and widen type fallback
  lib/crewai-tools/src/crewai_tools/security/safe_requests.py
  lib/crewai-tools/src/crewai_tools/tools/url_read_tool/url_read_tool.py
  lib/crewai-tools/tests/url_read_tool_test.py
  lib/crewai-tools/tests/utilities/test_safe_requests.py
Due: ruff, ruff-format, mypy

feat(tools): add URLReadTool for reading arbitrary URLs
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/rag/loaders/pdf_loader.py
  lib/crewai-tools/src/crewai_tools/security/safe_requests.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/url_read_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/url_read_tool/url_read_tool.py
  lib/crewai-tools/tests/rag/test_pdf_loader.py
  lib/crewai-tools/tests/url_read_tool_test.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy

Update LLM event tests to patch the global event bus
  lib/crewai/tests/events/test_llm_finish_reason_response_id.py
  lib/crewai/tests/events/test_llm_usage_event.py
  lib/crewai/tests/llms/google/test_google.py
  lib/crewai/tests/test_llm.py
  lib/crewai/tests/test_llm_streaming_finish_reason.py
Due: ruff, ruff-format

feat(tools): add URLReadTool for reading arbitrary URLs (#6834)
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/rag/loaders/pdf_loader.py
  lib/crewai-tools/src/crewai_tools/security/safe_requests.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/url_read_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/url_read_tool/url_read_tool.py
  lib/crewai-tools/tests/rag/test_pdf_loader.py
  lib/crewai-tools/tests/url_read_tool_test.py
  lib/crewai-tools/tests/utilities/test_safe_requests.py
  lib/crewai-tools/tool.specs.json
Due: ruff, ruff-format, mypy

feat(devtools): bump Flow canary on release (#6830)
  lib/devtools/README.md
  lib/devtools/pyproject.toml
  lib/devtools/src/crewai_devtools/cli.py
  lib/devtools/tests/test_toml_updates.py
  uv.lock
Due: ruff, ruff-format, mypy

feat: bump versions to 1.15.12
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.15.12 (#6835)
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

fix(anthropic): count cached input tokens in the reported totals
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/tests/llms/anthropic/test_anthropic_cached_token_totals.py
Due: ruff, ruff-format, mypy

fix(llm): strip cache_breakpoint for litellm fallback providers
  lib/crewai/src/crewai/llm.py
Due: ruff, ruff-format, mypy

fix(crewai-files): replace bare raises with PermanentUploadError in get_uploader
  lib/crewai-files/src/crewai_files/uploaders/factory.py
  lib/crewai-files/tests/test_uploader_factory.py
Due: ruff, ruff-format, mypy

feat(tools): add OutageDeckStatusTool
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/outage_deck_status_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/outage_deck_status_tool/outage_deck_status_tool.py
  lib/crewai-tools/tests/tools/test_outage_deck_status_tool.py
Due: ruff, ruff-format, mypy

fix(crewai-files): reject bucket_name=None as missing bedrock config
  lib/crewai-files/src/crewai_files/uploaders/factory.py
  lib/crewai-files/tests/test_uploader_factory.py
Due: ruff, ruff-format, mypy

docs: make noveum trace cleanup exception-safe and clarify listener auto-registration
  docs/edge/en/observability/noveum-trace.mdx
Due: none
