Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock

chore: refactor event handler test
  conftest.py
  lib/crewai/tests/agents/test_lite_agent.py
  lib/crewai/tests/experimental/evaluation/test_agent_evaluator.py
  lib/crewai/tests/memory/test_external_memory.py
  lib/crewai/tests/test_crew.py
  lib/crewai/tests/test_task_guardrails.py
  lib/crewai/tests/tracing/test_tracing.py
  lib/crewai/tests/utilities/test_events.py
Due: ruff, ruff-format, mypy

chore: remove cassette decorator kwargs
  lib/crewai-tools/tests/tools/test_search_tools.py
  lib/crewai/tests/agents/test_agent.py
  lib/crewai/tests/llms/anthropic/test_anthropic.py
  lib/crewai/tests/llms/hooks/test_anthropic_interceptor.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format

chore: regenerate gemini cassettes
  conftest.py
  lib/crewai/src/crewai/llms/constants.py
  lib/crewai/tests/cassettes/test_gemini_models[gemini-gemini-2.0-flash-001].yaml
  lib/crewai/tests/cassettes/test_gemini_models[gemini-gemini-2.0-flash-lite-001].yaml
  lib/crewai/tests/cassettes/test_gemini_models[gemini-gemini-2.0-flash-thinking-exp-01-21].yaml
  lib/crewai/tests/cassettes/test_gemini_models[gemini-gemini-2.5-flash-preview-04-17].yaml
  lib/crewai/tests/cassettes/test_gemini_models[gemini-gemini-2.5-pro-exp-03-25].yaml
  lib/crewai/tests/cassettes/test_gemini_models[gemini-gemini-3-pro-preview].yaml
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

chore: run tests from root, consolidate
  .github/workflows/tests.yml
Due: none

chore: move tools generator to package
  lib/crewai-tools/BUILDING_TOOLS.md
  lib/crewai-tools/src/crewai_tools/generate_tool_specs.py
  lib/crewai-tools/tests/test_generate_tool_specs.py
Due: ruff, ruff-format, mypy

chore: change back to dup testing approach
  .env.test
  .github/workflows/tests.yml
  lib/crewai/tests/cassettes/test_gemini_models[gemini-gemini-2.0-flash-001].yaml
  lib/crewai/tests/cassettes/test_gemini_models[gemini-gemini-2.0-flash-lite-001].yaml
  lib/crewai/tests/cassettes/test_gemini_models[gemini-gemini-2.0-flash-thinking-exp-01-21].yaml
  lib/crewai/tests/cassettes/test_gemini_models[gemini-gemini-3-pro-preview].yaml
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format

fix: HuggingFace embedder configuration validation error (#3995)
  lib/crewai/src/crewai/rag/embeddings/providers/huggingface/huggingface_provider.py
  lib/crewai/src/crewai/rag/embeddings/providers/huggingface/types.py
  lib/crewai/tests/rag/embeddings/test_embedding_factory.py
  lib/crewai/tests/rag/embeddings/test_huggingface_provider.py
  uv.lock
Due: ruff, ruff-format, mypy

fix: add idx for task ordering, tests
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/utilities/planning_handler.py
  lib/crewai/tests/utilities/test_planning_handler.py
Due: ruff, ruff-format, mypy

fix: handle duplicate task ordering
  lib/crewai/src/crewai/crew.py
  lib/crewai/tests/utilities/test_planning_handler.py
Due: ruff, ruff-format, mypy

chore: use correct mock in tests
  lib/crewai/tests/utilities/test_planning_handler.py
Due: ruff, ruff-format

chore: add filter_query_parameters to conftest
  conftest.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

chore: regenerate gemini cassettes
  conftest.py
  lib/crewai/tests/cassettes/test_gemini_models[gemini-gemini-2.0-flash-001].yaml
  lib/crewai/tests/cassettes/test_gemini_models[gemini-gemini-2.0-flash-lite-001].yaml
  lib/crewai/tests/cassettes/test_gemini_models[gemini-gemini-2.0-flash-thinking-exp-01-21].yaml
  lib/crewai/tests/cassettes/test_gemini_models[gemini-gemini-2.5-flash-preview-04-17].yaml
  lib/crewai/tests/cassettes/test_gemini_models[gemini-gemini-2.5-pro-exp-03-25].yaml
  lib/crewai/tests/cassettes/test_gemini_models[gemini-gemini-3-pro-preview].yaml
  lib/crewai/tests/cassettes/test_gemma3[gemini-gemma-3-27b-it].yaml
Due: ruff, ruff-format, mypy

Revert "chore: add filter_query_parameters to conftest"
  conftest.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

chore: revert anthropic test changes
  conftest.py
  lib/crewai-tools/tests/tools/test_search_tools.py
  lib/crewai/tests/cassettes/test_gemma3[gemini-gemma-3-27b-it].yaml
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

ensure flow logs are not passed if its on executor
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/agents/crew_agent_executor_flow.py
  lib/crewai/src/crewai/flow/flow.py
Due: ruff, ruff-format, mypy

revert anthropic bump
  lib/crewai/pyproject.toml
  uv.lock
Due: none

feat: create sys event types and handler
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
  lib/crewai/src/crewai/events/types/system_events.py
  lib/crewai/src/crewai/telemetry/telemetry.py
Due: ruff, ruff-format, mypy

chore: create tests
  lib/crewai/tests/events/types/test_system_events.py
Due: ruff, ruff-format

fix: preserve original task IDs after replay
  lib/crewai/src/crewai/utilities/task_output_storage_handler.py
  lib/crewai/tests/test_crew.py
Due: ruff, ruff-format, mypy

chore: pin dev deps
  pyproject.toml
  uv.lock
Due: none

chore: pin devtools deps
  lib/devtools/pyproject.toml
  uv.lock
Due: none

We don't needRPM to hang the exit
  lib/crewai/src/crewai/utilities/rpm_controller.py
Due: ruff, ruff-format, mypy

chore: pin deps in crewai, crewai-tools
  lib/crewai-tools/pyproject.toml
  lib/crewai/pyproject.toml
  lib/devtools/pyproject.toml
  uv.lock
Due: none

chore: bump and pin uv
  lib/crewai/pyproject.toml
  uv.lock
Due: none

chore: bump anthropic to previous resolved version
  lib/crewai/pyproject.toml
  uv.lock
Due: none

chore: match only on method, scheme, host, port, path to prevent flakes
  conftest.py
Due: ruff, ruff-format, mypy

chore: add logging for signal-related errors
  lib/crewai/src/crewai/telemetry/telemetry.py
Due: ruff, ruff-format, mypy

feat: create sys event types and handler
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
  lib/crewai/src/crewai/events/types/system_events.py
  lib/crewai/src/crewai/telemetry/telemetry.py
  lib/crewai/tests/events/types/test_system_events.py
Due: ruff, ruff-format, mypy

feat: Introduce production-ready Flows and Crews architecture with new runner and updated documentation across multiple languages.
  README.md
  docs/docs.json
  docs/en/concepts/production-architecture.mdx
  docs/en/introduction.mdx
  docs/ko/concepts/production-architecture.mdx
  docs/ko/introduction.mdx
  docs/pt-BR/concepts/production-architecture.mdx
  docs/pt-BR/introduction.mdx
Due: none

feat: Add task-native and agent-native multimodality support
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/multimodal/__init__.py
  lib/crewai/src/crewai/multimodal/image.py
  lib/crewai/src/crewai/multimodal/multipart_content.py
  lib/crewai/src/crewai/task.py
  lib/crewai/tests/multimodal/__init__.py
  lib/crewai/tests/multimodal/run_tests.py
  lib/crewai/tests/multimodal/test_image.py
  lib/crewai/tests/multimodal/test_multipart_content.py
  lib/crewai/tests/multimodal/validate_implementation.py
Due: ruff, ruff-format, mypy

ko and pt-br for tracing missing links
  docs/docs.json
  docs/ko/observability/tracing.mdx
  docs/pt-BR/observability/tracing.mdx
Due: none

chore: pin dependencies in crewai, crewai-tools, devtools
  conftest.py
  lib/crewai-tools/pyproject.toml
  lib/crewai/pyproject.toml
  lib/devtools/pyproject.toml
  pyproject.toml
  uv.lock
Due: ruff, ruff-format, mypy

fix: use HuggingFaceEmbeddingFunction for embeddings, update keys and add tests
  docs/en/concepts/memory.mdx
  docs/ko/concepts/memory.mdx
  docs/pt-BR/concepts/memory.mdx
  lib/crewai/src/crewai/rag/embeddings/providers/huggingface/huggingface_provider.py
  lib/crewai/src/crewai/rag/embeddings/providers/huggingface/types.py
  lib/crewai/tests/rag/embeddings/test_embedding_factory.py
Due: ruff, ruff-format, mypy

chore: update typing in task and guardrails
  lib/crewai/src/crewai/task.py
  lib/crewai/src/crewai/tasks/llm_guardrail.py
Due: ruff, ruff-format, mypy

chore: remove max_retries reference from docs
  docs/en/concepts/tasks.mdx
Due: none

feat: add async contract to BaseLLM
  lib/crewai/src/crewai/llms/base_llm.py
Due: ruff, ruff-format, mypy

chore: add additional scrub header fields to conftest
  conftest.py
Due: ruff, ruff-format, mypy

feat: add async call support to azure provider
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/tests/cassettes/llms/azure/test_azure_async_conversation.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_async_multiple_calls.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_async_non_streaming.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_async_with_max_tokens.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_async_with_parameters.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_async_with_system_message.yaml
  lib/crewai/tests/cassettes/llms/azure/test_azure_async_with_temperature.yaml
  lib/crewai/tests/llms/azure/test_azure_async.py
Due: ruff, ruff-format, mypy

chore: add additional fields to conftest scrub for anthropic
  conftest.py
Due: ruff, ruff-format, mypy
