Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock

fix: add messages field to TaskOutput in tests for consistency
  lib/crewai/tests/test_crew.py
Due: ruff, ruff-format

feat: preserve messages in task outputs during replay
  lib/crewai/src/crewai/crew.py
  lib/crewai/tests/test_crew.py
Due: ruff, ruff-format, mypy

fix original test, prev was debugging
  lib/crewai/tests/test_task.py
Due: ruff, ruff-format

Configure dependabot for pip package updates
  .github/dependabot.yml
Due: none

Fix Dependabot package ecosystem
  .github/dependabot.yml
Due: none

Refactor: Use uv package-ecosystem in dependabot
  .github/dependabot.yml
Due: none

feat: expose messages to TaskOutput and LiteAgentOutputs (#3880)
  docs/en/concepts/tasks.mdx
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/lite_agent.py
  lib/crewai/src/crewai/lite_agent_output.py
  lib/crewai/src/crewai/task.py
  lib/crewai/src/crewai/tasks/task_output.py
  lib/crewai/src/crewai/utilities/types.py
  lib/crewai/tests/agents/test_lite_agent.py
  lib/crewai/tests/cassettes/test_lite_agent_output_includes_messages.yaml
  lib/crewai/tests/cassettes/test_task_output_includes_messages.yaml
  lib/crewai/tests/test_crew.py
  lib/crewai/tests/test_task.py
  lib/crewai/tests/test_task_guardrails.py
Due: ruff, ruff-format, mypy

dependabot.yml creation (#3868)
  .github/dependabot.yml
Due: none

chore: continue refactoring llms to base models
  lib/crewai/src/crewai/__init__.py
  lib/crewai/src/crewai/cli/crew_chat.py
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/src/crewai/experimental/evaluation/base_evaluator.py
  lib/crewai/src/crewai/lite_agent.py
  lib/crewai/src/crewai/llm/base_llm.py
  lib/crewai/src/crewai/llm/internal/meta.py
  lib/crewai/src/crewai/llm/providers/anthropic/completion.py
  lib/crewai/src/crewai/llm/providers/azure/completion.py
  lib/crewai/src/crewai/llm/providers/bedrock/completion.py
  lib/crewai/src/crewai/llm/providers/gemini/completion.py
  lib/crewai/src/crewai/llm/providers/openai/completion.py
  lib/crewai/src/crewai/tasks/hallucination_guardrail.py
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/tests/test_llm.py
  logs.txt
Due: ruff, ruff-format, mypy

Fix #3883: Add compatibility alias for tool decorator in crewai_tools
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/tests/test_tool_alias.py
Due: ruff, ruff-format, mypy

Fix AIMindTool import error with minds_sdk 2.0.0
  lib/crewai-tools/src/crewai_tools/tools/ai_mind_tool/ai_mind_tool.py
  lib/crewai-tools/tests/tools/ai_mind_tool_test.py
Due: ruff, ruff-format, mypy

Fix hierarchical delegation bug where manager couldn't delegate to all crew agents
  lib/crewai/src/crewai/crew.py
  lib/crewai/tests/cassettes/test_hierarchical_crew_creation_tasks_with_async_execution.yaml
  lib/crewai/tests/test_crew.py
Due: ruff, ruff-format, mypy

Fix GPT-5 tool calling format incompatibility
  lib/crewai/src/crewai/tools/tool_usage.py
  lib/crewai/tests/tools/test_tool_usage_gpt5_args_normalization.py
  uv.lock
Due: ruff, ruff-format, mypy

Enhance schema description of QdrantVectorSearchTool
  lib/crewai-tools/src/crewai_tools/tools/qdrant_vector_search_tool/qdrant_search_tool.py
Due: ruff, ruff-format, mypy

Patching up ai mind tool
  lib/crewai-tools/src/crewai_tools/tools/ai_mind_tool/ai_mind_tool.py
Due: ruff, ruff-format, mypy

feat: implement before and after LLM call hooks in CrewAgentExecutor
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/src/crewai/utilities/llm_call_hooks.py
  lib/crewai/tests/agents/test_agent.py
  lib/crewai/tests/cassettes/test_after_llm_call_hook_modifies_messages.yaml
  lib/crewai/tests/cassettes/test_after_llm_call_hook_modifies_messages_for_next_iteration.yaml
  lib/crewai/tests/cassettes/test_before_llm_call_hook_modifies_messages.yaml
  lib/crewai/tests/cassettes/test_llm_call_hooks_can_modify_executor_attributes.yaml
  lib/crewai/tests/cassettes/test_llm_call_hooks_error_handling.yaml
  lib/crewai/tests/cassettes/test_llm_call_hooks_with_crew.yaml
Due: ruff, ruff-format, mypy

chore: fix attr ref
  lib/crewai/src/crewai/llm/base_llm.py
  lib/crewai/src/crewai/llm/constants.py
  lib/crewai/src/crewai/llm/internal/meta.py
  lib/crewai/src/crewai/llm/providers/anthropic/completion.py
  lib/crewai/src/crewai/llm/providers/azure/completion.py
  lib/crewai/src/crewai/llm/providers/bedrock/completion.py
  lib/crewai/src/crewai/llm/providers/gemini/completion.py
  lib/crewai/tests/llms/anthropic/test_anthropic.py
  lib/crewai/tests/llms/bedrock/test_bedrock.py
  lib/crewai/tests/llms/google/test_google.py
Due: ruff, ruff-format, mypy

Enhance schema description of QdrantVectorSearchTool (#3891)
  lib/crewai-tools/src/crewai_tools/tools/qdrant_vector_search_tool/qdrant_search_tool.py
Due: ruff, ruff-format, mypy

chore: improve typing
  lib/crewai/src/crewai/llm/providers/anthropic/completion.py
  lib/crewai/src/crewai/llm/providers/azure/completion.py
  lib/crewai/src/crewai/llm/providers/bedrock/completion.py
  lib/crewai/src/crewai/llm/providers/gemini/completion.py
  lib/crewai/src/crewai/llm/providers/openai/completion.py
Due: ruff, ruff-format, mypy

chore: move api key validation to base
  lib/crewai/src/crewai/llm/base_llm.py
  lib/crewai/src/crewai/llm/providers/anthropic/completion.py
  lib/crewai/src/crewai/llm/providers/azure/completion.py
  lib/crewai/src/crewai/llm/providers/bedrock/completion.py
  lib/crewai/src/crewai/llm/providers/openai/completion.py
Due: ruff, ruff-format, mypy

Fetch and store more data about okta authorization server
  lib/crewai/src/crewai/cli/authentication/main.py
  lib/crewai/src/crewai/cli/authentication/providers/base_provider.py
  lib/crewai/src/crewai/cli/authentication/providers/okta.py
  lib/crewai/src/crewai/cli/command.py
  lib/crewai/src/crewai/cli/config.py
  lib/crewai/src/crewai/cli/enterprise/main.py
  lib/crewai/src/crewai/cli/git.py
  lib/crewai/src/crewai/cli/plus_api.py
  lib/crewai/src/crewai/cli/tools/main.py
  lib/crewai/src/crewai/cli/utils.py
Due: ruff, ruff-format, mypy

chore: remove duplication in azure client
  lib/crewai/src/crewai/llm/base_llm.py
  lib/crewai/src/crewai/llm/internal/constants.py
  lib/crewai/src/crewai/llm/internal/meta.py
  lib/crewai/src/crewai/llm/providers/anthropic/completion.py
  lib/crewai/src/crewai/llm/providers/azure/completion.py
  lib/crewai/src/crewai/llm/providers/bedrock/completion.py
  lib/crewai/src/crewai/llm/providers/gemini/completion.py
  lib/crewai/src/crewai/llm/providers/openai/completion.py
  lib/crewai/src/crewai/llms/__init__.py
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/src/crewai/llms/constants.py
  lib/crewai/src/crewai/llms/hooks/__init__.py
  lib/crewai/src/crewai/llms/hooks/base.py
  lib/crewai/src/crewai/llms/hooks/transport.py
  lib/crewai/src/crewai/llms/internal/__init__.py
  lib/crewai/src/crewai/llms/internal/constants.py
  lib/crewai/src/crewai/llms/providers/__init__.py
  lib/crewai/tests/llms/anthropic/test_anthropic.py
  lib/crewai/tests/llms/azure/test_azure.py
  lib/crewai/tests/llms/bedrock/test_bedrock.py
  lib/crewai/tests/llms/google/test_google.py
  lib/crewai/tests/llms/openai/test_openai.py
Due: ruff, ruff-format, mypy

fix: ensure config is not flattened, add tests
  lib/crewai-tools/src/crewai_tools/tools/rag/rag_tool.py
  lib/crewai-tools/tests/tools/rag/rag_tool_test.py
  lib/crewai-tools/tests/tools/test_pdf_search_tool_config.py
  lib/crewai-tools/tests/tools/test_txt_search_tool_config.py
Due: ruff, ruff-format, mypy

chore: refactor inits to model_validator
  lib/crewai-tools/src/crewai_tools/tools/pdf_search_tool/pdf_search_tool.py
  lib/crewai-tools/src/crewai_tools/tools/txt_search_tool/txt_search_tool.py
Due: ruff, ruff-format, mypy

chore: refactor rag tool config parsing
  lib/crewai-tools/src/crewai_tools/tools/rag/rag_tool.py
  lib/crewai-tools/src/crewai_tools/tools/rag/types.py
  lib/crewai/src/crewai/rag/embeddings/providers/microsoft/types.py
  lib/crewai/src/crewai/rag/embeddings/types.py
Due: ruff, ruff-format, mypy

Update test
  lib/crewai/tests/cli/enterprise/test_main.py
Due: ruff, ruff-format

Fix test
  lib/crewai/src/crewai/cli/settings/main.py
Due: ruff, ruff-format, mypy

chore: add initial docs
  docs/en/tools/ai-ml/ragtool.mdx
  lib/crewai-tools/src/crewai_tools/tools/rag/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/rag/types.py
  lib/crewai-tools/tests/tools/rag/rag_tool_test.py
  lib/crewai-tools/tests/tools/test_pdf_search_tool_config.py
  lib/crewai-tools/tests/tools/test_txt_search_tool_config.py
Due: ruff, ruff-format, mypy

Add test
  lib/crewai/src/crewai/cli/authentication/providers/base_provider.py
  lib/crewai/tests/cli/authentication/providers/test_okta.py
Due: ruff, ruff-format, mypy

feat: implement before and after LLM call hooks in CrewAgentExecutor (#3893)
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/src/crewai/utilities/llm_call_hooks.py
  lib/crewai/tests/agents/test_agent.py
  lib/crewai/tests/cassettes/test_after_llm_call_hook_modifies_messages.yaml
  lib/crewai/tests/cassettes/test_after_llm_call_hook_modifies_messages_for_next_iteration.yaml
  lib/crewai/tests/cassettes/test_before_llm_call_hook_modifies_messages.yaml
  lib/crewai/tests/cassettes/test_llm_call_hooks_can_modify_executor_attributes.yaml
  lib/crewai/tests/cassettes/test_llm_call_hooks_error_handling.yaml
  lib/crewai/tests/cassettes/test_llm_call_hooks_with_crew.yaml
Due: ruff, ruff-format, mypy

fix: Allow A2A agents to be identified by skill ID in addition to endpoint URL
  lib/crewai/src/crewai/a2a/utils.py
  lib/crewai/src/crewai/a2a/wrapper.py
  lib/crewai/tests/a2a/test_resolve_agent_identifier.py
  lib/crewai/tests/a2a/test_skill_id_integration.py
Due: ruff, ruff-format, mypy

fix: Rebuild AgentResponse model in multi-turn A2A flows to support skill IDs
  lib/crewai/src/crewai/a2a/wrapper.py
Due: ruff, ruff-format, mypy

test: Add multi-turn skill ID resolution test
  lib/crewai/tests/a2a/test_skill_id_integration.py
Due: ruff, ruff-format

feat: fetch and store more data about okta authorization server (#3894)
  lib/crewai/src/crewai/cli/authentication/main.py
  lib/crewai/src/crewai/cli/authentication/providers/base_provider.py
  lib/crewai/src/crewai/cli/authentication/providers/okta.py
  lib/crewai/src/crewai/cli/command.py
  lib/crewai/src/crewai/cli/config.py
  lib/crewai/src/crewai/cli/enterprise/main.py
  lib/crewai/src/crewai/cli/git.py
  lib/crewai/src/crewai/cli/plus_api.py
  lib/crewai/src/crewai/cli/settings/main.py
  lib/crewai/src/crewai/cli/tools/main.py
  lib/crewai/src/crewai/cli/utils.py
  lib/crewai/tests/cli/authentication/providers/test_okta.py
  lib/crewai/tests/cli/enterprise/test_main.py
Due: ruff, ruff-format, mypy

feat: implement LLM call hooks and enhance agent execution context
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/hooks/__init__.py
  lib/crewai/src/crewai/hooks/base.py
  lib/crewai/src/crewai/hooks/llm_hooks.py
  lib/crewai/src/crewai/hooks/tool_hooks.py
  lib/crewai/src/crewai/hooks/types.py
  lib/crewai/src/crewai/lite_agent.py
  lib/crewai/src/crewai/utilities/tool_utils.py
  lib/crewai/tests/agents/test_agent.py
  lib/crewai/tests/cassettes/test_after_llm_call_hook_modifies_messages.yaml
  lib/crewai/tests/cassettes/test_after_llm_call_hook_modifies_messages_for_next_iteration.yaml
  lib/crewai/tests/cassettes/test_before_llm_call_hook_modifies_messages.yaml
  lib/crewai/tests/cassettes/test_llm_call_hooks_can_modify_executor_attributes.yaml
  lib/crewai/tests/cassettes/test_llm_call_hooks_error_handling.yaml
  lib/crewai/tests/cassettes/test_llm_call_hooks_with_crew.yaml
  lib/crewai/tests/hooks/__init__.py
  lib/crewai/tests/hooks/test_llm_hooks.py
  lib/crewai/tests/hooks/test_tool_hooks.py
Due: ruff, ruff-format, mypy

chore: add additional validation aliases for provider env vars
  docs/en/tools/file-document/pdfsearchtool.mdx
  docs/en/tools/file-document/txtsearchtool.mdx
  lib/crewai-tools/src/crewai_tools/tools/rag/rag_tool.py
  lib/crewai-tools/tests/tools/rag/test_rag_tool_validation.py
  lib/crewai/src/crewai/rag/embeddings/providers/aws/bedrock.py
  lib/crewai/src/crewai/rag/embeddings/providers/cohere/cohere_provider.py
  lib/crewai/src/crewai/rag/embeddings/providers/google/generative_ai.py
  lib/crewai/src/crewai/rag/embeddings/providers/google/vertex.py
  lib/crewai/src/crewai/rag/embeddings/providers/huggingface/huggingface_provider.py
  lib/crewai/src/crewai/rag/embeddings/providers/ibm/watsonx.py
  lib/crewai/src/crewai/rag/embeddings/providers/instructor/instructor_provider.py
  lib/crewai/src/crewai/rag/embeddings/providers/jina/jina_provider.py
  lib/crewai/src/crewai/rag/embeddings/providers/microsoft/azure.py
  lib/crewai/src/crewai/rag/embeddings/providers/ollama/ollama_provider.py
  lib/crewai/src/crewai/rag/embeddings/providers/onnx/onnx_provider.py
  lib/crewai/src/crewai/rag/embeddings/providers/openai/openai_provider.py
  lib/crewai/src/crewai/rag/embeddings/providers/openclip/openclip_provider.py
  lib/crewai/src/crewai/rag/embeddings/providers/roboflow/roboflow_provider.py
  lib/crewai/src/crewai/rag/embeddings/providers/sentence_transformer/sentence_transformer_provider.py
  lib/crewai/src/crewai/rag/embeddings/providers/text2vec/text2vec_provider.py
  lib/crewai/src/crewai/rag/embeddings/providers/voyageai/voyageai_provider.py
Due: ruff, ruff-format, mypy
