Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

feat: add debug logging when OutputParserError triggers agent retry
  lib/crewai/src/crewai/agents/crew_agent_executor.py
  lib/crewai/src/crewai/lite_agent.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/utilities/test_agent_utils.py
Due: ruff, ruff-format, mypy

chore: enrich http errors
  lib/crewai/src/crewai/a2a/utils/agent_card.py
Due: ruff, ruff-format, mypy

feat: add additional a2a events and enrich event metadata
  lib/crewai/src/crewai/a2a/task_helpers.py
  lib/crewai/src/crewai/a2a/updates/base.py
  lib/crewai/src/crewai/a2a/updates/polling/handler.py
  lib/crewai/src/crewai/a2a/updates/push_notifications/handler.py
  lib/crewai/src/crewai/a2a/updates/streaming/handler.py
  lib/crewai/src/crewai/a2a/utils/agent_card.py
  lib/crewai/src/crewai/a2a/utils/delegation.py
  lib/crewai/src/crewai/a2a/utils/task.py
  lib/crewai/src/crewai/a2a/wrapper.py
  lib/crewai/src/crewai/events/event_types.py
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
  lib/crewai/src/crewai/events/types/a2a_events.py
  lib/crewai/tests/a2a/utils/test_task.py
  lib/crewai/tests/agents/test_a2a_trust_completion_status.py
Due: ruff, ruff-format, mypy

feat: Add OpenAI Responses API Integration
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/providers/openai_responses/__init__.py
  lib/crewai/src/crewai/llms/providers/openai_responses/completion.py
  lib/crewai/tests/llms/openai_responses/__init__.py
  lib/crewai/tests/llms/openai_responses/test_openai_responses.py
Due: ruff, ruff-format, mypy

fix: align async hooks and tool parsing
  lib/crewai/src/crewai/llms/providers/openai_responses/completion.py
Due: ruff, ruff-format, mypy

fix: invoke after_llm_call_hooks for structured output responses
  lib/crewai/src/crewai/llms/providers/openai_responses/completion.py
Due: ruff, ruff-format, mypy

Adding voyage-4 models
  lib/crewai/src/crewai/rag/embeddings/providers/voyageai/embedding_callable.py
  lib/crewai/tests/rag/embeddings/test_voyageai_embedding.py
Due: ruff, ruff-format, mypy

Adding voyage-4 models
  docs/en/concepts/knowledge.mdx
  docs/en/concepts/memory.mdx
  docs/en/tools/ai-ml/ragtool.mdx
  docs/ko/concepts/knowledge.mdx
  docs/ko/concepts/memory.mdx
  docs/pt-BR/concepts/knowledge.mdx
  docs/pt-BR/concepts/memory.mdx
Due: none

refactor: drop openai_responses provider alias in favor of api flag
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/llms/openai_responses/test_openai_responses.py
Due: ruff, ruff-format, mypy

feat: add MCP Discovery tool for dynamic MCP server discovery
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/mcp_discovery_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/mcp_discovery_tool/mcp_discovery_tool.py
  lib/crewai-tools/tests/tools/mcp_discovery_tool/__init__.py
  lib/crewai-tools/tests/tools/mcp_discovery_tool/test_mcp_discovery_tool.py
  uv.lock
Due: ruff, ruff-format, mypy

test(tools): add tests for FileReadTool
  lib/crewai-tools/tests/tools/test_file_read_tool.py
Due: ruff, ruff-format

fix openai version dependency
  lib/crewai/pyproject.toml
Due: none

Fix LLM callback isolation without global LiteLLM locks
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

feat: add emission sequence for event ordering
  lib/crewai/src/crewai/events/base_events.py
  lib/crewai/src/crewai/events/listeners/tracing/types.py
Due: ruff, ruff-format, mypy

feat: add parent-child event hierarchy with scope management
  lib/crewai/src/crewai/events/event_context.py
Due: ruff, ruff-format, mypy

feat: integrate ordering and hierarchy into event bus
  lib/crewai/src/crewai/events/event_bus.py
Due: ruff, ruff-format, mypy

refactor: improve tracing listener typing and sorting
  lib/crewai/src/crewai/events/listeners/tracing/trace_batch_manager.py
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
Due: ruff, ruff-format, mypy

feat: reset emission counter for test isolation
  conftest.py
  lib/crewai/src/crewai/crews/utils.py
  lib/crewai/src/crewai/flow/flow.py
Due: ruff, ruff-format, mypy

refactor: use try/finally for event pairing in tool usage
  lib/crewai/src/crewai/tools/tool_usage.py
Due: ruff, ruff-format, mypy

chore: update test assumptions
  lib/crewai/tests/memory/test_short_term_memory.py
Due: ruff, ruff-format

fix: add additional stack checks
  conftest.py
  lib/crewai/src/crewai/events/event_bus.py
  lib/crewai/src/crewai/events/event_context.py
  lib/crewai/tests/events/test_event_context.py
Due: ruff, ruff-format, mypy

fix: ensure cache hit formatting; additional event types
  lib/crewai/src/crewai/events/event_context.py
  lib/crewai/src/crewai/tools/tool_usage.py
Due: ruff, ruff-format, mypy

feat: add flush() to event bus for deterministic event handling
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/events/event_bus.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/tests/cassettes/events/TestAgentEventOrdering.test_agent_events_have_event_ids.yaml
  lib/crewai/tests/cassettes/events/TestAgentEventOrdering.test_llm_events_have_parent.yaml
  lib/crewai/tests/cassettes/events/TestCrewEventOrdering.test_crew_completed_after_started.yaml
  lib/crewai/tests/cassettes/events/TestCrewEventOrdering.test_crew_events_have_event_ids.yaml
  lib/crewai/tests/cassettes/events/TestCrewEventOrdering.test_task_parent_is_crew.yaml
  lib/crewai/tests/events/test_event_ordering.py
Due: ruff, ruff-format, mypy

chore: update test assumption
  lib/crewai/tests/memory/test_long_term_memory.py
Due: ruff, ruff-format

feat: use flush in atexit to not block results
  lib/crewai/src/crewai/crew.py
  lib/crewai/src/crewai/events/event_bus.py
  lib/crewai/src/crewai/flow/flow.py
  lib/crewai/tests/cassettes/events/TestAgentEventOrdering.test_agent_events_have_event_ids.yaml
  lib/crewai/tests/cassettes/events/TestAgentEventOrdering.test_llm_events_have_parent.yaml
  lib/crewai/tests/cassettes/events/TestCrewEventOrdering.test_crew_completed_after_started.yaml
  lib/crewai/tests/cassettes/events/TestCrewEventOrdering.test_crew_events_have_event_ids.yaml
  lib/crewai/tests/cassettes/events/TestCrewEventOrdering.test_task_parent_is_crew.yaml
  lib/crewai/tests/events/test_event_ordering.py
Due: ruff, ruff-format, mypy

fix: update MergeAgentHandlerTool to handle Agent Handler MCP protocol correctly
  lib/crewai-tools/src/crewai_tools/tools/merge_agent_handler_tool/merge_agent_handler_tool.py
  lib/crewai-tools/tests/tools/merge_agent_handler_tool_test.py
Due: ruff, ruff-format, mypy

chore: update test assumption
  lib/crewai/tests/memory/test_external_memory.py
Due: ruff, ruff-format

chore: regen cassettes; ensure decode
  conftest.py
  lib/crewai/tests/cassettes/events/TestAgentEventOrdering.test_agent_events_have_event_ids.yaml
  lib/crewai/tests/cassettes/events/TestAgentEventOrdering.test_llm_events_have_parent.yaml
  lib/crewai/tests/cassettes/events/TestCrewEventOrdering.test_crew_completed_after_started.yaml
  lib/crewai/tests/cassettes/events/TestCrewEventOrdering.test_crew_events_have_event_ids.yaml
  lib/crewai/tests/cassettes/events/TestCrewEventOrdering.test_task_parent_is_crew.yaml
Due: ruff, ruff-format, mypy

fix(merge-tool): correct required nullable field handling
  lib/crewai-tools/src/crewai_tools/tools/merge_agent_handler_tool/merge_agent_handler_tool.py
  lib/crewai-tools/tests/tools/merge_agent_handler_tool_test.py
Due: ruff, ruff-format, mypy

Lorenze/fix google vertex api using api keys (#4243)
  docs/en/concepts/llms.mdx
  docs/ko/concepts/llms.mdx
  docs/pt-BR/concepts/llms.mdx
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/tests/cassettes/llms/google/test_google_express_mode_works.yaml
  lib/crewai/tests/llms/google/test_google.py
Due: ruff, ruff-format, mypy

Add agentic AI: symptom triage crew
  docs/en/examples/symptom-triage-crew.mdx
Due: none

chore: tweak tests to account for vcr race condiiton
  lib/crewai/tests/cassettes/events/TestFlowWithCrewEventOrdering.test_crew_parent_is_method.yaml
  lib/crewai/tests/cassettes/events/TestFlowWithCrewEventOrdering.test_flow_events_have_ids.yaml
  lib/crewai/tests/cassettes/events/TestFlowWithCrewEventOrdering.test_method_parent_is_flow.yaml
  lib/crewai/tests/cassettes/events/TestFlowWithMultipleCrewsEventOrdering.test_second_crew_after_first.yaml
  lib/crewai/tests/cassettes/events/TestFlowWithMultipleCrewsEventOrdering.test_tasks_have_correct_crew_parents.yaml
  lib/crewai/tests/cassettes/events/TestFlowWithMultipleCrewsEventOrdering.test_two_crews_have_different_ids.yaml
  lib/crewai/tests/events/test_event_ordering.py
Due: ruff, ruff-format

chore: fix existing flaky test
  lib/crewai/tests/utilities/test_events.py
Due: ruff, ruff-format

Refine symptom triage example and fix input placeholder usage
  docs/en/examples/symptom-triage-crew.mdx
Due: none

adjusted test due to new cassette
  lib/crewai/tests/test_task_guardrails.py
Due: ruff, ruff-format

Deprecate openai_responses alias/prefix instead of hard error
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/llms/openai_responses/test_openai_responses.py
Due: ruff, ruff-format, mypy

ensure native tool calling works with liteagent
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/utilities/types.py
Due: ruff, ruff-format, mypy

ensure response model is respected
  lib/crewai/src/crewai/experimental/agent_executor.py
Due: ruff, ruff-format, mypy

fix: ensure context isolation
  lib/crewai/src/crewai/a2a/types.py
  lib/crewai/src/crewai/a2a/utils/delegation.py
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/src/crewai/events/__init__.py
  lib/crewai/src/crewai/events/base_events.py
  lib/crewai/src/crewai/events/event_bus.py
  lib/crewai/src/crewai/events/event_context.py
  lib/crewai/src/crewai/events/event_types.py
  lib/crewai/src/crewai/events/types/memory_events.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/)
