Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

fix(otel): report effective max_tokens cap + bedrock structured finish_reason
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/src/crewai/llms/providers/gemini/completion.py
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/events/test_llm_finish_reason_response_id.py
  lib/crewai/tests/llms/google/test_google.py
Due: ruff, ruff-format, mypy

feat: add conversation message and route selection events
  lib/crewai/src/crewai/events/__init__.py
  lib/crewai/src/crewai/events/event_types.py
  lib/crewai/src/crewai/events/listeners/tracing/trace_listener.py
  lib/crewai/src/crewai/events/types/flow_events.py
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/tests/test_flow_conversation.py
Due: ruff, ruff-format, mypy

Add conversational Flow chat helper
  docs/en/guides/flows/conversational-flows.mdx
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/src/crewai/flow/runtime.py
  lib/crewai/tests/test_flow_conversation.py
Due: ruff, ruff-format, mypy

Document conversational flow chat APIs in translations
  docs/ar/guides/flows/conversational-flows.mdx
  docs/ko/guides/flows/conversational-flows.mdx
  docs/pt-BR/guides/flows/conversational-flows.mdx
Due: none

test(agents): contract tests for _parse_native_tool_call shapes
  lib/crewai/tests/agents/test_parse_native_tool_call.py
Due: ruff, ruff-format

Delete test_governance_decision_contract.py
  test_governance_decision_contract.py
Due: ruff, ruff-format, mypy

Add contract tests for GovernanceDecision and Outcome
  lib/crewai/tests/test_governance_decision_contract.py
Due: ruff, ruff-format

Delete governance_decision.py
  governance_decision.py
Due: ruff, ruff-format, mypy

Implement GovernanceDecision and GovernanceOutcome types
  lib/crewai/src/crewai/governance/governance_decision.py
Due: ruff, ruff-format, mypy

Import GovernanceDecision and GovernanceOutcome
  lib/crewai/src/crewai/governance/__init__.py
Due: ruff, ruff-format, mypy

Add test for error outcome fields in governance decision
  lib/crewai/tests/test_governance_decision_contract.py
Due: ruff, ruff-format

fix(flow): lock nested pydantic models in StateProxy
  lib/crewai/src/crewai/flow/runtime.py
  lib/crewai/tests/test_flow.py
Due: ruff, ruff-format, mypy

Upgrade Firecrawl tools to firecrawl-py v2 SDK (v4)
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/tools/firecrawl_crawl_website_tool/firecrawl_crawl_website_tool.py
  lib/crewai-tools/src/crewai_tools/tools/firecrawl_scrape_website_tool/firecrawl_scrape_website_tool.py
  lib/crewai-tools/src/crewai_tools/tools/firecrawl_search_tool/firecrawl_search_tool.py
Due: ruff, ruff-format, mypy

docs: refresh Firecrawl tool docs for the v2 config API
  docs/en/tools/web-scraping/firecrawlscrapewebsitetool.mdx
Due: none

docs: refresh Firecrawl tool docs for the v2 config API
  docs/en/tools/web-scraping/firecrawlcrawlwebsitetool.mdx
Due: none

docs: refresh Firecrawl tool docs for the v2 config API
  docs/en/tools/web-scraping/firecrawlsearchtool.mdx
Due: none

docs: add NVIDIA Nemotron LLM guide
  docs/en/concepts/llms.mdx
Due: none

docs: add NVIDIA Nemotron LLM guide (#6037)
  docs/en/concepts/llms.mdx
Due: none

fix(tools): re-validate redirects and pin peer IP to close SSRF bypass
  lib/crewai-tools/src/crewai_tools/security/safe_requests.py
  lib/crewai-tools/src/crewai_tools/tools/scrape_element_from_website/scrape_element_from_website.py
  lib/crewai-tools/src/crewai_tools/tools/scrape_website_tool/scrape_website_tool.py
  lib/crewai-tools/tests/utilities/test_safe_requests.py
Due: ruff, ruff-format, mypy

Revalidate templated task output paths
  lib/crewai/src/crewai/task.py
  lib/crewai/tests/test_task.py
Due: ruff, ruff-format, mypy

Handle repeated leading slashes in output paths
  lib/crewai/src/crewai/task.py
  lib/crewai/tests/test_task.py
Due: ruff, ruff-format, mypy

Add Firecrawl Interact tool (agentic browser) to the bundle
  docs/en/tools/web-scraping/firecrawlinteracttool.mdx
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/firecrawl_interact_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/firecrawl_interact_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/firecrawl_interact_tool/firecrawl_interact_tool.py
Due: ruff, ruff-format, mypy

Split flow DSL monolith into focused decorator modules
  lib/crewai/src/crewai/flow/__init__.py
  lib/crewai/src/crewai/flow/dsl/__init__.py
  lib/crewai/src/crewai/flow/dsl/_conditions.py
  lib/crewai/src/crewai/flow/dsl/_human_feedback.py
  lib/crewai/src/crewai/flow/dsl/_listen.py
  lib/crewai/src/crewai/flow/dsl/_router.py
  lib/crewai/src/crewai/flow/dsl/_start.py
  lib/crewai/src/crewai/flow/dsl/_utils.py
  lib/crewai/src/crewai/flow/human_feedback.py
  lib/crewai/src/crewai/flow/runtime.py
  lib/crewai/tests/test_flow_definition.py
Due: ruff, ruff-format, mypy

ensure flow started events only emiited once
  lib/crewai/src/crewai/flow/runtime.py
  lib/crewai/tests/test_flow_conversation.py
Due: ruff, ruff-format, mypy

style(lock_store): apply ruff format
  lib/crewai-core/src/crewai_core/lock_store.py
Due: ruff, ruff-format, mypy

feat(lock_store): make locking backend overridable
  lib/crewai-core/src/crewai_core/lock_store.py
  lib/crewai/tests/utilities/test_lock_store.py
Due: ruff, ruff-format, mypy

refactor(lock_store): use explicit body for LockBackend protocol method
  lib/crewai-core/src/crewai_core/lock_store.py
Due: ruff, ruff-format, mypy

refactor(lock_store): simplify overridable backend to a single setter
  lib/crewai-core/src/crewai_core/lock_store.py
  lib/crewai/tests/utilities/test_lock_store.py
Due: ruff, ruff-format, mypy

refactor(lock_store): drop reset_lock_backend alias
  lib/crewai-core/src/crewai_core/lock_store.py
  lib/crewai/tests/utilities/test_lock_store.py
Due: ruff, ruff-format, mypy

refactor(lock_store): drop scoped lock_backend context manager
  lib/crewai-core/src/crewai_core/lock_store.py
  lib/crewai/tests/utilities/test_lock_store.py
Due: ruff, ruff-format, mypy

fix: force aiohttp>=3.14.0 for GHSA-jg22-mg44-37j8, GHSA-hg6j-4rv6-33pg
  pyproject.toml
  uv.lock
Due: none

fix(lock_store): snapshot backend to avoid check-then-call race
  lib/crewai-core/src/crewai_core/lock_store.py
Due: ruff, ruff-format, mypy

docs(lock_store): clarify name handling for custom backends
  lib/crewai-core/src/crewai_core/lock_store.py
Due: ruff, ruff-format, mypy

Split flow DSL monolith into focused decorator modules (#6040)
  lib/crewai/src/crewai/flow/__init__.py
  lib/crewai/src/crewai/flow/dsl/__init__.py
  lib/crewai/src/crewai/flow/dsl/_conditions.py
  lib/crewai/src/crewai/flow/dsl/_human_feedback.py
  lib/crewai/src/crewai/flow/dsl/_listen.py
  lib/crewai/src/crewai/flow/dsl/_router.py
  lib/crewai/src/crewai/flow/dsl/_start.py
  lib/crewai/src/crewai/flow/dsl/_utils.py
  lib/crewai/src/crewai/flow/human_feedback.py
  lib/crewai/src/crewai/flow/runtime.py
  lib/crewai/tests/test_flow_definition.py
Due: ruff, ruff-format, mypy

docs(lock_store): note set_lock_backend is for one-time startup setup
  lib/crewai-core/src/crewai_core/lock_store.py
Due: ruff, ruff-format, mypy

feat(lock_store): make locking backend overridable (#6015)
  lib/crewai-core/src/crewai_core/lock_store.py
  lib/crewai/tests/utilities/test_lock_store.py
Due: ruff, ruff-format, mypy

Stringify conversational chat REPL output
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/tests/test_flow_conversation.py
Due: ruff, ruff-format, mypy

chat api for convo flows (#6034)
  docs/ar/guides/flows/conversational-flows.mdx
  docs/en/guides/flows/conversational-flows.mdx
  docs/ko/guides/flows/conversational-flows.mdx
  docs/pt-BR/guides/flows/conversational-flows.mdx
  lib/crewai/src/crewai/experimental/conversational_mixin.py
  lib/crewai/src/crewai/flow/runtime.py
  lib/crewai/tests/test_flow_conversation.py
Due: ruff, ruff-format, mypy

Add memory_guard parameter to Crew for validating memory writes
  src/crewai/crew.py
  src/crewai/memory/long_term/long_term_memory.py
  src/crewai/memory/memory.py
  tests/memory/test_memory_guard.py
Due: ruff, ruff-format, mypy

feat(flow): type DSL triggers as route-aware decorators
  docs/en/guides/concepts/evaluating-use-cases.mdx
  lib/crewai/src/crewai/flow/dsl/_conditions.py
  lib/crewai/src/crewai/flow/dsl/_listen.py
  lib/crewai/src/crewai/flow/dsl/_router.py
  lib/crewai/src/crewai/flow/dsl/_start.py
  lib/crewai/src/crewai/flow/dsl/_types.py
  lib/crewai/src/crewai/flow/dsl/_utils.py
  lib/crewai/src/crewai/flow/flow_wrappers.py
  lib/crewai/src/crewai/flow/runtime.py
  lib/crewai/src/crewai/flow/types.py
  lib/crewai/src/crewai/memory/recall_flow.py
  lib/crewai/tests/test_flow_definition.py
Due: ruff, ruff-format, mypy
