Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

feat: track interception-hook dispatches in telemetry
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/src/crewai/telemetry/telemetry.py
  lib/crewai/tests/telemetry/test_telemetry.py
Due: ruff, ruff-format, mypy

test: harden tool-call streaming emit mock against instance shadowing
  lib/crewai/tests/llms/test_tool_call_streaming.py
Due: ruff, ruff-format

refactor(llm): remove dead provider helpers
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/llms/providers/bedrock/completion.py
  lib/crewai/tests/llms/anthropic/test_anthropic.py
Due: ruff, ruff-format, mypy

chore(ci): group uv patch/minor Dependabot updates
  .github/dependabot.yml
Due: none

feat: track interception-hook dispatches in telemetry (#6805)
  lib/crewai/src/crewai/events/event_listener.py
  lib/crewai/src/crewai/telemetry/telemetry.py
  lib/crewai/tests/telemetry/test_telemetry.py
Due: ruff, ruff-format, mypy

docs(rag): add xpu to embedding device options
  docs/edge/ar/tools/ai-ml/ragtool.mdx
  docs/edge/en/tools/ai-ml/ragtool.mdx
  lib/crewai/src/crewai/rag/embeddings/providers/instructor/instructor_provider.py
  lib/crewai/src/crewai/rag/embeddings/providers/sentence_transformer/sentence_transformer_provider.py
  lib/crewai/tests/rag/embeddings/test_backward_compatibility.py
Due: ruff, ruff-format, mypy

chore(ci): group uv patch/minor Dependabot updates (#6807)
  .github/dependabot.yml
Due: none

docs: define issue-first contribution workflow
  .github/CONTRIBUTING.md
  .github/ISSUE_GATE.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/scripts/issue-gate.mjs
  .github/scripts/issue-gate.test.mjs
  .github/workflows/issue-gate-tests.yml
  .github/workflows/issue-gate.yml
Due: none

fix(tasks): rename json property to json_output to avoid BaseModel method conflict
  lib/crewai/src/crewai/crews/crew_output.py
  lib/crewai/src/crewai/tasks/task_output.py
  lib/crewai/tests/test_task.py
Due: ruff, ruff-format, mypy

address copilot review
  lib/crewai/tests/rag/embeddings/test_backward_compatibility.py
Due: ruff, ruff-format

fix(agents): exclude sanitized cache-read tool name from tool cache
  lib/crewai/src/crewai/agents/tools_handler.py
  lib/crewai/tests/tools/test_tool_usage.py
Due: ruff, ruff-format, mypy

fix: clear CodeQL incomplete URL substring sanitization alerts (#6804)
  lib/crewai-tools/src/crewai_tools/rag/data_types.py
  lib/crewai-tools/tests/rag/test_data_types.py
  lib/crewai-tools/tests/tools/stagehand_tool_test.py
  lib/crewai/tests/llms/test_tool_call_streaming.py
Due: ruff, ruff-format, mypy

Include all lib packages in CodeQL analysis paths
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Due: none

feat: bump versions to 1.15.11
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.15.11 (#6816)
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

ci: skip python heavy CI on Actions-only PRs
  .github/workflows/linter.yml
  .github/workflows/tests.yml
  .github/workflows/type-checker.yml
  .github/workflows/vulnerability-scan.yml
Due: none

docs: add noveum trace observability integration
  docs/docs.json
  docs/edge/en/observability/noveum-trace.mdx
  docs/edge/en/observability/overview.mdx
Due: none

feat(cli): add canonical `crewai create tool` command
  lib/cli/src/crewai_cli/cli.py
  lib/cli/src/crewai_cli/utils.py
  lib/cli/tests/test_create_unified.py
Due: ruff, ruff-format, mypy

feat(cli): add canonical `crewai create skill` command
  lib/cli/src/crewai_cli/cli.py
  lib/cli/tests/test_create_unified.py
Due: ruff, ruff-format, mypy

feat: add CCS security integration for crewAI
  examples/ccs-security/ccs_guard.py
Due: ruff, ruff-format, mypy

feat: add CCS security integration for crewAI
  examples/ccs-security/README.md
Due: none

feat(cli): add canonical `crewai create template` command
  lib/cli/src/crewai_cli/cli.py
  lib/cli/tests/test_create_unified.py
Due: ruff, ruff-format, mypy

docs: document unified `crewai create` scaffolding commands
  docs/edge/en/concepts/cli.mdx
  docs/edge/en/concepts/skills.mdx
  docs/edge/en/guides/coding-tools/agents-md.mdx
Due: none

feat(cli): extend create picker and DMN guidance for all types
  lib/cli/src/crewai_cli/cli.py
  lib/cli/tests/test_cli.py
  lib/cli/tests/test_create_unified.py
Due: ruff, ruff-format, mypy

ci: skip python heavy CI on Actions-only PRs (#6818)
  .github/workflows/linter.yml
  .github/workflows/tests.yml
  .github/workflows/type-checker.yml
  .github/workflows/vulnerability-scan.yml
Due: none

fix(cli): allow create tool/skill/template in CREWAI_DMN mode
  lib/cli/src/crewai_cli/cli.py
  lib/cli/tests/test_create_unified.py
Due: ruff, ruff-format, mypy

ci: report required test check names on non-code PRs
  .github/workflows/tests.yml
  .github/workflows/type-checker.yml
Due: none

test(cli): patch TemplateCommand at cli lookup site in DMN test
  lib/cli/tests/test_create_unified.py
Due: ruff, ruff-format, mypy

Include all lib packages in CodeQL analysis paths (#6815)
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Due: none

fix: default empty Responses tool-call arguments to {}
  lib/crewai/src/crewai/llms/providers/openai/completion.py
  lib/crewai/tests/llms/openai/test_openai.py
Due: ruff, ruff-format, mypy

fix(llm): infer native provider from name patterns for unprefixed models
  lib/crewai/src/crewai/llm.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

docs(usage): explain Anthropic token totals
  docs/edge/en/concepts/crews.mdx
Due: none

fix: harden interpolated output_file path validation
  lib/crewai/src/crewai/task.py
  lib/crewai/tests/test_task.py
Due: ruff, ruff-format, mypy

fix: make Azure Responses OpenAICompletion mock reliable under xdist
  lib/crewai/src/crewai/llms/providers/azure/completion.py
  lib/crewai/tests/llms/azure/test_azure_responses.py
Due: ruff, ruff-format, mypy

fix: patch event-bus singleton in LLM emit unit tests
  lib/crewai/tests/events/test_llm_usage_event.py
  lib/crewai/tests/test_llm_streaming_finish_reason.py
Due: ruff, ruff-format

fix(flow): clarify route/handler name collision validation errors
  lib/crewai/src/crewai/flow/dsl/_utils.py
  lib/crewai/src/crewai/flow/flow_definition.py
  lib/crewai/tests/test_flow.py
  lib/crewai/tests/test_flow_definition.py
Due: ruff, ruff-format, mypy

docs(flow): explain conversational handler naming vs route labels
  docs/edge/en/guides/flows/conversational-flows.mdx
Due: none

ci: report required test check names on non-code PRs (#6822)
  .github/workflows/tests.yml
  .github/workflows/type-checker.yml
Due: none
