Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
      - id: mypy
        name: mypy
        entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
        language: system
        pass_filenames: true
        types: [python]
        exclude: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.3
    hooks:
      - id: uv-lock
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages: [ pre-push ]

updated both code examples to use the correct import path and public run() method.
  lib/crewai-tools/src/crewai_tools/tools/db2_search_tool/README.md
Due: none

fix(cli): unify `crewai run` flow input resolution; prompt from state schema
  lib/cli/src/crewai_cli/cli.py
  lib/cli/src/crewai_cli/run_crew.py
  lib/cli/src/crewai_cli/run_declarative_flow.py
  lib/cli/tests/test_cli.py
  lib/cli/tests/test_run_crew.py
  lib/cli/tests/test_run_declarative_flow.py
Due: ruff, ruff-format, mypy

fix test
  lib/crewai/tests/agents/test_agent_executor.py
Due: ruff, ruff-format

revert
  lib/crewai/tests/agents/test_agent_executor.py
Due: ruff, ruff-format

mypy fix
  lib/crewai/src/crewai/experimental/agent_executor.py
Due: ruff, ruff-format, mypy

Added client name header (#6413)
  lib/crewai-tools/src/crewai_tools/tools/tavily_extractor_tool/tavily_extractor_tool.py
  lib/crewai-tools/src/crewai_tools/tools/tavily_get_research_tool/tavily_get_research_tool.py
  lib/crewai-tools/src/crewai_tools/tools/tavily_research_tool/tavily_research_tool.py
  lib/crewai-tools/src/crewai_tools/tools/tavily_search_tool/tavily_search_tool.py
Due: ruff, ruff-format, mypy

handled reset iterations
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/tests/agents/test_agent_executor.py
Due: ruff, ruff-format, mypy

Implement message setup and feedback handling in AgentExecutor (#6465)
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/tests/agents/test_agent.py
  lib/crewai/tests/agents/test_agent_executor.py
  lib/crewai/tests/test_crew.py
  lib/crewai/tests/test_flow_human_input_integration.py
Due: ruff, ruff-format, mypy

feat(cli): pull latest LLM models dynamically in the crew wizard (#6462)
  lib/cli/src/crewai_cli/create_json_crew.py
  lib/cli/src/crewai_cli/model_catalog.py
  lib/cli/tests/test_model_catalog.py
Due: ruff, ruff-format, mypy

fix(cli): forward reserved `id` input to flow kickoff; ruff format
  lib/cli/src/crewai_cli/run_declarative_flow.py
  lib/cli/tests/test_run_declarative_flow.py
Due: ruff, ruff-format, mypy

ensure we are writing version for flows
  lib/crewai-core/src/crewai_core/telemetry.py
  lib/crewai-core/tests/test_smoke.py
  lib/crewai/src/crewai/telemetry/telemetry.py
  lib/crewai/tests/telemetry/test_telemetry.py
Due: ruff, ruff-format, mypy

fix(cli): don't block persistence-restore resume on schema validation
  lib/cli/src/crewai_cli/run_declarative_flow.py
  lib/cli/tests/test_run_declarative_flow.py
Due: ruff, ruff-format, mypy

ensure we are writing version for flows (#6467)
  lib/crewai-core/src/crewai_core/telemetry.py
  lib/crewai-core/tests/test_smoke.py
  lib/crewai/src/crewai/telemetry/telemetry.py
  lib/crewai/tests/telemetry/test_telemetry.py
Due: ruff, ruff-format, mypy

fix(cli): load project .env in the declarative-flow runner
  lib/cli/src/crewai_cli/run_declarative_flow.py
  lib/cli/tests/test_run_declarative_flow.py
Due: ruff, ruff-format, mypy

fix(cli): key model-catalog cache by exact API key, shorten TTL, skip Ollama
  lib/cli/src/crewai_cli/model_catalog.py
  lib/cli/tests/test_model_catalog.py
Due: ruff, ruff-format, mypy

Docs: clarify community tool sharing
  docs/edge/en/guides/tools/publish-custom-tools.mdx
Due: none

fix(agent): warn when non-empty apps resolve to zero platform tools
  lib/crewai/src/crewai/agent/core.py
  lib/crewai/tests/agents/test_agent.py
Due: ruff, ruff-format, mypy

fix(platform-tools): stop silently disabling TLS verification via CREWAI_FACTORY
  lib/crewai-tools/src/crewai_tools/tools/crewai_platform_tools/crewai_platform_action_tool.py
  lib/crewai-tools/src/crewai_tools/tools/crewai_platform_tools/crewai_platform_tool_builder.py
  lib/crewai-tools/src/crewai_tools/tools/crewai_platform_tools/misc.py
  lib/crewai-tools/tests/tools/crewai_platform_tools/test_platform_tls_verify.py
Due: ruff, ruff-format, mypy

feat(tools): improve DB2VectorSearchTool validation, security, and configurability
  lib/crewai-tools/src/crewai_tools/tools/db2_search_tool/db2_search_tool.py
Due: ruff, ruff-format, mypy

feat(crewai-tools): add db2 search tool
  lib/crewai-tools/src/crewai_tools/tools/db2_search_tool/README.md
  lib/crewai-tools/src/crewai_tools/tools/db2_search_tool/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/db2_search_tool/db2_search_tool.py
Due: ruff, ruff-format, mypy

refactor(crewai-tools): improve db2 search tool implementation
  lib/crewai-tools/src/crewai_tools/tools/db2_search_tool/db2_search_tool.py
Due: ruff, ruff-format, mypy

docs: add DB2SearchTool documentation
  docs/v1.13.0/en/tools/database-data/db2searchtool.mdx
Due: none

docs: update DB2SearchTool documentation
  docs/v1.13.0/en/tools/database-data/db2searchtool.mdx
Due: none

feat: add DB2 search tool
  lib/crewai-tools/src/crewai_tools/tools/__init__.py
  lib/crewai-tools/src/crewai_tools/tools/db2_search_tool/db2_search_tool.py
Due: ruff, ruff-format, mypy

feat: fortify DB2 tool; fixed JSON response shape, added input guards and config validation
  lib/crewai-tools/src/crewai_tools/tools/db2_search_tool/db2_search_tool.py
Due: ruff, ruff-format, mypy

fix: validate non-empty filter_by in DB2ToolSchema
  lib/crewai-tools/src/crewai_tools/tools/db2_search_tool/db2_search_tool.py
Due: ruff, ruff-format, mypy

fix: address CodeRabbit review feedback
  lib/crewai-tools/src/crewai_tools/tools/db2_search_tool/db2_search_tool.py
Due: ruff, ruff-format, mypy

chore: trigger CodeRabbit re-review
  lib/crewai-tools/src/crewai_tools/tools/db2_search_tool/db2_search_tool.py
Due: ruff, ruff-format, mypy

refactor(tools): extract _try_json_serialize helper to avoid duplication
  lib/crewai/src/crewai/tools/structured_tool.py
Due: ruff, ruff-format, mypy

docs: rename ACP rules to policies across edge and v1.15.1 locales with redirects
  docs/docs.json
  docs/edge/ar/enterprise/features/agent-control-plane/monitoring.mdx
  docs/edge/ar/enterprise/features/agent-control-plane/overview.mdx
  docs/edge/ar/enterprise/features/agent-control-plane/policies.mdx
  docs/edge/ar/enterprise/features/agent-control-plane/rules.mdx
  docs/edge/en/enterprise/features/agent-control-plane/monitoring.mdx
  docs/edge/en/enterprise/features/agent-control-plane/overview.mdx
  docs/edge/en/enterprise/features/agent-control-plane/policies.mdx
  docs/edge/en/enterprise/features/agent-control-plane/rules.mdx
  docs/edge/ko/enterprise/features/agent-control-plane/monitoring.mdx
  docs/edge/ko/enterprise/features/agent-control-plane/overview.mdx
  docs/edge/ko/enterprise/features/agent-control-plane/policies.mdx
  docs/edge/ko/enterprise/features/agent-control-plane/rules.mdx
  docs/edge/pt-BR/enterprise/features/agent-control-plane/monitoring.mdx
  docs/edge/pt-BR/enterprise/features/agent-control-plane/overview.mdx
  docs/edge/pt-BR/enterprise/features/agent-control-plane/policies.mdx
  docs/edge/pt-BR/enterprise/features/agent-control-plane/rules.mdx
  docs/v1.15.1/ar/enterprise/features/agent-control-plane/monitoring.mdx
  docs/v1.15.1/ar/enterprise/features/agent-control-plane/overview.mdx
  docs/v1.15.1/ar/enterprise/features/agent-control-plane/policies.mdx
  docs/v1.15.1/ar/enterprise/features/agent-control-plane/rules.mdx
  docs/v1.15.1/en/enterprise/features/agent-control-plane/monitoring.mdx
  docs/v1.15.1/en/enterprise/features/agent-control-plane/overview.mdx
  docs/v1.15.1/en/enterprise/features/agent-control-plane/policies.mdx
  docs/v1.15.1/en/enterprise/features/agent-control-plane/rules.mdx
  docs/v1.15.1/ko/enterprise/features/agent-control-plane/monitoring.mdx
  docs/v1.15.1/ko/enterprise/features/agent-control-plane/overview.mdx
  docs/v1.15.1/ko/enterprise/features/agent-control-plane/policies.mdx
  docs/v1.15.1/ko/enterprise/features/agent-control-plane/rules.mdx
  docs/v1.15.1/pt-BR/enterprise/features/agent-control-plane/monitoring.mdx
  docs/v1.15.1/pt-BR/enterprise/features/agent-control-plane/overview.mdx
  docs/v1.15.1/pt-BR/enterprise/features/agent-control-plane/policies.mdx
  docs/v1.15.1/pt-BR/enterprise/features/agent-control-plane/rules.mdx
Due: none

docs: point ACP policies pages at the new policy screenshots
  docs/edge/ar/enterprise/features/agent-control-plane/policies.mdx
  docs/edge/en/enterprise/features/agent-control-plane/policies.mdx
  docs/edge/ko/enterprise/features/agent-control-plane/policies.mdx
  docs/edge/pt-BR/enterprise/features/agent-control-plane/policies.mdx
  docs/images/enterprise/acp-automations-table.png
  docs/images/enterprise/acp-consumption-table.png
  docs/images/enterprise/acp-policies-edit-cost-limit.png
  docs/images/enterprise/acp-policies-engaged-modal.png
  docs/images/enterprise/acp-policies-list.png
  docs/images/enterprise/acp-policies-new-side-panel.png
  docs/v1.15.1/ar/enterprise/features/agent-control-plane/policies.mdx
  docs/v1.15.1/en/enterprise/features/agent-control-plane/policies.mdx
  docs/v1.15.1/ko/enterprise/features/agent-control-plane/policies.mdx
  docs/v1.15.1/pt-BR/enterprise/features/agent-control-plane/policies.mdx
Due: none

fix: upgrade onnx to 1.22.0 and ignore unfixed nltk advisory in pip-audit
  .github/workflows/vulnerability-scan.yml
  uv.lock
Due: none

docs: add DProvenanceKit to observability integrations
  docs/docs.json
  docs/edge/en/observability/dprovenancekit.mdx
  docs/edge/en/observability/overview.mdx
Due: none

fix: sync pip-audit ignore list in pre-commit config with the workflow
  .pre-commit-config.yaml
Due: none

docs: address review — revert frozen v1.15.1 edits and fix redirect ordering
  docs/docs.json
  docs/v1.15.1/ar/enterprise/features/agent-control-plane/monitoring.mdx
  docs/v1.15.1/ar/enterprise/features/agent-control-plane/overview.mdx
  docs/v1.15.1/ar/enterprise/features/agent-control-plane/policies.mdx
  docs/v1.15.1/ar/enterprise/features/agent-control-plane/rules.mdx
  docs/v1.15.1/en/enterprise/features/agent-control-plane/monitoring.mdx
  docs/v1.15.1/en/enterprise/features/agent-control-plane/overview.mdx
  docs/v1.15.1/en/enterprise/features/agent-control-plane/policies.mdx
  docs/v1.15.1/en/enterprise/features/agent-control-plane/rules.mdx
  docs/v1.15.1/ko/enterprise/features/agent-control-plane/monitoring.mdx
  docs/v1.15.1/ko/enterprise/features/agent-control-plane/overview.mdx
  docs/v1.15.1/ko/enterprise/features/agent-control-plane/policies.mdx
  docs/v1.15.1/ko/enterprise/features/agent-control-plane/rules.mdx
  docs/v1.15.1/pt-BR/enterprise/features/agent-control-plane/monitoring.mdx
  docs/v1.15.1/pt-BR/enterprise/features/agent-control-plane/overview.mdx
  docs/v1.15.1/pt-BR/enterprise/features/agent-control-plane/policies.mdx
  docs/v1.15.1/pt-BR/enterprise/features/agent-control-plane/rules.mdx
Due: none

fix: resolve pip-audit failures (onnx 1.22.0, nltk PYSEC-2026-597) (#6472)
  .github/workflows/vulnerability-scan.yml
  .pre-commit-config.yaml
  uv.lock
Due: none

fix: add config parameter to BaseTool _run and _arun to resolve LangChain conflict
  lib/crewai/src/crewai/tools/base_tool.py
Due: ruff, ruff-format, mypy

docs: prefix edge policies cross-links so they resolve until the next version cut
  docs/edge/ar/enterprise/features/agent-control-plane/monitoring.mdx
  docs/edge/ar/enterprise/features/agent-control-plane/overview.mdx
  docs/edge/en/enterprise/features/agent-control-plane/monitoring.mdx
  docs/edge/en/enterprise/features/agent-control-plane/overview.mdx
  docs/edge/ko/enterprise/features/agent-control-plane/monitoring.mdx
  docs/edge/ko/enterprise/features/agent-control-plane/overview.mdx
  docs/edge/pt-BR/enterprise/features/agent-control-plane/monitoring.mdx
  docs/edge/pt-BR/enterprise/features/agent-control-plane/overview.mdx
Due: none

docs: move policies redirects above all wildcard redirects
  docs/docs.json
Due: none

docs: update language from Rules to Policies to match the new dashboard changes (#6471)
  docs/docs.json
  docs/edge/ar/enterprise/features/agent-control-plane/monitoring.mdx
  docs/edge/ar/enterprise/features/agent-control-plane/overview.mdx
  docs/edge/ar/enterprise/features/agent-control-plane/policies.mdx
  docs/edge/ar/enterprise/features/agent-control-plane/rules.mdx
  docs/edge/en/enterprise/features/agent-control-plane/monitoring.mdx
  docs/edge/en/enterprise/features/agent-control-plane/overview.mdx
  docs/edge/en/enterprise/features/agent-control-plane/policies.mdx
  docs/edge/en/enterprise/features/agent-control-plane/rules.mdx
  docs/edge/ko/enterprise/features/agent-control-plane/monitoring.mdx
  docs/edge/ko/enterprise/features/agent-control-plane/overview.mdx
  docs/edge/ko/enterprise/features/agent-control-plane/policies.mdx
  docs/edge/ko/enterprise/features/agent-control-plane/rules.mdx
  docs/edge/pt-BR/enterprise/features/agent-control-plane/monitoring.mdx
  docs/edge/pt-BR/enterprise/features/agent-control-plane/overview.mdx
  docs/edge/pt-BR/enterprise/features/agent-control-plane/policies.mdx
  docs/edge/pt-BR/enterprise/features/agent-control-plane/rules.mdx
  docs/images/enterprise/acp-automations-table.png
  docs/images/enterprise/acp-consumption-table.png
  docs/images/enterprise/acp-policies-edit-cost-limit.png
  docs/images/enterprise/acp-policies-engaged-modal.png
  docs/images/enterprise/acp-policies-list.png
  docs/images/enterprise/acp-policies-new-side-panel.png
Due: none
