Repository crewAIInc/crewAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

ruff:
  name: ruff
  entry: bash -c 'source .venv/bin/activate && uv run ruff check --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: bash -c 'source .venv/bin/activate && uv run ruff format --config pyproject.toml "$@"' --
  language: system
  pass_filenames: true

mypy:
  name: mypy
  entry: bash -c 'source .venv/bin/activate && uv run mypy --config-file pyproject.toml "$@"' --
  language: system
  pass_filenames: true

fix(mcp): do not call asyncio.run on an already-running event loop
  lib/crewai/src/crewai/mcp/tool_resolver.py
  lib/crewai/tests/mcp/test_tool_resolver_native.py
Due: ruff, ruff-format, mypy

nit
  docs/edge/en/concepts/agents.mdx
Due: none

fix(mcp): keep discovery cleanup off the caller event loop
  lib/crewai/src/crewai/mcp/tool_resolver.py
  lib/crewai/tests/mcp/test_tool_resolver_native.py
Due: ruff, ruff-format, mypy

﻿test(mcp): exercise active-loop discovery with real worker thread
  lib/crewai/tests/mcp/test_tool_resolver_native.py
Due: ruff, ruff-format

fix: await async tools natively in _ainvoke_loop_native_tools
  lib/crewai/src/crewai/agents/crew_agent_executor.py
Due: ruff, ruff-format, mypy

docs: fix broken README links, TOC, and contribution guidance
  README.md
Due: none

fix(experimental): use async LLM calls in AgentExecutor
  lib/crewai/src/crewai/experimental/agent_executor.py
  lib/crewai/src/crewai/utilities/agent_utils.py
  lib/crewai/tests/agents/test_agent_executor.py
  lib/crewai/tests/agents/test_async_agent_executor.py
Due: ruff, ruff-format, mypy

test(experimental): cover async LLM execution across providers
  lib/crewai/tests/agents/test_agent.py
  lib/crewai/tests/agents/test_native_tool_calling.py
  lib/crewai/tests/llms/anthropic/test_anthropic.py
  lib/crewai/tests/llms/azure/conftest.py
  lib/crewai/tests/llms/azure/test_azure.py
  lib/crewai/tests/llms/azure/test_azure_async.py
  lib/crewai/tests/llms/bedrock/test_bedrock.py
  lib/crewai/tests/llms/google/test_google.py
  lib/crewai/tests/llms/openai/test_openai.py
  lib/crewai/tests/llms/openai/test_tools_reasoning_effort_retry.py
  lib/crewai/tests/telemetry/test_flow_crew_span_integration.py
  lib/crewai/tests/test_crew_multimodal.py
  lib/crewai/tests/test_tool_cache_default.py
  lib/crewai/tests/tools/test_tool_failure.py
Due: ruff, ruff-format

test: remove network-dependent fixtures
  lib/crewai-tools/tests/utilities/test_safe_path.py
  lib/crewai/tests/knowledge/test_knowledge.py
Due: ruff, ruff-format

fix(cli): defer crewai-core project imports
  lib/cli/src/crewai_cli/utils.py
Due: ruff, ruff-format, mypy

test(cli): align fixtures with current defaults
  lib/cli/tests/test_create_crew.py
  lib/cli/tests/test_run_crew.py
  lib/cli/tests/tools/test_main.py
Due: ruff, ruff-format, mypy

test(tracing): pin cassette service URL
  lib/crewai/tests/tracing/test_trace_enable_disable.py
Due: ruff, ruff-format

fix(files): avoid upload cache event loop deadlock
  lib/crewai-files/src/crewai_files/cache/upload_cache.py
  lib/crewai-files/tests/test_upload_cache.py
Due: ruff, ruff-format, mypy

test(events): patch the active event bus instance
  lib/crewai/tests/events/test_llm_usage_event.py
Due: ruff, ruff-format

docs: restore tiktoken troubleshooting wording in README
  README.md
Due: none

test(llms): require tools in async provider calls
  lib/crewai/tests/llms/azure/test_azure.py
  lib/crewai/tests/llms/google/test_google.py
Due: ruff, ruff-format

docs: fix broken README links, TOC, and contribution guidance (#6854)
  README.md
Due: none

docs: add DOCS_TRANSLATIONS workflow for locale sync (#6846)
  AGENTS.md
  DOCS_TRANSLATIONS.md
Due: none

fix(state): persist json checkpoints as utf-8
  lib/crewai/src/crewai/state/provider/json_provider.py
  lib/crewai/tests/test_checkpoint.py
Due: ruff, ruff-format, mypy

fix: bump h2 to 4.4.1 for GHSA-6hr6-w5qg-qmwg
  pyproject.toml
  uv.lock
Due: none

fix: bump h2 to 4.4.1 for GHSA-6hr6-w5qg-qmwg (#6860)
  pyproject.toml
  uv.lock
Due: none

Fix Anthropic cache token usage underreporting (#6844)
  docs/edge/ar/concepts/crews.mdx
  docs/edge/ar/concepts/flows.mdx
  docs/edge/ar/concepts/llms.mdx
  docs/edge/en/concepts/crews.mdx
  docs/edge/en/concepts/flows.mdx
  docs/edge/en/concepts/llms.mdx
  docs/edge/ko/concepts/crews.mdx
  docs/edge/ko/concepts/flows.mdx
  docs/edge/ko/concepts/llms.mdx
  docs/edge/pt-BR/concepts/crews.mdx
  docs/edge/pt-BR/concepts/flows.mdx
  docs/edge/pt-BR/concepts/llms.mdx
  lib/crewai/src/crewai/llms/providers/anthropic/completion.py
  lib/crewai/src/crewai/types/usage_metrics.py
  lib/crewai/tests/events/test_llm_usage_event.py
  lib/crewai/tests/llms/anthropic/test_anthropic.py
Due: ruff, ruff-format, mypy

fix: harden llm call-failed event test against VCR fallback
  lib/crewai/tests/cassettes/utilities/test_llm_emits_call_failed_event.yaml
  lib/crewai/tests/utilities/test_events.py
Due: ruff, ruff-format

fix: patch the event-bus singleton in usage event tests
  lib/crewai/tests/events/test_llm_usage_event.py
Due: ruff, ruff-format

fix: patch the event-bus singleton instance in emit mocks
  lib/crewai/tests/events/test_llm_finish_reason_response_id.py
  lib/crewai/tests/events/test_llm_usage_event.py
  lib/crewai/tests/llms/google/test_google.py
  lib/crewai/tests/llms/test_tool_call_streaming.py
  lib/crewai/tests/test_llm.py
  lib/crewai/tests/test_llm_streaming_finish_reason.py
Due: ruff, ruff-format

fix: harden brittle LLM event-bus mocks (#6861)
  lib/crewai/tests/cassettes/utilities/test_llm_emits_call_failed_event.yaml
  lib/crewai/tests/events/test_llm_finish_reason_response_id.py
  lib/crewai/tests/events/test_llm_usage_event.py
  lib/crewai/tests/llms/google/test_google.py
  lib/crewai/tests/llms/test_tool_call_streaming.py
  lib/crewai/tests/test_llm.py
  lib/crewai/tests/test_llm_streaming_finish_reason.py
  lib/crewai/tests/utilities/test_events.py
Due: ruff, ruff-format

fix(mcp): support mcp Python SDK 2.x
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/adapters/mcp_adapter.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/mcp/_compat.py
  lib/crewai/src/crewai/mcp/client.py
  lib/crewai/src/crewai/mcp/tool_resolver.py
  lib/crewai/src/crewai/mcp/transports/http.py
  lib/crewai/src/crewai/tools/mcp_tool_wrapper.py
  uv.lock
Due: ruff, ruff-format, mypy

fix: format LiteLLM multimodal content as OpenAI-shaped blocks
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/tests/llms/test_multimodal_integration.py
  lib/crewai/tests/test_llm.py
Due: ruff, ruff-format, mypy

Persist assistant reply after handle_turn fallback append.
  lib/crewai/src/crewai/experimental/conversational_mixin.py
Due: ruff, ruff-format, mypy

Add regression test for persisted return-only @listen replies.
  lib/crewai/tests/test_flow_conversation.py
Due: ruff, ruff-format

Delegate fallback persist to RuntimeFlow explicitly.
  lib/crewai/src/crewai/experimental/conversational_mixin.py
Due: ruff, ruff-format, mypy

fix: preserve provider on LiteLLM-routed models (#6849)
  lib/crewai/src/crewai/llm.py
  lib/crewai/src/crewai/llms/base_llm.py
  lib/crewai/src/crewai/utilities/internal_instructor.py
  lib/crewai/tests/llms/test_multimodal_integration.py
  lib/crewai/tests/test_llm.py
  lib/crewai/tests/utilities/test_converter.py
Due: ruff, ruff-format, mypy

rerun build checks due to GH issues
  docs/edge/en/tools/database-data/mongodbvectorsearchtool.mdx
Due: none

feat: bump versions to 1.15.13
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

feat: bump versions to 1.15.13 (#6865)
  lib/cli/pyproject.toml
  lib/cli/src/crewai_cli/__init__.py
  lib/crewai-core/src/crewai_core/__init__.py
  lib/crewai-files/src/crewai_files/__init__.py
  lib/crewai-tools/pyproject.toml
  lib/crewai-tools/src/crewai_tools/__init__.py
  lib/crewai/pyproject.toml
  lib/crewai/src/crewai/__init__.py
  lib/devtools/src/crewai_devtools/__init__.py
Due: ruff, ruff-format, mypy

feat(telemetry): split runtime context from coding agent, add project id
  lib/crewai/src/crewai/telemetry/telemetry.py
  lib/crewai/src/crewai/telemetry/utils.py
  lib/crewai/src/crewai/utilities/constants.py
  lib/crewai/tests/telemetry/test_coding_agent_detection.py
Due: ruff, ruff-format, mypy

docs: document execution environment telemetry attributes
  docs/edge/ar/telemetry.mdx
  docs/edge/en/telemetry.mdx
  docs/edge/ko/telemetry.mdx
  docs/edge/pt-BR/telemetry.mdx
Due: none

fix(telemetry): detect runtime markers by presence, split paas from serverless
  lib/crewai/src/crewai/telemetry/utils.py
  lib/crewai/src/crewai/utilities/constants.py
  lib/crewai/tests/telemetry/test_coding_agent_detection.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$, but not: ^(lib/crewai/src/crewai/cli/templates/|lib/crewai/tests/|lib/crewai-tools/tests/|lib/crewai-files/tests/)
